<template>
  <div class="animated fadeIn">
    <b-card>
      <h3>
        Data {{cat}} oleh
        <router-link
          exact
          :to="`/profil/${username_petugas}`"
          class="text-blue"
        >{{username_petugas}}</router-link>
      </h3>
    </b-card>
    <v-card>
      <v-data-table :items="datas" :headers="headers">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">1</td>
          <router-link
            tag="td"
            class="text-blue cursor-pointer"
            :to="`/modul/rumah-sehat/${props.item.id_objek}`"
            v-if="kategori == '1' || kategori == '2'"
          >{{props.item.nama_kk}}</router-link>
          <router-link
            v-else
            tag="td"
            class="text-blue cursor-pointer"
            :to="`/modul/rumah-sehat/${props.item.id_objek}`"
          >{{props.item.alamat}}</router-link>
          <td v-if="kategori == '1' || kategori == '2'">{{props.item.nmr_kk}}</td>

          <td>{{props.item.kelurahan}}</td>
          <td v-if="kategori == '3' || kategori == '4'">{{props.item.rt}}</td>
          <td v-if="kategori == '3' || kategori == '4'">{{props.item.rw}}</td>
          <td v-if="kategori == '3' || kategori == '4'">{{props.item.koordinat}}</td>
          <td class="text-center">
            <b-btn variant="danger">Hapus</b-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: true,
      cat: "",
      kategori: "",
      username_petugas: "",
      datas: [],
      headers: [],
      headers1: [
        { text: "No" },
        { text: "Nama KK", value: "nama_kk" },
        { text: "No KK", value: "nmr_kk" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Action", sortable: false }
      ],
      // headers2:[
      //   {text: "No"},
      //   {text:"Nama KK" , value:"nama_kk"},
      //   { text: "No KK", value: "nmr_kk" },
      //   { text: "Kelurahan", sortable:"kelurahan" },
      //   { text: "Action", sortable:false }
      // ],
      headers2: [
        { text: "No" },
        { text: "Alamat", value: "alamat" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "RT", sortable: "rt" },
        { text: "RW", sortable: "rw" },
        { text: "Koordinat", value: "koordinat" },
        { text: "Action", sortable: false }
      ]
    };
  },
  methods: {
    jenis(cat) {
      if (cat == 1) {
        this.cat = "Input diatas pukul 9 malam - 5 pagi";
        this.cat1();
      } else if (cat == 2) {
        this.cat = "Tidak ada SAB";
        this.cat2();
      } else if (cat == 3) {
        this.cat = "No/Nama KK kosong";
        this.cat3();
      } else if ((cat = 4)) {
        this.cat = "jumlah anggota keluarga dipertanyakan";
        this.cat4();
      }
    },
    setHeaders(categories) {
      if (categories == 1 || categories == 2) {
        return this.headers1;
      } else if (categories == 3 || categories == 4) {
        return this.headers2;
      }
    },
    initialize(category, petugas) {
      this.jenis(category);
      this.username_petugas = petugas;
    },
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getColor(x) {
      if (x == "input") return "blue";
      else if (x == "update") return "yellow";
      else return "red";
    },
    getTextColor(x) {
      if (x == "update") return "black";
      else return "white";
    },
    cat1() {
      this.headers = [
        { text: "No" },
        { text: "Nama KK", value: "nama_kk" },
        { text: "No KK", value: "nmr_kk" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Action", align: "center", sortable: false }
      ];
      this.datas = [
        {
          aktifitas: "update",
          waktu: "25123123",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          modul: "Tempat Ibadah",
          id_objek: 1374
        },
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          waktu: "25123123",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          modul: "Rumah Sehat",
          id_objek: 1291
        },
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          waktu: "25123123",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "SAB",
          id_objek: 103
        },
        {
          aktifitas: "input",
          waktu: "25123123",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          modul: "Rumah Sehat",
          id_objek: 921
        },
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "SAB",
          id_objek: 1987
        }
      ];
    },
    cat2() {
      this.headers = [
        { text: "No" },
        { text: "Nama KK", value: "nama_kk" },
        { text: "No KK", value: "nmr_kk" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Action", align: "center", sortable: false }
      ];
      this.datas = [
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "Tempat Ibadah",
          id_objek: 134
        },
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "Rumah Sehat",
          id_objek: 154
        },
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "SAB",
          id_objek: 1899
        },
        {
          aktifitas: "update",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "Rumah Sehat",
          id_objek: 651
        },
        {
          aktifitas: "input",
          nama_kk: "Suryadi",
          nmr_kk: "46137281312",
          kelurahan: "Beji",
          waktu: "25123123",
          modul: "SAB",
          id_objek: 6541
        }
      ];
    },
    cat3() {
      this.headers = [
        { text: "No" },
        { text: "Alamat", value: "alamat" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "RT", sortable: "rt" },
        { text: "RW", sortable: "rw" },
        { text: "Koordinat", value: "koordinat" },
        { text: "Action", align: "center", sortable: false }
      ];
      this.datas = [
        {
          aktifitas: "input",
          waktu: "25123123",
          modul: "Tempat Ibadah",
          alamat: "JLJL",
          kelurahan: "Beji",
          koordinat: "1211231231, -12213213",
          rt: "02",
          rw: "03",
          id_objek: 4651
        },
        {
          aktifitas: "update",
          waktu: "25123123",
          modul: "Rumah Sehat",
          alamat: "JLJL",
          kelurahan: "Beji",
          koordinat: "1211231231, -12213213",
          rt: "02",
          rw: "03",
          id_objek: 14
        },
        {
          aktifitas: "input",
          alamat: "JLJL",
          kelurahan: "Beji",
          rt: "02",
          rw: "03",
          koordinat: "1211231231, -12213213",
          waktu: "25123123",
          modul: "SAB",
          id_objek: 132
        },
        {
          aktifitas: "input",
          waktu: "25123123",
          modul: "Rumah Sehat",
          alamat: "JLJL",
          kelurahan: "Beji",
          rt: "02",
          rw: "03",
          koordinat: "1211231231, -12213213",
          id_objek: 1321
        },
        {
          aktifitas: "input",
          alamat: "JLJL",
          kelurahan: "Beji",
          rt: "02",
          rw: "03",
          waktu: "25123123",
          koordinat: "1211231231, -12213213",
          modul: "SAB",
          id_objek: 1123
        }
      ];
    },
    cat4() {
      this.headers = [
        { text: "No" },
        { text: "Alamat", value: "alamat" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "RT", sortable: "rt" },
        { text: "RW", sortable: "rw" },
        { text: "Koordinat", value: "koordinat" },
        { text: "Action", align: "center", sortable: false }
      ];
      this.datas = [
        {
          aktifitas: "input",
          waktu: "25123123",
          modul: "Tempat Ibadah",
          alamat: "JLJL",
          kelurahan: "Beji",
          rt: "02",
          koordinat: "1211231231, -12213213",
          rw: "03",
          id_objek: 411
        },
        {
          aktifitas: "update",
          waktu: "25123123",
          modul: "Rumah Sehat",
          alamat: "JLJL",
          kelurahan: "Beji",
          koordinat: "1211231231, -12213213",
          rt: "02",
          rw: "03",
          id_objek: 211
        },
        {
          aktifitas: "input",
          alamat: "JLJL",
          kelurahan: "Beji",
          rt: "02",
          rw: "03",
          koordinat: "1211231231, -12213213",
          waktu: "25123123",
          modul: "SAB",
          id_objek: 112
        },
        {
          aktifitas: "input",
          waktu: "25123123",
          modul: "Rumah Sehat",
          alamat: "JLJL",
          kelurahan: "Beji",
          koordinat: "1211231231, -12213213",
          rt: "02",
          rw: "03",
          id_objek: 1231
        },
        {
          aktifitas: "input",
          alamat: "JLJL",
          kelurahan: "Beji",
          rt: "02",
          rw: "03",
          waktu: "25123123",
          koordinat: "1211231231, -12213213",
          modul: "SAB",
          id_objek: 412
        }
      ];
    }
  },
  mounted() {
    this.initialize(this.$route.params.cat, this.$route.params.username);
    this.kategori = this.$route.params.cat;
  }
};
</script>