<template>
  <div class="animated fadeIn">
    <!-- <FilterKonten v-on:filterAction="onFilter($event)" v-if="!$route.meta.hideFilter" /> -->
    <b-row class="mb-4">
      <b-col cols="12">
        <b-card-group deck>
          <b-card no-body class="bg-success">
            <b-card-body class="pb-0">
              <b-row>
                <b-col cols="2">
                  <b-img :src="'/images/icon/peta.png'" class="img-icon" />
                </b-col>
                <b-col cols="10">
                  <h2 class="mb-0">
                    <b>200.3 km&sup2;</b>
                  </h2>
                  <p>Luas Wilayah Kota Depok</p>
                </b-col>
              </b-row>
              <!-- <footer>
                <router-link
                  class="btn btn-outline-light mb-2"
                  tag="button"
                  to="depokhealthycity/detail"
                >Lihat Detail</router-link>
              </footer>-->
            </b-card-body>
          </b-card>

          <b-card no-body class="bg-info">
            <b-card-body class="pb-0">
              <b-row>
                <b-col cols="2">
                  <b-img :src="'/images/jumlahjumlah/jumlahpenduduk-s.png'" class="img-icon" />
                </b-col>
                <b-col cols="10">
                  <h2 class="mb-0">
                    <b>{{ data.general.total_population }}</b>
                  </h2>
                  <p>Jumlah Penduduk Kota Depok</p>
                </b-col>
              </b-row>

              <footer>
                <router-link
                  class="mb-2 btn btn-outline-light"
                  tag="button"
                  to="modul/kartu-keluarga"
                >
                  Lihat Detail
                  <!-- <b-btn variant="outline-light" class="mb-2" @click="Maintenance()">Lihat Detail</b-btn> -->
                </router-link>
              </footer>
            </b-card-body>
          </b-card>

          <b-card no-body class="bg-primary">
            <b-card-body class="pb-0">
              <b-row>
                <b-col cols="2">
                  <b-img :src="'/images/icon2/sehat-s.png'" class="img-icon" />
                </b-col>
                <b-col cols="10">
                  <h2 class="mb-0">
                    <b>{{ data.general.healthy.total }}%</b>
                  </h2>
                  <p>Angka Kesehatan Lingkungan</p>
                </b-col>
              </b-row>
              <footer>
                <router-link
                  class="mb-2 btn btn-outline-light"
                  tag="button"
                  to="depokhealthycity/detail"
                >Lihat Detail</router-link>
              </footer>
            </b-card-body>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>

    <CardModuls :kategori="'rs'" :modulesDataComponentParse="dataModules.rs" v-if="opdHidePayload('rs')" />
    <CardModuls :kategori="'ttu'" :modulesDataComponentParse="dataModules.ttu" v-if="opdHidePayload('ttu')" />
    <CardModuls :kategori="'tpm'" :modulesDataComponentParse="dataModules.tpm" v-if="opdHidePayload('tpm')" />
    <CardModuls :kategori="'lainnya'" :modulesDataComponentParse="dataModules.lainnya" v-if="opdHidePayload('lainnya')" />

    <div class="mb-4">
      <b-card-group deck>
        <b-card no-body class="card-accent-success">
          <template slot="header">
            <b-img :src="'/images/icon/time.png'" class="img-ranking mr-1" />Histori
            <router-link
              class="float-right btn btn-success btn-sm text-white"
              to="/histori/semua"
              tag="button"
              v-if="$auth.check(1) || $auth.check(3) || $auth.check(4)"
            >Lihat Semua</router-link>
          </template>
          <b-card-body class="p-0 scrollable">
            <v-data-table
              :items-per-page="20"
              hide-headers
              hide-actions
              :loading="loadhistori"
              loading-text="Loading... Please wait"
              :headers="histori_header"
              :items="histories"
            >
              <template slot="items" slot-scope="props">
                <router-link
                  :to="`modul/${ubah(props.item.data)}/${props.item.objek_id}`"
                  class="cursor-pointer"
                  tag="tr"
                >
                  <!-- <td cols="1" class="p-3">
                    <b-img :src="'/images/icon/time.png'" class="img-indicator" center alt />
                  </td>-->

                  <td cols="4" class="text-left p-3">
                    <span v-if="props.item.aktifitas == 'delete'">{{ props.item.deleted_by }}</span>
                    <span v-if="props.item.aktifitas == 'input'">{{ props.item.nama }}</span>
                    <span v-else>{{ props.item.update_by }}</span>
                    <br />

                    <p
                      class="text-notif"
                      v-if="props.item.aktifitas == 'input'"
                    >{{ IndonesiaDateFormat(props.item.waktu_input) }}</p>
                    <p
                      class="text-notif"
                      v-else-if="props.item.aktifitas == 'delete'"
                    >{{ IndonesiaDateFormat(props.item.deleted_at.date) }}</p>
                    <p
                      class="text-notif"
                      v-else
                    >{{ IndonesiaDateFormat(props.item.updated_at.date) }}</p>
                  </td>

                  <td cols="8" class="text-center px-0">
                    <v-chip
                      disabled
                      :text-color="getTextColor(props.item.aktifitas)"
                      small
                      :color="getColor(props.item.aktifitas)"
                    >{{ changeStatusHistory(props.item.aktifitas) }}</v-chip>
                    <p class="text-notif">data {{ props.item.data }}</p>
                  </td>
                </router-link>
              </template>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-card-body>
        </b-card>
        <b-card no-body class="card-accent-warning">
          <template slot="header">
            <b-img :src="'/images/icon/reward.png'" class="img-ranking mr-1" />Ranking
            <router-link
              class="float-right btn btn-warning btn-sm text-white"
              to="/ranking"
              tag="button"
            >Lihat Semua</router-link>
          </template>
          <b-card-body class="p-0 scrollable">
            <v-data-table
              :items-per-page="20"
              hide-headers
              hide-actions
              :loading="loadrank"
              loading-text="Loading... Please wait"
              :headers="ranking_headers"
              :items="rangkings"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <router-link
                  class="cursor-pointer py-2"
                  exact
                  tag="tr"
                  :to="`/profil/${props.item.username}`"
                >
                  <td>
                    <!-- <img
                      :src="props.item.foto ? '/storage/images/profil/' + props.item.foto : '/images/icon/profileicon.png'"
                      class="td-avatar"
                      alt 
                    />-->
                    <div>
                      <div class="img-profil-container-header mx-auto">
                        <b-img
                          class="img-profil my-auto cursor-pointer"
                          fluid
                          :src="props.item.foto ? '/storage/images/profil/' + props.item.foto : '/images/icon/profileicon.png'"
                          center
                        />
                      </div>
                    </div>
                  </td>

                  <td class="text-center px-0">
                    <b-row>
                      <b-col cols="12">
                        <h5 class="text-value">
                          <b>
                            {{ props.item.total_input }}
                            kali
                          </b>
                        </h5>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col cols="12">melakukan pendataan</b-col>
                    </b-row>
                  </td>
                  <td>
                    <b-row class="mb-1">
                      <b-col cols="1">
                        <b-img :src="'/images/icon/reward.png'" class="img-ranking" />
                      </b-col>

                      <b-col
                        cols="9"
                      >Peringkat {{rangkings.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</b-col>
                    </b-row>

                    <b-row class="mb-1">
                      <b-col cols="1">
                        <b-img :src="'/images/icon/profileicon.png'" class="img-ranking" />
                      </b-col>

                      <b-col cols="9">{{ props.item.nama }}</b-col>
                    </b-row>

                    <b-row class="mb-1">
                      <b-col cols="1">
                        <b-img :src="'/images/icon/location.png'" class="img-ranking" />
                      </b-col>

                      <b-col cols="9">{{ props.item.kecamatan }}, {{ props.item.kelurahan }}</b-col>
                    </b-row>
                  </td>
                </router-link>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-card-body>
        </b-card>
      </b-card-group>
    </div>

    <b-card>
      <b-row>
        <b-col cols="1">
          <b-img src="/images/icon/nob.png" class="img-icon" />
        </b-col>
        <b-col cols="11">
          <h5 id="traffic" class="card-title mb-0">Angka Perpajakan</h5>
        </b-col>
      </b-row>

      <br />
      <b-row>
        <b-col cols="12">
          <b-card-group deck>
            <b-card no-body class="bg-primary">
              <b-card-body class="pb-0">
                <b-row>
                  <b-col cols="2">
                    <b-img :src="'/images/icon2/imbya-s.png'" class="img-icon" />
                  </b-col>
                  <b-col cols="10">
                    <h5 class="mb-0">{{ data.general.imb.ada }}</h5>
                    <p>Jumlah Objek yang memiliki IMB</p>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <b-card no-body class="bg-danger">
              <b-card-body class="pb-0">
                <b-row>
                  <b-col cols="2">
                    <b-img :src="'/images/icon2/imbtidak-s.png'" class="img-icon" />
                  </b-col>
                  <b-col cols="10">
                    <h5 class="mb-0">{{ data.general.imb.tidak_ada }}</h5>
                    <p>Jumlah Objek yang tidak memiliki IMB</p>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <b-card no-body class="bg-primary">
              <b-card-body class="pb-0">
                <b-row>
                  <b-col cols="2">
                    <b-img :src="'/images/icon2/total.png'" class="img-icon" />
                  </b-col>
                  <b-col cols="10">
                    <h5 class="mb-0">{{ data.general.bayar_pajak.ada }}</h5>
                    <p>Jumlah objek yang membayar Pajak</p>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            
            <b-card no-body class="bg-danger">
              <b-card-body class="pb-0">
                <b-row>
                  <b-col cols="2">
                    <b-img :src="'/images/icon2/total.png'" class="img-icon" />
                  </b-col>
                  <b-col cols="10">
                    <h5 class="mb-0">{{ data.general.bayar_pajak.tidak_ada }}</h5>
                    <p>Jumlah objek yang belum membayar Pajak</p>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>

      <div v-if="$route.query.kelurahan == null">
        <b-row>
          <b-col sm="12">
            <h4 class="text-center mt-2">Grafik Angka Perpajakan</h4>

            <b-button-toolbar class="float-right">
              <b-form-radio-group
                class="mr-3"
                id="radiosBtn"
                buttons
                button-variant="outline-secondary"
                v-model="selected_graph"
                name="radiosBtn"
              >
                <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
              </b-form-radio-group>
            </b-button-toolbar>
          </b-col>
        </b-row>
        <b-card no-body class="border-0">
          <div class="chart-wrapper">
            <line-example
              height="100"
              v-if="selected_graph == 'waktu'"
              :kategori="0"
              :modul="0"
              :pajak="1"
            />
            <bar-example
              height="100"
              v-if="selected_graph == 'jumlah'"
              :kategori="0"
              :modul="0"
              :pajak="1"
            />
          </div>
        </b-card>
      </div>
    </b-card>
  </div>
</template>

<script>
import Highcharts from "highcharts";
import stockInit from "highcharts/modules/stock";
import idMap from "../../store/id-all.geo.json";
import NProgress from "nprogress";

import { mapGetters, mapState } from "vuex";

import * as Spinner from "vue-loading-spinner";

const FilterKonten = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./modul/FilterKonten"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Filter</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const BarExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./modul/BarExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const LineExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./charts/LineExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const CardModuls = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("../sample/dashboard/CardModuls"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

export default {
  name: "Dashboard",
  components: {
    LineExample,
    BarExample,
    FilterKonten,
    CardModuls,
    stockInit,
    Spinner
  },
  data: function() {
    return {
      variants: _.keys(Spinner),
      filter: {
        kecamatan: "",
        kelurahan: "",
        rw: "",
        rt: "",
        tanggal: ""
      },
      selected_graph: "jumlah",
      search: "",
      loadhistori: true,
      loadrank: true,
      data: {
        general: {
          total_population: 0,
          healthy: {
            has: {
              percent: 0
            }
          },
          imb: {
            tidak_ada: 0,
            ada: 0
          },
          bayar_pajak: {
            tidak_ada: 0,
            ada: 0
          }
        }
      },
      rs: {},
      ranking_headers: [
        {
          text: "Ranking Headers",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "ranking", value: "ranking" },
        { text: "Total Input", value: "total_input" },
        { text: "Peringkat", value: "peringkat" },
        { text: "URL", value: "url" },
        { text: "Action" }
      ],
      histori_header: [
        {
          text: "History Headers",
          align: "left",
          sortable: false,
          value: "nama"
        },
        { text: "Aktifitas", value: "aktifitas" },
        { text: "Waktu Histori", value: "waktu_input" },
        { text: "Tipe Petugas", value: "tipe_petugas" },
        { text: "Key Histories", value: "key_histories" },
        { text: "Datas", value: "data" },
        { text: "Action" }
      ],
      rangkings: [],
      histories: [],
      mapOptions: {
        chart: {
          map: idMap
        },

        title: {
          text: "Highmaps basic demo"
        },

        subtitle: {
          text:
            'Source map: <a href="http://code.highcharts.com/mapdata/countries/id/id-all.js">Indonesia</a>'
        },

        mapNavigation: {
          enabled: true,
          buttonOptions: {
            verticalAlign: "bottom"
          }
        },

        colorAxis: {
          min: 0
        },

        series: [
          {
            name: "Random data",
            states: {
              hover: {
                color: "#BADA55"
              }
            },
            dataLabels: {
              enabled: true,
              format: "{point.name}"
            },
            data: [
              ["id-3700", 0],
              ["id-ac", 1],
              ["id-ki", 2],
              ["id-jt", 3],
              ["id-be", 4],
              ["id-bt", 5],
              ["id-kb", 6],
              ["id-bb", 7],
              ["id-ba", 8],
              ["id-ji", 9],
              ["id-ks", 10],
              ["id-nt", 11],
              ["id-se", 12],
              ["id-kr", 13],
              ["id-ib", 14],
              ["id-su", 15],
              ["id-ri", 16],
              ["id-sw", 17],
              ["id-la", 18],
              ["id-sb", 19],
              ["id-ma", 20],
              ["id-nb", 21],
              ["id-sg", 22],
              ["id-st", 23],
              ["id-pa", 24],
              ["id-jr", 25],
              ["id-1024", 26],
              ["id-jk", 27],
              ["id-go", 28],
              ["id-yo", 29],
              ["id-kt", 30],
              ["id-sl", 31],
              ["id-sr", 32],
              ["id-ja", 33]
            ]
          }
        ]
      },
      dataModules: {
        rs: {
          general: {
            last_update: ""
          },
          items: {
            rumah_sehat: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            pjb: {
              tidak_ada_jentik: {
                value: 0,
                percent: "0%",
                legend: []
              },
              ada_jentik: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            spal: {
              tertutup: {
                value: 0,
                percent: "0%",
                legend: []
              },
              terbuka: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            sab: {
              pompa: {
                value: 0,
                percent: "0%",
                legend: []
              },
              sumur_gali: {
                value: 0,
                percent: "0%",
                legend: []
              },
              sumur_gali_plus: {
                value: 0,
                percent: "0%",
                legend: []
              },
              perpipaan_pdam: {
                value: 0,
                percent: "0%",
                legend: []
              },
              mata_air: {
                value: 0,
                percent: "0%",
                legend: []
              },
              amat_tinggi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tinggi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              sedang: {
                value: 0,
                percent: "0%",
                legend: []
              },
              rendah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            jamban: {
              koya: {
                value: 0,
                percent: "0%",
                legend: []
              },
              kali: {
                value: 0,
                percent: "0%",
                legend: []
              },
              helikopter: {
                value: 0,
                percent: "0%",
                legend: []
              },
              septik_tank: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            sampah: {
              dipilah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_dipilah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            stt: {
              rumah_sendiri: {
                value: 0,
                percent: "0%",
                legend: []
              },
              kontrak: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
          }
        },
        ttu: {
          general: {
            last_update: ""
          },
          items: {
            tempat_ibadah: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            pasar: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            sekolah: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            pesantren: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            kolam_renang: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            puskesmas: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            rumah_sakit: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            klinik: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            hotel: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            hotel_melati: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            salon: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            }
          }
        },
        tpm: {
          general: {
            last_update: ""
          },
          items: {
            jasa_boga: {
              laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            restoran: {
              laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              memiliki_izin_usaha: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_memiliki_izin_usaha: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            dam: {
              laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
          }
        },
        lainnya: {
          general: {
            last_update: ""
          },
          items: {
            pelayanan_kesehatan: {
              dalam_gedung: {
                value: 0,
                percent: "0%",
                legend: []
              },
              luar_gedung: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            phbs: {
              laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_laik_hygiene_sanitasi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              belum_dijamah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            }
          }
        }
      }
    };
  },
  methods: {
    getDashboardData() {
      return axios.get("/dashboards", {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan
          }
      });
    },
    getReward() {
      return axios.get("/rewards/all/web", {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan
          }
      });
    },
    getHistori() {
      return axios.get("histori/custom/get-history-with-limit/10/data/" + 0, {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan
          }
      });
    },
    getModulesData(param){
      return axios
        .get("get-modules-data/" + param, {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan,
            rw: this.$route.query.rw,
            rt: this.$route.query.rt,
            tanggal: this.$route.query.tanggal
          }
        });
    },
    ubah(words) {
      return words.replace(/ /g, "-");
      // return replaced;
    },
    usertype(x) {
      if (x == true) return "kader";
      else if (x == false) return "admin";
    },
    changeStatusHistory(param) {
      if (param == "input") {
        return "Menambahkan";
      } else if (param == "delete") {
        return "Menghapus";
      } else {
        return "Mengubah";
      }
    },
    getColor(x) {
      if (x == "input") return "blue";
      else if (x == "update") return "yellow";
      else return "red";
    },
    getTextColor(x) {
      if (x == "update") return "black";
      else return "white";
    },
    opdHidePayload(param) {
      if (this.$auth.check(2)) {
        if (param == "rs") {
          // check rs module
          if (
            this.$auth.user().data_access.find(item => item.id == 36) != null
          ) {
            return true;
          } else {
            return false;
          }
        } else if (param == "ttu") {
          const arrTtu = [24, 15, 6, 7, 43, 4, 2, 8, 9];
          let counterTtu = 0;

          for (let index = 0; index < arrTtu.length; index++) {
            if (
              this.$auth
                .user()
                .data_access.find(item => item.id == arrTtu[index]) != null
            ) {
              //
            } else {
              // return false;
              counterTtu++;
            }
          }

          if (counterTtu == arrTtu.length) {
            return false;
          } else {
            return true;
          }
        } else if (param == "tpm") {
          const arrTpm = [40, 44, 42];
          let counterTpm = 0;

          for (let index = 0; index < arrTpm.length; index++) {
            if (
              this.$auth
                .user()
                .data_access.find(item => item.id == arrTpm[index]) != null
            ) {
              //
            } else {
              // return false;
              counterTpm++;
            }
          }

          if (counterTpm == arrTpm.length) {
            return false;
          } else {
            return true;
          }
        } else {
          const arrLainnya = [10, 46];
          let counterLainnya = 0;

          for (let index = 0; index < arrLainnya.length; index++) {
            if (
              this.$auth
                .user()
                .data_access.find(item => item.id == arrLainnya[index]) != null
            ) {
              //
            } else {
              // return false;
              counterLainnya++;
            }
          }

          if (counterLainnya == arrLainnya.length) {
            return false;
          } else {
            return true;
          }
        }
      } else {
        return true;
      }
    },
    display() {
      const historiRequest = this.getHistori();
      const rewardRequest = this.getReward();
      const dashboardRequest = this.getDashboardData();
      const rs = this.getModulesData("rs"); 
      const ttu = this.getModulesData("ttu"); 
      const tpm = this.getModulesData("tpm"); 
      const lainnya = this.getModulesData("lainnya"); 

      axios.all([historiRequest, rewardRequest, dashboardRequest, rs, ttu, tpm, lainnya]).then(axios.spread((...responses) => { 
          // histori
          this.histories = responses[0].data.data;
          this.loadhistori = false;

          // reward
          this.rangkings = responses[1].data.data;
          this.loadrank = false;
          
          // dashboard
          this.data = responses[2].data.data;

          // modules
          this.dataModules.rs = responses[3].data.data;
          this.dataModules.ttu = responses[4].data.data;
          this.dataModules.tpm = responses[5].data.data;
          this.dataModules.lainnya = responses[6].data.data;

          setTimeout(() => {
            this.$store.commit("NOT_LOADING");
            this.$store.commit("REMOVE_FILTER_LOADING");
          }, 500);

          console.log("display api has been executed");

      
      })).catch(errors => {
      
          this.$store.commit("NOT_LOADING");
          this.$store.commit("SERVER_ERROR");       
      
      })    
    }
  },
  beforeCreate() {
    this.$store.commit("STILL_LOADING"); 
  },
  created() {
    console.log(this.selected_graph)
  },
  beforeMount() {
  },
  mounted() {
    this.display();
    
    Fire.$on("AfterFilter", () => {
      this.display();
    });
  },
  beforeUpdate() {
  },
  updated() {
  },
  beforeDestroy () {
    // reset emit and query params
    Fire.$off('AfterFilter');
    this.$route.query = {};
  },
  destroyed() {
  },
  computed: {
    ...mapGetters({
      moduls: "getModuls"
    })
  },
  
};
</script>