<template>
  <div class="animated fadeIn">
    <!-- Histori Card -->
    <v-card class="mb-4">
      <!-- Card Header -->
      <!-- <template slot="header">
        <b-row>
          <b-col sm="6">
            <h5 class="mt-2">Data Admin</h5>
          </b-col>
          <b-col sm="4">
            <v-text-field
              v-model="search"
              append-icon="search"
              label="search"
              single-line
              hide-details
              class="float-right pt-0 text-xs-left"
            ></v-text-field>
          </b-col>
          <b-col sm="2" v-if="$auth.check(1) || $auth.check(3)">
            <router-link class="my-auto" to="/admin/tambah-admin" tag="b-btn">
              <i class="fa fa-plus" /> Tambah Data
            </router-link>
          </b-col>
        </b-row>
      </template>-->
      <!-- End of Card Header -->
      <v-card-title>
        <b class="title pr-1">Data Admin</b>
        <v-divider class="mx-2" inset vertical></v-divider>
        <div class="flex-grow-1"></div>

        <b-button
          class="my-auto"
          variant="success"
          small
          @click="exportdialog = !exportdialog"
        >Export CSV</b-button>
        <v-divider class="mx-2" inset vertical></v-divider>

        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
          class="float-right pt-0 text-xs-left"
        />
        <v-divider class="mx-1" inset vertical></v-divider>

        <b-button
          v-if="$auth.check(1) || $auth.check(3)"
          class="my-auto"
          to="/admin/tambah-admin"
          variant="primary"
        >
          <i class="fa fa-plus" /> Tambah Data
        </b-button>
      </v-card-title>
      <!-- Table Items -->
      <v-data-table
        :rows-per-page-items="[5,10,25]"
        :loading="loading"
        loading-text="Loading... Please wait"
        :headers="headers"
        :items="users"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td>{{users.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
          <router-link
            exact
            :to="`/profil/${props.item.username}`"
            class="cursor-pointer text-blue"
            tag="td"
          >{{ props.item.nama }}</router-link>
          <td>{{ props.item.username }}</td>
          <td>{{ props.item.role_by_name }}</td>
          <!-- <td>{{ props.item.kecamatan_name }}</td> -->
          <!-- <td>{{ props.item.kelurahan_name }}</td> -->
          <td class="justify-center">
            <b-button-group>
              <b-btn
                v-if="$auth.check(1) || $auth.check(3)"
                :to="`/admin/${props.item.id}/edit`"
                variant="gray-100"
                small
                @click="editItem(props.item)"
              >Sunting</b-btn>
              <b-btn
                variant="danger"
                small
                v-if="$auth.check(1) || $auth.check(3)"
                @click="deleteUserById(props.item.id)"
              >Hapus</b-btn>
            </b-button-group>
          </td>
          <!-- <td>
            <router-link
              v-if="$auth.check(1) || $auth.check(3)"
              :to="`/admin/${props.item.id}/edit`"
              tag="v-icon"
              small
              class="mr-2"
            >edit</router-link>
            <v-icon
              v-if="$auth.check(1) || $auth.check(3)"
              @click="deleteUserById(props.item.id)"
            >delete</v-icon>
          </td>-->
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
          class="bg-danger"
        >Data "{{ search }}" Tidak Ditemukan.</v-alert>
        <template slot="no-data" v-if="no_data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="!no_data">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
      <!-- End of Table Items -->
    </v-card>
    <!-- End of Histori Card -->

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn variant="success" class="float-right" center @click="exportCsv()">Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import downloadCsv from "download-csv";
import NProgress from "nprogress";

export default {
  name: "DataAdmin",
  data() {
    return {
      exportdialog: false,
      loading: true,
      search: "",
      no_data: false,
      headers: [
        { text: "No", value: "nomor" },
        { text: "Name", value: "nama" },
        { text: "Username", value: "username" },
        { text: "Role", value: "role_by_name" },
        // { text: "Kecamatan", value: "kecamatan_name" },
        // { text: "Kelurahan", value: "kelurahan_name" },
        { text: "Action", sortable: false }
      ],
      has_error: false,
      users: []
    };
  },
  mounted() {
    this.loadUsers();
  },
  created() {
    Fire.$on("AfterEvent", () => {
      this.loadUsers();
    });
  },
  methods: {
    loadUsers() {
      axios
        .get("users")
        .then(({ data }) => {
          this.users = data.data;
          this.loading = false;
          if (data.data.length <= 0) {
            this.no_data = true;
          }
        })
        .catch(err => {
          NProgress.done();
        });
    },
    deleteUserById(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            swal.fire({
              text: "Dalam proses...",
              allowOutsideClick: false,
              allowEscapeKey: false,
              allowEnterKey: false,
              onBeforeOpen: () => {
                swal.showLoading();
              }
            });

            axios
              .delete("users/" + id)
              .then(({ data }) => {
                console.log(data);
                swal.fire("Berhasil!", "Data admin dihapus.", "success");
                Fire.$emit("AfterEvent");
              })
              .catch(() => {
                NProgress.done();

                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    },
    exportCsv() {
      axios
        .get("users/custom/json-to-csv")
        .then(({ data }) => {
          const fields = [
            "nama",
            "username",
            "role",
            "nip",
            "alamat",
            "no_telp",
            "kecamatan",
            "kelurahan"
          ];
          downloadCsv(data, fields, "Data Admin.csv");
        })
        .catch(err => {
          NProgress.done();
        });
    }
  }
};
</script>
