<template>
  <div class="animated fadeIn">
    <b-row>
      <v-dialog
        v-model="dialogimport"
        width="800"
        ref="modaltemplate"
        title="import csv"
        centered
        persistent
      >
        <v-card>
          <b-card-body class="scrollable">
            <i class="text-red">
              *Pastikan username yang akan di import belum digunakan oleh kader lain
              <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
            </i>
            <vue-csv-import
              :key="componentKey"
              v-model="csv"
              :map-fields="['nama', 'username', 'password', 'kecamatan', 'kelurahan']"
              inputClass="style-file-input"
              checkboxClass
            >
              <template slot="hasHeaders" slot-scope="{headers, toggle}">
                <b-form-checkbox
                  id="hasHeaders"
                  class="pl-1 mb-1 mt-2"
                  :value="!headers"
                  @change="toggle"
                >File memiliki nama kolom</b-form-checkbox>
              </template>
              <template slot="next" slot-scope="{load}">
                <b-btn @click.prevent="load" variant="info" class="text-white">Lanjut</b-btn>
              </template>

              <template slot="thead">
                <b-alert
                  variant="warning"
                  :show="csv == 0"
                >Pastikan seluruh kolom terisi dengan sesuai</b-alert>
                <tr>
                  <th>Kolom di Database</th>
                  <th>Kolom di file CSV</th>
                </tr>
              </template>

              <template slot="error">
                <span class="text-red">Tipe file salah! (gunakan tipe file .csv)</span>
              </template>
            </vue-csv-import>
          </b-card-body>
          <b-card-footer>
            <b-btn variant="outline-dark" @click="closeImportWindow()">Tutup</b-btn>
            <b-tooltip show="true" target="uploadbutton" placement="left">Klik untuk memulai import</b-tooltip>
            <b-btn
              id="uploadbutton"
              class="float-right"
              variant="primary"
              v-show="csv.length > 0"
              @click.prevent="onImportCsv"
            >Import CSV</b-btn>
          </b-card-footer>
        </v-card>
      </v-dialog>
      <!-- <b-modal
        id="modal-1"
        centered
        title="Import CSV"
        @ok.prevent="onImportCsv"
        :ok-disabled="disablingStateSubmitCsv"
        ok-title="Import CSV"
        ref="modal-1"
      >
        <vue-csv-import
          :key="componentKey"
          v-model="csv"
          :map-fields="['nama', 'username', 'password', 'kecamatan', 'kelurahan']"
        >
          <template slot="next" slot-scope="{load}">
            <b-btn @click.prevent="load">load!</b-btn>
          </template>

          <template slot="submit" slot-scope="{submit}">
            <button @click.prevent="submit">send!</button>
          </template>
          <template slot="error">File type is invalid</template>
        </vue-csv-import>
        <i class="text-red">
          <br />*Pastikan username yang akan di import belum digunakan oleh kader lain
          <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
        </i>
      </b-modal>-->
      <v-dialog
        v-model="dialogtemplate"
        width="800"
        ref="modaltemplate"
        title="Template CSV"
        centered
      >
        <b-card class="mb-0">
          <div class="scrollable">
            <table class="w-100 mb-3" border="1">
              <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
              <tr>
                <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
              </tr>
            </table>
          </div>
          <i class="text-red">
            *untuk melihat kode kecamatan dan kelurahan
            <a
              class="text-blue"
              @click="showTable()"
              style="text-decoration:underline;"
            >klik disini</a>
            <br />*Pastikan username yang akan di import belum digunakan oleh kader lain
            <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
          </i>
          <v-card-actions>
            <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
          </v-card-actions>
        </b-card>
      </v-dialog>
      <v-dialog v-model="dialog" max-width="50vw">
        <b-card no-body class="mb-0">
          <ListIdKelurahan />
          <b-card-footer>
            <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
          </b-card-footer>
        </b-card>
      </v-dialog>
    </b-row>
    <b-row>
      <b-col md="6">
        <b-card :class="`bg-success text-white`">
          <b-row>
            <b-col sm="12">
              <b-img :src="`/images/icon2/total.png`" fluid class="img-indicator" />
              <span>Kader</span>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <h2 class="text-left">{{ petugas.total.kader }}</h2>
            </b-col>
          </b-row>
          <footer>
            <p class="text-left caption clear-distance"></p>
          </footer>
        </b-card>
      </b-col>
      <b-col md="6">
        <b-card :class="`bg-green_sippkling text-white`">
          <b-row>
            <b-col sm="12">
              <b-img :src="`/images/icon2/total.png`" fluid class="img-indicator" />
              <span>Petugas</span>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <h2 class="text-left">{{ petugas.total.petugas }}</h2>
            </b-col>
          </b-row>
          <footer>
            <p class="text-left caption clear-distance"></p>
          </footer>
        </b-card>
      </b-col>
    </b-row>
    <v-card class="mb-4">
      <!-- Card Header -->
      <!-- <template slot="header">
        <b-row>
          <b-col sm="6">
            <h5 class="mt-2">Data Kader</h5>
          </b-col>
          <b-col sm="4">
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
              class="float-right pt-0 text-xs-left"
            ></v-text-field>
          </b-col>
          <b-col sm="2">
            <router-link
              v-if="$auth.check(1) || $auth.check(3) ||
              $auth.check(4)"
              class="my-auto"
              to="/kader/tambah-kader"
              tag="b-btn"
            >
              <i class="fa fa-plus" /> Tambah Data
            </router-link>
          </b-col>
        </b-row>
      </template>-->
      <!-- End of Card Header -->

      <v-card-title>
        <b class="title pr-1">Data Kader</b>
        <v-divider class="mx-2" inset vertical></v-divider>

        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
          class="w-25 pt-0 text-xs-left"
        />
        <v-divider class="mr-2 ml-4" inset vertical></v-divider>

        <b-button-group>
          <!-- <b-button
            v-if="$auth.check(1) || $auth.check(3) || $auth.check(4)"
            class="my-auto"
            variant="light"
            small
          >
            <router-link :to="`/kader/import-csv`">Import CSV</router-link>
          </b-button>-->
          <b-btn variant="gray-200" @click="showTemplate()">
            Template CSV
            <i
              title="Klik untuk Melihat Template Format CSV yang sesuai !"
              v-b-tooltip.hover
              class="fa fa-question-circle"
            ></i>
          </b-btn>
          <!-- <b-button v-b-modal.modal-1 class="my-auto" variant="yellow" small>Import CSV</b-button> -->
          <b-button @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-button>
          <b-button
            v-if="$auth.check(1) || $auth.check(3) || $auth.check(4)"
            class="my-auto"
            variant="success"
            small
            @click="exportdialog = !exportdialog"
          >Export CSV</b-button>
        </b-button-group>
        <v-divider class="mx-1" inset vertical></v-divider>

        <b-button
          v-if="$auth.check(1) || $auth.check(3) ||
                  $auth.check(4)"
          class="my-auto"
          to="/kader/tambah-kader"
          variant="primary"
        >
          <i class="fa fa-plus" /> Tambah Data
        </b-button>
      </v-card-title>
      <v-data-table
        :rows-per-page-items="[5,10,25]"
        :loading="loading"
        :headers="headers"
        :items="petugas.query"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td>{{ petugas.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
          <router-link
            exact
            :to="`/profil/${props.item.username}`"
            class="cursor-pointer text-blue"
            tag="td"
          >{{ props.item.nama }}</router-link>
          <td>{{ props.item.username }}</td>
          <td>{{ props.item.kecamatan_name }}</td>
          <td>{{ props.item.kelurahan_name }}</td>
          <td class="justify-center">
            <b-button-group>
              <b-btn
                variant="gray-100"
                v-if="$auth.check(1) || $auth.check(3) ||
              $auth.check(4)"
                :to="`/kader/${props.item.id}/edit`"
                small
              >Sunting</b-btn>
              <b-btn
                v-if="$auth.check(1) || $auth.check(3) ||
              $auth.check(4)"
                variant="danger"
                small
                @click="deleteKaderById(props.item.id)"
              >Hapus</b-btn>
            </b-button-group>
          </td>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >Data "{{ search }}" Tidak Ditemukan.</v-alert>
        <template slot="no-data" v-if="no_data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="!no_data">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>

      <!-- End of Table Items -->
    </v-card>
    <!-- End of Histori Card -->

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn variant="success" class="float-right" center @click="exportCsv()">Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
  
<script>
import downloadCsv from "download-csv";
import { VueCsvImport } from "vue-csv-import";
import NProgress from "nprogress";
import ListIdKelurahan from "./form/ListIdKelurahan";

export default {
  name: "DataKader",
  components: { VueCsvImport, ListIdKelurahan },
  data() {
    return {
      exportdialog: false,
      componentKey: 0,
      loading: true,
      no_data: false,
      dialogtemplate: false,
      dialogimport: false,
      dialog: false,
      search: "",
      csv: [],
      headers: [
        { text: "No", value: "nomor" },
        { text: "Name", value: "nama" },
        { text: "Username", value: "username" },
        { text: "Kecamatan", value: "kecamatan_name" },
        { text: "Kelurahan", value: "kelurahan_name" },
        { text: "Action", sortable: false }
      ],
      has_error: false,
      petugas: {
        total: {
          kader: 0,
          petugas: 0
        },
        query: []
      },
      disablingStateSubmitCsv: false,
      template: {
        headers: [
          "nama",
          "username",
          "password",
          "kecamatan_id",
          "kelurahan_id"
        ],
        items: ["Sudarma", "sudarma17_pondokcina", "12345", "1", "7"]
      },
      source: axios.CancelToken.source()
    };
  },
  methods: {
    forceRerender() {
      this.componentKey += 1;
    },
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    loadKaders() {
      axios
        .get("petugas-sippklings/custom/get-petugas-sippklings", {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan
          }
        })
        .then(({ data }) => {
          this.petugas = data.data;
          this.loading = false;

          setTimeout(() => {
            this.$store.commit("NOT_LOADING");
            this.$store.commit("REMOVE_FILTER_LOADING");
          }, 500);

          if (data.data.query.length <= 0) {
            this.no_data = true;
          }
        })
        .catch(err => {
          this.no_data = true;
        });
    },
    deleteKaderById(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text:
            "Data kader ini akan dihapus, pastikan anda memilih kader yang benar",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            swal.fire({
              text: "Dalam proses...",
              allowOutsideClick: false,
              allowEscapeKey: false,
              allowEnterKey: false,
              onBeforeOpen: () => {
                swal.showLoading();
              }
            });

            axios
              .delete("petugas-sippklings/" + id)
              .then(() => {
                swal.fire(
                  "Berhasil!",
                  "Data petugas sippkling dihapus.",
                  "success"
                );
                Fire.$emit("AfterEventKader");
              })
              .catch(() => {
                swal.fire(
                  "Gagal!",
                  "Kesalahan pada jaringan, silahkan coba lagi.",
                  "warning"
                );
              });
          }
        });
    },
    closeImportWindow() {
      this.csv = [];
      this.dialogimport = false;
    },
    exportCsv() {
      axios
        .get("petugas-sippklings/custom/json-to-csv")
        .then(({ data }) => {
          const fields = ["nama", "username", "kecamatan", "kelurahan"];
          downloadCsv(data, fields, "Data Kader.csv");
        })
        .catch(err => {});
    },
    onImportCsv() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan data excel sesuai dengan aturan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Import Sekarang"
        })
        .then(result => {
          if (this.csv.length > 0) {
            this.$nextTick(() => {
              this.petugas.query = [];
            });

            this.forceRerender();
            if (result.value) {
              swal.fire({
                text: "Dalam proses...",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                  swal.showLoading();
                }
              });

              axios
                .post("petugas-sippklings/custom/import-csv", {
                  csv: this.csv
                })
                .then(({ data }) => {
                  if (data.status_code == 1000) {
                    let str = "";

                    for (let index = 0; index < data.data.length; index++) {
                      str +=
                        "<tbody><tr><td>" +
                        (index + 1) +
                        "</td><td>" +
                        data.data[index].username +
                        "</td></tr></tbody>";
                    }

                    swal.fire({
                      title: "<strong>Import gagal! CSV Tidak Valid</strong>",
                      type: "warning",
                      html:
                        "<div class='col-12'><table class='table'><thead><tr><th>Nomor</th><th>username</th></tr></thead>" +
                        str +
                        "</table></div>" +
                        "<div><strong>Username tidak boleh sama</strong></div>"
                    });
                  }

                  if (data.status_code == 200) {
                    swal.fire({
                      title: "<strong>Berhasil import</strong>",
                      type: "success",
                      text: data.message
                    });
                  }

                  this.csv = [];
                  Fire.$emit("AfterEventKader");
                  // this.$refs["modal-1"].hide();
                  this.dialogimport = false;
                })
                .catch(err => {
                  if (err.response.status == 422) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Ada kesalahan pada data csv, pastikan data di csv sudah memenuhi aturan",
                      "warning"
                    );
                  }

                  if (err.response.status == 500) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Jaringan bermasalah, silahkan coba lagi",
                      "warning"
                    );
                  }
                });
            }
          } else {
            if (result.value) {
              swal.fire(
                "Gagal!",
                "Pastikan semua kolom yang di tentukan sudah terisi",
                "warning"
              );
            }
          }
        });
    }
  },
  beforeCreate() {},
  created() {},
  mounted() {
    this.loadKaders();

    Fire.$on("AfterFilter", () => {
      this.loadKaders();
    });

    Fire.$on("AfterEventKader", () => {
      this.loadKaders(this.filter);
    });
  },
  beforeDestroy() {
    this.source.cancel("Switch Pages");
    Fire.$off("AfterFilter");
    Fire.$off("AfterEventKader");
  }
};
</script>