<template>
  <div class="animated fadeIn">
    <!-- <FilterKonten /> -->
    <b-row>
      <b-col sm="6">
        <b-card bg-variant="info">
          <b-row>
            <b-col sm="12">
              <b-img :src="`/images/icon2/like-s.png`" fluid class="img-indicator" />
              <span>Persentase Sanitasi</span>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <h2 class="text-left">79 %</h2>
            </b-col>
          </b-row>
          <footer>
            <p class="text-left caption clear-distance">dari 2000000 data</p>
          </footer>
        </b-card>
      </b-col>
      <b-col sm="6">
        <b-card bg-variant="warning">
          <b-row>
            <b-col sm="12">
              <b-img :src="`/images/icon2/like-s.png`" fluid class="img-indicator" />
              <span>Persentase ODF</span>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <h2 class="text-left">79 %</h2>
            </b-col>
          </b-row>
          <footer>
            <p class="text-left caption clear-distance">dari 2000000 data</p>
          </footer>
        </b-card>
      </b-col>
    </b-row>
    <b-card no-body class="bg-primary">
      <b-card-body class="pb-0 headlinehover-primary">
        <b-row v-b-toggle.collapse4>
          <b-col cols="1">
            <b-img :src="'/images/icon2/sehat-s.png'" class="img-icon" />
          </b-col>
          <b-col cols="7">
            <p class="text-left headline">Tingkat Kesehatan Lingkungan Kota Depok</p>
          </b-col>
          <b-col cols="4">
            <p class="text-right headline">{{ totalKesehatan }}%</p>
          </b-col>
        </b-row>
      </b-card-body>

      <b-collapse id="collapse4">
        <b-card class="text-dark">
          <h3 class="text-center">Skor Nilai Tingkat Kesehatan Lingkungan</h3>
          <b-button
            v-b-modal.modal-1
            class="float-right"
            variant="light"
            small
          >Sunting Objek Penilaian</b-button>
          <v-data-table :items="nkl" :headers="hnkl" hide-actions>
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.id }}</td>
                <td class="text-xs-left">{{ props.item.objek }}</td>
                <td class="text-xs-left">{{ props.item.bobot }}</td>
                <!-- <td>
                  <b-button v-b-modal.modal-2 class="my-auto" variant="light" small>Sunting</b-button>
                </td>-->
              </tr>
            </template>
          </v-data-table>

          <b-form inline>
            <span>
              Skor diatas
              <b-form-input
                size="sm"
                style="width:40px;"
                v-if="myToggle==true"
                v-model="parameter"
              />
              <b v-else>{{parameter}}</b> % = Sehat
            </span>

            <v-divider class="mx-1" inset vertical></v-divider>
            <b-button
              size="sm"
              :pressed.sync="myToggle"
              variant="gray-200"
              @click="simpanAngkaSehat(myToggle)"
            >{{buttonText(myToggle)}}</b-button>
          </b-form>
          <b-modal id="modal-1" centered class="pt-5" ref="modal-1" modal-header-close="no">
            <template v-slot:modal-title>
              <span class="text-left">Sunting Objek Penilaian</span>
            </template>

            <template v-slot:modal-footer>
              <b-modal @ok="tambahObjek()" id="modal-2" centered ref="modal-2">
                <template v-slot:modal-title>Tambah Objek Penilaian</template>

                <b-form ref="tambahKambing">
                  <b-row>
                    <b-col cols="8">
                      <label for="add_objek">Nama Objek</label>
                      <b-form-input id="add_objek" name="objek" v-model="fields.objek" />
                    </b-col>
                    <b-col cols="4">
                      <label for="add_bobot">Bobot</label>
                      <b-form-input id="add_bobot" name="bobot" v-model="fields.bobot" />
                      <!-- <b-button type="submit" variant="light" small>
                        <i class="fa fa-plus"></i> Tambah Objek
                      </b-button>-->
                    </b-col>
                  </b-row>
                </b-form>
              </b-modal>
              <!-- <b-button
                class="float-right"
                v-b-modal.modal-2
                variant="light"
                smallvariant="primary"
                small
              >Tambah Objek</b-button>-->
              <b-button
                v-if="total_bobot <= 100"
                class="float-right"
                variant="green"
                smallvariant="primary"
                @click="updateBobotObjek()"
              >Update Objek Penilaian</b-button>
            </template>

            <!-- <template class="scrollable p-0" v-slot:default> -->
            <b-card-body class="scrollable py-0">
              <b-row v-for="n in newNkl" :key="n.id">
                <b-col cols="8">
                  <label for="objek">Objek Penilaian</label>
                  <b-input
                    id="objek"
                    :value="n.objek"
                    v-model="n.objek"
                    placeholder="Ex. Rumah Sakit"
                  ></b-input>
                </b-col>
                <b-col cols="4">
                  <label for="bobot">Bobot</label>
                  <b-input type="number" id="bobot" :value="n.bobot" v-model="n.bobot"></b-input>
                </b-col>
              </b-row>
              <b-row class="pt-3">
                <b-col>
                  <strong :class="getWarningTotalBobot(total_bobot)">Total Bobot: {{ total_bobot }}</strong>
                  <br />
                  <small>
                    <i>* Pastikan bobot tidak melebihi dari 100</i>
                  </small>
                </b-col>
              </b-row>
            </b-card-body>
            <!-- </template> -->
          </b-modal>
          <v-divider />
        </b-card>
      </b-collapse>
    </b-card>

    <b-card>
      <h4 class="text-center">Tingkat Kesehatan Lingkungan Kota Depok</h4>
      <h5 class="text-center">Per Wilayah Kecamatan</h5>
      <div class="chart-wrapper">
        <bar-example :height="100" :depokhealthycity="true" />
      </div>
      <v-divider />
      <v-card>
        <v-data-table
          :rows-per-page-items="[5,10,25]"
          :headers="htkl"
          :items="dataKesehatan"
          :expanded.sync="expanded"
          item-key="nama"
          show-expand
        >
          <template slot="items" slot-scope="props">
            <tr>
              <td class="cursor-pointer" @click="props.expanded = !props.expanded">
                <i class="fa fa-plus"></i>
              </td>
              <td>{{ props.item.nama }}</td>
              <td class="text-xs-left">{{ props.item.rumah_sehat }}</td>
              <td class="text-xs-left">{{ props.item.tempat_ibadah }}</td>
              <td class="text-xs-left">{{ props.item.pasar }}</td>
              <td class="text-xs-left">{{ props.item.sekolah }}</td>
              <td class="text-xs-left">{{ props.item.pesantren }}</td>
              <td class="text-xs-left">{{ props.item.kolam_renang }}</td>
              <td class="text-xs-left">{{ props.item.puskesmas }}</td>
              <td class="text-xs-left">{{ props.item.rumah_sakit }}</td>
              <td class="text-xs-left">{{ props.item.klinik }}</td>
              <td class="text-xs-left">{{ props.item.hotel }}</td>
              <td class="text-xs-left">{{ props.item.hotel_melati }}</td>
              <td class="text-xs-left">{{ props.item.salon }}</td>
              <td class="text-xs-left">{{ props.item.jasa_boga }}</td>
              <td class="text-xs-left">{{ props.item.kuliner }}</td>
              <td class="text-xs-left">{{ props.item.dam }}</td>
              <td class="text-xs-left">{{ props.item.pelayanan_kesling }}</td>
              <td class="text-xs-left">{{ props.item.phbs }}</td>
              <td
                class="text-xs-left"
              >{{ hitungTotal(props.item.rumah_sehat,props.item.tempat_ibadah,props.item.pasar,props.item.sekolah,props.item.pesantren,props.item.kolam_renang,props.item.puskesmas,props.item.rumah_sakit,props.item.klinik,props.item.hotel,props.item.hotel_melati,props.item.salon,props.item.jasa_boga,props.item.kuliner,props.item.dam,props.item.pelayanan_kesling,props.item.phbs ) }}</td>
            </tr>
          </template>
          <template slot="expand" slot-scope="props">
            <v-card>
              <v-data-table
                :items-per-page="10"
                :rows-per-page-items="[10,20]"
                class="w-100 text-left"
                :items="props.item.kelurahan"
                :headers="htklkel"
                item-key="kelurahan.nama"
              >
                <template slot="items" slot-scope="props">
                  <tr>
                    <td></td>
                    <td>{{ props.item.nama }}</td>
                    <td class="text-xs-left">{{ props.item.rumah_sehat }}</td>
                    <td class="text-xs-left">{{ props.item.tempat_ibadah }}</td>
                    <td class="text-xs-left">{{ props.item.pasar }}</td>
                    <td class="text-xs-left">{{ props.item.sekolah }}</td>
                    <td class="text-xs-left">{{ props.item.pesantren }}</td>
                    <td class="text-xs-left">{{ props.item.kolam_renang }}</td>
                    <td class="text-xs-left">{{ props.item.puskesmas }}</td>
                    <td class="text-xs-left">{{ props.item.rumah_sakit }}</td>
                    <td class="text-xs-left">{{ props.item.klinik }}</td>
                    <td class="text-xs-left">{{ props.item.hotel }}</td>
                    <td class="text-xs-left">{{ props.item.hotel_melati }}</td>
                    <td class="text-xs-left">{{ props.item.salon }}</td>
                    <td class="text-xs-left">{{ props.item.jasa_boga }}</td>
                    <td class="text-xs-left">{{ props.item.kuliner }}</td>
                    <td class="text-xs-left">{{ props.item.dam }}</td>
                    <td class="text-xs-left">{{ props.item.pelayanan_kesling }}</td>
                    <td class="text-xs-left">{{ props.item.phbs }}</td>
                    <td
                      class="text-xs-left"
                    >{{ hitungTotal(props.item.rumah_sehat,props.item.tempat_ibadah,props.item.pasar,props.item.sekolah,props.item.pesantren,props.item.kolam_renang,props.item.puskesmas,props.item.rumah_sakit,props.item.klinik,props.item.hotel,props.item.hotel_melati,props.item.salon,props.item.jasa_boga,props.item.kuliner,props.item.dam,props.item.pelayanan_kesling,props.item.phbs ) }}</td>
                  </tr>
                </template>
              </v-data-table>
            </v-card>
          </template>
          <template slot="no-data">
            <div class="text-center">
              <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
              <span>Tidak ada Data</span>
            </div>
          </template>
        </v-data-table>
      </v-card>
    </b-card>

    <!-- <b-card>
      <h4 class="text-center">Tingkat Kesehatan Lingkungan Kota Depok</h4>
      <h5 class="text-center">Per Tahun</h5>
      <div class="chart-wrapper">
        <line-example height="200" :depokhealthycity="true" />
      </div>
    </b-card>-->
  </div>
</template>

<script>
import NProgress from "nprogress";

const BarExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./modul/BarExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const LineExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./charts/LineExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

// import FilterKonten from "@/views/sample/modul/FilterKonten";

export default {
  name: "DepokHealthyCity",
  components: {
    BarExample,
    LineExample
    // FilterKonten
  },
  mounted() {
    this.$store.commit("NOT_LOADING");
    this.getnklCounter(this.nkl);
  },

  methods: {
    getColor(status) {
      if (status.toLowerCase() == "sehat") return "green";
      else return "red";
    },
    buttonText(x) {
      if (x == false) return "Edit";
      else return "Simpan";
    },
    getnklCounter(newNkl) {
      this.nklCounter = newNkl.length + 2;
    },
    tambahObjek() {
      this.nklCounter++;
      this.newNkl = [];
      this.newNkl.push({
        objek: this.fields.objek,
        bobot: this.fields.bobot
      });
      this.fields = {};
    },
    hitungTotal(a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q) {
      return a + b + c + d + f + g + h + i + j + k + l + m + n + o + p + q;
    },
    getSkorNilai() {
      axios
        .get("skor")
        .then(({ data }) => {
          this.nkl = data.data;
          this.newNkl = data.data;
          this.parameter = data.skor_sehat;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    getWarningTotalBobot(param) {
      if (param > 100) {
        return "text-red";
      } else {
        return "";
      }
    },
    updateBobotObjek() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Update Bobot Skarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .put("update-skor", {
                skor: this.nkl
              })
              .then(({ data }) => {
                swal.fire("Berhasil!", "Bobot Berhasil di update.", "success");
                Fire.$emit("AfterEventDepokHealthyCity");
              })
              .catch(err => {
                NProgress.done();
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, silahkan coba lagi.",
                  "warning"
                );
              });
          }
        });
    },
    simpanAngkaSehat(event) {
      if (event == false) {
        swal
          .fire({
            title: "Apakah anda yakin?",
            text: "Anda tidak akan dapat mengembalikan ini!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Ya, Update Skor Sehat Skarang"
          })
          .then(result => {
            if (result.value) {
              axios
                .post("update-skor-sehat", {
                  skor: this.parameter
                })
                .then(({ data }) => {
                  swal.fire(
                    "Berhasil!",
                    "Skor Sehat Berhasil di update.",
                    "success"
                  );
                  Fire.$emit("AfterEventDepokHealthyCity");
                })
                .catch(err => {
                  NProgress.done();
                  swal.fire(
                    "Gagal!",
                    "Ada Kesalahan pada jaringan, silahkan coba lagi.",
                    "warning"
                  );
                });
            }
          });
      }
    },
    getDataKesehatan() {
      axios
        .get("get-data-kesehatan")
        .then(({ data }) => {
          this.dataKesehatan = data.data;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    getTotalKesehatan() {
      axios
        .get("get-total-kesehatan-lingkungan")
        .then(({ data }) => {
          this.totalKesehatan = data.data;
        })
        .catch(err => {
          NProgress.done();
        });
    }
  },
  created() {
    this.getSkorNilai();
    this.getDataKesehatan();

    Fire.$on("AfterEventDepokHealthyCity", () => {
      this.getSkorNilai();
    });
  },
  computed: {
    total_bobot() {
      let total = 0;
      this.nkl.forEach(element => {
        if (isNaN(parseInt(element.bobot))) {
          element.bobot = 0;
        }
        total += parseInt(element.bobot);
      });

      return total;
    }
  },
  data() {
    return {
      totalKesehatan: 0,
      addNkl: [],
      myToggle: false,
      parameter: 75,
      nklCounter: 0,
      expanded: [],
      fields: {},
      // total_bobot: 0,
      bobot: [],
      nkl: [
        {
          id: 0,
          objek: "",
          bobot: 0,
          value: "",
          last: 0
        }
      ],
      newNkl: [],
      nklCounter: 0,
      hnkl: [
        { text: "No", value: "id" },
        { text: "Objek Penilaian", value: "objek" },
        { text: "Bobot", value: "bobot" }
        // { text: "", value: "", sortable: false }
      ],
      htkl: [
        { sortable: false },
        { text: "Kecamatan", value: "nama" },
        { text: "Rumah Sehat", value: "rs" },
        { text: "Tempat Ibadah", value: "tempat_ibadah" },
        { text: "Pasar", value: "pasar" },
        { text: "Sekolah", value: "sekolah" },
        { text: "Pesantren", value: "pesantren" },
        { text: "Kolam Renang", value: "kolam_renang" },
        { text: "Puskesmas", value: "puskesmas" },
        { text: "Rumah Sakit", value: "rumah_sakit" },
        { text: "Klinik", value: "klinik" },
        { text: "Hotel", value: "hotel" },
        { text: "Hotel Melati", value: "hotel_melati" },
        { text: "Salon", value: "salon" },
        { text: "Jasa Boga", value: "jasa_boga" },
        { text: "Restoran", value: "restoran" },
        { text: "Depot Air Minum", value: "depot_air_minum" },
        { text: "Pelayanan Kesehatan", value: "pelayanan_kesehatan" },
        { text: "PHBS", value: "phbs" },
        { text: "Total", value: "total" }
      ],
      htklkel: [
        { sortable: false },
        { text: "Kelurahan", value: "nama" },
        { text: "Rumah Sehat", value: "rs" },
        { text: "Tempat Ibadah", value: "tempat_ibadah" },
        { text: "Pasar", value: "pasar" },
        { text: "Sekolah", value: "sekolah" },
        { text: "Pesantren", value: "pesantren" },
        { text: "Kolam Renang", value: "kolam_renang" },
        { text: "Puskesmas", value: "puskesmas" },
        { text: "Rumah Sakit", value: "rumah_sakit" },
        { text: "Klinik", value: "klinik" },
        { text: "Hotel", value: "hotel" },
        { text: "Hotel Melati", value: "hotel_melati" },
        { text: "Salon", value: "salon" },
        { text: "Jasa Boga", value: "jasa_boga" },
        { text: "Restoran", value: "restoran" },
        { text: "Depot Air Minum", value: "depot_air_minum" },
        { text: "Pelayanan Kesehatan", value: "pelayanan_kesehatan" },
        { text: "PHBS", value: "phbs" },
        { text: "Total", value: "total" }
      ],
      headers: [
        { sortable: false },
        { text: "Kecamatan", align: "left", value: "name" },
        { text: "Luas Wilayah", align: "left", value: "calories" },
        { text: "Jumlah Penduduk", value: "fat" },
        { text: "Jumlah Keluarga", value: "carbs" },
        { text: "Jumlah laki - laki", value: "protein" },
        { text: "Jumlah Perempuan", value: "iron" }
      ],
      kelheaders: [
        { sortable: false },
        { text: "Kelurahan", align: "left", value: "nama" },
        { text: "Luas Wilayah", align: "left", value: "luas_wilayah" },
        { text: "Jumlah Penduduk", value: "jumlah_penduduk" },
        { text: "Jumlah Keluarga", value: "jumlah_keluarga" },
        { text: "Jumlah laki - laki", value: "laki" },
        { text: "Jumlah Perempuan", value: "perempuan" }
      ],
      dataKesehatan: [
        {
          id: 0,
          nama: "",
          rumah_sehat: 0,
          tempat_ibadah: 0,
          pasar: 0,
          sekolah: 0,
          pesantren: "0%",
          kolam_renang: 0,
          puskesmas: 0,
          rumah_sakit: 0,
          klinik: 0,
          hotel: 0,
          hotel_melati: 0,
          salon: 0,
          jasa_boga: 0,
          restoran: 0,
          depot_air_minum: 0,
          pelayanan_kesehatan: 0,
          kelurahan: [
            {
              nama: "",
              rumah_sehat: 0,
              tempat_ibadah: 0,
              pasar: 0,
              sekolah: 0,
              pesantren: "0%",
              kolam_renang: 0,
              puskesmas: 0,
              rumah_sakit: 0,
              klinik: 0,
              hotel: 0,
              hotel_melati: 0,
              salon: 0,
              jasa_boga: 0,
              restoran: 0,
              depot_air_minum: 0,
              pelayanan_kesehatan: 0
            }
          ]
        }
      ],
      name: {},
      nameState: null,
      submittedNames: {}
    };
  }
};
</script>