<template>
  <div class="animated fadeIn">
    <b-card>
      <b-row>
        <b-col sm="2" class="mx-auto">
          <p>Filter berdasarkan :</p>
          <b-form-select @change="clearfilter()" v-model="categoryFilter" :options="categories" />
        </b-col>
        <b-col v-if="categoryFilter != null" sm="8">
          <b-card-body class="animated fadeIn" v-if="categoryFilter == 'Petugas'">
            <b-row>
              <b-col class="p-1 mx-auto" sm="5">
                <model-select
                  ref="select"
                  class="form-control"
                  placeholder="Pilih Petugas"
                  :options="options"
                  v-model="selected.petugas"
                ></model-select>
              </b-col>

              <b-col class="p-1 mx-auto" sm="3">
                <b-form-select
                  :value="null"
                  v-model="selected.waktu"
                  :options="waktu"
                  id="inlineFormCustomSelectPref4"
                  class="w-100"
                  @change="show_legend = false"
                ></b-form-select>
              </b-col>

              <b-col v-if="selected.waktu == 3" class="p-1 mx-auto" sm="3">
                <b-form-input
                  :value="null"
                  id="inlineFormCustomSelectPref5"
                  class="w-100"
                  v-model="selected.tanggal"
                  @change="onDateChange($event)"
                  type="date"
                />
              </b-col>
            </b-row>
          </b-card-body>
          <b-card-body class="animated fadeIn" v-if="categoryFilter == 'Daerah'">
            <b-row class="px-1">
              <b-col class="p-1 mx-auto" sm="3">
                <b-form-select
                  :value="null"
                  :options="kecamatans"
                  id="inlineFormCustomSelectPref1"
                  class="w-100"
                  v-model="selected.kecamatan"
                  :disabled="disabled.kecamatan == 0"
                  @change="onKecamatanChange($event)"
                ></b-form-select>
              </b-col>
              <b-col class="p-1 mx-auto" sm="3">
                <b-form-select
                  :value="null"
                  :options="kelurahans"
                  id="inlineFormCustomSelectPref2"
                  class="w-100"
                  v-model="selected.kelurahan"
                  :disabled="disabled.kelurahan == 0"
                  @change="onKelurahanChange($event)"
                ></b-form-select>
              </b-col>

              <b-col class="p-1 mx-auto" sm="3">
                <b-form-select
                  :value="null"
                  v-model="selected.waktu"
                  :options="waktu"
                  @change="show_legend = false"
                  id="inlineFormCustomSelectPref4"
                  class="w-100"
                ></b-form-select>
              </b-col>

              <b-col v-if="selected.waktu == 3" class="p-1 mx-auto" sm="3">
                <b-form-input
                  :value="null"
                  id="inlineFormCustomSelectPref5"
                  class="w-100"
                  v-model="selected.tanggal"
                  @change="onDateChange($event)"
                  type="date"
                />
              </b-col>
            </b-row>
          </b-card-body>
        </b-col>
        <b-col v-if="categoryFilter != null" sm="2">
          <b-card-body class="px-0">
            <b-button
              id="inlineFormCustomSelectPref6"
              variant="primary"
              class="w-100"
              @click="filterHistori()"
            >
              <i class="fa fa-filter" /> Filter
            </b-button>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>

    <b-card class="bg-gray-100" v-if="show_legend">
      <b-loading variant="Circle8" class="mx-auto" v-if="loadhistori == true">Dalam proses</b-loading>
      <div v-else class="mx-auto text-center w-100">
        Hasil Filter data histori
        <span v-if="selected.petugas != null && selected.petugas != ''">
          oleh
          <b class="text-blue">{{ cariNamaPetugas(selected.petugas) }}</b>
        </span>
        <span v-if="selected.kecamatan != null">
          dari Kecamatan
          <b class="text-blue">{{ kecamatans[selected.kecamatan].text }}</b>
        </span>
        <span v-if="selected.kelurahan != null">
          , Kelurahan
          <b class="text-blue" v-for="(k,i) in kelurahans" :key="i">
            <span v-if="k.value == selected.kelurahan">{{ k.text }}</span>
          </b>
        </span>
        <span v-if="selected.rw != null">
          RW
          <b class="text-blue" v-for="(w,i) in rw" :key="i">
            <span v-if="w.value == selected.rw">{{ w.text }}</span>
          </b>
        </span>
        <span v-if="selected.rt != null">
          RT
          <b class="text-blue" v-for="(t,i) in rt" :key="i">
            <span v-if="t.value == selected.rt">{{ t.text }}</span>
          </b>
        </span>
        <p
          v-if="selected.waktu != null && selected.waktu != '' && selected.waktu != 3"
        >Dalam {{selectedwaktu(selected.waktu)}}</p>
        <p v-if="selected.tanggal != null && selected.tanggal != ''">
          Pada Tanggal
          <b class="text-blue">{{ IndonesiaFilterFormat(selected.tanggal) }}</b>
        </p>
      </div>
    </b-card>

    <v-card class="mb-4" style="z-index:-1;">
      <v-card-title>
        <span class="title pr-1">Histori</span>
        <v-divider class="mx-2" inset vertical></v-divider>

        <div class="flex-grow-1"></div>
        <b-button
          v-if="$auth.check(1) || $auth.check(3) || $auth.check(4)"
          class="my-auto"
          variant="success"
          @click="exportdialog = !exportdialog"
          small
        >Export CSV</b-button>
        <v-divider class="mx-2" inset vertical></v-divider>

        <v-text-field
          v-model="search"
          append-icon="search"
          label="Cari"
          single-line
          hide-details
          class="float-right pt-0 text-xs-left"
        />
      </v-card-title>
      <v-data-table
        :items="histories"
        :rows-per-page-items="[15]"
        :headers="headers"
        :search="search"
        :loading="loadhistori"
        :disable-initial-sort="true"
      >
        <template slot="items" slot-scope="props">
          <!-- <td>{{ histories.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td> -->
          <!-- <td>{{ props.item.id }}</td> -->
          <router-link
            exact
            :to="`/profil/${props.item.petugas_username}`"
            class="cursor-pointer text-blue"
            tag="td"
          >{{ props.item.nama }}</router-link>
          <td class="text-xs-left">
            <v-chip
              disabled
              :text-color="getTextColor(props.item.aktifitas)"
              small
              :color="getColor(props.item.aktifitas)"
            >{{ props.item.aktifitas }}</v-chip>
          </td>
          <router-link
            exact
            :to="`/modul/${ubah(props.item.data)}/${props.item.objek_id}`"
            class="cursor-pointer text-blue"
            tag="td"
          >{{ props.item.data }}</router-link>
          <td class="text-xs-left">{{ props.item.kelurahan }}</td>
          <!-- <td class="text-xs-left">
              <v-chip
                small
                :color="getColor(props.item.sehat)"
                class="text-white"
              >{{getText(props.item.sehat)}}</v-chip>
          </td>-->
          <td class="text-xs-left">{{ props.item.waktu_history }}</td>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >Data "{{ search }}" Tidak Ditemukan.</v-alert>
        <template slot="no-data" v-if="loadhistori == false">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="loadhistori == true">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
    </v-card>
    
    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn
            variant="success"
            class="float-right"
            center
            @click="exportCsvRumahSehat()"
          >Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { ModelSelect } from "vue-search-select";
import "vue-search-select/dist/VueSearchSelect.css";
import NProgress from "nprogress";

export default {
  components: {
    ModelSelect
  },
  methods: {
    filterHistori() {
      this.loadhistori = true;

      if (this.categoryFilter == "Daerah") {
        if (this.selected.tanggal != null) {
          this.$router.push({
            query: {
              kecamatan: this.selected.kecamatan,
              kelurahan: this.selected.kelurahan,
              waktu: this.selected.waktu,
              tanggal: this.selected.tanggal
            }
          });
        } else {
          this.$router.push({
            query: {
              kecamatan: this.selected.kecamatan,
              kelurahan: this.selected.kelurahan,
              waktu: this.selected.waktu
            }
          });
        }
      } else {
        if (this.selected.tanggal != null) {
          this.$router.push({
            query: {
              petugas: this.selected.petugas,
              waktu: this.selected.waktu,
              tanggal: this.selected.tanggal
            }
          });
        } else {
          this.$router.push({
            query: {
              petugas: this.selected.petugas,
              waktu: this.selected.waktu
            }
          });
        }
      }
      this.show_legend = true;
      Fire.$emit("AfterFilterHistoriSemua");
    },
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    cariNamaPetugas(x) {
      var petugas = this.options.find(function(element) {
        return element.value == x;
      });
      return petugas.text;
    },
    clearfilter() {
      this.selected.kecamatan = null;
      this.store_filter.kecamatan = null;
      this.disabled.kelurahan = 0;
      this.selected.kelurahan = null;
      this.store_filter.kelurahan = null;
      this.selected.waktu = null;
      this.show_legend = false;
      this.histories = [];
    },
    getColor(x) {
      if (x == "input") return "blue";
      else if (x == "update") return "yellow";
      else return "red";
    },
    getText(x) {
      if (x == true) return "Sehat";
      else if (x == false) return "Tidak Sehat";
      else return "Belum Di inspeksi";
    },
    getTextColor(x) {
      if (x == "update") return "black";
      else return "white";
    },
    selectedwaktu(x) {
      if (x == 1) return "1 minggu terakhir";
      else if (x == 2) return "1 bulan terakhir";
    },
    getHistori() {
      axios
        .get("histori/semua", {
          params: {
            kecamatan: this.selected.kecamatan,
            kelurahan: this.selected.kelurahan,
            waktu: this.selected.waktu,
            petugas: this.selected.petugas,
            tanggal: this.selected.tanggal
          }
        })
        .then(({ data }) => {
          this.histories = data.data;
          this.loadhistori = false;
        })
        .catch(err => {
          this.$store.commit("SERVER_ERROR");
          NProgress.done();
          this.loadhistori = false;
        });
    },
    changeStatusHistory(param) {
      if (param == "input") {
        return "Menambahkan";
      } else if (param == "delete") {
        return "Menghapus";
      } else {
        return "Mengubah";
      }
    },
    linkModul(id) {
      if (id == 36) return "rumah-sehat";
      else if (id == 24) return "tempat-ibadah";
      else if (id == 15) return "pasar";
      else if (id == 6) return "sekolah";
      else if (id == 7) return "pesantren";
      else if (id == 43) return "kolam-renang";
      else if (id == 4) return "puskesmas";
      else if (id == 2) return "rumah-sakit";
      else if (id == 3) return "klinik";
      else if (id == 8) return "hotel";
      else if (id == 9) return "hotel-melati";
      else if (id == 45) return "salon";
      else if (id == 40) return "jasa-boga";
      else if (id == 19) return "restoran";
      else if (id == 42) return "depot-air-minum";
      else if (id == 10) return "pelayanan-kesehatan";
      else if (id == 46) return "phbs";
    },
    onDateChange(event) {
      if (event == "") {
        this.store_filter.tanggal = null;
      }
      this.store_filter.tanggal = event;
      this.show_legend = false;
    },
    onKelurahanChange(event) {
      if (event == null) {
        this.store_filter.kelurahan = null;
      } else {
        this.store_filter.kelurahan = event;
      }
      this.show_legend = false;
    },
    onKecamatanChange(event) {
      if (event == null) {
        this.disabled.kelurahan = 0;

        this.store_filter.kecamatan = null;
        this.store_filter.kelurahan = null;

        this.selected.kelurahan = null;
      } else {
        this.getKelurahans(event);
        this.selected.kelurahan = null;
        this.store_filter.kelurahan = null;
        this.store_filter.kecamatan = event;
      }
      this.show_legend = false;
    },
    getKecamatans() {
      axios
        .get("kecamatans/custom/kecamatans-select-option")
        .then(({ data }) => {
          this.kecamatans = data.data;
        })
        .catch(err => {});
    },
    getKelurahans(kecamatan_id) {
      axios
        .get(
          "kelurahans/custom/kelurahan-select-option-by-kecamatan/" +
            kecamatan_id
        )
        .then(({ data }) => {
          this.kelurahans = data.data;
          if (this.$auth.check(4)) {
            this.disabled.kelurahan = 0;
          } else {
            this.disabled.kelurahan = 1;
          }
        })
        .catch(err => {});
    },
    loadDataKader() {
      axios
        .get("petugas-sippklings/custom/get-list-name-petugas-sippklings")
        .then(({ data }) => {
          this.options = data.data;
        })
        .catch(err => {
          NProgress.done();
        });
    }
  },
  mounted() {
    this.getHistori();
    this.loadDataKader();

    Fire.$on("AfterFilterHistoriSemua", () => {
      this.getHistori();
    });
  },
  created() {
    this.getKecamatans();

    if (this.$auth.check(1) || this.$auth.check(2)) {
      this.disabled.kecamatan = 1;
    }

    if (this.$auth.check(3)) {
      this.disabled.kecamatan = 0;
      this.disabled.kelurahan = 1;

      this.selected.kecamatan = this.$auth.user().kecamatan_id;
      this.store_filter.kecamatan = this.$auth.user().kecamatan_id;

      this.getKelurahans(this.$auth.user().kecamatan_id);
    }

    if (this.$auth.check(4)) {
      this.getKelurahans(this.$auth.user().kecamatan_id);
      this.disabled.kecamatan = 0;
      this.disabled.kelurahan = 0;

      this.selected.kecamatan = this.$auth.user().kecamatan_id;
      this.selected.kelurahan = this.$auth.user().kelurahan_id;

      this.store_filter.kecamatan = this.$auth.user().kecamatan_id;
      this.store_filter.kelurahan = this.$auth.user().kelurahan_id;
    }
  },
  computed: {
    filter() {
      return this.$store.getters.getFilter;
    },
    filterLoading() {
      return this.$store.getters.getFilterLoading;
    }
  },
  data() {
    return {
      exportdialog:false,
      search: "",
      showTable: false,
      categoryFilter: null,
      categories: [
        {
          value: null,
          disabled: true,
          text: "-Pilih Kategori Filter-"
        },
        {
          value: "Daerah",
          text: "Daerah"
        },
        {
          value: "Petugas",
          text: "Petugas"
        }
      ],
      waktu: [
        {
          value: null,
          disabled: true,
          text: "-Pilih Waktu-"
        },
        {
          value: 1,
          text: "1 minggu terakhir"
        },
        {
          value: 2,
          text: "1 bulan terakhir"
        },
        {
          value: 3,
          text: "Pilih waktu tertentu"
        }
      ],
      headers: [
        // { text: "No", value: "id" },
        { text: "Petugas", value: "nama" },
        { text: "Aktifitas", value: "aktifitas" },
        { text: "Modul", value: "data" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Waktu", value: "waktu_input" }
      ],
      loadhistori: true,
      histories: [],
      date: "",
      sekarang: "",
      kecamatans: {},
      options: [],
      form: new Form({
        subject: "",
        private: "default",
        message: "",
        sender_id: this.$auth.user().id,
        receiver_id: ""
      }),
      kelurahans: [
        {
          value: null,
          text: "Semua Kelurahan"
        }
      ],
      disabled: {
        kecamatan: 0,
        kelurahan: 0
      },
      selected: {
        kecamatan: null,
        kelurahan: null,
        tanggal: null,
        waktu: null,
        petugas: null
      },
      store_filter: {
        kecamatan: null,
        kelurahan: null,
        tanggal: null,
        loadingPayload: false
      },
      show_loading: false,
      show_legend: false
    };
  }
};
</script>