<template>
  <!-- Histori Card -->
  <b-card no-body class="card-accent-success">
    <!-- Card Header -->
    <template slot="header">
      <b-row>
        <b-col class="my-auto" sm="7">
          <h5>
            <b-img :src="'/images/icon/time.png'" class="img-indicator mr-2" />Histori
          </h5>
        </b-col>
        <b-col sm="4">
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
            class="float-right pt-0 text-xs-left"
          ></v-text-field>
        </b-col>
        <b-col sm="1">
          <router-link
            class="float-right btn btn-success btn-sm text-white"
            to="/histori/semua"
            v-if="$auth.check(1) || $auth.check(3) || $auth.check(4)"
            tag="button"
          >Lihat Semua</router-link>
        </b-col>
      </b-row>
    </template>
    <!-- End of Card Header -->
    <b-card-body class="p-0 scrollable">
      <!-- Table Items -->
      <v-data-table
        :rows-per-page-items="[5,10,25]"
        loading-text="Memuat Data .."
        hide-headers
        hide-actions
        :headers="histori_header"
        :items="histories"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <router-link
            exact
            class="cursor-pointer"
            :to="`/modul/${ubah(props.item.data)}/${props.item.objek_id}`"
            tag="tr"
          >
            <td cols="2" class="p-3">
              <img :src="'/images/icon/time.png'" class="td-avatar" alt />
            </td>

            <td cols="5" class="pt-3">
              <span v-if="props.item.aktifitas == 'delete'">{{ props.item.deleted_by }}</span>
              <span v-if="props.item.aktifitas == 'input'">{{ props.item.nama }}</span>
              <span v-else>{{ props.item.update_by }}</span>
              <br />

              <p
                v-if="props.item.aktifitas == 'input'"
              >{{ IndonesiaDateFormat(props.item.waktu_input) }}</p>
              <p
                v-else-if="props.item.aktifitas == 'delete'"
              >{{ IndonesiaDateFormat(props.item.deleted_at.date) }}</p>
              <p v-else>{{ IndonesiaDateFormat(props.item.updated_at.date) }}</p>
            </td>

            <td cols="5" class="text-xs-left">
              <v-chip
                disabled
                :text-color="getTextColor(props.item.aktifitas)"
                small
                :color="getColor(props.item.aktifitas)"
              >{{ changeStatusHistory(props.item.aktifitas) }}</v-chip>
              data {{ props.item.data }}
            </td>
          </router-link>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
          class="bg-danger"
        >Data "{{ search }}" Tidak Ditemukan.</v-alert>
        <template slot="no-data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
      </v-data-table>
      <!-- End of Table Items -->
    </b-card-body>
  </b-card>
  <!-- End of Histori Card -->
</template>
<script>
export default {
  data() {
    return {
      search: "",
      histori_header: [
        {
          text: "History Headers",
          align: "left",
          sortable: false,
          value: "nama"
        },
        { text: "Aktifitas", value: "aktifitas" },
        { text: "Waktu Histori", value: "waktu_input" },
        { text: "Tipe Petugas", value: "tipe_petugas" },
        { text: "Key Histories", value: "key_histories" },
        { text: "Datas", value: "data" },
        { text: "Action" }
      ],
      histories: {}
    };
  },
  props: ["data_id"],
  methods: {
    getHistori() {
      axios
        .get("histori/custom/get-history-with-limit/10/data/" + this.data_id, {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan,
            tanggal: this.$route.query.tanggal
          }
        })
        .then(({ data }) => {
          this.histories = data.data;
        })
        .catch(err => {
          // this.$store.commit("SERVER_ERROR");
        });
    },

    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getTextColor(x) {
      if (x == "update") return "black";
      else return "white";
    },
    getColor(x) {
      if (x == "input") return "blue";
      else if (x == "update") return "yellow";
      else return "red";
    },
    changeStatusHistory(param) {
      if (param == "input") {
        return "Menambahkan";
      } else if (param == "delete") {
        return "Menghapus";
      } else {
        return "Mengubah";
      }
    }
  },
  mounted() {
    this.getHistori();
    
    Fire.$on("AfterEventAllModule", () => {
      this.getHistori();
    });

    Fire.$on("AfterFilter", () => {
      this.getHistori();
    });
  },
  beforeDestroy(){
    Fire.$off("AfterEventAllModule");
  }
};
</script>