<template>
  <div class="animated fadeIn">
    <b-card no-body class="bg-success">
      <b-card-body class="pb-0">
        <b-row>
          <b-col cols="1">
            <b-img :src="'/images/icon/peta.png'" class="img-icon" />
          </b-col>
          <b-col cols="7">
            <p class="headline">Luas Wilayah Kota Depok</p>
          </b-col>
          <b-col cols="4">
            <p class="text-right headline">200.3 km&sup2;</p>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>

    <CardModulSatuan :header="hcard" :indikators="indikators" />

    <v-card class="text-dark mb-4">
      <!-- <h4 class="text-center">Tingkat Kepadatan Penduduk Kota Depok</h4> -->
      <v-toolbar flat color="white" class="text-center">
        <v-toolbar-title class="mx-auto">Tingkat Kepadatan Penduduk Kota Depok</v-toolbar-title>
      </v-toolbar>

      <v-data-table
        :rows-per-page-items="[5,10,25]"
        :headers="headers"
        :items="desserts"
        :expanded.sync="expanded"
        item-key="nama"
        :loading="loadingKepadatan"
        show-expand
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td class="cursor-pointer" @click="props.expanded = !props.expanded">
              <i class="fa fa-plus"></i>
            </td>
            <td>{{ props.item.nama }}</td>
            <td class="text-xs-left">{{ props.item.luas_wilayah }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_penduduk }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_keluarga }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_laki_laki }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_perempuan }}</td>
          </tr>
        </template>
        <template slot="expand" slot-scope="props">
          <v-card>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              class="w-100 text-left"
              :items="props.item.kelurahan"
              :headers="kelheaders"
              item-key="kelurahan.nama"
            >
              <template slot="items" slot-scope="props">
                <tr>
                  <td></td>
                  <td class="text-xs-left">
                    <v-chip :color="getColor(props.item.status)" dark>{{ props.item.nama }}</v-chip>
                  </td>
                  <td class="text-xs-left">{{ props.item.luas_wilayah }}</td>
                  <td class="text-xs-left">{{ props.item.jumlah_penduduk }}</td>
                  <td class="text-xs-left">{{ props.item.jumlah_keluarga }}</td>
                  <td class="text-xs-left">{{ props.item.jumlah_laki_laki }}</td>
                  <td class="text-xs-left">{{ props.item.jumlah_perempuan }}</td>
                </tr>
              </template>
            </v-data-table>
          </v-card>
        </template>
        <template slot="no-data" v-if="no_dataKepadatan">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="!no_dataKepadatan">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
    </v-card>

    <!-- <v-card class="mb-4">
      <v-toolbar flat color="white" class="text-center">
        <v-toolbar-title class="mx-auto">
          <h4 class="text-center">Tingkat Kepadatan Penduduk Kota Depok</h4>
          <h5 class="text-center">Per Wilayah Kecamatan</h5>
        </v-toolbar-title>
      </v-toolbar>

      <div class="chart-wrapper">
        <bar-example height="100" />
      </div>
    </v-card>-->

    <v-card class="mb-4">
      <v-toolbar flat color="white" class="text-center">
        <v-toolbar-title class="mx-auto">Tabel Kartu Keluarga Penduduk Kota Depok</v-toolbar-title>
      </v-toolbar>

      <v-text-field
        v-model="search_kk"
        append-icon="search"
        label="Search"
        single-line
        hide-details
        class="float-right mb-1 mr-4 text-xs-left"
      ></v-text-field>
      <v-data-table
        :rows-per-page-items="[5,10,25]"
        :headers="headers_kk"
        :items="datakk"
        :search="search_kk"
        :loading="loading"
        item-key="name"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <!-- <td>{{ desserts.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td> -->
            <td>{{ props.item.nama_kk }}</td>
            <td>{{ props.item.nmr_kk }}</td>
            <td>{{ props.item.kelurahan }}</td>
            <td class="text-xs-left">{{ props.item.petugas }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_anggota }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_laki_laki }}</td>
            <td class="text-xs-left">{{ props.item.jumlah_perempuan }}</td>

            <td class="text-xs-center">
              <!-- <v-chip :color="getColor(props.item.status)" dark> -->
              {{getStatusName(props.item.depok)}}
              <!-- </v-chip> -->
            </td>
          </tr>
        </template>

        <template slot="no-data" v-if="no_data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="!no_data">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import CardModulSatuan from "@/components/CardModulSatuan";
import BarExample from "./charts/BarExample";
import LineExample from "./charts/LineExample";
import NProgress from "nprogress";

export default {
  name: "Kartu-Keluarga",
  components: {
    CardModulSatuan,
    BarExample,
    LineExample
  },
  mounted() {
    this.$router.replace("kartu-keluarga");
    this.$store.commit("NOT_LOADING");
  },
  created() {
    this.getKartuKeluargaResource();
    this.getKepadatan();
  },
  watch: {
    $route(to, from) {
      this.$router.replace("kartu-keluarga");
      this.$store.commit("NOT_LOADING");
    }
  },
  methods: {
    getColor(status) {
      if (status == true) return "green";
      else return "red";
    },
    getStatusName(status) {
      if (status == true) return "Warga Depok";
      else return "Bukan Warga Depok";
    },
    getKartuKeluargaResource() {
      axios
        .get("kartu-keluarga")
        .then(({ data }) => {
          this.datakk = data.data;
          this.loading = false;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    getKepadatan() {
      axios
        .get("kepadatan-keluarga")
        .then(({ data }) => {
          this.desserts = data.dataWithResource;
          this.loadingKepadatan = false;
        })
        .catch(err => {
          NProgress.done();
        });
    }
  },
  data() {
    return {
      loading: true,
      loadingKepadatan: true,
      no_data: false,
      no_dataKepadatan: false,
      search_kk: "",
      expanded: [],
      datakk: [],
      selected_graph: "jumlah",
      hcard: {
        name: "Kartu Keluarga",
        icon: "jumlahpenduduk-s",
        kategori: "kk",
        modul: 99
      },
      indikators: [
        {
          name: "total",
          text: "Total",
          icon: "total",
          color: "success"
        },
        {
          name: "lakilaki",
          text: "Laki - Laki",
          icon: "jumlahlakilaki",
          color: "primary"
        },
        {
          name: "perempuan",
          text: "Perempuan",
          icon: "jumlahperempuan",
          color: "danger"
        },
        {
          name: "depok",
          text: "Warga Depok",
          icon: "information",
          color: "secondary"
        },
        {
          name: "bukan_depok",
          text: "Bukan Warga Depok",
          icon: "ban-s",
          color: "gray-400",
          value: "8912739"
        }
      ],

      headers: [
        { sortable: false },
        { text: "Kecamatan", align: "left", value: "nama" },
        { text: "Luas Wilayah", align: "left", value: "luas_wilayah" },
        { text: "Jumlah Penduduk", value: "jumlah_penduduk" },
        { text: "Jumlah Keluarga", value: "jumlah_keluarga" },
        { text: "Jumlah laki - laki", value: "jumlah_lakilaki" },
        { text: "Jumlah Perempuan", value: "jumlah_perempuan" }
      ],
      kelheaders: [
        { sortable: false },
        { text: "Kelurahan", align: "left", value: "nama" },
        { text: "Luas Wilayah", align: "left", value: "luas_wilayah" },
        { text: "Jumlah Penduduk", value: "jumlah_penduduk" },
        { text: "Jumlah Keluarga", value: "jumlah_keluarga" },
        { text: "Jumlah laki - laki", value: "jumlah_lakilaki" },
        { text: "Jumlah Perempuan", value: "jumlah_perempuan" }
      ],
      headers_kk: [
        // { text: "No", sortable: false },
        { text: "Nama KK", align: "left", value: "nama_kk" },
        { text: "No KK", align: "left", value: "nmr_kk" },
        { text: "Kelurahan", align: "left", value: "nama_kelurahan" },
        { text: "Petugas", value: "petugas" },
        { text: "Jml Anggota KK", align: "left", value: "jumlah_anggota" },
        { text: "Pria", value: "jumlah_laki_laki" },
        { text: "Wanita", value: "jumlah_perempuan" },
        { text: "Status", value: "depok" }
      ],
      desserts: [
        {
          id: 1,
          nama: "",
          luas_wilayah: 0,
          jumlah_penduduk: 0,
          jumlah_keluarga: 0,
          jumlah_laki_laki: 0,
          jumlah_perempuan: 0,
          kelurahan: [
            {
              id: 1,
              nama: "",
              luas_wilayah: 0,
              jumlah_penduduk: 0,
              jumlah_keluarga: 0,
              jumlah_laki_laki: 0,
              jumlah_perempuan: 0
            }
          ]
        }
      ]
    };
  }
};
</script>