<template>
  <div class="animated fadeIn">
    <b-card>
      <h3>Manage Konten</h3>
    </b-card>

    <!-- Home -->
    <b-card>
      <template slot="header">
        Home
        <b-btn :class="`float-right`" v-b-toggle.collapse-1 aria-controls="collapse-1">Edit</b-btn>
      </template>

      <b-collapse id="collapse-1">
        <h4>Editor</h4>
        <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>

        <b-card v-else no-body class="border-0">
          <form enctype="multipart/form-data" id="edit_home" @submit.prevent="updateHome">
            <b-row>
              <b-col cols="6">
                <label for="form-title-web">Title</label>
                <b-form-input
                  id="form-title-web"
                  size="lg"
                  name="title"
                  v-model="home.title"
                  :placeholder="home.title"
                ></b-form-input>

                <label for="form-subtitle-web">Subtitle</label>
                <b-form-input
                  id="form-subtitle-web"
                  size="sm"
                  name="subtitle"
                  :placeholder="home.subtitle"
                  v-model="home.subtitle"
                ></b-form-input>

                <label for="form-desc">Description</label>
                <b-form-textarea
                  id="form-desc"
                  :placeholder="home.konten"
                  rows="8"
                  max-rows="8"
                  name="konten"
                  v-model="home.konten"
                ></b-form-textarea>

                <label for="form-link-web">Link Button</label>
                <b-form-input
                  id="form-link-web"
                  size="sm"
                  :placeholder="home.link"
                  v-model="home.link"
                ></b-form-input>
              </b-col>
              <b-col cols="6">
                <label for="link_image">Image</label>

                <b-form-file
                  type="file"
                  ref="foto"
                  name="foto"
                  @change="onfileChanged"
                  placeholder="Choose a file"
                  drop-placeholder="Drop file here..."
                ></b-form-file>
                <b-img lazy  class="mt-5" :src="selectedFiles" fluid></b-img>
              </b-col>
            </b-row>

            <b-btn-group class="float-right mt-2">
              <b-btn @click="loadHome()" variant="link">Reset</b-btn>
              <b-btn type="submit" variant="primary">Simpan</b-btn>
            </b-btn-group>
          </form>
        </b-card>
        <v-divider></v-divider>
      </b-collapse>

      <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>
      <b-card v-else class="border-0">
        <b-row>
          <b-col class="my-auto" cols="7">
            <h2>{{home.title}}</h2>
            <h4>{{home.subtitle}}</h4>
            <p style="white-space: pre-line;">{{home.konten}}</p>
            <b-btn class="btn-dark" exact :to="home.link">Watch Video</b-btn>
          </b-col>
          <b-col class="my-auto" cols="5">
            <b-img lazy  :src="home.gambar" fluid></b-img>
          </b-col>
        </b-row>
      </b-card>
    </b-card>

    <!-- Latar Belakang -->
    <b-card>
      <template slot="header">
        Latar Belakang
        <b-btn :class="`float-right`" v-b-toggle.collapse-2 aria-controls="collapse-2">Edit</b-btn>
      </template>
      <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>

      <div v-else>
        <b-collapse id="collapse-2">
          <h4>Editor</h4>
          <b-card no-body class="border-0">
            <!-- <b-form id="form_latarbelakang">
            <b-button v-b-modal.modal-latarbelakang class="mb-2" variant="light" small>
              <i class="fa fa-plus" />
              Tambah Item
            </b-button>
            <b-modal
              @ok="tambahLatarBelakang()"
              id="modal-latarbelakang"
              centered
              ref="modal-latarbelakang"
            >
              <template v-slot:modal-title>Tambah Card</template>

              <b-form @submit.prevent="tambahLatarBelakang">
                <label for="formlb_judul">Title</label>
                <b-form-input id="formlb_judul" size="lg" v-model="tambahlb.judul"></b-form-input>

                <div class="isi">
                  <label for="formlb_bab">BAB</label>
                  <b-form-input id="formlb_bab" v-model="tambahlb.bab"></b-form-input>

                  <label for="formlb_isi">Isi</label>
                  <b-form-textarea
                    id="formlb_isi"
                    style="white-space: pre-line;"
                    rows="8"
                    max-rows="8"
                    v-model="tambahlb.isi"
                  ></b-form-textarea>
                </div>
              </b-form>
            </b-modal>
            </b-form>-->

            <div v-for="(item,index) in latarbelakangs" :key="index">
              <form enctype="multipart/form-data" @submit.prevent="updateLatarbelakang(item)">
                <b-card>
                  <b-row>
                    <b-col sm="4">
                      <label for="link_image">Image</label>
                      <b-form-file
                        type="file"
                        name="foto"
                        v-on:change="gambarLatarbelakang"
                        placeholder="Choose a file"
                        drop-placeholder="Drop file here..."
                      ></b-form-file>
                      <b-img lazy  class="img-idea" :src="gambarLB == null ? gambarLB : item.gambar" />
                    </b-col>
                    <b-col sm="7">
                      <label for="lb_judul">Title</label>
                      <b-form-input id="lb_judul" size="lg" v-model="item.title"></b-form-input>

                      <div class="isi">
                        <label for="lb_bab">Subtitle</label>
                        <b-form-input id="lb_bab" v-model="item.subtitle"></b-form-input>

                        <label for="lb_isi">Isi</label>
                        <b-form-textarea id="lb_isi" rows="8" max-rows="8" v-model="item.konten"></b-form-textarea>
                      </div>
                    </b-col>
                  </b-row>
                  <b-btn-group class="float-right mt-2">
                    <b-btn @click="loadLatarbelakangs()" variant="link">Reset</b-btn>
                    <b-btn type="submit" variant="primary">Simpan</b-btn>
                  </b-btn-group>
                </b-card>
                <v-divider></v-divider>
              </form>
            </div>
          </b-card>
        </b-collapse>

        <b-card no-body class="border-0">
          <b-row>
            <b-col cols="5">
              <div>
                <b-img lazy 
                  class="img-idea"
                  fluid
                  :src="selected_img ? selected_img : latarbelakangs[0].gambar"
                />
              </div>
            </b-col>
            <b-col cols="7">
              <div v-for="(lb,index) in latarbelakangs" :key="index">
                <b-button
                  class="btn-latbel mx-1 w-100"
                  v-on:click="changeIcon(index)"
                  v-b-toggle="`collapselb-` + index"
                >{{lb.title}}</b-button>
                <b-collapse v-bind:id="`collapselb-`+ index" visible accordion="accordion-latbel">
                  <b-card class="card-latbel">
                    <b>{{lb.subtitle}}</b>
                    <p class="isi">{{lb.konten}}</p>
                  </b-card>
                </b-collapse>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </b-card>

    <!-- Fitur -->
    <b-card>
      <template slot="header">
        Fitur
        <b-btn :class="`float-right`" v-b-toggle.collapse-3 aria-controls="collapse-3">Edit</b-btn>
      </template>

      <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>
      <div v-else>
        <b-collapse id="collapse-3">
          
            <h4>Editor</h4>
            <!-- <b-btn variant="success" v-b-modal.modal-center-3 >Tambah</b-btn> -->
          <br>
          <!-- <div v-if="notReady" class="w-100">
          <b-img lazy 
            center
            lazy
            class="w-25"
            src="https://i0.wp.com/petras-housecleaning.com/wp-content/uploads/2018/09/maintenance-image.jpg"
          />
          <p class="text-center">Fitur ini belum tersedia.</p>
          </div>-->
          <div>
            <b-modal
              id="modal-center"
              centered
              hide-footer
              title="Edit Fitur"
              @ok="updateFitur(fiturs[noweditedfitur])"
            >
              <div>
                <v-chip disabled class="w-50 mx-auto">
                  <v-avatar class="border-1">
                    <b-img lazy  :src="fiturs[noweditedfitur].gambar" />
                  </v-avatar>
                  <p>{{fiturs[noweditedfitur].namafitur}}</p>
                </v-chip>
              </div>
              <form enctype="multipart/form-data">
                <label for="gambarfitur">Gambar</label>
                <b-form-file
                  type="file"
                  name="foto"
                  @change="gambarFitur"
                  placeholder="Choose a file"
                  drop-placeholder="Drop file here..."
                ></b-form-file>
                <label for="namafitur">Nama Fitur</label>
                <b-form-input
                  title="Nama Fitur"
                  id="namafitur"
                  v-model="fiturs[noweditedfitur].namafitur"
                />
                <b-form-checkbox
                  v-model="fiturs[noweditedfitur].param"
                >{{fiturs[noweditedfitur].param}}</b-form-checkbox>
              </form>
              <b-btn @click="deleteFitur(fiturs[noweditedfitur])" variant="outline-danger">Hapus </b-btn>
            </b-modal>

            <b-modal
              id="modal-center-2"
              centered
              hide-footer
              title="Edit Output"
              @ok="updateFitur(outputs[noweditedfitur])"
            >
              <div>
                <v-chip disabled class="w-50 mx-auto">
                  <v-avatar class="border-1">
                    <b-img lazy  :src="outputs[noweditedfitur].gambar" />
                  </v-avatar>
                  <p>{{outputs[noweditedfitur].namafitur}}</p>
                </v-chip>
              </div>
              <form enctype="multipart/form-data">
                <label for="gambarfitur">Gambar</label>
                <b-form-file
                  type="file"
                  name="foto"
                  @change="gambarFitur"
                  placeholder="Choose a file"
                  drop-placeholder="Drop file here..."
                ></b-form-file>
                <label for="namafitur">Nama Output</label>
                <b-form-input
                  title="Nama Fitur"
                  id="namafitur"
                  v-model="outputs[noweditedfitur].namafitur"
                />
                <b-form-checkbox
                  v-model="outputs[noweditedfitur].param"
                >{{outputs[noweditedfitur].param}}</b-form-checkbox>
              </form>
              <b-btn @click="deleteFitur(outputs[noweditedfitur])" variant="outline-danger">Hapus </b-btn>
            </b-modal>

            <b-modal 
              id="modal-center-3"
              hide-footer
              centered
              title="Edit Fitur"
              >
              <!-- <div>
                <v-chip disabled class="w-50 mx-auto">
                  <v-avatar class="border-1">
                    <b-img lazy  :src="outputs[noweditedfitur].gambar" />
                  </v-avatar>
                  <p>{{outputs[noweditedfitur].namafitur}}</p>
                </v-chip>
              </div> -->
              <form @submit.prevent="addFiturs(addFitur)" enctype="multipart/form-data">
                <label for="gambarfitur">Gambar</label>
                <b-form-file
                  type="file"
                  name="foto"
                  @change="gambarFitur"
                  placeholder="Choose a file"
                  drop-placeholder="Drop file here..."
                ></b-form-file>
                <label for="namafitur">Nama Output</label>
                <b-form-input
                  title="Nama Fitur"
                  id="namafitur"
                  v-model="addFitur.namafitur"
                /><br>
                <!-- <b-form-checkbox
                  v-model="addFitur.param"
                  
                >Fitur</b-form-checkbox> -->
                <b-btn variant="success" type="submit">Simpan</b-btn>
              </form>
              
              </b-modal>

              <b-modal 
              id="modal-center-4"
              hide-footer
              centered
              title="Edit Output"
              >
              <!-- <div>
                <v-chip disabled class="w-50 mx-auto">
                  <v-avatar class="border-1">
                    <b-img lazy  :src="outputs[noweditedfitur].gambar" />
                  </v-avatar>
                  <p>{{outputs[noweditedfitur].namafitur}}</p>
                </v-chip>
              </div> -->
              <form @submit.prevent="addOutput(addFitur)" enctype="multipart/form-data">
                <label for="gambarfitur">Gambar</label>
                <b-form-file
                  type="file"
                  name="foto"
                  @change="gambarFitur"
                  placeholder="Choose a file"
                  drop-placeholder="Drop file here..."
                ></b-form-file>
                <label for="namafitur">Nama Output</label>
                <b-form-input
                  title="Nama Fitur"
                  id="namafitur"
                  v-model="addFitur.namafitur"
                /><br>
                <!-- <b-form-checkbox
                  v-model="addFitur.param"
                  
                >Fitur</b-form-checkbox> -->
                <b-btn variant="success" type="submit">Simpan</b-btn>
              </form>
              
              </b-modal>
        
          </div>

          <b-card no-body class="border-0">
            <b-row>
              <b-card-group deck>
                <b-col class="mr-0" cols="6">
                  <b-card>
                    <b-row>
                    <b-col cols="8"><h4>Fitur</h4></b-col>
                    <b-col cols="4"><b-btn variant="success" v-b-modal.modal-center-3 >Tambah</b-btn></b-col>
                    </b-row>
                    <b-row>
                      <b-col v-for="(fitur,index) in fiturs" :key="index" md="6">
                        <div>
                          <v-chip v-b-modal.modal-center @click="editedFitur(index)" class="w-100">
                            <v-avatar class="border-1">
                              <b-img lazy  :src="fitur.gambar" />
                            </v-avatar>
                            <p class="txt-fitur">{{fitur.namafitur}}</p>
                          </v-chip>
                        </div>
                      </b-col>
                    </b-row>
                  </b-card>
                </b-col>
                <b-col class="ml-0" cols="6">
                  <b-card>
                    <b-row>
                    <b-col><h4>Outputs</h4></b-col>
                    <b-col cols="4"><b-btn variant="success" v-b-modal.modal-center-4 >Tambah</b-btn></b-col>
                    </b-row>
                    <b-row>
                      <b-col v-for="(output,index) in outputs" :key="index" md="6">
                        <div>
                          <v-chip
                            v-b-modal.modal-center-2
                            @click="editedFitur(index)"
                            class="w-100"
                          >
                            <v-avatar>
                              <b-img lazy  :src="output.gambar" />
                            </v-avatar>
                            <p>{{output.namafitur}}</p>
                          </v-chip>
                        </div>
                      </b-col>
                    </b-row>
                  </b-card>
                </b-col>
              </b-card-group>

              <!-- <b-col cols="7">
                <v-card class="tab-fitur-output">
                  <v-card-text>
                    <v-tabs v-model="tab" background-color="transparent">
                      <v-tabs-slider color="#000"></v-tabs-slider>
                      <v-tab class="tab-fit" v-on:click="changeFitur">fitur</v-tab>
                      <v-tab class="tab-out" v-on:click="changeOutput">output</v-tab>
                    </v-tabs>

                    <v-tabs-items v-model="tab">
                      <v-tab-item>
                        <b-row>
                          <b-col v-for="(fitur,index) in fiturs" :key="index" md="6">
                            <div>
                              <v-chip
                                v-b-modal.modal-center
                                @click="editedFitur(index)"
                                class="w-100"
                              >
                                <v-avatar class="border-1">
                                  <b-img lazy  :src="fitur.gambar" />
                                </v-avatar>
                                <p class="txt-fitur">{{fitur.namafitur}}</p>
                              </v-chip>
                            </div>
                          </b-col>
                        </b-row>
                      </v-tab-item>
                      <v-tab-item>
                        <b-row>
                          <b-col v-for="(output,index) in outputs" :key="index" md="6">
                            <div>
                              <v-chip
                                v-b-modal.modal-center-2
                                @click="editedFitur(index)"
                                class="w-100"
                              >
                                <v-avatar>
                                  <b-img lazy  :src="output.gambar" />
                                </v-avatar>
                                <p>{{output.namafitur}}</p>
                              </v-chip>
                            </div>
                          </b-col>
                          <b-col>
                            <v-dialog v-model="dialog" max-width="59rem">
                              <template v-slot:activator="{ on }">
                                <v-chip
                                  class="w-100"
                                  id="myImg"
                                  v-on="on"
                                  @click="overlay = !overlay"
                                  style="text-align: center;"
                                >Lain-lain</v-chip>
                              </template>
                              <v-layout row justify-center>
                                <b-img lazy 
                                  id="myImg"
                                  class="img-dataoutput"
                                  :src="'/images/landingpage/dataoutput.png'"
                                  alt="Data Output"
                                />
                              </v-layout>
                            </v-dialog>
                          </b-col>
                        </b-row>
                      </v-tab-item>
                    </v-tabs-items>
                  </v-card-text>
                </v-card>
                <b-button v-b-modal.modal-tambahfitur class="float-right" variant="light" small>
                  <i class="fa fa-plus" />
                  Tambah Fitur
                </b-button>
              </b-col>
              <b-col cols="5">
                <label for="link_image">Image</label>
                <b-form-file placeholder="Choose a file" drop-placeholder="Drop file here..."></b-form-file>
                <b-img lazy  class="img-idea" />
              </b-col>-->
            </b-row>

            <!-- <b-modal @ok="tambahFitur()" id="modal-tambahfitur" centered ref="modal-tambahfitur">
              <template v-slot:modal-title>Tambah Fitur</template>

              <b-form @submit.prevent="tambahFitur">
                <b-row>
                  <b-col cols="8">
                    <label for="url_fitur">Gambar Fitur</label>
                    <b-form-file
                      id="url_fitur"
                      name="url"
                      v-model="fitur_form.url"
                      
                      placeholder="Choose a file"
                      drop-placeholder="Drop file here..."
                    ></b-form-file>
                  </b-col>
                  <b-col cols="4">
                    <label for="name_fitur">Nama Fitur</label>
                    <b-form-input id="name_fitur" name="name" v-model.lazy="fitur_form.name" />
                  </b-col>
                </b-row>
              </b-form>
            </b-modal>-->
          </b-card>
          <v-divider></v-divider>
        </b-collapse>
        <b-card no-body class="border-0">
          <b-row>
            <b-col class="mx-auto" md="7">
              <v-card class="tab-fitur-output">
                <v-card-text>
                  <v-tabs v-model="tab" background-color="transparent">
                    <v-tabs-slider color="#000"></v-tabs-slider>
                    <v-tab class="tab-fit" v-on:click="changeFitur">fitur</v-tab>
                    <v-tab class="tab-out" v-on:click="changeOutput">output</v-tab>
                  </v-tabs>

                  <v-tabs-items v-model="tab">
                    <v-tab-item>
                      <b-row>
                        <b-col v-for="(fitur,index) in fiturs" :key="index" md="6">
                          <div>
                            <v-chip disabled class="w-100">
                              <v-avatar>
                                <b-img lazy  :src="fitur.gambar" />
                              </v-avatar>
                              <p>{{fitur.namafitur}}</p>
                            </v-chip>
                          </div>
                        </b-col>
                      </b-row>
                    </v-tab-item>
                    <v-tab-item>
                      <b-row>
                        <b-col v-for="output in outputs" :key="output.id" md="6">
                          <div>
                            <v-chip disabled class="w-100">
                              <v-avatar>
                                <b-img lazy  :src="output.gambar" />
                              </v-avatar>
                              <p>{{output.namafitur}}</p>
                            </v-chip>
                          </div>
                        </b-col>
                        <b-col>
                          <v-dialog v-model="dialog" max-width="59rem">
                            <template v-slot:activator="{ on }">
                              <v-chip
                                class="w-100"
                                id="myImg"
                                v-on="on"
                                @click="overlay = !overlay"
                                style="text-align: center;"
                              >Lain-lain</v-chip>
                            </template>
                            <v-layout row justify-center>
                              <b-img lazy 
                                id="myImg"
                                class="img-dataoutput"
                                :src="'/images/landingpage/dataoutput.png'"
                                alt="Data Output"
                              />
                            </v-layout>
                          </v-dialog>
                        </b-col>
                      </b-row>
                    </v-tab-item>
                  </v-tabs-items>
                </v-card-text>
              </v-card>
            </b-col>
            <!-- <b-col cols="5"> -->
            <!-- <b-img lazy  class="img-fiturbsr" :src="img1" /> -->
            <!-- </b-col> -->
          </b-row>
        </b-card>
      </div>
    </b-card>

    <!-- Achievements -->
    <b-card>
      <template slot="header">
        Achievements
        <b-btn :class="`float-right`" v-b-toggle.collapse-4 aria-controls="collapse-4">Edit</b-btn>
      </template>
      <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>

      <div v-else>
        <b-collapse id="collapse-4">
          <div>
                  <b-modal 
                    id="modal-achievement-1"
                    hide-footer
                    centered
                    title="Tambah Pencapaian"
                    >
                    <form @submit.prevent="addAchievements(addAC)" enctype="multipart/form-data">
                      <label for="gambarfitur">Gambar</label>
                      <b-form-file
                        type="file"
                        name="foto"
                        @change="gambarAchievement"
                        placeholder="Choose a file"
                        drop-placeholder="Drop file here..."
                      ></b-form-file>
                      <label for="title_testimoni">Judul</label>
                      <b-form-input
                        title="Judul"
                        id="title_testimoni"
                        v-model="addAC.kategori"
                      />
                      <b-btn variant="success" type="submit">Simpan</b-btn>
                    </form>
                    
                  </b-modal>
              </div>
          <b-row>
          <b-col><h4>Editor</h4></b-col>
          <b-col cols="2"><b-btn v-b-modal.modal-achievement-1 variant="success">Tambah</b-btn></b-col>
          </b-row><br>

          <b-form id="form_achievements">
            <b-row>
              <b-col cols="6" v-for="(a,index) in achievements" :key="index">
                <b-card class="w-100">
                  <form enctype="multipart/form-data" @submit.prevent="updateAchievements(a)">
                    <b-row>
                      <b-col cols="4">
                        <b-img lazy  :src="a.icon" fluid />
                      </b-col>
                      <b-col cols="8">
                        <label for="image_medal">Gambar</label>
                        <b-form-file
                          type="file"
                          name="foto"
                          v-on:change="gambarAchievement"
                          placeholder="Choose a file"
                          drop-placeholder="Drop file here..."
                        ></b-form-file>
                        <label for="title_medal">Judul</label>
                        <b-form-input id="title_medal" v-model="a.kategori" />
                        <!-- <label for="desc_medal">Deskripsi</label>
                        <b-form-input id="desc_medal" v-model="a.desc" />-->
                      </b-col>
                    </b-row> <br>
                    <b-btn-group class="float-right">
                      <b-btn @click="loadAchievements(a)" variant="link">Reset</b-btn>
                      <b-btn @click="deleteAchievement(a)" variant="danger">Hapus</b-btn>
                      <b-btn type="submit" variant="primary">Simpan</b-btn>
                    </b-btn-group>
                  </form>
                </b-card>
              </b-col>

              <b-col cols="6">
                <!-- <b-card class="border-0"> -->
                  <!-- <div v-if="addACbtn == false" class="text-xs-center">
                    <v-btn @click="addacs()" color="blue" fab center>
                      <v-icon>add</v-icon>
                    </v-btn>
                  </div>
                  <form
                    v-else
                    enctype="multipart/form-data"
                    @submit.prevent="addAchievements(addAC)"
                  >
                    <b-col>
                      <b-col cols="4"> -->
                        <!-- <b-img lazy  :src="addAC.icon" fluid /> -->
                      <!-- </b-col>
                      <b-col cols="8">
                        <label for="image_medal">Gambar</label>
                        <b-form-file
                          type="file"
                          name="foto"
                          v-on:change="gambarAchievement"
                          placeholder="Choose a file"
                          drop-placeholder="Drop file here..."
                        ></b-form-file>
                        <label for="title_medal">Judul</label>
                        <b-form-input id="title_medal" v-model="addAC.kategori" />
                      </b-col>
                    </b-col>
                    <b-btn-group class="float-right">
                      <b-btn @click="loadAchievements(a)" variant="link">Reset</b-btn>
                      <b-btn @click="deleteAchievement(a)" variant="danger">Hapus</b-btn>
                      <b-btn type="submit" variant="primary">Simpan</b-btn>
                    </b-btn-group>
                  </form>
                </b-card> -->
              </b-col>
            </b-row>

            <div class="flex-grow-1"></div>
          </b-form>
          <v-divider />
        </b-collapse>
        <b-card no-body class="border-0">
          <v-carousel class="car-achievement" hide-delimiters height>
            <v-carousel-item v-for="(achievement,index) in achievements" :key="index">
              <b-row>
                <b-col class="card-piala" sm="12">
                  <div class="each-piala mx-auto">
                    <b-img lazy  class="img-piala mb-0" center :src="achievement.icon" />
                    <!-- <h5 class="txt-tahun"> {{achievement.year}}</h5> -->
                    <v-divider></v-divider>
                    <p class="txt-peringkat text-center">{{achievement.kategori}}</p>
                  </div>
                </b-col>
              </b-row>
            </v-carousel-item>
          </v-carousel>
        </b-card>
      </div>
    </b-card>

    <!-- Testimoni -->
    <b-card>
      <template slot="header">
        Testimoni
        <b-btn :class="`float-right`" v-b-toggle.collapse-5 aria-controls="collapse-5">Edit</b-btn>
      </template>

      <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>

      <div v-else>
        <b-collapse id="collapse-5">
          <div>
                  <b-modal 
                    id="modal-testimoni-1"
                    hide-footer
                    centered
                    title="Tambah Testimoni"
                    >
                    <form @submit.prevent="addTestimoni(addTesti)" enctype="multipart/form-data">
                      <label for="gambarfitur">Gambar</label>
                      <b-form-file
                        type="file"
                        name="foto"
                        @change="gambarTestimoni"
                        placeholder="Choose a file"
                        drop-placeholder="Drop file here..."
                      ></b-form-file>
                      <label for="title_testimoni">Judul</label>
                      <b-form-input
                        title="Judul"
                        id="title_testimoni"
                        v-model="addTesti.judul"
                      />
                      <b-btn variant="success" type="submit">Simpan</b-btn>
                    </form>
                    
                  </b-modal>
              </div>
              <b-row>
                <b-col><h4>Editor</h4></b-col>
                <b-col cols="2"><b-btn v-b-modal.modal-testimoni-1 variant="success">Tambah</b-btn></b-col>
              </b-row><br>

          <b-row>
            <b-col v-for="(t,index) in testimonis" :key="index" cols="4">
              <b-card>
                <b-form @submit.prevent="updateTestimoni(t)" id="form_testimoni">
                  <b-img lazy  fluid class="img-testimoni" :src="t.gambar" />
                  <div class="p-2">
                    <label for="img_testimoni">Gambar</label>
                    <b-form-file
                      type="file"
                      name="foto"
                      v-on:change="gambarTestimoni"
                      placeholder="Choose a file"
                      drop-placeholder="Drop file here..."
                    ></b-form-file>
                    <label for="title_testimoni">Judul</label>
                    <b-form-input id="title_testimoni" v-model="t.judul"></b-form-input>
                  </div>
                  <b-btn-group class="float-right mx-2">
                    <b-btn @click="loadTestimoni()" variant="link">Reset</b-btn>
                    <b-btn @click="deleteTestimoni(t)" variant="danger"> Hapus </b-btn>
                    <b-btn type="submit" variant="primary">Simpan</b-btn>
                  </b-btn-group>
                </b-form>
              </b-card>
            </b-col>
            <b-col cols="4">
              <!-- <div v-if="addTSbtn == false" class="text-xs-center">
                <v-btn @click="addts()" color="blue" fab center>
                  <v-icon>add</v-icon>
                </v-btn>
              </div> -->
              <!-- <b-card>
                <b-form @submit.prevent="addTestimoni(addTesti)" id="form_testimoni"> -->
                  <!-- <b-img lazy  fluid class="img-testimoni" :src="addTesti.gambar" /> -->
                  <!-- <div class="p-2">
                    <label for="img_testimoni">Gambar</label>
                    <b-form-file
                      type="file"
                      name="foto"
                      v-on:change="gambarTestimoni"
                      placeholder="Choose a file"
                      drop-placeholder="Drop file here..."
                    ></b-form-file>
                    <label for="title_testimoni">Judul</label>
                    <b-form-input id="title_testimoni" v-model="addTesti.judul"></b-form-input>
                </div>
                  <div class="float-right mx-2">
                    <b-btn @click="loadTestimoni()" variant="link">Reset</b-btn>            
                    <b-btn type="submit" variant="primary">Simpan</b-btn>
                  </div>
                </b-form>
              </b-card> -->
            </b-col>
          </b-row>

          <v-divider />
        </b-collapse>
        <b-card no-body class="border-0">
          <b-row>
            <b-col
              sm="4"
              class="each-testi mx-auto"
              v-for="(testi,index) in testimonis"
              :key="index"
            >
              <div>
                <div>
                  <b-img lazy  class="img-testi" :src="testi.gambar" />
                  <br />
                </div>
                <p class="text-center">{{testi.judul}}</p>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </b-card>

    <!-- Screenshots -->
    <b-card>
      <template slot="header">
        Screenshots
        <b-btn :class="`float-right`" v-b-toggle.collapse-6 aria-controls="collapse-6">Edit</b-btn>
      </template>

      


      <b-loading variant="Wave" class="mx-auto" v-if="loading_home == true">Memuat data</b-loading>

      <div v-else>
        <b-collapse id="collapse-6">
                 <div>
                  <b-modal 
                    id="modal-ss-1"
                    hide-footer
                    centered
                    title="Tambah Screenshot"
                    >
                    <form @submit.prevent="addScreenshot(addSS)" enctype="multipart/form-data">
                      <label for="gambarfitur">Gambar</label>
                      <b-form-file
                        type="file"
                        name="foto"
                        @change="gambarScreenshot"
                        placeholder="Choose a file"
                        drop-placeholder="Drop file here..."
                      ></b-form-file>
                      <label for="namafitur">Alt Gambar</label>
                      <b-form-input
                        title="Nama Fitur"
                        id="namafitur"
                        v-model="addSS.alt"
                      />
                      <b-form-checkbox
                        v-model="addSS.param"
                        
                      >True</b-form-checkbox>
                      <b-btn variant="success" type="submit">Simpan</b-btn>
                    </form>
                    
                  </b-modal>
              </div> 
                
          <b-row>
          <b-col cols="10"><h4>Editor</h4></b-col>
          <b-col cols="2"><b-btn v-b-modal.modal-ss-1 variant="success">Tambah</b-btn></b-col>
             
          </b-row>
          <br>
          <!-- <b-button v-b-modal.modal-tambahss class="mb-2" variant="light" small>
          <i class="fa fa-plus" />
          Tambah Screenshot
        </b-button>

        <b-modal @ok="tambahSs()" id="modal-tambahss" centered ref="modal-tambahss">
          <template v-slot:modal-title>Tambah Screenshot</template>

          <b-form @submit.prevent="tambahSs">
            <b-form-file
              id="url_ss"
              name="url"
              v-model="tambahss.url"
              
              placeholder="Choose a file"
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </b-form>
          </b-modal>-->

          <b-form id="form_screenshot">
            <b-row>
              <b-col v-for="(s,index) in screenshots" :key="index" cols="4">
                <b-card>
                  <form @submit.prevent="updateScreenshot(s)">
                    <b-row>
                      <b-col sm="5">
                        <b-img lazy  center fluid :src="s.gambar" />
                      </b-col>
                      <b-col sm="7">
                        <label for="img_ss">Gambar</label>
                        <b-form-file
                          id="img_ss"
                          type="file"
                          name="foto"
                          v-on:change="gambarScreenshot"
                          placeholder="Choose a file"
                          drop-placeholder="Drop file here..."
                        ></b-form-file>

                        <label for="alt">Label</label>
                        <b-form-input v-model="s.alt" />

                        <p>
                          Param :
                          <b-form-checkbox inline v-model="s.param">{{s.param}}</b-form-checkbox>
                        </p>
                      </b-col>
                    </b-row>

                    <b-btn-group class="float-right">
                      <b-btn @click="loadScreenshot()" variant="link">Reset</b-btn>
                      <b-btn variant="danger" @click="deleteScreenshot(s)" > Hapus </b-btn>
                      <b-btn type="submit" variant="primary">Simpan</b-btn>
                    </b-btn-group>
                  </form>
                </b-card>
              </b-col>
            </b-row>
          </b-form>
          <v-divider />
        </b-collapse>
        <b-card no-body class="border-0">
          <b-row class="justify-content-md-center">
            <b-col>
              <v-carousel dark class="car-achievement" hide-delimiters>
                <v-carousel-item v-for="(hp,index) in screenshots" :key="index">
                  <b-img lazy  fluid class="img-screenshot-hp" :src="hp.gambar" />
                </v-carousel-item>
              </v-carousel>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </b-card>

    <!-- 
    <b-card>
      <template slot="header">
        Guide
      </template>

      <b-card no-body class="border-0">
        <b-form>
          <b-row>
            <b-col cols="4">
              <label for="link_link">Link</label>
              <b-form-input id="link_link" title="Link" />
            </b-col>
          </b-row>

          <b-btn-group class="float-right">
            <b-btn variant="link">Reset</b-btn>
            <b-btn type="submit" variant="primary">Simpan</b-btn>
          </b-btn-group>
        </b-form>
      </b-card>
    </b-card>-->
  </div>
</template>
<script>
export default {
  name: "Managekonten",

  mounted() {
    this.loadAchievements();
    this.loadFitur();
    this.loadTestimoni();
    this.loadScreenshot();
    this.loadHome();
    this.loadLatarbelakangs();
  },
  created() {
    Fire.$on("AfterEvent", () => {
      this.loadAchievements();
      this.loadFitur();
      this.loadTestimoni();
      this.loadScreenshot();
      this.loadHome();
      this.loadLatarbelakangs();
    });
  },
  methods: {
    // Methods Achievements
    loadAchievements() {
      axios
        .get("landing-page/achievements")
        .then(data => {
          this.achievements = data.data.achievement;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    addAchievements(item) {
      let formData = new FormData();
      if (this.gambarAC != null) {
        formData.append("foto", this.gambarAC);
        // this.gambarAC = null;
      }
      formData.append("kategori", item.kategori);
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/achievement/", formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");    
          this.gambarAC = null;          
          Fire.$emit("AfterEvent");
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    addacs() {
      this.addACbtn = !this.addACbtn;
    },
    updateAchievements(item) {
      let formData = new FormData();
      if (this.gambarAC != null) {
        formData.append("foto", this.gambarAC);
        this.gambarAC = null;
      }
      formData.append("kategori", item.kategori);
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/achievement/" + item.id, formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarAC = null;
        }) 
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    gambarAchievement(event) {
      const image = event.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = event => {
        this.gambarAC = event.target.result;
      };
    },
    deleteAchievement(item){
      swal
        .fire({
          title: "Apakah anda yakin akan menghapus data?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            swal.fire({
              text: "Dalam proses...",
              allowOutsideClick: true,
              allowEscapeKey: false,
              allowEnterKey: false,
              onBeforeOpen: () => {
                swal.showLoading();
          }
        });

          axios
          .delete("manage-konten/achievement/hapus/" + item.id)
          .then(() => {
            swal.fire(
              "Berhasil!",
              "Data berhasil dihapus,",
              "success"
            );
            Fire.$emit("AfterEvent");
          })
           .catch(()=> {
             swal.fire(
                  "Gagal!",
                  "Kesalahan pada jaringan, silahkan coba lagi.",
                  "warning"
                );
           });
          }
        });
    },

    //Methods Screenshots
    loadScreenshot() {
      axios
        .get("landing-page/screenshots")
        .then(data => {
          this.screenshots = data.data.screenshot;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    gambarScreenshot(event) {
      const image = event.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = event => {
        this.gambarSS = event.target.result;
      };
    },
    addScreenshot(item){
      let formData = new FormData();
      formData.append("param", item.param);
      formData.append("alt", item.alt);
      if (this.gambarSS != null){
        formData.append("foto", this.gambarSS);
        this.gambarSS = null;
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      axios
        .post("manage-konten/screenshot/", formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarSS = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    updateScreenshot(item) {
      let formData = new FormData();
      formData.append("alt", item.alt);
      formData.append("param", item.param);
      if (this.gambarSS != null) {
        formData.append("foto", this.gambarSS);
        this.gambarSS = null;
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/screenshots/" + item.id, formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarSS = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    deleteScreenshot(item){
      swal
        .fire({
          title: "Apakah anda yakin akan menghapus data?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            swal.fire({
              text: "Dalam proses...",
              allowOutsideClick: true,
              allowEscapeKey: false,
              allowEnterKey: false,
              onBeforeOpen: () => {
                swal.showLoading();
          }
        });

          axios
          .delete("manage-konten/screenshots/hapus/" + item.id)
          .then(() => {
            swal.fire(
              "Berhasil!",
              "Data berhasil dihapus,",
              "success"
            );
            Fire.$emit("AfterEvent");
          })
           .catch(()=> {
             swal.fire(
                  "Gagal!",
                  "Kesalahan pada jaringan, silahkan coba lagi.",
                  "warning"
                );
           });
          }
        });
    },

    // Methods Fitur
    loadFitur() {
      axios
        .get("landing-page/fitur")
        .then(data => {
          (this.fiturs = data.data.fiturs), (this.outputs = data.data.outputs);
          this.$store.commit("NOT_LOADING");
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    changeFitur() {
      this.img1 = "/images/landingpage/fitur.png";
    },
    changeOutput() {
      this.img1 = "/images/landingpage/output.png";
    },
    editedFitur(id) {
      this.noweditedfitur = id;
    },
    gambarFitur(event) {
      const image = event.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = event => {
        this.gambarFiturs = event.target.result;
      };
    },
    addFiturs(item){
      let formData = new FormData();
      formData.append("param", true);
      formData.append("namafitur", item.namafitur);
      if (this.gambarFiturs != null){
        formData.append("foto", this.gambarFiturs);
        // this.gambarFiturs = null;
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      axios
        .post("manage-konten/fitur/", formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarFiturs = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    addOutput(item){
      let formData = new FormData();
      formData.append("param", false);
      formData.append("namafitur", item.namafitur);
      if (this.gambarFiturs != null){
        formData.append("foto", this.gambarFiturs);
        // this.gambarFiturs = null;
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      axios
        .post("manage-konten/fitur/", formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarFiturs = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    updateFitur(item) {
      let formData = new FormData();
      formData.append("param", item.param);
      formData.append("namafitur", item.namafitur);
      if (this.gambarFiturs != null) {
        formData.append("foto", this.gambarFiturs);
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/fitur/" + item.id, formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarFiturs = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    deleteFitur(item){
      swal
        .fire({
          title: "Apakah anda yakin akan menghapus data?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            swal.fire({
              text: "Dalam proses...",
              allowOutsideClick: true,
              allowEscapeKey: false,
              allowEnterKey: false,
              onBeforeOpen: () => {
                swal.showLoading();
          }
        });

          axios
          .delete("manage-konten/fitur/hapus/" + item.id)
          .then(() => {
            swal.fire(
              "Berhasil!",
              "Data berhasil dihapus,",
              "success"
            );
            Fire.$emit("AfterEvent");
          })
           .catch(()=> {
             swal.fire(
                  "Gagal!",
                  "Kesalahan pada jaringan, silahkan coba lagi.",
                  "warning"
                );
           });
          }
        });
    },

    // Methods Testimoni
    loadTestimoni() {
      axios
        .get("landing-page/testimonis")
        .then(data => {
          this.testimonis = data.data.testimoni;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    gambarTestimoni(event) {
      const image = event.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = event => {
        this.gambarTesti = event.target.result;
      };
    },
    addts() {
      this.addTSbtn = !this.addTSbtn;
    },
    addTestimoni(item) {
      let formData = new FormData();
      formData.append("judul", item.judul);
      if (this.gambarTesti != null) {
        formData.append("foto", this.gambarTesti);
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      axios
        .post("manage-konten/testimoni", formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarTesti = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },

    updateTestimoni(item) {
      let formData = new FormData();
      formData.append("judul", item.judul);
      if (this.gambarTesti != null) {
        formData.append("foto", this.gambarTesti);
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/testimoni/" + item.id, formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.gambarTesti = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    deleteTestimoni(item){
      swal
        .fire({
          title: "Apakah anda yakin akan menghapus data?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            swal.fire({
              text: "Dalam proses...",
              allowOutsideClick: true,
              allowEscapeKey: false,
              allowEnterKey: false,
              onBeforeOpen: () => {
                swal.showLoading();
          }
        });

          axios
          .delete("manage-konten/testimoni/hapus/" + item.id)
          .then(() => {
            swal.fire(
              "Berhasil!",
              "Data berhasil dihapus,",
              "success"
            );
            Fire.$emit("AfterEvent");
          })
           .catch(()=> {
             swal.fire(
                  "Gagal!",
                  "Kesalahan pada jaringan, silahkan coba lagi.",
                  "warning"
                );
           });
          }
        });
    },
  

    //Methods Home
    loadHome() {
      axios
        .get("landing-page/home")
        .then(data => {
          this.home = data.data.data[0];
          this.loading_home = false;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    updateHome() {
      let formData = new FormData();
      formData.append("title", this.home.title);
      formData.append("subtitle", this.home.subtitle);
      formData.append("konten", this.home.konten);
      formData.append("link", this.home.link);
      if (this.selectedFiles != null) {
        formData.append("foto", this.selectedFiles);
        this.selectedFiles = null;
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/home/" + this.home.id, formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.selectedFiles = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    onfileChanged(e) {
      const image = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = e => {
        this.selectedFiles = e.target.result;
      };
    },

    // Methods Latar Belakang
    loadLatarbelakangs() {
      axios
        .get("landing-page/latarbelakang")
        .then(data => {
          this.latarbelakangs = data.data.latarbelakangs;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },
    changeIcon(index) {
      this.selected_img = this.latarbelakangs[index].gambar;
    },
    gambarLatarbelakang(event) {
      const image = event.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = event => {
        this.gambarLB = event.target.result;
      };
    },
    updateLatarbelakang(item) {
      let formData = new FormData();
      formData.append("title", item.title);
      formData.append("subtitle", item.subtitle);
      formData.append("konten", item.konten);
      // formData.append("link", this.home.link);
      if (this.gambarLB != null) {
        formData.append("foto", this.gambarLB);
        this.gambarLB = null;
      }
      let config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      axios
        .post("manage-konten/home/" + item.id, formData, config)
        .then(response => {
          alert("Berhasil Menyimpan Perubahan!");
          Fire.$emit("AfterEvent");
          this.selected_img = null;
        })
        .catch(err => {
          alert("Gagal Terhubung ke Server!");
        });
    },

    closeTab(x) {
      for (let i = 0; i < this.tabs.length; i++) {
        if (this.tabs[i] === x) {
          this.tabs.splice(i, 1);
        }
      }
    },

    tambahFitur() {
      // this.fiturCounter++;
      this.inside.push({
        url: this.fitur_form.url,
        name: this.fitur_form.name
      });
      this.fitur_form = {};

      console.log("berhasil Tambah fitur");
    },
    tambahLatarBelakang() {
      // this.fiturCounter++;
      this.lbs.push({
        judul: this.tambahlb.judul,
        bab: this.tambahlb.bab,
        isi: this.tambahlb.isi
      });
      this.tambahlb = {};

      console.log("berhasil Tambah LB");
    },
    tambahAchievements() {
      this.achievements.push({
        url: this.tambahacs.url,
        title: this.tambahacs.title,
        desc: this.tambahacs.desc
      });
      this.tambahacs = {};

      console.log("berhasil Tambah Ac");
    },
    tambahTestimoni() {
      this.testimonis.push({
        url: this.tambahtesti.url,
        title: this.tambahtesti.title
      });
      this.tambahtesti = {};

      console.log("berhasil Tambah Testimoni");
    },
    tambahSs() {
      this.screenshots.push({
        url: this.tambahss.url
      });
      this.tambahss = {};

      console.log("berhasil Tambah SS");
    }
  },

  data() {
    return {
      gambarFiturs: null,
      gambarAC: null,
      gambarLB: null,
      gambarTesti: null,
      gambarSS: null,
      selected_img: null,
      selectedFiles: null,
      dialog: false,

      addAC: {},
      addACbtn: false,
      addTesti: {},
      addTSbtn: false,
      addFitur: {},
      addSS: {},

      loading_home: true,
      home: {},
      latarbelakangs: [],
      achievements: [],
      outputs: [],
      fiturs: [],
      screenshots: [],
      fitur_form: {},
      tambahlb: {},
      tambahacs: {},
      tambahtesti: {},
      testimonis: [],
      tambahss: {},
      tab: null,
      notReady: true,
      noweditedfitur: 0
    };
  }
};
</script>

<style scoped>
.car-achievement{
  padding-top: 2rem;
}
</style>