<template>
  <div class="animated fadeIn">
    <b-card>
      <template slot="header">
        <h3 class="float-left">Penyesuaian Data</h3>
        <!-- <b-button v-b-modal.modal-1 class="float-right" variant="outline-primary">Tambah OPD</b-button> -->
        <router-link class="btn btn-primary float-right" to="admin/tambah-admin">
          <i class="fa fa-plus" /> Tambah OPD
        </router-link>
      </template>
      <!-- <b-row>
        <b-modal
          id="modal-1"
          centered
          title="Tambah OPD"
          @ok.prevent="onSubmitOpd"
          ok-title="Tambah OPD"
        >
          <form @submit.prevent="onSubmitOpd" @keydown="form.onKeydown($event)">
            <div class="form-group">
              <label>Nama OPD *</label>
              <input
                v-model="form.nama"
                type="text"
                name="nama"
                placeholder="Masukan nama OPD"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('nama') }"
              />
              <has-error :form="form" field="nama"></has-error>
            </div>
          </form>
        </b-modal>
      </b-row>-->

      <!-- <b-row> -->
      <b-card-group columns>
        <!-- <b-col> -->
        <b-card
          v-for="modul in moduls"
          :key="modul.id"
          no-body
          class="bg-gray-100"
          v-b-toggle="'collapse-'+ modul.id"
        >
          <b-card-body class="headlinehover-gray-100 pl-5 text-center">
            <b-row>
              <b-col sm="3">
                <b-img center :src="`/images/icon/${modul.url}.png`" class="img-icon-info" />
              </b-col>
              <b-col sm="9">
                <h5 center>{{modul.name}}</h5>
              </b-col>
            </b-row>
          </b-card-body>
          <b-collapse v-bind:id="'collapse-'+ modul.id" class="text-dark">
            <b-card>
              <b-form-group>
                <b-form-checkbox-group id="basicCheckboxes" stacked>
                  <b-row>
                    <b-col>
                      <b-form-checkbox-group
                        v-for="opd in opds"
                        v-model="modul.selected"
                        :key="opd.id"
                        @change="changeOpdModulStatus(opd.id, modul.id, $event)"
                      >
                        <b-form-checkbox v-bind:value="opd.id">{{ opd.nama }}</b-form-checkbox>
                      </b-form-checkbox-group>

                      <!-- <p>Selected : {{modul.selected}}</p> -->
                    </b-col>
                  </b-row>
                </b-form-checkbox-group>
              </b-form-group>
            </b-card>
          </b-collapse>
        </b-card>
        <!-- </b-col> -->
      </b-card-group>
      <!-- </b-row> -->
      <!-- <div slot="footer" class="float-right">
        <b-button type="submit" variant="primary">Simpan</b-button>
      </div>-->
    </b-card>
  </div>
</template>
<script>
export default {
  name: "Penyesuaiandata",
  data() {
    return {
      form: new Form({
        nama: ""
      }),
      dialog: false,
      opds: {},
      moduls: [
        {
          url: "rumahsehat",
          id: 36,
          name: "Rumah Sehat",
          selected: []
        },
        { url: "tempatibadah", id: 24, name: "Tempat Ibadah", selected: [] },
        { url: "pasar", id: 15, name: "Pasar", selected: [] },
        { url: "sekolah", id: 6, name: "Sekolah", selected: [] },
        { url: "pesantren", id: 7, name: "Pesantren", selected: [] },
        { url: "kolamrenang", id: 43, name: "Kolam Renang", selected: [] },
        { url: "puskesmas", id: 4, name: "Puskesmas", selected: [] },
        { url: "rumahsakit", id: 2, name: "Rumah Sakit", selected: [] },
        { url: "klinik", id: 3, name: "Klinik", selected: [] },
        { url: "hotel", id: 8, name: "Hotel", selected: [] },
        { url: "hotelmelati", id: 9, name: "Hotel Melati", selected: [] },
        { url: "salon", id: 46, name: "Salon", selected: [] },
        { url: "pemeriksaanjasaboga", id: 40, name: "Jasa Boga", selected: [] },
        { url: "rumahmakanrestaurant", id: 44, name: "Restoran", selected: [] },
        { url: "depotairminum", id: 42, name: "Depot Air Minum", selected: [] },
        {
          url: "kesehatanlingkungan",
          id: 10,
          name: "Pelayanan Kesehatan",
          selected: []
        },
        { url: "phbs-s", id: 45, name: "PHBS", selected: [] }
      ],
      desserts: []
    };
  },
  methods: {
    loadOpds() {
      axios
        .get("/list-opd-user")
        .then(({ data }) => {
          this.opds = data.data;
          this.$store.commit("NOT_LOADING");
        })
        .catch(err => {});
    },
    selectOpdRadioGroup() {
      axios
        .get("list-opd-radio-group-selected")
        .then(({ data }) => {
          for (let index = 0; index < data.length; index++) {
            this.moduls[index].selected = data[index];
          }
        })
        .catch(err => {
          console.log(data);
        });
    },
    onSubmitOpd() {
      this.form
        .post("opds")
        .then(({ data }) => this.loadOpds())
        .catch(err => {
          console.log(err);
        });
    },
    changeOpdModulStatus(id_user, id_modul, event) {
      axios
        .post("change-opd-modul-status/" + id_user + "/" + id_modul)
        .then(data => {
          this.selectOpdRadioGroup();
        })
        .catch(err => {});
    }
  },

  created() {
    this.loadOpds();
    this.selectOpdRadioGroup();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  }
};
</script>
