<template>
  <div class="animated fadeIn">
    <b-card title="Tulis Pesan">
      <b-form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)" id="formpesan">
        <b-row>
          <b-col sm="2">
            <span>Kategori</span>
          </b-col>
          <b-col sm="10">
            <!-- <b-form-select
                id="basicSelect"
                :plain="true"
                :options="['-Please select-', 'Broadcast' , 'Private Message']"
                value="-Please select-"
            />-->
            <b-form-select v-model="form.private" :options="broadcast" value="Pilih Kategori" />
          </b-col>
        </b-row>
        <b-row class="mt-2" v-show="form.private == false">
          <b-col sm="2">
            <span>Kecamatan</span>
          </b-col>
          <b-col sm="10">
            <b-form-select
              id="basicSelect"
              :options="['-Please select-', 'Beji' , 'Depok']"
              value="-Please select-"
            />
          </b-col>
        </b-row>
        <b-row class="mt-2" v-show="form.private == false">
          <b-col sm="2">
            <span>Kelurahan</span>
          </b-col>
          <b-col sm="10">
            <b-form-select
              id="basicSelect"
              :options="['-Please select-', 'Beji Timur' , 'Beji Utara']"
              value="-Please select-"
            />
          </b-col>
        </b-row>
        <b-row class="mt-2" v-show="form.private == true">
          <b-col sm="2">
            <span>Tujuan</span>
          </b-col>
          <b-col sm="10">
            <model-select
              ref="select"
              class="form-control"
              :options="options"
              v-model="form.receiver_id"
              :class="{ 'is-invalid': form.errors.has('receiver_id') }"
            ></model-select>
            <has-error :form="form" field="receiver_id"></has-error>
          </b-col>
        </b-row>

        <b-row class="mt-2">
          <b-col sm="2">
            <span>Judul</span>
          </b-col>
          <b-col sm="10">
            <input
              v-model="form.subject"
              type="text"
              name="subject"
              class="form-control"
              :class="{ 'is-invalid': form.errors.has('subject') }"
            />
            <has-error :form="form" field="subject"></has-error>
          </b-col>
        </b-row>
        <b-row class="mt-2">
          <b-col sm="2">
            <span>Isi Pesan</span>
          </b-col>
          <b-col sm="10">
            <textarea
              rows="5"
              v-model="form.message"
              name="message"
              class="form-control"
              :class="{ 'is-invalid': form.errors.has('message') }"
            />
            <has-error :form="form" field="message"></has-error>
          </b-col>
        </b-row>
        <div slot="footer" class="float-right mt-2">
          <b-button type="submit" variant="primary">
            <i class="fa fa-dot-circle-o" /> Kirim
          </b-button>
          <!-- <b-button type="reset" size="sm" variant="danger">
            <i class="fa fa-ban"/> Reset
          </b-button>-->
        </div>
      </b-form>
    </b-card>
    <b-card title="Pesan Terkirim">
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
        class="float-right pt-0 mb-3 text-xs-left"
      ></v-text-field>
      <v-data-table
        :rows-per-page-items="[5,10,25]"
        :loading="loading"
        loading-text="Loading... Please wait"
        :headers="headers"
        :items="messages"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td
            class="text-xs-left"
          >{{messages.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
          <td class="text-xs-left">{{ props.item.private ? 'Private' : 'Broadcast' }}</td>
          <td class="text-xs-left">{{ props.item.created_at }}</td>
          <td class="text-xs-left">{{ props.item.subject }}</td>
          <td class="justify-center">
            <b-btn variant="gray-200" small @click="deleteMessageById(props.item.id)">Hapus</b-btn>
          </td>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >Data "{{ search }}" Tidak Ditemukan.</v-alert>
        <template slot="no-data" v-if="no_data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="!no_data">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
    </b-card>
  </div>
</template>

<script>
import { ModelSelect } from "vue-search-select";
import "vue-search-select/dist/VueSearchSelect.css";
import NProgress from "nprogress";

export default {
  name: "Pesan",
  components: {
    ModelSelect
  },
  data() {
    return {
      loading: true,
      no_data: false,
      search: "",
      form: new Form({
        subject: "",
        private: "default",
        message: "",
        sender_id: this.$auth.user().id,
        receiver_id: ""
      }),
      broadcast: [
        { value: null, text: "Pilih Kategori", disabled: true },
        { value: false, text: "Broadcast" },
        { value: true, text: "Private Message" }
      ],
      headers: [
        { text: "No", value: "nomor" },
        { text: "Jenis", value: "private" },
        { text: "Waktu", value: "created_at" },
        { text: "Subject", value: "subject" },
        { text: "Action", sortable: false }
      ],
      messages: [],
      options: [],
      item: {
        value: "",
        text: ""
      }
    };
  },
  methods: {
    onReset() {
      this.form.subject = "";
      this.form.title = "";
      this.form.message = "";
      this.form.private = "";
      this.form.sender_id = this.$auth.user().id;
      this.form.receiver_id = "";
    },
    loadMessageById() {
      axios
        .get("messages")
        .then(({ data }) => {
          this.messages = data.data;
          this.loading = false;
          this.$store.commit("NOT_LOADING");
          if (data.data.length <= 0) {
            this.no_data = true;
          }
        })
        .catch(err => {
          NProgress.done();
        });
    },
    onSubmit() {
      this.form
        .post("messages")
        .then(({ data }) => {
          this.onReset();
          this.loadMessageById();
        })
        .catch(err => {
          NProgress.done();
        });
    },
    loadDataKader() {
      axios
        .get("petugas-sippklings/custom/get-list-name-petugas-sippklings")
        .then(({ data }) => {
          this.options = data.data;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    deleteMessageById(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .delete("messages/" + id)
              .then(() => {
                swal.fire("Berhasil!", "Pesan berhasil dihapus.", "success");
                Fire.$emit("AfterActionMessage");
              })
              .catch(() => {
                NProgress.done();
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    }
  },
  mounted() {
    this.loadMessageById();
    this.loadDataKader();
  },
  created() {
    Fire.$on("AfterActionMessage", () => {
      this.loadmessageById();
    });
  }
};
</script>
