  <template>
  <div class="animated fadeIn">
    <v-dialog v-model="showdp" max-width="290">
      <v-card>
        <v-img
          :src="profil.data_petugas.foto == null ? '/images/icon/profileicon.png' : '/storage/images/profil/' + profil.data_petugas.foto"
          :lazy-src="profil.data_petugas.foto == null ? '/images/icon/profileicon.png' : '/storage/images/profil/' + profil.data_petugas.foto"
        >
          <template v-slot:placeholder>
            <v-layout fill-height align-center justify-center ma-0>
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-layout>
          </template>
        </v-img>
      </v-card>
    </v-dialog>
    <b-card
      overlay
      img-src="/images/background/bg-profil.png"
      img-alt="Card Image"
      text-variant="white"
      class="mb-0"
      style="max-height:222px;"
    >
      <b-loading variant="Circle8" class="mx-auto" v-if="loadingComponent">Memuat data</b-loading>
      <b-card-body v-else class="py-0">
        <div class>
          <div class="img-profil-container mx-auto">
            <b-img
              class="img-profil my-auto cursor-pointer"
              fluid
              @click="showdp = !showdp"
              v-b-tooltip.hover
              title="Klik gambar untuk memperbesar"
              :src="profil.data_petugas.foto == null ? '/images/icon/profileicon.png' : '/storage/images/profil/' + profil.data_petugas.foto"
              center
            />
          </div>
        </div>
        <h3 class="text-center">
          <b>{{ profil.data_petugas.nama }}</b>
        </h3>
        <p class="text-center">
          <span
            v-if="profil.kecamatan != null && profil.kecamatan != 'null'  "
          >Kecamatan {{ profil.kecamatan }}</span>
          <span
            v-if="profil.kelurahan != null && profil.kelurahan != 'null'  "
          >, Kelurahan {{profil.kelurahan}}</span>
        </p>
      </b-card-body>
    </b-card>

    <b-card class="mt-0">
      <b-loading variant="Circle8" class="mx-auto" v-if="loadingComponent">Memuat data</b-loading>
      <b-card-body v-else class="mx-auto">
        <b-row>
          <b-col sm="3">
            <div v-if="profil.data_petugas.total_input > 0 " class="chart-wrapper">
              <ChartProfil
                :jumlah_input_dam="profil.data_petugas.jumlah_input_dam"
                :jumlah_input_hotel="profil.data_petugas.jumlah_input_hotel"
                :jumlah_input_hotel_melati="profil.data_petugas.jumlah_input_hotel_melati"
                :jumlah_input_jasa_boga="profil.data_petugas.jumlah_input_jasa_boga"
                :jumlah_input_kesling="profil.data_petugas.jumlah_input_kesling"
                :jumlah_input_klinik="profil.data_petugas.jumlah_input_klinik"
                :jumlah_input_kolam_renang="profil.data_petugas.jumlah_input_kolam_renang"
                :jumlah_input_kuliner="profil.data_petugas.jumlah_input_kuliner"
                :jumlah_input_pasar="profil.data_petugas.jumlah_input_pasar"
                :jumlah_input_pesantren="profil.data_petugas.jumlah_input_pesantren"
                :jumlah_input_puskesmas="profil.data_petugas.jumlah_input_puskesmas"
                :jumlah_input_rumah_sakit="profil.data_petugas.jumlah_input_rumah_sakit"
                :jumlah_input_rumah_sehat="profil.data_petugas.jumlah_input_rumah_sehat"
                :jumlah_input_sab="profil.data_petugas.jumlah_input_sab"
                :jumlah_input_sekolah="profil.data_petugas.jumlah_input_sekolah"
                :jumlah_input_tempat_ibadah="profil.data_petugas.jumlah_input_tempat_ibadah"
                :acctype="profil.data_petugas.role"
              />
            </div>
            <p class="text-center">Total Input : {{profil.data_petugas.total_input}}</p>
          </b-col>
          <b-col sm="6">
            <p class="font-weight-light">Aktifitas Terakhir</p>

            <div v-if="aktifitas != ''">
              <router-link
                v-for="(a,index) in aktifitas.slice(0,5)"
                :key="index"
                tag="b-row"
                exact
                :to="`/modul/${ubah(a.nama_data)}/${a.objek_id}`"
              >
                <b-col sm="12">
                  <div class="px-2 message w-100 mousein rounded-0 cursor-pointer">
                    <div class="pb-1 mr-3 float-left">
                      <div class="avatar mt-3">
                        <img
                          exact
                          :src="`/images/icon/${getImage(a.nama_data)}.png`"
                          class="img-avatar"
                        />
                        <!-- <b-badge :variant="getColor(a.sehat)" class="avatar-status"></b-badge> -->
                      </div>
                    </div>
                    <div>
                      <small class="text-muted">{{changeStatusHistory(a.aktifitas)}}</small>
                      <small
                        class="text-muted float-right mt-1"
                      >{{IndonesiaDateFormat(a.waktu_history)}}</small>
                    </div>
                    <div class="text-truncate font-weight-bold">{{a.nama_data}}</div>
                    <small class="text-muted">
                      <p>
                        <b-img class="img-notif mr-2" :src="'/images/icon/location-s.png'" />klik untuk lihat detail objek
                      </p>
                    </small>
                  </div>
                  <v-divider class="my-0" />
                </b-col>
              </router-link>
            </div>
            <div v-else>
              <div class="text-center">
                <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                <span>Tidak ada Data</span>
              </div>
            </div>

            <b-button
              v-if="profil.data_petugas.total_input > 0 "
              variant="link"
              class="float-right"
              :pressed.sync="lihathistori"
            >{{kondisiLihat(lihathistori)}}</b-button>
          </b-col>

          <b-col sm="3">
            <Callout
              v-if="$route.params.usertype == 'admin'"
              variant="danger"
              class="rounded-0 mt-0"
            >
              <small class="text-muted">NIP</small>
              <br />
              <strong class="h5">{{profil.data_petugas.nip}}</strong>
            </Callout>
            <Callout variant="warning" class="rounded-0 mt-0">
              <small class="text-muted">Jabatan / Posisi</small>
              <br />
              <strong class="h5">{{profil.data_petugas.role}}</strong>
              <br />
              <small>
                <span
                  v-if="profil.kecamatan != null && profil.kecamatan !='null'"
                >Kecamatan {{ profil.kecamatan }}</span>
                <br />
                <span
                  v-if="profil.kelurahan != null && profil.kelurahan != 'null'  "
                >Kelurahan {{profil.kelurahan}}</span>
              </small>
            </Callout>
            <Callout
              v-if="profil.data_petugas.tgl_regis != null && profil.data_petugas.tgl_regis != ''"
              variant="success"
              class="rounded-0 mt-0"
            >
              <small class="text-muted">Join Date</small>
              <br />
              <strong class="h5">{{IndonesiaDateFormat(profil.data_petugas.tgl_regis)}}</strong>
            </Callout>
            <Callout
              v-if="profil.date_last_iput != null && profil.date_last_iput != ''"
              variant="info"
              class="rounded-0 mt-0"
            >
              <small class="text-muted">Terakhir pendataan</small>
              <br />
              <small>
                <p>{{days_between(profil.date_last_iput, hariini )}} hari sejak</p>
              </small>
              <strong class="h5">{{IndonesiaDateFormat(profil.date_last_iput)}}</strong>
            </Callout>
            <br />

            <!-- <router-link
              v-if="$route.params.id == null"
              exact
              :to="`/admin/${$auth.user().id}/edit`"
              tag="b-button"
              class="btn-gray-300"
            >Edit Profil</router-link>-->
            <!-- <p>{{$auth.user()}}</p> -->
          </b-col>
        </b-row>

        <HistoriProfil
          :items="aktifitas"
          :nama="profil.data_petugas.nama"
          :role="profil.data_petugas.role"
          :kecamatan="profil.kecamatan"
          :kelurahan="profil.kelurahan"
          v-if="lihathistori == true"
        />
      </b-card-body>
    </b-card>
  </div>
</template>
<script>
import PieExample from "./charts/PieExample";
import ChartProfil from "./charts/ChartProfil";
import Callout from "@/components/Callout";
import HistoriProfil from "@/components/HistoriProfil";

export default {
  components: {
    PieExample,
    Callout,
    HistoriProfil,
    ChartProfil
  },
  mounted() {
    this.$store.commit("NOT_LOADING");
    this.passRoute();
  },
  methods: {
    loadProfilImage(foto) {
      return "/storage/images/profil/" + this.profil.data_petugas.foto;
    },
    changeStatusHistory(param) {
      if (param == "input") {
        return "Menambahkan";
      } else if (param == "delete") {
        return "Menghapus";
      } else {
        return "Mengubah";
      }
    },
    loadProfil(username) {
      axios
        .get("reward/" + username)
        .then(data => {
          this.profil = data.data.petugas;
          // this.loadProfilImage(data.data.petugas.data_petugas.foto);
          this.loadProfilImage(data.data.petugas.data_petugas.foto);
          this.loadHistori(this.profil.data_petugas.id);
          this.loadingComponent = false;
          this.profil.data_petugas.role = this.rolePetugas(
            this.profil.data_petugas.role
          );
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, "0");
          var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
          var yyyy = today.getFullYear();

          this.hariini = mm + "/" + dd + "/" + yyyy;
        })
        .catch(err => {
          alert("Terjadi kesalahan");
          this.loadingComponent = false;
        });
    },
    loadHistori(id) {
      axios
        .get("petugas/historisemua/" + id)
        .then(data => {
          this.aktifitas = data.data.data;
        })
        .catch(err => {
          alert("Terjadi kesalahan");
        });
    },
    getRole(role) {
      if (role == 1) return "Super Admin";
      else if (role == 2) return "Admin OPD";
    },
    rolePetugas(role) {
      if (role == true) return "Kader";
      else if (role == false) return "Petugas";
    },
    days_between(date1, date2) {
      // date1 = date1.substring(0, 9);
      // console.log(date1, date2);
      // The number of milliseconds in one day
      var a = moment(date1, "YYYY-MM-DD");
      var b = moment(date2, "MM/DD/YYYY");
      var days = b.diff(a, "days");
      // days == 366
      // console.log(days);
      // console.log(date1, date2);

      return days;
    },
    passRoute() {
      let myIds = this.$auth.user().username;
      // console.log(this.$auth.user().role);
      // if(this.$auth.user().role == 2){

      // }
      if (this.$route.params.usertype != null) {
        this.loadProfil(this.$route.params.usertype);
      } else {
        if (this.$auth.user().role == 3) {
          this.loadProfil(myIds);
        }
        // else if (this.$auth.user().role == 2) {
        //   this.loadingComponent = false;
        //   console.log(this.$auth.user());
        //   this.profil.data_petugas.nama = this.$auth.user().nama;
        //   this.profil.kecamatan = this.$auth.user().kecamatan;
        //   this.profil.kelurahan = this.$auth.user().kelurahan;
        //   this.profil.data_petugas.role = this.$auth.user().role;
        // }
        else {
          this.loadingComponent = false;
          // console.log(this.$auth.user());
          this.profil.data_petugas.nama = this.$auth.user().nama;
          this.profil.kecamatan = this.$auth.user().kecamatan;
          this.profil.kelurahan = this.$auth.user().kelurahan;
          this.profil.data_petugas.role = this.getRole(this.$auth.user().role);
          // console.log(this.$auth.user());
        }
      }
    },
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getImage(words) {
      if (words.toLowerCase() == "jasa boga") return "pemeriksaanjasaboga";
      if (words.toLowerCase() == "restoran") return "rumahmakanrestaurant";
      else return words.toLowerCase().replace(/ /g, "");
    },
    getColor(x) {
      if (x == true) return "green";
      else if (x == false) return "red";
      else return "gray-400";
    },
    kondisiLihat(kondisi) {
      if (kondisi == true) return "Tutup tabel Histori";
      else return "Lihat semua Histori";
    }
  },
  data() {
    return {
      hariini: null,
      showdp: false,
      myIds: null,
      loadingComponent: true,
      profil: {
        data_petugas: {
          id: null,
          nama: "",
          username: "",
          foto: null,
          id_kelurahan: null,
          id_kecamatan: null,
          tgl_regis: "",
          tgl_update: "",
          created_by: "",
          update_by: null,
          role: false,
          jumlah_input_rumah_sehat: null,
          jumlah_input_rumah_sakit: null,
          jumlah_input_puskesmas: null,
          jumlah_input_klinik: null,
          jumlah_input_hotel: null,
          jumlah_input_hotel_melati: null,
          jumlah_input_kuliner: null,
          jumlah_input_kolam_renang: null,
          jumlah_input_pasar: null,
          jumlah_input_pesantren: null,
          jumlah_input_sekolah: null,
          jumlah_input_sab: null,
          jumlah_input_tempat_ibadah: null,
          jumlah_input_kesling: null,
          jumlah_input_dam: null,
          jumlah_input_jasa_boga: null,
          total_input: 0
        },
        kelurahan: "",
        kecamatan: "",
        last_activity: "",
        date_last_iput: ""
      },
      aktifitas: [],
      lihathistori: false,
      profilpicture: "",
      dp: ""
    };
  },
  watch: {
    $route(to, from) {
      this.loadingComponent = true;
      this.aktifitas = [];
      this.profil.kelurahan = "";
      this.profil.kecamatan = "";
      this.profil.date_last_iput = "";
      this.profil.last_activity = "";
      this.profil.data_petugas = {};
      this.passRoute();
      this.$store.commit("NOT_LOADING");
    }
  }
};
</script>
<style>
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  overflow: hidden;
  background-color: #464646;
}
.bg-image.overlay {
  position: relative;
}
.bg-image > .animated {
  position: relative;
  z-index: 1;
}

.profile-img {
  position: absolute;
  vertical-align: bottom;
  display: table-cell;
  margin-top: -100px;
}
.img-size {
  width: 240px;
}
.outer {
  height: 300px;
}
</style>


