<template>
  <div class="animated fadeIn">
    <b-card>
      <h4>Ranking</h4>
      <navrank />
    </b-card>

    <router-view></router-view>
  </div>
</template>

<script>
import navrank from "./ranking/NavigasiRank";
export default {
  components: {
    navrank
  },
  data() {
    return {};
  }
};
</script>