<template>
  <div>
    <v-card class="mb-4">
      <v-toolbar flat color="white">
        <v-toolbar-title>Report</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="700px">
          <v-card>
            <v-card-text>
              <b-row>
                <b-col sm="3">
                  <b-img
                    :src="`/storage/images/objek/${editedItem.foto}`"
                    @click="showss = !showss"
                    v-b-tooltip.hover
                    class="cursor-pointer"
                    title="Klik gambar untuk memperbesar"
                    fluid
                  />

                  <v-dialog v-model="showss" max-width="500">
                    <v-card>
                      <v-img
                        :src="`/storage/images/objek/${editedItem.foto}`"
                        :lazy-src="`/storage/images/objek/${editedItem.foto}`"
                      >
                        <template v-slot:placeholder>
                          <v-layout fill-height align-center justify-center ma-0>
                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                          </v-layout>
                        </template>
                      </v-img>
                    </v-card>
                  </v-dialog>

                  <v-divider />
                  <table class="pt-auto">
                    <tr>
                      <td>
                        <v-icon>home_work</v-icon>
                      </td>
                      <td class="px-1">{{editedItem.merk_hp}}</td>
                    </tr>
                    <tr>
                      <td>
                        <v-icon>device_unknown</v-icon>
                      </td>
                      <td class="px-1">{{editedItem.model_hp}}</td>
                    </tr>
                    <tr>
                      <td>
                        <v-icon>android</v-icon>
                      </td>
                      <td class="px-1">{{editedItem.versi_android}}</td>
                    </tr>
                  </table>
                </b-col>
                <b-col sm="9">
                  <span class="text-muted">{{editedItem.nama_pengirim}}</span>
                  <v-divider class="mx-2" inset vertical></v-divider>
                  <span class="text-muted">{{editedItem.created_at}}</span>
                  <v-text-field readonly v-model="editedItem.judul" />
                  <b-card-body class="scrollable-report py-0">
                    <p style="white-space: pre-line;">{{editedItem.isi}}</p>
                  </b-card-body>
                </b-col>
              </b-row>
              <!-- <v-card-title>
                <span class="title">{{ editedItem.name }}</span>
              </v-card-title>-->
            </v-card-text>

            <v-card-actions class="pt-0">
              <v-spacer></v-spacer>

              <b-btn variant="outline-primary" class="float-right" @click="close">Tutup</b-btn>
              <!-- <v-btn color="blue darken-1" flat @click="save">Save</v-btn> -->
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :loading="loading"
        :rows-per-page-items="[5,10,25]"
        :items="desserts"
      >
        <template v-slot:items="props">
          <td class="cursor-pointer text-blue" @click="editItem(props.item)">{{ props.item.judul }}</td>
          <router-link
            exact
            :to="`/profil/${props.item.petugas_username}`"
            tag="td"
            class="text-xs-center cursor-pointer text-blue"
          >{{ props.item.nama_pengirim }}</router-link>
          <td class="text-xs-center">{{ props.item.created_at }}</td>
        </template>
        <!-- <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>-->
        <template slot="no-data" v-if="no_data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="!no_data">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialog: false,
      showss: false,
      loading: true,
      no_data: false,
      editedIndex: -1,
      editedItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      defaultItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },

      headers: [
        {
          text: "Judul",
          align: "left",
          sortable: false,
          value: "judul"
        },
        {
          text: "Pengirim",
          align: "center",
          sortable: false,
          value: "nama_pengirim"
        },
        { text: "Waktu", align: "center", value: "created_at" }
        // { text: "Carbs (g)", value: "carbs" },
        // { text: "Protein (g)", value: "protein" },
        // { text: "Actions", value: "name", sortable: false }
      ]
    };
  },
  methods: {
    initialize() {
      this.desserts = [
        // {
        //   name: "Frozen Yogurt",
        //   calories: "Sudarma",
        //   fat: "2019-11-14 11:34:17",
        //   carbs: 24,
        //   protein: `Lorem Ipsum is simply
        //     dummy text of the printing and
        //      typesetting industry. Lorem
        //       Ipsum has been the industry's
        //       standard dummy text ever since the 1500s,
        //       when an unknown printer took
        //        a galley of type and scrambled
        //         it to make a type specimen book.
        //        It has survived
        //         not only five centuries
        //         , but also the leap into
        //          electronic typesetting,
        //          remaining essentially
        //         unchanged. It was
        //         popularised in the 1960s with the release of Letraset sheets
        //         containing Lorem Ipsum passages,
        //         and more recently with desktop
        //         publishing software like Aldus
        //         PageMaker including versions of Lorem Ipsum.text of the printing and
        //      typesetting industry. Lorem
        //       Ipsum has been the industry's
        //       standard dummy text ever since the 1500s,
        //       when an unknown printer took
        //        a galley of type and scrambled
        //         it to make a type specimen book.
        //        It has survived
        //         not only five centuries
        //         , but also the leap into
        //          electronic typesetting,
        //          remaining essentially
        //         unchanged. It was
        //         popularised in the 1960s with the release of Letraset sheets
        //         containing Lorem Ipsum passages,
        //         and more recently with desktop
        //         publishing software like Aldus
        //         PageMaker including versions of Lorem Ipsum.`,
        //   ss: "/images/landingpage/screenshots/home.png",
        //   merk: "Samsung",
        //   tipe: "A70",
        //   android: "Android Q 10.0.1"
        // }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
    },

    getReports() {
      return axios.get("report");
    },
    display() {
      const reports = this.getReports();

      axios
        .all([reports])
        .then(
          axios.spread((...responses) => {
            this.desserts = responses[0].data.data.data;
            this.loading = false;

            if (responses[0].data.data.data.length <= 0) {
              this.no_data = true;
              this.loading = false;
            }
          })
        )
        .catch(errors => {
          this.no_data = true;
          this.loading = false;
          this.$store.commit("NOT_LOADING");
          this.$store.commit("SERVER_ERROR");
        });
    }
  },
  created() {
    this.initialize();
  },
  mounted() {
    this.display();
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  }
};
</script>