<template>
  <b-col class="animated fadeIn">
    <b-loading variant="Circle8" class="mx-auto" v-if="loadings == true">Memuat Data</b-loading>

    <div v-else-if="hasils.length <= 0" class="text-center">
      <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
      <span>Data "{{$route.params.query}}" tidak ditemukan</span>
    </div>
    <b-col v-else-if="$route.params.modul == 1">
      <b-card>
        Ditemukan {{hasils.length}} data terkait dengan
        <b>{{$route.params.query}}</b>
      </b-card>

      <b-card no-body v-for="hasil in hasils" :key="hasil.id">
        <template slot="header">
          <span class="float-left">
            {{getModul($route.params.modul)}}
            <v-chip small disabled class="text-white" :color="getColor(hasil.status)">
              <v-avatar left>
                <v-img src="/images/icon/information-w.png"></v-img>
              </v-avatar>
              {{getStatus(hasil.status)}}
            </v-chip>
          </span>
          <span class="float-right">
            <b-img :src="'/images/icon/time.png'" fluid class="img-indicator mr-2" />
            {{IndonesiaDateFormat(hasil.waktu)}}
          </span>
        </template>
        <router-link
          tag="b-card-body"
          class="mousein rounded-0 cursor-pointer p-4"
          exact
          :to="`/modul/rumah-sehat/${hasil.id}`"
        >
          <b-row>
            <b-col sm="2">
              <div class="imgcontainer">
                <b-img
                  fluid
                  center
                  style="max-height:111px;"
                  :src="hasil.foto == null ? '/images/default/rumahkosong-01.png' : '/storage/images/objek/' + hasil.foto"
                />
              </div>
            </b-col>
            <b-col sm="10">
              <b-row>
                <b-col sm="1">
                  <b-img :src="'/images/icon/jumlahpenduduk-s.png'" class="img-indicator" />
                </b-col>
                <b-col sm="11">
                  <p>{{hasil.nama_kk}}</p>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="1">
                  <b-img :src="'/images/icon/nomorKK.png'" class="img-indicator" />
                </b-col>
                <b-col sm="11">
                  <p class="text-muted">{{hasil.nmr_kk}}</p>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="1">
                  <b-img :src="'/images/icon/location-s.png'" class="img-indicator" />
                </b-col>
                <b-col sm="11">
                  <span>
                    {{hasil.alamat}}
                    RT {{hasil.rt}} RW {{hasil.rw}} No. {{hasil.no_rumah}}
                  </span>
                  <br />
                  Kecamatan {{hasil.kecamatan}},
                  Kelurahan {{hasil.kelurahan}}
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </router-link>
      </b-card>
    </b-col>
    <!-- Search TTU TPM ETC -->
    <b-col v-else>
      <b-card>
        Ditemukan {{hasils.length}} data terkait dengan
        <b>{{$route.params.query}}</b>
      </b-card>
      <b-card no-body v-for="hasil in hasils" :key="hasil.id">
        <template slot="header">
          <span class="float-left">
            {{getModul($route.params.modul)}}
            <v-chip small disabled class="text-white" :color="getColor(hasil.status)">
              <v-avatar left>
                <v-img src="/images/icon/information-w.png"></v-img>
              </v-avatar>
              {{getStatus(hasil.status)}}
            </v-chip>
          </span>
          <span class="float-right">
            <b-img :src="'/images/icon/time.png'" fluid class="img-indicator mr-2" />
            {{IndonesiaDateFormat(hasil.waktu)}}
          </span>
        </template>
        <b-card-body tag="b-card-body" class="mousein rounded-0 cursor-pointer p-4" exact>
          <b-row>
            <b-col sm="2">
              <div class="imgcontainer">
                <b-img
                  fluid
                  center
                  style="max-height:111px;"
                  :src="hasil.foto == null ? '/images/default/rumahkosong-01.png' : '/storage/images/objek/' + hasil.foto"
                />
              </div>
            </b-col>
            <b-col sm="10">
              <b-row>
                <b-col sm="1">
                  <b-img :src="'/images/icon/tempatumum.png'" class="img-indicator" />
                </b-col>
                <b-col sm="11">
                  <p v-if="hasil.nama_tempat != null">{{hasil.nama_tempat}}</p>
                  <p>{{hasil.nama_depot}}</p>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="1">
                  <b-img :src="'/images/icon/profileicon.png'" class="img-indicator" />
                </b-col>
                <b-col sm="11">
                  <p v-if="hasil.nama_pengurus != null" class="text-muted">{{hasil.nama_pengurus}}</p>
                  <p v-if="hasil.nama_pemimpin != null" class="text-muted">{{hasil.nama_pemimpin}}</p>
                  <p v-if="hasil.nama_pemilik != null" class="text-muted">{{hasil.nama_pemilik}}</p>
                  <p v-if="hasil.nama_pengelola != null" class="text-muted">{{hasil.nama_pengelola}}</p>
                  <p v-if="hasil.nama_pengusaha != null" class="text-muted">{{hasil.nama_pengusaha}}</p>

                  <p v-else class="text-muted">{{hasil.nama_kepala_sekolah}}</p>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="1">
                  <b-img :src="'/images/icon/location-s.png'" class="img-indicator" />
                </b-col>
                <b-col sm="11">
                  {{hasil.alamat}}
                  <br />
                  Kecamatan {{hasil.kecamatan}},
                  Kelurahan {{hasil.kelurahan}}
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-card-body>
      </b-card>
    </b-col>
  </b-col>
</template>

<script>
export default {
  name: "SearchResult",
  methods: {
    getColor(status) {
      if (status == true) return "green";
      else if (status == false) return "red";
      else return "gray-500";
    },
    getStatus(status) {
      if (status == true) return "Sehat";
      else if (status == false) return "Tidak Sehat";
      else return "Belum di Inspeksi";
    },
    getModul(modul) {
      if (modul == 1) return "Rumah Sehat";
      else if (modul == 2) return "Tempat - Tempat Umum";
      else if (modul == 3) return "Tempat Pengolahan Makanan";
      else return "Lainnya";
    },
    // ubah(words) {
    //   return words.replace(/ /g, "-");
    // },
    getRS(cari) {
      axios
        .get("search/web/rs", {
          params: {
            cari
          }
        })
        .then(data => {
          this.hasils = data.data.data;
          this.loadings = false;
        })
        .catch(err => {});
    },
    getTTU(cari) {
      axios
        .get("search/web/ttu", {
          params: {
            cari
          }
        })
        .then(data => {
          var isi = data.data;
          this.hasils = this.hasils.concat(
            isi.tempatibadah,
            isi.pasar,
            isi.sekolah,
            isi.pesantren,
            isi.kolamrenang,
            isi.puskesmas,
            isi.rumahsakit,
            isi.klinik,
            isi.hotel,
            isi.hotelmelati,
            isi.salon
          );
          this.loadings = false;
        })
        .catch(err => {});
    },
    getTPM(cari) {
      axios
        .get("search/web/tpm", {
          params: {
            cari
          }
        })
        .then(data => {
          var isi = data.data;
          this.hasils = this.hasils.concat(isi.dam, isi.restoran, isi.jasaboga);
          this.loadings = false;
        })
        .catch(err => {});
    },
    getETC(cari) {
      axios
        .get("search/web/etc", {
          params: {
            cari
          }
        })
        .then(data => {
          var isi = data.data;
          this.hasils = this.hasils.concat(isi.kesling);
          // this.hasils = this.hasils.concat(isi.kesling, isi.phbs);
          this.loadings = false;
        })
        .catch(err => {});
    },
    checkmodul(modul) {
      if (modul == 1) this.getRS(this.$route.params.query);
      else if (modul == 2) this.getTTU(this.$route.params.query);
      else if (modul == 3) this.getTPM(this.$route.params.query);
      else if (modul == 4) this.getETC(this.$route.params.query);
    }
  },
  mounted() {
    this.checkmodul(this.$route.params.modul);
  },
  watch: {
    $route(to, from) {
      this.hasils = [];
      this.checkmodul(this.$route.params.modul);
      this.loadings = true;
    }
  },
  data() {
    return {
      loadings: true,
      hasils: []
    };
  }
};
</script>