<template>
  <div class="animated fadeIn">
    <b-card>
      <b-tabs content-class="border-0" small>
        <b-tab v-for="(modul,index) in moduls" :key="index">
          <template slot="title">
            {{modul.title}}
            <span
              v-if="counts[index] > 0"
              class="badge badge-pill badge-danger"
            >{{counts[index]}}</span>
          </template>
          <v-card>
            <v-toolbar flat color="white">
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 text-xs-left"
              />
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <b-button variant="light" @click="kosongkanTrash(modul.title)" small>Kosongkan Trash</b-button>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading"
              loading-text="Loading... Please wait"
              :headers="modul.headers"
              :items="modul.datas"
              :search="search"
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <!-- <td
                  class="text-xs-left"
                >{{modul.datas.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>-->
                <td
                  v-if="modul.title == 'Rumah Sehat' || modul.title == 'rumah sehat'"
                  class="text-xs-left"
                >{{ props.item.nama_kk }}</td>
                <td
                  v-else-if="modul.title == 'admin' || modul.title == 'Admin'"
                  class="text-xs-left"
                >{{ props.item.nama }}</td>
                <td
                  v-else-if="modul.title == 'kader' || modul.title == 'Kader'"
                  class="text-xs-left"
                >{{ props.item.nama }}</td>
                <td v-else class="text-xs-left">{{ props.item.nama_tempat }}</td>
                <td class="text-xs-left">{{ deletedByOptimize(props.item.deleted_by) }}</td>
                <td
                  v-if="modul.title == 'Admin' || modul.title == 'Kader'"
                  class="text-xs-left"
                >{{ props.item.kecamatan_name }}</td>
                <td
                  v-if="modul.title == 'Admin' || modul.title == 'Kader'"
                  class="text-xs-left"
                >{{ props.item.kelurahan_name }}</td>
                <td
                  v-if="
                  modul.title != 'Kader' && modul.title != 'Admin'
                  "
                  class="text-xs-left"
                >{{ props.item.kecamatan }}</td>
                <td
                  v-if="
                  modul.title != 'Kader' && modul.title != 'Admin'
                  "
                  class="text-xs-left"
                >{{ props.item.kelurahan }}</td>
                <td class="text-right">
                  <b-button-group>
                    <b-btn
                      variant="gray-200"
                      small
                      @click="restoreData(modul.title, props.item.id)"
                    >Pulihkan</b-btn>
                    <b-btn
                      variant="danger"
                      small
                      @click="hapusData(modul.title, props.item.id)"
                    >Hapus</b-btn>
                  </b-button-group>
                </td>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <p>Tidak ada Data</p>
                  <!-- <b-btn small @click="refreshData()">Refresh</b-btn> -->
                </div>
              </template>
              <!-- <template slot="no-data" v-if="!no_data">
              <div class="text-center">Sedang memuat data</div>
              </template>-->
              <!-- <template slot="no-data">
              <div class="text-center">
                <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                <p>Tidak ada Data</p>
                <b-btn small @click="refreshData()">Refresh</b-btn>
                <br>
              </div>
              </template>-->
            </v-data-table>
          </v-card>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>
<script>
export default {
  name: "Trash",
  mounted() {
    this.loadTrash();
  },
  created() {
    Fire.$on("AfterEvent", () => {
      this.loadTrash();
    });
  },
  methods: {
    refreshData() {
      this.loadTrash();
    },
    loadTrash() {
      axios
        .get("trash")
        .then(({ data }) => {
          this.moduls[0].datas = data.rumahsehat;
          this.moduls[1].datas = data.tempatibadah;
          this.moduls[2].datas = data.pasar;
          this.moduls[3].datas = data.sekolah;
          this.moduls[4].datas = data.pesantren;
          this.moduls[5].datas = data.kolamrenang;
          this.moduls[6].datas = data.puskesmas;
          this.moduls[7].datas = data.rumahsakit;
          this.moduls[8].datas = data.klinik;
          this.moduls[9].datas = data.hotel;
          this.moduls[10].datas = data.hotelmelati;
          this.moduls[11].datas = data.salon;
          this.moduls[12].datas = data.jasaboga;
          this.moduls[13].datas = data.restoran;
          this.moduls[14].datas = data.dam;
          this.moduls[15].datas = data.kesling;
          // this.moduls[16].datas = data.phbs;
          this.moduls[16].datas = data.admin;
          this.moduls[17].datas = data.kader;
          this.loading = false;
          this.counts = data.counts;
          this.$store.commit("NOT_LOADING");
        })
        .catch(err => {
          console.log(err);
        });
    },
    restoreData(kategori, id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Pulihkan Data",
          cancelButtonText: "Batal"
        })
        .then(result => {
          if (result.value) {
            axios
              .post("trash/" + kategori + "/" + id)
              .then(({ data }) => {
                Fire.$emit("AfterEvent");

                swal.fire("Berhasil!", "Data dipulihkan.", "success");
              })
              .catch(() => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
                Fire.$emit("AfterEvent");
              });
          }
        });
    },

    hapusData(kategori, id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Ya, Hapus Sekarang",
          cancelButtonText: "Batal"
        })
        .then(result => {
          if (result.value) {
            axios
              .post("trash/hapus/" + kategori + "/" + id)
              .then(({ data }) => {
                Fire.$emit("AfterEvent");

                swal.fire("Berhasil!", "Data dihapus.", "success");
              })
              .catch(() => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );

                Fire.$emit("AfterEvent");
              });
          }
        });
    },

    kosongkanTrash(kategori) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Ya, Kosongkan Trash",
          cancelButtonText: "Batal"
        })
        .then(result => {
          if (result.value) {
            axios
              .post("trash/kosongkan/a/" + kategori)
              .then(({ data }) => {
                Fire.$emit("AfterEvent");
                swal.fire("Berhasil!", "Trash dikosongkan.", "success");
              })
              .catch(() => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );

                Fire.$emit("AfterEvent");
              });
          }
        });
    },

    deletedByOptimize(param) {
      if (param == null) {
        return "-";
      } else {
        return param;
      }
    }
  },
  data: () => ({
    trash: [],
    counts: [],
    loading: true,
    dialog: false,
    rowsPerPage: [10, 15, 20, 25],
    search: "",
    no_data: false,

    moduls: [
      {
        title: "Rumah Sehat",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Keluarga", value: "nama_kk" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Tempat Ibadah",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Pasar",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],

        datas: []
      },

      {
        title: "Sekolah",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],

        datas: []
      },
      {
        title: "Pesantren",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Kolam Renang",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Puskesmas",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Rumah Sakit",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Klinik",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Hotel",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Hotel Melati",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Salon",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Restoran",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Jasa Boga",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      {
        title: "Depot Air Minum",

        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        dams: []
      },
      {
        title: "Pelayanan Kesehatan Lingkungan",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama Tempat", value: "nama_tempat" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan" },
          { text: "Kelurahan", value: "kelurahan" },
          { sortable: false }
        ],
        datas: []
      },
      // {
      //   title: "PHBS",
      //   headers: [
      //     { text: "No", value: "id" },
      //     { text: "Nama", value: "nama" },
      //     { text: "Username yang hapus", value: "deleted_by" },
      //     { text: "Kecamatan", value: "kecamatan" },
      //     { text: "Kelurahan", value: "kelurahan" },
      //     { sortable: false }
      //   ],
      //   datas: []
      // },
      {
        title: "Admin",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama", value: "nama" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan_name" },
          { text: "Kelurahan", value: "kelurahan_name" },
          { sortable: false }
        ],

        datas: []
      },
      {
        title: "Kader",
        headers: [
          // { text: "No", value: "id" },
          { text: "Nama", value: "nama" },
          { text: "Username yang menghapus", value: "deleted_by" },
          { text: "Kecamatan", value: "kecamatan_name" },
          { text: "Kelurahan", value: "kelurahan_name" },
          { sortable: false }
        ],

        datas: []
      }
    ]
  })
};
</script>
