<template>
  <div class="animated fadeIn">
    <b-card>
      <h3>Validasi Data</h3>
      <br />

      <b-tabs content-class="p-0" class="mb-4">
        <b-tab title="Data yang perlu Divalidasi" class="p-0">
          <v-card>
            <v-card-title>
              <!-- <b class="title pr-1">Validasi Data</b>
              <v-divider class="mx-2" inset vertical></v-divider>
              <div class="flex-grow-1"></div>-->

              <!-- <b-button class="my-auto" variant="success" small @click="exportCsv()">Export CSV</b-button> -->
              <v-divider class="mx-2" inset vertical></v-divider>

              <v-text-field
                v-model="search1"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 text-xs-left"
              />
              <!-- <v-divider class="mx-1" inset vertical></v-divider> -->
            </v-card-title>
            <v-data-table
              :headers="headers1"
              :items="items1"
              :search="search1"
              :loading="loading"
              headers-length="8"
              item-key="nama"
            >
              <!-- <template v-slot:headers="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text">{{ header.text }}</th>
                </tr>
              </template>-->
              <template slot="items" slot-scope="props">
                <td
                  class="text-center"
                >{{ items1.map(function(x) {return x.id; }).indexOf(props.item.id)+1 }}</td>
                <router-link
                  tag="td"
                  exact
                  :to="`/profil/${props.item.username}`"
                  class="text-blue cursor-pointer"
                >{{props.item.username}}</router-link>
                <td>{{props.item.kelurahan}}</td>
                <router-link
                  tag="td"
                  :to="`/validasi-data/1/${props.item.username}`"
                  class="text-center text-blue cursor-pointer"
                >{{props.item.abnormal_time_input}}</router-link>
                <router-link
                  tag="td"
                  :to="`/validasi-data/2/${props.item.username}`"
                  class="text-center text-blue cursor-pointer"
                >{{props.item.empty_sab}}</router-link>
                <router-link
                  tag="td"
                  :to="`/validasi-data/3/${props.item.username}`"
                  class="text-center text-blue cursor-pointer"
                >{{props.item.empty_kk}}</router-link>
                <router-link
                  tag="td"
                  :to="`/validasi-data/4/${props.item.username}`"
                  class="text-center text-blue cursor-pointer"
                >{{props.item.abnormal_jml_anggota}}</router-link>
                <td class="text-center text-blue cursor-pointer">
                  <b-btn size="sm" variant="warning" @click="Maintenance()">Beri Peringatan</b-btn>
                </td>
              </template>

              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search1 }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data" v-if="no_data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
              <template slot="no-data" v-if="!no_data">
                <div class="text-center">Sedang memuat data</div>
              </template>
            </v-data-table>
          </v-card>
        </b-tab>
        <b-tab title="Kader yang perlu Diperhatikan" class="p-0">
          <v-card>
            <v-card-title>
              <!-- <b class="title pr-1">Data Kader yang perlu Diperhatikan</b>
              <v-divider class="mx-2" inset vertical></v-divider>
              <div class="flex-grow-1"></div>-->

              <!-- <b-button class="my-auto" variant="success" small @click="exportCsv()">Export CSV</b-button> -->
              <v-divider class="mx-2" inset vertical></v-divider>

              <v-text-field
                v-model="search2"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 text-xs-left"
              />
              <!-- <v-divider class="mx-1" inset vertical></v-divider> -->
            </v-card-title>
            <v-data-table
              :loading="loading"
              :headers="headers2"
              :items="items2"
              :search="search2"
              :headers-length="9"
            >
              <template slot="items" slot-scope="props">
                <td
                  class="text-center"
                >{{ items2.map(function(x) {return x.id; }).indexOf(props.item.id)+1 }}</td>
                <router-link
                  tag="td"
                  exact
                  :to="`/profil/${props.item.username}`"
                  class="text-blue cursor-pointer"
                >{{props.item.username}}</router-link>
                <td>{{props.item.kelurahan}}</td>
                <td class="text-center">{{props.item.jumlah_pendataan}}</td>
                <td class="text-center">{{props.item.jumlah_riwayat}}</td>
                <td class="text-center">{{props.item.terakhir_pendataan}}</td>
                <td class="text-center">{{ props.item.lama_tidak_pendataan }} Hari</td>
                <td class="text-left">{{props.item.status}}</td>
                <td class="text-center">
                  <b-btn small @click="Maintenance()" variant="warning">Beri Peringatan</b-btn>
                </td>
              </template>

              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
              >Data "{{ search2 }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data" v-if="no_data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
              <template slot="no-data" v-if="!no_data">
                <div class="text-center">Sedang memuat data</div>
              </template>
            </v-data-table>
          </v-card>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      search1: null,
      search2: null,
      loading: true,
      no_data: false,
      headers1: [
        { text: "No" },
        { text: "Kader", value: "username" },
        { text: "Kelurahan", value: "kelurahan" },
        {
          text: `Input diatas pukul 9 malam - 5 pagi`,
          width: "25px",
          value: "abnormal_time_input",
          align: "center"
        },
        {
          text: `Tidak ada SAB`,
          value: "empty_sab",
          align: "center"
        },
        {
          text: `No/Nama KK kosong`,
          value: "empty_kk",
          align: "center",
          width: "10%"
        },
        {
          text: `jumlah anggota keluarga 
          dipertanyakan`,
          value: "abnormal_jml_anggota",
          align: "center"
        },
        { text: "action", align: "center", sortable: false }
      ],
      headers2: [
        { text: "No" },
        { text: "Kader", value: "username" },
        { text: "Kelurahan", value: "kelurahan" },
        {
          text: "Jumlah pendataan",
          value: "jumlah_pendataan",
          align: "center"
        },
        { text: "Jumlah riwayat", value: "jumlah_riwayat", align: "center" },
        {
          text: "Terakhir pendataan",
          value: "terakhir_pendataan",
          align: "center"
        },
        {
          text: "Lama tidak pendataan",
          value: "lama_tidak_pendataan",
          align: "center"
        },
        { text: "Status", value: "status" },
        { text: "action", align: "center", sortable: false }
      ],
      items1: [],
      items2: []
    };
  },
  methods: {
    getValidasiData() {
      return axios.get("validasi-data");
    },
    display() {
      const validasiData = this.getValidasiData();

      axios
        .all([validasiData])
        .then(
          axios.spread((...responses) => {
            this.items1 = responses[0].data.data.validasi;
            this.items2 = responses[0].data.data.watch;
            this.loading = false;
          })
        )
        .catch(errors => {
          this.no_data = true;
          this.loading = false;
          this.$store.commit("NOT_LOADING");
          this.$store.commit("SERVER_ERROR");
        });
    }
  },
  beforeCreate() {},
  created() {},
  beforeMount() {},
  mounted() {
    this.display();
  },
  beforeDestroy() {}
};
</script>