<template>
  <v-item-group>
    <v-container class="geser">
      <v-col v-for="modul in moduls" :key="modul">
        <router-link class="geser--content" :to="`/ranking${modul.link}`" tag="b-btn" append>
          <b-row>
            <b-col sm="12">
              <b-img center :src="`/images/icon/${modul.url}.png`" fluid class="img-icon" />
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <p class="text-center">{{modul.name}}</p>
            </b-col>
          </b-row>
        </router-link>
      </v-col>
    </v-container>
  </v-item-group>
</template>
<script>
export default {
  data() {
    return {
      moduls: [
        { name: "Semua", value: "0", url: "reward", link: "/semua" },
        {
          name: "Rumah Sehat",
          value: "1",
          url: "rumahsehat",
          link: "/rumah-sehat"
        },
        {
          name: "Tempat Ibadah",
          value: "2",
          url: "tempatibadah",
          link: "/tempat-ibadah"
        },
        { name: "Pasar", value: "3", url: "pasar", link: "/pasar" },
        {
          name: "Sekolah",
          value: "4",
          url: "sekolah",
          link: "/sekolah"
        },
        {
          name: "Pesantren",
          value: "5",
          url: "pesantren",
          link: "/pesantren"
        },
        {
          name: "Kolam Renang",
          value: "6",
          url: "kolamrenang",
          link: "/kolam-renang"
        },
        { name: "Puskesmas", value: "7", url: "puskesmas", link: "/puskesmas" },
        {
          name: "Rumah Sakit",
          value: "8",
          url: "rumahsakit",
          link: "/rumah-sakit"
        },
        { name: "Klinik", value: "9", url: "klinik", link: "/klinik" },
        { name: "Hotel", value: "10", url: "hotel", link: "/hotel" },
        {
          name: "Hotel Melati",
          value: "11",
          url: "hotelmelati",
          link: "/hotel-melati"
        },
        {
          name: "Jasa Boga",
          value: "12",
          url: "pemeriksaanjasaboga",
          link: "/jasa-boga"
        },
        {
          name: "Restoran",
          value: "13",
          url: "rumahmakanrestaurant",
          link: "/restoran"
        },
        {
          name: "Pelayanan Kesehatan",
          value: "14",
          url: "kesehatanlingkungan",
          link: "/pelayanan-kesehatan"
        },

        {
          name: "Depot Air Minum",
          value: "15",
          url: "depotairminum",
          link: "/depot-air-minum"
        }
      ]
    };
  }
};
</script>