<template>
  <div class="animated fadeIn">
    <v-card class="mb-4">
      <v-card-title>
        <span class="title pr-1">Ranking Sekolah</span>
        <v-divider class="mx-2" inset vertical></v-divider>

        <div class="flex-grow-1"></div>
        <b-button
          v-if="$auth.check(1) || $auth.check(3) || $auth.check(4)"
          class="my-auto"
          variant="success"
          @click="exportdialog = !exportdialog"
          small
        >Export CSV</b-button>
        <v-divider class="mx-2" inset vertical></v-divider>

        <v-text-field
          v-model="search"
          append-icon="search"
          label="Cari"
          single-line
          hide-details
          class="float-right pt-0 text-xs-left"
        />
      </v-card-title>
      <v-data-table
        :items="ranking"
        :rows-per-page-items="[5,10,25]"
        :headers="headers"
        :search="search"
        :loading="loadhistori"
        disable-initial-sort
      >
        <template slot="items" slot-scope="props">
          <router-link exact :to="`/profil/${props.item.username}`" class="cursor-pointer" tag="tr">
            <td
              class="text-xs-center"
            >{{ ranking.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
            <td class="text-xs-left">{{ props.item.nama }}</td>
            <td class="text-xs-left">{{ props.item.kelurahan }}</td>
            <td class="text-xs-left">{{ props.item.total_input }}</td>
          </router-link>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >Data "{{ search }}" Tidak Ditemukan.</v-alert>
        <template slot="no-data" v-if="loadhistori == false">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
        <template slot="no-data" v-if="loadhistori == true">
          <div class="text-center">Sedang memuat data</div>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn
            variant="success"
            class="float-right"
            center
            @click="exportCsvRumahSehat()"
          >Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.commit("NOT_LOADING");
    this.loadRank();
  },
  methods: {
    loadRank() {
      axios
        .get("/reward/kategori/sekolah")
        .then(data => {
          this.ranking = data.data.data;
          this.loadhistori = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    ubah(words) {
      return words.replace(/ /g, "-");
    },
    role(rol) {
      if (rol == true) return "kader";
      else return "admin";
    }
  },
  data() {
    return {
      ranking: [],
      loadhistori: true,
      search: "",
      exportdialog: false,
      headers: [
        {
          text: "Peringkat",
          align: "center",
          value: "total_input"
        },
        { text: "Nama", value: "nama" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Total Input", value: "total_input" }
      ]
    };
  }
};
</script>