<template>
    <div class="selectapi">
        <!-- <h1> test open api</h1> -->
        <b-card-group columns>
            <b-card
            class="card-select-api"
            v-for="modul in moduls"
            :key="modul.id"
            v-b-toggle="'collapse-'+ modul.id"
            >
            <b-card-body>
            <b-row class="obj-select-api">
              <b-col sm="3">
                <b-img center :src="`/images/icon/${modul.gambar}.png`" class="img-icon-info" />
              </b-col>
              <b-col sm="9">
                <h5>{{modul.name}}</h5>
              </b-col>
            </b-row>
          </b-card-body>
                <!-- <b-button v-b-toggle="'collapse-'+ modul.id">{{modul.name}}</b-button> -->
                <b-collapse :id="'collapse-'+ modul.id">                    
                    <ul>
                        <li v-for="(apa, index) in modul.Opt" :key="index">
                            <input type="checkbox" :value="apa.value" :id="(index+1) + 'A'" v-model="selected"> {{apa.text}}
                        </li>
                    </ul>
                    
                    <!-- <b-form  @submit.prevent="explode_table($event)">
                        <b-form-group class="checkbox">
                            <b-form-checkbox-group class="isi-checkbox"
                            v-model="selected"
                            :options="modul.Opt"
                            stacked
                            >
                            </b-form-checkbox-group>
                        </b-form-group>
                <b-button class="btn-json" @click="explode(modul.Opt.value)" variant="dark">Create JSON</b-button>
                    </b-form> -->
                    <b-button class="btn-json" :id="modul.id" @click="check(selected, modul.id)" variant="dark">Create JSON</b-button>
                </b-collapse>

            </b-card>            
        </b-card-group>
    </div>
</template>

<script>
export default {
    name: "SelectAPI",
    data(){
        return {
            selected:[],
            rumahsehats: [],
            sekolahs: [],
            rumahsakits:[],
            kolamrenang:[],
            pasars: [],
            restorans: [],
            keslings:[],
            tempatibadahs:[],
            puskesmass:[],
            pesantrens: [],
            salons: [],
            hotelmelatis:[],
            hotels: [],
            kliniks: [],
            phbss:[],
            dams:[],
            jasabogas: [],

            moduls:[
                {
                    id: 1,
                    gambar: 'rumahsehat',
                    name:'Rumah Sehat',
                    Opt:[
                        {text: 'Nama', value: 'nama_kk'},
                        {text: 'Nomor Kartu Keluarga', value: 'noKK'},
                        {text: 'Alamat', value: 'alamat_RS'},
                        {text: 'Nomor Rumah', value: 'no_rumah'},
                        {text: 'Status', value: 'statusRS'},
                        {text: 'Titik Koordinat', value: 'koordinat_RS'},
                        {text: 'Jamban', value: 'jamban'},
                        {text: 'RT', value: 'rt'},
                        {text: 'RW', value: 'rw'},
                        {text: 'Pemantauan Jentik Berkala', value: 'pjb'},
                        {text: 'Sampah', value: 'sampah'},
                        {text: 'Sarana Pembuangan Air Limbah', value: 'spal'},
                        {text: 'Status Kesehatan', value: 'status'},
                        {text: 'Waktu Penginputan', value: 'waktu'},
                        {text: 'Izin Mendirikan Bangunan', value: 'imb'},
                        {text: 'Nilai', value: 'nilai'},
                        {text: 'Foto', value: 'foto'},
                        {text: 'Total Nilai', value: 'total_nilai'},
                    ]
                },
            {
                id: 2,
                gambar: 'rumahsakit',
                name: 'Rumah Sakit',
                Opt:[    
                        {text: 'Nama Rumah Sakit', value: 'nama_tempat_RumahSakit'},          
                        {text: 'Alamat', value: 'alamat_RumahSakit'},
                        {text: 'Status Kesehatan', value: 'status_RumahSakit'},
                        {text: 'Jumlah Tempat Tidur', value: 'jumlah_tempat_tidur'},
                        {text: 'Kelas Rumah Sakit', value: 'kelas_rs'},
                        {text: 'Nomor Telepon', value: 'no_telp_RumahSakit'},
                        {text: 'Penyakit Terbanyak', value: 'penyakit_terbanyak'},
                        {text: 'Rata-rata Rawat Inap', value: 'rata_rata_rawat_inap'},
                        {text: 'Jam Operasional', value: 'jam_operasional'},
                        {text: 'Titik Koordinat', value: 'koordinat_RumahSakit'},
                        {text: 'Kecamatan', value: 'kecamatan_RumahSakit'},
                        {text: 'Kelurahan', value: 'kelurahan_RumahSakit'},
                        {text: 'Foto', value: 'foto_RumahSakit'},
                        {text: 'Nilai', value: 'nilai_RumahSakit'},
                        {text: 'Total Nilai', value: 'total_nilai_RumahSakit'},
            ]},
            {
                id: 3,
                gambar: 'rumahmakanrestaurant',
                name:'Restoran',
                    Opt:[            
                        {text: 'Nama Restoran', value: 'nama_Restoran'},     
                        {text: 'Nama Tempat', value: 'nama_tempat_Restoran'},     
                        {text: 'Nama Pemilik', value: 'nama_pemilik_Restoran'},      
                        {text: 'Alamat', value: 'alamat_Restoran'},
                        {text: 'Status Kesehatan', value: 'status_Restoran'},
                        {text: 'Jumlah Penjamah', value: 'jumlah_penjamah'},
                        {text: 'Jumlah Karyawan', value: 'jumlah_karyawan'},
                        {text: 'Nomor Telepon', value: 'no_telp_Restoran'},
                        {text: 'Petugas', value: 'petugasRestoran'},
                        {text: 'No Izin Usaha', value: 'no_izin_usaha_Restoran'},
                        {text: 'Jam Operasional', value: 'jam_operasional_Restoran'},
                        {text: 'Titik Koordinat', value: 'koordinat_Restoran'},
                        {text: 'Kecamatan', value: 'kecamatan_Restoran'},
                        {text: 'Kelurahan', value: 'kelurahan_Restoran'},
                        {text: 'Pajak', value: 'pajak_Restoran'},
                        {text: 'Foto', value: 'foto_Restoran'},
                        {text: 'Nilai', value: 'nilai_Restoran'},
                        {text: 'Total Nilai', value: 'total_nilai_Restoran'},
            ]},
            {
                id: 4,
                gambar: 'puskesmas',
                name: 'Puskesmas',
                    Opt:[    
                        {text: 'Nama Tempat', value: 'nama_tempat_Puskesmas'},     
                        {text: 'Nama Pemimpin', value: 'nama_pemimpin_Puskesmas'},      
                        {text: 'Alamat', value: 'alamat_Puskesmas'},
                        {text: 'Status Kesehatan', value: 'status_Puskesmas'},
                        {text: 'Nomor Telepon', value: 'no_telp_Puskesmas'},   
                        {text: 'Jam Operasional', value: 'jam_operasional_Puskesmas'},
                        {text: 'Titik Koordinat', value: 'koordinat_Puskesmas'},
                        {text: 'Kecamatan', value: 'kecamatan_Puskesmas'},
                        {text: 'Kelurahan', value: 'kelurahan_Puskesmas'},
                        {text: 'Pajak', value: 'pajak_Puskesmas'},
                        {text: 'Foto', value: 'foto_Puskesmas'},
                        {text: 'Nilai', value: 'nilai_Puskesmas'},
                        {text: 'Total Nilai', value: 'total_nilai_Puskesmas'}
            ]},
            {
                id: 5,
                gambar: 'pemeriksaanjasaboga',
                name: 'Jasa Boga',
                Opt:[                   
                {text: 'Nama Tempat', value: 'nama_tempat_JasaBoga'},     
                {text: 'Nama Pengusaha', value: 'nama_pengusaha'},      
                {text: 'Alamat', value: 'alamat_JasaBoga'},
                {text: 'Status Kesehatan', value: 'status_JasaBoga'},           
                {text: 'Nomor Telepon', value: 'no_telp_JasaBoga'},
                {text: 'Jam Operasional', value: 'jam_operasional_JasaBoga'},
                {text: 'Titik Koordinat', value: 'koordinat_JasaBoga'},
                {text: 'Kecamatan', value: 'kecamatan_JasaBoga'},
                {text: 'Kelurahan', value: 'kelurahan_JasaBoga'},
                {text: 'Pajak', value: 'pajak_JasaBoga'},
                {text: 'Foto', value: 'foto_JasaBoga'},
                {text: 'Nilai', value: 'nilai_JasaBoga'},
                {text: 'Total Nilai', value: 'total_nilai_Puskesmas'}
            ]},
            {
                id: 6,
                gambar: 'tempatibadah',
                name: 'Tempat Ibadah',
                Opt: [
                {text: 'Nama Tempat', value: 'nama_tempat_TempatIbadah'},     
                {text: 'Nama Pengurus', value: 'nama_pengurus_TempatIbadah'},      
                {text: 'Alamat', value: 'alamat_TempatIbadah'},
                {text: 'Status Kesehatan', value: 'status_TempatIbadah'},
                {text: 'Jumlah Jamaah', value: 'jumlah_jamaah'},            
                {text: 'Nomor Telepon', value: 'no_telp_TempatIbadah'},
                // {text: 'Petugas', value: 'petugasTempatIbadah'},
                {text: 'Jam Operasional', value: 'jam_operasional_TempatIbadah'},
                {text: 'Titik Koordinat', value: 'koordinat_TempatIbadah'},
                {text: 'Kecamatan', value: 'kecamatan_TempatIbadah'},
                {text: 'Kelurahan', value: 'kelurahan_TempatIbadah'},
                {text: 'Pajak', value: 'pajak_TempatIbadah'},
                {text: 'Foto', value: 'foto_TempatIbadah'},
                {text: 'Nilai', value: 'nilai_TempatIbadah'},
                {text: 'Total Nilai', value: 'total_nilai_TempatIbadah'}
            ]},
            {
                id: 7,
                gambar: 'pasar',
                name: 'Pasar',
            Opt: [
                {text: 'Nama Tempat', value: 'nama_tempat_Pasar'},     
                {text: 'Nama Pengelola', value: 'nama_pengelola_Pasar'},      
                {text: 'Alamat', value: 'alamat_Pasar'},
                {text: 'Status', value: 'status_Pasar'},
                {text: 'Jumlah Asosiasi', value: 'jumlah_asosiasi'},
                {text: 'Jumlah Pedagang', value: 'jumlah_pedagang'},  
                {text: 'Jumlah Kios Kosong', value: 'jumlah_kios_kosong'},  
                {text: 'Jumlah Kios Terisi', value: 'jumlah_kios_terisi'},  
                {text: 'Nomor Telepon', value: 'no_telp_Pasar'},
                {text: 'Petugas', value: 'petugas_Pasar'},
                {text: 'Jam Operasional', value: 'jam_operasional_Pasar'},
                {text: 'Titik Koordinat', value: 'titik_koordinat_Pasar'},
                {text: 'Kecamatan', value: 'kecamatan_Pasar'},
                {text: 'Kelurahan', value: 'kelurahan_Pasar'},
                {text: 'Foto', value: 'foto_Pasar'},
                {text: 'Nilai', value: 'nilai_Pasar'},
                {text: 'Total Nilai', value: 'total_nilai_Pasar'}
            ]},
            {
                id: 8,
                gambar: 'klinik',
                name: 'Klinik',
            Opt:[                
                {text: 'Nama Tempat', value: 'nama_tempat_Klinik'},
                {text: 'Nama Pimpinan', value: 'nama_pimpinan_Klinik'},
                {text: 'Alamat', value: 'alamat_Klinik'},
                {text: 'Status Kesehatan', value: 'status_Klinik'},
                {text: 'Gambaran Umum', value: 'gambaran_umum_Klinik'},
                {text: 'Nomor Telepon', value: 'no_telp_Klinik'},
                {text: 'Petugas', value: 'petugas_Klinik'},        
                {text: 'Jam Operasional', value: 'jam_operasional_Klinik'},
                {text: 'Titik Koordinat', value: 'koordinat_Klinik'},
                {text: 'Kecamatan', value: 'kecamatan_Klinik'},
                {text: 'Kelurahan', value: 'kelurahan_Klinik'},
                  {text: 'Foto', value: 'foto_Klinik'},
                {text: 'Nilai', value: 'nilai_Klinik'},
                {text: 'Total Nilai', value: 'total_nilai_Klinik'}
            ]},
            {
                id: 9,
                gambar: 'depotairminum',
                name: 'Depot Air Minum',
            Opt:[
                {text: 'Nama Depot', value: 'nama_Depot'},     
                {text: 'Nama Pemilik', value: 'nama_pemilik_Depot'},      
                {text: 'Alamat', value: 'alamat_Depot'},
                {text: 'Status', value: 'status_Depot'},             
                {text: 'Nomor Telepon', value: 'no_telp_Depot'},
                {text: 'Petugas', value: 'petugas_Depot'},        
                {text: 'Jam Operasional', value: 'jam_operasional_Depot'},
                {text: 'Titik Koordinat', value: 'koordinat_Depot'},
                {text: 'Kecamatan', value: 'kecamatan_Depot'},
                {text: 'Kelurahan', value: 'kelurahan_Depot'},
                  {text: 'Foto', value: 'foto_Depot'},
                {text: 'Nilai', value: 'nilai_Depot'},
                {text: 'Total Nilai', value: 'total_nilai_Depot'}
            ]},
            {
                id: 10,
                gambar: 'sekolah',
                name: 'Sekolah',
            Opt:[
                {text: 'Nama Tempat', value: 'nama_tempat_Sekolah'},     
                {text: 'Nama Kepala Sekolah', value: 'nama_kepala_Sekolah'},
                {text: 'Jumlah Murid Pertahun', value: 'jumlah_murid_pertahun'},
                {text: 'Jumlah Guru PNS', value: 'jumlah_guru_pns'},
                {text: 'Jumlah Guru Tetap Non PNS', value: 'jumlah_guru_tetap_non_pns'},
                {text: 'Jumlah Guru Honorrer', value: 'jumlah_guru_honorer'},           
                {text: 'Nomor Telepon', value: 'no_telp_sekolah'},
                {text: 'Luas Tanah', value: 'luas_tanah'},
                {text: 'Luas Bangunan', value: 'luas_bangunan'},
                {text: 'Tahun Berdiri', value: 'tahun_berdiri'},
                {text: 'Puskesmas', value: 'puskesmas_sekolah'},
                {text: 'Petugas', value: 'petugas_sekolah'},
                {text: 'No Izin Operasional', value: 'no_izin_operasional'},    
                {text: 'Jam Operasional', value: 'jam_operasional_sekolah'},
                {text: 'Titik Koordinat', value: 'koordinat_Sekolah'},
                {text: 'Kecamatan', value: 'kecamatan_Sekolah'},
                {text: 'Kelurahan', value: 'kelurahan_Sekolah'},
                {text: 'Status Kesehatan', value: 'status_Sekolah'},
                {text: 'Foto', value: 'foto_Sekolah'},
                {text: 'Nilai', value: 'nilai_Sekolah'},
                {text: 'Total Nilai', value: 'total_nilai_Sekolah'}
            ]},
            {
                id: 11,
                gambar: 'hotel',
                name: 'Hotel',
            Opt:[
                {text: 'Nama Tempat', value: 'nama_tempat_Hotel'},     
                {text: 'Nama Pemimpin', value: 'nama_pemimpin_Hotel'},      
                {text: 'Nomor Izin Usaha', value: 'no_izin_usaha_Hotel'},
                {text: 'Status Kesehatan', value: 'status_Hotel'},
                {text: 'Nomor Telepon', value: 'no_telp_Hotel'},
                {text: 'Petugas', value: 'petugas_Hotel'},        
                {text: 'Jam Operasional', value: 'jam_operasional_Hotel'},
                {text: 'Titik Koordinat', value: 'koordinat_Hotel'},
                {text: 'Kecamatan', value: 'kecamatan_Hotel'},
                {text: 'Kelurahan', value: 'kelurahan_Hotel'},
                {text: 'Foto', value: 'foto_Hotel'},
                {text: 'Nilai', value: 'nilai_Hotel'},
                {text: 'Total Nilai', value: 'total_nilai_Hotel'}
            ]},
            {
                id: 12,
                gambar: 'kesehatanlingkungan',
                name: 'Pelayanan Kesehatan',
            Opt:[
                {text: 'Jenis', value: 'jenis_Kesling'},     
                {text: 'Jenis Kelamin', value: 'jenis_kelamin_Kesling'},      
                {text: 'Kasus', value: 'kasus_Kesling'},
                {text: 'Nama PKL', value: 'nama_PKL_Kesling'},             
                {text: 'Nama Tempat', value: 'nama_tempat_Kesling'},
                {text: 'Umur', value: 'umur_Kesling'},        
                {text: 'Alamat', value: 'alamat_Kesling'},
                {text: 'Titik Koordinat', value: 'koordinat_Kesling'},                
                {text: 'Kelurahan', value: 'kelurahan_Kesling'},
                {text: 'Status Kesehatan', value: 'status_Kesling'},
                {text: 'Foto', value: 'foto_Kesling'},

            ]},
            {
                id: 13,
                gambar: 'pesantren',
                name: 'Pesantren',
            Opt: [
                {text: 'Jumlah Santri', value: 'jumlah_santri'}, 
                {text: 'Jumlah Perempuan', value: 'jumlah_perempuan'}, 
                {text: 'Jumlah Laki-laki', value: 'jumlah_laki_laki'},
                {text: 'Jam Operasional', value: 'jam_operasional_Pesantren'},
                {text: 'Nama Pengelola', value: 'nama_pengelola'},      
                {text: 'Nomor Telepon', value: 'no_telp_Pesantren'},     
                {text: 'Status Kesehatan', value: 'status_Pesantren'},
                {text: 'Nama Tempat', value: 'nama_tempat_Pesantren'},                    
                {text: 'Alamat', value: 'alamat_Pesantren'},
                {text: 'Titik Koordinat', value: 'koordinat_Pesantren'},                
                {text: 'Kelurahan', value: 'kelurahan_Pesantren'},
                {text: 'Kecamatan', value: 'kecamatan_Pesantren'},
                {text: 'Foto', value: 'foto_Pesantren'},
                {text: 'Nilai', value: 'nilai_Pesantren'},
                {text: 'Total Nilai', value: 'total_nilai_Pesantren'}               
            ]},
            {
                id: 14,
                gambar: 'hotelmelati',
                name: 'Hotel Melati',
            Opt:[                   
                {text: 'Nama Tempat', value: 'nama_tempat_HotelMelati'},     
                {text: 'Nama Pemimpin', value: 'nama_pemimpin_HotelMelati'},      
                {text: 'Alamat', value: 'alamat_HotelMelati'},
                {text: 'Status Kesehatan', value: 'status_HotelMelati'},
                {text: 'Nomor Telepon', value: 'no_telp_HotelMelati'},
                {text: 'Petugas', value: 'petugas_HotelMelati'},
                {text: 'No Izin Usaha', value: 'no_izin_usaha_HotelMelati'},
                {text: 'Jam Operasional', value: 'jam_operasional_HotelMelati'},
                {text: 'Titik Koordinat', value: 'koordinat_HotelMelati'},
                {text: 'Kecamatan', value: 'kecamatan_HotelMelati'},
                {text: 'Kelurahan', value: 'kelurahan_HotelMelati'},
                {text: 'Foto', value: 'foto_HotelMelati'},
                {text: 'Nilai', value: 'nilai_HotelMelati'},
                {text: 'Total Nilai', value: 'total_nilai_HotelMelati'}
            ]},
            {
                id: 15,
                gambar: 'phbs-s',
                name: 'PHBS',
            Opt:[
                {text: 'Kecamatan', value: 'kecamatan_HotelMelati'},
                {text: 'Kelurahan', value: 'kelurahan_HotelMelati'}
            ]},
            {
                id: 16,
                gambar: 'kolamrenang',
                name: 'Kolam Renang',
            Opt:[
                {text: 'Nama Tempat', value: 'nama_tempat_KolamRenang'},
                {text: 'Nama Pengelola', value: 'nama_pengelola_KolamRenang'},      
                {text: 'Alamat', value: 'alamat_KolamRenang'},
                {text: 'Status Kesehatan', value: 'status_KolamRenang'},
                {text: 'Nomor Telepon', value: 'no_telp_KolamRenang'},
                {text: 'Petugas', value: 'petugas_KolamRenang'},
                {text: 'No Izin Usaha', value: 'no_izin_usaha_KolamRenang'},
                {text: 'Jam Operasional', value: 'jam_operasional_KolamRenang'},
                {text: 'Titik Koordinat', value: 'koordinat_KolamRenang'},
                {text: 'Kecamatan', value: 'kecamatan_KolamRenang'},
                {text: 'Kelurahan', value: 'kelurahan_KolamRenang'},
                {text: 'Foto', value: 'foto_KolamRenang'},
                {text: 'Nilai', value: 'nilai_KolamRenang'},
                {text: 'Total Nilai', value: 'total_nilai_KolamRenang'}
            ]},
            {
                id: 17,
                gambar: 'salon',
                name: 'Salon',
            Opt:[
                {text: 'Nama Tempat', value: 'nama_tempat_Salon'},
                {text: 'Nama Pemimpin', value: 'nama_pemimpin_Salon'},
                {text: 'Jumlah Karyawan', value: 'jumlah_karyawan_Salon'},
                {text: 'Alamat', value: 'alamat_Salon'},
                {text: 'Status Kesehatan', value: 'status_Salon'},
                {text: 'Nomor Telepon', value: 'no_telp_Salon'},
                {text: 'Petugas', value: 'petugas_Salon'},
                {text: 'No Izin Usaha', value: 'no_izin_usaha_Salon'},
                {text: 'Jam Operasional', value: 'jam_operasional_Salon'},
                {text: 'Titik Koordinat', value: 'koordinat_Salon'},
                {text: 'Kecamatan', value: 'kecamatan_Salon'},
                {text: 'Kelurahan', value: 'kelurahan_Salon'},
                {text: 'Foto', value: 'foto_Salon'},
                {text: 'Nilai', value: 'nilai_Salon'},
                {text: 'Total Nilai', value: 'total_nilai_Salon'}
            ]
                }
            ]
        }
    },
    methods:{
        // explode_table(value){
            // console.log(value);
            // var checkedValue = null; 
            // var inputElements = document.getElementsByClassName('isi-checkbox');
            // for(var i=0; inputElements[i]; ++i){
            //     if(inputElements[i].checked){
            //         checkedValue = inputElements[i].value;
            //         break;
    //   },
    //    loadModul(table){
    //         axios
    //             .get("select-api/" + table)
    //             .then((data) => {
    //                 for ()
    //             }).catch((err) => {
    //                 alert('Gagal Terhubung ke Server!');
    //             });
    //     },
       check: function(e, id) {
        console.log(this.selected);       
        console.log(this.selected.id);
        
      },

}
}


</script>

<style scoped>

li{
    list-style: none;
}
.card-select-api{    
    border-radius: 1.3rem;
    padding-bottom: 1rem;
}

.btn-json{
    float: right;
}
.obj-select-api{    
    align-content: center;
}
.selectapi{
    background: #fff;
    padding: 3rem;
    height: auto;
}

.checkbox{
    padding-top: 1rem;
    padding-left: 1rem;
}
</style>