<template>
    <section>
        <b-navbar toggleable="lg" class="navbar" v-b-scrollspy:nav-scroller sticky="true">
                    <b-navbar-brand class="nav-brand" href="#"><b-img class="img-logo" :src="'images/landingpage/brand.png'"/></b-navbar-brand>
                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>              
                    <b-collapse id="nav-collapse" is-nav>          
                        <b-navbar-nav class="ml-auto"> 
                            <b-nav-item href="/home"><span class="nav-item">Home</span></b-nav-item>                                                        
                            <b-nav-item-dropdown id="my-nav-dropdown" toggle-class="nav-link-custom" class="my-2 my-sm-0" right style="color:#fff;">
                                <b-dropdown-item href="dokumentasi">Dokumentasi</b-dropdown-item>
                                <b-dropdown-item>Guide</b-dropdown-item>
                            </b-nav-item-dropdown>
                        </b-navbar-nav>
                    </b-collapse>

                        <!-- Right aligned nav items -->                                                
            </b-navbar>

        <div class="main-content">
            <h4 class="section-header"> Merancang SIPP KLING </h4>
            <b-row>
                <div v-for="imgrancang in rancang" :key="imgrancang" class="divdok">
                    <v-dialog v-model="dialog"  >
                        <template v-slot:activator="{ on }">
                            <b-img id="myImg"  v-on="on" @click="overlay = !overlay" class="img-dokum" :src="imgrancang" :key="imgrancang" alt="Grafik OPD"/>                                     
                        </template>
                            <b-img id="myImg" class="img-l-dokum" :src="imgrancang" alt="Grafik OPD"/>                                
                    </v-dialog> 
                </div>
            </b-row>

            <h4 class="section-header"> Mengumpulkan Form </h4>
            <b-row>
                <div v-for="imgkumpulform in kumpulform" :key="imgkumpulform" class="divdok">
                    <v-dialog v-model="dialog">
                        <template v-slot:activator="{ on }">
                            <b-img id="myImg"  v-on="on" @click="overlay = !overlay" class="img-dokum" :src="imgkumpulform" :key="imgrancang" alt="Grafik OPD"/>                                     
                        </template>
                            <b-img id="myImg" class="img-l-dokum" :src="imgkumpulform" alt="Grafik OPD"/>                                
                    </v-dialog> 
                </div>
            </b-row>

            <h4 class="section-header"> Sosialiasi </h4>
            <b-row>
                <div v-for="imgsos in sosialisasi" :key="imgsos" class="divdok">
                    <v-dialog v-model="dialog"  >
                        <template v-slot:activator="{ on }">
                            <b-img id="myImg"  v-on="on" @click="overlay = !overlay" class="img-dokum" :src="imgsos" :key="imgrancang" alt="Grafik OPD"/>                                     
                        </template>
                            <b-img id="myImg" class="img-l-dokum" :src="imgsos" alt="Grafik OPD"/>                                
                    </v-dialog> 
                </div>
            </b-row>

            <h4 class="section-header">Tim Smart City</h4>
            <b-row>
                <div v-for="imgtim in timsmartcity" :key="imgtim" class="divdok">
                    <v-dialog v-model="dialog" max-width="40rem">
                        <template v-slot:activator="{ on }">
                            <b-img id="myImg"  v-on="on" @click="overlay = !overlay" class="img-dokum" :src="imgtim" :key="imgrancang" alt="Grafik OPD"/>                                     
                        </template>
                            <b-img id="myImg" class="img-l-dokum" :src="imgtim" alt="Grafik OPD"/>                                
                    </v-dialog> 
                </div>
            </b-row>
        </div>

        <div id="footer">                 
                <div class="container">
                    <b-row>
                        <b-col sm="5">
                            <div class="footer-sosmed">
                                <i class="fa fa-instagram fa-lg mt-4"/>
                                <i class="fa fa-facebook fa-lg mt-4"/>
                            </div>
                        </b-col>
                        <b-col sm="2">
                            <div class="footer-title">
                               <p>{{footer.title}}</p>
                            </div>
                        </b-col>
                        <b-col sm="5">
                            <div v-for="sk in footer.subtitle" :key="sk" class="footer-subtitle">
                               <a href="#" class="fs"><span>{{sk}}</span></a>
                            </div>
                        </b-col>
                    </b-row>

                    <v-divider></v-divider>

                    <b-row class="footer-info">
                        <b-col class="sub-footer-info" v-for="info in footer.infos" :key="info">
                            <h4>{{info.kategori}}</h4><br>
                            <p class="txt-info">{{info.isikategori}} </p>
                        </b-col>
                    </b-row>

                    <v-divider></v-divider>
                    <p class="footer-support">{{footer.supportby}} </p>
                </div>
            </div>
    </section>
    
</template>

<script>
// import LightBox from '/landingpage/components/LightBox'
export default {
    data() {
        return{
            rancang: [
                "/images/landingpage/dokumentasi/merancangsippkling.png",
                "/images/landingpage/dokumentasi/merancangsippkling1.png"
            ],
            kumpulform:[
                "/images/landingpage/dokumentasi/pengumpulanform.png",
                "/images/landingpage/dokumentasi/pengumpulanform1.png",
                "/images/landingpage/dokumentasi/pengumpulanform2.png"
            ],
            sosialisasi: [
                "/images/landingpage/dokumentasi/sosialisasi.png",
                "/images/landingpage/dokumentasi/sosialisasi1.png",
                "/images/landingpage/dokumentasi/sosialisasi2.png",
                "/images/landingpage/dokumentasi/sosialisasi3.png",
                "/images/landingpage/dokumentasi/sosialisasi4.png",
                "/images/landingpage/dokumentasi/sosialisasi5.png",
                "/images/landingpage/dokumentasi/sosialisasi6.png",
                "/images/landingpage/dokumentasi/sosialisasi7.png",
                "/images/landingpage/dokumentasi/sosialisasi8.png"                
            ],
            timsmartcity:[
                "/images/landingpage/dokumentasi/timsmartcity.png",
                "/images/landingpage/dokumentasi/timsmartcity1.png"
            ],
            footer: {
                title:"SIPP KLING",
                infos:[
                    {
                        kategori: "mail",
                        isikategori: "met.id@outlook.com"
                    },
                    {
                        kategori: "call",
                        isikategori: "(021) 87786161"
                    },
                    {
                        kategori: "Find Us",
                        isikategori: "Nuansa Commercial Estate Blok A-01, Jalan TB Simatupang Kav. 17, Ciracas, Jakarta Timur"
                    }
                ],
                subtitle: ["Dashboard","Guide"],
                socialmedia:["gambar"],
                supportby: "Supported by MET"         
            }         
        }
    }
};
</script>

<style scoped>
.navbar {
    background: #212221;
    border: 0px;
    -webkit-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
    -moz-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
    box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
}

.nav-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;   
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item{
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: rgb(125, 247, 190);
  width: 100%;
  float: left;
  font-size: 1.2rem;
  text-align: center;
  margin: 0rem 0.8rem;
}    

.main-content{
    padding: 2rem 5rem;
    background-color: #fff;
}

.section-header{
     width: 100%;
      color: #0d9260;
      display: block;
      margin-right: auto;
      margin-left: auto;
        
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
}

.img-l-dokum{
    width: 70%;
    height: 30rem;
    object-fit: cover;
}

.footer-title{        
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .footer-subtitle{
        float: right;
        padding: 5px;
        color: #fff;
    }

    .footer-info{
        text-align: center;      
    }

    .footer-sosmed{
        float: left;
    }

    .fs{
    color: #fff;
    }

    #footer{
    background-color: #212221 ;
    font-weight: 400;
    color: #fff;
    }

    .row-info{
        display: flex;
    }

    .sub-footer-info{
        width: 300px;
        
    }

    .footer-support{
        text-align: center;
    }

</style>