<template>
    <div class="landingpage">           
        <div class="hero-area-2">
            
            <div id="home" class="homey">   
                    <b-navbar toggleable="lg" id="nav" class="navbar" v-b-scrollspy:nav-scroller fixed="top">
                            <b-navbar-brand class="nav-brand" href="#"><b-img class="img-logo" :src="'images/landingpage/logokiri.png'"/></b-navbar-brand>
                            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>              
                            <b-collapse id="nav-collapse" is-nav>          
                                    <b-navbar-nav class="ml-auto"> 
                                            <b-nav-item @click="$vuetify.goTo('#home', -300, 1000)" ><span class="nav-item">Beranda</span></b-nav-item>                            
                                            <b-nav-item @click="$vuetify.goTo('#fitur-output', -300, 1000)"><span class="nav-item">Fitur</span></b-nav-item>
                                            <b-nav-item @click="$vuetify.goTo('#achievement', 100, 1000)"><span class="nav-item">Pencapaian</span></b-nav-item>                        
                                            <b-nav-item @click="$vuetify.goTo('#testimoni', -300, 1000)"><span class="nav-item">Testimoni</span></b-nav-item>                    
                                            <b-nav-item @click="$vuetify.goTo('#screenshots', -300, 1000)"><span class="nav-item">Screenshots</span></b-nav-item>                            
                                            <b-nav-item-dropdown id="my-nav-dropdown" toggle-class="nav-link-custom" text="More" class="drop-nav" right variant="primary">                                
                                                            <b-dropdown-item href="http://s.id/sippkling" target="_blank">Profil</b-dropdown-item>
                                                            <b-dropdown-item href="https://drive.google.com/file/d/1DKxkMCv4Vl9LmjfBpFPuqCLatSbdIU0B/view?ts=5dba7df1" target="_blank" >Panduan</b-dropdown-item>                                   
                                                            <router-link to="coming-soon" tag="b-dropdown-item">Dashboard</router-link>     
                                            </b-nav-item-dropdown>
                                    </b-navbar-nav>
                            </b-collapse>                                                                
            </b-navbar>                     

                <div class="container">
                    <b-row>
                        <b-col cols lg="5" sm="auto">
                            <div class="contents">
                                <h2 class="head-title"> {{home.title}} </h2> <p class="sub-head-title"> {{home.subtitle}} </p> 
                                <p class="pengertian"> {{home.konten}}</p>
                            </div>
                        
                            <div class="btn-header">
                                <b-row>
                                <b-button pill target="_blank" href="https://youtu.be/78_Bn4KVQcM" class="btn-video">Lihat Video</b-button>                            
                                <b-button pill class="btn-video" @click="$vuetify.goTo('#latar-belakang', -300, 1000)"> Mulai! </b-button>
                                </b-row>
                            </div>
                        

                        </b-col>
                        <b-col cols lg="7" sm="auto">
                            <b-img class="img-tampilan" :src="home.gambar" alt="Grafik OPD"/>
                        </b-col>
                    </b-row>
                </div>

            </div>

            <div id="latar-belakang">
                <div class="container">
                    <div class="section-header">
                        <p class="judul-section">Latar Belakang</p>
                    </div>

                    <b-row class="content">
                        <b-col cols md="5" sm="auto">
                            <div max-width="85vw">
                                <b-img class="img-idea" :src='img'/>   
                            </div>                         
                        </b-col>
                        <b-col md="7" class="isilatbel">
                            <div role="tablist">          
                                <div v-for="(lb,index) in latarbelakangs" :key="index">                            
                                    <b-button class="btn-latbel" v-on:click="changeIcon(index)" v-b-toggle="`collapselb-` + index">{{lb.title}}</b-button>
                                    <b-collapse v-bind:id="`collapselb-`+ index" visible accordion="accordion-latbel">
                                        <b-card class="card-latbel">
                                            <b>{{lb.subtitle}}</b>
                                            <p class="isi">{{lb.konten}}</p>
                                        </b-card>
                                    </b-collapse>
                                </div>        
                                <!-- <div>                            
                                    <b-button class="btn-latbel" v-on:click="changeIcon" v-b-toggle.collapse-a>{{latarbelakang.permenkes.judulpermenkes}}</b-button>
                                    <b-collapse id="collapse-a" visible accordion="my-accordion">
                                        <b-card class="card-latbel">
                                            <p class="isi">{{latarbelakang.permenkes.isipermenkes}}</p>
                                        </b-card>
                                    </b-collapse>
                                </div>                        
                                <div>                            
                                    <b-button class="btn-latbel" v-on:click="changeIde" v-b-toggle.collapse-b>{{latarbelakang.rpjmn.judulrpjmn}}</b-button>
                                    <b-collapse id="collapse-b" accordion="my-accordion">
                                        <b-card class="card-latbel">                                            
                                                <b>{{latarbelakang.rpjmn.bab4}}</b>
                                                <ul class="isi">
                                                    <li v-for="point in latarbelakang.rpjmn.bab4_points" :key="point">{{point}}</li>
                                                </ul>  
                                                <b>{{latarbelakang.rpjmn.bab6}}</b>
                                                <ul class="isi">
                                                    <li v-for="point in latarbelakang.rpjmn.bab6_points" :key="point">{{point}}</li>
                                                </ul>                                          
                                        </b-card>                                        
                                    </b-collapse>
                                </div>
                                
                                <div>                            
                                    <b-button class="btn-latbel" v-on:click="changePenyakit" v-b-toggle.collapse-d>{{latarbelakang.penyakit.judulpenyakit}}</b-button>
                                    <b-collapse id="collapse-d" accordion="my-accordion">
                                        <b-card class="card-latbel">
                                            <ul class="isi">
                                                <li v-for="point in latarbelakang.penyakit.penyakit_point" :key="point">{{point}}</li>
                                            </ul> 
                                        </b-card>
                                    </b-collapse>
                                </div> -->
                                
                            </div>      
                            <!-- <v-row justify="center">
                                <v-dialog v-model="dialog" persistent max-width="1000">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="primary" dark v-on="on" @click="overlay = !overlay">Grafik OPD</v-btn>
                                </template>
                                <b-img id="myImg" class="img-grafik" src="images/landingpage/grafik1.png" alt="Grafik OPD"/>                                
                                </v-dialog>                               
                            </v-row>                                                                         -->
                        </b-col>
                    </b-row>

                   
                </div>
            </div>

            <div id="fitur-output">
                <div class="container">
                    <div class="section-header">
                        <p class="judul-section">Ada Apa Aja di SIPP KLING?</p>
                    </div>

                   <div class="content">
                       <!-- <b-card no-body class="card-fitur"> -->
                        <b-row>
                        <b-col md="7">
                            <v-card class="tab-fitur-output">
                                <v-tabs
                                v-model="tab"
                                background-color="transparent"                                                                                                                          
                                >
                                <v-tabs-slider color="#5d5d5d"></v-tabs-slider>
                                <v-tab class="tab-fit" v-on:click="changeFitur">fitur</v-tab>
                                <v-tab class="tab-fit" v-on:click="changeOutput">output </v-tab>
                                </v-tabs>

                                <v-tabs-items v-model="tab">
                                    <v-tab-item>
                                        <b-row> 
                                            <b-col v-for="fitur in fiturs" :key="fitur.id" md="6" >      
                                                <div>
                                                    <div class="chipfitur">         
                                                        <b-img class="img-fitur" :src="fitur.gambar"/> <p class="txt-fitur">{{fitur.namafitur}}</p>                                                               
                                                    </div>     
                                                </div>                                    
                                            </b-col>
                                            <!-- <b-col>
                                                <div v-for="apa in fituroutput.fitur2" :key="apa.id">                                         
                                                    <div class="chip">                                                
                                                        <b-img class="img-fitur" :src="apa.img"/> <p>{{apa.namafitur}}</p>                                                               
                                                    </div>                                      
                                                </div>
                                                
                                            </b-col> -->
                                        </b-row>                       
                                    </v-tab-item>
                                <!-- <v-tab-item>
                                    <b-row>        
                                        <b-col>        
                                            <div v-for="apa in fituroutput.fitur1" :key="apa.id">                                         
                                                <div class="chip">                                                
                                                    <b-img class="img-fitur" :src="apa.img"/> <p>{{apa.namafitur}}</p>                                                               
                                                </div>                                      
                                            </div>   
                                        </b-col>
                                        <b-col>
                                            <div v-for="apa in fituroutput.fitur2" :key="apa.id">                                         
                                                <div class="chip">                                                
                                                    <b-img class="img-fitur" :src="apa.img"/> <p>{{apa.namafitur}}</p>                                                               
                                                </div>                                      
                                            </div>
                                               
                                        </b-col>
                                    </b-row>                                                 
                                </v-tab-item> -->
                                <v-tab-item>                                    
                                    <b-row> 
                                            <b-col v-for="output in outputs" :key="output.id" md="6" >      
                                                <div>
                                                    <div class="chip">                                                
                                                        <b-img class="img-fitur" :src="output.gambar"/> <p >{{output.namafitur}}</p>                                                               
                                                    </div>     
                                                </div>                                    
                                         </b-col>
                                        <b-col>
                                            <!-- <div v-for="apa in fituroutput.output2" :key="apa.id">                                         
                                                <div class="chip">                                                
                                                    <b-img class="img-fitur" :src="apa.img"/> <p>{{apa.namafitur}}</p>                                                                                                                   
                                                </div>                                                                                      
                                            </div> -->
                                            <v-dialog v-model="dialog" max-width="59rem">
                                                <template v-slot:activator="{ on }">
                                                                                       
                                                        <b-btn id="myImg" class="btnchip" v-on="on" @click="overlay = !overlay" style="text-align: center;">Lain-lain</b-btn>
                                                    
                                                </template>
                                                <v-layout row justify-center>
                                                    <b-img id="myImg" class="img-dataoutput" :src="'/images/landingpage/dataoutput.png'" alt="Data Output"/>                                
                                                </v-layout>
                                            </v-dialog>
                                        </b-col>
                                    </b-row>                                                                
                                </v-tab-item>
                                </v-tabs-items>
                            </v-card>
                        </b-col>
                        <b-col md="5">
                            <b-img class="img-fiturbsr" :src="img1"/>
                        </b-col>
                        </b-row>                       
                   </div>                    
                </div>
            </div>

            <div id="achievement" class="achievements">      
                    <div class="container">
                        <div class="section-header">   
                        <p class="judul-section">Pencapaian</p>       
                        </div>
                    <div class="content">
                        <b-row>
                            <v-carousel class="car-achievement"                                  
                                hide-delimiters                            
                                height 
                            >
                                <v-carousel-item v-for="achievement in achievements" :key="achievement.id">
                                    <b-row>
                                        <b-col class="card-piala">                                                                                        
                                            <div class="each-piala">
                                                <b-img class="img-piala" :src="achievement.icon"/><br><br>                                            
                                                <!-- <h5 class="txt-tahun"> {{achievement.year}}</h5> -->
                                                <v-divider></v-divider>
                                                <p class="txt-peringkat">{{achievement.kategori}} </p>
                                            </div>                                                                                                                                
                                        </b-col>
                                    </b-row>
                                </v-carousel-item>
                                <!-- <v-carousel-item>
                                    <b-row>
                                        <b-col class="card-piala" v-for="penghargaan in achievement.kanan" :key="penghargaan.id">                                                                                        
                                            <div class="each-piala">
                                                <b-img class="img-piala" :src="penghargaan.img"/><br><br>                                            
                                                <h5 class="txt-tahun"> {{penghargaan.tahun}}</h5>
                                                <v-divider class="devider"></v-divider>
                                                <p class="txt-peringkat">{{penghargaan.peringkat}} </p>
                                            </div>                                                                                                                                    
                                        </b-col>
                                    </b-row>
                                </v-carousel-item> -->
                            </v-carousel>
                            <br><br>
                        </b-row>    
                                                                
                    </div>
                </div>
                   
            </div>           

             <div id="testimoni">                 
                    <div class="container">
                        <div class="section-header">   
                        <p class="judul-section" data-wow-delay="0.2s">Testimoni</p>       
                        </div>
                    
                    <div class="content">
                        
                        <b-row>
                            <b-col sm="4" class="each-testi mx-auto" v-for="testi in testimonis" :key="testi.id">
                                <div>
                                    <div>
                                    <b-img class="img-testi" :src="testi.gambar"/><br>                                    
                                    </div>
                                    <p class="txt-testi">{{testi.judul}}</p>
                                </div>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col class="each-testi" v-for="testi in testimoni.kanan" :key="testi.id">
                                <div>
                                    <div class="each-img-testi">
                                    <b-img class="img-testi" :src="testi.img"/><br>                                    
                                    </div>
                                    <p class="txt-testi">{{testi.lembaga}}</p>
                                </div>
                            </b-col>
                        </b-row> -->
                    </div>
                    </div>
            </div>

             <div id="screenshots" class="screenshots">                 
                    <div class="container">
                        <div class="section-header">   
                        <p class="judul-section" data-wow-delay="0.2s">Screenshots</p>       
                        </div>
                    
                        <div class="content">
                            <b-row class="justify-content-md-center">
                                <b-col>
                                    <b-row>
                                        <v-carousel class="car-achievement"
                                            hide-delimiters
                                        >
                                            <v-carousel-item v-for="hp in hps" :key="hp.id">
                                                <b-row>
                                                    <b-col >
                                                        <b-img class="img-screenshot-hp" :src="hp.gambar"/>
                                                    </b-col>
                                                </b-row>
                                            </v-carousel-item>
                                            <!-- <v-carousel-item>
                                                <b-row>
                                                    <b-col v-for="laptop in laptops" :key="laptop.id"  >
                                                        <b-img class="img-screenshot-laptop" :src="laptop.gambar"/>
                                                    </b-col>
                                                </b-row>
                                            </v-carousel-item> -->
                                        </v-carousel>
                                    </b-row>
                                </b-col>
                                
                                <!-- <b-col cols="*">
                                    <b-img class="img-screenshot" :src="'/images/landingpage/screenshots/detail.png'"/>
                                </b-col>   
                                 <b-col cols="*">
                                    <b-img class="img-screenshot" :src="'/images/landingpage/screenshots/home.png'"/>
                                </b-col>   
                                 <b-col cols="*">
                                    <b-img class="img-screenshot" :src="'/images/landingpage/screenshots/kategoripendataan.png'"/>
                                </b-col>   
                                 <b-col cols="*">
                                    <b-img class="img-screenshot" :src="'/images/landingpage/screenshots/reward.png'"/>
                                </b-col>     -->
                            </b-row>                            
                        </div>
                    </div>
            </div>

            <div id="footer">                 
                <div class="container">
                    <b-row>
                        
                        <b-col>                             
                                <!-- How to change your own map point
                                                    1. Go to Google Maps
                                                    2. Click on your location point
                                                    3. Click "Share" and choose "Embed map" tab
                                                    4. Copy only URL and paste it within the src="" field below
                                                -->
                                <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15862.632051689396!2d106.8674127!3d-6.3085812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5fee871b52a6d4f!2sPT.GRB!5e0!3m2!1sen!2sid!4v1576079181600!5m2!1sen!2sid" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>                                                                                 
                        </b-col>
                        <b-col>
                            <div class="abt-sippkling">
                                <h4> SIPP KLING </h4>
                                <div class="abt-sippkling-sub">                                    
                                    <p><a class="footer-subtitle1" href="https://drive.google.com/file/d/1WdE6WANipvAgw5eOEZj02tOglfdbRrpz/view?usp=sharing" target="_blank">Profil</a></p>
                                    <p><a class="footer-subtitle1" href="https://drive.google.com/file/d/1DKxkMCv4Vl9LmjfBpFPuqCLatSbdIU0B/view?ts=5dba7df1" target="_blank">Panduan</a></p>
                                    <p><a><router-link :to="`/coming-soon`" class="footer-subtitle1">Dashboard</router-link></a></p>  
                                </div>
                            </div>
                            <h4> TEMUKAN KAMI </h4>
                            <div class="abt-sippkling-sub">
                                <p class="address"> Nuansa Commercial Estate Blok A-01, Jalan TB Simatupang Kav. 17, Ciracas, Jakarta Timur </p>                           
                            </div>
                        </b-col>
                        <!-- <b-col>
                            <h4> HUBUNGI KAMI </h4>
                            <div class="abt-sippkling-sub">
                            <a> met.id@outlook.com</a><br>
                            <a>(021) 87786161</a>
                            </div>                            
                        </b-col> -->

                        <b-col>
                            <h4> IKUTI KAMI </h4>
                            <div class="abt-sippkling-sub">                        
                                 <a class="footer-subtitle1" href="https://www.twitter.com/MitraEdu/"><b-img class="icon-sosmed"  :src="'/images/landingpage/icontwitter.png'"/>MitraEdu</a><br>
                                 <a class="footer-subtitle1" href="https://www.instagram.com/pt.met/"><b-img class="icon-sosmed"  :src="'/images/landingpage/iconig.png'"/>pt.met</a><br>
                                 <a class="footer-subtitle1" href="https://www.linkedin.com/company/mitra-edu-teknologi"><b-img class="icon-sosmed"  :src="'/images/landingpage/iconlinkedin.png'"/>mitra-edu-teknologi</a><br>                                 
                            </div>
                            <br><br>
                            <h5> HUBUNGI KAMI </h5>
                            <div class="abt-sippkling-sub1">
                            <a> met.id@outlook.com</a><br>
                            <a>(021) 87786161</a>
                            </div> 
                        </b-col>
                        <b-col>
                            <h4> DOWNLOAD </h4>
                            <div class="abt-sippkling-sub1">
                            <a href="https://play.google.com/store/apps/details?id=id.tiregdev.sippkling&hl=gsw"> <b-img class="img-playstore" :src="'/images/landingpage/google-play-badge.png'"/></a>
                            </div> <br>
                            <h5 > Powered By </h5>
                            <div class="abt-sippkling-sub1">
                            <a>Dinas Kesehatan Kota Depok</a><br>
                            <b-img class="img-dfc" :src="'/images/landingpage/depokfriendlycity.jpg'"/>
                            <b-img class="img-kotadepok" :src="'/images/landingpage/kotadepok.png'"/>  
                            </div>                           
                        </b-col>
                    </b-row>
                   

                    

                    <!-- <hr class="hr"> -->

                    <!-- <b-row>
                        <b-col cols="4" >
                            <div class="footer-sosmed">
                                <i class="fa fa-instagram"/>
                                <i class="fa fa-facebook"/>
                                <i class="fa fa-user" />
                                <i class="fa fa-bath fa-lg mt-4" />
                                <a href="#"><b-img class="icon-sosmed" :src="'/images/landingpage/facebook.png'"/></a>
                                <a href="#"><b-img class="icon-sosmed"  :src="'/images/landingpage/iconig.png'"/></a>
                            </div>
                        </b-col>
                        <b-col cols="4" >
                            <div class="footer-title">
                               <p class="footer-title1">{{footer.title}}</p>
                            </div>
                        </b-col>
                        <b-col cols="4" >
                            <div class="footer-subtitle">
                            <a href="https://drive.google.com/file/d/1WdE6WANipvAgw5eOEZj02tOglfdbRrpz/view?usp=sharing" class="footer-subtitle1" target="_blank">Profil</a>
                            <a href="https://drive.google.com/file/d/1DKxkMCv4Vl9LmjfBpFPuqCLatSbdIU0B/view?ts=5dba7df1" class="footer-subtitle1" target="_blank" >Panduan</a> 
                            <a> <router-link :to="`/coming-soon`" class="fs"><span>Dashboard</span></router-link></a>
                            </div>
                        </b-col>
                    </b-row>

                    <hr class="hr">

                    <b-row class="footer-info">
                        <b-col class="sub-footer-info" v-for="info in footer.infos" :key="info">
                            <h4>{{info.kategori}}</h4><br>
                            <p class="txt-info">{{info.isikategori}} </p>
                        </b-col>
                    </b-row>

                    
                    <hr class="hr">

                    <b-row>
                    <b-col cols="4"></b-col>
                    <b-col cols="4"> <p class="footer-support">{{footer.supportby}} </p></b-col>
                    <b-col cols="4"> 
                        <b-img class="img-dfc" :src="'/images/landingpage/depokfriendlycity.jpg'"/>
                        <b-img class="img-dfc" :src="'/images/landingpage/logomet.jpeg'"/>
                     </b-col>
                    
                    </b-row> -->
                </div>
            </div>
                    <!-- header section end -->
                

        </div>
        <div class="powered">
            <p> Supported By PT. MET</p>
        </div>
        </div>
    </template>

<script>
// import * as easings from 'vuetify/es5/services/goto/easing-patterns';

export default {
    name:"LandingPage",
    data(){
        return{
            tab: null,
            currentOffSet :0,
            windowSize: 3,
            paginationFactor: 220,
            dialog: false,
            overlay: false,
            xIndex:0,
            collapseTer: false,
            // img : [],
            // img1: [],
            img: '/images/landingpage/icon.png',
            img1: '/images/landingpage/fitur.png',
            items: ["Profil","Guide"],
            generals: [],
            achievements:[],
            latarbelakangs:[],
            fiturs: [],            
            testimonis: [],
            outputs:[],
            generals:[],
            screenshotss: [],
            hps:[],
            laptops:[],
            home : {
                title: "SIPP KLING",
                sub_title: "Sistem Informasi Pemetaan Profil Kesehatan Lingkungan",
                sipp_adalah: "Pemetaan Profil Kesehatan Lingkungan dengan menggunakan teknologi smartphone sebagai aplikasi utama yang digunakan oleh Kader untuk mendata dari tempat ke tempat lainnya dan website sebagai pengelola sistem yang digunakan oleh petugas kesehatan lingkungan Dinas Kesehatan."                
            },
           
            
            // latarbelakang:{        
            //     permenkes:{
            //         judulpermenkes: "Permenkes RI Nomor 75 Tahun 2014 Pasal 36 Ayat 2",
            //         isipermenkes: "Puskesmas menjadi bagian dari upaya kesehatan masyarakat dan salah satunya adalah adanya pelayanan kesehatan lingkungan"        
            //     },
            //     rpjmn:{
            //         judulrpjmn : "RPJMN 2020-2024 BAB 4 dan BAB 6",
            //         bab4: "BAB 4 Sasaran Pemenuhan Layanan Dasar Nomor 10, 11, 14, dan 15 tentang:",                    
            //         bab6: "BAB 6 Sasaran Pembangunan Infrastruktur Pelayanan Dasar Tentang:",
            //         bab4_points: ["Eliminasi Malaria","Persentase merokok pada usia 10-18 tahun", "Persentase fasilitas kesehatan tingkat pertama terakreditasi","Persentase rumah sakit terakreditasi"],
            //         bab6_points: ["Penyediaan akses masyarakat terhadap perumahan dan permukiman layak, aman, dan terjangkau.","Penyediaan akses air minum dan sanitasi yang layak dan aman"]
            //     },
            //     penyakit:{
            //         judulpenyakit: "Tingginya Penyakit Berbasis Lingkungan",
            //         penyakit_point:["TB Paru : 168.412 Jiwa","Diare : 7.077.299 Jiwa, hanya 60% yang ditangani","DBD : 59.047 Jiwa","Malaria : 261.617 Jiwa"],             
            //     }
            // },
            // fituroutput:{
            //     output1:[
            //         { id: 1,
            //           img: "/images/landingpage/output/rumahsehat.png",                                              
            //           namafitur: "Rumah Sehat"
            //         },
            //         { id: 2,
            //           img: "/images/landingpage/output/rumahsakit.png",
            //           namafitur: "Rumah Sakit"
            //         },
            //         { id: 3,
            //           img: "/images/landingpage/output/puskesmas.png",
            //           namafitur: "Puskesmas"
            //         },
            //          { id: 4,
            //           img:"/images/landingpage/output/sekolah.png",
            //           namafitur: "Sekolah"
            //         }
            //     ],
            //     output2:[
            //         { id: 1,
            //           img: "/images/landingpage/output/tempatibadah.png",                                              
            //           namafitur: "Tempat Ibadah"
            //         },
            //         { id: 2,
            //           img: "/images/landingpage/output/kesling.png",
            //           namafitur: "Kesehatan Lingkungan"
            //         },
            //         { id: 3,
            //           img: "/images/landingpage/output/pasar.png",
            //           namafitur: "Pasar"
            //         }
            //     ],
            //     fitur1:[
            //         { id: 1,
            //           img: "/images/landingpage/fitur/accessright.png",                                              
            //           namafitur: "Access Right"
            //         },
            //         { id: 2,
            //           img: "/images/landingpage/fitur/allinone.png",
            //           namafitur: "All in One Dashboard"
            //         },
            //         { id: 3,
            //           img: "/images/landingpage/fitur/directreport.png",
            //           namafitur: "Report Directly via App"
            //         },
            //          { id: 4,
            //           img:"/images/landingpage/fitur/fastload.png",
            //           namafitur: "Fast Load"
            //         },
            //         { id: 5,
            //           img:"/images/landingpage/fitur/history.png",
            //           namafitur: "History"
            //         }
            //     ],
            //     fitur2:[
            //        { id: 1,
            //           img: "/images/landingpage/fitur/nointernet.png",                                              
            //           namafitur: "Works wkile No Internet"
            //         },
            //         { id: 2,
            //           img: "/images/landingpage/fitur/pushnotification.png",
            //           namafitur: "Get Push Notification"
            //         },
            //         { id: 3,
            //           img: "/images/landingpage/fitur/realtimescore.png",
            //           namafitur: "Real Time Score"
            //         },
            //          { id: 4,
            //           img:"/images/landingpage/fitur/rewardkader.png",
            //           namafitur: "Get Reward for Top Kader"
            //         }
            //     ]
            // },
            
            // achievement: 
            //     {
            //     kiri:[
            //         {
            //         id: 1,
            //         img:"/images/landingpage/piala2017.png",
            //         tahun: "2017",
            //         peringkat: "Peringkat 1 - Aplikasi Proyek Perubahan Diklat PIM se-Jawa Barat"                    
            //     },
            //     {
            //         id: 2,
            //         img:"/images/landingpage/piala2018.png",
            //         tahun: "2018",
            //         peringkat: "Percontohan dan Narasumber pada Diskusi Kesehatan Lingkungan di Bapelkes Cikarang"                    
            //     },
            //     {
            //         id: 3,
            //         img:"/images/landingpage/piala2018.png",
            //         tahun: "2018",
            //         peringkat: "Peringkat 1 - Kategori Inovasi ICT Bidang Kesehatan dari INDOHCF AWARD"                    
            //     }
            //     ],
            //     kanan:[
            //     {
            //         id: 5,
            //         img:"/images/landingpage/piala2018.png",
            //         tahun: "2018",
            //         peringkat: "Juara Favorit - Ajang Lomba Nasional INDOHCF AWARD 2"                    
            //     },
            //     {
            //         id: 6,
            //         img:"/images/landingpage/piala2018.png",
            //         tahun: "2018",
            //         peringkat: "Inovation Walikota Entrepreneur Award"                    
            //     },
            //     {
            //         id: 7,
            //         img:"/images/landingpage/piala2019.png",
            //         tahun: "2019",
            //         peringkat: "Kolaborasi dengan Smart City Depok"                    
            //     }
            // ]
            // },
        // testimoni: 
        //     {
        //         kiri: [
        //             {
        //                 id: 1,
        //                 img: "/images/landingpage/testimoni/bappelkescikarang.png",
        //                 lembaga: "BAPPELKES CIKARANG"            
        //             },
        //             {
        //                 id: 2,
        //                 img: "/images/landingpage/testimoni/indohealthcareforum.png",
        //                 lembaga: "INDOHEALTHCARE FORUM"            
        //             },
        //             {
        //                 id: 2,
        //                 img: "/images/landingpage/testimoni/michosan.png",
        //                 lembaga: "MICHOSAN INDONESIA"            
        //             }
        //         ],
        //         kanan:  [
        //             {
        //                 id: 1,
        //                 img: "/images/landingpage/testimoni/kotadepok.png",
        //                 lembaga: "KOTA DEPOK"            
        //             },
        //             {
        //                 id: 2,
        //                 img: "/images/landingpage/testimoni/who.png",
        //                 lembaga: "WHO WASH INDONESIA"            
        //             }
        //         ] 
        //     },
            
            // screenshots: {
            // hp:
            //     [
            //     "/images/landingpage/screenshots/home.png", 
            //     "/images/landingpage/screenshots/detail.png",
            //     "/images/landingpage/screenshots/kategoripendataan.png",
            //     "/images/landingpage/screenshots/reward.png"
            //     ],

            // laptop: [                
            //     "/images/landingpage/screenshots/tampilangrafik.png",
            //     "/images/landingpage/screenshots/tampilansekolah.png"
            // ]

            // },
            // footer: {
            //     title:"SIPP KLING",
            //     infos:[
            //         {
            //             kategori: "mail",
            //             isikategori: "met.id@outlook.com"
            //         },
            //         {
            //             kategori: "call",
            //             isikategori: "(021) 87786161"
            //         },
            //         {
            //             kategori: "Find Us",
            //             isikategori: "Nuansa Commercial Estate Blok A-01, Jalan TB Simatupang Kav. 17, Ciracas, Jakarta Timur"
            //         }
            //     ],
            //     subtitle: ["Dashboard","Profil","Guide"],
            //     socialmedia:["gambar"],
            //     supportby: "Supported by MET"         
            // }            
    }
    },
    methods: {
        moveCarousel(direction){
            if( direction == 1 && !this.atEndOfList){
                this.currentOffSet -= this.paginationFactor;
            } else if (direction === -1 && !this.etHeadOfList){
                this.currentOffSet += this.paginationFactor;
            }
        },
        changeIcon(index){
            this.img = this.latarbelakangs[index].gambar;
        },
        loadAchievements(){
            axios
                .get("landing-page/achievements")
                .then((data) => {
                    this.achievements = data.data.achievement
                }).catch((err) => {
                    alert('Gagal Terhubung ke Server!');
                });
        },
        // loadGeneral(){
        //     axios
        //         .get("landing-page/generals")
        //         .then((data) => {
        //             this.generals = data.data.general
        //         }).catch((err) => {
        //             alert('Gagal Terhubung ke Server!')
        //         });
        // },
        loadScreenshot(){
            axios
                .get("landing-page/screenshots")
                .then((data) => {
                    this.hps = data.data.screenshot
                }).catch((err) => {
                    alert('Gagal Terhubung ke Server!')
                });
        },
        loadFitur(){
            axios
                .get("landing-page/fitur")
                .then((data) => {
                    this.fiturs = data.data.fiturs,
                    this.outputs = data.data.outputs
                }).catch((err) => {
                    alert('Gagal Terhubung ke Server!')
                });
        },
        loadTestimoni(){
            axios
                .get("landing-page/testimonis")
                .then((data) => {
                    this.testimonis = data.data.testimoni
                }).catch((err) => {
                    alert('Gagal Terhubung ke Server!')
                });
        },
        loadHome(){
            axios
                .get("landing-page/home")
                .then((data) => {
                    this.home = data.data.data[0]
                }).catch((err) => {
                    alert('Gagal Terhubung ke Server!')
                });
        },
        loadLatarbelakangs(){
            axios
                .get("landing-page/latarbelakang")
                .then((data) => {
                    this.latarbelakangs = data.data.latarbelakangs
                }).catch((err) => {
                    alert('Gagal Terhubung ke Server!')
                });
        },

        changeFitur(){
            this.img1 = "images/landingpage/fitur.png"

        },

        changeOutput(){
            this.img1= "images/landingpage/output.png"
        }
        
        
    },
    computed: {
        atEndOfList(){
            return this.currentOffset <= (this.paginationFactor * -1) * (this.items.length -this.windowSize);
        },
        atHeadOfList(){
            return this.currentOffSet === 0;
        },
        fontsize(){
            var divWidth = $(".chipfitur").width();
            var text = $("#txt-fitur");
            var fontSize = 5;

            while (text.width() > divWidth)
            text.css("font-size", fontSize -= 0.5);
            text.css("display", "inline");
        }
    },
    mounted(){
        this.loadAchievements();
        // this.loadGeneral();
        this.loadFitur();
        this.loadTestimoni();
        this.loadScreenshot();
        this.loadHome();
        this.loadLatarbelakangs();
    }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
    .landingpage {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }

    .powered{
        padding-top: 1rem;
        padding-bottom: 0.5rem; 
        text-align: center;
        color: white;
        background-color: #1d1d1d;
    }
    .abt-sippkling-sub{
        padding-top: 1rem;
        color: white;
        font-weight: 400;
    }

    .abt-sippkling-sub1{        
        color: white;
        font-weight: 400;
    }

    .address{
        padding-right: 4rem;
    }

    .subitem{
        list-style-type: none;        
    }
    .homey{
      width:100%;
      background: url('/images/landingpage/bgai2.png') no-repeat center center;
      background-size: cover;
      height: auto;  
    }

    .hr{
        font-weight: 200;
    }

    .achievements {
      padding: 10rem 0rem;
      background: url('/images/landingpage/bgachievement.png') no-repeat center center;
      background-size: cover;
    }

    .screenshots{    
        background: url('/images/landingpage/bgss.png') no-repeat center center;
        background-size: cover;
    }

    .screenshots .contents{
        padding-top: 5rem;
    }

    .screenshots .section-header{
        padding-top: 5rem;
    }

    .head-title{
        font-size: 3em;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #457c71;
        padding-top: 4rem;
    }

    .sub-head-title{
        font-size: 2.4em;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        color: #457c71;
    }

   

    .judul-section{
        font-weight: bolder;
    }

    .pengertian{
        font-weight: 600;
        font-size: 1.1rem;
        color: #457c71;
        
    }

    .img-grafik{
        width: 1200px;
    }


    .fa{
        font-family: 'Montserrat', sans-serif;
    }

    .list-aboutus{
        list-style-type: none;
    }

    .judul{
        font-size: 1.5rem;
        font-weight: 700;
        color: #0d9260;
    }

    .isi{
        font-size: 1rem;
        font-weight: 500;
    }           

    .cardpiala{        
        display: flex;
        height: 100%;
        max-height: 4rem;;
    }

     .cardpialakanan{        
        display: flex;
    }

    #achievement .container{
        padding: 0rem 2rem;
    }
    
    .divtesti{
        float:left;
    }

    .footer-title{        
        text-align: center;
        
    }

    .footer-subtitle{
        float: right;        
        padding: 5px;
        color: white;
    }

    .footer-subtitle1{
        color:white;
        padding-bottom: 1rem;
    }

    .footer-info{
        text-align: center        
    }

    .footer-sosmed{
        float: left;
    }

    .row-info{
        display: flex;
    }

    .sub-footer-info{
        width: 300px;
        
    }

    .isilatbel{
        padding: 2rem;
    }

    

.card-piala{
    text-align: center;
}

.mytab{
    border: 1px solid;
    border-radius: 2rem;
}

.tab-fitur-output{
    padding: 1.2rem;
    border-radius: 1.1rem;
}

.txt-tahun{
    font-weight: 700;
    font-size: 1.3rem;
  }

  .txt-peringkat{
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }

.btn-latbel{
  width: 100%;
  padding: 1rem;
  background: #7ee8d4;
  color: #212221;
  margin: 2px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: start;
  border-radius: 1rem 1rem 0rem 0rem;
  border: 0px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
  -moz-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
  box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
}
.btn-video{
  width: 10rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0rem;
  margin: 1rem 2rem 4rem 0rem;
  float: left;
  background: #71cfbe;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.icon-sosmed{
    max-width: 1rem;
    width: 1rem;
    height: auto;
    margin-right: 0.5rem;
}

.case-slider__navigation{
width:40%
}
.prev{
float:left
}
.next{
float:right
}

@media (max-width:767px) { 
    .navbar .name {
        font-size: 20px;
        float: left;
        margin: 0;
        padding: 15px 0 15px 15px;
    }
}
@media (min-width:768px) { 
    .navbar .nav-brand {
        width: 100%;
        margin: 0;
        color: #fff
    }
}
</style>