<template>
  <div class="animated fadeIn p-5">
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/klinik.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Klinik</h5>
        </td>
      </tr>
    </table>

    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>

    <!-- Import CSV -->
    <v-dialog
      v-model="dialogimport"
      width="800"
      ref="modaltemplate"
      title="import csv"
      centered
      persistent
    >
      <v-card>
        <b-card-body class="scrollable">
          <i class="text-red">
            *Pastikan username yang akan di import belum digunakan oleh kader lain
            <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
          </i>
          <vue-csv-import
            :key="componentKey"
            v-model="csv"
            :map-fields="['nama_tempat','nama_pimpinan','alamat','jam_operasional','no_telp','gambaran_umum','kecamatan_id','kelurahan_id']"
            inputClass="style-file-input"
            checkboxClass
          >
            <template slot="hasHeaders" slot-scope="{headers, toggle}">
              <b-form-checkbox
                id="hasHeaders"
                class="pl-1 mb-1 mt-2"
                :value="!headers"
                @change="toggle"
              >File memiliki nama kolom</b-form-checkbox>
            </template>
            <template slot="next" slot-scope="{load}">
              <b-btn @click.prevent="load" variant="info" class="text-white">Lanjut</b-btn>
            </template>

            <template slot="thead">
              <b-alert
                variant="warning"
                :show="csv == 0"
              >Pastikan seluruh kolom terisi dengan sesuai</b-alert>
              <tr>
                <th>Kolom di Database</th>
                <th>Kolom di file CSV</th>
              </tr>
            </template>

            <template slot="error">
              <span class="text-red">Tipe file salah! (gunakan tipe file .csv)</span>
            </template>
          </vue-csv-import>
        </b-card-body>
        <b-card-footer>
          <b-btn variant="outline-dark" @click="closeImportWindow()">Tutup</b-btn>
          <b-tooltip show="true" target="uploadbutton" placement="left">Klik untuk memulai import</b-tooltip>
          <b-btn
            id="uploadbutton"
            class="float-right"
            variant="primary"
            v-show="csv.length > 0"
            @click.prevent="onImportCsv"
          >Import CSV</b-btn>
        </b-card-footer>
      </v-card>
    </v-dialog>
    <!-- End Import CSV -->
    <b-btn-group class="float-right mb-2">
      <b-btn variant="gray-200" @click="showTemplate()">
        Template CSV
        <i
          title="Klik untuk Melihat Template Format CSV yang sesuai !"
          v-b-tooltip.hover
          class="fa fa-question-circle"
        ></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Nama Klinik" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="klinik.namatempat"
          required
          placeholder="Ex: Klinik Persada Jaya"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="klinik.alamat"
          required
          placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Nama Pimpinan" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="klinik.namapimpinan"
          required
          placeholder="Ex: Sujokodo Hamengku"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
        <b-form-input
          id="input-9"
          v-model="klinik.jamoperasional"
          required
          placeholder="Ex: 07.00 - 17.00"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Gambaran Umum Klinik" label-for="input-4">
        <b-form-input
          id="input-4"
          v-model="klinik.gambaranumum"
          required
          placeholder="Ex: Klinik Ibu dan Anak"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
        <b-form-input
          id="input-10"
          v-model="klinik.nomortelepon"
          required
          placeholder="Ex: 021727003613"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-11"
        label="Kepemilikan Izin Mendirikan Bangunan"
        label-for="radio-11"
      >
        <b-form-radio-group v-model="klinik.kepemilikanizin" id="radio-11">
          <b-form-radio value="y">Ada</b-form-radio>
          <b-form-radio value="t">Tidak Ada</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <div v-if="klinik.kepemilikanizin == 'y'">
        <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
          <b-form-input
            id="input-12"
            v-model="klinik.nop"
            placeholder="Ex: 12.34.562.123.123-0321.0"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-13" label="Status Pajak Bumi Bangunan" label-for="radio-13">
          <b-form-radio-group v-model="klinik.statuspbb" id="radio-13">
            <b-form-radio value="Sudah Bayar">Sudah Bayar</b-form-radio>
            <b-form-radio value="Belum Bayar">Belum Bayar</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </div>

      <!-- <ol type="A">
                <li>
                    <h5>BANGUNAN LUAR</h5>
                    <ol>
                        <li>
                            Pagar
                            <b-form-checkbox-group v-model="klinik.bangunanluar1">
                                <ol type="a">

                                    <li>
                                        <b-checkbox value="a">
                                            Adanya pagar lingkungan yang membatasi masyarakat dengan bangunan klinik
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Pagar kuat dan bersih
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Tidak ada bagian pagar yang rusak
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Adanya pintu masuk/keluar
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Halaman (taman, jalan, dan tempat parkir)
                            <b-form-checkbox-group v-model="klinik.bangunanluar2">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Adanya taman
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Adanya tempat parkir
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Halaman, taman, tempat parkir tampak bersih
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Taman dipelihara dan tampak rapi
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="e">
                                            Tersedia tempat sampah
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Teras
                            <b-form-checkbox-group v-model="klinik.bangunanluar3">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Teras lantai tidak retak
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Bersih
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Kedap air
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Mudah dibersihkan
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Dinding luar bangunan
                            <b-form-checkbox-group v-model="klinik.bangunanluar4">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Tidak retak
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Permukaan rata
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Berwarna terang (putih/PMem)
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Bersih dari noda/coretan
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Atap dan langit - langit
                            <b-form-checkbox-group v-model="klinik.bangunanluar5">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Atap tidak bocor
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Permukaan rata
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Mudah dibersihkan
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Tidak retak
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="e">
                                            Cat tidak mengelupas
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Saluran buangan air hujan
                            <b-form-checkbox-group v-model="klinik.bangunanluar6">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Kondisi sarana baik
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Tidak tergenang air
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Disalurkan melalui saluran tertutup
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>SARANA FASILITAS SANITASI</h5>
                    <ol>
                        <li>
                            Penyediaan Air
                            <b-form-checkbox-group v-model="klinik.saranasanitasi1">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Tersedia air bersih dalam jumlah yang cukup
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Memenuhi syarat kualitas air bersih
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Distribusi air menggunakan perpipaan
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Tersedia bak cuci tangan pada unit pelayanan pemeriksaan KIA-KB, ruang gigi, laboratorium
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Jamban / Kamar mandi
                            <b-form-checkbox-group v-model="klinik.saranasanitasi2">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Tersedianya kamar mandi dan WC untuk karyawan (1:10)
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Kamar mandi dan kakus karyawan pria dan wanita terpisah
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Tersedia kamar mandi dan kakus pengunjung
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Bersih, tidak bau
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="e">
                                            Saluran pembuangan air limbah di buang ke septic tank
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="f">
                                            Rasio kamar mandi dan kakus dengan tempat tidur (1:5)-(khusus klinik perawatan)
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            SPAL
                            <b-form-checkbox-group v-model="klinik.saranasanitasi3">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Adanya saluran SPAL
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Berfungsi
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Air kotor dari kamar mandi dan ruangan - ruangan pelayanan dialirkan ke SPAL
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Saluran air limbah tertutup
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="e">
                                            Kedap air
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Sampah
                            <b-form-checkbox-group v-model="klinik.saranasanitasi4">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Adanya tempat sampah di ruang pelayanan
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Tempat sampah kedap air
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Adanya pemisah sampah infeksius dan non infeksius
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Pengosongan sampah setiap hari (1x24 jam)
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="e">
                                            Penanganan sampah infeksius menggunakan panas tinggi / MOU dengan pihak ketiga
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Wastafel
                            <b-form-checkbox-group v-model="klinik.saranasanitasi5">
                                <ol type="a">
                                    <li>
                                        <b-checkbox value="a">
                                            Tersedia wastafel
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="b">
                                            Berfungsi dengan baik
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="c">
                                            Tersedia pada pelayanan KIA-KB, Lab, Poli gigi, ruang perawatan
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="d">
                                            Tersedia zat anti septik
                                        </b-checkbox>
                                    </li>
                                    <li>
                                        <b-checkbox value="e">
                                            Ada lap pengering
                                        </b-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                    </ol>
                        
                </li>
      </ol>--><b-row>
        <b-col cols="6">
          <b-form-group id="input-group-50" label="Kode Kecamatan" label-for="input-5">
            <b-form-input
              id="input-50"
              type="number"
              v-model="klinik.kecamatan"
              required
              placeholder="Ex: 1"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-60" label="Kode Kelurahan" label-for="input-6">
            <b-form-input
              id="input-60"
              type="number"
              v-model="klinik.kelurahan"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import ListIdKelurahan from "../ListIdKelurahan";
import { VueCsvImport } from "vue-csv-import";

export default {
  components: { ListIdKelurahan, VueCsvImport },
  data() {
    return {
      csv: [],
      dialog: false,
componentKey: 0,

      dialogtemplate: false,
      dialogimport: false,
      template: {
        headers: [
          "nama_tempat",
          "nama_pimpinan",
          "alamat",
          "	jam_operasional",
          "no_telp",
          "	gambaran_umum",
          "kecamatan_id",
          "kelurahan_id"
        ],
        items: [
          "klinik beji",
          "dr. Samsudin",
          "Jl. Taufiqurrohman, beji timur, Depok",
          "24 jam",
          "021 747768",
          "klinik ini memiliki fasilitas sebagai berikut",
          "1",
          "2"
        ]
      },
      klinik: {
        namatempat: "",
        alamat: "",
        namapimpinan: "",
        nomortelepon: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",
        bangunanluar1: [],
        bangunanluar2: [],
        bangunanluar3: [],
        bangunanluar4: [],
        bangunanluar5: [],
        bangunanluar6: [],
        saranasanitasi1: [],
        saranasanitasi2: [],
        saranasanitasi3: [],
        saranasanitasi4: [],
        saranasanitasi5: [],kecamatan:'',
kelurahan:'',
        query: []
      }
    };
  },
  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.klinik));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.klinik = "";
    },
    forceRerender() {
      this.componentKey += 1;
    },
    onImportCsv() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan data excel sesuai dengan aturan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Import Sekarang"
        })
        .then(result => {
          if (this.csv.length > 0) {
            this.$nextTick(() => {
              this.klinik.query = [];
            });

            this.forceRerender();
            if (result.value) {
              swal.fire({
                text: "Dalam proses...",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                  swal.showLoading();
                }
              });

              axios
                .post("klinik/custom/import-csv", {
                  csv: this.csv
                })
                .then(({ data }) => {
                  if (data.status_code == 1000) {
                    let str = "";

                    for (let index = 0; index < data.data.length; index++) {
                      str +=
                        "<tbody><tr><td>" +
                        (index + 1) +
                        "</td><td>" +
                        data.data[index].username +
                        "</td></tr></tbody>";
                    }

                    swal.fire({
                      title: "<strong>Import gagal! CSV Tidak Valid</strong>",
                      type: "warning",
                      html:
                        "<div class='col-12'><table class='table'><thead><tr><th>Nomor</th><th>username</th></tr></thead>" +
                        str +
                        "</table></div>" +
                        "<div><strong>Username tidak boleh sama</strong></div>"
                    });
                  }

                  if (data.status_code == 200) {
                    swal.fire({
                      title: "<strong>Berhasil import</strong>",
                      type: "success",
                      text: data.message
                    });
                  }

                  this.csv = [];
                  Fire.$emit("AfterEventKader");
                  // this.$refs["modal-1"].hide();
                  this.dialogimport = false;
                })
                .catch(err => {
                  if (err.response.status == 422) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Ada kesalahan pada data csv, pastikan data di csv sudah memenuhi aturan",
                      "warning"
                    );
                  }

                  if (err.response.status == 500) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Jaringan bermasalah, silahkan coba lagi",
                      "warning"
                    );
                  }
                });
            }
          } else {
            if (result.value) {
              swal.fire(
                "Gagal!",
                "Pastikan semua kolom yang di tentukan sudah terisi",
                "warning"
              );
            }
          }
        });
    }
  }
};
</script>