<template>
  <div class="animated fadeIn p-5">
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/pasar.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Pasar</h5>
        </td>
      </tr>
    </table>

    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>

    <!-- Import CSV -->
    <v-dialog
      v-model="dialogimport"
      width="800"
      ref="modaltemplate"
      title="import csv"
      centered
      persistent
    >
      <v-card>
        <b-card-body class="scrollable">
          <i class="text-red">
            *Pastikan username yang akan di import belum digunakan oleh kader lain
            <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
          </i>
          <vue-csv-import
            :key="componentKey"
            v-model="csv"
            :map-fields="['nama_tempat','alamat','nama_pengelola','jumlah_kios','jumlah_kios_kosong','jumlah_kios_terisi','jumlah_pedagang','jumlah_asosiasi','no_telp','jam_operasional','kecamatan_id','kelurahan_id']"
            inputClass="style-file-input"
            checkboxClass
          >
            <template slot="hasHeaders" slot-scope="{headers, toggle}">
              <b-form-checkbox
                id="hasHeaders"
                class="pl-1 mb-1 mt-2"
                :value="!headers"
                @change="toggle"
              >File memiliki nama kolom</b-form-checkbox>
            </template>
            <template slot="next" slot-scope="{load}">
              <b-btn @click.prevent="load" variant="info" class="text-white">Lanjut</b-btn>
            </template>

            <template slot="thead">
              <b-alert
                variant="warning"
                :show="csv == 0"
              >Pastikan seluruh kolom terisi dengan sesuai</b-alert>
              <tr>
                <th>Kolom di Database</th>
                <th>Kolom di file CSV</th>
              </tr>
            </template>

            <template slot="error">
              <span class="text-red">Tipe file salah! (gunakan tipe file .csv)</span>
            </template>
          </vue-csv-import>
        </b-card-body>
        <b-card-footer>
          <b-btn variant="outline-dark" @click="closeImportWindow()">Tutup</b-btn>
          <b-tooltip show="true" target="uploadbutton" placement="left">Klik untuk memulai import</b-tooltip>
          <b-btn
            id="uploadbutton"
            class="float-right"
            variant="primary"
            v-show="csv.length > 0"
            @click.prevent="onImportCsv"
          >Import CSV</b-btn>
        </b-card-footer>
      </v-card>
    </v-dialog>
    <!-- End Import CSV -->

    <b-btn-group class="float-right mb-2">
      <b-btn variant="gray-200" @click="showTemplate()">
        Template CSV
        <i
          title="Klik untuk Melihat Template Format CSV yang sesuai !"
          v-b-tooltip.hover
          class="fa fa-question-circle"
        ></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Nama Pasar" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="pasar.namatempat"
          required
          placeholder="Ex: Pasar Segar"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Alamat Pasar" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="pasar.alamat"
          required
          placeholder="Ex:  Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Nama Pengelola Pasar" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="pasar.namapengelola"
          required
          placeholder="Ex: Kusnaidi"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Jumlah Kios/Los" label-for="input-4">
        <b-form-input
          id="input-4"
          type="number"
          v-model="pasar.jumlahkios"
          required
          placeholder="Ex: 140"
        ></b-form-input>
      </b-form-group>
      <b-row>
        <b-col cols="6">
          <b-form-group id="input-group-5" label="Kios kosong" label-for="input-5">
            <b-form-input
              id="input-4"
              type="number"
              v-model="pasar.kioskosong"
              required
              placeholder="Ex: 20"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-6" label="Kios ter isi" label-for="input-6">
            <b-form-input
              id="input-6"
              type="number"
              v-model="pasar.kiosisi"
              required
              placeholder="Ex: 120"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-form-group id="input-group-7" label="Jumlah Pedagang" label-for="input-7">
        <b-form-input
          id="input-7"
          type="number"
          v-model="pasar.jumlahpedagang"
          required
          placeholder="Ex: 200"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-8"
        label="Jumlah Asosiasi/Kelompok Pedagang"
        label-for="input-8"
      >
        <b-form-input
          id="input-8"
          type="number"
          v-model="pasar.jumlahasosiasi"
          required
          placeholder="Ex: 30"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
        <b-form-input
          id="input-9"
          v-model="pasar.jamoperasional"
          required
          placeholder="Ex: 07.00 - 17.00"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
        <b-form-input
          id="input-10"
          v-model="pasar.nomortelepon"
          required
          placeholder="Ex: 021727003613"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-11"
        label="Kepemilikan Izin Mendirikan Bangunan"
        label-for="radio-11"
      >
        <b-form-radio-group v-model="pasar.kepemilikanizin" id="radio-11">
          <b-form-radio value="y">Ada</b-form-radio>
          <b-form-radio value="t">Tidak Ada</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <div v-if="pasar.kepemilikanizin == 'y'">
        <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
          <b-form-input
            id="input-12"
            v-model="pasar.nop"
            placeholder="Ex:  12.34.562.123.123-0321.0"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-13" label="Status Pajak Bumi Bangunan" label-for="radio-13">
          <b-form-radio-group v-model="pasar.statuspbb" id="radio-13">
            <b-form-radio value="Sudah Bayar">Sudah Bayar</b-form-radio>
            <b-form-radio value="Belum Bayar">Belum Bayar</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </div>
      <b-row>
        <b-col cols="6">
          <b-form-group id="input-group-50" label="Kode Kecamatan" label-for="input-5">
            <b-form-input
              id="input-50"
              type="number"
              v-model="pasar.kecamatan"
              required
              placeholder="Ex: 1"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-60" label="Kode Kelurahan" label-for="input-6">
            <b-form-input
              id="input-60"
              type="number"
              v-model="pasar.kelurahan"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
    <router-view />
  </div>
</template>
<script>
import ListIdKelurahan from "../ListIdKelurahan";
import { VueCsvImport } from "vue-csv-import";

export default {
  components: { ListIdKelurahan, VueCsvImport },
  data() {
    return {
      csv: [],
      dialog: false,
      componentKey: 0,

      dialogtemplate: false,
      dialogimport: false,
      template: {
        headers: [
          "nama_tempat",
          "alamat",
          "nama_pengelola",
          "jumlah_kios",
          "jumlah_kios_kosong",
          "jumlah_kios_terisi",
          "jumlah_pedagang",
          "jumlah_asosiasi",
          "jam_operasional",
          "no_telp",
          "kecamatan_id",
          "kelurahan_id"
        ],
        items: [
          "Pasar kemiri",
          "Jl kemiri muka Beji",
          "Burhan",
          "1000	",
          "500",
          "500",
          "500	",
          "20",
          "05.00 - 21.00",
          "021 774778",
          "1",
          "3"
        ]
      },
      pasar: {
        namatempat: "",
        alamat: "",
        namapengelola: "",
        jumlahkios: "",
        kioskosong: "",
        kiosisi: "",
        jumlahpedagang: "",
        jumlahasosiasi: "",
        jamoperasional: "",
        nomortelepon: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",
        lokasi: [],
        bpumum: [],
        bpruangdagang: [],
        bpkantorpengelola: [],
        meja: [],
        penyimpanandingin: [],
        karkasdagingdigantung: [],
        tempatpencucianbahanpangan: [],
        tempatcucitangan: [],
        spl: [],
        tsampah: [],
        mejatempatpenjualan: [],
        mejaterbuat: [],
        tempatsampah: [],
        tempatcucitangan: [],
        bebasvektorpenularpenyakit: [],
        tpenyajianmakanan: [],
        tcucitangan: [],
        tcuciperalatan: [],
        pisaubeda: [],
        spl2: [],
        tsampah2: [],
        areaparkir: [],
        katap: [],
        kemiringanatap: [],
        ketinggianatap: [],
        kdinding: [],
        permukaandinding: [],
        pertemuanlantai: [],
        keadaanlantai: [],
        lantaikamarmandi: [],
        tangga: [],
        ventilasi: [],
        pencahayaan: [],
        pintu: [],
        airbersih: [],
        kamarmandi: [],
        pengelolaansampah: [],
        bahantempatsampah: [],
        alatpengangkutsampah: [],
        tps: [],
        tpstempatperindukan: [],
        tpsdijalurutama: [],
        sampahdiangkut: [],
        drainage: [],
        tempatcucitangan2: [],
        binatangpenular: [],
        kualitasmakanan: [],
        desinfeksi: [],
        perilaku1: [],
        perilaku2: [],
        perilaku3: [],
        keamanan1: [],
        keamanan2: [],
        fasilitaslain: [],
        kecamatan: "",
        kelurahan: "",
        query: []
      }
    };
  },
  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.pasar));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.pasar = "";
    },
    forceRerender() {
      this.componentKey += 1;
    },
    onImportCsv() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan data excel sesuai dengan aturan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Import Sekarang"
        })
        .then(result => {
          if (this.csv.length > 0) {
            this.$nextTick(() => {
              this.pasar.query = [];
            });

            this.forceRerender();
            if (result.value) {
              swal.fire({
                text: "Dalam proses...",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                  swal.showLoading();
                }
              });

              axios
                .post("pasar/custom/import-csv", {
                  csv: this.csv
                })
                .then(({ data }) => {
                  if (data.status_code == 1000) {
                    let str = "";

                    for (let index = 0; index < data.data.length; index++) {
                      str +=
                        "<tbody><tr><td>" +
                        (index + 1) +
                        "</td><td>" +
                        data.data[index].username +
                        "</td></tr></tbody>";
                    }

                    swal.fire({
                      title: "<strong>Import gagal! CSV Tidak Valid</strong>",
                      type: "warning",
                      html:
                        "<div class='col-12'><table class='table'><thead><tr><th>Nomor</th><th>username</th></tr></thead>" +
                        str +
                        "</table></div>" +
                        "<div><strong>Username tidak boleh sama</strong></div>"
                    });
                  }

                  if (data.status_code == 200) {
                    swal.fire({
                      title: "<strong>Berhasil import</strong>",
                      type: "success",
                      text: data.message
                    });
                  }

                  this.csv = [];
                  Fire.$emit("AfterEventKader");
                  // this.$refs["modal-1"].hide();
                  this.dialogimport = false;
                })
                .catch(err => {
                  if (err.response.status == 422) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Ada kesalahan pada data csv, pastikan data di csv sudah memenuhi aturan",
                      "warning"
                    );
                  }

                  if (err.response.status == 500) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Jaringan bermasalah, silahkan coba lagi",
                      "warning"
                    );
                  }
                });
            }
          } else {
            if (result.value) {
              swal.fire(
                "Gagal!",
                "Pastikan semua kolom yang di tentukan sudah terisi",
                "warning"
              );
            }
          }
        });
    }
  }
};
</script>

