<template>
  <div class="animated fadeIn p-5">
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/rumahsehat.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Rumah Sehat</h5>
        </td>
      </tr>
    </table>

    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>

    <b-btn-group class="float-right mb-2">
      <b-btn variant="gray-200" @click="showTemplate()">
        Template CSV
        <i
          title="Klik untuk Melihat Template Format CSV yang sesuai !"
          v-b-tooltip.hover
          class="fa fa-question-circle"
        ></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-2" label="Alamat Rumah" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="rumahsehat.alamat"
          required
          placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-1" label="Nama Kepala Keluarga" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="rumahsehat.kepalakeluarga"
          required
          placeholder="Ex: Joko Hartanto"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Jumlah Anggota Keluarga" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="rumahsehat.anggotakeluarga"
          type="number"
          required
          placeholder="Ex: 5"
        ></b-form-input>
      </b-form-group>

      <b-row>
        <b-col cols="6">
          <b-form-group id="input-group-4" label="Laki - laki" label-for="input-4">
            <b-form-input
              id="input-4"
              v-model="rumahsehat.laki"
              type="number"
              required
              placeholder="Ex: 3"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-5" label="Perempuan" label-for="input-5">
            <b-form-input
              id="input-5"
              v-model="rumahsehat.perempuan"
              type="number"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-form-group id="input-group-6" label="Nomor Kartu Keluarga" label-for="input-6">
        <b-form-input
          id="input-6"
          v-model="rumahsehat.nokk"
          type="number"
          required
          placeholder="Ex: 317401002993004"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="radio-11" label="Status Rumah" label-for="radio-11">
        <b-form-radio-group v-model="rumahsehat.statusrumah" required>
          <b-form-radio value="Kontrak">Kontrak</b-form-radio>
          <b-form-radio value="Milik Sendiri">Milik Sendiri</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <b-row>
        <b-col cols="6">
          <b-form-group id="input-group-8" label="RT" label-for="input-8">
            <b-form-select id="input-8" v-model="rumahsehat.rt" :options="rt" required></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-9" label="RW" label-for="input-9">
            <b-form-select id="input-9" v-model="rumahsehat.rw" :options="rw" required></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group id="input-group-10" label="Nomor Rumah" label-for="input-10">
        <b-form-input id="input-10" v-model="rumahsehat.norumah" required placeholder="Ex: 15 A"></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-11"
        label="Kepemilikan Izin Mendirikan Bangunan"
        label-for="radio-11"
      >
        <b-form-radio-group v-model="rumahsehat.kepemilikanizin" id="radio-11">
          <b-form-radio value="y">Ada</b-form-radio>
          <b-form-radio value="t">Tidak Ada</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <div v-if="rumahsehat.kepemilikanizin == 'y'">
        <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
          <b-form-input
            id="input-12"
            v-model="rumahsehat.nop"
            placeholder="Ex: 12.34.562.123.123-0321.0"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-13" label="Status Pajak Bumi Bangunan" label-for="radio-13">
          <b-form-radio-group v-model="rumahsehat.statuspbb" id="radio-13">
            <b-form-radio value="Sudah Bayar">Sudah Bayar</b-form-radio>
            <b-form-radio value="Belum Bayar">Belum Bayar</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </div>

      <!-- <h5 class="mt-5">KOMPONEN RUMAH</h5>
      <ol>
        <li>
          <b-form-group id="input-group-14" label="Langit - langit" label-for="radio-14">
            <b-form-radio-group id="radio-14" v-model="rumahsehat.klangit" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio value="b">B. Ada, kotor, sulit dibersihkan dan rawan kecelakaan</b-form-radio>
              <b-form-radio value="c">C. Ada, bersih dan tidak rawan kecelakaan</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-15" label="Dinding" label-for="radio-15">
            <b-form-radio-group v-model="rumahsehat.kdinding" id="radio-15" stacked>
              <b-form-radio value="a">A. Bukan tembok (terbuat dari anyaman bambu dan ilalang)</b-form-radio>
              <b-form-radio
                value="b"
              >B. Semi permanen/ setengah tembok/ pasangan bata dan batu yang tidak diplester/ papan yang tidak kedap air</b-form-radio>
              <b-form-radio value="c">C. Permanen (tembok/ pasangan batu bata yang diplester)</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-16" label="Lantai" label-for="radio-16">
            <b-form-radio-group v-model="rumahsehat.klantai" id="radio-16" stacked>
              <b-form-radio value="a">A. Tanah</b-form-radio>
              <b-form-radio
                value="b"
              >B. Papan/ Anyaman bambu dekat dengan tanah/ plesteran yang retak dan berdebu</b-form-radio>
              <b-form-radio value="c">C. Diplester/ ubin/ keramik/ papan (rumah panggung)</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-17" label="Jendela Kamar Tidur" label-for="radio-17">
            <b-form-radio-group v-model="rumahsehat.kjendelakamar" id="radio-17" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio value="b">B. Ada</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-18" label-for="radio-18" label="Jendela Ruang Keluarga">
            <b-form-radio-group v-model="rumahsehat.kjendelaruang" id="radio-18" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio value="b">B. Ada</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-19" label-for="radio-19" label="Ventilasi">
            <b-form-radio-group v-model="rumahsehat.kventilasi" id="radio-19" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio
                value="b"
              >B. Ada, Ada, luas ventilasi permanen &#60; 10 persen dari luas lantai</b-form-radio>
              <b-form-radio value="c">B. Ada, luas ventilasi permanen >10 persen dari luas lantai</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-20" label="Lubang Asap Dapur" label-for="radio-20">
            <b-form-radio-group v-model="rumahsehat.klubangasap" id="radio-20" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio
                value="b"
              >B. Ada, lubang ventilasi dapur &#60; 10 persen dari luas lantai dapur</b-form-radio>
              <b-form-radio
                value="c"
              >C. Ada, lubang ventilasi dapur > 10 persen dari luas lantai dapur (asap keluar dengan sempurna) atau ada exhaust fan ada peralatan lain yang sejenis</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-21" label="Pencahayaan" label-for="radio-21">
            <b-form-radio-group v-model="rumahsehat.kpencahayaan" id="radio-21" stacked>
              <b-form-radio value="a">A. Tidak terang, tidak dapat dipergunakan untuk membaca</b-form-radio>
              <b-form-radio value="b">B. Kurang terang, sehingga kurang jelas membaca dengan normal</b-form-radio>
              <b-form-radio
                value="c"
              >C. Terang dan tidak silau sehingga dapat dipergunakan untuk membaca normal</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>
      <h5>SARANA SANITASI</h5>
      <ol>
        <li>
          <b-form-group
            id="input-group-22"
            label="Sanitasi Air Bersih (SGL/SPT/PP/KU/PAH)"
            label-for="radio-22"
          >
            <b-form-radio-group v-model="rumahsehat.sab" id="radio-22" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio
                value="b"
              >B. Ada, bukan milik sendiri dan tidak memenuhi syarat kesehatan</b-form-radio>
              <b-form-radio value="c">C. Ada, milik sendiri dan tidak memenuhi syarat kesehatan</b-form-radio>
              <b-form-radio value="d">D. Ada, bukan milik sendiri dan memenuhi syarat kesehatan</b-form-radio>
              <b-form-radio value="e">E. Ada, milik sendiri dan memenuhi syarat kesehatan</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group id="input-group-23" label="Jamban" label-for="radio-23">
            <b-form-radio-group v-model="rumahsehat.jamban" id="radio-23" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio
                value="b"
              >B. Ada, bukan leher angsa, tidak ada tutup, disalurkan kesungai/ kolam</b-form-radio>
              <b-form-radio
                value="c"
              >C. Ada, bukan leher angsa, ada ditutup (leher angsa), disalurkan kesungai/ kolam</b-form-radio>
              <b-form-radio value="d">D. Ada, bukan leher angsa ada tutup septic tank</b-form-radio>
              <b-form-radio value="e">E. Ada, leher angsa, septic tank</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group
            id="input-group-24"
            label="Sarana Pembuangan Air Limbah (SPAL)"
            label-for="radio-24"
          >
            <b-form-radio-group v-model="rumahsehat.spal" id="radio-24" stacked>
              <b-form-radio value="a">A. Tidak ada, sehingga tergenang tidak teratur dihalaman rumah</b-form-radio>
              <b-form-radio
                value="b"
              >B. Ada, diresapkan tetapi mencemari sumber air (jarak dengan sumber air &#60; 10m)</b-form-radio>
              <b-form-radio value="c">C. Ada, dialirkan keselokan terbuka</b-form-radio>
              <b-form-radio
                value="d"
              >D. Ada, diresapkan tetapi mencemari sumber air (jarak dengan sumber air > 10m)</b-form-radio>
              <b-form-radio
                value="e"
              >E. Ada, dialirkan keselokan tertutup (satuan kota) untuk diolah lebih lanjut</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group
            id="input-group-25"
            label="Sarana Pembuangan Sarana (Tempat Sampah)"
            label-for="radio-25"
          >
            <b-form-radio-group v-model="rumahsehat.sampah" id="radio-25" stacked>
              <b-form-radio value="a">A. Tidak Ada</b-form-radio>
              <b-form-radio value="b">B. Ada, tetapi tidak kedap air dan tidak ada tutup</b-form-radio>
              <b-form-radio value="c">C. Ada, kedap air dan tidak bertutup</b-form-radio>
              <b-form-radio value="d">D. Ada, kedap air dan bertutup</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>
      <h5>PERILAKU PENGHUNI</h5>
      <ol>
        <li>
          <b-form-group
            id="input-group-26"
            label="Membuka jendela kamar tidur"
            label-for="radio-26"
          >
            <b-form-radio-group v-model="rumahsehat.ppjendelakamar" id="radio-26" stacked>
              <b-form-radio value="a">A. Tidak pernah dibuka</b-form-radio>
              <b-form-radio value="b">B. Kadang - kadang</b-form-radio>
              <b-form-radio value="c">C. Setiap hari dibuka</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group
            id="input-group-27"
            label="Membuka jendela ruang keluarga"
            label-for="radio-27"
          >
            <b-form-radio-group v-model="rumahsehat.ppjendelaruang" id="radio-27" stacked>
              <b-form-radio value="a">A. Tidak pernah dibuka</b-form-radio>
              <b-form-radio value="b">B. Kadang - kadang</b-form-radio>
              <b-form-radio value="c">C. Setiap hari dibuka</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group
            id="input-group-28"
            label="Membersihkan rumah dan halaman"
            label-for="radio-28"
          >
            <b-form-radio-group v-model="rumahsehat.ppbersihrumah" id="radio-28" stacked>
              <b-form-radio value="a">A. Tidak pernah dibuka</b-form-radio>
              <b-form-radio value="b">B. Kadang - kadang</b-form-radio>
              <b-form-radio value="c">C. Setiap hari dibuka</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group
            id="input-group-29"
            label="Membuang tinja bayi dan balita kejamban"
            label-for="radio-29"
          >
            <b-form-radio-group v-model="rumahsehat.pptinjabayi" id="radio-29" stacked>
              <b-form-radio value="a">A. Dibuang kesungai/ kebun/ kolam/ sembarangan</b-form-radio>
              <b-form-radio value="b">B. Kadang - kadang kejamban</b-form-radio>
              <b-form-radio value="c">C. Setiap hari dibuang kejamban</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
        <li>
          <b-form-group
            id="input-group-30"
            label="Membuang sampah pada tempat sampah"
            label-for="radio-30"
          >
            <b-form-radio-group v-model="rumahsehat.ppsampah" id="radio-30" stacked>
              <b-form-radio value="a">A. Dibuang kesungai/ kebun/ kolam/ sembarangan</b-form-radio>
              <b-form-radio value="b">B. Kadang - kadang dibuang ketempat sampah</b-form-radio>
              <b-form-radio value="c">C. Setiap hari dibuang ketempat sampah</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>
      <h5>SAMPAH</h5>
      <ol>
        <li>
          <b-form-group id="input-group-31" label="Sampah yang digunakan?" label-for="radio-31">
            <b-form-radio-group v-model="rumahsehat.jsampah" id="radio-31" stacked>
              <b-form-radio value="a">A. Dipilah/ Organik</b-form-radio>
              <b-form-radio value="b">B. Tidak Dipilah/ Dibuang</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>

      <h5>Pemantauan Jentik Berkala</h5>
      <ol>
        <li>
          <b-form-group
            id="input-group-32"
            label="Kepemilikan Izin Mendirikan Bangunan"
            label-for="radio-32"
          >
            <b-form-radio-group v-model="rumahsehat.pjb" id="radio-32" stacked>
              <b-form-radio value="a">Ya</b-form-radio>
              <b-form-radio value="b">Tidak</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>
      <h5>Jamban Sehat</h5>
      <ol>
        <li>
          <b-form-group id="input-group-33" label="Menggunakan jamban?" label-for="radio-33">
            <b-form-radio-group v-model="rumahsehat.jambansehat" id="radio-33" stacked>
              <b-form-radio value="a">Septic Tank</b-form-radio>
              <b-form-radio value="b">Koya/Empang</b-form-radio>
              <b-form-radio value="c">Kali</b-form-radio>
              <b-form-radio value="d">Helikopter</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>
      <h5>SPAL</h5>
      <ol>
        <li>
          <b-form-group id="input-group-34" label="SPAL" label-for="radio-34">
            <b-form-radio-group v-model="rumahsehat.spal2" id="radio-34" stacked>
              <b-form-radio value="a">Tertutup</b-form-radio>
              <b-form-radio value="b">Terbuka</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </li>
      </ol>

      <b-form-group id="input-group-35" label="Pilih Jenis SAB yang dipakai !" label-for="input-35">
        <b-form-select id="input-35" v-model="rumahsehat.jsab" :options="optsab" required></b-form-select>
      </b-form-group>-->
      <b-row>
        <b-col cols="6">
          <b-form-group id="input-group-50" label="Kode Kecamatan" label-for="input-5">
            <b-form-input
              id="input-50"
              type="number"
              v-model="rumahsehat.kecamatan"
              required
              placeholder="Ex: 1"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-60" label="Kode Kelurahan" label-for="input-6">
            <b-form-input
              id="input-60"
              type="number"
              v-model="rumahsehat.kelurahan"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>
import ListIdKelurahan from "../ListIdKelurahan";

export default {
  components: { ListIdKelurahan },
  data() {
    return {
      dialog: false,
      dialogtemplate: false,
      template: {
        headers: [],
        items: []
      },
      componentKey: 0,
      rumahsehat: {
        kepalakeluarga: "",
        alamat: "",
        anggotakeluarga: "",
        laki: "",
        perempuan: "",
        nokk: "",
        statusrumah: "",

        norumah: "",
        kepemilikanizin: "",
        statuspbb: "",
        nop: "",
        klangit: "",
        kdinding: "",
        klantai: "",
        kjendelakamar: "",
        kjendelaruang: "",
        kventilasi: "",
        klubangasap: "",
        kpencahayaan: "",
        sab: "",
        jamban: "",
        spal: "",
        sampah: "",
        ppjendelakamar: "",
        ppjendelaruang: "",
        ppbersihrumah: "",
        pptinjabayi: "",
        ppsampah: "",
        jsampah: "",
        pjb: "",
        jambansehat: "",
        spal2: "",
        jsab: ""
      },
      optsab: [
        "Pompa Tangan Dangkal/Dalam/Listrik",
        "Sumur Gali",
        "Sumur Gali Plus",
        "Perpipaan/PDAM",
        "Mata Air"
      ],
      rt: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30
      ],
      rw: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30
      ]
    };
  },
  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.rumahsehat = "";
    }
  }
};
</script>
