<template>
  <div class="animated fadeIn p-5">
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/hotelmelati.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Hotel Melati</h5>
        </td>
      </tr>
    </table>

    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>

    <!-- Import CSV -->
    <v-dialog
      v-model="dialogimport"
      width="800"
      ref="modaltemplate"
      title="import csv"
      centered
      persistent
    >
      <v-card>
        <b-card-body class="scrollable">
          <i class="text-red">
            *Pastikan username yang akan di import belum digunakan oleh kader lain
            <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
          </i>
          <vue-csv-import
            :key="componentKey"
            v-model="csv"
            :map-fields="['nama_tempat','nama_pemimpin','alamat','jam_operasional','no_telp','jumlah_karyawan','no_izin_usaha','kecamatan_id','kelurahan_id']"
            inputClass="style-file-input"
            checkboxClass
          >
            <template slot="hasHeaders" slot-scope="{headers, toggle}">
              <b-form-checkbox
                id="hasHeaders"
                class="pl-1 mb-1 mt-2"
                :value="!headers"
                @change="toggle"
              >File memiliki nama kolom</b-form-checkbox>
            </template>
            <template slot="next" slot-scope="{load}">
              <b-btn @click.prevent="load" variant="info" class="text-white">Lanjut</b-btn>
            </template>

            <template slot="thead">
              <b-alert
                variant="warning"
                :show="csv == 0"
              >Pastikan seluruh kolom terisi dengan sesuai</b-alert>
              <tr>
                <th>Kolom di Database</th>
                <th>Kolom di file CSV</th>
              </tr>
            </template>

            <template slot="error">
              <span class="text-red">Tipe file salah! (gunakan tipe file .csv)</span>
            </template>
          </vue-csv-import>
        </b-card-body>
        <b-card-footer>
          <b-btn variant="outline-dark" @click="closeImportWindow()">Tutup</b-btn>
          <b-tooltip show="true" target="uploadbutton" placement="left">Klik untuk memulai import</b-tooltip>
          <b-btn
            id="uploadbutton"
            class="float-right"
            variant="primary"
            v-show="csv.length > 0"
            @click.prevent="onImportCsv"
          >Import CSV</b-btn>
        </b-card-footer>
      </v-card>
    </v-dialog>
    <!-- End Import CSV -->

    <b-btn-group class="float-right mb-2">
      <b-btn variant="gray-200" @click="showTemplate()">
        Template CSV
        <i
          title="Klik untuk Melihat Template Format CSV yang sesuai !"
          v-b-tooltip.hover
          class="fa fa-question-circle"
        ></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Nama Hotel" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="hotelmelati.namatempat"
          required
          placeholder="Ex: Laxton Hotel"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="hotelmelati.alamat"
          required
          placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-10" label="Nomor Telepon" label-for="input-10">
        <b-form-input
          id="input-10"
          v-model="hotelmelati.nomortelepon"
          required
          placeholder="Ex: 021727003613"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Nama Pimpinan" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="hotelmelati.namapimpinan"
          required
          placeholder="Ex: Danish Martabat"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Jumlah Karyawan" label-for="input-4">
        <b-form-input
          id="input-4"
          type="number"
          v-model="hotelmelati.karyawan"
          required
          placeholder="Ex: 20"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-5" label="No. Izin Usaha" label-for="input-5">
        <b-form-input
          id="input-5"
          type="number"
          v-model="hotelmelati.noizinusaha"
          maxlength="13"
          required
          placeholder="Ex: 1235123412344"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
        <b-form-input
          id="input-9"
          v-model="hotelmelati.jamoperasional"
          required
          placeholder="07.00 - 17.00"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-11"
        label="Kepemilikan Izin Mendirikan Bangunan"
        label-for="radio-11"
      >
        <b-form-radio-group v-model="hotelmelati.kepemilikanizin" id="radio-11">
          <b-form-radio value="y">Ada</b-form-radio>
          <b-form-radio value="t">Tidak Ada</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <div v-if="hotelmelati.kepemilikanizin == 'y'">
        <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
          <b-form-input
            id="input-12"
            v-model="hotelmelati.nop"
            placeholder="Ex: 12.34.562.123.123-0321.0"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-13" label="Status Pajak Bumi Bangunan" label-for="radio-13">
          <b-form-radio-group v-model="hotelmelati.statuspbb" id="radio-13">
            <b-form-radio value="Sudah Bayar">Sudah Bayar</b-form-radio>
            <b-form-radio value="Belum Bayar">Belum Bayar</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </div>

      <!-- <ol type="I">
        <li>
          <h5>PERSYARATAN KESEHATAN LINGKUNGAN DAN BANGUNAN</h5>
          <ol type="A">
            <li>
              UMUM
              <ol>
                <li>
                  Lokasi
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.kesehatanlingkungan1">
                      
                      <li>
                        <b-form-checkbox value="a">
                            Terhindar dari pencemaran kimia
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Terhindar dari pencemaran fisika
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="c">
                            Terhindar dari pencemaran bakteri 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="d">
                            Tidak terletak didaerah banjir
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                
                <li>
                  Lingkungan
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.kesehatanlingkungan2">
                      <li>
                        <b-form-checkbox value="a">
                            Bersih
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Tidak memungkinkan sebagai tempat bersarang/berkembang biak serangga dan tikus
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="c">
                            Dapat mencegah masuknya dan berkembang biak binatang pengganggu lain 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="d">
                            Berpagar kuat
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                
                <li>
                  Bangunan
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.kesehatanlingkungan3">
                      <li>
                        <b-form-checkbox value="a">
                            Kokoh / kuat 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Tidak memungkinkan sebagai tempat bersarang/berkembang biak serangga dan tikus 
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>

              </ol>
            </li>
        <li>
            <h5>PENGGUNAAN RUANG</h5>
            <ol>
                
                <li>
                  Pembagian Ruang
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.pembagianruang1">
                      <li>
                        <b-form-checkbox value="a">
                            Dipergunakan sesuai fungsinya
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
            </ol>
        </li>
        <li>
            <h5>KONSTRUKSI</h5>
            <ol>
                
                <li>
                  Lantai
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.konstruksi1">
                      <li>
                        <b-form-checkbox value="a">
                            Bersih
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Bersih, Kuat, Kedap air, Permukaan rata
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="c">
                            Tidak licin 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="d">
                            Yang selalu kontak dengan air tidak memungkinkan terjadinya genangan air (miring kearah saluran pembuangan)
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>   
                <li>
                  Dinding
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.konstruksi2">
                      <li>
                        <b-form-checkbox value="a">
                            Bersih 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Permukaan yang selalu kontak dengan air kedap air
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="c">
                            Permukaan bagian dalam mudah dibersihkan 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="d">
                            Berawarna terang 
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  Atap
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.konstruksi3">
                      <li>
                        <b-form-checkbox value="a">
                            Tidak bocor / kuat 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Tidak memungkinkan terjadinya genangan air 
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  Langit - langit
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.konstruksi4">
                      <li>
                        <b-form-checkbox value="a">
                            Tinggi dari lantai minimal 2,5m 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Bersih
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  Pintu
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.konstruksi5">
                      <li>
                        <b-form-checkbox value="a">
                            Dapat dibuka, ditutup / dikunci dengan baik
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Dapat mencegah masuknya binatang pengganggu
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  Pencahayaan
                  <ol type="a">
                    <b-form-checkbox-group v-model="hotelmelati.konstruksi6">
                      <li>
                        <b-form-checkbox value="a">
                            Ruang untuk kegiatan dengan risiko kecelakaan tinggi lebih dari 300 lux
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="b">
                            Ruang tamu lebih dari 60 lux 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="c">
                            Ruang tidur 5 lux 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="d">
                            Lampu baca 100 lux 
                        </b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox value="e">
                            Ruang rileks lebih dari 30 lux 
                        </b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
            </ol>
        </li>
          </ol>
        </li>
        <li>
            <h5>PERSYARATAN KESEHATAN KAMAR RUANG</h5>
            <ol type="A">
                <li>
                    UMUM
                    <ol>
                        <li>
                            Kondisi ruang
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar1">

                                    <li>
                                        <b-form-checkbox value="a">
                                            Tidak pengap 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                            Bebas kuman alpha streptococcus haemoliticus dan kuman phatogen 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                            Tidak berbau (H&#8322;S dan Amoniak)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="d">
                                            Kadar gas beracun tidak melampaui ambang batas
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="e">
                                            Tingkat kebisingan tidak melebihi persyaratan (Kamar tidur kurang dari 40 dBA, Kantor kurang dari 75 dBA, Dapur kurang dari 80 dBA, ruang pertunjukan kurang dari 90 dBA)
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    KHUSUS
                    <ol>
                        
                        <li>
                            Kamar tidur
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar2">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                                Luas Minimal (Single bed 4,5 m&sup2; dan Twin bed 8 m&sup2;)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                                Dinding pintu, jendela, dll yang tembus pandang/cahaya dilengkapi tirai
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                        <li>
                            Ruang istirahat karyawan
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar3">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Bersih 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                                Tersedia jamban. kamar mandi, dan peturasan yang erpisah untuk karyawan pria dan karyawan wanita 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                                Ruang istirahat karyawan pria terpisah dari ruang karyawan wanita 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="d">
                                                Tersedia lemari/locker 
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                        <li>
                            Kamar mandi, Jamban, dan Peturasan
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar4">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                            Aliran air limbah lancar 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                            Sarana pembuangan air limbah kedap air dan tertutup 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="d">
                                            Perbandingan jumlah karyawan dengan minimal kamar mandi, jamban, dan peturasan 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="e">
                                            Untuk karyawan pria : (1 s/d 25 karyawan tersedia 2 kamar mandi, 1 peturasan. 26 s/d 50 karyawan tersedia 3 kamar mandi, 2 jamban, 3 peturasan. 51 s/d 100 karyawan tersedia 5 kamar mandi, 3 jamban, 5 peturasan)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="f">
                                            Untuk karyawan wanita : (1 s/d 20 karyawan tersedia 2 kamar mandi, 1 jamban. 21 s/d 40 karyawan tersedia 2 kamar mandi, 2 jamban. 41 s/d 70 karyawan tersedia 3 kamar mandi, 3 jamban)
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                        <li>
                            Kamar lena
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar5">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                            Udara ruang segar 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                            Tersedia lemari tertutup
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                        <li>
                            Ruang cuci
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar6">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Bersih 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                            Tidak memungkinkan tercampurnya lena bersih dan lena kotor 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                            Lantai tidak kotor
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                        <li>
                            Gudang
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatankamar7">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Bersih 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                            Gudang bahan makanan, bahan berbahaya, alat kantor, alat rumah tangga, dll terpisah satu sama lain 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                            Barang yang disimpan tertata rapih 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="d">
                                            Dilengkapi rak
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="e">
                                            Tinggi dari lantai hingga 20cm
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <h5>PERSYARATAN KESEHATAN FASILITAS SANITASI</h5>
            <ol type="A">
                
                <li>
                    Kualitas air
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi1">

                            <li>
                                <b-form-checkbox value="a">
                                    Memenuhi syarat fisik 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                    Memenuhi syarat kimia 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="c">
                                    Memenuhi syarat biologi 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="d">
                                    Memenuhi syarat radio aktifitas 
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
                <li>
                    Kuantitas air
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi2">
                            <li>
                                <b-form-checkbox value="a">
                                    Tersedia air minimal 120 l/hari/LL
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                        Air tersedia ada setiap hari secara berkesinambungan 
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
                <li>
                    Pembuangan air limbah
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi3">

                            <li>
                                <b-form-checkbox value="a">
                                    Memiliki sarana pengelolaan air limbah 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                        Air limbah mengalir dengan lancar 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="c">
                                        Saluran air limbah dengan sistim tertutup 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="d">
                                        Saluran air limbah kedap air
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
                <li>
                    Toilet untuk umum
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi4">
                            <li>
                                <b-form-checkbox value="a">
                                    Bersih dan tidak berbuih 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                        Letaknya tidak berhubungan langsung dengan dapur, kamar tidur, dan ruang tamu 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="c">
                                        Lantai kedap air, tidak licin, lantai miring ke arah saluran pembuangan 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="d">
                                        Toilet untuk pria terpisah dengan toilet wanita 
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
                <li>
                    Kamar mandi dan jamban untuk penghuni/tamu yang menginap
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi5">
                            <li>
                                <b-form-checkbox value="a">
                                    Bersih dan tidak bau 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                    Letak tidak berhubungan dengan dapur, kamar tidur, dan ruang tamu 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="c">
                                    Perbandingan jumlah kamar mandi dengan jamban dengan tempat tidur
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="d">
                                    Perbandingan jumlah kamar mandi dengan tempat tidur, minimal 1 kamar untuk setiap 1 s/d 10 kamar tidur. Perbandingan jamban dengan tempat tidur minimal : (1 s/d 6 T.T = 1 jamban, 7 s/d 14 T.T = 2 jamban, 15 s/d 24 T.T = 3 jamban, 25 s/d 36 T.T = 4 jamban, 37 s/d 48 T.T = 5 jamban, 49 s/d 60 T.T = 6 jamban)
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="e">
                                    Lantai kedap air, mudah dibersihkan, kemiringan 2 hingga 3 persen kearah saluran pembuangan
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
                
                <li>
                    Pengelolaan sampah
                    <ol>
                        <li>
                            Tempat sampah
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi6">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Terbuat dari bahan yang kuat, ringan, tahan karat, dan kedap air 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                                Permukaan bagian dalam halus dan rata 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                                Mempunyai tutup yang mudah dibuka / ditutup tanpa mengotori tangan 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="d">
                                                Jumlah dan volume tempat sampah sesuai dengan produksi sampah perhari dengan produksi sampah perhari 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="e">
                                                Mudah diisi dan dikosongkan 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="f">
                                                Sampah dari tiap ruangan diangkut / dikosongkan tiap hari 
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li>
                        <li>
                            Tempat pengumpulan sampah sementara
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi7">

                                    <li>
                                        <b-form-checkbox value="a">
                                            Tidak permanen
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                                Tidak menjadi tempat perindukan serangga dan binatang
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="c">
                                                Mudah dijangkau oleh kendaraan pengangkut sampah 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="d">
                                                Frekuensi pengosongan/pengangkutan sampah min. 3x24 jam
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        <li>
                            Peralatan pencegahan masuknya serangga dan tikus
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi8">
                                    <li>
                                        <b-form-checkbox value="a">
                                            Dilengkapi dengan alat yang dapat mencegah masuknya serangga dan tikus 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox value="b">
                                            Sarana penyimpanan harus tertutup dan bebas jentik nyamuk
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                    </ol>
                    
                </li> 
            </ol>
        </li>
        <li>
            <h5>KARYAWAN</h5>
            <ol type="A">
                
                <li>
                    Pakaian kerja
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.karyawan1">

                            <li>
                                <b-form-checkbox value="a">
                                    Karyawan dilengkapi dengan pakaian kerja 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                        Dipakai pada saat kerja 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="c">
                                        Bersih 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="d">
                                        Utuh / tidak sobek 
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
                <li>
                    Surat keterangan sehat dari dokter yang masih berlaku
                    <ol type="a">
                        <b-form-checkbox-group v-model="hotelmelati.karyawan2">
                            <li>
                                <b-form-checkbox value="a">
                                    80 hingga 100 persen jumlah karyawan memiliki
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="b">
                                    60 hingga 79 persen jumlah karyawan memiliki
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="c">
                                    40 hingga 59 persen jumlah karyawan memiliki
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="d">
                                    20 hingga 39 persen jumlah karyawan memiliki
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="e">
                                    1 hingga 19 persen jumlah karyawan memiliki
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox value="f">
                                    0 persen jumlah karyawan memiliki
                                </b-form-checkbox>
                            </li>
                        </b-form-checkbox-group>
                    </ol>
                </li> 
            </ol>
        </li>
      </ol>-->
<b-row>
        <b-col cols="6">
          <b-form-group id="input-group-50" label="Kode Kecamatan" label-for="input-5">
            <b-form-input
              id="input-50"
              type="number"
              v-model="hotelmelati.kecamatan"
              required
              placeholder="Ex: 1"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-60" label="Kode Kelurahan" label-for="input-6">
            <b-form-input
              id="input-60"
              type="number"
              v-model="hotelmelati.kelurahan"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import ListIdKelurahan from "../ListIdKelurahan";
import { VueCsvImport } from "vue-csv-import";

export default {
  components: { ListIdKelurahan, VueCsvImport },
  data() {
    return {
      csv: [],
      dialog: false,
componentKey: 0,

      dialogtemplate: false,
      dialogimport: false,
      template: {
        headers: [
          "nama_tempat",
          "nama_pemimpin",
          "alamat",
          "jam_operasional",
          "no_telp",
          "jumlah_karyawan",
          "no_izin_usaha",
          "kecamatan_id",
          "kelurahan_id"
        ],
        items: [
          "hotel atlanta",
          "Samsudin",
          "Jalan Nusantara Pancoran Mas",
          "07.00 -  21.00",
          "021 747768",
          "100",
          "12345678",
          "1",
          "7"
        ]
      },
      hotelmelati: {
        namatempat: "",
        alamat: "",
        namapimpinan: "",
        nomortelepon: "",
        karyawan: "",
        noizinusaha: "",
        jamoperasional: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",

        kesehatanlingkungan1: [],
        kesehatanlingkungan2: [],
        kesehatanlingkungan3: [],
        pembagianruang1: [],
        konstruksi1: [],
        konstruksi2: [],
        konstruksi3: [],
        konstruksi4: [],
        konstruksi5: [],
        konstruksi6: [],
        kesehatankamar1: [],
        kesehatankamar2: [],
        kesehatankamar3: [],
        kesehatankamar4: [],
        kesehatankamar5: [],
        kesehatankamar6: [],
        kesehatankamar7: [],
        kesehatansanitasi1: [],
        kesehatansanitasi2: [],
        kesehatansanitasi3: [],
        kesehatansanitasi4: [],
        kesehatansanitasi5: [],
        kesehatansanitasi6: [],
        kesehatansanitasi7: [],
        kesehatansanitasi8: [],
        karyawan1: [],
        karyawan2: [],kecamatan:'',
kelurahan:'',
        query: []
      }
    };
  },

  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.hotelmelati));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.hotelmelati = "";
    },
    forceRerender() {
      this.componentKey += 1;
    },
    onImportCsv() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan data excel sesuai dengan aturan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Import Sekarang"
        })
        .then(result => {
          if (this.csv.length > 0) {
            this.$nextTick(() => {
              this.hotelmelati.query = [];
            });

            this.forceRerender();
            if (result.value) {
              swal.fire({
                text: "Dalam proses...",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                  swal.showLoading();
                }
              });

              axios
                .post("hotel-melati/custom/import-csv", {
                  csv: this.csv
                })
                .then(({ data }) => {
                  if (data.status_code == 1000) {
                    let str = "";

                    for (let index = 0; index < data.data.length; index++) {
                      str +=
                        "<tbody><tr><td>" +
                        (index + 1) +
                        "</td><td>" +
                        data.data[index].username +
                        "</td></tr></tbody>";
                    }

                    swal.fire({
                      title: "<strong>Import gagal! CSV Tidak Valid</strong>",
                      type: "warning",
                      html:
                        "<div class='col-12'><table class='table'><thead><tr><th>Nomor</th><th>username</th></tr></thead>" +
                        str +
                        "</table></div>" +
                        "<div><strong>Username tidak boleh sama</strong></div>"
                    });
                  }

                  if (data.status_code == 200) {
                    swal.fire({
                      title: "<strong>Berhasil import</strong>",
                      type: "success",
                      text: data.message
                    });
                  }

                  this.csv = [];
                  Fire.$emit("AfterEventKader");
                  // this.$refs["modal-1"].hide();
                  this.dialogimport = false;
                })
                .catch(err => {
                  if (err.response.status == 422) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Ada kesalahan pada data csv, pastikan data di csv sudah memenuhi aturan",
                      "warning"
                    );
                  }

                  if (err.response.status == 500) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Jaringan bermasalah, silahkan coba lagi",
                      "warning"
                    );
                  }
                });
            }
          } else {
            if (result.value) {
              swal.fire(
                "Gagal!",
                "Pastikan semua kolom yang di tentukan sudah terisi",
                "warning"
              );
            }
          }
        });
    }
  }
};
</script>