<template>
  <div class="animated fadeIn p-5">
    <b-alert :show="alert" :variant="getColor(message)" dismissible>{{isi}}</b-alert>
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/tempatibadah.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Tempat Ibadah</h5>
        </td>
      </tr>
    </table>
    <!-- Hint Template -->
    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>
    <!-- End Hint Template -->
    <!-- Import CSV -->
    <v-dialog
      v-model="dialogimport"
      width="800"
      ref="modaltemplate"
      title="import csv"
      centered
      persistent
    >
      <v-card>
        <b-card-body class="scrollable">
          <i class="text-red">
            *Pastikan username yang akan di import belum digunakan oleh kader lain
            <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
          </i>
          <vue-csv-import
            :key="componentKey"
            v-model="csv"
            :map-fields="['nama_tempat', 'nama_pengurus', 'alamat', 'jumlah_jamaah', 'no_telp','jam_operasional','kecamatan_id','kelurahan_id']"
            inputClass="style-file-input"
            checkboxClass
          >
            <template slot="hasHeaders" slot-scope="{headers, toggle}">
              <b-form-checkbox
                id="hasHeaders"
                class="pl-1 mb-1 mt-2"
                :value="!headers"
                @change="toggle"
              >File memiliki nama kolom</b-form-checkbox>
            </template>
            <template slot="next" slot-scope="{load}">
              <b-btn @click.prevent="load" variant="info" class="text-white">Lanjut</b-btn>
            </template>

            <template slot="thead">
              <b-alert
                variant="warning"
                :show="csv == 0"
              >Pastikan seluruh kolom terisi dengan sesuai</b-alert>
              <tr>
                <th>Kolom di Database</th>
                <th>Kolom di file CSV</th>
              </tr>
            </template>

            <template slot="error">
              <span class="text-red">Tipe file salah! (gunakan tipe file .csv)</span>
            </template>
          </vue-csv-import>
        </b-card-body>
        <b-card-footer>
          <b-btn variant="outline-dark" @click="closeImportWindow()">Tutup</b-btn>
          <b-tooltip :show="true" target="uploadbutton" placement="left">Klik untuk memulai import</b-tooltip>
          <b-btn
            id="uploadbutton"
            class="float-right"
            variant="primary"
            v-show="csv.length > 0"
            @click.prevent="onImportCsv"
          >Import CSV</b-btn>
        </b-card-footer>
      </v-card>
    </v-dialog>
    <!-- End Import CSV -->

    <b-btn-group class="float-right mb-2">
      <b-btn variant="gray-200" @click="showTemplate()">
        Template CSV
        <i
          title="Klik untuk Melihat Template Format CSV yang sesuai !"
          v-b-tooltip.hover
          class="fa fa-question-circle"
        ></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @reset="onReset">
      <label>
        Nama Tempat
        <span class="text-danger">*</span>
      </label>
      <b-form-input
        id="input-1"
        v-model="form.nama_tempat"
        required
        placeholder="Ex: Masjid Jami Baitul Maqdis"
      ></b-form-input>

      <label>
        Nama Pengurus
        <span class="text-danger">*</span>
      </label>
      <b-form-input
        id="input-3"
        v-model="form.nama_pengurus"
        required
        placeholder="Ex: Djoko Sutejo"
      ></b-form-input>

      <label>
        Alamat
        <span class="text-danger">*</span>
      </label>
      <b-form-input
        id="input-2"
        v-model="form.alamat"
        required
        placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
      ></b-form-input>

      <label>
        Jumlah Jamaah /orang
        <span class="text-danger">*</span>
      </label>
      <b-form-input
        id="input-4"
        type="number"
        v-model="form.jumlah_jamaah"
        required
        placeholder="Ex: 200"
      ></b-form-input>

      <label>
        Jam Operasional
        <span class="text-danger">*</span>
      </label>
      <b-form-input
        id="input-5"
        v-model="form.jam_operasional"
        required
        placeholder="Ex: 07.00 - 17.00"
      ></b-form-input>

      <label>
        Nomor Telepon / HP
        <span class="text-danger">*</span>
      </label>
      <b-form-input
        id="input-6"
        maxlength="15"
        v-model="form.no_telp"
        required
        placeholder="Ex: 021727003613"
      ></b-form-input>
      <!-- <b-form-invalid-feedback :state="validation">Nomor telepon harus kurang dari 16 karakter.</b-form-invalid-feedback> -->
      <b-row>
        <b-col sm="6">
          <div class="form-group" v-if="$auth.check(1)">
            <label>
              Kecamatan
              <span class="text-danger">*</span>
            </label>
            <br />
            <b-form-select
              @change="onKecamatanChange($event)"
              v-model="form.kecamatan"
              name="kecamatan"
              class="form-control"
              :class="{ 'is-invalid': form.errors.has('kecamatan') }"
            >
              <option :value="null" disabled>- Pilih Kecamatan -</option>
              <option
                v-for="kecamatan in kecamatans"
                v-bind:value="kecamatan.id"
                :key="kecamatan.id"
              >{{ kecamatan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kecamatan"></has-error>
          </div>
        </b-col>

        <b-col sm="6">
          <div class="form-group" v-if="$auth.check(1) || $auth.check(3)">
            <label>
              Kelurahan
              <span class="text-danger">*</span>
            </label>
            <br />
            <b-form-select
              v-model="form.kelurahan"
              :disabled="form.kecamatan == null"
              name="kelurahan"
              class="form-control"
              :class="{ 'is-invalid': form.errors.has('kelurahan') }"
            >
              <option disabled :value="null">- Pilih kelurahan -</option>
              <option
                v-for="kelurahan in kelurahans"
                v-bind:value="kelurahan.id"
                :key="kelurahan.id"
              >{{ kelurahan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kelurahan"></has-error>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button @click="onSubmit(form)" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>
import ListIdKelurahan from "../ListIdKelurahan";
import { VueCsvImport } from "vue-csv-import";

export default {
  components: { ListIdKelurahan, VueCsvImport },
  data() {
    return {
      csv: [],
      dialog: false,
      componentKey: 0,
      isi: "",
      dialogtemplate: false,
      dialogimport: false,
      template: {
        headers: [
          "nama_tempat",
          "nama_pengurus",
          "alamat",
          "jumlah_jamaah",
          "no_telp",
          "jam_operasional",
          "kecamatan_id",
          "kelurahan_id"
        ],
        items: [
          "Masjid Jami Baiturrohim",
          "Sukiman",
          "Jl. Taufiqurrohman, beji timur, Depok",
          "100",
          "	021 774678",
          "04.00 - 21.00",
          "1",
          "7"
        ]
      },
      alert: false,
      message: null,
      form: new Form({
        nama_tempat: "",
        nama_pengurus: "",
        alamat: "",
        jumlah_jamaah: "",
        jam_operasional: "",
        no_telp: "",
        kecamatan:
          this.$auth.check(3) == true
            ? this.$auth.user().kecamatan_id
            : this.$auth.check(4) == true
            ? this.$auth.user().kecamatan_id
            : null,
        kelurahan:
          this.$auth.check(4) == true ? this.$auth.user().kelurahan_id : null,
        created_by: this.$auth.user().id
      }),
      kecamatans: {},
      kelurahans: {},
      tempatibadah: {
        nama_tempat: "",
        nama_pengurus: "",
        alamat: "",
        jumlah_jamaah: "",
        jam_operasional: "",
        no_telp: "",
        kecamatan: "",
        kelurahan: "",
        query: []
      },
      disablingStateSubmitCsv: false
    };
  },
  created() {
    if (this.csv.length > 0) {
      this.disablingStateSubmitCsv = false;
      setTimeout(() => {
        this.csv = [];
      }, 1000);
    }
  },
  computed: {
    validation() {
      return this.form.no_telp.length > 8 && this.form.no_telp.length < 16;
    }
  },
  created() {
    this.loadKecamatans();
    if (this.$auth.check(3)) {
      this.loadKelurahansById(this.$auth.user().kecamatan_id);
    }
  },
  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    closeImportWindow() {
      this.csv = [];
      this.dialogimport = false;
    },

    onKecamatanChange(event) {
      this.form.kelurahan = null;
      this.loadKelurahansById(event);
    },
    loadKecamatans() {
      axios
        .get("kecamatans")
        .then(({ data }) => (this.kecamatans = data.data))
        .catch(err => {
          console.log(err);
        });
    },
    loadKelurahansById(kecamatan) {
      axios
        .get("kelurahans/custom/get-kelurahans-name/id/" + kecamatan)
        .then(({ data }) => (this.kelurahans = data.data))
        .catch(err => {
          console.log(err);
        });
    },
    onSubmit() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan semua kolom sudah terisi !",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Konfirmasi",
          cancelButtonText: "Batal"
        })
        .then(result => {
          if (result.value) {
            this.form
              .post("/tempatibadah/web")
              .then(({ data }) => {
                window.scrollTo(0, 0);
                this.alert = true;
                this.message = true;
                swal.fire("Berhasil!", "Data di input.", "success");
                this.form = "";
              })
              .catch(err => {
                window.scrollTo(0, 0);
                this.alert = true;
                this.message = false;
                console.log(err);
                swal.fire(
                  "Gagal!",
                  "Terjadi Kesalahan, silahkan cek koneksi jaringan.",
                  "warning"
                );
              });
          }
        });

      // this.form
      //   .post("/tempatibadah/web")
      //   .then(({ data }) => {
      //     window.scrollTo(0, 0);
      //     this.alert = true;
      //     this.message = true;
      //     this.form = "";
      //   })
      //   .catch(err => {
      //     window.scrollTo(0, 0);
      //     this.alert = true;
      //     this.message = false;
      //     console.log(err);
      //   });
    },
    getColor(message) {
      this.printMessage(message);
      if (message == true) return "success";
      else return "danger";
    },
    printMessage(m) {
      if (m == true) this.isi = "Data Berhasil di input !";
      else
        this.isi = `Data Gagal di input !
      Silahkan cek kembali data yang akan di input
      `;
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      {
        this.form = "";
      }
    },
    forceRerender() {
      this.componentKey += 1;
    },
    onImportCsv() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan data excel sesuai dengan aturan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Import Sekarang"
        })
        .then(result => {
          if (this.csv.length > 0) {
            this.$nextTick(() => {
              this.tempatibadah.query = [];
            });

            this.forceRerender();
            if (result.value) {
              swal.fire({
                text: "Dalam proses...",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                  swal.showLoading();
                }
              });

              axios
                .post("tempat-ibadah/custom/import-csv", {
                  csv: this.csv
                })
                .then(({ data }) => {
                  if (data.status_code == 1000) {
                    let str = "";

                    for (let index = 0; index < data.data.length; index++) {
                      str +=
                        "<tbody><tr><td>" +
                        (index + 1) +
                        "</td><td>" +
                        data.data[index].username +
                        "</td></tr></tbody>";
                    }

                    swal.fire({
                      title: "<strong>Import gagal! CSV Tidak Valid</strong>",
                      type: "warning",
                      html:
                        "<div class='col-12'><table class='table'><thead><tr><th>Nomor</th><th>username</th></tr></thead>" +
                        str +
                        "</table></div>" +
                        "<div><strong>Username tidak boleh sama</strong></div>"
                    });
                  }

                  if (data.status_code == 200) {
                    swal.fire({
                      title: "<strong>Berhasil import</strong>",
                      type: "success",
                      text: data.message
                    });
                  }

                  this.csv = [];
                  Fire.$emit("AfterEventKader");
                  // this.$refs["modal-1"].hide();
                  this.dialogimport = false;
                })
                .catch(err => {
                  if (err.response.status == 422) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Ada kesalahan pada data csv, pastikan data di csv sudah memenuhi aturan",
                      "warning"
                    );
                  }

                  if (err.response.status == 500) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Jaringan bermasalah, silahkan coba lagi",
                      "warning"
                    );
                  }
                });
            }
          } else {
            if (result.value) {
              swal.fire(
                "Gagal!",
                "Pastikan semua kolom yang di tentukan sudah terisi",
                "warning"
              );
            }
          }
        });
    }
  }
};
</script>
