<template>
  <div class="animated fadeIn p-5">
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/kesehatanlingkungan.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Pelayanan Kesehatan Lingkungan</h5>
        </td>
      </tr>
    </table>

    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>

    <b-btn-group class="float-right mb-2">
      <b-btn
        variant="gray-200"
        @click="showTemplate()"
        
      >
        Template CSV
        <i title="Klik untuk Melihat Template Format CSV yang sesuai !"
        v-b-tooltip.hover class="fa fa-question-circle"></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Nama" label-for="input-1">
        <b-form-input id="input-1" v-model="kesling.nama" required placeholder></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-5" label="Umur" label-for="input-5">
        <b-form-input id="input-5" type="number" v-model="kesling.umur" required placeholder></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-6" label="Jenis Kelamin" label-for="radio-6">
        <b-form-radio-group v-model="kesling.jeniskelamin" id="radio-6">
          <b-form-radio value="Laki - laki">Laki - laki</b-form-radio>
          <b-form-radio value="Perempuan">Perempuan</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="kesling.alamat"
          required
          placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Kasus" label-for="input-3">
        <b-form-input id="input-3" v-model="kesling.kasus" required placeholder></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-11" label="Pelayanan KesLing" label-for="radio-11">
        <b-form-radio-group v-model="kesling.pelayanankesling" id="radio-11">
          <b-form-radio value="Dalam Gedung">Dalam Gedung</b-form-radio>
          <b-form-radio value="Luar Gedung">Luar Gedung</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <b-form-group id="input-group-10" label="Nama Tempat" label-for="input-10">
        <b-form-input id="input-10" v-model="kesling.namatempat" required placeholder></b-form-input>
      </b-form-group>
<b-row>
        <b-col cols="6">
          <b-form-group id="input-group-50" label="Kode Kecamatan" label-for="input-5">
            <b-form-input
              id="input-50"
              type="number"
              v-model="kesling.kecamatan"
              required
              placeholder="Ex: 1"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-60" label="Kode Kelurahan" label-for="input-6">
            <b-form-input
              id="input-60"
              type="number"
              v-model="kesling.kelurahan"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>
import ListIdKelurahan from "../ListIdKelurahan";
import { VueCsvImport } from "vue-csv-import";

export default {
  components: { ListIdKelurahan, VueCsvImport },
  data() {
    return {
      csv: [],
      dialog: false,
componentKey: 0,

      dialogtemplate: false,
      dialogimport: false,
      template: {
        headers: [],
        items: []
      },
      kesling: {
        nama: "",
        umur: "",
        jeniskelamin: "",
        alamat: "",
        kasus: "",
        pelayanankesling: "",
        namatempat: ""
      }
    };
  },
  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.kesling));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.kesling = "";
    }
  }
};
</script>