<template>
  <div class="animated fadeIn p-5">
    <table class="mx-auto">
      <tr>
        <td>
          <b-img :src="'/images/icon/pemeriksaanjasaboga.png'" center fluid class="img-dashboard" />
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-center">Jasa Boga</h5>
        </td>
      </tr>
    </table>

    <v-dialog
      v-model="dialogtemplate"
      width="800"
      ref="modaltemplate"
      title="Template CSV"
      centered
    >
      <b-card class="mb-0">
        <div class="scrollable">
          <table class="w-100 mb-3" border="1">
            <th v-for="(header,i) in template.headers" :key="i">{{header}}</th>
            <tr>
              <td v-for="(item ,index) in template.items" :key="index">{{item}}</td>
            </tr>
          </table>
        </div>
        <i class="text-red">
          *untuk melihat kode kecamatan dan kelurahan
          <a
            class="text-blue"
            @click="showTable()"
            style="text-decoration:underline;"
          >klik disini</a>
        </i>
        <v-card-actions>
          <b-btn @click="showTemplate()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </v-card-actions>
      </b-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="50vw">
      <b-card no-body class="mb-0">
        <ListIdKelurahan />
        <b-card-footer>
          <b-btn @click="showTable()" class="float-right" variant="outline-dark">Tutup</b-btn>
        </b-card-footer>
      </b-card>
    </v-dialog>

    <!-- Import CSV -->
    <v-dialog
      v-model="dialogimport"
      width="800"
      ref="modaltemplate"
      title="import csv"
      centered
      persistent
    >
      <v-card>
        <b-card-body class="scrollable">
          <i class="text-red">
            *Pastikan username yang akan di import belum digunakan oleh kader lain
            <br />*Apabila terindikasi username yang sama pada csv maka username tersebut tidak akan terdata
          </i>
          <vue-csv-import
            :key="componentKey"
            v-model="csv"
            :map-fields="['nama_tempat','nama_pengusaha','alamat','jam_operasional','no_telp','kecamatan_id','kelurahan_id']"
            inputClass="style-file-input"
            checkboxClass
          >
            <template slot="hasHeaders" slot-scope="{headers, toggle}">
              <b-form-checkbox
                id="hasHeaders"
                class="pl-1 mb-1 mt-2"
                :value="!headers"
                @change="toggle"
              >File memiliki nama kolom</b-form-checkbox>
            </template>
            <template slot="next" slot-scope="{load}">
              <b-btn @click.prevent="load" variant="info" class="text-white">Lanjut</b-btn>
            </template>

            <template slot="thead">
              <b-alert
                variant="warning"
                :show="csv == 0"
              >Pastikan seluruh kolom terisi dengan sesuai</b-alert>
              <tr>
                <th>Kolom di Database</th>
                <th>Kolom di file CSV</th>
              </tr>
            </template>

            <template slot="error">
              <span class="text-red">Tipe file salah! (gunakan tipe file .csv)</span>
            </template>
          </vue-csv-import>
        </b-card-body>
        <b-card-footer>
          <b-btn variant="outline-dark" @click="closeImportWindow()">Tutup</b-btn>
          <b-tooltip show="true" target="uploadbutton" placement="left">Klik untuk memulai import</b-tooltip>
          <b-btn
            id="uploadbutton"
            class="float-right"
            variant="primary"
            v-show="csv.length > 0"
            @click.prevent="onImportCsv"
          >Import CSV</b-btn>
        </b-card-footer>
      </v-card>
    </v-dialog>
    <!-- End Import CSV -->

    <b-btn-group class="float-right mb-2">
      <b-btn variant="gray-200" @click="showTemplate()">
        Template CSV
        <i
          title="Klik untuk Melihat Template Format CSV yang sesuai !"
          v-b-tooltip.hover
          class="fa fa-question-circle"
        ></i>
      </b-btn>
      <b-btn class="my-auto" @click="dialogimport = !dialogimport" variant="yellow" small>Import CSV</b-btn>
    </b-btn-group>

    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Nama Jasa Boga" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="jasaboga.namatempat"
          required
          placeholder="Ex: Catering Mbo Yum"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="jasaboga.alamat"
          required
          placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-10" label="Nomor Telepon" label-for="input-10">
        <b-form-input
          id="input-10"
          v-model="jasaboga.nomortelepon"
          required
          placeholder="Ex: 021727003613"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Nama Pengusaha" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="jasaboga.namapengusaha"
          required
          placeholder="Ex: Mbo Yum"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
        <b-form-input
          id="input-9"
          v-model="jasaboga.jamoperasional"
          required
          placeholder="Ex: 07.00 - 17.00"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-11"
        label="Kepemilikan Izin Mendirikan Bangunan"
        label-for="radio-11"
      >
        <b-form-radio-group v-model="jasaboga.kepemilikanizin" id="radio-11">
          <b-form-radio value="y">Ada</b-form-radio>
          <b-form-radio value="t">Tidak Ada</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <div v-if="jasaboga.kepemilikanizin == 'y'">
        <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
          <b-form-input
            id="input-12"
            v-model="jasaboga.nop"
            placeholder="Ex: 12.34.562.123.123-0321.0"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-13" label="Status Pajak Bumi Bangunan" label-for="radio-13">
          <b-form-radio-group v-model="jasaboga.statuspbb" id="radio-13">
            <b-form-radio value="Sudah Bayar">Sudah Bayar</b-form-radio>
            <b-form-radio value="Belum Bayar">Belum Bayar</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </div>

      <!-- <ol type="A">
          <li>
              <h5>MAKANAN</h5>
              <ol>
                  <li>
                      Sumber dan keutuhan makanan
                      <b-form-checkbox-group v-model="jasaboga.makanan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Sumber makanan merupakan tempat yang telah diawasi atau terdaftar. Keutuhannya baik,layak, tidak rusak, busuk, atau jelas merupakan makanan manusia 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  
                  <li>
                      Wadah atau kemasan asli, berlabel
                      <b-form-checkbox-group v-model="jasaboga.makanan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Wadah orisinil, kemasan asli, mempunyai label dan telah terdaftar
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PERLINDUNGAN MAKANAN</h5>
              <ol>
                  
                  <li>
                      Suhu, penyimpanan, peracikan persiapan dan penyajian serta pengangkutan makanan
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Suhu penyimpanan sesuai dengan persyaratan untuk setiap tahap dan jenis makanan, seperti daging -5&deg;C, ikan 0&deg;C, sayuran 10&deg;C, buah dan minuman 10 - 15&deg;C
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Pengaturan suhu ruangan produksi
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tersedia AC, kipas angin atau exhauster serta jendela yang dapat berfungsi dengan baik
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tersedia thermometer yang berfungsi dengan baik
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan3">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tersedia thermometer yang dapat memantau suhu ruang atau alat penyimpanan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Suhu pelunakan makanan beku (thawing)
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan4">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Pencairan makanan beku secara perlahan pada suhu 10&deg;C sampai kekenyalan makanan jadi/matang menjadi normal kembali (thawing)
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Perlindungan makanan matang
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan5">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Makanan ditutup agar terhindar dari debu, kotoran serangga atau hewan lain. Makanan sisa tidak disimpan tetapi dipisah dan tidak untuk disajikan kembali 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Perlakuan terhadap makanan selama tahap penyimpanan, persiapan, penyajian, dan pengangkutan
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan6">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Makanan harus diperlakukan secara hati - hati pada saat mengolah, membawa, menyimpan, menyajikan dan mengangkut makanan, seperti memindah, membagi, mewadahi makanan dan lain - lain
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Kontak langsung anggota tubuh dengan makanan
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan7">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Menangani makanan jadi/matang dengan menggunakan alat pengaman seperti sarung tangan / plastik yang bersih atau lainnya. Makanan mentah yang akan dimasak/dipanaskan secara terbatas dapat dipegang dengan tangan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Penyimpanan alat pengambil makanan (Sendok, Penjepit, dll)
                      <b-form-checkbox-group v-model="jasaboga.perlindunganmakanan8">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Sendok es cream, sendok, pisau pemotong disimpan dengan baik dan harus terlindung kebersihannya
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>KARYAWAN</h5>
              <ol>
                  
                  <li>
                      Kesehatan karyawan
                      <b-form-checkbox-group v-model="jasaboga.karyawan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Karyawan tidak boleh menderita penyakit menular seperti penyakit kulit, bisul, koreng. Infeksi saluran pernafasan atas atau luka terbuka harus segera ditutup dengan plester tahan air 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Kebersihan dan perilaku
                      <b-form-checkbox-group v-model="jasaboga.karyawan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Cuci tangan pakai sabun sesering mungkin, perilaku yang sehat seperti tidak memegang rambut, mengorek hidung, telinga, gigi / mulut atau bagian tubuh lainnya. Kuku dipotong pendek, bersih, dan apabila bersin atau batuk harus ditutup dengan tissue
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Pakaian bersih, kuku dan rambut dipotong pendek dan bersih
                      <b-form-checkbox-group v-model="jasaboga.karyawan3">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Pakaian sebaiknya seragam, bersih, rapi dan rambut dipotong pendek atau ditutup topi
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan yang permukaannya kontak dengan makanan
                      <b-form-checkbox-group v-model="jasaboga.karyawan4">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Kebersihan peralatan harus dijaga, bentuk alat aman, pemeliharaan dan penyimpanannya bebas dari noda, karat, sisa makanan, utuh tidak rusak / penyok dan aman digunakan, tidak berbahaya atau menyebabkan kecelakaan selama digunakan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan yang permukaannya tidak kontak dengan makanan
                      <b-form-checkbox-group v-model="jasaboga.karyawan5">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Kebersihan, bentuk, pemeliharaan dan penyimpanan, tidak rusak / penyok dan aman digunakan tidak menimbulkan bahaya / kecelakaan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Fasilitas pencucian piring dan peralatan
                      <b-form-checkbox-group v-model="jasaboga.karyawan6">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Dibuat dengan konstruksi yang baik, kuat, aman, dan bersih serta dipelihara dan digunakan secara baik
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tersedia alat pengukur desinfektan untuk pencucian
                      <b-form-checkbox-group v-model="jasaboga.karyawan7">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tidak menggunakan alat sekali pakai untuk digunakan kembali walaupun telah dicuci kembali
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan yang digunakan sekali pakai
                      <b-form-checkbox-group v-model="jasaboga.karyawan8">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Penyediaan, penyimpanan terlindung dari cemaran / debu dan berada dalam keadaan dikemas serta pembagiannya langsung untuk pemakai 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Cara pemakaian alat yang hanya digunakan sekali pakai
                      <b-form-checkbox-group v-model="jasaboga.karyawan9">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tidak menggunakan alat sekali pakai untuk digunakan kembali walaupun telah dicuci kembali
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tahapan awal pencucian
                      <b-form-checkbox-group v-model="jasaboga.karyawan10">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tersedia bak pencuci awal tersendiri, sebelum dicuci dilakukan proses pemisahan sampah kemudian dilakukan perendaman / pengguyuran serta penyabunan dengan detergent / bahan pembersih lain 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Alat untuk pembilasan pencucian
                      <b-form-checkbox-group v-model="jasaboga.karyawan11">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Kondisi air yang digunakan harus bersih secara fisik, dialirkan melalui pipa / kran dan suhu dalam keadaan normal 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Desinfektan / tindakan sanitasi pencucian
                      <b-form-checkbox-group v-model="jasaboga.karyawan12">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tersedia bak / tempat desinfeksi tersendiri dan dijaga kebersihannya. Desinfeksi air panas dengan suhu minimal 80&deg;C - 100&deg;C, atau chlor aktif dengan kadar 50 - 100 ppm 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Penirisan dan pengeringan
                      <b-form-checkbox-group v-model="jasaboga.karyawan13">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tempat penirisan dan lap pengering dijaga kebersihannya, bahan lap tidak menimbulkan noda / sisa benang, tempat penirisan bebas debu / endapan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan makan/masak yang kontak dengan makanan
                      <b-form-checkbox-group v-model="jasaboga.karyawan14">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Alat harus utuh, bentuk aman dan kebersihan alat harus bebas dari sisa makanan, lemak dan bahan pencuci 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan makan/masak yang tidak kontak dengan makanan
                      <b-form-checkbox-group v-model="jasaboga.karyawan15">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Alat bersih dan bebas dari sisa - sisa bahan pencucian 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Penyimpanan dan perlakuan alat dan masak
                      <b-form-checkbox-group v-model="jasaboga.karyawan16">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Cara penyimpanan terlindung dari pencemaran, ruang penyimpanan tidak mudah berdebu, rak atau tempat penyimpanan bersih dan teratur Ruangan bebas dari lalat, kecoa, tikus, dan hewan lainnya 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>AIR BERSIH</h5>
              <ol>
                  
                  <li>
                      Sumber air dingin dengan air panas
                      <b-form-checkbox-group v-model="jasaboga.airbersih1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Sumber air panas dialirkan melalui saluran / kran, demikian pula air dingin 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>AIR LPAJAKAH</h5>
              <ol>
                  
                  <li>
                      Pembuangan air kotor/limbah
                      <b-form-checkbox-group v-model="jasaboga.airlpajakah1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
Saluran air limbah kedap air dan tertutup, aliran lancar, tidak menimbulkan rembesan di permukaan tanah / terjadi genangan. Air limbah dibuang ke sarana pembuangan tersendiri atau ke riol / got kota 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PERPIPAAN</h5>
              <ol>
                  
                  <li>
                      Pemasangan dan konstruksi perpipaan
                      <b-form-checkbox-group v-model="jasaboga.perpipaan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Sambungan pipa yang baik tidak bocor, tidak berhubungan dengan saluran pembuangan air limbah atau sumber pengotoran air lainnya
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tidak terjadi hubungan antara pipa air bersih dan air kotor
                      <b-form-checkbox-group v-model="jasaboga.perpipaan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Pipa air bersih tidak terjadi kebocoran, tidak berhubungan dengan saluran pembuangan air limbah, air bersih yang mengalir tidak terkontaminasi air kotor
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>FASILITAS CUCI TANGAN DAN TOILET</h5>
              <ol>
                  
                  <li>
                      Konstruksi, jumlah tempat cuci tangan dan pemeliharaannya
                      <b-form-checkbox-group v-model="jasaboga.fasilitasct1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tempat cuci tangan dengan air mengalir berfungsi dengan baik, dilengkapi sabun dan pengering tangan dan disediakan tempat sampah yang bertutup dan dipelihara kebersihannya
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Konstruksi, letak toilet dan pemeliharaannya
                      <b-form-checkbox-group v-model="jasaboga.fasilitasct2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Toilet dilengkapi dengan pintu yang dapat menutup sempurna, dinding kedap air, dipelihara kebersihannya, serta tidak pernah ada kotoran di lubang WC. Dilengkapi tempat cuci tangan dengan air mengalir, sabun dan bak sampah bertutup
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PEMBUANGAN SAMPAH</h5>
              <ol>
                  
                  <li>
                      Jumlah konstruksi dan frekuensi pembuangan sampah
                      <b-form-checkbox-group v-model="jasaboga.pembuangansampah1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Tempat cuci tangan dengan air mengalir berfungsi dengan baik , dilengkapi dengan sabun dan pengering tangan dan disediakan tempat sampah yang bertutup dan dipelihara kebersihannya 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Halaman luar, sekitar bangunan dan kebersihan
                      <b-form-checkbox-group v-model="jasaboga.pembuangansampah2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Halaman bersih, tidak ada tumpukan sampah, puing atau barang - barang tidak terpakai lainnya dan tidak ada genangan air 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENGAWASAN SERANGGA TIKUS DAN HEWAN LAINNYA</h5>
              <ol>
                  
                  <li>
                      Terhindar dari serangga, tikus dan hewan lainnya
                      <b-form-checkbox-group v-model="jasaboga.pengawasanserangga1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Semua konstruksi bangunan dirancang anti lalat, kecoa, dan tikus maupun hewan lain seperti burung atau hewan pengerat misalnya menggunakan bahan bangunan yang tidak berlubang, apabila ada celah harus sempit atau tidak membuat dinding rangkap atau ventilasi yang terbuka tanpa kawat kasa maupun membuat lubang pembuangan air limbah 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>LANTAI, DINDING, DAN LANGIT - LANGIT</h5>
              <ol>
                  
                  <li>
                      Konstruksi, pemeliharaan fisik dan kebersihan lantai
                      <b-form-checkbox-group v-model="jasaboga.lantaidinding1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Lantai dibuat dengan konstruksi yang kuat, aman dan kedap air. Pemeliharaan fisik diselenggarakan secara teratur dan terus menerus, seperti segera memperbaiki yang rusak, pecah dan sebagainya. Kebersihan dijaga setiap saat dan selalu kering, tidak lembab dan tidak licin
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Konstruksi, pemeliharaan fisik dan kebersihan langit - langit
                      <b-form-checkbox-group v-model="jasaboga.lantaidinding2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Dinding dan langit - langit dibuat dengan konstruksi aman, kuat, tidak lembab, dan tidak menyimpan debu. Bagian dinding yang kena percikan air dilapisi bahan kedap air / porselen setinggi 2 meter dari lantai. Pemeliharaan fisik diselenggarakan dengan baik dan terus menerus, seperti perbaikan kerusakan, pecah, lepas, dan sebagainya. Kebersihan dijaga setiap saat dan selalu dalam keadaan kering/tidak lembab. Penghawaan alam melalui jendela terbuka atau lubang angin serta cukup memberikan sirkulasi udara dengan baik 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENCAHAYAAN</h5>
              <ol>
                  
                  <li>
                      Pencahayaan cukup baik
                      <b-form-checkbox-group v-model="jasaboga.pencahayaan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Cahaya alam melalui jendela atau genteng kaca yang dapat menerangi ruangan kerja. Cahaya buatan cukup terang tetapi tidak menimbulkan panas yang mengganggu. Pencahayaan buatan dengan lampu dipasang parallel (bukan tunggal) dengan kuat cahaya sedikitnya 40 hingga 60 watt
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENGHAWAAN</h5>
              <ol>
                  
                  <li>
                      Penghawaan cukup baik
                      <b-form-checkbox-group v-model="jasaboga.penghawaan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Suhu ruangan cukup nyaman dan tidak mengganggu dalam bekerja, atau terlalu panas sehingga tubuh selalu berkeringat sehingga memungkinkan dapat mencemari makanan. Dapat menetralisir bau yang mengganggu pernafasan. Penghawaan buatan dengan memasang alat blower, AC, atau exhauster fan atau kipas angin yang berfungsi dengan baik 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>KAMAR PAKAIAN</h5>
              <ol>
                  
                  <li>
                      Penyediaan dan pemeliharaan kamar ganti pakaian
                      <b-form-checkbox-group v-model="jasaboga.kamarpakaian1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Ruang ganti pakaian tersedia dilengkapi kotak penyimpanan (locker). Kebersihan dan kerapihan dipelihara rutin, demikian pula pencahayaan, penghawaan dan suhu ruangan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>LAIN - LAIN KEGIATAN</h5>
              <ol>
                  
                  <li>
                      Penanganan bahan berbahaya
                      <b-form-checkbox-group v-model="jasaboga.lain1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Ruang ganti pakaian tersedia dilengkapi kotak penyimpanan pakaian (locker). Kebersihan dan kerapihan dipelihara rutin, demikian pula pencahayaan, penghawaan dan suhu ruangan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Pemeliharaan bangunan
                      <b-form-checkbox-group v-model="jasaboga.lain2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Bangunan secara keseluruhan terpelihara, bebas dari puing - puing atau bahan yang tidak dipakai. Semua bahan yang tidak dipakai disimpan di gudang. Tersedia petugas khusus bagian tehnik pemeliharaan / perbaikan dan pembersihan dan bukan merupakan penjamah makanan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Bangunan terpisah sempurna dari tempat tidur dan tempat cuci pakaian
                      <b-form-checkbox-group v-model="jasaboga.lain3">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Dapur tidak dijadikan tempat untuk tidur, tempat cuci pakaian, jemur pakaian, gantung pakaian
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Secara umum dalam keadaan bersih, rapih, dan teratur
                      <b-form-checkbox-group v-model="jasaboga.lain4">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox value="a">
                                      Barang - barang yang tidak digunakan baik makanan atau bahan lain disimpan di tempat penyimpanannya masing masing. Khusus bahan makanan disimpan dalam tempat yang bersih, teratur dan ditempatkan tidak langsung menyentuh lantai atau meja kerja 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
      </ol>
      
      <p>{{jasaboga}}</p>--><b-row>
        <b-col cols="6">
          <b-form-group id="input-group-50" label="Kode Kecamatan" label-for="input-5">
            <b-form-input
              id="input-50"
              type="number"
              v-model="jasaboga.kecamatan"
              required
              placeholder="Ex: 1"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="input-group-60" label="Kode Kelurahan" label-for="input-6">
            <b-form-input
              id="input-60"
              type="number"
              v-model="jasaboga.kelurahan"
              required
              placeholder="Ex: 2"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="auto" class="ml-auto">
          <b-button type="reset" variant="link">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>
import ListIdKelurahan from "../ListIdKelurahan";
import { VueCsvImport } from "vue-csv-import";

export default {
  components: { ListIdKelurahan, VueCsvImport },
  data() {
    return {
      csv: [],
      dialog: false,
componentKey: 0,

      dialogtemplate: false,
      dialogimport: false,
      template: {
        headers: [
          "nama_tempat",
          "nama_pengusaha",
          "alamat",
          "jam_operasional",
          "no_telp",
          "kecamatan_id",
          "kelurahan_id"
        ],
        items: [
          "catering tiga saudara",
          "Samsudin",
          "	Jalan Nusantara Pancoran Mas",
          "	07.00 -  21.00",
          "021 747768",
          "1",
          "7"
        ]
      },
      jasaboga: {
        namatempat: "",
        alamat: "",
        namapengusaha: "",
        nomortelepon: "",
        jamoperasional: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",kecamatan:'',
kelurahan:'',
        query: []
      }
    };
  },

  methods: {
    showTable() {
      this.dialog = !this.dialog;
    },
    showTemplate() {
      this.dialogtemplate = !this.dialogtemplate;
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.jasaboga));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.jasaboga = "";
    },
    forceRerender() {
      this.componentKey += 1;
    },
    onImportCsv() {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Pastikan data excel sesuai dengan aturan!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Import Sekarang"
        })
        .then(result => {
          if (this.csv.length > 0) {
            this.$nextTick(() => {
              this.jasaboga.query = [];
            });

            this.forceRerender();
            if (result.value) {
              swal.fire({
                text: "Dalam proses...",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                  swal.showLoading();
                }
              });

              axios
                .post("jasa-boga/custom/import-csv", {
                  csv: this.csv
                })
                .then(({ data }) => {
                  if (data.status_code == 1000) {
                    let str = "";

                    for (let index = 0; index < data.data.length; index++) {
                      str +=
                        "<tbody><tr><td>" +
                        (index + 1) +
                        "</td><td>" +
                        data.data[index].username +
                        "</td></tr></tbody>";
                    }

                    swal.fire({
                      title: "<strong>Import gagal! CSV Tidak Valid</strong>",
                      type: "warning",
                      html:
                        "<div class='col-12'><table class='table'><thead><tr><th>Nomor</th><th>username</th></tr></thead>" +
                        str +
                        "</table></div>" +
                        "<div><strong>Username tidak boleh sama</strong></div>"
                    });
                  }

                  if (data.status_code == 200) {
                    swal.fire({
                      title: "<strong>Berhasil import</strong>",
                      type: "success",
                      text: data.message
                    });
                  }

                  this.csv = [];
                  Fire.$emit("AfterEventKader");
                  // this.$refs["modal-1"].hide();
                  this.dialogimport = false;
                })
                .catch(err => {
                  if (err.response.status == 422) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Ada kesalahan pada data csv, pastikan data di csv sudah memenuhi aturan",
                      "warning"
                    );
                  }

                  if (err.response.status == 500) {
                    NProgress.done();
                    swal.fire(
                      "Gagal!",
                      "Jaringan bermasalah, silahkan coba lagi",
                      "warning"
                    );
                  }
                });
            }
          } else {
            if (result.value) {
              swal.fire(
                "Gagal!",
                "Pastikan semua kolom yang di tentukan sudah terisi",
                "warning"
              );
            }
          }
        });
    }
  }
};
</script>