<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Salon" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input disabled id="input-2" v-model="datars.alamat" required></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-3"
            label="Nama Pimpinan / Penanggung Jawab"
            label-for="input-3"
          >
            <b-form-input
              disabled
              id="input-3"
              v-model="datars.nama_pengelola"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Jumlah Karyawan" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.karyawan"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-5" label="No. Izin Usaha" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              type="number"
              v-model="datars.no_izin_usaha"
              maxlength="13"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jamo_perasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input id="input-12" v-model.trim="datars.pajak[1]" disabled></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!--  
          <ol type="I">
              <li>  
                  <h5>AIR</h5>
                  <ol type="A">
                      <li>
                          Standar Baku Mutu
                          <ol type="a">
                              <li>
                                  Parameter Fisik wajib air untuk keperluan higienis sanitasi
                                  <ol>
                                      <b-checkbox-group v-model="salon.air1">
                                        <li>
                                            <b-form-checkbox disabled value="1">
                                                Kekeruhan tidak lebih dari 25 NTU
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="2">
                                                Warna tidak lebih dari 50 TCU
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="3">
                                                Zat padat terlarut (total dissolved solid) tidak lebih dari 1000 mg/l
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="4">
                                                Suhu udara +3oC
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="5">
                                                Air tidak berasa
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="6">
                                                Air tidak berbau
                                            </b-form-checkbox>
                                        </li>
                                      </b-checkbox-group>
                                  </ol>
                              </li>
                              <li>
                                Paramater Biologi wajib air untuk keperluan higienis sanitasi                                  
                                <ol>
                                    <b-checkbox-group v-model="salon.air2">
                                        <li>
                                            <b-form-checkbox disabled value="1">
                                                Total coliform tidak lebih dari 50 CFU/100ml sampel
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="2">
                                                EColi tidak lebih dari 0 CFU/100ml sampel
                                            </b-form-checkbox>
                                        </li>
                                    </b-checkbox-group>
                                </ol>
                              </li>
                              <li>
                                  Paramater Kimia wajib air untuk keperluan higienis sanitasi
                                  <ol>
                                      <b-form-checkbox-group v-model="salon.air3">
                                          <li>
                                              <b-form-checkbox disabled value="1">
                                                  pH antara 6,5 - 8,5 mg/l
                                              </b-form-checkbox>
                                          </li>
                                          <li>
                                              <b-form-checkbox disabled value="2">
            Besi tidak lebih dari 1 mg/l  
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="3">
            luorida tidak lebih dari 1,5 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="4">
            Kesadahan (CaC03) tidak lebih dari 500 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="5">
            Mangan tidak lebih dari 0,5 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="6">
            Nitrat, sebagai N tidak lebih dari 10 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="7">
            Nitrit, sebagai N tidak lebih dari 1 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="8">
            Sianida tidak lebih dari 0,1 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="9">
            Deterjen tidak lebih dari 0,05 mg/l
                                                        </b-form-checkbox>
                                                    </li>
                                                    <li>
                                                        <b-form-checkbox disabled value="10">
            Pestisida tidak lebih dari 0,1 mg/l
                                              </b-form-checkbox>
                                          </li>
                                      </b-form-checkbox-group>
                                  </ol>
                              </li>
                              <li>
                                  Persyaratan Kesehatan
                                  <ol>
                                      <b-form-checkbox-group v-model="salon.air3">
                                          <li>
                                              <b-form-checkbox disabled value="1">
                                                  Air untuk kerperluan higiene sanitasi tersedia sepanjang waktu
                                              </b-form-checkbox>
                                          </li>
                                      </b-form-checkbox-group>
                                  </ol>
                              </li>
                          </ol>
                      </li>
                  </ol>
              </li>
              <li>
                  <h5>UDARA</h5>
                  <ol type="A">
                      <li>
                          Standar Baku Mutu
                          <ol type="a">
                              <li>
                                Kualitas Fisik
                                <ol>
                                    <b-form-checkbox-group v-model="salon.udara1">
                                        <li>
                                            <b-form-checkbox disabled value="1">
                                                Pencahayaan ruangan salon minimal 100 lux
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="2">
                                                Kelembaban antara 40-70%Rh
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="3">
                                                Laju ventilasi udara antara 0,15 - 0,50 meter/detik
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="4">
                                                Salon bebas dari asap rokok
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="5">
                                                Salon tidak banyak debu
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="6">
                                                Udara di salon tidak pengap/terasa nyaman
                                            </b-form-checkbox>
                                        </li>
                                        <li>
                                            <b-form-checkbox disabled value="7">
                                                Udara di salon tidak berbau
                                            </b-form-checkbox>
                                        </li>
                                    </b-form-checkbox-group>
                                </ol>
                              </li>
                          </ol>
                      </li>
                  </ol>
              </li>
              <li>
                  <h5>SARANA DAN PEMBANGUNAN</h5>
                  <ol type="A">
                      <li>
                            Persyaratan Kesehatan
                            <ol>
                                <b-form-checkbox-group v-model="salon.sarana1">
                                    <li>
                                        <b-form-checkbox disabled value="1">
                                            Tinggi langit-langit tidak lebih dari sama dengan 2,80 meter
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="2">
                                            Jumlah tempat sampah minimal 1 per ruangan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="3">
                                            Atap kuat, tidak bocor, tahan lama dan tidak menjadi tempat perindukan vektor
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="4">
                                            Langit-langit harus kuat, berwarna terang dan mudah dibersihkan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="5">
                                            Dinding harus keras, rata, tidak berpori, tidak menyebabkan silau, kedap air, dan mudah dibersihkan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="6">
                                            Tempat sampah terbuat dari bahan yang kuat, cukup ringan, tahan karat, kedap air, dan mudah dibersihkan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="7">
                                            Lantai harus kuat, kedap air, permukaan rata, tidak licin, warna terang, mudah dibersihkan, dan dengan sambungan seminimal mungkin
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                      </li>
                      <li>
                            Tersedia KM/WC (pilihan)
                            <ol>
                                <b-form-checkbox-group v-model="salon.sarana2">
                                    <li>
                                        <b-form-checkbox disabled value="1">
                                            Dinding KM/WC harus kedap air
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="2">
                                            Material pintu untuk KM/WC harus kedap air
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="3">
                                            Langit kamar mandi/WC terbuat dari bahan yang tidak licin dan air buangan tidak boleh tergenang
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="4">
                                            Tersedia tempat pembuangan air limbah domestik (buangan kamar mandi dan tempat cuci) yang tertutup, kedap air, tidak bocor
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                      </li>
                      <li>
                            Limbah B3 (Bahan Beracun Berbahaya)
                            <ol>
                                <b-form-checkbox-group v-model="salon.sarana3">
                                    <li>
                                        <b-form-checkbox disabled value="1">
                                            Terpilah limbah B3 dengan non B3
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="2">
                                            Tersedia wadah limbah B3 sesuai jenisnya dan memenuhi syarat
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="3">
                                            Pengolahan limbah secara mandiri atau bekerjasama (MOU) dengan pihak ke III
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="4">
                                            Sarana pembuangan limbah B3 padat (botol hairspray, cat rambut, bleaching, cat keriting rambut, obat pelurus rambut, alumunium foil dan sejenisnya) maupun cair (air bilasan kegiatan aktivitas fisik salon) harus terpisah dari tempat pembuangan limbah domestik
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="5">
                                            Lantai harus kuat, kedap air, permukaan rata, tidak licin, warna terang, mudah dibersihkan, dan dengan sambungan seminimal mungkin
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                      </li>
                  </ol>
              </li>
              <li>
                  <h5>FAKTOR DAN BINATANG PEMBAWA PENYAKIT</h5>
                  <ol type="A">
                    <li>
                        Persyaratan Kesehatan
                        <ol>
                            <b-form-checkbox-group v-model="salon.faktor1">
                                <li>
                                    <b-form-checkbox disabled value="1">
                                        Angka Bebas Jentik (ABJ) 100%
                                    </b-form-checkbox>
                                </li>
                                <li>
                                    <b-form-checkbox disabled value="2">
                                        Semua ruang di salon harus bebas dari tanda-tanda keberadaan kecoa (bau, cacing, keberadaan telur/ookinet)
                                    </b-form-checkbox>
                                </li>
                                <li>
                                    <b-form-checkbox disabled value="3">
                                        Semua ruang di salon harus bebas dari tanda-tanda keberadaan tikus (bau, cacing, bekas gigitan, kotoran)
                                    </b-form-checkbox>
                                </li>
                            </b-form-checkbox-group>
                        </ol>
                    </li>
                  </ol>
              </li>
          </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/salon')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>

<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("salon/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,
      salon: {}
    };
  }
};
</script>