<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

    <b-form>
      <b-form-group  id="input-group-1" label="Nama Rumah Sakit" label-for="input-1">
        <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
      </b-form-group>

      <b-form-group  id="input-group-2" label="Alamat" label-for="input-2">
        <b-form-input disabled
          id="input-2"
          v-model="datars.alamat"
          required
          placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
        ></b-form-input>
      </b-form-group>
      
          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

      <b-form-group  id="input-group-3" label="Jumlah Tempat Tidur" label-for="input-3">
        <b-form-input disabled id="input-3" v-model="datars.jumlah_tempat_tidur" required placeholder></b-form-input>
      </b-form-group>

      <b-form-group  id="input-group-5" label="Kelas Rumah Sakit" label-for="radio-5">
        <b-form-radio-group v-model="datars.kelas_rs" id="radio-5" stacked>
          <b-form-radio disabled value="0">A/B/C/D (RS Pemerintah, BUMN/BUMND)</b-form-radio>
          <b-form-radio disabled value="1">Utama/Madya/Pratama (RS Swasta)</b-form-radio>
          <b-form-radio disabled value="2">I/II/III/IV TNI</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <b-form-group
        id="input-group-4"
        label="Penyakit yang paling sering ditangani"
        label-for="input-4"
      >
        <b-form-input disabled id="input-4" v-model="datars.penyakit_terbanyak" required placeholder></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-6"
        label="Rata - rata jumlah pasien rawat inap per hari"
        label-for="input-6"
      >
        <b-form-input disabled id="input-6" v-model="datars.rata_rata_rawat_inap" required></b-form-input>
      </b-form-group>

      <b-form-group  id="input-group-9" label="Jam Operasional" label-for="input-9">
        <b-form-input disabled
          id="input-9"
          v-model="datars.jam_operasional"
          required
          placeholder="07.00 - 17.00"
        ></b-form-input>
      </b-form-group>

      <b-form-group  id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
        <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
      </b-form-group>
<b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
      <b-form-group
        id="input-group-11"
        label="Kepemilikan Izin Mendirikan Bangunan"
        label-for="radio-11"
      >
        <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
          <b-form-radio disabled value="Ada">Ada</b-form-radio>
          <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
        </b-form-radio-group>
      </b-form-group>

      <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
        <b-form-group  id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
          <b-form-input disabled
            id="input-12"
            v-model.trim="datars.pajak[1]"
          ></b-form-input>
        </b-form-group>

        <b-form-group  id="input-group-13" label="Status Pajak Bumi Bangunan" label-for="radio-13">
          <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
            <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
            <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
      </div>
      </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>
 
      <ol v-else type="A">
          <li>
              <h5>KONSTRUKSI UMUM</h5>
              <ol>
                  <li>
                      Lantai
                      <ol type="a">
                              
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[0]">
                                      Kuat/utuh
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[1]">
                                      Bersih
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[2]">
                                        Pertemuan lantai dan dinding berbentuk konus 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[3]">
                                      Kedap air 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[4]">
                                      Rata 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[5]">
                                      Tidak licin
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[6]">
                                      Mudah dibersihkan
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Dinding
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[7]">
                                      Data
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[8]">
                                      Bersih
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[9]">
                                      Berwarna terang 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[10]">
                                      Mudah dibersihkan 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ventilasi
                      <ol type="i">

                          <li> Ventilasi gabungan
                              <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[11]">
                                      Ventilasi alam, lubang ventilasi minimum 15 persen x luas lantai 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[12]">
                                      Ventilasi mekanis (Fan, AC, Exhauster)
                                  </b-form-checkbox>
                              </li>
                              </ol>
                              
                          </li>
                          <li>
                              Ventilasi alam 
                              <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[13]">
                                      Lubang ventilasi min. 15 persen x luas lantai
                                  </b-form-checkbox>
                              </li>

                              </ol>
                          </li>
                          <li>
                              Ventilasi mekanis 
                              <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[14]">
                                      Fan, AC, Exhauster
                                  </b-form-checkbox>
                              </li>

                              </ol>
                          </li>
                          
                      </ol>
                  </li>
                  
                  <li>
                      Atap
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[15]">
                                      Bebas serangga dan tikus 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[16]">
                                      Tidak bocor
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[17]">
                                      Berwarna terang 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[18]">
                                      Mudah dibersihkan 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li> 
              </ol>
          </li>
          <li>
              <h5>RUANG BANGUNAN</h5>
              <ol>
                  
                  <li>
                      Langit - langit
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[19]">
                                      Tinggi langit - langit min.2,7 m dari lantai 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[20]">
                                      Kuat 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[21]">
                                      Berwarna terang 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[22]">
                                      Mudah dibersihkan 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li> 
                  <li>
                      Konstruksi Balkon Beranda, dan talang
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[23]">
                                      Tidak ada genangan air
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[24]">
                                      Tidak ada jentik
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[25]">
                                      Mudah dibersihkan
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Pintu
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[26]">
                                      Dapat mencegah masuknya serangga dan tikus
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[27]">
                                      Kuat
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Pagar
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[28]">
                                      Aman
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[29]">
                                      Kuat
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Halaman taman dan tempat parkir
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[30]">
                                      Bersih
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[31]">
                                      Mampu menampung mobil karyawan dan pengunjung
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[32]">
                                      Tidak berdebu/becek 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[33]">
                                      Tersedia tempat sampah yang cukup
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li> 
                  <li>
                      Jaringan instalasi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[34]">
                                      Aman (bebas cross connection)
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[35]">
                                      Terlindung
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Saluran air limbah
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[36]">
                                      Tertutup
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[37]">
                                      Aliran air lancar
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang Perawatan
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[38]">
                                      Ratio luas lantai dengan tempat tidur : (Dewasa : 4,5 m&sup2;/tt dan Anak/bayi : 2 m&sup2;/tt)
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[39]">
                                      Ratio tempat tidur dengan kamar mandi 1 - 10 tt/km
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[40]">
                                      Angka kuman maks.200 - 500 CFU/m&sup3; udara
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[41]">
                                      Bebas serangga/tikus
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[42]">
                                      Kadar debu maks.150 ug/m&sup3; udara
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[43]">
                                      Tidak berbau (terutama H&sup2;S dan NH&sup3;)
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[44]">
                                      Pencahayaan 100 - 200 lux
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[45]">
                                      Suhu 22&deg;C - 24&deg;C (dengan AC), apabila menggunakan AC sentral cooling towernya tidak menjadi perindukan bakteri Ligonella atau suhu kamar (tanpa AC)
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[46]">
                                      Kelembaban 45 - 60 persen (dengan AC) atau suhu kamar
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[47]">
                                      Kebisingan kurang dari 45 dBA
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Lingkungan RS
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[48]">
                                      Kawasan bebas rokok
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[49]">
                                      Penerangan dengan intensitas cukup
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[50]">
                                      Saluran air limbah tertutup
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[51]">
                                      Saluran drainase lancar
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang operasi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[52]">
                                      Bebas kuman panthogen
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[53]">
                                      Angka kuman 10 CFU/m&sup3; udara
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[54]">
                                      Dinding terbuat dari porselin/vinyl
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[55]">
                                      Pintu harus dalam keadaan tertutup
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[56]">
                                      Langit - langit tidak bercelah
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[57]">
                                      Ventilasi dengan AC tersendiri dilengkapi filter bakteri
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[58]">
                                      Suhu 19&deg;C - 25&deg;C
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[59]">
                                      Kelembaban 45 - 60 persen
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[60]">
                                      Pencahayaan ruang 300 - 500 lux 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[61]">
                                      Pencahayaan meja operasi 10.000 - 20.000 lux
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[62]">
                                      Tinggi langit - langit 2,7m - 3,3m dari lantai
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang laboratorium
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[63]">
                                      Dinding terbuat dari porselin/keramik setinggi 1,5m dari Lantai
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[64]">
                                      Lantai dan meja kerja tahan terhadap bahan kimia getaran
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[65]">
                                      Dilengkapi dengan dapur kamar mandi dan toilet
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[66]">
                                      Tinggi langit - langit 2,7m - 3,3m dari lantai
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[67]">
                                      Kebisingan kurang dari 68 dBA
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang sterilisasi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[68]">
                                      Pintu masuk terpisah dengan pintu keluar
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[69]">
                                      Tersedia ruangan khusus
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[70]">
                                      Dinding terbuat dari porselin/keramik setinggi 1,5m dari lantai
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang radiologi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[71]">
                                      Dinding dan daun pintu dilapisi timah hitam
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[72]">
                                      Kaca jendela menggunakan kaca timah hitam 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[73]">
                                      Tinggi langit - langit 2,7m - 3,3m dari lantai
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[74]">
                                      Hubungan dengan ruang gelap harus dengan loket
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang pendingin
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[75]">
                                      Suhu -10&deg;C s/d -5&deg;C
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[76]">
                                      Bebas tikus dan kecoa
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[77]">
                                      Dilengkapi rak untuk menyimpan makanan dengan tinggi 20cm - 25cm dari lantai
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Ruang mayat
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[78]">
                                      Dinding dilapisi porselin/keramik
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[79]">
                                      Terletak dekat dengan bagian pathologi/lab
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[80]">
                                      Jauh dari poliklinik/ruang pemeriksaan
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[81]">
                                      Mudah dicapai dari ruang perawatan, UGD dan ruang operasi
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[82]">
                                      Dilengkapi dengan saluran pembuangan air limbah
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[83]">
                                      Dilengkapi dengan ruang ganti pakaian petugas dan toilet
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[84]">
                                      Dilengkapi dengan perlengkapan dan bahan pemilisan jenazah termasuk meja memandikan mayat
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Toilet dan kamar mandi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[85]">
                                      Rasio toilet/kamar mandi dengan tempat tidur 1:15
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[86]">
                                      Toilet tersedia pada setiap unit/ruang khusus untuk unit rawat inap dan karyawan harus tersedia kamar mandi
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[87]">
                                      Letak tidak berhubungan langsung dengan dapur kamar operasi dan ruang khusus lainnya 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[88]">
                                      Saluran pembuangan air limbah dilengkapi dengan penahan bau (water seal)
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[89]">
                                      Lubang penghawaan harus berhubungan langsung dengan udara luar
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[90]">
                                      Kamar mandi dan toilet untuk pria, wanita dan karyawan terpisah
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENYEHATAN MAKANAN DAN MINUMAN</h5>
              <ol>
                  
                  <li>
                      Bahan makanan dan makanan jadi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[91]">
                                      Kondisi bahan makanan dan makanan jadi secara fisik memenuhi syarat
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[92]">
                                      Kondisi bahan makanan dan makanan jadi secara bakteriologis memenuhi syarat 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li> 
                  <li>
                      Tempat penyimpanan bahan makanan dan makanan jadi
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[93]">
                                      Makanan yang mudah membusuk disimpan pada suhu > 56,6&deg;C atau kurang dari 4&deg;C
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[94]">
                                      Makanan yang akan disajikan > 6 jam disimpan pada suhu -5&deg;C s/d -4&deg;C
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[95]">
                                      Bersih
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[96]">
                                      Terlindung dari debu
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[97]">
                                      Bebas gangguan serangga dan tikus
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[98]">
                                      Bahan makanan dan makanan jadi terpisah
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li> 
                  <li>
                      Penyajian makanan
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[99]">
                                      Menggunakan kereta dorong tertutup
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[100]">
                                      Tidak menyajikan makanan jadi yang sudah menginap
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[101]">
                                      Lalu lintas makanan jadi menggunakan jalur khusus
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Tempat pengolahan makanan (dapur)
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[102]">
                                      Lantai dapur sebelum dan sesudah kegiatan dibersihkan dengan antiseptic
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[103]">
                                      Dilengkapi dengan sungkup dan cerobong asap
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[104]">
                                      Pencahayaan >200 lux
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Penjamah makanan
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[105]">
                                      Memiliki surat keterangan sehat yang berlaku 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[106]">
                                      Tidak berkuku panjang, koreng dan sejenisnya 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[107]">
                                      Menggunakan pakaian pelindung pengolah makanan 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[108]">
                                      Selalu menggunakan peralatan dalam menjamah makanan jadi 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[109]">
                                      Berperilaku sehat selama bekerja
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Peralatan
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[110]">
                                      Sebelum digunakan dalam kondisi bersih 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[111]">
                                      Tahan karat dan tidak mengandung bahan beracun
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[112]">
                                      Utuh, tidak retak 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[113]">
                                      Dicuci dengan desinfektan atau dikeringkan dengan sinar matahari/pemanas buatan dan tidak dibersihkan dengan kain
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENYEHATAN AIR</h5>
              <ol>
                  
                  <li>
                      Kuantitas
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[114]">
                                      Tersedia air bersih >500 lt/tt/hr dan tersedia air minum sesuai dengan kebutuhan 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[115]">
                                      Air minum/bersih tersedia pada setiap tempat kegiatan 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li> 
                  <li>
                      Kualitas
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[116]">
                                      Bakteriologis
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[117]">
                                      Kimia 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[118]">
                                      Fisika 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Sarana
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[119]">
                                      Sumber air diolah
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[120]">
                                      Distribusi tidak bocor 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[121]">
                                      Penampungan tertutup
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENANGANAN SAMPAH dan LPAJAKAH</h5>
              <ol>
                  
                  <li>
                      Pengelolaan limbah padat
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[122]">
                                      Pemusnahan limbah padat infeksius, citotoksis, dan farmasi dengan incenerator (suhu > 1000&deg;C) atau khusus untuk sampah infeksius dapat disteril dengan auto clave atau radiasi microwave sebelum dibuang ke landfill 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[123]">
                                      Bagi yang tidak punya insenerator ada MoU antara RS dan pihak yang melakukan pemusnahan limbah medis 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[124]">
                                      Tempat limbah padat, kuat, tahan karat, kedap air, dengan penutup, dan kantong plastik dengan warna dan lambang sesuai pedoman. min.1 buah tiap kamar atau setiap radius 10m dan radius 20m pada ruang tunggu/terbuka 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[125]">
                                      Tempat pengumpulan dan penampungan limbah padat sementara segera didesinfeksi setelah dikosongkan 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[126]">
                                      Diangkut ke TPS > 2 kali/hari dan ke TPA > 1 kali/hari 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[127]">
                                      Limbah domestik dibuang ke TPA yang ditetapkan Pemda
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[128]">
                                      Sampah radioaktif ditangani sesuai peraturan yang berlaku
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Penanganan limbah cair
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[129]">
                                      Dilakukan pengolahan melalui IPAL
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[130]">
                                      Disalurkan melalui saluran tertutup, kedap air dan lancar 
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
                  <li>
                      Kualitas effluent yang dibuang ke dalam lingkungan
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[131]">
                                      Memenuhi persyaratan Kep.Men LH No.58 Tahun 1995
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENYEHATAN TEMPAT PENCUCIAN LINEN</h5>
               
                      
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[132]">
                                      Terdapat kran air bersih dengan kapasitas, kualitas, kuantitas, dan tekanan yang memadai dan disediakan kran air panas untuk desinfeksi awal 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[133]">
                                      Dilakukan pemilahan antara linen infeksius dan non infeksius 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[134]">
                                      Tersedia ruang pemisah antara barang bersih dan kotor 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[135]">
                                      Lokasi mudah dijangkau oleh kegiatan yang memerlukan dan jauh dari pasien serta tidak berada dijalan 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[136]">
                                      Lantai terbuat dari beton/plester yang kuat, rata, tidak licin dengan kemiringan > 2 - 3 persen
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[137]">
                                      Pencahayaan >200 lux
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[138]">
                                      Terdapat sarana pengering untuk alat - alat sehabis dicuci
                                  </b-form-checkbox>
                              </li>
                      </ol>
          </li>
          <li>
              <h5>PENGENDALIAN SERANGGA dan TIKUS</h5>
              
                      
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[139]">
                                      Fisik : (Konstruksi bangunan tempat penampungan air, penampungan sampah tidak memungkinkan sebagai tempat berkembangbiak serangga dan tikus)
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[140]">
                                      Kimia : (Insektisida yang dipakai memiliki toksisitas rendah terhadap manusia dan tidak bersifat presisten)
                                  </b-form-checkbox>
                              </li>
                      </ol>
          </li>
          <li>
              <h5>DEKONTAMINASI MELALUI DESINFEKSI DAN STERILISASI</h5>
              
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[141]">
                                      Menggunakan peralatan sterilisasi uap (autoclave)/gas dengan suhu sekitar +/- 134&deg;C atau, peralatan radiasi gelombang mikro (microwave) atau dengan cara lain yang mms
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[142]">
                                      Alat dan perlengkapan medis yang sudah disteril atau disimpan pada tempat khusus yang steril pula 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[143]">
                                      Alat dan perlengkapan medis yang sudah disteril atau didesinfeksi terlebih dahulu dibersihkan dari darah, jaringan tubuh, dan sisa bahan lain
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[144]">
                                      Peralatan sterilisasi dikalibrasi minimal sekali dalam setahun 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[145]">
                                      Ruang operasi yang telah dipakai harus dilakukan desinfeksi sebelum operasi berikutnya
                                  </b-form-checkbox>
                              </li>
                      </ol>
          </li>
          <li>
              <h5>PENGAMANAN RADIASI</h5>
              
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[146]">
                                      Ada izin mengoperasikan peralatan yang memancarkan radiasi 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[147]">
                                      Dosis radiasi pengion terhadap pekerja dan masyarakat tidak boleh melebihi NBD
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[148]">
                                      Ada sistem manajemen kesehatan dan keselamatan kerja pada pengion, organisasi, peralatan proteksi, pemantauan dosis perorangan
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[149]">
                                      Instalasi dan gudang peralatan radiasi ditempatkan pada lokasi yang jauh dari tempat yang rawan kebakaran tempat berkumpul orang 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[150]">
                                      Tebal bahan perlindungan pada masing - masing ruangan berdasarkan jenis dan energi radiasi serta sifat bahan pelindung sesuai peraturan yang berlaku
                                  </b-form-checkbox>
                              </li>
                      </ol>
          </li>
          <li>
              <h5>PENYULUHAN KESEHATAN LINGKUNGAN</h5>
              <ol>
                  
                  <li>
                      Dilakukan penyuluhan kesehatan secara langsung maupun tidak langsung kepada :
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[151]">
                                      Karyawan medis/non medis
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[152]">
                                      Pasien
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[153]">
                                      Pedagang makanan dalam lingkungan Rumah Sakit 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[154]">
                                      Pengunjung
                                  </b-form-checkbox>
                              </li>
                      </ol>
                  </li>
              </ol>
          </li>
          <li>
              <h5>UNIT/SANITASI RS</h5>
              
                      <ol type="a">
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[155]">
                                      Dipimpin oleh tenaga teknis yang sudah mengikuti pelatihan sanitasi Rumah Sakit 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[156]">
                                      Dipimpin oleh tenaga teknis yang belum mengikuti pelatihan sanitasi Rumah Sakit 
                                  </b-form-checkbox>
                              </li>
                              <li>
                                  <b-form-checkbox disabled v-model="datars.nilai[157]">
                                      Dipimpin oleh tenaga non teknis yang sudah mengikuti pelatihan sanitasi Rumah Sakit
                                  </b-form-checkbox>
                              </li>
                      </ol>
          </li>
      </ol>
 
      
    </b-form>   
      </b-card-body>

      <b-card-footer>
        <b-btn 
          @click="$router.push('/modul/rumah-sakit')"
        class="float-right" variant="outline-dark">Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
  
</template>


<script>
import HeaderData from "./HeaderData";

export default {
components:{
    HeaderData
  },
  methods: {
    loadItem(id) {
      axios
        .get("rumahsakit/" + id)
        .then(data => {
          this.datars = data.data.data;
          if(data.data.data.pajak != null)
          this.datars.pajak = data.data.data.pajak.split(", ");
          if(data.data.data.nilai != null){
          this.datars.nilai = JSON.parse(data.data.data.nilai);
          this.processNilai(this.datars.nilai);
          this.getKelasRS(this.datars.kelas_rs);}
          this.loadData=false;
})
        .catch(err => {
          console.log(err);
        });
    },
    processNilai(nilai){
        nilai.map(function(value, key) {
        // nilai[key] = parseInt(nilai[key]);
          if (nilai[key] == "0") return (nilai[key] = false);
           else return (nilai[key] = true);
      });
    },
    getKelasRS(k){
        if  (k == "A/B/C/D (RS Pemerintah, BUMN/BUMD)") return this.datars.kelas_rs="0"
        else if (k == "Utama/Madya/Pratama (RS Swasta)") return this.datars.kelas_rs="1";
        else if (k.toLowerCase() == "i/ii/iii/iv tni") return this.datars.kelas_rs="2";
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true, 
      datars:{},
      dialog: true,
      
    };
  }
};
</script>