<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <!-- Put Form Here  -->
        <b-form>
          <b-form-group id="input-group-1" label="Nama Rumah Makan" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Nama Pengusaha" label-for="input-3">
            <b-form-input disabled id="input-3" v-model="datars.nama_pemilik" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Jumlah Karyawan" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.jumlah_karyawan"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-5" label="Jumlah Penjamah" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              type="number"
              v-model="datars.jumlah_penjamah"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-6" label="Nomor/Tanggal Izin Usaha" label-for="input-6">
            <b-form-input disabled id="input-6" v-model="datars.no_izin_usaha" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group disabled v-model.trim="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input disabled id="input-12" v-model.trim="datars.pajak[1]"></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group disabled v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <ol v-else type="A">
            <li>
              <h5>Lokasi dan Bangunan</h5>
              <ol>
                <li>
                  Lokasi
                  <ol type="a">
                    <li>
                      Tidak berada pada arah angin dari sumber pencemaran debu, asap, bau, dan cemaran lainnya
                      <b-form-radio-group disabled v-model="datars.nilai[0]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak berada pada jarak &lt; 100 meter dari sumber pencemearn
                      <b-form-radio-group disabled v-model="datars.nilai[1]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Bangunan
                  <ol type="a">
                    <li>
                      Terpisah dengan tempat tinggal termasuk tempat tidur
                      <b-form-radio-group disabled v-model="datars.nilai[2]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Kokoh/Kuat/Permanen
                      <b-form-radio-group disabled v-model="datars.nilai[3]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Rapat serangga
                      <b-form-radio-group disabled v-model="datars.nilai[4]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Rapat tikus
                      <b-form-radio-group disabled v-model="datars.nilai[5]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Pembagian Ruang
                  <ol type="a">
                    <li>
                      Terdiri dari dapur dan ruang makanan
                      <b-form-radio-group disabled v-model="datars.nilai[6]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada toilet dan jamban
                      <b-form-radio-group disabled v-model="datars.nilai[7]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada gudang bahan makanan
                      <b-form-radio-group disabled v-model="datars.nilai[8]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada ruang karyawan
                      <b-form-radio-group disabled v-model="datars.nilai[9]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada ruang administrasi
                      <b-form-radio-group disabled v-model="datars.nilai[10]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada gudang peralatan
                      <b-form-radio-group disabled v-model="datars.nilai[11]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Lantai
                  <ol type="a">
                    <li>
                      Bersih
                      <b-form-radio-group disabled v-model="datars.nilai[12]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Kedap Air
                      <b-form-radio-group disabled v-model="datars.nilai[13]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak licin
                      <b-form-radio-group disabled v-model="datars.nilai[14]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Rata
                      <b-form-radio-group disabled v-model="datars.nilai[15]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Kering
                      <b-form-radio-group disabled v-model="datars.nilai[16]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Konus
                      <b-form-radio-group disabled v-model="datars.nilai[17]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Dinding
                  <ol type="a">
                    <li>
                      Kedap air
                      <b-form-radio-group disabled v-model="datars.nilai[18]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Rata
                      <b-form-radio-group disabled v-model="datars.nilai[19]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Bersih
                      <b-form-radio-group disabled v-model="datars.nilai[20]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Ventilasi
                  <ol type="a">
                    <li>
                      Tersedia dan berfungsi dengan baik
                      <b-form-radio-group disabled v-model="datars.nilai[21]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Menghilangkan bau tidak enak
                      <b-form-radio-group disabled v-model="datars.nilai[22]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Cukup menjamin rasa aman
                      <b-form-radio-group disabled v-model="datars.nilai[23]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Pencahayaan/Penerangan
                  <ol type="a">
                    <li>
                      Tersebar merata disetiap ruangan
                      <b-form-radio-group disabled v-model="datars.nilai[24]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Intensitas cahaya 10 fc
                      <b-form-radio-group disabled v-model="datars.nilai[25]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak menyilaukan
                      <b-form-radio-group disabled v-model="datars.nilai[26]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Atap
                  <ol type="a">
                    <li>
                      Tidak menjadi sarang tikus dan serangga
                      <b-form-radio-group disabled v-model="datars.nilai[27]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak bocor
                      <b-form-radio-group disabled v-model="datars.nilai[28]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Cukup landai
                      <b-form-radio-group disabled v-model="datars.nilai[29]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Langit - langit
                  <ol type="a">
                    <li>
                      Tinggi minimal 2,4 meter
                      <b-form-radio-group disabled v-model="datars.nilai[30]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Rata dan bersih
                      <b-form-radio-group disabled v-model="datars.nilai[31]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak terdapat lubang - lubang
                      <b-form-radio-group disabled v-model="datars.nilai[32]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Pintu
                  <ol type="a">
                    <li>
                      Rapat serangga dan tikus
                      <b-form-radio-group disabled v-model="datars.nilai[33]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Menutup dengan baik dan membuka arah luar
                      <b-form-radio-group disabled v-model="datars.nilai[34]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Terbuat dari bahan yang kuat dan mudah dibersihkan
                      <b-form-radio-group disabled v-model="datars.nilai[35]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Fasilitas Sanitasi</h5>
              <ol>
                <li>
                  Air bersih
                  <ol type="a">
                    <li>
                      Jumlah mencukupi
                      <b-form-radio-group disabled v-model="datars.nilai[36]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak berbau, tidak berasa dan tidak berwarna
                      <b-form-radio-group disabled v-model="datars.nilai[37]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Angka kuman tidak melebihi nilai ambang batas
                      <b-form-radio-group disabled v-model="datars.nilai[38]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Kadar bahan kimia tidak melebihi nilai ambang batas
                      <b-form-radio-group disabled v-model="datars.nilai[39]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Pembuangan air limbah
                  <ol type="a">
                    <li>
                      Air limbah mengalir dengan lancar
                      <b-form-radio-group disabled v-model="datars.nilai[40]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Terdapat grease trap
                      <b-form-radio-group disabled v-model="datars.nilai[41]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Saluran kedap air
                      <b-form-radio-group disabled v-model="datars.nilai[42]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Saluran tertutup
                      <b-form-radio-group disabled v-model="datars.nilai[43]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Toilet
                  <ol type="a">
                    <li>
                      Bersih
                      <b-form-radio-group disabled v-model="datars.nilai[44]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Letaknya tidak berhubungan langsung dengan dapur atau ruang makan
                      <b-form-radio-group disabled v-model="datars.nilai[45]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia air bersih yang cukup
                      <b-form-radio-group disabled v-model="datars.nilai[46]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia sabun dan alat pengering
                      <b-form-radio-group disabled v-model="datars.nilai[47]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Toilet pria dan wanita terpisah
                      <b-form-radio-group disabled v-model="datars.nilai[48]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Tempat sampah
                  <ol type="a">
                    <li>
                      Sampah diangkut tiap 24 jam
                      <b-form-radio-group disabled v-model="datars.nilai[49]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Di setiap rumah penghasil sampah tersedia tempat sampah
                      <b-form-radio-group disabled v-model="datars.nilai[50]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Dibuat dari bahan kedap air dan mempunyai tutup
                      <b-form-radio-group disabled v-model="datars.nilai[51]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Kapasitas tempat sampah terangkat oleh seorang petugas
                      <b-form-radio-group disabled v-model="datars.nilai[52]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Tempat cuci tangan
                  <ol type="a">
                    <li>
                      Tersedia air cuci tangan yang mencukupi
                      <b-form-radio-group disabled v-model="datars.nilai[53]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia sabun/detergent dan alat pengering/lap
                      <b-form-radio-group disabled v-model="datars.nilai[54]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Jumlahnya cukup untuk pengunjung dan karyawan
                      <b-form-radio-group disabled v-model="datars.nilai[55]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Tempat mencuci peralatan
                  <ol type="a">
                    <li>
                      Tersedia air dingin yang cukup memadai
                      <b-form-radio-group disabled v-model="datars.nilai[56]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia air panas yang cukup memadai
                      <b-form-radio-group disabled v-model="datars.nilai[57]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Terbuat dari bahan yang kuat aman dan halus
                      <b-form-radio-group disabled v-model="datars.nilai[58]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Terdiri dari tiga bilik/bak pencuci
                      <b-form-radio-group disabled v-model="datars.nilai[59]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Tempat pencuci bahan makanan
                  <ol type="a">
                    <li>
                      Tersedia air pencuci yang cukup
                      <b-form-radio-group disabled v-model="datars.nilai[60]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Terbuat dari bahan yang kuat, aman dan halus
                      <b-form-radio-group disabled v-model="datars.nilai[61]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Air pencuci yang dipakai mengandung larutan cuci hama
                      <b-form-radio-group disabled v-model="datars.nilai[62]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Locker karyawan
                  <ol type="a">
                    <li>
                      Tersedia locker karyawan dari bahan yang kuat, mudah dibersihkan dan mempunyai tutup rapat
                      <b-form-radio-group disabled v-model="datars.nilai[63]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Jumlahnya cukup
                      <b-form-radio-group disabled v-model="datars.nilai[64]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Letaknya locker dalam ruang tersendiri
                      <b-form-radio-group disabled v-model="datars.nilai[65]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Locker untuk karyawan pria terpisah dengan wanita
                      <b-form-radio-group disabled v-model="datars.nilai[66]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Peralatan pencegahan masuk serangga dan tikus
                  <ol type="a">
                    <li>
                      Setiap lubang ventilasi dipasang kawat kassa serangga
                      <b-form-radio-group disabled v-model="datars.nilai[67]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Setiap lubang ventilasi dipasangi terali tius
                      <b-form-radio-group disabled v-model="datars.nilai[68]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Persilangan pipa dan dinding tertutup rapat
                      <b-form-radio-group disabled v-model="datars.nilai[69]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tempat tandon air mempunyai tutup bebas jentik nyamuk
                      <b-form-radio-group disabled v-model="datars.nilai[70]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Dapur, Ruang makan dan gudang bahan makanan</h5>
              <ol>
                <li>
                  Dapur
                  <ol type="a">
                    <li>
                      Bersih
                      <b-form-radio-group disabled v-model="datars.nilai[71]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada fasilitas penyimpanan makanan (kulkas,freezer)
                      <b-form-radio-group disabled v-model="datars.nilai[72]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia fasilitas penyimpanan makanan panas (thermos panas, kompor panas, heater)
                      <b-form-radio-group disabled v-model="datars.nilai[73]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ukuran dapur cukup memadai
                      <b-form-radio-group disabled v-model="datars.nilai[74]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ada cangkup dan cerobong asap
                      <b-form-radio-group disabled v-model="datars.nilai[75]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Terpasang tulisan pesan - pesan hygiene bagi penjamah/karyawan
                      <b-form-radio-group disabled v-model="datars.nilai[76]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Ruang makan
                  <ol type="a">
                    <li>
                      Perlengkapan ruang makan selalu bersih
                      <b-form-radio-group disabled v-model="datars.nilai[77]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ukuran ruang makan minimal 0.85&sup2; per kursi tamu
                      <b-form-radio-group disabled v-model="datars.nilai[78]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Pintu masuk buka tutup otomatis
                      <b-form-radio-group disabled v-model="datars.nilai[79]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia fasilitas cuci tangan yang memenuhi estetika
                      <b-form-radio-group disabled v-model="datars.nilai[80]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tempat peragaan makanan jadi tertutup
                      <b-form-radio-group disabled v-model="datars.nilai[81]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Gudang bahan makanan
                  <ol type="a">
                    <li>
                      Tidak terdapat bahan lain selain bahan makanan
                      <b-form-radio-group disabled v-model="datars.nilai[82]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia rak - rak penempatan bahan makanan sesuai dengan ketentuan
                      <b-form-radio-group disabled v-model="datars.nilai[83]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Kapasitas gudang cukup memadai
                      <b-form-radio-group disabled v-model="datars.nilai[84]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Rapat serangga dan tikus
                      <b-form-radio-group disabled v-model="datars.nilai[85]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Bahan Makanan dan Makanan Jadi</h5>
              <ol>
                <li>
                  Bahan makanan
                  <ol type="a">
                    <li>
                      Bersih
                      <b-form-radio-group disabled v-model="datars.nilai[86]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Angka kuman dan bahan kimia bahan makanan memenuhi persyaratan yang ditentukan
                      <b-form-radio-group disabled v-model="datars.nilai[87]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Bahan makanan berasal dari sumber resmi
                      <b-form-radio-group disabled v-model="datars.nilai[88]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Bahan makanan kemasan terdaftar pada Depkes RI
                      <b-form-radio-group disabled v-model="datars.nilai[89]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Makanan jadi
                  <ol type="a">
                    <li>
                      Kondisi fisik makanan jadi dalam keadaan baik
                      <b-form-radio-group disabled v-model="datars.nilai[90]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Angka kuman dan bahan kimia makanan jadi memenuhi persyaratan yang ditentukan
                      <b-form-radio-group disabled v-model="datars.nilai[91]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Makanan jadi kemasan tidak ada tanda - tanda kerusakan dan terdaftar pada Depkes RI
                      <b-form-radio-group disabled v-model="datars.nilai[92]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Pengolahan Makanan</h5>
              <ol>
                <li>
                  Proses Pengolahan
                  <ol type="a">
                    <li>
                      Tenaga pengolah memakai pakaian kerja dengan benar dan cara kerja yang bersih
                      <b-form-radio-group disabled v-model="datars.nilai[93]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Pengambilan makanan jadi menggunakan alat khusus
                      <b-form-radio-group disabled v-model="datars.nilai[94]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Menggunakan peralatan dengan benar
                      <b-form-radio-group disabled v-model="datars.nilai[95]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Tempat penyimpanan bahan makanan dan makanan jadi</h5>
              <ol>
                <li>
                  Penyimpanan bahan makanan
                  <ol type="a">
                    <li>
                      Suhu dan kelembapan penyimpanan sesuai dengan persyaratan jenis makanan
                      <b-form-radio-group disabled v-model="datars.nilai[96]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Ketebalan penyimpanan sesuai dengan persyaratan jenis makanan
                      <b-form-radio-group disabled v-model="datars.nilai[97]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Penempatannya terpisah dengan makanan jadi
                      <b-form-radio-group disabled v-model="datars.nilai[98]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tempatnya bersih dan terpelihara
                      <b-form-radio-group disabled v-model="datars.nilai[99]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Disimpan dalam aturan sejenis dan disusun dalam rak - rak
                      <b-form-radio-group disabled v-model="datars.nilai[100]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Penyimpanan bahan makanan jadi
                  <ol type="a">
                    <li>
                      Suhu dan waktu penyimpanan sesuai dengan persyaratan jenis makanan jadi
                      <b-form-radio-group disabled v-model="datars.nilai[101]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Cara penyimpanan tertutup
                      <b-form-radio-group disabled v-model="datars.nilai[102]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Penyajian Makanan</h5>
              <ol>
                <li>
                  Cara penyajian
                  <ol type="a">
                    <li>
                      Suhu penyajian makanan hangat tidak kurang dari 60 derajat celsius
                      <b-form-radio-group disabled v-model="datars.nilai[103]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Pewadahan dan penjamah makanan jadi menggunakan alat yang bersih
                      <b-form-radio-group disabled v-model="datars.nilai[104]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Cara membawa dan menyajikan makanan dengan tertutup
                      <b-form-radio-group disabled v-model="datars.nilai[105]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Penyajian makanan harus pada tempat yang bersih
                      <b-form-radio-group disabled v-model="datars.nilai[106]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Peralatan</h5>
              <ol>
                <li>
                  Ketentuan peralatan
                  <ol type="a">
                    <li>
                      Suhu penyajian makanan hangat tidak kurang dari 60 derajat celsius
                      <b-form-radio-group disabled v-model="datars.nilai[107]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Peralatan dalam keadaan baik dan utuh
                      <b-form-radio-group disabled v-model="datars.nilai[108]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Peralatan makan dan minum tidak boleh mengandung angka kuman yang melebih ambang batas yang ditentukan
                      <b-form-radio-group disabled v-model="datars.nilai[109]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Permukaan alat yang kontak langsung dengan makanan tidak ada sudut mati dan halus
                      <b-form-radio-group disabled v-model="datars.nilai[110]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Peralatan yang kontak langsung dengan makanan tidak mengandung zat beracun
                      <b-form-radio-group disabled v-model="datars.nilai[111]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Tenaga Kerja</h5>
              <ol>
                <li>
                  Pengetahuan/sertifikat hygiene sanitasi makanan
                  <ol type="a">
                    <li>
                      Pemilik, pengusaha pernah mengikuti kursus/tamu kerja
                      <b-form-radio-group disabled v-model="datars.nilai[112]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Supervisor pernah mengikuti kursus
                      <b-form-radio-group disabled v-model="datars.nilai[113]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Semua penjamah makanan pernah mengikuti kursus
                      <b-form-radio-group disabled v-model="datars.nilai[114]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Salah seorang penjamah pernah mengikuti kursus
                      <b-form-radio-group disabled v-model="datars.nilai[115]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Pakaian Kerja
                  <ol type="a">
                    <li>
                      Bersih
                      <b-form-radio-group disabled v-model="datars.nilai[116]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tersedia pakaian kerja seragam 2 stel atau lebih
                      <b-form-radio-group disabled v-model="datars.nilai[117]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Penggunaan khusus waktu kerja saja
                      <b-form-radio-group disabled v-model="datars.nilai[118]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Lengkap dan rapi
                      <b-form-radio-group disabled v-model="datars.nilai[119]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Tidak tersedia pakaian kerja seragam
                      <b-form-radio-group disabled v-model="datars.nilai[120]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Pemeriksaan Kesehatan
                  <ol type="a">
                    <li>
                      Karyawan/penjamah makanan berperilaku bersih dan berpakaian rapi
                      <b-form-radio-group disabled v-model="datars.nilai[121]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Pernah divaksinasi chotypha/thypoid
                      <b-form-radio-group disabled v-model="datars.nilai[122]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Check up penyakit khusus
                      <b-form-radio-group disabled v-model="datars.nilai[123]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Bila sakit tidak bekerja dan berobat ke dokter
                      <b-form-radio-group disabled v-model="datars.nilai[124]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Memiliki buku kesehatan karyawan
                      <b-form-radio-group disabled v-model="datars.nilai[125]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
                <li>
                  Personal hygiene
                  <ol type="a">
                    <li>
                      Setiap karyawan/penjamah makanan berperilaku bersih dan berpakaian rapi
                      <b-form-radio-group disabled v-model="datars.nilai[126]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Setiap mau kerja cuci tangan
                      <b-form-radio-group disabled v-model="datars.nilai[127]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Menutup mulut dengan sapu tangan apabila mengambil makanan
                      <b-form-radio-group disabled v-model="datars.nilai[128]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                    <li>
                      Menggunakan alat yang sesuai dan bersih bila mengambil makanan
                      <b-form-radio-group disabled v-model="datars.nilai[129]" stacked>
                        <b-form-radio value="true">YA</b-form-radio>
                        <b-form-radio value="false">TIDAK</b-form-radio>
                      </b-form-radio-group>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/restoran')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>

<script>
import HeaderData from "./HeaderData";

export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("kuliner/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (data.data.data.pajak != null)
            this.datars.pajak = data.data.data.pajak.split(", ");
          if (data.data.data.nilai != null) {
            this.datars.nilai = JSON.parse(data.data.data.nilai);
            this.processNilai(this.datars.nilai);
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    processNilai(nilai) {
      nilai.map(function(value, key) {
        nilai[key] = parseInt(nilai[key]);
        if (nilai[key] > 0) return (nilai[key] = true);
        else return (nilai[key] = false);
      });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id
    };
  }
};
</script>