<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Klinik" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-3" label="Nama Pimpinan" label-for="input-3">
            <b-form-input disabled id="input-3" v-model="datars.nama_pimpinan" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input id="input-12" v-model.trim="datars.pajak[1]" disabled></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!--  
             <ol type="A">
                <li>
                    <h5>BANGUNAN LUAR</h5>
                    <ol>
                        <li>
                            Pagar
                            <b-form-checkbox-group v-model="klinik.bangunanluar1">
                                <ol type="a">

                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Adanya pagar lingkungan yang membatasi masyarakat dengan bangunan klinik
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Pagar kuat dan bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Tidak ada bagian pagar yang rusak
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Adanya pintu masuk/keluar
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Halaman (taman, jalan, dan tempat parkir)
                            <b-form-checkbox-group v-model="klinik.bangunanluar2">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Adanya taman
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Adanya tempat parkir
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Halaman, taman, tempat parkir tampak bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Taman dipelihara dan tampak rapi
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="e">
                                            Tersedia tempat sampah
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Teras
                            <b-form-checkbox-group v-model="klinik.bangunanluar3">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Teras lantai tidak retak
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Kedap air
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Mudah dibersihkan
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Dinding luar bangunan
                            <b-form-checkbox-group v-model="klinik.bangunanluar4">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Tidak retak
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Permukaan rata
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Berwarna terang (putih/PMem)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Bersih dari noda/coretan
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Atap dan langit - langit
                            <b-form-checkbox-group v-model="klinik.bangunanluar5">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Atap tidak bocor
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Permukaan rata
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Mudah dibersihkan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Tidak retak
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="e">
                                            Cat tidak mengelupas
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Saluran buangan air hujan
                            <b-form-checkbox-group v-model="klinik.bangunanluar6">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Kondisi sarana baik
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Tidak tergenang air
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Disalurkan melalui saluran tertutup
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>SARANA FASILITAS SANITASI</h5>
                    <ol>
                        <li>
                            Penyediaan Air
                            <b-form-checkbox-group v-model="klinik.saranasanitasi1">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Tersedia air bersih dalam jumlah yang cukup
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Memenuhi syarat kualitas air bersih
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Distribusi air menggunakan perpipaan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Tersedia bak cuci tangan pada unit pelayanan pemeriksaan KIA-KB, ruang gigi, laboratorium
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Jamban / Kamar mandi
                            <b-form-checkbox-group v-model="klinik.saranasanitasi2">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Tersedianya kamar mandi dan WC untuk karyawan (1:10)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Kamar mandi dan kakus karyawan pria dan wanita terpisah
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Tersedia kamar mandi dan kakus pengunjung
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Bersih, tidak bau
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="e">
                                            Saluran pembuangan air limbah di buang ke septic tank
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="f">
                                            Rasio kamar mandi dan kakus dengan tempat tidur (1:5)-(khusus klinik perawatan)
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            SPAL
                            <b-form-checkbox-group v-model="klinik.saranasanitasi3">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Adanya saluran SPAL
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Berfungsi
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Air kotor dari kamar mandi dan ruangan - ruangan pelayanan dialirkan ke SPAL
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Saluran air limbah tertutup
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="e">
                                            Kedap air
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Sampah
                            <b-form-checkbox-group v-model="klinik.saranasanitasi4">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Adanya tempat sampah di ruang pelayanan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Tempat sampah kedap air
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Adanya pemisah sampah infeksius dan non infeksius
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Pengosongan sampah setiap hari (1x24 jam)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="e">
                                            Penanganan sampah infeksius menggunakan panas tinggi / MOU dengan pihak ketiga
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                        <li>
                            Wastafel
                            <b-form-checkbox-group v-model="klinik.saranasanitasi5">
                                <ol type="a">
                                    <li>
                                        <b-form-checkbox disabled  value="a">
                                            Tersedia wastafel
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="b">
                                            Berfungsi dengan baik
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="c">
                                            Tersedia pada pelayanan KIA-KB, Lab, Poli gigi, ruang perawatan
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="d">
                                            Tersedia zat anti septik
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled  value="e">
                                            Ada lap pengering
                                        </b-form-checkbox>
                                    </li>
                                </ol>
                            </b-form-checkbox-group>
                        </li>
                    </ol>
                        
                </li>
            </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/klinik')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("klinik/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      klinik: {
        namatempat: "",
        alamat: "",
        namapimpinan: "",
        nomortelepon: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",
        bangunanluar1: [],
        bangunanluar2: [],
        bangunanluar3: [],
        bangunanluar4: [],
        bangunanluar5: [],
        bangunanluar6: [],
        saranasanitasi1: [],
        saranasanitasi2: [],
        saranasanitasi3: [],
        saranasanitasi4: [],
        saranasanitasi5: []
      }
    };
  }
};
</script>