<template>
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_pkl" required placeholder></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="Nama Tempat" label-for="input-2">
            <b-form-input disabled id="input-2" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-5" label="Umur" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              type="number"
              v-model="datars.umur"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-6" label="Jenis Kelamin" label-for="radio-6">
            <b-form-radio-group v-model="datars.jenis_kelamin" id="radio-6">
              <b-form-radio disabled value="Laki - laki">Laki - laki</b-form-radio>
              <b-form-radio disabled value="Perempuan">Perempuan</b-form-radio>
            </b-form-radio-group>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Kasus" label-for="input-3">
            <b-form-input disabled id="input-3" v-model="datars.kasus" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-11" label="Pelayanan Kesling" label-for="radio-11">
            <b-form-radio-group v-model="datars.pelayanankesling" id="radio-11">
              <b-form-radio disabled value="Dalam Gedung">Dalam Gedung</b-form-radio>
              <b-form-radio disabled value="Luar Gedung">Luar Gedung</b-form-radio>
            </b-form-radio-group>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nama Tempat" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>
        </b-form>

        <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/pelayanan-kesehatan')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("tempatibadah/show/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,
      datars: {
        nama: "",
        umur: "",
        jeniskelamin: "",
        alamat: "",
        kasus: "",
        pelayanandatars: "",
        namatempat: ""
      }
    };
  }
};
</script>