<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Tempat Ibadah" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Nama Pengurus" label-for="input-3">
            <b-form-input disabled id="input-3" v-model="datars.nama_pengurus" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input disabled id="input-2" v-model="datars.alamat" required></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-4" label="Jumlah Jamaah /orang" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.jumlah_jamaah"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-5" label="Jam Operasional" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              v-model="datars.jam_operasional"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-6" label="Nomor Telepon atau HP" label-for="input-6">
            <b-form-input disabled id="input-6" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>
          <ol v-else>
            <h5>Lingkungan</h5>
            <li>
              <b-form-group id="input-group-7" label="Lokasi" label-for="radio-7">
                <ol type="a">
                  <li>
                    <b-form-group
                      id="input-group-7"
                      label="Tidak terletak di daerah banjir"
                      label-for="radio-7"
                      v-model="datars.nilai[0]"
                    >
                      <b-form-radio-group v-model="datars.nilai[0]" id="radio-7" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-8"
                      label="Sesuai dengan perencanaan tata kota"
                      label-for="radio-8"
                    >
                      <b-form-radio-group v-model="datars.nilai[1]" id="radio-8" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>
            </li>

            <li>
              <b-form-group
                id="input-group-9"
                label="Lingkungan termasuk halaman"
                label-for="radio-9"
              >
                <ol type="a">
                  <li>
                    <b-form-group id="input-group-9" label="Bersih dan indah" label-for="radio-9">
                      <b-form-radio-group v-model="datars.nilai[2]" id="radio-9" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-10"
                      label="Sistem drainase berfungsi baik"
                      label-for="radio-10"
                    >
                      <b-form-radio-group v-model="datars.nilai[3]" id="radio-10" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>
            </li>
            <h5>Bangunan</h5>
            <li>
              <b-form-group id="input-group-11" label="Lantai" label-for="radio-11">
                <ol type="a">
                  <li>
                    <b-form-group
                      id="input-group-11"
                      label="Mudah dibersihkan"
                      label-for="radio-11"
                    >
                      <b-form-radio-group v-model="datars.nilai[4]" id="radio-11" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-12"
                      label="Tidak retak, tidak licin, permukaan rata"
                      label-for="radio-12"
                    >
                      <b-form-radio-group v-model="datars.nilai[5]" id="radio-12" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group id="input-group-13" label="Kedap air" label-for="radio-13">
                      <b-form-radio-group v-model="datars.nilai[6]" id="radio-13" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-15" label="Dinding" label-for="radio-15">
                <ol type="a">
                  <li>
                    <b-form-group id="input-group-15" label="Bersih" label-for="radio-15">
                      <b-form-radio-group v-model="datars.nilai[7]" id="radio-15" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group id="input-group-16" label="Kedap Air" label-for="radio-16">
                      <b-form-radio-group v-model="datars.nilai[8]" id="radio-16" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group id="input-group-17" label="Berwarna Terang" label-for="radio-17">
                      <b-form-radio-group v-model="datars.nilai[9]" id="radio-17" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>

              <b-form-group id="input-group-18" label="Atap dan Talang" label-for="radio-18">
                <ol type="a">
                  <li>
                    <b-form-group id="input-group-18" label="Tidak Bocor" label-for="radio-18">
                      <b-form-radio-group v-model="datars.nilai[10]" id="radio-18" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-19"
                      label="Tidak Terjadi genangan air"
                      label-for="radio-19"
                    >
                      <b-form-radio-group v-model="datars.nilai[11]" id="radio-19" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>

              <b-form-group id="input-group-20" label="Tangga" label-for="radio-20">
                <ol type="a">
                  <li>
                    <b-form-group
                      id="input-group-20"
                      label="Lebar anak tangga minimal 30cm"
                      label-for="radio-20"
                    >
                      <b-form-radio-group v-model="datars.nilai[12]" id="radio-20" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-21"
                      label="Tinggi anak tangga maksimal 20cm"
                      label-for="radio-21"
                    >
                      <b-form-radio-group v-model="datars.nilai[13]" id="radio-21" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-22"
                      label="Ada pegangan tangan"
                      label-for="radio-22"
                    >
                      <b-form-radio-group v-model="datars.nilai[14]" id="radio-22" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-23"
                      label="Lebar tangga > sama 150cm"
                      label-for="radio-23"
                    >
                      <b-form-radio-group v-model="datars.nilai[15]" id="radio-23" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>

              <b-form-group id="input-group-24" label="Langit - langit" label-for="radio-24">
                <ol type="a">
                  <li>
                    <b-form-group
                      id="input-group-24"
                      label="Tinggi dari lantai minimal 2,75cm"
                      label-for="radio-24"
                    >
                      <b-form-radio-group v-model="datars.nilai[16]" id="radio-24" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>

                  <li>
                    <b-form-group id="input-group-25" label="Kuat" label-for="radio-25">
                      <b-form-radio-group v-model="datars.nilai[17]" id="radio-25" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group id="input-group-26" label="Berwarna Terang" label-for="radio-26">
                      <b-form-radio-group v-model="datars.nilai[18]" id="radio-26" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>

              <b-form-group id="input-group-27" label="Pagar" label-for="radio-27">
                <ol type="a">
                  <li>
                    <b-form-group id="input-group-27" label="Kuat" label-for="radio-27">
                      <b-form-radio-group v-model="datars.nilai[19]" id="radio-27" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                  <li>
                    <b-form-group
                      id="input-group-28"
                      label="Terlihat batas yang jelas"
                      label-for="radio-28"
                    >
                      <b-form-radio-group v-model="datars.nilai[20]" id="radio-28" stacked>
                        <b-form-radio disabled value="true">Ya</b-form-radio>
                        <b-form-radio disabled value="false">Tidak</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </li>
                </ol>
              </b-form-group>
            </li>
          </ol>
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/tempat-ibadah')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("tempatibadah/" + id)
        .then(data => {
          this.datars = data.data.data;

          if (data.data.data.nilai != null)
            this.datars.nilai = data.data.data.nilai.split(",");
          this.processNilai(this.datars.nilai);
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    processNilai(nilai) {
      if (nilai != null)
        nilai.map(function(value, key) {
          nilai[key] = parseInt(nilai[key]);
          if (nilai[key] > 0) return (nilai[key] = true);
          else return (nilai[key] = false);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      dialog: true,
      userId: this.$route.params.id,
      datars: {},
      tempatibadah: {
        namatempat: "",
        namapengurus: "",
        alamat: "",
        jumlahjamaah: "",
        jamoperasional: "",
        nomortelepon: "",
        banjir: "",
        sesuaiperencanaan: "",
        bersih: "",
        drainase: "",
        ltidakretak: "",
        lmudahdibersihkan: "",
        lkedapair: "",
        dbersih: "",
        dkedapair: "",
        dterang: "",
        atidakbocor: "",
        atidakgenangan: "",
        tlebartangga: "",
        ttinggitangga: "",
        tpegangan: "",
        tlebartangga2: "",
        ltinggilantai: "",
        lkuat: "",
        lterang: "",
        pkuat: "",
        pterlihat: ""
      }
    };
  }
};
</script>