<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Jasa Boga" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Nama Pengusaha" label-for="input-3">
            <b-form-input
              disabled
              id="input-3"
              v-model="datars.nama_pengusaha"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group disabled v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input disabled id="input-12" v-model.trim="datars.pajak[1]"></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group disabled v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!--  
      <ol type="A">
          <li>
              <h5>MAKANAN</h5>
              <ol>
                  <li>
                      Sumber dan keutuhan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.makanan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Sumber makanan merupakan tempat yang telah diawasi atau terdaftar. Keutuhannya baik,layak, tidak rusak, busuk, atau jelas merupakan makanan manusia 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  
                  <li>
                      Wadah atau kemasan asli, berlabel
                      <b-form-checkbox-group disabled v-model="jasaboga.makanan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Wadah orisinil, kemasan asli, mempunyai label dan telah terdaftar
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PERLINDUNGAN MAKANAN</h5>
              <ol>
                  
                  <li>
                      Suhu, penyimpanan, peracikan persiapan dan penyajian serta pengangkutan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Suhu penyimpanan sesuai dengan persyaratan untuk setiap tahap dan jenis makanan, seperti daging -5&deg;C, ikan 0&deg;C, sayuran 10&deg;C, buah dan minuman 10 - 15&deg;C
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Pengaturan suhu ruangan produksi
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tersedia AC, kipas angin atau exhauster serta jendela yang dapat berfungsi dengan baik
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tersedia thermometer yang berfungsi dengan baik
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan3">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tersedia thermometer yang dapat memantau suhu ruang atau alat penyimpanan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Suhu pelunakan makanan beku (thawing)
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan4">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Pencairan makanan beku secara perlahan pada suhu 10&deg;C sampai kekenyalan makanan jadi/matang menjadi normal kembali (thawing)
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Perlindungan makanan matang
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan5">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Makanan ditutup agar terhindar dari debu, kotoran serangga atau hewan lain. Makanan sisa tidak disimpan tetapi dipisah dan tidak untuk disajikan kembali 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Perlakuan terhadap makanan selama tahap penyimpanan, persiapan, penyajian, dan pengangkutan
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan6">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Makanan harus diperlakukan secara hati - hati pada saat mengolah, membawa, menyimpan, menyajikan dan mengangkut makanan, seperti memindah, membagi, mewadahi makanan dan lain - lain
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Kontak langsung anggota tubuh dengan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan7">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Menangani makanan jadi/matang dengan menggunakan alat pengaman seperti sarung tangan / plastik yang bersih atau lainnya. Makanan mentah yang akan dimasak/dipanaskan secara terbatas dapat dipegang dengan tangan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Penyimpanan alat pengambil makanan (Sendok, Penjepit, dll)
                      <b-form-checkbox-group disabled v-model="jasaboga.perlindunganmakanan8">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Sendok es cream, sendok, pisau pemotong disimpan dengan baik dan harus terlindung kebersihannya
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>KARYAWAN</h5>
              <ol>
                  
                  <li>
                      Kesehatan karyawan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Karyawan tidak boleh menderita penyakit menular seperti penyakit kulit, bisul, koreng. Infeksi saluran pernafasan atas atau luka terbuka harus segera ditutup dengan plester tahan air 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Kebersihan dan perilaku
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Cuci tangan pakai sabun sesering mungkin, perilaku yang sehat seperti tidak memegang rambut, mengorek hidung, telinga, gigi / mulut atau bagian tubuh lainnya. Kuku dipotong pendek, bersih, dan apabila bersin atau batuk harus ditutup dengan tissue
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Pakaian bersih, kuku dan rambut dipotong pendek dan bersih
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan3">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Pakaian sebaiknya seragam, bersih, rapi dan rambut dipotong pendek atau ditutup topi
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan yang permukaannya kontak dengan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan4">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Kebersihan peralatan harus dijaga, bentuk alat aman, pemeliharaan dan penyimpanannya bebas dari noda, karat, sisa makanan, utuh tidak rusak / penyok dan aman digunakan, tidak berbahaya atau menyebabkan kecelakaan selama digunakan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan yang permukaannya tidak kontak dengan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan5">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Kebersihan, bentuk, pemeliharaan dan penyimpanan, tidak rusak / penyok dan aman digunakan tidak menimbulkan bahaya / kecelakaan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Fasilitas pencucian piring dan peralatan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan6">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Dibuat dengan konstruksi yang baik, kuat, aman, dan bersih serta dipelihara dan digunakan secara baik
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tersedia alat pengukur desinfektan untuk pencucian
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan7">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tidak menggunakan alat sekali pakai untuk digunakan kembali walaupun telah dicuci kembali
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan yang digunakan sekali pakai
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan8">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Penyediaan, penyimpanan terlindung dari cemaran / debu dan berada dalam keadaan dikemas serta pembagiannya langsung untuk pemakai 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Cara pemakaian alat yang hanya digunakan sekali pakai
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan9">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tidak menggunakan alat sekali pakai untuk digunakan kembali walaupun telah dicuci kembali
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tahapan awal pencucian
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan10">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tersedia bak pencuci awal tersendiri, sebelum dicuci dilakukan proses pemisahan sampah kemudian dilakukan perendaman / pengguyuran serta penyabunan dengan detergent / bahan pembersih lain 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Alat untuk pembilasan pencucian
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan11">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Kondisi air yang digunakan harus bersih secara fisik, dialirkan melalui pipa / kran dan suhu dalam keadaan normal 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Desinfektan / tindakan sanitasi pencucian
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan12">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tersedia bak / tempat desinfeksi tersendiri dan dijaga kebersihannya. Desinfeksi air panas dengan suhu minimal 80&deg;C - 100&deg;C, atau chlor aktif dengan kadar 50 - 100 ppm 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Penirisan dan pengeringan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan13">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tempat penirisan dan lap pengering dijaga kebersihannya, bahan lap tidak menimbulkan noda / sisa benang, tempat penirisan bebas debu / endapan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan makan/masak yang kontak dengan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan14">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Alat harus utuh, bentuk aman dan kebersihan alat harus bebas dari sisa makanan, lemak dan bahan pencuci 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Peralatan makan/masak yang tidak kontak dengan makanan
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan15">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Alat bersih dan bebas dari sisa - sisa bahan pencucian 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Penyimpanan dan perlakuan alat dan masak
                      <b-form-checkbox-group disabled v-model="jasaboga.karyawan16">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Cara penyimpanan terlindung dari pencemaran, ruang penyimpanan tidak mudah berdebu, rak atau tempat penyimpanan bersih dan teratur Ruangan bebas dari lalat, kecoa, tikus, dan hewan lainnya 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>AIR BERSIH</h5>
              <ol>
                  
                  <li>
                      Sumber air dingin dengan air panas
                      <b-form-checkbox-group disabled v-model="jasaboga.airbersih1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Sumber air panas dialirkan melalui saluran / kran, demikian pula air dingin 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>AIR LPAJAKAH</h5>
              <ol>
                  
                  <li>
                      Pembuangan air kotor/limbah
                      <b-form-checkbox-group disabled v-model="jasaboga.airlpajakah1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
            Saluran air limbah kedap air dan tertutup, aliran lancar, tidak menimbulkan rembesan di permukaan tanah / terjadi genangan. Air limbah dibuang ke sarana pembuangan tersendiri atau ke riol / got kota 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PERPIPAAN</h5>
              <ol>
                  
                  <li>
                      Pemasangan dan konstruksi perpipaan
                      <b-form-checkbox-group disabled v-model="jasaboga.perpipaan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Sambungan pipa yang baik tidak bocor, tidak berhubungan dengan saluran pembuangan air limbah atau sumber pengotoran air lainnya
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Tidak terjadi hubungan antara pipa air bersih dan air kotor
                      <b-form-checkbox-group disabled v-model="jasaboga.perpipaan2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Pipa air bersih tidak terjadi kebocoran, tidak berhubungan dengan saluran pembuangan air limbah, air bersih yang mengalir tidak terkontaminasi air kotor
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>FASILITAS CUCI TANGAN DAN TOILET</h5>
              <ol>
                  
                  <li>
                      Konstruksi, jumlah tempat cuci tangan dan pemeliharaannya
                      <b-form-checkbox-group disabled v-model="jasaboga.fasilitasct1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tempat cuci tangan dengan air mengalir berfungsi dengan baik, dilengkapi sabun dan pengering tangan dan disediakan tempat sampah yang bertutup dan dipelihara kebersihannya
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Konstruksi, letak toilet dan pemeliharaannya
                      <b-form-checkbox-group disabled v-model="jasaboga.fasilitasct2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Toilet dilengkapi dengan pintu yang dapat menutup sempurna, dinding kedap air, dipelihara kebersihannya, serta tidak pernah ada kotoran di lubang WC. Dilengkapi tempat cuci tangan dengan air mengalir, sabun dan bak sampah bertutup
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PEMBUANGAN SAMPAH</h5>
              <ol>
                  
                  <li>
                      Jumlah konstruksi dan frekuensi pembuangan sampah
                      <b-form-checkbox-group disabled v-model="jasaboga.pembuangansampah1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Tempat cuci tangan dengan air mengalir berfungsi dengan baik , dilengkapi dengan sabun dan pengering tangan dan disediakan tempat sampah yang bertutup dan dipelihara kebersihannya 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Halaman luar, sekitar bangunan dan kebersihan
                      <b-form-checkbox-group disabled v-model="jasaboga.pembuangansampah2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Halaman bersih, tidak ada tumpukan sampah, puing atau barang - barang tidak terpakai lainnya dan tidak ada genangan air 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENGAWASAN SERANGGA TIKUS DAN HEWAN LAINNYA</h5>
              <ol>
                  
                  <li>
                      Terhindar dari serangga, tikus dan hewan lainnya
                      <b-form-checkbox-group disabled v-model="jasaboga.pengawasanserangga1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Semua konstruksi bangunan dirancang anti lalat, kecoa, dan tikus maupun hewan lain seperti burung atau hewan pengerat misalnya menggunakan bahan bangunan yang tidak berlubang, apabila ada celah harus sempit atau tidak membuat dinding rangkap atau ventilasi yang terbuka tanpa kawat kasa maupun membuat lubang pembuangan air limbah 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>LANTAI, DINDING, DAN LANGIT - LANGIT</h5>
              <ol>
                  
                  <li>
                      Konstruksi, pemeliharaan fisik dan kebersihan lantai
                      <b-form-checkbox-group disabled v-model="jasaboga.lantaidinding1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Lantai dibuat dengan konstruksi yang kuat, aman dan kedap air. Pemeliharaan fisik diselenggarakan secara teratur dan terus menerus, seperti segera memperbaiki yang rusak, pecah dan sebagainya. Kebersihan dijaga setiap saat dan selalu kering, tidak lembab dan tidak licin
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Konstruksi, pemeliharaan fisik dan kebersihan langit - langit
                      <b-form-checkbox-group disabled v-model="jasaboga.lantaidinding2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Dinding dan langit - langit dibuat dengan konstruksi aman, kuat, tidak lembab, dan tidak menyimpan debu. Bagian dinding yang kena percikan air dilapisi bahan kedap air / porselen setinggi 2 meter dari lantai. Pemeliharaan fisik diselenggarakan dengan baik dan terus menerus, seperti perbaikan kerusakan, pecah, lepas, dan sebagainya. Kebersihan dijaga setiap saat dan selalu dalam keadaan kering/tidak lembab. Penghawaan alam melalui jendela terbuka atau lubang angin serta cukup memberikan sirkulasi udara dengan baik 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENCAHAYAAN</h5>
              <ol>
                  
                  <li>
                      Pencahayaan cukup baik
                      <b-form-checkbox-group disabled v-model="jasaboga.pencahayaan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Cahaya alam melalui jendela atau genteng kaca yang dapat menerangi ruangan kerja. Cahaya buatan cukup terang tetapi tidak menimbulkan panas yang mengganggu. Pencahayaan buatan dengan lampu dipasang parallel (bukan tunggal) dengan kuat cahaya sedikitnya 40 hingga 60 watt
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>PENGHAWAAN</h5>
              <ol>
                  
                  <li>
                      Penghawaan cukup baik
                      <b-form-checkbox-group disabled v-model="jasaboga.penghawaan1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Suhu ruangan cukup nyaman dan tidak mengganggu dalam bekerja, atau terlalu panas sehingga tubuh selalu berkeringat sehingga memungkinkan dapat mencemari makanan. Dapat menetralisir bau yang mengganggu pernafasan. Penghawaan buatan dengan memasang alat blower, AC, atau exhauster fan atau kipas angin yang berfungsi dengan baik 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>KAMAR PAKAIAN</h5>
              <ol>
                  
                  <li>
                      Penyediaan dan pemeliharaan kamar ganti pakaian
                      <b-form-checkbox-group disabled v-model="jasaboga.kamarpakaian1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Ruang ganti pakaian tersedia dilengkapi kotak penyimpanan (locker). Kebersihan dan kerapihan dipelihara rutin, demikian pula pencahayaan, penghawaan dan suhu ruangan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
              </ol>
          </li>
          <li>
              <h5>LAIN - LAIN KEGIATAN</h5>
              <ol>
                  
                  <li>
                      Penanganan bahan berbahaya
                      <b-form-checkbox-group disabled v-model="jasaboga.lain1">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Ruang ganti pakaian tersedia dilengkapi kotak penyimpanan pakaian (locker). Kebersihan dan kerapihan dipelihara rutin, demikian pula pencahayaan, penghawaan dan suhu ruangan 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Pemeliharaan bangunan
                      <b-form-checkbox-group disabled v-model="jasaboga.lain2">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Bangunan secara keseluruhan terpelihara, bebas dari puing - puing atau bahan yang tidak dipakai. Semua bahan yang tidak dipakai disimpan di gudang. Tersedia petugas khusus bagian tehnik pemeliharaan / perbaikan dan pembersihan dan bukan merupakan penjamah makanan
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Bangunan terpisah sempurna dari tempat tidur dan tempat cuci pakaian
                      <b-form-checkbox-group disabled v-model="jasaboga.lain3">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Dapur tidak dijadikan tempat untuk tidur, tempat cuci pakaian, jemur pakaian, gantung pakaian
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                      
                  </li>
                  <li>
                      Secara umum dalam keadaan bersih, rapih, dan teratur
                      <b-form-checkbox-group disabled v-model="jasaboga.lain4">
                          <ol type="a">
                              <li>
                                  <b-form-checkbox disabled value="a">
                                      Barang - barang yang tidak digunakan baik makanan atau bahan lain disimpan di tempat penyimpanannya masing masing. Khusus bahan makanan disimpan dalam tempat yang bersih, teratur dan ditempatkan tidak langsung menyentuh lantai atau meja kerja 
                                  </b-form-checkbox>
                              </li>
                          </ol>
                      </b-form-checkbox-group>
                  </li>
                  
              </ol>
          </li>
      </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/jasa-boga')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>
<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("jasaboga/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,
      jasaboga: {
        namatempat: "Jasabogas1",
        alamat: "jl piring 1",
        namapengusaha: "Rattatouile",
        nomortelepon: "081239123918",
        jamoperasional: "09.00 - 22.00",
        kepemilikanizin: "y",
        nop: "243523452345",
        statuspbb: "Sudah Bayar",
        makanan1: ["a"],
        makanan2: ["a"],
        perlindunganmakanan1: ["a"],
        perlindunganmakanan2: ["a"],
        perlindunganmakanan3: ["a"],
        perlindunganmakanan4: ["a"],
        perlindunganmakanan5: ["a"],
        perlindunganmakanan6: ["a"],
        perlindunganmakanan7: ["a"],
        perlindunganmakanan8: ["a"],
        karyawan1: ["a"],
        karyawan2: ["a"],
        karyawan3: ["a"],
        karyawan4: ["a"],
        karyawan5: ["a"],
        karyawan6: ["a"],
        karyawan7: ["a"],
        karyawan8: ["a"],
        karyawan9: ["a"],
        karyawan10: ["a"],
        karyawan11: ["a"],
        karyawan12: ["a"],
        karyawan13: ["a"],
        karyawan14: ["a"],
        karyawan15: ["a"],
        karyawan16: ["a"],
        airbersih1: ["a"],
        airlpajakah1: ["a"],
        perpipaan1: ["a"],
        perpipaan2: ["a"],
        fasilitasct1: ["a"],
        fasilitasct2: ["a"],
        pembuangansampah1: ["a"],
        pembuangansampah2: ["a"],
        pengawasanserangga1: ["a"],
        lantaidinding1: ["a"],
        lantaidinding2: ["a"],
        pencahayaan1: ["a"],
        penghawaan1: ["a"],
        kamarpakaian1: ["a"],
        lain1: ["a"],
        lain2: ["a"],
        lain3: ["a"],
        lain4: ["a"]
      }
    };
  }
};
</script>