<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />
        <!-- 
        <b-form>
          <ol>
            <b-check-group v-model="phbs">
              <li>
                <b-form-checkbox disabled value="1">Ada ibu bersalin</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="2"
                >Ibu bersalin melahirkan ditolong oleh dokter/bidan/pendamping bidan</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox disabled value="3">Umur bayi</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="4"
                >Bayi mendapatkan ASI sejak lahir sampai pada saat ini</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox disabled value="5">Jumlah bayi umur 6-12 bulan</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="6"
                >Jumlah bayi yang berumur 6-12 bulan mendapatkan ASI sejak lahir sampai dengan 180 hari (6bulan), tidak diberi makan/minum kecuali air putih matang untuk minum obat pada saat bayi sakit</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox disabled value="7">Ada bayi dan balita</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="8"
                >Bayi dan balita ditimbang setiap bulan dalam 3 bulan terakhir</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="9"
                >Menggunakan air bersih untuk kebutuhan sehari-hari (mandi, mencuci, dan masak) yang memenuhi syarat fisik (tidak berwarna, tidak keruh, tidak berasa dan tidak bau) yang bersal dari sumur gali, sumur pompa, mata air, penampungan air hujan dan air ledeng yang terlindung berjarak minimal 10 meter dari tempat penampungan kotoran atau limbah</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="10"
                >Anggota keluarga selalu mencuci tangan setiap kali tangan kotor, sebelum makan, sebelum merawat anak, dan sesudah buang air besar dengan memakai sabun dan air bersih yang mengalir</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="11"
                >Menggunakan jamban/WC/kakus leher angsa dengan tangki septic atau lubang penampungan kotoran sebagai pembuangan akhir</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="12"
                >Anggota keluarga melaksanakan pemberantasan sarang nyamuk dirumah satu kali seminggu</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="13"
                >Anggota keluarga mengkonsumsi sayur dan buah setiap hari</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="14"
                >Anggota keluarga melakukan aktivitas fisik minimal 30 menit terus-menerus setiap hari (jalan, larim senam dan kegiatan dalam rumah tangga seperti mencuci pakaian/mobil, mengepel lantai, berkebun)</b-form-checkbox>
              </li>
              <li>
                <b-form-checkbox
                  disabled
                  value="15"
                >Setiap anggota keluarga tidak merokok didalam rumah setiap hari</b-form-checkbox>
              </li>
            </b-check-group>
          </ol>
        </b-form>
        -->
        <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>
      </b-card-body>

      <b-card-footer>
        <b-btn @click="$router.push('/modul/phbs')" class="float-right" variant="outline-dark">Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>

<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("tempatibadah/show/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id
    };
  }
};
</script>