<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Sekolah" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-kepsek"
            label="Nama Kepala Sekolah"
            label-for="input-kepsek"
          >
            <b-form-input
              disabled
              id="input-kepsek"
              v-model="datars.nama_kepala_sekolah"
              required
              placeholder
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input disabled id="input-2" v-model="datars.alamat" required></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-3" label="Jumlah Murid Rata-rata/tahun" label-for="input-3">
            <b-form-input
              disabled
              id="input-3"
              type="number"
              v-model="datars.jumlah_murid_pertahun"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Berdiri tahun" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.tahun_berdiri"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-5" label="Luas bangunan" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              type="number"
              v-model="datars.luas_bangunan"
              required
              placeholder
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-6" label="Luas tanah" label-for="input-6">
            <b-form-input
              disabled
              id="input-6"
              type="number"
              v-model="datars.luas_tanah"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-7" label="Jumlah Guru PNS" label-for="input-7">
            <b-form-input
              disabled
              id="input-7"
              type="number"
              v-model="datars.jumlah_guru_pns"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-8" label="Jumlah Guru tetap non PNS" label-for="input-8">
            <b-form-input
              disabled
              id="input-8"
              type="number"
              v-model="datars.jumlah_guru_tetap_non_pns"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-honorer"
            label="Jumlah Guru Honorer"
            label-for="input-honorer"
          >
            <b-form-input
              disabled
              id="input-honorer"
              type="number"
              v-model="datars.jumlah_guru_honorer"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>
          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input
                  disabled
                  id="input-12"
                  v-model.trim="datars.pajak[1]"
                  placeholder="Ex: 12.34.562.123.123-0321.0"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!-- 
      <ol type="A">
        <li>
          <h5>UMUM</h5>

          <ol>
            <li>
              Lokasi
              <b-form-checkbox-group v-model="sekolah.umum1">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Terhindar dari pencemaran</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Tidak terletak di daerah banjir</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Lingkungan termasuk halaman
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.umum2">
                  <li>
                    <b-form-checkbox disabled value="a">Bersih, indah</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled
                      value="b"
                    >Tidak memungkinkan sebagai tempat bersarang/berkembang biak serangga dan tikus</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Berpagar kawat</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="d">Terdapat tempat parkir</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Pemanfaatan halaman
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.umum3">
                  <li>
                    <b-form-checkbox disabled value="a">Dimanfaatkan</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Kurang dimanfaatkan</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Bangunan
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.umum4">
                  <li>
                    <b-form-checkbox disabled value="a">Kokoh/kuat</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled
                      value="b"
                    >Tidak memungkinkan sebagai tempat berkembang biaknya serangga dan tikus</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <h5>KONSTRUKSI</h5>
          <ol>
            <li>
              Lantai
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi1">
                  <li>
                    <b-form-checkbox disabled value="a">Bersih</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Bahan kuat, kedap air, permukaan rata</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Tidak licin</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="d">Tidak menjadi genangan air</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>

            <li>
              Dinding
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi2">
                  <li>
                    <b-form-checkbox disabled value="a">Bersih</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Kedap air</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Mudah dibersihkan</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="d">Berwarna terang</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Atap
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi3">
                  <li>
                    <b-form-checkbox disabled value="a">Tidak bocor</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Tidak terjadi genangan air</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Langit - langit
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi4">
                  <li>
                    <b-form-checkbox disabled value="a">Tinggi dari lantai minimal 2,5m</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Bersih</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Pintu
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi5">
                  <li>
                    <b-form-checkbox disabled value="a">Dapat dibuka, ditutup/ dikunci dengan baik</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Dapat mencegah masuknya binatang pengganggu</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Kondisi Ruang
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi6">
                  <li>
                    <b-form-checkbox disabled value="a">Tidak pengap</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Tidak berbau</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Tidak bising</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Ventilasi
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi7">
                  <li>
                    <b-form-checkbox disabled value="a">5 persen dari luas lantai</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Menggunakan Ven</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Menggunakan AC</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
            <li>
              Pencahayaan
              <ol type="a">
                <b-form-checkbox-group v-model="sekolah.konstruksi8">
                  <li>
                    <b-form-checkbox disabled
                      value="a"
                    >Dapat digunakan untuk membaca pada sudut yang paling gelap</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <h5>FASILITAS SANITASI</h5>
          <ol>
            <li>
              Tempat Wudhu
              <b-form-checkbox-group v-model="sekolah.sanitasi1">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Dengan sistem air yang mengalir</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Tidak dengan sistem air yang mengalir</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Kualitas air
              <b-form-checkbox-group v-model="sekolah.sanitasi2">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Memenuhi syarat fisik</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Memenuhi syarat kimia</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Memenuhi syarat biologi</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Kuantitas air
              <b-form-checkbox-group v-model="sekolah.sanitasi3">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Mencukupi dengan menggunakan perpipaan</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Mencukupi dengan menggunakan sarana selain perpipaan</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Tidak mencukupi</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Pengelolaan sampah
              <b-form-checkbox-group v-model="sekolah.sanitasi4">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Tempat sampah kuat</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Kedap air</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Tertutup</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="d">Mudah diangkut</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="e">Frekuensi pengangkutan min 1kali/hr</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="f">Tidak menjadi perindukan serangga</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Pembuangan air limbah
              <b-form-checkbox-group v-model="sekolah.sanitasi5">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Memiliki saran pengelolaan air limbah</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Air limbah mengalir dengan lancar</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Saluran air limbah dengan sistem tertutup</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="d">Saluran air limbah kedap air</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Kamar mandi dan WC
              <b-form-checkbox-group v-model="sekolah.sanitasi6">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Jarak antara sumber air dengan penampungan 10M</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Bersih dan tidak berbau</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Letak tidak berhubungan langsung dengan ruang kelas</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled
                      value="d"
                    >Perbandingan antara jumlah murid dan guru dengan kamar mandi / WC 1:40</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
            <li>
              Pengelolaan sampah
              <b-form-checkbox-group v-model="sekolah.sanitasi7">
                <ol type="a">
                  <li>
                    <b-form-checkbox disabled value="a">Tempat sampah Kuat</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="b">Kedap air</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="c">Tertutup</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="d">Mudah diangkut</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="e">Frekuensi pengangkutan min setiap hari</b-form-checkbox>
                  </li>
                </ol>
              </b-form-checkbox-group>
            </li>
          </ol>
        </li>
      </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/sekolah')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("sekolah/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null)
            this.datars.pajak = data.data.data.pajak.split(", ");

          if (data.data.data.nilai != null)
            this.datars.nilai = data.data.data.nilai.split(",").trim();
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,
      sekolah: {
        nama: "",
        kepsek: "",
        alamat: "",
        jumlahmuridpertahun: "",
        berdiritahun: "",
        luasbangunan: "",
        gurupns: "",
        gurunonpns: "",
        guruhonorer: "",
        jamoperasional: "",
        notelp: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",
        umum1: [],
        umum2: [],
        umum3: [],
        umum4: [],
        konstruksi1: [],
        konstruksi2: [],
        konstruksi3: [],
        konstruksi4: [],
        konstruksi5: [],
        konstruksi6: [],
        konstruksi7: [],
        konstruksi8: [],
        sanitasi1: [],
        sanitasi2: [],
        sanitasi3: [],
        sanitasi4: [],
        sanitasi5: [],
        sanitasi6: [],
        sanitasi7: []
      }
    };
  }
};
</script>