<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-2" label="Alamat Rumah" label-for="input-2">
            <b-form-input disabled id="input-2" v-model="datars.alamat" required></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>
          <v-divider />

          <div v-for="(keluarga,index) in datars.jumlah_anggota" :key="index">
            <p v-if="datars.jumlah_anggota.length > 1">Keluarga ke - {{index + 1 }}</p>
            <b-form-group id="input-group-1" label="Nama Kepala Keluarga" label-for="input-1">
              <b-form-input disabled id="input-1" v-model="datars.nama_kk[index]" required></b-form-input>
            </b-form-group>
            <b-form-group id="radio-1" label="Status lokasi Kartu Keluarga" label-for="radio-1">
              <b-form-radio-group disabled v-model="datars.ktp_depok[index]" required>
                <b-form-radio disabled value="true">Berlokasi di kota Depok</b-form-radio>
                <b-form-radio disabled value="false">Daerah Lain</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group id="input-group-3" label="Jumlah Anggota Keluarga" label-for="input-3">
              <b-form-input
                disabled
                id="input-3"
                v-model="datars.jumlah_anggota[index]"
                type="number"
                required
              ></b-form-input>
            </b-form-group>

            <b-row>
              <b-col cols="6">
                <b-form-group id="input-group-4" label="Laki - laki" label-for="input-4">
                  <b-form-input
                    disabled
                    id="input-4"
                    v-model="datars.jumlah_laki_laki[index]"
                    type="number"
                    required
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group id="input-group-5" label="Perempuan" label-for="input-5">
                  <b-form-input
                    disabled
                    id="input-5"
                    v-model="datars.jumlah_perempuan[index]"
                    type="number"
                    required
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>

            <b-form-group id="input-group-6" label="Nomor Kartu Keluarga" label-for="input-6">
              <b-form-input
                disabled
                id="input-6"
                v-model="datars.nmr_kk[index]"
                type="number"
                required
              ></b-form-input>
            </b-form-group>
            <v-divider />
          </div>

          <b-form-group id="radio-11" label="Status Rumah" label-for="radio-11">
            <b-form-radio-group disabled v-model="datars.status_rumah" required>
              <b-form-radio disabled value="false">Kontrak</b-form-radio>
              <b-form-radio disabled value="true">Milik Sendiri</b-form-radio>
            </b-form-radio-group>
          </b-form-group>

          <b-row>
            <b-col cols="6">
              <b-form-group id="input-group-8" label="RT" label-for="input-8">
                <b-form-input disabled id="input-8" v-model="datars.rt" required></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group id="input-group-9" label="RW" label-for="input-9">
                <b-form-input disabled id="input-9" v-model="datars.rw" required></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-form-group id="input-group-10" label="Nomor Rumah" label-for="input-10">
            <b-form-input
              disabled
              id="input-10"
              v-model="datars.no_rumah"
              required
              placeholder="Ex: 15 A"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-11"
            label="Kepemilikan Izin Mendirikan Bangunan"
            label-for="radio-11"
          >
            <b-form-radio-group disabled v-model="datars.imb[0]" id="radio-11">
              <b-form-radio disabled value="ada">Ada</b-form-radio>
              <b-form-radio disabled value="tidak ada">Tidak Ada</b-form-radio>
            </b-form-radio-group>
          </b-form-group>

          <div v-if="datars.imb[0] == 'ada'">
            <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
              <b-form-input
                v-if="datars.imb != null"
                disabled
                id="input-12"
                v-model="datars.imb[1]"
                placeholder="Ex: 12.34.562.123.123-0321.0"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-13"
              label="Status Pajak Bumi Bangunan"
              label-for="radio-13"
            >
              <b-form-radio-group
                v-if="datars.imb != null"
                disabled
                v-model="datars.imb[2]"
                id="radio-13"
              >
                <b-form-radio disabled value="sudah bayar">Sudah Bayar</b-form-radio>
                <b-form-radio disabled value="belum bayar">Belum Bayar</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
          </div>

          <h5 class="mt-5">KOMPONEN RUMAH</h5>
          <ol>
            <li>
              <b-form-group id="input-group-14" label="Langit - langit" label-for="radio-14">
                <b-form-radio-group disabled id="radio-14" v-model="datars.nilai[0]" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio
                    disabled
                    value="1"
                  >B. Ada, kotor, sulit dibersihkan dan rawan kecelakaan</b-form-radio>
                  <b-form-radio disabled value="2">C. Ada, bersih dan tidak rawan kecelakaan</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-15" label="Dinding" label-for="radio-15">
                <b-form-radio-group disabled v-model="datars.nilai[1]" id="radio-15" stacked>
                  <b-form-radio
                    disabled
                    value="1"
                  >A. Bukan tembok (terbuat dari anyaman bambu dan ilalang)</b-form-radio>
                  <b-form-radio
                    value="2"
                  >B. Semi permanen/ setengah tembok/ pasangan bata dan batu yang tidak diplester/ papan yang tidak kedap air</b-form-radio>
                  <b-form-radio
                    disabled
                    value="3"
                  >C. Permanen (tembok/ pasangan batu bata yang diplester)</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-16" label="Lantai" label-for="radio-16">
                <b-form-radio-group disabled v-model="datars.nilai[2]" id="radio-16" stacked>
                  <b-form-radio disabled value="0">A. Tanah</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Papan/ Anyaman bambu dekat dengan tanah/ plesteran yang retak dan berdebu</b-form-radio>
                  <b-form-radio
                    disabled
                    value="2"
                  >C. Diplester/ ubin/ keramik/ papan (rumah panggung)</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-17" label="Jendela Kamar Tidur" label-for="radio-17">
                <b-form-radio-group disabled v-model="datars.nilai[3]" id="radio-17" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio disabled value="1">B. Ada</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-18" label-for="radio-18" label="Jendela Ruang Keluarga">
                <b-form-radio-group disabled v-model="datars.nilai[4]" id="radio-18" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio disabled value="1">B. Ada</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-19" label-for="radio-19" label="Ventilasi">
                <b-form-radio-group disabled v-model="datars.nilai[5]" id="radio-19" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Ada, Ada, luas ventilasi permanen &#60; 10 persen dari luas lantai</b-form-radio>
                  <b-form-radio
                    value="2"
                  >C. Ada, luas ventilasi permanen >10 persen dari luas lantai</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-20" label="Lubang Asap Dapur" label-for="radio-20">
                <b-form-radio-group disabled v-model="datars.nilai[6]" id="radio-20" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Ada, lubang ventilasi dapur &#60; 10 persen dari luas lantai dapur</b-form-radio>
                  <b-form-radio
                    value="2"
                  >C. Ada, lubang ventilasi dapur > 10 persen dari luas lantai dapur (asap keluar dengan sempurna) atau ada exhaust fan ada peralatan lain yang sejenis</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-21" label="Pencahayaan" label-for="radio-21">
                <b-form-radio-group disabled v-model="datars.nilai[7]" id="radio-21" stacked>
                  <b-form-radio
                    disabled
                    value="0"
                  >A. Tidak terang, tidak dapat dipergunakan untuk membaca</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Kurang terang, sehingga kurang jelas membaca dengan normal</b-form-radio>
                  <b-form-radio
                    value="2"
                  >C. Terang dan tidak silau sehingga dapat dipergunakan untuk membaca normal</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>
          <h5>SARANA SANITASI</h5>
          <ol>
            <li>
              <b-form-group
                id="input-group-22"
                label="Sarana Air Bersih (SGL/SPT/PP/KU/PAH)"
                label-for="radio-22"
              >
                <b-form-radio-group disabled v-model="datars.nilai[8]" id="radio-22" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Ada, bukan milik sendiri dan tidak memenuhi syarat kesehatan</b-form-radio>
                  <b-form-radio value="2">C. Ada, milik sendiri dan tidak memenuhi syarat kesehatan</b-form-radio>
                  <b-form-radio value="3">D. Ada, bukan milik sendiri dan memenuhi syarat kesehatan</b-form-radio>
                  <b-form-radio
                    disabled
                    value="4"
                  >E. Ada, milik sendiri dan memenuhi syarat kesehatan</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group id="input-group-23" label="Jamban" label-for="radio-23">
                <b-form-radio-group disabled v-model="datars.nilai[9]" id="radio-23" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Ada, bukan leher angsa, tidak ada tutup, disalurkan kesungai/ kolam</b-form-radio>
                  <b-form-radio
                    value="2"
                  >C. Ada, bukan leher angsa, ada ditutup (leher angsa), disalurkan kesungai/ kolam</b-form-radio>
                  <b-form-radio disabled value="3">D. Ada, bukan leher angsa ada tutup septic tank</b-form-radio>
                  <b-form-radio disabled value="4">E. Ada, leher angsa, septic tank</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group
                id="input-group-24"
                label="Sarana Pembuangan Air Limbah (SPAL)"
                label-for="radio-24"
              >
                <b-form-radio-group disabled v-model="datars.nilai[10]" id="radio-24" stacked>
                  <b-form-radio
                    value="0"
                  >A. Tidak ada, sehingga tergenang tidak teratur dihalaman rumah</b-form-radio>
                  <b-form-radio
                    value="1"
                  >B. Ada, diresapkan tetapi mencemari sumber air (jarak dengan sumber air &#60; 10m)</b-form-radio>
                  <b-form-radio disabled value="2">C. Ada, dialirkan keselokan terbuka</b-form-radio>
                  <b-form-radio
                    value="3"
                  >D. Ada, diresapkan tetapi mencemari sumber air (jarak dengan sumber air > 10m)</b-form-radio>
                  <b-form-radio
                    value="4"
                  >E. Ada, dialirkan keselokan tertutup (satuan kota) untuk diolah lebih lanjut</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group
                id="input-group-25"
                label="Sarana Pembuangan (Tempat Sampah)"
                label-for="radio-25"
              >
                <b-form-radio-group disabled v-model="datars.nilai[11]" id="radio-25" stacked>
                  <b-form-radio disabled value="0">A. Tidak Ada</b-form-radio>
                  <b-form-radio
                    disabled
                    value="1"
                  >B. Ada, tetapi tidak kedap air dan tidak ada tutup</b-form-radio>
                  <b-form-radio disabled value="2">C. Ada, kedap air dan tidak bertutup</b-form-radio>
                  <b-form-radio disabled value="3">D. Ada, kedap air dan bertutup</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>
          <h5>PERILAKU PENGHUNI</h5>
          <ol>
            <li>
              <b-form-group
                id="input-group-26"
                label="Membuka jendela kamar tidur"
                label-for="radio-26"
              >
                <b-form-radio-group disabled v-model="datars.nilai[12]" id="radio-26" stacked>
                  <b-form-radio disabled value="0">A. Tidak pernah dibuka</b-form-radio>
                  <b-form-radio disabled value="1">B. Kadang - kadang</b-form-radio>
                  <b-form-radio disabled value="2">C. Setiap hari dibuka</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group
                id="input-group-27"
                label="Membuka jendela ruang keluarga"
                label-for="radio-27"
              >
                <b-form-radio-group disabled v-model="datars.nilai[13]" id="radio-27" stacked>
                  <b-form-radio disabled value="0">A. Tidak pernah dibuka</b-form-radio>
                  <b-form-radio disabled value="1">B. Kadang - kadang</b-form-radio>
                  <b-form-radio disabled value="2">C. Setiap hari dibuka</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group
                id="input-group-28"
                label="Membersihkan rumah dan halaman"
                label-for="radio-28"
              >
                <b-form-radio-group disabled v-model="datars.nilai[14]" id="radio-28" stacked>
                  <b-form-radio disabled value="0">A. Tidak pernah dibuka</b-form-radio>
                  <b-form-radio disabled value="1">B. Kadang - kadang</b-form-radio>
                  <b-form-radio disabled value="2">C. Setiap hari dibuka</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group
                id="input-group-29"
                label="Membuang tinja bayi dan balita kejamban"
                label-for="radio-29"
              >
                <b-form-radio-group disabled v-model="datars.nilai[15]" id="radio-29" stacked>
                  <b-form-radio disabled value="0">A. Dibuang kesungai/ kebun/ kolam/ sembarangan</b-form-radio>
                  <b-form-radio disabled value="1">B. Kadang - kadang kejamban</b-form-radio>
                  <b-form-radio disabled value="2">C. Setiap hari dibuang kejamban</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
            <li>
              <b-form-group
                id="input-group-30"
                label="Membuang sampah pada tempat sampah"
                label-for="radio-30"
              >
                <b-form-radio-group disabled v-model="datars.nilai[15]" id="radio-30" stacked>
                  <b-form-radio disabled value="0">A. Dibuang kesungai/ kebun/ kolam/ sembarangan</b-form-radio>
                  <b-form-radio disabled value="1">B. Kadang - kadang dibuang ketempat sampah</b-form-radio>
                  <b-form-radio disabled value="2">C. Setiap hari dibuang ketempat sampah</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>
          <h5>SAMPAH</h5>
          <ol>
            <li>
              <b-form-group id="input-group-31" label="Sampah yang digunakan?" label-for="radio-31">
                <b-form-radio-group disabled v-model="datars.sampah" id="radio-31" stacked>
                  <b-form-radio disabled value="true">A. Dipilah/ Organik</b-form-radio>
                  <b-form-radio disabled value="false">B. Tidak Dipilah/ Dibuang</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>

          <h5>Pemantauan Jentik Berkala</h5>
          <ol>
            <li>
              <b-form-group id="input-group-32" label="Apakah ada Jentik?" label-for="radio-32">
                <b-form-radio-group disabled v-model="datars.pjb" id="radio-32" stacked>
                  <b-form-radio disabled :value="true">Ya</b-form-radio>
                  <b-form-radio disabled :value="false">Tidak</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>
          <h5>Jamban Sehat</h5>
          <ol>
            <li>
              <b-form-group id="input-group-33" label="Menggunakan jamban?" label-for="radio-33">
                <b-form-radio-group disabled v-model="datars.jamban" id="radio-33" stacked>
                  <b-form-radio disabled value="Septik Tank">Septik Tank</b-form-radio>
                  <b-form-radio disabled value="Koya / Empang">Koya/Empang</b-form-radio>
                  <b-form-radio disabled value="Kali">Kali</b-form-radio>
                  <b-form-radio disabled value="Helikopter">Helikopter</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>
          <h5>SPAL</h5>
          <ol>
            <li>
              <b-form-group id="input-group-34" label="SPAL" label-for="radio-34">
                <b-form-radio-group disabled v-model="datars.spal" id="radio-34" stacked>
                  <b-form-radio disabled value="true">Tertutup</b-form-radio>
                  <b-form-radio disabled value="false">Terbuka</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </li>
          </ol>

          <v-divider />
          <b-alert show variant="danger" v-if="datars.sab == null">Data SAB Tidak Ditemukan !</b-alert>

          <div v-else>
            <b-row>
              <b-col sm="6">
                <b-form-group
                  id="input-group-35"
                  label="Jenis SAB yang dipakai"
                  label-for="input-35"
                >
                  <b-form-input disabled v-model="datars.sab.kategori" id="input-35"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col sm="4">
                <h6>Foto SAB</h6>
                <div class="imgcontainer">
                  <b-img
                    fluid
                    @click="showobjeksab = !showobjeksab"
                    center
                    style="max-height:100px;"
                    class="cursor-pointer"
                    v-b-tooltip.hover
                    title="Klik gambar untuk memperbesar"
                    :src="datars.sab.foto == null ? image_url : '/storage/images/objek/' + datars.sab.foto"
                  />
                </div>
              </b-col>
              <v-dialog v-model="showobjeksab" max-width="350">
                <v-card>
                  <v-img
                    :src="datars.sab.foto == null ? image_url : '/storage/images/objek/' + datars.sab.foto"
                    :lazy-src="datars.sab.foto== null ? image_url : '/storage/images/objek/' + datars.sab.foto"
                  >
                    <template v-slot:placeholder>
                      <v-layout fill-height align-center justify-center ma-0>
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                    </template>
                  </v-img>
                </v-card>
              </v-dialog>
            </b-row>

            <div
              v-if="datars.sab.kategori != 'Mata Air' && datars.sab.kategori != 'Perpipaan/PDAM'"
            >
              <b>FORM SAB</b>

              <h5>{{datars.sab.kategori}}</h5>
              <h5>KETERANGAN UMUM</h5>
              <label for="input-36">Puskesmas</label>
              <b-form-input disabled v-model="datars.sab.nama_puskesmas" id="input-36"></b-form-input>

              <label for="input-37">Kode Sarana</label>
              <b-form-input disabled v-model="datars.sab.kode_sarana" id="input-37"></b-form-input>

              <label for="input-38">Pemilik Sarana</label>
              <b-form-input disabled v-model="datars.sab.pemilik_sarana" id="input-38"></b-form-input>

              <b-form-group
                id="input-group-390"
                label="Apakah telah diambil sampel airnya"
                label-for="radio-390"
              >
                <b-form-radio-group
                  disabled
                  v-model="datars.sab.sudah_diambil"
                  id="radio-390"
                  stacked
                >
                  <b-form-radio disabled value="YA">Ya</b-form-radio>
                  <b-form-radio disabled value="TIDAK">Tidak</b-form-radio>
                </b-form-radio-group>
              </b-form-group>

              <label for="input-40">Nomor kode Sampel air</label>
              <b-form-input disabled v-model="datars.sab.kode_sampel" id="input-40"></b-form-input>

              <label for="input-41">Golongan koloform/ 100ml</label>
              <b-form-input disabled v-model="datars.sab.golongan" id="input-41"></b-form-input>

              <b-form-group id="input-group-42" label="Apakah airnya jernih?" label-for="radio-42">
                <b-form-radio-group disabled v-model="datars.sab.nilai[0]" id="radio-39" stacked>
                  <b-form-radio disabled value="1">Ya</b-form-radio>
                  <b-form-radio disabled value="0">Tidak</b-form-radio>
                </b-form-radio-group>
              </b-form-group>

              <b-form-group
                id="input-group-43"
                label="Apakah airnya berwarna?"
                label-for="radio-43"
              >
                <b-form-radio-group disabled v-model="datars.sab.nilai[1]" id="radio-43" stacked>
                  <b-form-radio disabled value="1">Ya</b-form-radio>
                  <b-form-radio disabled value="0">Tidak</b-form-radio>
                </b-form-radio-group>
              </b-form-group>

              <b-form-group id="input-group-44" label="Apakah airnya berasa?" label-for="radio-44">
                <b-form-radio-group disabled v-model="datars.sab.nilai[2]" id="radio-44" stacked>
                  <b-form-radio disabled value="1">Ya</b-form-radio>
                  <b-form-radio disabled value="0">Tidak</b-form-radio>
                </b-form-radio-group>
              </b-form-group>

              <b-form-group id="input-group-45" label="Apakah airnya berbau?" label-for="radio-45">
                <b-form-radio-group disabled v-model="datars.sab.nilai[3]" id="radio-45" stacked>
                  <b-form-radio disabled value="1">Ya</b-form-radio>
                  <b-form-radio disabled value="0">Tidak</b-form-radio>
                </b-form-radio-group>
              </b-form-group>

              <h5>DIAGNOSA KHUSUS</h5>
              <ol>
                <li>
                  Apakah ada jamban pada radius 10m disekitar mu sumur pompa tangan ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[4]" id="radio-46" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah ada sumber pencemaran lain pada radius 10m sekitar pompa tangan. (misalnya kotoran hewan, sampah, genangan air, dll) ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[5]" id="radio-47" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah ada saluran pembuangan air pompa tangan/ tidak ada (jarak 2m dari lantai) ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[6]" id="radio-48" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah lantai semen sekeliling sumur/pompa tangan mempunyai radius kurang dari 1m ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[7]" id="radio-49" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah ada genangan di atas lantai semen di sekeliling pompa tangan ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[8]" id="radio-50" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah ada keretakan pada lantai sekitar sumur ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[9]" id="radio-51" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah ada keretakan pada lantai sekitar sumur ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[10]" id="radio-52" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Apakah sewaktu - waktu dipergunakan sebuah ember juga, yang diletakkan pada tempat yang dapat mencemarinya ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[11]" id="radio-53" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li v-if="batas_sab =='C' || batas_sab == 'B'">
                  Apakah dudukan pompa tangan yang berbatasan dengan lantainya kurang rapat/lepas (yang memungkinkan air merembes masuk kedalam saluran pompa tangan)
                  <b-form-radio-group disabled v-model="datars.sab.nilai[12]" id="radio-54" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li v-if="batas_sab =='C' || batas_sab == 'B'">
                  Apakah dinding sumur tidak cukup rapat disemen sepanjang kedalaman 3m dibawah permukaan ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[13]" id="radio-55" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li v-if="batas_sab =='C'">
                  Apakah penutup sumur tidak bersih/tidak ada ?
                  <b-form-radio-group disabled v-model="datars.sab.nilai[14]" id="radio-56" stacked>
                    <b-form-radio disabled value="1">Ya</b-form-radio>
                    <b-form-radio disabled value="0">Tidak</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </div>
          </div>
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/rumah-sehat')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
  <!--  -->
</template>
<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      axios
        .get("rumahsehat/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (data.data.data.nilai != null)
            this.datars.nilai = JSON.parse(data.data.data.nilai);
          if (data.data.data.sab != null) {
            this.datars.sab.nilai = JSON.parse(data.data.data.sab.nilai);
          }
          this.processNilai(this.datars.nilai);
          if (data.data.data.imb != null) this.setImb(this.datars.imb);
          this.datars.nama_kk = this.datars.nama_kk.split(",");
          this.datars.jumlah_anggota = this.datars.jumlah_anggota
            .toLowerCase()
            .split(",");
          this.datars.jumlah_laki_laki = this.datars.jumlah_laki_laki
            .toLowerCase()
            .split(",");
          this.datars.jumlah_perempuan = this.datars.jumlah_perempuan
            .toLowerCase()
            .split(",");
          this.datars.nmr_kk = this.datars.nmr_kk.split(",");
          this.datars.ktp_depok = this.datars.ktp_depok.split(",");
          if (data.data.data.sab != null) {
            this.batas_sab = data.data.data.sab.kategori;
            this.getSabName(this.datars.sab.kategori);
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    setImb(imb) {
      imb = imb.toLowerCase().split(", ");
      console.log(imb);
      return (this.datars.imb = imb);
    },
    processNilai(nilai) {
      nilai.map(function(value, key) {
        parseInt(nilai[key]);
        if (key <= 7) {
          nilai[key] = nilai[key] / 31;
        } else if (key <= 11) {
          nilai[key] = nilai[key] / 25;
        } else {
          nilai[key] = nilai[key] / 44;
        }
        // console.log("ini value nya nilai proses = " + nilai[key]);
      });
    },
    getSabName(sab) {
      if (sab == "A")
        return (this.datars.sab.kategori =
          "Pompa Tangan Dangkal/Dalam/Listrik");
      else if (sab == "B") return (this.datars.sab.kategori = "Sumur Gali");
      else if (sab == "C")
        return (this.datars.sab.kategori = "Sumur Gali Plus");
      else if (sab == "D") return (this.datars.sab.kategori = "Perpipaan/PDAM");
      else return (this.datars.sab.kategori = "Mata Air");
    },
    deleteRumahSehat(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .delete("rumahsehat/custom/destroy-from-website/" + id)
              .then(() => {
                swal.fire("Berhasil!", "Data Rumah Sehat dihapus.", "success");
                Fire.$emit("AfterDeleteRumahSehat");
              })
              .catch(() => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      nilaiobjek: [],
      list: [],
      datars: {},
      dialog: true,
      showobjek: false,
      showobjeksab: false,
      image_url: "/images/default/rumahkosong-01.png",
      batas_sab: ""
    };
  }
};
</script>