<template>
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Depot" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_depot" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-3" label="Nama Pemilik" label-for="input-3">
            <b-form-input disabled id="input-3" v-model="datars.nama_pemilik" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            disabled
            id="input-group-10"
            label="Nomor Telepon atau HP"
            label-for="input-10"
          >
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group
                disabled
                id="input-group-12"
                label="Nomor Objek Pajak"
                label-for="input-12"
              >
                <b-form-input
                  id="input-12"
                  disabled
                  v-model.trim="datars.pajak[1]"
                  placeholder="Ex: 12.34.562.123.123-0321.0"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group disabled v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!--  
          <ol type="A">
            <li>
              <h5>Sumber Air</h5>
              <ol>
                <li>
                  Bahan baku
                  <b-form-radio-group v-model="dam.sumberair1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Air Minum
                  <b-form-radio-group v-model="dam.sumberair2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Pengangkutan air baku memiliki izin pengangkutan air
                  <b-form-radio-group v-model="dam.sumberair3" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Kendaraan tangki air terbuat dari bahan yang tidak dapat melpaskan zat - zat beracun kedalam air
                  <b-form-radio-group v-model="dam.sumberair4" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Ada bukti tertulis atau sertifikat air baku berasal dari sumber air tertentu
                  <b-form-radio-group v-model="dam.sumberair5" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Pengangkutan air baku paling lama 12 jam sampai ke depot air minum
                  <b-form-radio-group v-model="dam.sumberair6" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Pengawasan Proses Pengolahan</h5>
              <ol>
                <li>
                  Tandon air bahan baku terlindung dari sinar matahari
                  <b-form-radio-group v-model="dam.pengawasanproses1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Bahan tandon air terbuat dari bahan yang tidak dapat melepaskan zat - zat beracun kedalam air
                  <b-form-radio-group v-model="dam.pengawasanproses2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Tabung Filter</h5>
              <ol>
                <li>
                  Tabung filter terbuat dari bahan food grade dan mudah pemeliharaannya serta tahan tekanan tingi
                  <b-form-radio-group v-model="dam.tabungfilter1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Dimungkinkan dilakukan sistem back washing
                  <b-form-radio-group v-model="dam.tabungfilter2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Mikro Filter</h5>
              <ol>
                <li>
                  Bahan mikro filter terbuat dari bahan food grade
                  <b-form-radio-group v-model="dam.mikrofilter1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Terdapat lebih dari satu mikro filter dengan ukuran berjenjang
                  <b-form-radio-group v-model="dam.mikrofilter2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Mikro filter masih sesuai masa pakai
                  <b-form-radio-group v-model="dam.mikrofilter3" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Peralatan pompa dan pipa penyaluran air</h5>
              <ol>
                <li>
                  Terdapat pompa stainless yang berkekuatan tinggi
                  <b-form-radio-group v-model="dam.penyaluranair1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Terdapat petunjuk tekanan air
                  <b-form-radio-group v-model="dam.penyaluranair2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Pipa penyalur menggunakan bahan food grade
                  <b-form-radio-group v-model="dam.penyaluranair3" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Peralatan Sterilisasi/Desinfeksi</h5>
              <ol>
                <li>
                  Terdapat peralatan sterilisasi, berupa Ultra Violet atau Ozonasi dan atau peralatan desinfeksi lainnya, yang berfungsi dan digunakan secara benar
                  <b-form-radio-group v-model="dam.sterilisasi1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Peralatan sterilisasi/desinfeksi masih dalam masa efektif membunuh kuman
                  <b-form-radio-group v-model="dam.sterilisasi2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Pencucian Botol (Galon)</h5>
              <ol>
                <li>
                  Ada fasilitas pencucian botol (galon)
                  <b-form-radio-group v-model="dam.cucigalon1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Ada fasilitas pembilasan botol (galon)
                  <b-form-radio-group v-model="dam.cucigalon2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Pengisian Botol (galon)</h5>
              <ol>
                <li>
                  Ada fasilitas pengisian botol (galon) dalam ruangan tertutup
                  <b-form-radio-group v-model="dam.isigalon1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Tersedia tutup botol baru yang bersih
                  <b-form-radio-group v-model="dam.isigalon2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Tidak ada stock botol (galon) yang telah diisi lebih dari 1x24 jam di depot air minum
                  <b-form-radio-group v-model="dam.isigalon3" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Operator</h5>
              <ol>
                <li>
                  Berperilaku hidup bersih dan sehat
                  <b-form-radio-group v-model="dam.operator1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Operator/Penanggung jawab/Pemilik memiliki surat keterangan telah mengikuti kursus hygiene sanitasi depot air minum
                  <b-form-radio-group v-model="dam.operator2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Pengawasan Tikus, Lalat, dan Kecoa</h5>
              <ol>
                <li>
                  Terhindar dari tikus, lalat, dan kecoa
                  <b-form-radio-group v-model="dam.pengawasantikus" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Lantai, Dinding, dan Langit - langit</h5>
              <ol>
                <li>
                  Konstruksi lantai, dinding, dan langit - langit kokoh dan kuat
                  <b-form-radio-group v-model="dam.konstruksi" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Pencahayaan</h5>
              <ol>
                <li>
                  Pencahayaan cukup baik
                  <b-form-radio-group v-model="dam.pencahayaan" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Lain - lain Kegiatan</h5>
              <ol>
                <li>
                  Ada akses terhadap fasilitas sanitasi
                  <b-form-radio-group v-model="dam.kegiatan1" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Secara umum terlihat bersih, rapih, dan teratur
                  <b-form-radio-group v-model="dam.kegiatan2" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
                <li>
                  Ada contoh produk air minum sebagai sampel
                  <b-form-radio-group v-model="dam.kegiatan3" stacked>
                    <b-form-radio disabled value="a">Tidak Menyimpang</b-form-radio>
                    <b-form-radio disabled value="b">Menyimpang</b-form-radio>
                  </b-form-radio-group>
                </li>
              </ol>
            </li>
          </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/depot-air-minum')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>

<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("dam/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          if (data.data.data.nilai != null) {
            this.datars.nilai = data.data.data.nilai.split(",").trim();
            this.processNilai(this.datars.nilai);
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    processNilai(nilai) {
      nilai.map(function(value, key) {
        nilai[key] = parseInt(nilai[key]);
        if (nilai[key] > 0) return (nilai[key] = true);
        else return false;
      });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,
      dam: {
        namatempat: "Water Fire",
        alamat: "jl h.mujair",
        namapemilik: "H. Lele",
        nomortelepon: "021213914123",
        jamoperasional: "07.00 - 21.00",
        kepemilikanizin: "y",
        nop: "123125134234",
        statuspbb: "Sudah Bayar",
        sumberair1: "a",
        sumberair2: "a",
        sumberair3: "a",
        sumberair4: "a",
        sumberair5: "a",
        sumberair6: "a",
        pengawasanproses1: "a",
        pengawasanproses2: "a",
        tabungfilter1: "a",
        tabungfilter2: "a",
        mikrofilter1: "a",
        mikrofilter2: "a",
        mikrofilter3: "a",
        penyaluranair1: "a",
        penyaluranair2: "a",
        penyaluranair3: "a",
        sterilisasi1: "a",
        sterilisasi2: "a",
        cucigalon1: "a",
        cucigalon2: "a",
        isigalon1: "a",
        isigalon2: "a",
        isigalon3: "a",
        operator1: "a",
        operator2: "a",
        pengawasantikus: "a",
        konstruksi: "a",
        pencahayaan: "a",
        kegiatan1: "a",
        kegiatan2: "a",
        kegiatan3: "a"
      }
    };
  }
};
</script>