<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Pesantren" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-kepsek" label="Nama Pengelola" label-for="input-kepsek">
            <b-form-input
              disabled
              id="input-kepsek"
              v-model="datars.nama_pengelola"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Jumlah santri" label-for="input-3">
            <b-form-input
              disabled
              id="input-3"
              type="number"
              v-model="datars.jumlah_santri"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-row>
            <b-col sm="6">
              <b-form-group id="input-group-31" label="Jumlah Laki Laki" label-for="input-31">
                <b-form-input
                  disabled
                  id="input-31"
                  type="number"
                  v-model="datars.jumlah_laki_laki"
                  required
                  placeholder
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="6">
              <b-form-group id="input-group-32" label="Jumlah Perempuan" label-for="input-32">
                <b-form-input
                  disabled
                  id="input-32"
                  type="number"
                  v-model="datars.jumlah_perempuan"
                  required
                  placeholder
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              type="number"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>
          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>

          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input
                  id="input-12"
                  disabled
                  v-model.trim="datars.pajak[1]"
                  placeholder="Ex: 12.34.562.123.123-0321.0"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!--           
      <ol type="A">
          <li>
            <h5>UMUM</h5>
            <ol>
                <b-form-checkbox-group v-model="pesantren.umum1">
                    <li> Keadaan lingkungan sanitasi
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">selalu dalam keadaan bersih dan tersedia sarana sanitasi yang memadai</b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.umum2">
                    <li> Keadaan lingkungan terhadap vektor
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">Tidak memungkinkan sebagai tempat bersarang dan berkembang biaknya serangga binatang pengerat dan binatang pengganggu lainnya</b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.umum3">
                    <li> Keadaan Bangunan
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">Kuat utuh terpelihara mudah dibersihkan dan dapat mencegah penularan penyakit dan kecelakaan</b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>

            </ol>
          </li>
          <li>
              <h5>KONSTRUKSI</h5>
              <ol>
                  
                <b-form-checkbox-group v-model="pesantren.konstruksi1">
                    <li> Lantai
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Terbuat dari bahan yang kuat, kedap air, permukaan rata, tidak licin dan mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                            
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Lantai yang selalu kontak dengan air mempunyai kemiringan yang cukup (2 hingga 3 persen) kearah saluran pembuangan air limbah
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.konstruksi2">
                    <li> Dinding
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Permukaan harus rata berwarna terang dan mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                            
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Permukaan dinding yang selalu terkena percikan air terbuat dari bahan yang kuat dan kedap air
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.konstruksi3">
                    <li> Lubang Penghawaan
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Pergantian udara didalam kamar/ruang dengan baik, luas lubang penghawaan antara 5 hingga 15 persen dari luas lantai dan ketinggian minimal 2,10 m dari lantai
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Bila tidak ada lubang hawa dilengkapi dengan menghawaan mekanis
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.konstruksi4">
                    <li> Atap
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Kuat, tidak bocor, dan tidak menjadi perindukan serangga dan tikus
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.konstruksi5">
                    <li> Langit - langit
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Kuat, berwarna terang dan mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Ruang dapur harus menggunakan pintu yang dapat membuka yang menutup sendiri atau harus dilengkapi dengan pegangan yang mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.konstruksi6">
                    <li> Pintu
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Kuat, dapat mencegah masuknya serangga tikus dan binatang pengganggu lainnya
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Ruang dapur harus menggunakan pintu yang dapat membuka dan menutup sendiri atau harus dilengkapi dengan pegangan yang mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.konstruksi7">
                    <li> Jaringan Instalasi
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Pemasangan jaringan instalasi air minum, air limbah, gas listrik, sistem sarana komunikasi,dll harus rapih aman dan terlindungi
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
              </ol>
          </li>
          <li>
              <h5>RUANG TIDUR</h5>
              <ol>
                <b-form-checkbox-group v-model="pesantren.ruangtidur1">
                    <li> Kebersihan ruang
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Bersih dan mudah dibersihkan, tersedia tempat sampah sesuai dengan jenis sampahnya, serta tersedia fasilitas sanitasi sesuai kebutuhan
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.ruangtidur2">
                    <li> Ruang tidur
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Perbandingan jumlah tempat tidur dengan luas lantai min 3 m persegi pertempat tidur ( 1,5m x 2m )
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.ruangtidur3">
                    <li> Pencahayaan
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Didalam lingkungan ponpres baik didalam maupun diluar ruangan harus mendapatkan pencahayaan memadai
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.ruangtidur4">
                    <li> Udara
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Mutu udara harus memenuhi kesyaratan : tidak berbau, tidak berdebu
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
              </ol>
          </li>
          <li>
              <h5>PERSYARATAN KESEHATAN FASILITAS SANITASI</h5>
              <ol>
                  <b-form-checkbox-group v-model="pesantren.fasilitassanitasi1">
                    <li> Penyediaan air minum
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Kualitas : tersedia air bersih yang memenuhi syarat kesehatan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Kuantitas : tersedia air bersih min 60l/tt/hari
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Kontinuitas : air minum dan air bersih tersedia pada setiap tempat kegiatan yang membutuhkan secara berkesinambungan
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.fasilitassanitasi2">
                    <li> Toilet dan kamar mandi
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">Toilet selalu keadaan bersih</b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Lantai terbuat dari bahan yang kuat, kedap air, tidak licin, berwarna terang dan mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Ada pembuangan air limbah dari toilet dan kamar mandi dilengkapi dengan penahan bau ( water seal )
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Letak toilet dan kamar mandi tidak berhubungan langsung dengan tempat pengelolaan makanan ( dapur, ruang makan )
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="e">
                                    Lubang penghawaan harus berhubungan langsung dengan udara luar
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="f">
                                    Toilet dan kamar mandi karyawan harus terpisah dengan toilet santri
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="g">
                                    Tidak terdapat tempat penampungan atau genangan air yang dapat menjadi tempat perindukan serangga dan binatang pengerat
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="h">
                                    Perbandingan jumlah jamban santri dan kamar mandi adalah 15 santri 1 jamban 1 kamar mandi ( setiap penambahan 25 tempat tidur harus ditambah 1 jamban dan 1 kamar mandi )
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.fasilitassanitasi3">
                    <li> Pengelolaan sampah
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Tersedia tempat sampah yang dilengkapi dengan penutup
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Tempat sampah terbuat dari bahan kuat, tahan karat, permukaan bagian dalam rata/licin
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Tempat sampah di kosongkan 1x24 jam atau apabila 2/3 bagian telah terisi penuh
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Tempat sampah harus di sediakan minimal 1 buah untuk setiap radius 10m dan setiap jarak 20m pada ruang tunggu dan ruang terbuka
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="e">
                                    Tersedia tempat pembuangan sampah sementara yang mudah dikosongkan, tidak terbuat dari beton permanen tempat lokasi yang mudah dijangkau kendaraan pengangkut sampah dan harus dikosongkan sekurang kurangnya 3x24 jam
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="f">
                                    Air limbah yang dibuang kelingkungan harus memenuhi baku mutu air limbah sesuai peraturan perundang undangan yang berlaku
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.fasilitassanitasi4">
                    <li> Pengelolaan air limbah
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">Ponpres harus memiliki sistim pengelolaan air limbah sendiri yang memenuhi syaratan teknis apabila belum ada atau tidak terjangkau oleh sistim pengelolaan air limbah</b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
              </ol>
          </li>
          <li>
              <h5>PERSYARATAN PENGELOLAAN MAKANAN/MINUMAN</h5>
              <ol>
                  <b-form-checkbox-group v-model="pesantren.pengelolaanmakanminum1">
                    <li> Dapur, Ruang Makan, dan Gudang
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Luas dapur min 40 persen dari ruang makan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Penghawaan dilengkapi dengan pengeluaran udara panas maupun bau bauan (exhauser) yang dipasang 2m dari lantai
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Tungku dapur dilengkapi dengan sungkup asap (hood)
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Pertukaran udara diusahakan dengan fentilasi yang dapat menjamin kenyamanan menghilangkan debu dan asap
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.pengelolaanmakanminum2">
                    <li> Bahan Makanan/Minuman
                        <ol type="a"> 
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Bahan makanan yang diolah dalam keadaan baik tidak rusak dan berubah bentuk warna dan rasa
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Bahan terolah ahrus dikemas dan bahan tambahan memenuhi persyaratan kesehatan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Bahan terolah harus dikemas dan bahan tambahan memenuhi persyaratan kesehatan
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.pengelolaanmakanminum3">
                    <li> Peralatan Memasak dan Peralatan Makan/Minum
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Permukaan harus mudah dibersihkan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Tidak terbuat dari bahan yang mengandung timah hitam, tembaga seng, kadmium, arsenikum, dan antimon
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Kebersihan alat persenti meter persegi permukaan dan tidak ditemukan kuman E.coli
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Tempat penyimpanan alat - alat terlindung dan tidak lembab
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
                <b-form-checkbox-group v-model="pesantren.pengelolaanmakanminum4">
                    <li> Makanan jadi
                        <ol type="a">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Makanan jadi tidak rusak busuk atau basi
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Memenuhi persyaratan bakterilogis berdasarkan ketentuan yang belak
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Tidak ditemukan kuman E.coli
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Kandungan logam berat dan residu pestisida tidak melebihi baku mutu yang berlaku
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="e">
                                    Terlindung dari debu, bahan kimia berbahaya, serangga dan hewan
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="f">
                                    Penyimpanan makanan yang tidak busuk pada suhu 4 &deg;C, sedangkan pada makanan yang cepat busuk dalam suhu 5 - (-1)&deg;C
                                </b-form-checkbox>
                            </li>
                        </ol>
                    </li>
                </b-form-checkbox-group>
              </ol>
          </li>
      </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/pesantren')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("pesantren/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (data.data.data.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }

          if (data.data.data.nilai != null)
            this.datars.nilai = JSON.parse(data.data.data.nilai);
          // this.processNilai(this.datars.nilai);

          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    processNilai(nilai) {
      nilai.map(function(value, key) {
        // nilai[key] = parseInt(nilai[key]);
        if (nilai[key] == "0") return (nilai[key] = false);
        else return (nilai[key] = true);
      });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,

      pesantren: {
        nama: "",
        alamat: "",
        namapengelola: "",
        jumlahsantri: "",
        jamoperasional: "",
        notelp: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",
        umum1: "",
        umum2: "",
        umum3: "",
        konstruksi1: "",
        konstruksi2: "",
        konstruksi3: "",
        konstruksi4: "",
        konstruksi5: "",
        konstruksi6: "",
        konstruksi7: "",
        ruangtidur1: "",
        ruangtidur2: "",
        ruangtidur3: "",
        ruangtidur4: "",
        fasilitassanitasi1: "",
        fasilitassanitasi2: "",
        fasilitassanitasi3: "",
        fasilitassanitasi4: "",
        pengelolaanmakanminum1: "",
        pengelolaanmakanminum2: "",
        pengelolaanmakanminum3: "",
        pengelolaanmakanminum4: ""
      }
    };
  }
};
</script>