<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Kolam Renang" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>
          <b-form-group id="input-group-3" label="Nama Pengelola" label-for="input-3">
            <b-form-input
              disabled
              id="input-3"
              v-model="datars.nama_pengelola"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Jumlah Karyawan" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.jumlah_karyawan"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-5" label="No. Izin Usaha" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              type="number"
              v-model="datars.no_izin_usaha"
              maxlength="13"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input
                  disabled
                  id="input-12"
                  v-model.trim="datars.pajak[1]"
                  placeholder="Ex: 12.34.562.123.123-0321.0"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <ol v-else type="I">
            <li>
              <h5>PERSYARATAN KESEHATAN LINGKUNGAN DAN BANGUNAN</h5>
              <ol type="A">
                <li>
                  UMUM
                  <ol>
                    <li>
                      Lokasi
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[0]"
                          >Terhindar dari pencemaran kimia</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[1]"
                          >Terhindar dari pencemaran fisika</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[2]"
                          >Terhindar dari pencemaran bakteri</b-form-checkbox>
                        </li>

                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[3]"
                          >Tidak terletak di daerah banjir</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Lingkungan
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[4]">Bersih</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[5]"
                          >Tidak memungkinkan sebagai tempat bersarang/berkembang biak serangga dan tikus</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[6]"
                          >Dapat mencegah masuk dan berkembang biak binatang pengganggu lain</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[7]">Berpagar kuat</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Bangunan
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[8]">Kokoh/kuat</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[9]"
                          >Tidak memungkinkan sebagai tempat berkembang biaknya serangga dan tikus</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  PENGGUNAAN RUANG
                  <ol>
                    <li>
                      Pembagian Ruang
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[10]"
                          >Dipergunakan sesuai fungsinya</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  KONSTRUKSI
                  <ol>
                    <li>
                      Lantai
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[11]">Bersih</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[12]"
                          >Bahan kuat, kedap air, permukaan rata</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[13]">Tidak licin</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[14]"
                          >Yang selalu kontak dengan air tidak memungkinkan terjadinya genangan air (miring kearah saluran pembuangan)</b-form-checkbox>
                        </li>
                      </ol>
                    </li>

                    <li>
                      Dinding
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[15]">Bersih</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[16]"
                          >Permukaan yang selalu kontak dengan air, kedap air</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[17]"
                          >Permukaan bagian dalam mudah dibersihkan</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[18]">Berwarna terang</b-form-checkbox>
                        </li>
                      </ol>
                    </li>

                    <li>
                      Atap
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[19]">Tidak bocor/kuat</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[20]"
                          >Tidak memungkinkan terjadinya genangan air</b-form-checkbox>
                        </li>
                      </ol>
                    </li>

                    <li>
                      Langit - langit
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[21]"
                          >Tinggi dari lantai minimal 2,5m</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[22]">Bersih</b-form-checkbox>
                        </li>
                      </ol>
                    </li>

                    <li>
                      Pintu
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[23]"
                          >Dapat dibuka, ditutup/dikunci dengan baik</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[24]"
                          >Dapat mencegah masuknya binatang pengganggu</b-form-checkbox>
                        </li>
                      </ol>
                    </li>

                    <li>
                      Pencahayaan
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[25]"
                          >Cukup terang pada setiap ruang</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[26]"
                          >Tidak menimbulkan silau</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>PERSYARATAN KESEHATAN KAMAR/RUANG</h5>
              <ol type="A">
                <li>
                  UMUM
                  <ol>
                    <li>
                      Kondisi ruang
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[27]">Tidak pengab</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[28]"
                          >Bebas kuman Alpha streptococcus haemolitieus kuman pathoheb</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[29]"
                          >Tidak berbau (H2S dan Amoniak)</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[30]"
                          >Kadar gas beracun tidak melebihi ambang batas</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[31]"
                          >Tingkat kebisingan tidak melebihi persyaratan kamar tidur lebih kecil dari 40dBA, kantor lebih kecil dari 75dBA, dapur dan ruang pertunjukan lebih kecil dari 80dBA</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  KHUSUS
                  <ol>
                    <li>
                      Ruang istirahat karyawan
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[32]">Bersih</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[33]"
                          >Tersedia jamban, kamar mandi dan peturasan yang terpisah untuk karyawan pria dan karyawan wanita</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[34]"
                          >Ruang istirahat karyawan pria terpisah dengan ruang istirahat karyawan wanita</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[35]"
                          >Tersedia lemari/locker</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Kamar mandi, jamban, dan peturasan
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[36]">Bersih</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[37]"
                          >Aliran air limbah lancar</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[38]"
                          >Sarana pembuangan air limbah kedap air dan tertutup</b-form-checkbox>
                        </li>
                        <li>
                          Perbandingan jumlah karyawan dengan min kamar mandi, jamban dan peturasan
                          <br />Untuk karyawan pria :
                          <ol type="a">
                            <li>
                              <b-form-checkbox
                                disabled
                                v-model="datars.nilai[39]"
                              >1 hingga 23 karyawan : 2 kamar mandi, 1 jamban, 1 peturasan</b-form-checkbox>
                            </li>
                            <li>
                              <b-form-checkbox
                                disabled
                                v-model="datars.nilai[40]"
                              >24 hingga 50 karyawan: 3 kamar mandi, 2 jamban, 3 peturasan</b-form-checkbox>
                            </li>
                            <li>
                              <b-form-checkbox
                                disabled
                                v-model="datars.nilai[41]"
                              >61 hingga 100 karyawan: 5 kamar mandi, 3 jamban, 5 peturasan</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                        <li>
                          Untuk karyawan wanita :
                          <ol type="a">
                            <li>
                              <b-form-checkbox
                                disabled
                                v-model="datars.nilai[42]"
                              >1 hingga 20 karyawan : 2 kamar mandi, 1 jamban</b-form-checkbox>
                            </li>
                            <li>
                              <b-form-checkbox
                                disabled
                                v-model="datars.nilai[43]"
                              >21 hingga 40 karyawan: 2 kamar mandi, 2 jamban</b-form-checkbox>
                            </li>
                            <li>
                              <b-form-checkbox
                                disabled
                                v-model="datars.nilai[44]"
                              >41 hingga 70 karyawan: 3 kamar mandi, 3 jamban</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Gudang
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[45]">Bersih</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[46]"
                          >Gudang bahan makanan, bahan berbahaya, alat kantor, alat rumah tangga dll, terpisah satu sama lain</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[47]"
                          >Barang yang disimpan ditata rapi</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[48]">Dilengkapi dengan rak</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[49]"
                          >Tinggi rak dari lantai minimal 20cm</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              PERSYARATAN KESEHATAN FASILITAS SANITASI
              <ol>
                <li>
                  Penyediaan air
                  <ol type="a">
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[50]"
                      >Memenuhi syarat kualitas air bersih</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[51]"
                      >Tersedia dengan jumlah yang cukup</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[52]"
                      >>Air tersedia pada setiap tempat kegiatan secara berkesinambungan</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[53]"
                      >Distribusi air menggunakan sistem perpipaan</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[54]"
                      >Terhindar dari cemaran silang</b-form-checkbox>
                    </li>
                  </ol>
                </li>
                <li>
                  Pembuangan air limbah
                  <ol type="a">
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[55]"
                      >Memiliki sarana pengolahan air limbah</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[56]"
                      >Air limbah mengalir dengan lancar</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[57]"
                      >Saluran air limbah sistem tertutup</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[58]"
                      >Saluran air limbah kedap air</b-form-checkbox>
                    </li>
                  </ol>
                </li>
                <li>
                  Pancuran bilas
                  <ol type="a">
                    <li>
                      <b-form-checkbox disabled v-model="datars.nilai[59]">Bersih dan tidak bau</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[60]"
                      >Air limbah mengalir dengan lancar</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[61]"
                      >Lantai kedap air dan tidak licin</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[62]"
                      >>Untuk setiap 40 orang minimal tersedia 1 pancuran bilas</b-form-checkbox>
                    </li>
                  </ol>
                </li>
                <li>
                  Toilet untuk umum
                  <ol type="a">
                    <li>
                      <b-form-checkbox disabled v-model="datars.nilai[63]">Bersih dan tidak bau</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[64]"
                      >Letak tidak berhubungan langsung dengan dapur, kamar tidur, atau ruang tamu</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[65]"
                      >>Lantai kedap air, tidak licin, lantai miring ke arah saluran pembuangan</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox
                        disabled
                        v-model="datars.nilai[66]"
                      >Toilet untuk pria terpisah dengan toilet wanita</b-form-checkbox>
                    </li>
                  </ol>
                </li>
              </ol>
              <ol type="A">
                <li>
                  PENGELOLAAN SAMPAH
                  <ol>
                    <li>
                      Tempat sampah
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[67]"
                          >Terbuat dari bahan yang kuat, ringan, tahan karat, dan kedap air</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[68]"
                          >Permukaan bagian dalam halus dan rata</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[69]"
                          >Mempunyai tutup yang mudah dibuka/ditutup tanpa mengotori tangan</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[70]"
                          >Jumlah dan volume tempat sampah sesuai dengan produksi sampah per hari</b-form-checkbox>
                        </li>

                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[71]"
                          >Mudah diisi dan dikosongkan</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[72]"
                          >Sampah dari tiap ruang diangkut/dikosongkan tiap hari</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Tempat penampungan sampah sementara
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled v-model="datars.nilai[73]">Tidak permanen</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[74]"
                          >Tidak menjadi tempat perindukan serangga dan binatang</b-form-checkbox>
                        </li>

                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[75]"
                          >Mudah dijangkau oleh kendaraan pengangkut sampah</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[76]"
                          >Frekuensi pengangkutan sampah minimal 3x24 jam</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Peralatan pencegahan masuknya serangga dan tikus
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[77]"
                          >Dilengkapi dengan alat yang dapat mencegah masuknya serangga dan tikus</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[78]"
                          >Sarana penyimpanan air tertutup dan bebas jentik nyamuk</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Area kolam renang
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[79]"
                          >Ada pemisah yang jelas antara area kolam renang dengan area lain sehingga orang yang tidak berkepentingan tidak boleh masuk</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[80]"
                          >Ada pemisah yang jelas antara area kolam renang dengan area lain tetapi orang yang tidak berkepentingan masih bisa masuk</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Volume air kolam renang
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[81]"
                          >Kolam renang selalu terisi penuh dengan air</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[82]"
                          >Jumlah perenang maksimum sebanding dengan luas permukaan air kolam renang dibagi 3</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Konstruksi kolam
                      <ol type="a">
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[83]"
                          >Lantai dan dinding kolam kuat, kedap air, permukaan rata</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[85]"
                          >Lantai berwarna putih/terang</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[84]"
                          >Sudut - sudut dinding dan dasar kolam melengkung (conus)</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[85]"
                          >Tidak terjadi hubungan langsung antara air bersih dan air kotor</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[86]"
                          >Lubang pengurasan dilengkapi dengan jeruji besi</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[87]"
                          >Pada kedalaman kolam dibawah 1,5m kemiringan tidak lebih dari 30 persen</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[88]"
                          >Tangga dan pegangan kolam berbentuk bulat, tahan karat dan tidak menonjol</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[89]"
                          >Lantai ditepi kolam renang kedap air, lebar minimal 1m dan tidak licin</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[90]"
                          >Ada tanda - tanda yang jelas tentang kedalaman kolam</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            disabled
                            v-model="datars.nilai[91]"
                          >Papan loncat/luncur sesuai dengan persyaratan yang berlaku dan tidak membahayakan perenang</b-form-checkbox>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>KARYAWAN</h5>
              <ol>
                <li>
                  Surat Keterangan sehat dari dokter yang masih berlaku
                  <ol type="a">
                    <b-form-radio-group v-model="datars.nilai[92]">
                      <li>
                        <b-form-radio
                          disabled
                          value="100"
                        >80 hingga 100 persen jumlah karyawan memiliki</b-form-radio>
                      </li>
                      <li>
                        <b-form-radio
                          disabled
                          value="80"
                        >60 hingga 79 persen jumlah karyawan memiliki</b-form-radio>
                      </li>
                      <li>
                        <b-form-radio
                          disabled
                          value="60"
                        >40 hingga 59 persen jumlah karyawan memiliki</b-form-radio>
                      </li>
                      <li>
                        <b-form-radio
                          disabled
                          value="40"
                        >20 hingga 39 persen jumlah karyawan memiliki</b-form-radio>
                      </li>
                      <li>
                        <b-form-radio
                          disabled
                          value="20"
                        >1 hingga 19 persen jumlah karyawan memiliki</b-form-radio>
                      </li>
                      <li>
                        <b-form-radio disabled value="0">0 persen jumlah karyawan memiliki</b-form-radio>
                      </li>
                    </b-form-radio-group>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>KUALITAS AIR KOLAM RENANG</h5>
              <ol type="A">
                <li>
                  Fisika
                  <ol>
                    <li>
                      Bau
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[93]">
                          <b-form-radio disabled value="false">Tidak berbau</b-form-radio>
                          <b-form-radio disabled value="false">Berbau</b-form-radio>
                        </b-form-radio-group>
                      </ol>
                    </li>

                    <li>
                      Benda terapung
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[94]">
                          <li>
                            <b-form-radio disabled value="false">Bebas dari benda terapung</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">Tidak bebas dari benda terapung</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>

                    <li>
                      Kejernihan
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[95]">
                          <li>
                            <b-form-radio disabled value="true">Jernih (diukur dengan piringan seci)</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">Tidak jernih</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  Kimiawi
                  <ol>
                    <li>
                      Aluminium
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[96]">
                          <li>
                            <b-form-radio disabled value="true">Kurang dari 0,2 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">Lebih dari 0,2 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      Kebebasan (CaCO3)
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[97]">
                          <li>
                            <b-form-radio disabled value="true">50 hingga 500 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio
                              disabled
                              value="false"
                            >kurang dari 50 mg/l atau lebih dari 500 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      Oksigen terabsorbsi
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[98]">
                          <li>
                            <b-form-radio disabled value="true">Kurang dari 1,0 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">lebih dari 1,0 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      pH (derajat keasaman)
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[99]">
                          <li>
                            <b-form-radio disabled value="true">6,8 sampai 8,5</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">kurang dari 6,8 atau lebih dari 8,5</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      Sisa Chlor
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[100]">
                          <li>
                            <b-form-radio disabled value="true">0,2 sampai 0,5 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">0,2</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      Tembaga sebagai Cu
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[101]">
                          <li>
                            <b-form-radio disabled value="true">kurang dari /= 1,5 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">lebih dari 1,5 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  Mikrobiologi
                  <ol>
                    <li>
                      Coliform total
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[102]">
                          <li>
                            <b-form-radio disabled value="true">0 dalam 100 ml air</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">lebih dari 0 dalam 100 ml air</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      Jumlah kuman
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[103]">
                          <li>
                            <b-form-radio disabled value="true">kurang dari atau = 200 koloni/ml air</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio disabled value="false">lebih dari 200/koloni ml air</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>AIR PEMANDIAN UMUM</h5>
              <ol type="A">
                <li>
                  Fisika
                  <ol>
                    <li>
                      Bau
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[104]">
                          <li>
                            <b-form-radio value="true" disabled>Tidak berbau</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Berbau</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>

                    <li>
                      Kejernihan
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[105]">
                          <li>
                            <b-form-radio value="true" disabled>Jernih (diukur dengan piringan seci)</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Tidak jernih</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>

                    <li>
                      Minyak
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[106]">
                          <li>
                            <b-form-radio
                              value="true"
                              disabled
                            >Tidak berbau minyak / tidak nampak lapisan minyak/film</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio
                              value="false"
                              disabled
                            >Berbau minyak / tampak lapisan minyak/film</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>

                    <li>
                      Warna
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[107]">
                          <li>
                            <b-form-radio value="true" disabled>Kurang dari /= 100 skala TCU</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Lebih dari 100 skala TCU</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  Kimia
                  <ol>
                    <li>
                      Detergen
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[108]">
                          <li>
                            <b-form-radio value="true" disabled>Kurang dari /= 1,0 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Lebih dari 1,0 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      B O D
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[109]">
                          <li>
                            <b-form-radio value="true" disabled>Kurang dari /= 5,0 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>lebih dari /= 5,0 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      Oksigen terlarut
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[110]">
                          <li>
                            <b-form-radio value="true" disabled>Lebih dari /= 4,0 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Kurang dari 4,0 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                    <li>
                      pH (Derajat keasaman)
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[111]">
                          <li>
                            <b-form-radio value="true" disabled>6,5 sampai 8,5</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Kurang dari 6,5 / lebih dari 8,5</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  Mikrobiologi
                  <ol>
                    <li>
                      Total coliform
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[112]">
                          <li>
                            <b-form-radio value="true" disabled>Kurang dari /= 200 per 100 ml air</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>lebih dari 200 per 100 ml</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  Radio aktivitas
                  <ol>
                    <li>
                      Aktivitas Alpha (Gross alpha activity)
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[113]">
                          <li>
                            <b-form-radio value="true" disabled>Kurang dari /= 0,1 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Lebih dari 0,1 mg/=l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>

                    <li>
                      Aktivitas Beta (Gross beta activity)
                      <ol type="a">
                        <b-form-radio-group v-model="datars.nilai[114]">
                          <li>
                            <b-form-radio value="true" disabled>Kurang dari /= 1,0 mg/l</b-form-radio>
                          </li>
                          <li>
                            <b-form-radio value="false" disabled>Lebih dari 0,1 mg/l</b-form-radio>
                          </li>
                        </b-form-radio-group>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/kolam-renang')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("kolamrenang/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          if (data.data.data.nilai != null) {
            this.datars.nilai = JSON.parse(data.data.data.nilai);
            this.processNilai(this.datars.nilai);
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    processNilai(nilai) {
      nilai.map(function(value, key) {
        nilai[key] = parseInt(nilai[key]);

        // if (nilai[key] > 0) return (nilai[key] = true);
        // else return (nilai[key] = false);
        if (key == 92) {
          return (nilai[key] = nilai[key]);
        } else {
          if (nilai[key] > 0) {
            return (nilai[key] = true);
          } else return (nilai[key] = false);
        }
      });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true
    };
  }
};
</script>