<template>
  <!--  -->
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Hotel" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat" label-for="input-2">
            <b-form-input
              disabled
              id="input-2"
              v-model="datars.alamat"
              required
              placeholder="Ex: Jl.Rajawali 2 no 47, Grogol Limo, Depok"
            ></b-form-input>
          </b-form-group>

          <b-row class="mb-2">
            <b-col sm="6">
              <label for="kecamatan">Kecamatan</label>
              <b-form-input id="kecamatan" disabled v-model="datars.kecamatan" />
            </b-col>
            <b-col sm="6">
              <label for="kelurahan">Kelurahan</label>
              <b-form-input id="Kelurahan" disabled v-model="datars.kelurahan" />
            </b-col>
          </b-row>

          <b-form-group id="input-group-10" label="Nomor Telepon" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Nama Pimpinan" label-for="input-3">
            <b-form-input disabled id="input-3" v-model="datars.nama_pemimpin" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Jumlah Karyawan" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.jumlah_karyawan"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-5" label="No. Izin Usaha" label-for="input-5">
            <b-form-input
              disabled
              id="input-5"
              type="number"
              v-model="datars.no_izin_usaha"
              maxlength="13"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>
          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input disabled id="input-12" v-model.trim="datars.pajak[1]"></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>

          <!--  
            <ol type="I">
                <li>
                <h5>PERSYARATAN KESEHATAN LINGKUNGAN DAN BANGUNAN</h5>
                <ol type="A">
                    <li>
                    UMUM
                    <ol>
                        <li>
                        Lokasi
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.kesehatanlingkungan1">
                            
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Terhindar dari pencemaran kimia
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Terhindar dari pencemaran fisika
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Terhindar dari pencemaran bakteri 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Tidak terletak didaerah banjir
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                        
                        <li>
                        Lingkungan
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.kesehatanlingkungan2">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Bersih
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Tidak memungkinkan sebagai tempat bersarang/berkembang biak serangga dan tikus
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Dapat mencegah masuknya dan berkembang biak binatang pengganggu lain 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Berpagar kuat
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                        
                        <li>
                        Bangunan
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.kesehatanlingkungan3">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Kokoh / kuat 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Tidak memungkinkan sebagai tempat bersarang/berkembang biak serangga dan tikus 
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>

                    </ol>
                    </li>
                <li>
                    <h5>PENGGUNAAN RUANG</h5>
                    <ol>
                        
                        <li>
                        Pembagian Ruang
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.pembagianruang1">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Dipergunakan sesuai fungsinya
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>KONSTRUKSI</h5>
                    <ol>
                        
                        <li>
                        Lantai
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.konstruksi1">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Bersih
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Bersih, Kuat, Kedap air, Permukaan rata
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Tidak licin 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Yang selalu kontak dengan air tidak memungkinkan terjadinya genangan air (miring kearah saluran pembuangan)
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>   
                        <li>
                        Dinding
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.konstruksi2">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Bersih 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Permukaan yang selalu kontak dengan air kedap air
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Permukaan bagian dalam mudah dibersihkan 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Berawarna terang 
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                        <li>
                        Atap
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.konstruksi3">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Tidak bocor / kuat 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Tidak memungkinkan terjadinya genangan air 
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                        <li>
                        Langit - langit
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.konstruksi4">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Tinggi dari lantai minimal 2,5m 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Bersih
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                        <li>
                        Pintu
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.konstruksi5">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Dapat dibuka, ditutup / dikunci dengan baik
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Dapat mencegah masuknya binatang pengganggu
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                        <li>
                        Pencahayaan
                        <ol type="a">
                            <b-form-checkbox-group v-model="hotelmelati.konstruksi6">
                            <li>
                                <b-form-checkbox disabled value="a">
                                    Ruang untuk kegiatan dengan risiko kecelakaan tinggi lebih dari 300 lux
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="b">
                                    Ruang tamu lebih dari 60 lux 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="c">
                                    Ruang tidur 5 lux 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="d">
                                    Lampu baca 100 lux 
                                </b-form-checkbox>
                            </li>
                            <li>
                                <b-form-checkbox disabled value="e">
                                    Ruang rileks lebih dari 30 lux 
                                </b-form-checkbox>
                            </li>
                            </b-form-checkbox-group>
                        </ol>
                        </li>
                    </ol>
                </li>
                </ol>
                </li>
                <li>
                    <h5>PERSYARATAN KESEHATAN KAMAR RUANG</h5>
                    <ol type="A">
                        <li>
                            UMUM
                            <ol>
                                <li>
                                    Kondisi ruang
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar1">

                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Tidak pengap 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                    Bebas kuman alpha streptococcus haemoliticus dan kuman phatogen 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                    Tidak berbau (H&#8322;S dan Amoniak)
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="d">
                                                    Kadar gas beracun tidak melampaui ambang batas
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="e">
                                                    Tingkat kebisingan tidak melebihi persyaratan (Kamar tidur kurang dari 40 dBA, Kantor kurang dari 75 dBA, Dapur kurang dari 80 dBA, ruang pertunjukan kurang dari 90 dBA)
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            KHUSUS
                            <ol>
                                
                                <li>
                                    Kamar tidur
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar2">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Bersih
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                        Luas Minimal (Single bed 4,5 m&sup2; dan Twin bed 8 m&sup2;)
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                        Dinding pintu, jendela, dll yang tembus pandang/cahaya dilengkapi tirai
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                                <li>
                                    Ruang istirahat karyawan
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar3">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Bersih 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                        Tersedia jamban. kamar mandi, dan peturasan yang erpisah untuk karyawan pria dan karyawan wanita 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                        Ruang istirahat karyawan pria terpisah dari ruang karyawan wanita 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="d">
                                                        Tersedia lemari/locker 
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                                <li>
                                    Kamar mandi, Jamban, dan Peturasan
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar4">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Bersih
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                    Aliran air limbah lancar 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                    Sarana pembuangan air limbah kedap air dan tertutup 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="d">
                                                    Perbandingan jumlah karyawan dengan minimal kamar mandi, jamban, dan peturasan 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="e">
                                                    Untuk karyawan pria : (1 s/d 25 karyawan tersedia 2 kamar mandi, 1 peturasan. 26 s/d 50 karyawan tersedia 3 kamar mandi, 2 jamban, 3 peturasan. 51 s/d 100 karyawan tersedia 5 kamar mandi, 3 jamban, 5 peturasan)
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="f">
                                                    Untuk karyawan wanita : (1 s/d 20 karyawan tersedia 2 kamar mandi, 1 jamban. 21 s/d 40 karyawan tersedia 2 kamar mandi, 2 jamban. 41 s/d 70 karyawan tersedia 3 kamar mandi, 3 jamban)
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                                <li>
                                    Kamar lena
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar5">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Bersih
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                    Udara ruang segar 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                    Tersedia lemari tertutup
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                                <li>
                                    Ruang cuci
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar6">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Bersih 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                    Tidak memungkinkan tercampurnya lena bersih dan lena kotor 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                    Lantai tidak kotor
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                                <li>
                                    Gudang
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatankamar7">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Bersih 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                    Gudang bahan makanan, bahan berbahaya, alat kantor, alat rumah tangga, dll terpisah satu sama lain 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                    Barang yang disimpan tertata rapih 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="d">
                                                    Dilengkapi rak
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="e">
                                                    Tinggi dari lantai hingga 20cm
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>PERSYARATAN KESEHATAN FASILITAS SANITASI</h5>
                    <ol type="A">
                        
                        <li>
                            Kualitas air
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi1">

                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            Memenuhi syarat fisik 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                            Memenuhi syarat kimia 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="c">
                                            Memenuhi syarat biologi 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="d">
                                            Memenuhi syarat radio aktifitas 
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        <li>
                            Kuantitas air
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi2">
                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            Tersedia air minimal 120 l/hari/LL
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                                Air tersedia ada setiap hari secara berkesinambungan 
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        <li>
                            Pembuangan air limbah
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi3">

                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            Memiliki sarana pengelolaan air limbah 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                                Air limbah mengalir dengan lancar 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="c">
                                                Saluran air limbah dengan sistim tertutup 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="d">
                                                Saluran air limbah kedap air
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        <li>
                            Toilet untuk umum
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi4">
                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            Bersih dan tidak berbuih 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                                Letaknya tidak berhubungan langsung dengan dapur, kamar tidur, dan ruang tamu 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="c">
                                                Lantai kedap air, tidak licin, lantai miring ke arah saluran pembuangan 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="d">
                                                Toilet untuk pria terpisah dengan toilet wanita 
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        <li>
                            Kamar mandi dan jamban untuk penghuni/tamu yang menginap
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi5">
                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            Bersih dan tidak bau 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                            Letak tidak berhubungan dengan dapur, kamar tidur, dan ruang tamu 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="c">
                                            Perbandingan jumlah kamar mandi dengan jamban dengan tempat tidur
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="d">
                                            Perbandingan jumlah kamar mandi dengan tempat tidur, minimal 1 kamar untuk setiap 1 s/d 10 kamar tidur. Perbandingan jamban dengan tempat tidur minimal : (1 s/d 6 T.T = 1 jamban, 7 s/d 14 T.T = 2 jamban, 15 s/d 24 T.T = 3 jamban, 25 s/d 36 T.T = 4 jamban, 37 s/d 48 T.T = 5 jamban, 49 s/d 60 T.T = 6 jamban)
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="e">
                                            Lantai kedap air, mudah dibersihkan, kemiringan 2 hingga 3 persen kearah saluran pembuangan
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        
                        <li>
                            Pengelolaan sampah
                            <ol>
                                <li>
                                    Tempat sampah
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi6">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Terbuat dari bahan yang kuat, ringan, tahan karat, dan kedap air 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                        Permukaan bagian dalam halus dan rata 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                        Mempunyai tutup yang mudah dibuka / ditutup tanpa mengotori tangan 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="d">
                                                        Jumlah dan volume tempat sampah sesuai dengan produksi sampah perhari dengan produksi sampah perhari 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="e">
                                                        Mudah diisi dan dikosongkan 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="f">
                                                        Sampah dari tiap ruangan diangkut / dikosongkan tiap hari 
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li>
                                <li>
                                    Tempat pengumpulan sampah sementara
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi7">

                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Tidak permanen
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                        Tidak menjadi tempat perindukan serangga dan binatang
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="c">
                                                        Mudah dijangkau oleh kendaraan pengangkut sampah 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="d">
                                                        Frekuensi pengosongan/pengangkutan sampah min. 3x24 jam
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li> 
                                <li>
                                    Peralatan pencegahan masuknya serangga dan tikus
                                    <ol type="a">
                                        <b-form-checkbox-group v-model="hotelmelati.kesehatansanitasi8">
                                            <li>
                                                <b-form-checkbox disabled value="a">
                                                    Dilengkapi dengan alat yang dapat mencegah masuknya serangga dan tikus 
                                                </b-form-checkbox>
                                            </li>
                                            <li>
                                                <b-form-checkbox disabled value="b">
                                                    Sarana penyimpanan harus tertutup dan bebas jentik nyamuk
                                                </b-form-checkbox>
                                            </li>
                                        </b-form-checkbox-group>
                                    </ol>
                                </li> 
                            </ol>
                            
                        </li> 
                    </ol>
                </li>
                <li>
                    <h5>KARYAWAN</h5>
                    <ol type="A">
                        
                        <li>
                            Pakaian kerja
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.karyawan1">

                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            Karyawan dilengkapi dengan pakaian kerja 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                                Dipakai pada saat kerja 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="c">
                                                Bersih 
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="d">
                                                Utuh / tidak sobek 
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                        <li>
                            Surat keterangan sehat dari dokter yang masih berlaku
                            <ol type="a">
                                <b-form-checkbox-group v-model="hotelmelati.karyawan2">
                                    <li>
                                        <b-form-checkbox disabled value="a">
                                            80 hingga 100 persen jumlah karyawan memiliki
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="b">
                                            60 hingga 79 persen jumlah karyawan memiliki
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="c">
                                            40 hingga 59 persen jumlah karyawan memiliki
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="d">
                                            20 hingga 39 persen jumlah karyawan memiliki
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="e">
                                            1 hingga 19 persen jumlah karyawan memiliki
                                        </b-form-checkbox>
                                    </li>
                                    <li>
                                        <b-form-checkbox disabled value="f">
                                            0 persen jumlah karyawan memiliki
                                        </b-form-checkbox>
                                    </li>
                                </b-form-checkbox-group>
                            </ol>
                        </li> 
                    </ol>
                </li>
            </ol>
          -->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/hotel-melati')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("hotelmelati/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (this.datars.pajak != null) {
            this.datars.pajak = data.data.data.pajak.split(", ");
          }
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      userId: this.$route.params.id,
      hotelmelati: {
        namatempat: "",
        alamat: "",
        namapimpinan: "",
        nomortelepon: "",
        karyawan: "",
        noizinusaha: "",
        jamoperasional: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",

        kesehatanlingkungan1: [],
        kesehatanlingkungan2: [],
        kesehatanlingkungan3: [],
        pembagianruang1: [],
        konstruksi1: [],
        konstruksi2: [],
        konstruksi3: [],
        konstruksi4: [],
        konstruksi5: [],
        konstruksi6: [],
        kesehatankamar1: [],
        kesehatankamar2: [],
        kesehatankamar3: [],
        kesehatankamar4: [],
        kesehatankamar5: [],
        kesehatankamar6: [],
        kesehatankamar7: [],
        kesehatansanitasi1: [],
        kesehatansanitasi2: [],
        kesehatansanitasi3: [],
        kesehatansanitasi4: [],
        kesehatansanitasi5: [],
        kesehatansanitasi6: [],
        kesehatansanitasi7: [],
        kesehatansanitasi8: [],
        karyawan1: [],
        karyawan2: []
      }
    };
  }
};
</script>