<template>
  <v-dialog class="card-modal-data" v-model="dialog" persistent width="45vw">
    <b-card class="m-0" no-body>
      <b-loading variant="Circle8" class="mx-auto" v-if="loadData">Memuat Data</b-loading>
      <b-card-body v-else class="scrollable-data">
        <HeaderData
          :skor="datars.total_nilai"
          :foto="datars.foto"
          :status="datars.status"
          :input_nama="datars.nama_petugas"
          :input_waktu="datars.waktu"
          :edit_nama="datars.update_by"
          :edit_waktu="datars.updated_at"
        />

        <b-form>
          <b-form-group id="input-group-1" label="Nama Pasar" label-for="input-1">
            <b-form-input disabled id="input-1" v-model="datars.nama_tempat" required placeholder></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Alamat Pasar" label-for="input-2">
            <b-form-input disabled id="input-2" v-model="datars.alamat" required></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Nama Pengelola Pasar" label-for="input-3">
            <b-form-input
              disabled
              id="input-3"
              v-model="datars.nama_pengelola"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Jumlah Kios/Los" label-for="input-4">
            <b-form-input
              disabled
              id="input-4"
              type="number"
              v-model="datars.jumlah_kios"
              required
              placeholder
            ></b-form-input>
          </b-form-group>
          <b-row>
            <b-col cols="6">
              <b-form-group id="input-group-5" label="Kios kosong" label-for="input-5">
                <b-form-input
                  disabled
                  id="input-4"
                  type="number"
                  v-model="datars.jumlah_kios_kosong"
                  required
                  placeholder
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group id="input-group-6" label="Kios ter isi" label-for="input-6">
                <b-form-input
                  disabled
                  id="input-6"
                  type="number"
                  v-model="datars.jumlah_kios_terisi"
                  required
                  placeholder
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group id="input-group-7" label="Jumlah Pedagang" label-for="input-7">
            <b-form-input
              disabled
              id="input-7"
              type="number"
              v-model="datars.jumlah_pedagang"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-8"
            label="Jumlah Asosiasi/Kelompok Pedagang"
            label-for="input-8"
          >
            <b-form-input
              disabled
              id="input-8"
              type="number"
              v-model="datars.jumlah_asosiasi"
              required
              placeholder
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-9" label="Jam Operasional" label-for="input-9">
            <b-form-input
              disabled
              id="input-9"
              v-model="datars.jam_operasional"
              required
              placeholder="07.00 - 17.00"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-10" label="Nomor Telepon atau HP" label-for="input-10">
            <b-form-input disabled id="input-10" v-model="datars.no_telp" required placeholder></b-form-input>
          </b-form-group>
          <b-alert v-if="datars.pajak == null" show variant="danger">Data pajak belum diisi !</b-alert>
          <div v-else>
            <b-form-group
              id="input-group-11"
              label="Kepemilikan Izin Mendirikan Bangunan"
              label-for="radio-11"
            >
              <b-form-radio-group v-model="datars.pajak[0]" id="radio-11">
                <b-form-radio disabled value="Ada">Ada</b-form-radio>
                <b-form-radio disabled value="Tidak ada">Tidak Ada</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <div v-if="datars.pajak[0].toLowerCase().trim() == 'ada'">
              <b-form-group id="input-group-12" label="Nomor Objek Pajak" label-for="input-12">
                <b-form-input id="input-12" v-model.trim="datars.pajak[1]" disabled></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-13"
                label="Status Pajak Bumi Bangunan"
                label-for="radio-13"
              >
                <b-form-radio-group v-model.trim="datars.pajak[2]" id="radio-13">
                  <b-form-radio disabled value="Sudah bayar">Sudah Bayar</b-form-radio>
                  <b-form-radio disabled value="Belum bayar">Belum Bayar</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>

          <b-alert v-if="datars.nilai == null" show variant="danger">Data belum di inspeksi !</b-alert>
          <!-- <ol v-else> -->
          <!-- <ol type="A">
            <li>
              <h5>LOKASI</h5>
              <b-form-group>
                <b-form-checkbox-group stacked id="checkbox-group-2" v-model="pasar.lokasi">
                  <ol>
                    <li>
                      <b-form-checkbox disabled value="1">Sesuai rencana umum tata ruang</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox disabled value="2">Tidak terletak pada daerah rawan bencana</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox disabled value="3">Tidak terletak pada daerah rawan kecelakaan</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox disabled value="4">Tidak terletak pada daerah bekas pembuangan akhir</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox disabled value="5">Mempunyai batas wilayah jelas</b-form-checkbox>
                    </li>
                  </ol>
                </b-form-checkbox-group>
              </b-form-group>
            </li>
            <li>
              <h5>BANGUNAN PASAR</h5>
              <ol>
                <li>
                  <b-form-group  label="Umum">
                    <ol type="a">
                      <li>
                        <b-form-checkbox-group stacked id="checkbox-group-3" v-model="pasar.bpumum">
                          <b-form-checkbox disabled
                            value="a"
                          >Bangunan dan rancang bangun sesuai dengan peraturan yang berlaku</b-form-checkbox>
                        </b-form-checkbox-group>
                      </li>
                    </ol>
                  </b-form-group>
                </li>
                <li>
                  <b-form-group  label="Penataan ruang dagang">
                    <b-form-checkbox-group stacked id="checkbox-group-4" v-model="pasar.bpruangdagang">
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled value="a">Pembagian area sesuai dengan peruntukannya (zoning)</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled value="b">Zoning dengan identitas lengkap</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled value="c">Lebar lorong antar los minimal 1,5 meter</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled
                            value="d"
                          >Jarak tempat penampungan dan pemotongan unggas dengan bangunan pasar minimal 10 meter atau dibatasi tembok</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox
                            value="e"
                          >Pestisida dan bahan berbahaya beracun terpisah dengan zona makanan dan bahan pangan</b-form-checkbox>
                        </li>
                      </ol>
                    </b-form-checkbox-group>
                  </b-form-group>
                </li>
                <li>
                  <b-form-group  label="Ruang kantor pengelola">
                    <b-form-checkbox-group
                      stacked
                      id="checkbox-group-5"
                      v-model="pasar.bpkantorpengelola"
                    >
                      <ol type="a">
                        <li>
                          <b-form-checkbox disabled value="a">Ventilasi minimal 20 persen dari luas lantai</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled value="b">Pencahayaan minimal 100 lux</b-form-checkbox>
                        </li>
                        <li>
                          <b-form-checkbox disabled value="c">Tersedia toilet dan tempat cuci tangan</b-form-checkbox>
                        </li>
                      </ol>
                    </b-form-checkbox-group>
                  </b-form-group>
                </li>
                <li>
                  <h5>Tempat penjualan bahan pangan dan makanan</h5>
                  <ol type="i">
                    <li>
                      <h5>Tempat penjualan bahan pangan basah</h5>
                      <ol>
                        <li>
                          <b-form-group  label="Meja tempat penjualan (nilai 10)">
                            <ol type="a">
                              <li>
                                <b-form-checkbox disabled value="a" v-model="pasar.meja">Tahan karat</b-form-checkbox>
                              </li>
                              <li>
                                <b-form-checkbox disabled value="b" v-model="pasar.meja">Rata</b-form-checkbox>
                              </li>
                              <li>
                                <b-form-checkbox disabled value="c" v-model="pasar.meja">Kemiringan</b-form-checkbox>
                              </li>
                              <li>
                                <b-form-checkbox disabled value="d" v-model="pasar.meja">Tinggi 60cm</b-form-checkbox>
                              </li>
                            </ol>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label v-model="pasar.karkasdagingdigantung">
                            <b-form-checkbox disabled value="a">Tahan karat</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label>
                            <b-form-checkbox disabled
                              v-model="pasar.alas"
                              value="a"
                            >Alas pemotong (talenan), tidak terbuat dari kayu, tidak beracun, kedap air dan mudah dibersihkan</b-form-checkbox>
                          </b-form-group>
                        </li>

                        <li>
                          <b-form-group  label>
                            <b-form-checkbox disabled
                              v-model="pasar.penyimpanandingin"
                              value="a"
                            >Tempat penyimpanan bahan pangan dengan rantai dingin (cold chain) bersuhu (4-10&#176;C)</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label>
                            <b-form-checkbox tersedia
                              v-model="pasar.tempatpencucianbahanpangan"
                              value="a"
                            >Tersedia tempat pencucian bahan pangan dan peralatan</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Tempat Cuci tangan dilengkapi:">
                            <b-form-checkbox disabled value="a" v-model="pasar.tempatcucitangan">Sabun</b-form-checkbox>
                            <b-form-checkbox disabled value="b" v-model="pasar.tempatcucitangan">Air Mengalir</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Saluran pembuangan limbah:">
                            <b-form-checkbox disabled value="a" v-model="pasar.spl">Tertutup</b-form-checkbox>
                            <b-form-checkbox disabled value="b" v-model="pasar.spl">Kemiringan</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Tempat sampah:">
                            <b-form-checkbox disabled
                              value="a"
                              v-model="pasar.tsampah"
                            >Terpilah (sampah basah dan kering)</b-form-checkbox>
                            <b-form-checkbox disabled value="b" v-model="pasar.tsampah">Kedap air</b-form-checkbox>
                            <b-form-checkbox disabled value="c" v-model="pasar.tsampah">Tertutup</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label>
                            <b-form-checkbox disabled
                              v-model="pasar.bebasbinatang"
                              value="a"
                            >Bebas binatang penular penyakit, vektor dan tempat perindukannya</b-form-checkbox>
                          </b-form-group>
                        </li>
                      </ol>
                    </li>
                    <li>
                      <h5>Tempat penjualan bahan pangan kering</h5>
                      <ol>
                        <li>
                          <b-form-group
                            label="Meja tempat penjualan dengan: permukaan rata, mudah dibersihkan, dengan tinggi minimal 60 cm:"
                          >
                            <b-form-checkbox disabled
                              v-model="pasar.mejatempatpenjualan"
                              value="a"
                            >Permukaan rata</b-form-checkbox>
                            <b-form-checkbox disabled
                              v-model="pasar.mejatempatpenjualan"
                              value="b"
                            >Mudah dibersihkan</b-form-checkbox>
                            <b-form-checkbox disabled
                              v-model="pasar.mejatempatpenjualan"
                              value="c"
                            >Tinggi minimal 60cm</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group>
                            <b-form-checkbox disabled
                              v-model="pasar.mejaterbuat"
                              value="a"
                            >Meja terbuat dari bahan tahan karat dan bukan dari kayu</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Tempat sampah:">
                            <b-form-checkbox disabled
                              v-model="pasar.tempatsampah"
                              value="a"
                            >Terpisah basah dan kering</b-form-checkbox>
                            <b-form-checkbox disabled v-model="pasar.tempatsampah" value="b">Kedap air</b-form-checkbox>
                            <b-form-checkbox disabled v-model="pasar.tempatsampah" value="c">Bertutup</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Tempat cuci tangan dilengkapi:">
                            <b-form-checkbox disabled v-model="pasar.tempatcucitangan" value="a">Dengan sabun</b-form-checkbox>
                            <b-form-checkbox disabled v-model="pasar.tempatcucitangan" value="b">Air mengalir</b-form-checkbox>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group>
                            <b-form-checkbox disabled
                              v-model="pasar.bebasvektorpenularpenyakit"
                              value="a"
                            >Bebas dari vektor penular penyakit dan tempat perindukannya</b-form-checkbox>
                          </b-form-group>
                        </li>
                      </ol>
                    </li>
                    <li>
                      <h5>Tempat penjualan makanan matang/siap saji</h5>
                      <ol>
                        <li>
                          <b-form-group  label="Tempat penyajian makanan:">
                            <b-form-checkbox-group
                              stacked
                              id="checkbox-group-5"
                              v-model="pasar.tpenyajianmakanan"
                            >
                              <ol type="a">
                                <li>
                                  <b-form-checkbox disabled value="a">Tertutup</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="b">Bahan tahan karat</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="c">Permukaan rata</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="d">Mudah dibersihkan</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="e">Tinggi minimal 60 cm</b-form-checkbox>
                                </li>
                              </ol>
                            </b-form-checkbox-group>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Tempat cuci tangan dilengkapi:">
                            <b-form-checkbox-group
                              stacked
                              id="checkbox-group-6"
                              v-model="pasar.tcucitangan"
                            >
                              <b-form-checkbox disabled value="a">Dengan sabun</b-form-checkbox>
                              <b-form-checkbox disabled value="b">Air mengalir</b-form-checkbox>
                            </b-form-checkbox-group>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Tempat cuci peralatan:">
                            <b-form-checkbox-group
                              stacked
                              id="checkbox-group-7"
                              v-model="pasar.tcuciperalatan"
                            >
                              <b-form-checkbox disabled value="a">Kuat</b-form-checkbox>
                              <b-form-checkbox disabled value="b">Aman</b-form-checkbox>
                              <b-form-checkbox disabled value="c">Tidak berkarat</b-form-checkbox>
                              <b-form-checkbox disabled value="d">Mudah dibersihkan</b-form-checkbox>
                            </b-form-checkbox-group>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group>
                            <b-form-checkbox-group
                              stacked
                              id="checkbox-group-8"
                              v-model="pasar.pisaubeda"
                            >
                              <b-form-checkbox disabled
                                value="a"
                              >Pisau yang digunakan untuk memotong bahan mentah dan bahan matang harus berbeda dan tidak berkarat</b-form-checkbox>
                            </b-form-checkbox-group>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group  label="Saluran pembuangan limbah:">
                            <b-form-checkbox-group stacked id="checkbox-group-9" v-model="pasar.spl2">
                              <b-form-checkbox disabled value="a">Tertutup</b-form-checkbox>
                              <b-form-checkbox disabled value="b">Kemiringan</b-form-checkbox>
                            </b-form-checkbox-group>
                          </b-form-group>
                        </li>
                        <li>
                          <b-form-group
                            label="Tempat sampah:"
                            id="checkbox-group-10"
                            v-model="pasar.tsampah2"
                          >
                            <b-form-checkbox disabled value="a">Terpilah (sampah basah dan kering)</b-form-checkbox>
                            <b-form-checkbox disabled value="b">Kedap air</b-form-checkbox>
                            <b-form-checkbox disabled value="c">Tertutup</b-form-checkbox>
                          </b-form-group>
                        </li>
                      </ol>
                    </li>
                    <li>
                      <h5>Area Parkir</h5>
                      <ol>
                        <b-form-group  id="checkbox-group-11" v-model="pasar.areaparkir">
                          <li>
                            <b-form-checkbox disabled value="1">Ada pemisah yang jelas dengan batas wilayah pasar</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled
                              value="2"
                            >Parkir mobil, motor, sepeda, andong/delman, becak terpisah</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled
                              value="3"
                            >Tersedia area parkir khusus kendaraan pengangkut hewan hidup</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="4">Tersedia area khusus bongkar muat barang</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="5">Tidak ada genangan air</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="6">Tersedia tempat sampah setiap radius 10 meter</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled
                              value="7"
                            >Ada jalur dan tanda masuk dan keluar kendaraan yang jelas</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="8">Ada tanaman penghijuan</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="9">Adanya area resapan air</b-form-checkbox>
                          </li>
                        </b-form-group>
                      </ol>
                    </li>
                    <li>
                      <h5>Konstruksi</h5>
                      <ol type="A">
                        <li>
                          <h5>Atap</h5>
                          <ol type="1">
                            <li>
                              <ol type="a">
                                <b-form-group  label="Atap" id="checkbox-group-12" v-model="pasar.katap">
                                  <li>
                                    <b-form-checkbox disabled value="a">Kuat</b-form-checkbox>
                                  </li>
                                  <li>
                                    <b-form-checkbox disabled value="b">Tidak bocor</b-form-checkbox>
                                  </li>
                                  <li>
                                    <b-form-checkbox disabled value="c">Tidak menjadi tempat perindukan vektor</b-form-checkbox>
                                  </li>
                                </b-form-group>
                              </ol>
                            </li>
                            <li>
                              <b-form-group  id="checkbox-group-13">
                                <b-form-checkbox-group stacked v-model="pasar.kemiringanatap">
                                  <b-form-checkbox disabled
                                    value="a"
                                  >Kemiringan atap cukup dan tidak memungkinkan genangan air</b-form-checkbox>
                                </b-form-checkbox-group>
                              </b-form-group>
                            </li>
                            <li>
                              <b-form-group  id="checkbox-group-14">
                                <b-form-checkbox-group stacked v-model="pasar.ketinggianatap">
                                  <b-form-checkbox disabled
                                    value="a"
                                  >Atap dengan ketinggian lebih 10 meter dilengkapi penangkal petir</b-form-checkbox>
                                </b-form-checkbox-group>
                              </b-form-group>
                            </li>
                          </ol>
                        </li>
                        <li>
                          <h5>Dinding</h5>
                          <ol>
                            <li>
                              <b-form-group  label="Keadaan dinding" id="checkbox-group-15">
                                <b-form-checkbox-group stacked v-model="pasar.kdinding">
                                  <ol type="a">
                                    <li>
                                      <b-form-checkbox disabled value="a">Bersih</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="b">Tidak lembab</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="c">Berwarna terang</b-form-checkbox>
                                    </li>
                                  </ol>
                                </b-form-checkbox-group>
                              </b-form-group>
                            </li>
                            <li>
                              <b-form-group
                                label="Permukaan dinding yang selalu terkena percikan air terbuat dari:"
                                id="checkbox-group-16"
                              >
                                <b-form-checkbox-group v-model="pasar.permukaandinding">
                                  <ol type="a">
                                    <li>
                                      <b-form-checkbox disabled value="a">Bahan yang kuat</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="b">Kedap air</b-form-checkbox>
                                    </li>
                                  </ol>
                                </b-form-checkbox-group>
                              </b-form-group>
                            </li>
                            <li>
                              <b-form-checkbox disabled
                                value="a"
                                v-model="pasar.pertemuanlantai"
                              >Pertemuan lantai dengan dinding harus lengkung (conus)</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                        <li>
                          <h5>Lantai</h5>
                          <ol>
                            <li>
                              <b-form-group  label="Keadaan lantai:" id="checkbox-group-17">
                                <ol type="a">
                                  <b-form-checkbox-group v-model="pasar.keadaanlantai">
                                    <li>
                                      <b-form-checkbox disabled value="a">Kedap air</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="b">Rata</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="c">Tidak licin</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="d">Tidak retak</b-form-checkbox>
                                    </li>
                                    <li>
                                      <b-form-checkbox disabled value="e">Mudah dibersihkan</b-form-checkbox>
                                    </li>
                                  </b-form-checkbox-group>
                                </ol>
                              </b-form-group>
                            </li>
                            <li>
                              <b-form-checkbox disabled
                                value="a"
                                v-model="pasar.lantaikamarmandi"
                              >Lantai kamar mandi, tempat cuci dan sejenisnya mempunyai kemiringan ke saluran pembuangan</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                        <li>
                          <h5>Tangga</h5>
                          <b-form-group  id="checkbox-group-18">
                            <ol>
                              <b-form-checkbox-group v-model="pasar.tangga">
                                <li>
                                  <b-form-checkbox disabled
                                    value="a"
                                  >Tinggi, lebar, kemiringan sesuai dengan ketentuan yang berlaku</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="b">Terdapat pegangan tangan</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="c">Kuat dan tidak licin</b-form-checkbox>
                                </li>
                                <li>
                                  <b-form-checkbox disabled value="d">Pencahayaan minimal 100 lux</b-form-checkbox>
                                </li>
                              </b-form-checkbox-group>
                            </ol>
                          </b-form-group>
                        </li>
                        <li>
                          <h5>Ventilasi</h5>
                          <ol>
                            <li>
                              <b-form-checkbox disabled
                                value="a"
                                v-model="pasar.ventilasi"
                              >Minimal 20 persen dari luas lantai</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                        <li>
                          <h5>Pencahayaan</h5>
                          <ol>
                            <li>
                              <b-form-checkbox disabled
                                value="a"
                                v-model="pasar.pencahayaan"
                              >Intensitas pencahayaan cukup untuk melakukan pekerjaan pengelolaan dan pembersihan bahan makanan minimal 100 lux</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                        <li>
                          <h5>Pintu</h5>
                          <ol>
                            <li>
                              <b-form-checkbox disabled
                                value="a"
                                v-model="pasar.pintu"
                              >Khusus kios/los penjual daging, ikan dan sejenisnya menggunakan pintu yang dapat membuka dan menutup sendiri atau tirai plastik untuk menghalangi binatang atau serangga penular penyakit</b-form-checkbox>
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Sanitasi</h5>
              <ol>
                <li>
                  <h5>Air bersih</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.airbersih">
                      <li>
                        <b-form-checkbox disabled
                          value="1"
                        >Air selalu tersedia dalam jumlah cukup (minimal 40 liter per pedagng)</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Kualitas air bersih memenuhi syarat kesehatan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="3"
                        >Jarak sumber air bersih dengan septic tank minimal 10 meter</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="4">Pengujian air bersih dilakukan 6 bulan sekali</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  <h5>Kamar mandi dan toilet</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.kamarmandi">
                      <li>
                        Toilet: Laki - laki dan perempuan terpisah dengan jumlah cukup (nilai 10)
                        <ol type="a">
                          <li>
                            <b-form-checkbox disabled value="a">Terpisah</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="b">Jumlah cukup</b-form-checkbox>
                          </li>
                        </ol>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="2"
                        >Tersedia bak dan air bersih dengan jumlah cukup dan bebas jentik</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="3">Toilet dengan leher angsa</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="4">Tersedia tempat cuci tangan dan sabun</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="5">Tersedia tempat sampah yang tertutup</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="6"
                        >Tersedia septic tank dengan lubang perasapan yang memenuhi syarat kesehatan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="7"
                        >Letak toilet minimal 10 meter dari tempat penjualan makanan dan bahan pangan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="8">Ventilasi minimal 20 persen dari luas lantai</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="9">Pencahayaan minimal 100 lux</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="10"
                        >Lantai kedap air, tidak licin, mudah dibersihkan, dengan kemiringan cukup</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  <h5>Pengelolaan sampah</h5>
                  <ol>
                    <li>
                      <b-form-checkbox disabled
                        v-model="pasar.pengelolaansampah"
                        value="1"
                      >Setiap kios/lorong/los tersedia tempat sampah basah dan kering</b-form-checkbox>
                    </li>
                    <li>
                      Tempat sampah terbuat dari :
                      <ol type="a">
                        <b-form-checkbox-group v-model="pasar.bahantempatsampah">
                          <li>
                            <b-form-checkbox disabled value="a">Bahan kedap air</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="b">Tidak mudah berkarat</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="c">Kuat</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="d">Tertutup</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="e">Mudah dibersihkan</b-form-checkbox>
                          </li>
                        </b-form-checkbox-group>
                      </ol>
                    </li>
                    <li>
                      Tersedia alat pengangkut sampah :
                      <b-form-checkbox-group v-model="pasar.alatpengangkutsampah">
                        <ol type="a">
                          <li>
                            <b-form-checkbox disabled value="a">Kuat</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="b">Mudah dibersihkan</b-form-checkbox>
                          </li>
                        </ol>
                      </b-form-checkbox-group>
                    </li>
                    <li>
                      Tersedia tempat pembuangan sampah sementara TPS :
                      <b-form-checkbox-group v-model="pasar.tps">
                        <ol type="a">
                          <li>
                            <b-form-checkbox disabled value="a">Kuat</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="b">Kedap air</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="c">Mudah dibersihkan</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="d">Mudah dijangkau</b-form-checkbox>
                          </li>
                        </ol>
                      </b-form-checkbox-group>
                    </li>
                    <li>
                      <b-form-checkbox  disabled
                        v-model="pasar.tpstempatperindukan"
                      >TPS tidak menjadi tempat perindukan binatang penular penyakit</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox disabled
                        v-model="pasar.tpsdijalurutama"
                      >TPS tidak dijalur utama pasar dan tidak berjarak minimal 10 meter dari bangunan pasar</b-form-checkbox>
                    </li>
                    <li>
                      <b-form-checkbox disabled v-model="pasar.sampahdiangkut">Sampah diangkut minimal 1x24 jam</b-form-checkbox>
                    </li>
                  </ol>
                </li>
                <li>
                  <h5>Drainage</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.drainage">
                      <li>
                        <b-form-checkbox disabled
                          value="1"
                        >Tertutup dengan kisi - kisi, terbuat dari logam dan mudah dibersihkan</b-form-checkbox>
                      </li>

                      <li>
                        <b-form-checkbox disabled value="2">Limbah cair mengalir lancar</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="3">Limbah cair harus memenuhi baku mutu</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="4">Tidak ada bangunan di atas saluran</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="5"
                        >Pengujian kualitas limbah cair berkala setiap 6 bulan sekali</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  <h5>Tempat cuci tangan</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.tempatcucitangan2">
                      <li>
                        <b-form-checkbox disabled value="1">Lokasi mudah dijangkau</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Dilengkapi sabun</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="3">Tersedia air mengalir</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  <h5>Binatang penular penyakit / vektor</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.binatangpenular">
                      <li>
                        <b-form-checkbox disabled
                          value="1"
                        >Los makanan siap saji dan bahan pagan harus bebas dari lalat, kecoa dan tikus</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Angka kepadatan tikus harus nol</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="3"
                        >Angka kepadatan kecoa maksimal 2 ekor per plate di titik pengukuran</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="4"
                        >Angka kepadatan lalat maksimal 30 per gril net di tempat sampah dan drainage</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="5"
                        >Container indeks (CI) jentik nyamuk aedes tidak melebihi 5 persen</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  <h5>Kualitas makanan dan bahan pangan</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.kualitasmakanan">
                      <li>
                        <b-form-checkbox disabled value="1">Tidak basi</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Tidak mengandung bahan berbahaya</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="3"
                        >Tidak mengandung residu pestisida di atas ambang batas</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="4">Kualitas makanan siap saji sesuai dengan peraturan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="5"
                        >Makanan dalam kemasan tertutup disimpan dalam suhu 4 - 10 &deg;C</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="6"
                        >Ikan, daging dan olahannya disimpan dalam suhu 0 s/d 4 &deg;C</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="7"
                        >Sayur dan buah disimpan dalam suhu 10 &deg;C, telor, susu, dan olahannya disimpan dalam suhu 5 - 7 &deg;C</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="8"
                        >Penyimpanan bahan makanan dengan jarak 15 cm dari lantai, 5 cm dari dinding dan 60 cm dari langit - langit</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="9"
                        >Kebersihan peralatan makanan maksimal 100 kuman per cm&sup2; permukaan E-coli nol</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  <h5>Desinfeksi pasar</h5>
                  <ol>
                    <b-form-checkbox-group v-model="pasar.desinfeksi">
                      <li>
                        <b-form-checkbox disabled value="1">Dilakukan secara menyeluruh 1 hari dalam sebulan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Bahan desinfeksi tidak mencemari lingkungan</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Perilaku hidup bersih dan sehat</h5>
              <ol>
                <li>
                  Pedagang dan pekerja
                  <ol>
                    <b-form-checkbox-group v-model="pasar.perilaku1">
                      <li>
                        <b-form-checkbox disabled
                          value="1"
                        >Pedagang daging/unggas, ikan menggunakan alat pelindung diri</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Berperilaku hidup bersih dan sehat (PHBS)</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="3"
                        >Dilakukan pemeriksaan kesehatan bagi pedagang secara berkala minimal 6 bulan sekali</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="4"
                        >Pedagang makanan siap saji tidak sedang menderita penyakit menular langsung seperti: diare, hepatitis, TBC, kudis, dll</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  Pengunjung
                  <ol>
                    <b-form-checkbox-group v-model="pasar.perilaku2">
                      <li>
                        <b-form-checkbox disabled value="1">Berperilaku hidup bersih dan sehat (PHBS)</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="2"
                        >Cuci tangan dengan sabun setelah memegang unggas/hewan hidup, daging atau ikan</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
                <li>
                  Pengelola
                  <b-form-checkbox-group v-model="pasar.perilaku3">
                    <ol>
                      <li>
                        <b-form-checkbox disabled
                          value="1"
                        >Memahami dan mempunyai keterampilan tentang hygiene sanitasi dan keamanan pangan (pernah mengikuti kursus/pelatihan di bidang sanitasi dan hygiene makanan dan pangan)</b-form-checkbox>
                      </li>
                    </ol>
                  </b-form-checkbox-group>
                </li>
              </ol>
            </li>
            <li>
              <h5>Keamanan</h5>
              <ol>
                <li>
                  Pemadam Kebakaran
                  <b-form-checkbox-group v-model="pasar.keamanan1">
                    <ol>
                      <li>
                        Tersedia peralatan pemadam kebakaran dengan jumlah cukup dan berfungsi :
                        <ol type="a">
                          <li>
                            <b-form-checkbox disabled value="a">Ada</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="b">Jumlah cukup</b-form-checkbox>
                          </li>
                          <li>
                            <b-form-checkbox disabled value="c">80 persen berfungsi</b-form-checkbox>
                          </li>
                        </ol>
                      </li>

                      <li>
                        <b-form-checkbox disabled value="2">Tersedia hidran air</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled
                          value="3"
                        >Letak peralatan pemadam kebakaran mudah dijangkau dan ada petunjuk arah penyelamatan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="4">Adanya SOP penggunaan alat pemadam kebakaran</b-form-checkbox>
                      </li>
                    </ol>
                  </b-form-checkbox-group>
                </li>
                <li>
                  Keamanan
                  <ol>
                    <b-form-checkbox-group v-model="pasar.keamanan2">
                      <li>
                        <b-form-checkbox disabled value="1">Ada pos keamanan</b-form-checkbox>
                      </li>
                      <li>
                        <b-form-checkbox disabled value="2">Ada personil / petugas keamanan</b-form-checkbox>
                      </li>
                    </b-form-checkbox-group>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <h5>Fasilitas lain</h5>
              <ol>
                <b-form-checkbox-group v-model="pasar.fasilitaslain">
                  <li>
                    <b-form-checkbox disabled value="1">Tersedia tempat ibadah yang bersih, dan tempat wudhu</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="2">Tersedia air dengan jumlah yang cukup</b-form-checkbox>
                  </li>
                  <li>
                    <b-form-checkbox disabled value="3">Ventilasi dan pencahayaan sesuai dengan persyaratan</b-form-checkbox>
                  </li>
                </b-form-checkbox-group>
              </ol>
            </li>
          </ol>-->
        </b-form>
      </b-card-body>

      <b-card-footer>
        <b-btn
          @click="$router.push('/modul/pasar')"
          class="float-right"
          variant="outline-dark"
        >Tutup</b-btn>
      </b-card-footer>
    </b-card>
  </v-dialog>
</template>


<script>
import HeaderData from "./HeaderData";
export default {
  components: {
    HeaderData
  },
  methods: {
    loadItem(id) {
      console.log("ini id objeknya = " + id);
      axios
        .get("pasar/" + id)
        .then(data => {
          this.datars = data.data.data;
          if (data.data.data.pajak != null)
            this.datars.pajak = data.data.data.pajak.split(", ");
          this.loadData = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadItem(this.$route.params.id);
  },
  data() {
    return {
      loadData: true,
      datars: {},
      dialog: true,
      pajaks: [],
      userId: this.$route.params.id,

      pasar: {
        namatempat: "",
        alamat: "",
        namapengelola: "",
        jumlahkios: "",
        kioskosong: "",
        kiosisi: "",
        jumlahpedagang: "",
        jumlahasosiasi: "",
        jamoperasional: "",
        nomortelepon: "",
        kepemilikanizin: "",
        nop: "",
        statuspbb: "",
        lokasi: [],
        bpumum: [],
        bpruangdagang: [],
        bpkantorpengelola: [],
        meja: [],
        penyimpanandingin: [],
        karkasdagingdigantung: [],
        tempatpencucianbahanpangan: [],
        tempatcucitangan: [],
        spl: [],
        tsampah: [],
        mejatempatpenjualan: [],
        mejaterbuat: [],
        tempatsampah: [],
        tempatcucitangan: [],
        bebasvektorpenularpenyakit: [],
        tpenyajianmakanan: [],
        tcucitangan: [],
        tcuciperalatan: [],
        pisaubeda: [],
        spl2: [],
        tsampah2: [],
        areaparkir: [],
        katap: [],
        kemiringanatap: [],
        ketinggianatap: [],
        kdinding: [],
        permukaandinding: [],
        pertemuanlantai: [],
        keadaanlantai: [],
        lantaikamarmandi: [],
        tangga: [],
        ventilasi: [],
        pencahayaan: [],
        pintu: [],
        airbersih: [],
        kamarmandi: [],
        pengelolaansampah: [],
        bahantempatsampah: [],
        alatpengangkutsampah: [],
        tps: [],
        tpstempatperindukan: [],
        tpsdijalurutama: [],
        sampahdiangkut: [],
        drainage: [],
        tempatcucitangan2: [],
        binatangpenular: [],
        kualitasmakanan: [],
        desinfeksi: [],
        perilaku1: [],
        perilaku2: [],
        perilaku3: [],
        keamanan1: [],
        keamanan2: [],
        fasilitaslain: []
      }
    };
  }
};
</script>