<template>
  <b-card
    overlay
    img-src="/images/background/rumahwebb-01.png"
    img-fluid
    text-variant="white"
    class="img-data"
    style="height:160px; background-color:#329059"
  >
    <b-row class="mb-2">
      <b-col sm="4">
        <div class="imgcontainer">
          <b-img
            fluid
            @click="showobjek = !showobjek"
            center
            style="max-height:100px;"
            class="cursor-pointer"
            v-b-tooltip.hover
            title="Klik gambar untuk memperbesar"
            :src="foto == null ? image_url : '/storage/images/objek/' + foto"
          />
        </div>
      </b-col>
      <b-col sm="8">
        <b-row class>
          <v-chip small disabled class="text-white" color="blue">
            <v-avatar left>
              <v-img src="/images/icon/skorakhiricon-s.png"></v-img>
            </v-avatar>
            Skor : {{skor}}
          </v-chip>
          <v-chip small disabled class="text-white" :color="getColor(status)">
            <v-avatar left>
              <v-img src="/images/icon/information-w.png"></v-img>
            </v-avatar>
            {{getStatus(status)}}
          </v-chip>

          <!-- <v-chip small color="gray-300">
            <v-icon left link small>delete</v-icon>Hapus data
          </v-chip>-->
          <!-- <b-btn
            @click="deleteRumahSehat(this.$route.params.id)"
            class="float-right btn-sm ml-auto mr-2"
            variant="danger"
          >Hapus</b-btn>-->
        </b-row>
        <b-row class>
          <b-col cols="4">Diinput oleh</b-col>
          <b-col cols="8">
            {{input_nama}}
            <br />
            <small>
              <i>{{IndonesiaDateFormat(input_waktu)}}</i>
            </small>
          </b-col>
        </b-row>

        <b-row class>
          <b-col cols="4">Disunting oleh</b-col>
          <b-col cols="8">
            {{edit_nama}}
            <br />
            <small>
              <i v-if="edit_waktu != null">{{IndonesiaDateFormat(edit_waktu)}}</i>
            </small>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <v-dialog v-model="showobjek" max-width="350">
      <v-card>
        <v-img
          :src="foto == null ? image_url : '/storage/images/objek/' + foto"
          :lazy-src="foto == null ? image_url : '/storage/images/objek/' + foto"
        >
          <template v-slot:placeholder>
            <v-layout fill-height align-center justify-center ma-0>
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-layout>
          </template>
        </v-img>
      </v-card>
    </v-dialog>
  </b-card>
</template>

<script>
export default {
  props: [
    "skor",
    "foto",
    "status",
    "input_nama",
    "input_waktu",
    "edit_nama",
    "edit_waktu"
  ],
  data() {
    return {
      loadData: true,
      showobjek: false,
      datars: {},
      image_url: "/images/default/rumahkosong-01.png"
    };
  },
  methods: {
    getColor(status) {
      if (status == true) return "green";
      else if (status == false) return "red";
      else return "gray-500";
    },
    getStatus(status) {
      if (status == true) return "Sehat";
      else if (status == false) return "Tidak Sehat";
      else return "Belum di inspeksi";
    }
  }
};
</script>