<template>
  <header class="app-header navbar">
    <button
      class="navbar-toggler mobile-sidebar-toggler d-lg-none"
      type="button"
      @click="mobileSidebarToggle"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <b-link class="navbar-brand" to="/dashboard" />
    <button
      class="navbar-toggler sidebar-toggler d-md-down-none"
      type="button"
      @click="sidebarToggle"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <b-navbar-nav class="d-md-down-none">
      <b-nav-item class="px-3"></b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto mr-2">
      <b-nav-form>
        <b-form>
          <b-form-select
            class="mb-sm-0"
            :options="opt_modul"
            v-model="selected"
            id="inline-form-custom-select-pref"
          >
            <template v-slot:first>
              <option value disabled>Pilih Modul</option>
            </template>
          </b-form-select>
          <b-form-input
            min="3"
            @keydown.enter.prevent="mencari()"
            :disabled="selected==''"
            class="mr-sm-2"
            type="text"
            v-model="cari"
            :placeholder="hints[selected]"
          />
          <!-- <router-link
            tag="b-btn"
            class="bg-primary text-white"
            exact
            :to="`/search-result/`+cari "
          >
          Cari-->
          <!-- <b-button variant="primary" @click="Maintenance()">Cari</b-button> -->
          <b-button variant="primary" @click="mencari()">Cari</b-button>
          <!-- </router-link> -->
        </b-form>
      </b-nav-form>
      <b-nav-item class="nav-item dropdown d-md-down-none mr-3">
        <a
          class="nav-link"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="icon-bell"></i>
          <span v-if="notif != null" class="badge badge-pill badge-danger">{{notif}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
          <div class="dropdown-header text-center">
            <!-- <strong>Anda memiliki {{notif}} pemberitahuan</strong> -->
            <strong>Pemberitahuan</strong>
          </div>
          <v-data-table
            :rows-per-page-items="[5,10,25]"
            loading-text="Memuat Data .."
            hide-headers
            hide-actions
            :headers="histori_header"
            :items="histories"
          >
            <template slot="items" slot-scope="props">
              <router-link
                exact
                class="dropdown-item text-notif cursor-pointer"
                :to="`/modul/${ubah(props.item.data)}/${props.item.objek_id}`"
                tag="tr"
              >
                <td cols="1" class="px-1">
                  <img :src="'/images/icon/time.png'" class="td-avatar" alt />
                </td>
                <td cols="11" class="pl-2">
                  <span>
                    <b>{{ props.item.nama }}</b>
                    {{ props.item.aktifitas == 'input' ? 'Menambahkan' : 'Mengubah' }} data {{ props.item.data }}
                  </span>
                  <br />

                  <p>{{props.item.waktu_input}}</p>
                </td>
              </router-link>
            </template>

            <template slot="no-data">
              <div class="text-center">
                <span>Tidak ada pemberitahuan baru</span>
              </div>
            </template>
          </v-data-table>

          <!-- <router-link class="dropdown-item" to="#">
            <i class="icon-user-follow text-success"></i> New user registered
          </router-link>
          <router-link class="dropdown-item" to="#">
            <i class="icon-user-follow text-success"></i> New user registered
          </router-link>
          <router-link class="dropdown-item" to="#">
            <i class="icon-user-follow text-success"></i> New user registered
          </router-link>-->
        </div>
      </b-nav-item>
      <header-dropdown class="mousein-profile pl-2" />
    </b-navbar-nav>
    <button
      class="navbar-toggler aside-menu-toggler d-md-down-none"
      type="button"
      @click="asideToggle"
    >
      <span class="navbar-toggler-icon" />
    </button>
  </header>
</template>


<script>
import HeaderDropdown from "./HeaderDropdown.vue";

export default {
  name: "CHeader",
  components: { HeaderDropdown },
  data() {
    return {
      notif: null,
      cari: "",
      selected: "",
      histories: [],
      opt_modul: {
        "1": "Rumah Sehat",
        "2": "Tempat - tempat Umum",
        "3": "Tempat Pengolahan Makanan",
        "4": "Lain - Lain"
      },
      hints: {
        "1": "Nama Kepala Keluarga",
        "2": "Nama Tempat",
        "3": "Nama Tempat",
        "4": "Nama Tempat"
      },
      histori_header: [
        {
          text: "History Headers",
          align: "left",
          sortable: false,
          value: "nama"
        },
        { text: "Aktifitas", value: "aktifitas" },
        { text: "Waktu Histori", value: "waktu_input" },
        { text: "Tipe Petugas", value: "tipe_petugas" },
        { text: "Key Histories", value: "key_histories" },
        { text: "Datas", value: "data" },
        { text: "Action" }
      ]
    };
  },
  props: {
    fixed: {
      type: Boolean,
      default: true
    }
  },
  mounted() {
    if (this.fixed) $("body").addClass("header-fixed");
    this.getHistori();
  },
  beforeDestroy() {
    $("body").removeClass("header-fixed");
  },
  methods: {
    sidebarToggle(event) {
      event.preventDefault();
      document.body.classList.toggle("sidebar-hidden");
    },
    sidebarMinimize(event) {
      event.preventDefault();
      document.body.classList.toggle("sidebar-minimized");
    },
    mobileSidebarToggle(event) {
      event.preventDefault();
      document.body.classList.toggle("sidebar-mobile-show");
    },
    asideToggle(event) {
      event.preventDefault();
      document.body.classList.toggle("aside-menu-hidden");
    },
    getHistori() {
      axios
        .get("histori/custom/get-history-with-limit/5/data/" + this.data_id)
        .then(({ data }) => {
          this.histories = data.data;
        })
        .catch(err => {});
    },
    mencari() {
      this.$router.push(`/search-result/${this.selected}/${this.cari}`);
    },
    ubah(words) {
      return words.replace(/ /g, "-");
    }
  }
};
</script>