<template>
  <b-nav-item-dropdown right no-caret>
    <template slot="button-content">
      <span class="mr-3">
        <small>{{ $auth.user().nama }}</small>
      </span>
      <div class="float-right">
        <div class="img-profil-container-header mx-auto">
          <b-img
            class="img-profil my-auto cursor-pointer"
            fluid
            :src="dp ? '/storage/images/profil/' + dp : '/images/icon/profileicon.png'"
            center
          />
        </div>
      </div>
    </template>
    <b-dropdown-header tag="div" class="text-center">
      <strong>Account</strong>
    </b-dropdown-header>
    <router-link exact to="/profil" tag="b-dropdown-item">
      <i class="fa fa-user" /> Profil
    </router-link>
    <!-- <b-dropdown-item @click="Maintenance()">
      <i class="fa fa-user" /> Profil
    </b-dropdown-item>-->
    <!-- <router-link to="/profil-kader" tag="b-dropdown-item">
      <i class="fa fa-user" /> Profil Kader
    </router-link>-->
    <!-- <b-dropdown-divider /> -->
    <!-- <b-dropdown-item>
      <i class="fa fa-shield" /> Lock Account
    </b-dropdown-item>-->
    <b-dropdown-item @click.prevent="$auth.logout()">
      <i class="fa fa-lock" /> Logout
    </b-dropdown-item>
  </b-nav-item-dropdown>
</template>
<script>
export default {
  name: "HeaderDropdown",
  data: () => {
    return {
      itemsCount: 42,
      dp: ""
    };
    // return { itemsCount: 42, dp: "" };
  },
  methods: {
    loadDP(username) {
      axios
        .get("dp/" + username)
        .then(data => {
          // console.log(data);
          if (data.data.fotos != null) this.dp = data.data.fotos;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.loadDP(this.$auth.user().username);
  }
};
</script>