<template>
  <div class="animated fadeIn">
    <b-card>
      <b-form inline>
        <b-col class="p-1 mx-auto" sm="2">
          <b-form-select
            :value="null"
            :options="kecamatans"
            id="inlineFormCustomSelectPref1"
            class="w-100"
            v-model="selected.kecamatan"
            :disabled="disabled.kecamatan == 0"
            @change="onKecamatanChange($event)"
          ></b-form-select>
        </b-col>
        <b-col
          class="p-1 mx-auto"
          sm="2"
          v-if="sekarang == 'Dashboard' || sekarang == 'Rumah Sehat' ||  sekarang == 'Depok Healthy City' || sekarang == 'Data Kader'"
        >
          <b-form-select
            :value="null"
            :options="kelurahans"
            id="inlineFormCustomSelectPref2"
            class="w-100"
            v-model="selected.kelurahan"
            :disabled="disabled.kelurahan == 0"
            @change="onKelurahanChange($event)"
          ></b-form-select>
        </b-col>
        <b-col
          class="p-1 mx-auto"
          sm="2"
          v-if=" sekarang == 'Dashboard' ||sekarang == 'Rumah Sehat' || sekarang == 'Depok Healthy City'"
        >
          <b-form-select
            :value="null"
            :options="rw"
            id="inlineFormCustomSelectPref3"
            class="w-100"
            v-model="selected.rw"
            :disabled="disabled.rw == 0"
            @change="onRwChange($event)"
          ></b-form-select>
        </b-col>
        <b-col
          class="p-1 mx-auto"
          sm="2"
          v-if="sekarang == 'Dashboard' || sekarang == 'Rumah Sehat' || sekarang == 'Depok Healthy City'"
        >
          <b-form-select
            :value="null"
            :options="rt"
            id="inlineFormCustomSelectPref4"
            class="w-100"
            v-model="selected.rt"
            @change="onRtChange($event)"
            :disabled="disabled.rt == 0"
          ></b-form-select>
        </b-col>
        <b-col
          v-if="sekarang != 'Data Kader' && sekarang != 'Dashboard'"
          class="p-1 mx-auto"
          sm="2"
        >
          <b-form-input
            :value="null"
            id="inlineFormCustomSelectPref5"
            class="w-100"
            v-model="selected.tanggal"
            @change="onDateChange($event)"
            type="date"
          />
          <!-- <div class="datepicker">
            <datepicker placeholder="Select Date"></datepicker>
          </div>-->
        </b-col>
        <b-col class="p-1 mx-auto" sm="2">
          <b-button
            id="inlineFormCustomSelectPref6"
            class="w-100"
            type="button"
            variant="primary"
            @click="filterAction"
          >
            <i class="fa fa-filter" /> Filter
          </b-button>
        </b-col>
      </b-form>
    </b-card>

    <b-card class="bg-gray-100" v-if="show_legend">
      <div class="mx-auto text-center w-100">
        Hasil Filter data
        <span v-if="selected.kecamatan != null">
          dari Kecamatan
          <b class="text-blue">{{ kecamatans[selected.kecamatan].text }}</b>
        </span>
        <span v-if="selected.kelurahan != null">
          , Kelurahan
          <b class="text-blue" v-for="(k,i) in kelurahans" :key="i">
            <span v-if="k.value == selected.kelurahan">{{ k.text }}</span>
          </b>
        </span>
        <span v-if="selected.rw != null">
          RW
          <b class="text-blue" v-for="(w,i) in rw" :key="i">
            <span v-if="w.value == selected.rw">{{ w.text }}</span>
          </b>
        </span>
        <span v-if="selected.rt != null">
          RT
          <b class="text-blue" v-for="(t,i) in rt" :key="i">
            <span v-if="t.value == selected.rt">{{ t.text }}</span>
          </b>
        </span>
        <p v-if="selected.tanggal != null && selected.tanggal != ''">
          Pada Tanggal
          <b class="text-blue">{{ IndonesiaFilterFormat(selected.tanggal) }}</b>
        </p>
      </div>
    </b-card>

    <b-loading variant="Circle8" class="mx-auto" v-if="filterLoading">Data sedang di filter</b-loading>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      date: "",
      sekarang: "",
      kecamatans: {},
      kelurahans: [
        {
          value: null,
          text: "Semua Kelurahan"
        }
      ],
      rw: [
        {
          value: null,
          text: "Pilih RW"
        },
        {
          value: "01",
          text: "01"
        },
        {
          value: "02",
          text: "02"
        },
        {
          value: "03",
          text: "03"
        },
        {
          value: "04",
          text: "04"
        },
        {
          value: "05",
          text: "05"
        },
        {
          value: "06",
          text: "06"
        },
        {
          value: "07",
          text: "07"
        },
        {
          value: "08",
          text: "08"
        },
        {
          value: "09",
          text: "09"
        },
        {
          value: "10",
          text: "10"
        },
        {
          value: "11",
          text: "11"
        },
        {
          value: "12",
          text: "12"
        },
        {
          value: "13",
          text: "13"
        },
        {
          value: "14",
          text: "14"
        },
        {
          value: "15",
          text: "15"
        },
        {
          value: "16",
          text: "16"
        },
        {
          value: "17",
          text: "17"
        },
        {
          value: "18",
          text: "18"
        },
        {
          value: "19",
          text: "19"
        },
        {
          value: "20",
          text: "20"
        },
        {
          value: "21",
          text: "21"
        },
        {
          value: "22",
          text: "22"
        },
        {
          value: "23",
          text: "23"
        },
        {
          value: "24",
          text: "24"
        },
        {
          value: "25",
          text: "25"
        },
        {
          value: "26",
          text: "26"
        },
        {
          value: "27",
          text: "27"
        },
        {
          value: "28",
          text: "28"
        },
        {
          value: "29",
          text: "29"
        },
        {
          value: "30",
          text: "30"
        }
      ],
      rt: [
        {
          value: null,
          text: "Pilih RT"
        },
        {
          value: "001",
          text: "01"
        },
        {
          value: "002",
          text: "02"
        },
        {
          value: "003",
          text: "03"
        },
        {
          value: "004",
          text: "04"
        },
        {
          value: "005",
          text: "05"
        },
        {
          value: "006",
          text: "06"
        },
        {
          value: "007",
          text: "07"
        },
        {
          value: "008",
          text: "08"
        },
        {
          value: "009",
          text: "09"
        },
        {
          value: "010",
          text: "10"
        },
        {
          value: "011",
          text: "11"
        },
        {
          value: "012",
          text: "12"
        },
        {
          value: "013",
          text: "13"
        },
        {
          value: "014",
          text: "14"
        },
        {
          value: "015",
          text: "15"
        },
        {
          value: "016",
          text: "16"
        },
        {
          value: "017",
          text: "17"
        },
        {
          value: "018",
          text: "18"
        },
        {
          value: "019",
          text: "19"
        },
        {
          value: "020",
          text: "20"
        },
        {
          value: "021",
          text: "21"
        },
        {
          value: "022",
          text: "22"
        },
        {
          value: "023",
          text: "23"
        },
        {
          value: "024",
          text: "24"
        },
        {
          value: "025",
          text: "25"
        },
        {
          value: "026",
          text: "26"
        },
        {
          value: "027",
          text: "27"
        },
        {
          value: "028",
          text: "28"
        },
        {
          value: "029",
          text: "29"
        },
        {
          value: "030",
          text: "30"
        }
      ],
      disabled: {
        kecamatan: 0,
        kelurahan: this.$route.query.kecamatan ? 1 : 0,
        rw: this.$route.query.kelurahan ? 1 : 0,
        rt: this.$route.query.rw ? 1 : 0
      },
      selected: {
        kecamatan: this.$route.query.kecamatan ? this.$route.query.kecamatan : null,
        kelurahan: this.$route.query.kelurahan ? this.$route.query.kelurahan : null,
        rw: this.$route.query.rw ? this.$route.query.rw : null,
        rt: this.$route.query.rt ? this.$route.query.rt : null,
        tanggal: this.$route.query.tanggal ? this.$route.query.tanggal : null
      },
      store_filter: {
        kecamatan: this.$route.query.kecamatan ? this.$route.query.kecamatan : null,
        kelurahan: this.$route.query.kelurahan ? this.$route.query.kelurahan : null,
        rw: this.$route.query.rw ? this.$route.query.rw : null,
        rt: this.$route.query.rt ? this.$route.query.rt : null,
        tanggal: this.$route.query.tanggal ? this.$route.query.tanggal : null,
      },
      show_loading: false,
      show_legend: false
    };
  },
  methods: {
    filterAction() {
      this.$store.commit("FILTER_LOADING");

      this.$router.push({ query: { 
        kecamatan: this.selected.kecamatan,
        kelurahan: this.selected.kelurahan,
        rw: this.selected.rw,
        rt: this.selected.rt,
        tanggal: this.selected.tanggal
      }})

      Fire.$emit("AfterFilter");

      if (this.selected.kecamatan == null && this.selected.tanggal == null) {
        this.show_legend = false;
      } else if (this.selected.kecamatan == null) {
        this.show_legend = false;
      } else {
        this.show_legend = true;
      }
    },
    onDateChange(event) {
      if (event == "") {
        this.store_filter.tanggal = null;
      }
      this.store_filter.tanggal = event;
      this.show_legend = false;
    },
    onRtChange(event) {
      this.show_legend = false;
      this.store_filter.rt = event;
    },
    onRwChange(event) {
      if (event == null) {
        this.disabled.rt = 0;
        this.selected.rt = null;

        this.store_filter.rw = null;
        this.store_filter.rt = null;
      } else {
        this.disabled.rt = 1;
        this.store_filter.rw = event;
      }
      this.show_legend = false;
    },
    onKelurahanChange(event) {
      if (event == null) {
        this.disabled.rw = 0;
        this.disabled.rt = 0;

        this.selected.rw = null;
        this.selected.rt = null;

        this.store_filter.kelurahan = null;
      } else {
        this.disabled.rw = 1;
        this.store_filter.kelurahan = event;
      }
      this.show_legend = false;
    },
    onKecamatanChange(event) {
      if (event == null) {
        this.disabled.kelurahan = 0;
        this.disabled.rt = 0;
        this.disabled.rw = 0;

        this.store_filter.kecamatan = null;
        this.store_filter.kelurahan = null;
        this.store_filter.rw = null;
        this.store_filter.rt = null;

        this.selected.kelurahan = null;
        this.selected.rw = null;
        this.selected.rt = null;
      } else {
        this.getKelurahans(event);
        this.selected.kelurahan = null;
        this.store_filter.kelurahan = null;
        this.store_filter.rt = null;
        this.store_filter.rw = null;
        this.store_filter.kecamatan = event;
      }
      this.show_legend = false;
    },
    getKecamatans() {
      axios
        .get("kecamatans/custom/kecamatans-select-option")
        .then(({ data }) => {
          this.kecamatans = data.data;
        })
        .catch(err => {});
    },
    getKelurahans(kecamatan_id) {
      axios
        .get(
          "kelurahans/custom/kelurahan-select-option-by-kecamatan/" +
            kecamatan_id
        )
        .then(({ data }) => {
          this.kelurahans = data.data;
          if (this.$auth.check(4)) {
            this.disabled.kelurahan = 0;
          } else {
            this.disabled.kelurahan = 1;
          }
        })
        .catch(err => {});
    },
    resetSelected(){
      this.selected.kecamatan = null;
      this.selected.kelurahan = null;
      this.selected.rw = null;
      this.selected.rt = null;
      this.selected.tanggal = null;

      if (this.$auth.check(3)) {
        this.disabled.kecamatan = 0;
        this.disabled.kelurahan = 1;

        this.selected.kecamatan = this.$auth.user().kecamatan_id;
        this.store_filter.kecamatan = this.$auth.user().kecamatan_id;

        this.getKelurahans(this.$auth.user().kecamatan_id);
      }

      if (this.$auth.check(4)) {
        this.getKelurahans(this.$auth.user().kecamatan_id);
        this.disabled.kecamatan = 0;
        this.disabled.kelurahan = 0;

        this.selected.kecamatan = this.$auth.user().kecamatan_id;
        this.selected.kelurahan = this.$auth.user().kelurahan_id;

        this.store_filter.kecamatan = this.$auth.user().kecamatan_id;
        this.store_filter.kelurahan = this.$auth.user().kelurahan_id;

        this.disabled.rw = 1;
      }
    }
  },
  created() {
    this.getKecamatans();

    if(this.$route.query.kecamatan){
      this.getKelurahans(this.$route.query.kecamatan);
    }

    if (this.$auth.check(1) || this.$auth.check(2)) {
      this.disabled.kecamatan = 1;
    }

    if (this.$auth.check(3)) {
      this.disabled.kecamatan = 0;
      this.disabled.kelurahan = 1;

      this.selected.kecamatan = this.$auth.user().kecamatan_id;
      this.store_filter.kecamatan = this.$auth.user().kecamatan_id;

      this.getKelurahans(this.$auth.user().kecamatan_id);
    }

    if (this.$auth.check(4)) {
      this.getKelurahans(this.$auth.user().kecamatan_id);
      this.disabled.kecamatan = 0;
      this.disabled.kelurahan = 0;

      this.selected.kecamatan = this.$auth.user().kecamatan_id;
      this.selected.kelurahan = this.$auth.user().kelurahan_id;

      this.store_filter.kecamatan = this.$auth.user().kecamatan_id;
      this.store_filter.kelurahan = this.$auth.user().kelurahan_id;

      this.disabled.rw = 1;
    }
  },
  mounted() {
    this.sekarang = this.$router.currentRoute.name;
  },
  watch: {
    $route(to, from) {
      this.sekarang = this.$router.currentRoute.name;
      
      // reset filter if redirect to another page
      if(to.name != from.name){
        this.resetSelected()
        this.show_legend = false;
      }
    }
  },
  computed: {
    filterLoading() {
      return this.$store.getters.getFilterLoading;
    }
  },
  beforeDestroy () {
  }
};
</script>