<template>
  <div class="animated fadeIn">
    <div v-for="(modul, index) in moduls" :key="index">
      <b-card v-if="index != 'kartukeluarga'">
        <template slot="header">{{namaKategori(index)}}</template>

        <b-row>
          <b-col sm="3" v-for="m in modul" :key="m.id">
            <router-link
              :to="`/modul/${ubah(m.name)}`"
              tag="b-card-body"
              class="p-0 mousein cursor-pointer"
            >
              <b-img
                center
                :src="`/images/icon/${m.url}.png`"
                fluid
                class="img-dashboard"
                alt="Center image"
              />
              <p class="text-center">{{m.name}}</p>
            </router-link>
          </b-col>
        </b-row>
      </b-card>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from "vuex";

export default {
  name: "Dashboard-Modul",

  mounted() {
    this.$store.commit("NOT_LOADING");
  },

  methods: {
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getColorCallout(kategori) {
      if (kategori == "rumahsehat") return "success";
      else if (kategori == "tempatumum") return "warning";
      else if (kategori == "tempatpengolahanmakanan") return "red";
      else return "info";
    },
    namaKategori(modul) {
      if (modul == "rumahsehat") return "Rumah Sehat";
      else if (modul == "tempatumum") return "Tempat - Tempat Umum";
      else if (modul == "tempatpengolahanmakanan")
        return "Tempat Pengolahan Makanan";
      else if (modul == "lainnya") return "Lainnya";
    }
  },
  computed: {
    ...mapGetters({
      moduls: "getModuls"
    })
  },
  data() {
    return {
      kategoris: {
        rumahsehat: { icon: "rumahsehat", title: "Rumah Sehat" },
        tempatumum: { icon: "tempatibadah", title: "Tempat - Tempat Umum" },
        tempatmakan: {
          icon: "pemeriksaanjasaboga",
          title: "Tempat Pengolahan Makanan"
        },
        lainlain: { icon: "kesehatanlingkungan", title: "Lain - Lain" }
      }
    };
  }
};
</script>
