    <template>
  <div class="animated fadeIn">
    <!-- <FilterKonten v-on:filterAction="onFilter($event)" /> -->
    <!-- Card -->
    <CardModulSatuan :header="hcard" :indikators="indikators" :opds="opds" />

    <!-- End of Card -->
    <HistoriCard :data_id="10" />
    <!-- Graph & Table Card -->
    <b-card>
      <b-row>
        <b-col sm="1">
          <b-img :src="'/images/icon/kesehatanlingkungan.png'" fluid class="img-icon" />
        </b-col>
        <b-col sm="8">
          <h5 id="traffic" class="card-title mb-0">Pelayanan Kesehatan Lingkungan</h5>
          <small>
            Last Update :
            <i>{{ IndonesiaDateFormat(pelayanan_keslings.last_update) }}</i>
          </small>
        </b-col>
      </b-row>
      <br />
      <b-tabs>
        <b-tab>
          <template slot="title">Grafik</template>
          <b-row>
            <b-col sm="12">
              <h4 class="text-center">Grafik Perbandingan</h4>

              <b-button-toolbar class="float-right">
                <b-form-radio-group
                  class="mr-3"
                  id="radiosBtn"
                  buttons
                  button-variant="outline-secondary"
                  v-model="selected_graph"
                  name="radiosBtn"
                >
                  <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                  <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                </b-form-radio-group>
              </b-button-toolbar>
            </b-col>
          </b-row>
          <b-card no-body v-if="selected_graph == 'jumlah'" class="border-0">
            <div class="chart-wrapper">
              <bar-example height="100" :kategori="'lainnya'" :modul="1" :pajak="0" />
            </div>
          </b-card>
          <b-card no-body v-if="selected_graph == 'waktu'" class="border-0">
            <div class="chart-wrapper">
              <line-example height="200" :kategori="'lainnya'" :modul="1" :pajak="0" />
            </div>
          </b-card>
          <v-divider></v-divider>

          <b-row>
            <b-col sm="12">
              <template>
                <v-data-table
                  :headers="hdams"
                  :items="dams"
                  hide-headers
                  hide-actions
                  :items-per-page="5"
                  dense="true"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                    <td class="text-xs-right">{{ props.item.skor }}</td>
                  </template>
                </v-data-table>
              </template>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab>
          <template slot="title">Tabel</template>

          <v-toolbar flat color="white">
            <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
            <v-divider class="mr-2 ml-4" inset vertical></v-divider>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
              class="float-right pt-0 mb-3 text-xs-left"
            ></v-text-field>
            <v-divider class="mx-2" inset vertical></v-divider>
          </v-toolbar>
          <v-data-table
            :rows-per-page-items="[5,10,25]"
            :loading="loading"
            loading-text="Loading... Please wait"
            :headers="hpelayanan_kesling"
            :items="pelayanan_keslings.query"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.id }}</td>
              <router-link
                :to="`pelayanan-kesehatan/${props.item.id}`"
                class="cursor-pointer text-blue"
                tag="td"
              >{{ props.item.nama}}</router-link>
              <td class="text-xs-left">{{ props.item.umur }}</td>
              <router-link
                exact
                tag="td"
                class="cursor-pointer text-blue"
                :to="`/profil/${props.item.petugas_username}`"
              >{{ props.item.petugas }}</router-link>
              <td class="text-xs-left">{{ props.item.kelurahan }}</td>
              <td class="text-xs-left">{{ props.item.kasus }}</td>
              <td class="text-xs-center">
                <v-chip
                  disabled
                  small
                  :color="getColor(props.item.status)"
                  text-color="white"
                >{{ props.item.status }}</v-chip>
              </td>
              <td class="justify-center">
                <b-button-group>
                  <!-- <b-btn variant="gray-100" small @click="editItem(props.item)">Sunting</b-btn> -->
                  <b-btn variant="danger" small @click="deleteModule(props.item.id)">Hapus</b-btn>
                </b-button-group>
              </td>
            </template>
            <v-alert
              slot="no-results"
              :value="true"
              color="error"
              icon="warning"
              class="bg-danger"
            >Data "{{ search }}" Tidak Ditemukan.</v-alert>
            <template slot="no-data">
              <div class="text-center">
                <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                <span>Tidak ada Data</span>
              </div>
            </template>
          </v-data-table>

          <p class="text-red"></p>
        </b-tab>
      </b-tabs>
    </b-card>
    <!-- End of Graph Card -->
    <CardAngkaPerpajakan />

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn variant="success" class="float-right" center @click="exportCsv()">Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <router-view />
  </div>
</template>
  

<script>
import CardAngkaPerpajakan from "@/components/CardAngkaPerpajakan";
import downloadCsv from "download-csv";

const HistoriCard = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./../HistoriCard"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const CardModulSatuan = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("@/components/CardModulSatuan"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const BarExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./BarExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const LineExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("../charts/LineExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

// import FilterKonten from "@/views/sample/modul/FilterKonten";

export default {
  name: "Pelayanan Kesehatan Lingkungan",
  components: {
    CardModulSatuan,

    BarExample,
    CardAngkaPerpajakan,
    // FilterKonten,
    HistoriCard,
    LineExample
  },
  mounted() {
    this.$store.commit("NOT_LOADING");
  },
  methods: {
    getColor(status) {
      if (status.toLowerCase() == "sehat") return "green";
      else if (status.toLowerCase() == "tidak sehat") return "red";
      else return "gray-500";
    },
    getGeneralModuleData() {
      axios
        .get("get-general-module-data/lainnya/1")
        .then(({ data }) => {
          this.pelayanan_keslings = data.data;
          this.loading = false;
        })
        .catch(err => {});
    },
    exportCsv() {
      const fields = [
        "id",
        "jenis",
        "jenis_kelamin",
        "kasus",
        "nama_pkl",
        "nama_tempat",
        "umur",
        "alamat",
        "koordinat",
        "waktu"
      ];
      downloadCsv(
        this.pelayanan_keslings.query,
        fields,
        "Data Pelayanan Kesehatan.csv"
      );
    },
    getOpdDataAccess() {
      axios
        .get("data-opd-access-module")
        .then(({ data }) => {
          this.opds = data.data.filter(item => item.data_id == 10);
        })
        .catch(err => {});
    },
    deleteModule(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Data ini akan dihapus dan dipindahkan ke trash!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .delete("pelayanankesling/" + id)
              .then(({ data }) => {
                swal.fire(
                  "Berhasil!",
                  "Data Pelayanan Kesehatan Dihapus.",
                  "success"
                );
                Fire.$emit("AfterEventPelayananKesehatan");
                Fire.$emit("AfterEventAllModule");
              })
              .catch(err => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    }
  },
  created() {
    this.getGeneralModuleData();
    this.getOpdDataAccess();
    Fire.$on("AfterEventPelayananKesehatan", () => {
      this.getGeneralModuleData();
    });
  },
  data() {
    return {
      exportdialog: false,
      selected_graph: "jumlah",
      hcard: {
        name: "Pelayanan Kesehatan Lingkungan",
        icon: "kesehatanlingkungan",
        kategori: "lainnya",
        modul: 1
      },
      indikators: [
        {
          name: "total",
          text: "Total",
          icon: "total",
          color: "success"
        },
        {
          name: "dalam_gedung",
          text: "Dalam Gedung",
          icon: "didalamgedung-s",
          color: "primary"
        },
        {
          name: "luar_gedung",
          text: "Luar Gedung",
          icon: "diluargedung-s",
          color: "danger"
        },
        {
          name: "belum_dijamah",
          text: "Belum Di inspeksi",
          icon: "ban-s",
          color: "gray-400"
        }
      ],
      opds: ["Dinas A", "Dinas B", "Dinas C"],
      loading: true,
      search: "",
      headers: [
        {
          text: "Dessert (100g serving)",
          align: "left",
          sortable: true,
          value: "name"
        },
        { text: "Calories", value: "calories" },
        { text: "Fat (g)", value: "fat" },
        { text: "Carbs (g)", value: "carbs" },
        { text: "Protein (g)", value: "protein" },
        { text: "Iron (%)", value: "iron" },
        { text: "Action", sortable: false }
      ],
      hpelayanan_kesling: [
        { text: "No", value: "id" },
        { text: "Nama", value: "nama" },
        { text: "Umur", value: "umur" },
        { text: "Petugas", value: "petugas" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Kasus", value: "kasus" },
        { text: "Status", value: "status" },
        { sortable: false }
      ],
      pelayanan_keslings: [],
      desserts: [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%"
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%"
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%"
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: "8%"
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: "16%"
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: "0%"
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: "2%"
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: "45%"
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: "22%"
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: "6%"
        }
      ]
    };
  }
};
</script>