<template>
  <div class="animated fadeIn">
    <!-- <FilterKonten /> -->
    <!-- Card -->
    <CardModulSatuan :header="hcard" :indikators="indikators" :opds="opds" />

    <!-- End of Card -->
    <HistoriCard :data_id="24" />
    <!-- Graph & Table Card -->
    <b-card>
      <b-row>
        <b-col sm="1">
          <b-img :src="'/images/icon/phbs-s.png'" fluid class="img-icon" />
        </b-col>
        <b-col sm="8">
          <h5 id="traffic" class="card-title mb-0">PHBS</h5>
          <small>
            Last Update :
            <i>2 September 2018</i>
          </small>
        </b-col>
      </b-row>
      <br />
      <b-tabs>
        <b-tab>
          <template slot="title">Grafik</template>
          <b-row>
            <b-col sm="12">
              <h4 class="text-center">Grafik Perbandingan</h4>

              <b-button-toolbar class="float-right">
                <b-form-radio-group
                  class="mr-3"
                  id="radiosBtn"
                  buttons
                  button-variant="outline-secondary"
                  v-model="selected_graph"
                  name="radiosBtn"
                >
                  <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                  <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                </b-form-radio-group>
              </b-button-toolbar>
            </b-col>
          </b-row>
          <b-card no-body v-if="selected_graph == 'jumlah'" class="border-0">
            <div class="chart-wrapper">
              <bar-example height="100" :kategori="'lainnya'" :modul="2" :pajak="0" />
            </div>
          </b-card>
          <b-card no-body v-if="selected_graph == 'waktu'" class="border-0">
            <div class="chart-wrapper">
              <line-example height="200" :kategori="'lainnya'" :modul="2" :pajak="0" />
            </div>
          </b-card>
          <v-divider></v-divider>

          <b-row>
            <b-col sm="12">
              <template>
                <v-data-table
                  :headers="hdams"
                  :items="dams"
                  hide-headers
                  hide-actions
                  :items-per-page="5"
                  dense="true"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                    <td class="text-xs-right">{{ props.item.skor }}</td>
                  </template>
                </v-data-table>
              </template>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab>
          <template slot="title">Tabel</template>

          <v-toolbar flat color="white">
            <b-button variant="success" @click="exportdialog = !exportdialog" small>Export CSV</b-button>
            <v-divider class="mr-2 ml-4" inset vertical></v-divider>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
              class="float-right pt-0 mb-3 text-xs-left"
            ></v-text-field>
            <v-divider class="mx-2" inset vertical></v-divider>
          </v-toolbar>
          <v-data-table
            :rows-per-page-items="[5,10,25]"
            :loading="loading"
            loading-text="Loading... Please wait"
            :headers="hphbs"
            :items="phbss"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.id }}</td>
              <router-link
                :to="`phbs/${props.item.id}`"
                class="cursor-pointer text-blue"
                tag="td"
              >{{ props.item.nama_kk }}</router-link>
              <td class="text-xs-left">{{ props.item.no_kk }}</td>
              <router-link
                exact
                tag="td"
                class="cursor-pointer text-blue"
                :to="`/profil/${props.item.petugas_username}`"
              >{{ props.item.petugas }}</router-link>
              <td class="text-xs-left">{{ props.item.kelurahan }}</td>
              <td class="text-xs-center">
                <v-chip
                  disabled
                  :color="getColor(props.item.status)"
                  small
                  text-color="white"
                >{{ props.item.status }}</v-chip>
              </td>
              <td class="justify-center">
                <b-button-group>
                  <!-- <b-btn variant="gray-100" small @click="editItem(props.item)">Sunting</b-btn> -->
                  <b-btn variant="danger" small @click="deleteItem(props.item)">Hapus</b-btn>
                </b-button-group>
              </td>
            </template>
            <v-alert
              slot="no-results"
              :value="true"
              color="error"
              icon="warning"
              class="bg-danger"
            >Data "{{ search }}" Tidak Ditemukan.</v-alert>
            <template slot="no-data">
              <div class="text-center">
                <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                <span>Tidak ada Data</span>
              </div>
            </template>
          </v-data-table>
        </b-tab>
      </b-tabs>
    </b-card>
    <!-- End of Graph Card -->
    <CardAngkaPerpajakan />

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn variant="success" class="float-right" center @click="exportCsv()">Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <router-view />
  </div>
</template>

<script>
import CardModulSatuan from "@/components/CardModulSatuan";

import CardAngkaPerpajakan from "@/components/CardAngkaPerpajakan";
import BarExample from "./BarExample";
import HistoriCard from "./../HistoriCard";
import LineExample from "../charts/LineExample";

// import FilterKonten from "@/views/sample/modul/FilterKonten";
import TabelGraf from "./TabelGraf";

export default {
  name: "PHBS",
  components: {
    CardModulSatuan,
    BarExample,
    CardAngkaPerpajakan,
    // FilterKonten,
    HistoriCard,
    TabelGraf,
    LineExample
  },
  mounted() {
    this.$store.commit("NOT_LOADING");
  },
  methods: {
    getColor(status) {
      if (status.toLowerCase() == "sehat") return "green";
      else if (status.toLowerCase() == "tidak sehat") return "red";
      else return "gray-500";
    }
  },
  data() {
    return {
      exportdialog: false,
      selected_graph: "jumlah",
      hcard: {
        name: "PHBS",
        icon: "phbs-s",
        last_update: "09-12-1998 14:14:13"
      },
      indikators: [
        {
          name: "total",
          text: "Total",
          icon: "total",
          color: "success"
        },
        {
          name: "indikator_1",
          text: "Memenuhi Persyaratan",
          icon: "like-s",
          color: "primary"
        },
        {
          name: "indikator_2",
          text: "Belum Memenuhi Persyaratan",
          icon: "dislike-s",
          color: "danger"
        }
        // {
        //   name: "indikator_3",
        //   text: "Belum Di inspeksi",
        //   icon: "ban-s",
        //   color: "gray-400",
        //   value: "8912739"
        // }
      ],
      opds: ["Dinas A", "Dinas B", "Dinas C"],
      loading: true,
      search: "",
      headers: [
        {
          text: "Dessert (100g serving)",
          align: "left",
          sortable: true,
          value: "name"
        },
        { text: "Calories", value: "calories" },
        { text: "Fat (g)", value: "fat" },
        { text: "Carbs (g)", value: "carbs" },
        { text: "Protein (g)", value: "protein" },
        { text: "Iron (%)", value: "iron" },
        { text: "Action", sortable: false }
      ],
      hphbs: [
        { text: "No", value: "id" },
        { text: "Nama KK", value: "nama_kk" },
        { text: "No. KK", value: "nomor_kk" },
        { text: "Petugas", value: "petugas" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "Status", value: "status" },
        { sortable: false }
      ],
      phbss: [
        // {
        //   id: 1,
        //   nama_tempat: "ayam",
        //   alamat: "JL Lagga",
        //   jumlah_jamaah: "200",
        //   kelas_rs: "A",
        //   no_telp: "01890237891",
        //   jam_operasional: "4.30 - 20.30",
        //   skor: "76",
        //   status: "Sehat"
        // },
        // {
        //   id: 2,
        //   nama_tempat: "beruang",
        //   alamat: "JL Lagga",
        //   jumlah_jamaah: "200",
        //   kelas_rs: "A",
        //   no_telp: "01890237891",
        //   jam_operasional: "4.30 - 20.30",
        //   skor: "76",
        //   status: "Sehat"
        // },
        // {
        //   id: 3,
        //   nama_tempat: "bambang",
        //   alamat: "JL Lagga",
        //   jumlah_jamaah: "200",
        //   kelas_rs: "A",
        //   no_telp: "01890237891",
        //   jam_operasional: "4.30 - 20.30",
        //   skor: "76",
        //   status: "Sehat"
        // }
      ]
    };
  }
};
</script>