<template>
  <div class="animated fadeIn">
    <!-- <CardRumahSehat :rs="rs"/> -->
    <CardModuls :kategori="'rs'" :modulesDataComponentParse="dataModules.rs" />

    <!-- End of Card -->
    <HistoriCard :data_id="36" />

    <!-- card graph -->
    <b-card>
      <b-tabs v-model="tabIndex" no-fade>
        <b-tab>
          <template slot="title">Rumah Sehat</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/rumahsehat.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Rumah Sehat</h5>
              <small>
                Last Update :
                <i>{{ IndonesiaDateFormat(data.general.last_update) }}</i>
              </small>
              <br />
              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                      style="z-index:99999;"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :sub_kategori="'rs'"
                    :modul="1"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :sub_kategori="'rs'"
                    :modul="1"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hdams"
                      :items="data.general.query"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>

              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="headers2"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <!-- -->
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>

                  <td class="text-xs-left">{{ props.item.nmr_kk }}</td>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td>{{ props.item.kelurahan }}</td>
                  <td class="text-xs-left">{{ props.item.imb }}</td>
                  <td class="text-xs-left">{{ props.item.total_nilai }}</td>
                  <td class="text-xs-left">{{ props.item.status_rumah }}</td>
                  <!-- <td class="text-xs-left">{{ props.item.total_nilai }}</td> -->
                  <td class="text-xs-center" v-show="props.item.status == 'Sehat'">
                    <v-chip disabled small color="green" text-color="white">Sehat</v-chip>
                  </td>
                  <td class="text-xs-center" v-show="props.item.status == 'Tidak Sehat'">
                    <v-chip disabled small color="red" text-color="white">Tidak Sehat</v-chip>
                  </td>

                  <td class>
                    <b-btn small @click="deleteRumahSehat(props.item.id)" class="btn-danger">Hapus</b-btn>
                  </td>
                  <!-- </router-link> -->
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>

        <b-tab>
          <template slot="title">PJB</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/jentikberkala.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Pemantauan Jentik Berkala</h5>
              <small>
                Last Update :
                <i>{{IndonesiaDateFormat(data.general.last_update)}}</i>
              </small>

              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :modul="2"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :modul="2"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hpjb"
                      :items="data.general.query"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <router-link
                          tag="td"
                          :to="`modul/rumah-sehat/${props.item.id}`"
                          class="cursor-pointer text-xs-left text-blue"
                        >{{ props.item.nama_kk }}</router-link>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>
              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 mb-3 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="hpjb"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>

                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>
                  <td>{{ props.item.kelurahan }}</td>
                  <td class="text-xs-center">
                    <v-chip
                      disabled
                      small
                      :color="getColor(props.item.pjb)"
                      text-color="white"
                    >{{ statuspjb(props.item.pjb) }}</v-chip>
                  </td>
                  <td class>
                    <b-btn small @click="deleteRumahSehat(props.item.id)" class="btn-danger">Hapus</b-btn>
                  </td>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>

        <b-tab>
          <template slot="title">SPAL</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/spal.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Saluran Pembuangan Air Limbah</h5>
              <small>
                Last Update :
                <i>{{IndonesiaDateFormat(data.general.last_update)}}</i>
              </small>
              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :modul="3"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :modul="3"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hdams"
                      :items="data.general.query"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>
              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 mb-3 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="hspal"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td>{{ props.item.kelurahan }}</td>
                  <td class="text-xs-center">
                    <v-chip
                      disabled
                      small
                      :color="getColor(props.item.spal)"
                      text-color="white"
                    >{{ props.item.spal }}</v-chip>
                  </td>

                  <td class>
                    <b-btn small @click="deleteRumahSehat(props.item.id)" class="btn-danger">Hapus</b-btn>
                  </td>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>

        <b-tab>
          <template slot="title">SAB</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/sab.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Sarana Air Bersih</h5>
              <small>
                Last Update :
                <i>{{IndonesiaDateFormat(data.general.last_update)}}</i>
              </small>
              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :modul="4"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :modul="4"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hdams"
                      :items="dams"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>
              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 mb-3 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="hsab"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>
                  <td class="text-xs-left">{{ props.item.nmr_kk }}</td>
                  <td class="text-xs-left">{{ props.item.pemilik_sab }}</td>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td>{{ props.item.kelurahan }}</td>
                  <td class="text-xs-left">{{ props.item.jenis_sab }}</td>
                  <td class="text-xs-left">{{ props.item.total_nilai_sab }}</td>
                  <td class="text-xs-center">
                    <v-chip
                      v-if="props.item.status_sab != null"
                      disabled
                      small
                      :color="getColor(props.item.status_sab)"
                      :text-color="getColortext(props.item.status_sab)"
                    >{{ statussab(props.item.status_sab) }}</v-chip>
                    <v-chip v-else disabled small color="gray" text-color="black">Belum ada Data</v-chip>
                  </td>

                  <td class="text-xs-center">
                    <b-btn small @click="deleteRumahSehat(props.item.id)" class="btn-danger">Hapus</b-btn>
                  </td>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>

        <b-tab>
          <template slot="title">Jamban</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/jamban.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Jamban</h5>
              <small>
                Last Update :
                <i>{{IndonesiaDateFormat(data.general.last_update)}}</i>
              </small>
              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :modul="5"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :modul="5"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hjamban"
                      :items="data.general.query"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>
              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 mb-3 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="hjamban"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td>{{ props.item.kelurahan }}</td>

                  <td class="text-xs-left">
                    <v-chip
                      disabled
                      small
                      :color="getColor(props.item.jamban)"
                      text-color="white"
                    >{{props.item.jamban}}</v-chip>
                  </td>

                  <td>
                    <b-btn
                      variant="danger"
                      small
                      @click="deleteRumahSehat(props.item.id)"
                      class="btn-danger"
                    >Hapus</b-btn>
                  </td>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>

        <b-tab>
          <template slot="title">Sampah</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/sampah.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Sampah</h5>
              <small>
                Last Update :
                <i>{{IndonesiaDateFormat(data.general.last_update)}}</i>
              </small>
              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :modul="6"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :modul="6"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hsampah"
                      :items="data.general.query"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>
              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 mb-3 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="hsampah"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td>{{ props.item.kelurahan }}</td>
                  <td class="text-xs-center">
                    <v-chip
                      disabled
                      small
                      :color="getColor(props.item.status)"
                      text-color="white"
                    >{{ getStatus(props.item.status) }}</v-chip>
                  </td>

                  <td class>
                    <b-btn small @click="deleteRumahSehat(props.item.id)" class="btn-danger">Hapus</b-btn>
                  </td>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>

        <b-tab>
          <template slot="title">Status Tempat Tinggal</template>
          <b-row class="mb-2">
            <b-col sm="1">
              <b-img :src="'/images/icon/statustempattinggal.png'" fluid class="img-icon" />
            </b-col>
            <b-col sm="6">
              <h5 id="traffic" class="card-title mb-0">Status Tempat Tinggal</h5>
              <small>
                Last Update :
                <i>{{IndonesiaDateFormat(data.general.last_update)}}</i>
              </small>
              <div class="small text-muted"></div>
            </b-col>
          </b-row>
          <b-tabs no-fade>
            <b-tab>
              <template slot="title">Grafik</template>
              <b-row>
                <b-col sm="12">
                  <h4 class="text-center">Grafik Perbandingan</h4>

                  <b-button-toolbar class="float-right">
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected_graph"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                      <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>

              <b-card no-body class="border-0">
                <div class="chart-wrapper">
                  <bar-example
                    v-if="selected_graph == 'jumlah'"
                    height="100"
                    :kategori="'rs'"
                    :modul="7"
                    :pajak="0"
                  />
                  <line-example
                    v-if="selected_graph == 'waktu'"
                    height="200"
                    :kategori="'rs'"
                    :modul="7"
                    :pajak="0"
                  />
                </div>
              </b-card>
              <v-divider></v-divider>

              <!-- <b-row>
                <b-col sm="12">
                  <template>
                    <v-data-table
                      :headers="hsampah"
                      :items="data.general.query"
                      hide-headers
                      hide-actions
                      :items-per-page="5"
                      dense="true"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                        <td class="text-xs-right">{{ props.item.total_nilai }}</td>
                      </template>
                    </v-data-table>
                  </template>
                </b-col>
              </b-row>-->
            </b-tab>
            <b-tab>
              <template slot="title">Tabel</template>
              <v-toolbar flat color="white">
                <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
                <v-divider class="mr-2 ml-4" inset vertical></v-divider>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  class="float-right pt-0 mb-3 text-xs-left"
                ></v-text-field>
              </v-toolbar>
              <v-data-table
                :rows-per-page-items="[5,10,25]"
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="hstatustempattinggal"
                :items="data.general.query"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td
                    class="text-xs-left"
                  >{{ data.general.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <router-link
                    exact
                    tag="td"
                    :to="`/modul/rumah-sehat/${props.item.id}`"
                    class="cursor-pointer text-xs-left text-blue"
                  >{{ props.item.nama_kk }}</router-link>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td>{{ props.item.kelurahan }}</td>
                  <!-- <td class="text-xs-left">{{ props.item.sampah }}</td> -->
                  <td class="text-xs-left">
                    <v-chip
                      disabled
                      small
                      :color="getColor(props.item.status_rumah)"
                      text-color="white"
                    >{{ props.item.status_rumah }}</v-chip>
                  </td>

                  <td class>
                    <b-btn small @click="deleteRumahSehat(props.item.id)" class="btn-danger">Hapus</b-btn>
                  </td>
                </template>
                <v-alert
                  slot="no-results"
                  :value="true"
                  color="error"
                  icon="warning"
                  class="bg-danger"
                >Data "{{ search }}" Tidak Ditemukan.</v-alert>
                <template slot="no-data">
                  <div class="text-center">
                    <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                    <span>Tidak ada Data</span>
                  </div>
                </template>
              </v-data-table>
              <p class="text-red">*data yang ditampilkan adalah data terakhir dari waktu penginputan</p>
            </b-tab>
          </b-tabs>
        </b-tab>
      </b-tabs>
    </b-card>
    <CardAngkaPerpajakan :kategori="'rs'" :modul="1" :pajak="1" />

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn
            variant="success"
            class="float-right"
            center
            @click="exportCsvRumahSehat()"
          >Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- End of Graph Card -->
    <router-view />
  </div>
</template>
  

<script>
import CardModuls from "../../sample/dashboard/CardModuls";
import CardAngkaPerpajakan from "@/components/CardAngkaPerpajakan";
import BarExample from "./BarExample";
import HistoriCard from "./../HistoriCard";
// import TabelGraf from "./TabelGraf";
// import FilterKonten from "@/views/sample/modul/FilterKonten";
import LineExample from "../charts/LineExample";
import SocialBoxChartExample from "../dashboard/SocialBoxChartExample";
import downloadCsv from "download-csv";

export default {
  name: "Rumah-Sehat",
  loading: true,
  components: {
    CardModuls,
    BarExample,
    CardAngkaPerpajakan,
    HistoriCard,
    LineExample,
    SocialBoxChartExample
  },
  data() {
    return {
      exportdialog: false,
      selected_graph: "jumlah",
      headers2: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "No. KK", value: "nmr_kk" },
        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        { text: "IMB", value: "imb" },
        { text: "Skor", value: "total_nilai" },
        { text: "Status Rumah", value: "status_rumah" },
        { text: "Status", value: "status" },
        { text: "", sortable: false }
      ],
      data: {
        rumah_sehat: {}
      },
      hpjb: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        { text: "Status", value: "pjb" },
        { text: "", sortable: false }
      ],
      hspal: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        { text: "Status", value: "spal" },
        { text: "", sortable: false }
      ],
      hsab: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "No. KK", value: "nmr_kk" },
        { text: "Pemilik SAB", value: "pemilik_sab" },

        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        { text: "Jenis SAB", value: "jenis_sab" },
        { text: "Skor", value: "total_nilai_sab" },
        { text: "Status", value: "status_sab" },
        { text: "", sortable: false }
      ],
      hjamban: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        { text: "Jamban", value: "jamban" },
        { text: "", sortable: false }
      ],
      hsampah: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        // { text: "Sampah", value: "sampah" },
        { text: "Sampah", value: "sampah" },
        { text: "", sortable: false }
      ],
      hstatustempattinggal: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Petugas", value: "petugas" },

        { text: "Kelurahan", value: "kelurahan" },
        // { text: "Sampah", value: "sampah" },
        { text: "Status", value: "status_rumah" },
        { text: "", sortable: false }
      ],
      kategoris: {
        rumahsehat: { icon: "rumahsehat", title: "Rumah Sehat" }
      },
      hcard: {
        name: "Rumah Sehat",
        icon: "rumahsehat",
        last_update: ""
      },
      indikators: [
        {
          name: "total",
          text: "Total",
          icon: "total",
          color: "success",
          value: "192839"
        },
        {
          name: "indikator_1",
          text: "Memenuhi Persyaratan",
          icon: "like-s",
          color: "primary",
          value: "12892"
        },
        {
          name: "indikator_2",
          text: "Belum Memenuhi Persyaratan",
          icon: "dislike-s",
          color: "danger",
          value: "819273"
        }
      ],
      opds: ["Dinas A", "Dinas B", "Dinas C"],
      data: [],
      loading: true,
      search: "",
      search_rs: "",
      dataOpd: [],
      histories: [],
      filterCandidates: [],
      tabIndex: 0,
      dataModules: {
        rs: {
          general: {
            last_update: ""
          },
          items: {
            rumah_sehat: {
              sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_sehat: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            pjb: {
              tidak_ada_jentik: {
                value: 0,
                percent: "0%",
                legend: []
              },
              ada_jentik: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            spal: {
              tertutup: {
                value: 0,
                percent: "0%",
                legend: []
              },
              terbuka: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            sab: {
              pompa: {
                value: 0,
                percent: "0%",
                legend: []
              },
              sumur_gali: {
                value: 0,
                percent: "0%",
                legend: []
              },
              sumur_gali_plus: {
                value: 0,
                percent: "0%",
                legend: []
              },
              perpipaan_pdam: {
                value: 0,
                percent: "0%",
                legend: []
              },
              mata_air: {
                value: 0,
                percent: "0%",
                legend: []
              },
              amat_tinggi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tinggi: {
                value: 0,
                percent: "0%",
                legend: []
              },
              sedang: {
                value: 0,
                percent: "0%",
                legend: []
              },
              rendah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            jamban: {
              koya: {
                value: 0,
                percent: "0%",
                legend: []
              },
              kali: {
                value: 0,
                percent: "0%",
                legend: []
              },
              helikopter: {
                value: 0,
                percent: "0%",
                legend: []
              },
              septik_tank: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            sampah: {
              dipilah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              tidak_dipilah: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            },
            stt: {
              rumah_sendiri: {
                value: 0,
                percent: "0%",
                legend: []
              },
              kontrak: {
                value: 0,
                percent: "0%",
                legend: []
              },
              total: {
                value: 0,
                percent: "0%",
                legend: []
              },
              last_update: 0
            }
          }
        }
      }
    };
  },
  methods: {
    getModulesData(param) {
      return axios.get("get-modules-data/" + param, {
        params: {
          kecamatan: this.$route.query.kecamatan,
          kelurahan: this.$route.query.kelurahan,
          rw: this.$route.query.rw,
          rt: this.$route.query.rt,
          tanggal: this.$route.query.tanggal
        }
      });
    },
    getColor(status) {
      if (status.toLowerCase() == "sehat") return "green";
      else if (status.toLowerCase() == "milik sendiri") return "green";
      else if (status.toLowerCase() == "dipilah") return "green";
      else if (status.toLowerCase() == "tidak") return "green";
      else if (status.toLowerCase() == "tertutup") return "green";
      else if (status.toLowerCase() == "tinggi (t)") return "yellow";
      else if (
        status.toLowerCase() == "rendah (r)" ||
        status.toLowerCase() == "sedang (s)"
      )
        return "green";
      else if (
        status.toLowerCase() == "septik tank" ||
        status.toLowerCase() == "helikopter"
      )
        return "green";
      else if (
        status.toLowerCase() == "mata air" ||
        status.toLowerCase() == "perpipaan pdam"
      )
        return "blue";
      else return "red";
    },
    getColortext(status) {
      if (status.toLowerCase() == "tinggi (t)") return "black";
      else return "white";
    },
    getStatus(status) {
      if (status.toLowerCase() == "sehat") return "Dipilah";
      else return "Tidak Dipilah";
    },
    statuspjb(status) {
      if (status.toLowerCase() == "ya") return "Ada Jentik";
      else return "Tidak ada Jentik";
    },
    statusspal(status) {
      if (status.toLowerCase() == "tertutup") return "Tertutup";
      else return "Terbuka";
    },
    statussab(status) {
      if (status.toLowerCase() == "amat tinggi (at)") return "Amat Tinggi";
      else if (status.toLowerCase() == "tinggi (t)") return "Tinggi";
      else if (status.toLowerCase() == "sedang (s)") return "Sedang";
      else if (status.toLowerCase() == "rendah (r)") return "Rendah";
      else if (status.toLowerCase() == "perpipaan pdam")
        return "Perpipaan PDAM";
      else if (status.toLowerCase() == "mata air") return "Mata Air";
      else return "Belum ada Data";
    },
    getOpdByData() {
      axios
        .get("get-opd-by-data/" + 36)
        .then(({ data }) => {
          this.dataOpd = data.data;
          this.$store.commit("NOT_LOADING");
        })
        .catch(err => {});
    },
    getGrafikAndTableData() {
      return axios.get("get-grafik-tabel/rs", {
        params: {
          kecamatan: this.$route.query.kecamatan,
          kelurahan: this.$route.query.kelurahan,
          rw: this.$route.query.rw,
          rt: this.$route.query.rt,
          tanggal: this.$route.query.tanggal
        }
      });
    },
    exportCsvRumahSehat() {
      const fields = [
        "id",
        "nama_kk",
        "nmr_kk",
        "nop",
        "total_nilai",
        "status",
        "pjb",
        "sampah",
        "spal",
        "jamban",
        "petugas",
        "imb",
        "status_rumah",
        "status_sab",
        "jenis_sab",
        "alamat"
      ];
      downloadCsv(this.data.general.query, fields, "Data Rumah Sehat.csv");
    },
    deleteRumahSehat(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Data ini akan dihapus dan dipindahkan ke trash!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .delete("rumahsehat/custom/destroy-from-website/" + id)
              .then(() => {
                swal.fire("Berhasil!", "Data Rumah Sehat dihapus.", "success");
                Fire.$emit("AfterDeleteRumahSehat");
              })
              .catch(() => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    },
    openedModul(mod) {
      if (mod == "/modul/pjb") return (this.tabIndex = 1);
      else if (mod == "/modul/spal") return (this.tabIndex = 2);
      else if (mod == "/modul/sab") return (this.tabIndex = 3);
      else if (mod == "/modul/jamban") return (this.tabIndex = 4);
      else if (mod == "/modul/sampah") return (this.tabIndex = 5);
      else if (mod == "/modul/status-tempat-tinggal")
        return (this.tabIndex = 6);
      else return (this.tabIndex = 0);
    },
    display() {
      const grafikTableData = this.getGrafikAndTableData();
      const modulesData = this.getModulesData("rs");

      axios
        .all([grafikTableData, modulesData])
        .then(
          axios.spread((...responses) => {
            //grafikTableData
            this.data = responses[0].data.data;

            // this.data.general.query.map(function(value, key) {
            //   if (this.data.general.query[key].pjb == "Ya") {
            //     this.data.general.query[key].pjb = "Ada jentik";
            //   } else if (this.data.general.query[key].pjb == "Tidak") {
            //     this.data.general.query[key].pjb = "Tidak ada jentik";
            //   }
            // });

            // modulesData
            this.dataModules.rs = responses[1].data.data;

            setTimeout(() => {
              this.$store.commit("NOT_LOADING");
              this.$store.commit("REMOVE_FILTER_LOADING");

              this.loading = false;
            }, 500);

            console.log("display api has been executed");
          })
        )
        .catch(errors => {
          this.$store.commit("NOT_LOADING");
          this.$store.commit("SERVER_ERROR");
        });
    }
  },
  created() {
    Fire.$on("AfterDeleteRumahSehat", () => {
      this.getGrafikAndTableData();
    });
  },
  beforeCreate() {
    this.$store.commit("STILL_LOADING");
  },
  mounted() {
    this.display();

    Fire.$on("AfterFilter", () => {
      this.display();
    });

    this.openedModul(this.$router.currentRoute.path);
  },
  watch: {
    $route(to, from) {
      this.openedModul(this.$router.currentRoute.path);
    }
  },
  beforeDestroy() {
    Fire.$off("AfterDeleteRumahSehat");
    Fire.$off("AfterFilter");
    this.$route.query = {};
  }
};
</script>