    <template>
  <div class="animated fadeIn">
    <!-- <FilterKonten v-on:filterAction="onFilter($event)" /> -->
    <!-- Card -->
    <CardModulSatuan :header="hcard" :indikators="indikators" :opds="opds" />
    <!-- End of Card -->

    <b-card no-body class="overflow-hidden">
      <b-collapse id="collapse-ter" v-model="collapseTer">
        <b-row no-gutters>
          <b-col md="5">
            <div class="imgcontainer p-0 m-0">
              <b-img-lazy center class="img-ter" src="/images/default/rumahkosong-01.png" />
            </div>
          </b-col>
          <b-col md="7">
            <b-card-body class="pb-0">
              <div @click="collapseTer=false" class="float-right cursor-pointer">
                <i class="fa fa-close" />
              </div>
              <b-card-title>
                <p class="text-center">Rumah Sakit {{ter.nama_tempat}}</p>
              </b-card-title>

              <div class="mt-5">
                <b-col class="px-0 my-2" cols="12">
                  <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                      <b-img
                        :src="'/images/jumlahjumlah/jumlahpenduduk-s.png'"
                        class="bg-warning p-3 mr-3 float-left img-dashboard"
                      />
                      <div class="h5 text-warning mb-0 pt-3">{{ter.rata_rata_rawat_inap}}</div>
                      <div
                        class="text-muted text-uppercase font-weight-bold font-xs"
                      >Jumlah Pasien Rawat Inap</div>
                    </b-card-body>
                  </b-card>
                </b-col>
                <b-col class="px-0 my-2" cols="12">
                  <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                      <b-img
                        :src="'/images/jumlahjumlah/lakilaki-s.png'"
                        class="bg-danger p-3 mr-3 float-left img-dashboard"
                      />
                      <div class="h5 text-danger mb-0 pt-3">{{ter.penyakit_terbanyak}}</div>
                      <div
                        class="text-muted text-uppercase font-weight-bold font-xs"
                      >Penyakit Terbanyak</div>
                    </b-card-body>
                  </b-card>
                </b-col>
              </div>
            </b-card-body>
          </b-col>
        </b-row>
        <v-divider class="mt-1 mb-1" />
      </b-collapse>

      <div class="mt-1 h3 text-center">Penyakit Terbanyak</div>

      <b-row>
        <b-col cols="12">
          <v-data-table
            hide-actions
            :headers="h_ter"
            :items="rumahsakits.query"
            :items-per-page="5"
            :rows-per-page-items="[5]"
            :pagination.sync="pagination"
            hide-default-footer
          >
            <template slot="items" slot-scope="props">
              <tr class="cursor-pointer text-blue" @click="selected(props.item)">
                <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                <td class="text-xs-left">{{ props.item.rata_rata_rawat_inap }}</td>
                <td class="text-xs-left">{{ props.item.penyakit_terbanyak }}</td>
              </tr>
            </template>
          </v-data-table>
        </b-col>
      </b-row>
    </b-card>
    <HistoriCard :data_id="2" />
    <!-- Histori Card -->
    <b-card>
      <b-row>
        <b-col sm="1">
          <b-img :src="'/images/icon/rumahsakit.png'" fluid class="img-icon" />
        </b-col>
        <b-col sm="8">
          <h5 id="traffic" class="card-title mb-0">Rumah Sakit</h5>
          <small>
            Last Update :
            <i>{{ IndonesiaDateFormat(rumahsakits.last_update) }}</i>
          </small>
        </b-col>
      </b-row>
      <br />
      <b-tabs>
        <b-tab>
          <template slot="title">Grafik</template>
          <b-row>
            <b-col sm="12">
              <h4 class="text-center">Grafik Perbandingan</h4>

              <b-button-toolbar class="float-right">
                <b-form-radio-group
                  class="mr-3"
                  id="radiosBtn"
                  buttons
                  button-variant="outline-secondary"
                  v-model="selected_graph"
                  name="radiosBtn"
                >
                  <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                  <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                </b-form-radio-group>
              </b-button-toolbar>
            </b-col>
          </b-row>
          <b-card no-body v-if="selected_graph == 'jumlah'" class="border-0">
            <div class="chart-wrapper">
              <bar-example height="100" :kategori="'ttu'" :modul="7" :pajak="0" />
            </div>
          </b-card>
          <b-card no-body v-if="selected_graph == 'waktu'" class="border-0">
            <div class="chart-wrapper">
              <line-example height="200" :kategori="'ttu'" :modul="7" :pajak="0" />
            </div>
          </b-card>
          <v-divider></v-divider>

          <b-row>
            <b-col sm="12">
              <template>
                <v-data-table
                  :headers="hdams"
                  :items="dams"
                  hide-headers
                  hide-actions
                  :items-per-page="5"
                  dense="true"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                    <td class="text-xs-right">{{ props.item.skor }}</td>
                  </template>
                </v-data-table>
              </template>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab>
          <template slot="title">Tabel</template>

          <v-toolbar flat color="white">
            <b-button variant="success" small @click="exportCsv()">Export CSV</b-button>
            <v-divider class="mr-2 ml-4" inset vertical></v-divider>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
              class="float-right pt-0 mb-3 text-xs-left"
            ></v-text-field>
            <v-divider class="mx-2" inset vertical></v-divider>
          </v-toolbar>
          <v-data-table
            :rows-per-page-items="[5,10,25]"
            :loading="loading"
            loading-text="Loading... Please wait"
            :headers="headers"
            :items="rumahsakits.query"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.id }}</td>
              <router-link
                :to="`rumah-sakit/${props.item.id}`"
                class="cursor-pointer text-blue"
                tag="td"
              >{{ props.item.nama_tempat }}</router-link>
              <router-link
                exact
                tag="td"
                class="cursor-pointer text-blue"
                :to="`/profil/${props.item.petugas_username}`"
              >{{ props.item.petugas }}</router-link>
              <td class="text-xs-left">{{ props.item.kelurahan }}</td>
              <td class="text-xs-left">{{ props.item.imb }}</td>
              <td class="text-xs-left">{{ props.item.skor }}</td>
              <td class="text-xs-center">
                <v-chip
                  disabled
                  small
                  :color="getColor(props.item.status)"
                  text-color="white"
                >{{ props.item.status }}</v-chip>
              </td>
              <td class="justify-center">
                <b-button-group>
                  <!-- <b-btn variant="gray-100" small @click="editItem(props.item)">Sunting</b-btn> -->
                  <b-btn variant="danger" small @click="deleteModule(props.item.id)">Hapus</b-btn>
                </b-button-group>
              </td>
            </template>
            <v-alert
              slot="no-results"
              :value="true"
              color="error"
              icon="warning"
              class="bg-danger"
            >Data "{{ search }}" Tidak Ditemukan.</v-alert>
            <template slot="no-data">
              <div class="text-center">
                <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                <span>Tidak ada Data</span>
              </div>
            </template>
          </v-data-table>

          <p class="text-red"></p>
        </b-tab>
      </b-tabs>
    </b-card>
    <!-- End of Graph Card -->

    <!-- Card IMB -->
    <CardAngkaPerpajakan />

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn variant="success" class="float-right" center @click="exportCsv()">Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <router-view />
  </div>
</template>
  

<script>
import CardAngkaPerpajakan from "@/components/CardAngkaPerpajakan";
import downloadCsv from "download-csv";

const HistoriCard = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./../HistoriCard"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const CardModulSatuan = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("@/components/CardModulSatuan"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const BarExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./BarExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const LineExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("../charts/LineExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

export default {
  name: "Rumah Sakit",
  components: {
    CardModulSatuan,
    BarExample,
    CardAngkaPerpajakan,
    HistoriCard,
    LineExample
  },
  data() {
    return {
      exportdialog: false,
      pagination: {
        rowsPerPage: 5
      },
      options: {
        sortDesc: ["luas_bangunan"]
      },
      ter: {},

      collapseTer: false,
      rs_ter: {
        nama_rs: "Harapan Saya",
        lokasi: "Margondragon",
        luas: 8724,
        jml_pasien_rawat: 14123,
        penyakit_terbanyak: "Tifus"
      },
      h_ter: [
        { text: "Nama Tempat", value: "nama_tempat" },
        { text: "Jumlah Pasien", value: "rata_rata_rawat_inap" },
        { text: "Penyakit Terbanyak", value: "penyakit_terbanyak" }
      ],
      selected_graph: "jumlah",
      hcard: {
        name: "Rumah Sakit",
        icon: "rumahsakit",
        kategori: "ttu",
        modul: 7
      },
      indikators: [
        {
          name: "total",
          text: "Total",
          icon: "total",
          color: "success"
        },
        {
          name: "sehat",
          text: "Sehat",
          icon: "like-s",
          color: "primary"
        },
        {
          name: "tidak_sehat",
          text: "Tidak Sehat",
          icon: "dislike-s",
          color: "danger"
        },
        {
          name: "belum_dijamah",
          text: "Belum Di inspeksi",
          icon: "ban-s",
          color: "gray-400"
        }
      ],
      opds: [],
      loading: true,
      search: "",
      headers: [
        { text: "No", value: "id" },
        { text: "Nama Tempat", value: "nama_tempat" },
        { text: "Petugas", value: "petugas" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "IMB", value: "imb" },
        { text: "Skor", value: "skor" },
        { text: "Status", value: "status" },
        { sortable: false }
      ],
      rumahsakits: []
    };
  },
  methods: {
    getColor(status) {
      if (status.toLowerCase() == "sehat") return "green";
      else if (status.toLowerCase() == "tidak sehat") return "red";
      else return "gray-500";
    },
    selected(x) {
      this.collapseTer = true;
      this.ter.nama_tempat = x.nama_tempat;
      this.ter.rata_rata_rawat_inap = x.rata_rata_rawat_inap;
      this.ter.penyakit_terbanyak = x.penyakit_terbanyak;
    },
    getGeneralModuleData() {
      axios
        .get("get-general-module-data/ttu/7")
        .then(({ data }) => {
          setTimeout(() => {
            this.$store.commit("NOT_LOADING");
            this.$store.commit("REMOVE_FILTER_LOADING");
          }, 500);

          this.rumahsakits = data.data;
          this.loading = false;
        })
        .catch(err => {
          this.$store.commit("NOT_LOADING");
          this.$store.commit("SERVER_ERROR");
        });
    },
    exportCsv() {
      const fields = [
        "id",
        "jumlah_tempat_tidur",
        "koordinat",
        "kelas_rs",
        "nama_tempat",
        "no_telp",
        "penyakit_terbanyak",
        "rata_rata_rawat_inap",
        "jam_operasional",
        "status",
        "skor",
        "petugas",
        "imb",
        "waktu",
        "alamat"
      ];
      downloadCsv(this.rumahsakits.query, fields, "Data Rumah Sakit.csv");
    },
    getOpdDataAccess() {
      axios
        .get("data-opd-access-module")
        .then(({ data }) => {
          this.opds = data.data.filter(item => item.data_id == 2);
        })
        .catch(err => {});
    },
    deleteModule(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Data ini akan dihapus dan dipindahkan ke trash!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .delete("rumahsakit/" + id)
              .then(({ data }) => {
                swal.fire("Berhasil!", "Data Rumah Sakit Dihapus.", "success");
                Fire.$emit("AfterEventRumahSakit");
                Fire.$emit("AfterEventAllModule");
              })
              .catch(err => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    }
  },
  beforeCreate() {
    this.$store.commit("STILL_LOADING");
  },
  mounted() {
    this.getOpdDataAccess();
    this.getGeneralModuleData();

    Fire.$on("AfterEventRumahSakit", () => {
      this.getGeneralModuleData();
    });

    Fire.$on("AfterFilter", () => {
      this.getGeneralModuleData();
    });
  },
  beforeDestroy() {
    Fire.$off("AfterEventRumahSakit");
    Fire.$off("AfterFilter");
    this.$route.query = {};
  }
};
</script>