<template>
  <div class="animated fadeIn">
    <!-- <FilterKonten v-on:filterAction="onFilter($event)" /> -->
    <!-- Card -->
    <CardModulSatuan :header="hcard" :indikators="indikators" :opds="opds" />

    <!-- End of Card -->

    <!-- Card Ter -->
    <b-card no-body class="overflow-hidden">
      <b-collapse id="collapse-ter" v-model="collapseTer">
        <b-row no-gutters>
          <b-col md="5">
            <div class="imgcontainer p-0 m-0">
              <b-img-lazy center class="img-ter" src="/images/default/default-sekolah.jpg" />
            </div>
          </b-col>
          <b-col md="7">
            <b-card-body class="pb-0">
              <div @click="collapseTer=false" class="float-right cursor-pointer">
                <i class="fa fa-close" />
              </div>
              <b-card-title>
                <p class="text-center mb-3">Sekolah {{ter.nama_tempat}}</p>
              </b-card-title>

              <div class="mt-5">
                <b-col class="px-0" cols="12">
                  <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                      <b-img
                        :src="'/images/icon2/didalamgedung-s.png'"
                        class="bg-primary p-3 mr-3 float-left img-dashboard"
                      />
                      <div class="h5 text-primary mb-0 pt-3">{{ter.luas_bangunan}} m&sup2;</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Luas Bangunan</div>
                    </b-card-body>
                  </b-card>
                </b-col>
                <b-col class="px-0" cols="12">
                  <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                      <b-img
                        :src="'/images/icon/peta.png'"
                        class="bg-success p-3 mr-3 float-left img-dashboard"
                      />
                      <div class="h5 text-success mb-0 pt-3">{{ter.luas_tanah}}</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Luas Tanah</div>
                    </b-card-body>
                  </b-card>
                </b-col>
                <b-col class="px-0" cols="12">
                  <b-card :no-body="true">
                    <b-card-body class="p-0 clearfix">
                      <b-img
                        :src="'/images/jumlahjumlah/jumlahpenduduk-s.png'"
                        class="bg-warning p-3 mr-3 float-left img-dashboard"
                      />
                      <div class="h5 text-warning mb-0 pt-3">{{ter.jml_siswa}}</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Jumlah Siswa</div>
                    </b-card-body>
                  </b-card>
                </b-col>
              </div>
            </b-card-body>
          </b-col>
        </b-row>
        <v-divider class="mt-1 mb-1" />
      </b-collapse>

      <!-- <div class="mt-1 h3 text-center">5 Sekolah Terbesar</div>

      <b-row>
        <b-col cols="12">
          <v-data-table
            hide-actions
            :headers="h_ter"
            :items="sekolahs_terbesar.query"
            :items-per-page="5"
            :pagination.sync="pagination"
            :sort-by="['jml_siswa']"
            :sort-desc="[true]"
          >
            <template slot="items" slot-scope="props">
              <tr class="cursor-pointer" @click="selected(props.item)">
                <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                <td class="text-xs-left">{{ props.item.luas_bangunan }} m&sup2;</td>
                <td class="text-xs-left">{{ props.item.luas_tanah }} m&sup2;</td>
                <td class="text-xs-left">{{ props.item.jml_siswa }}</td>
              </tr>
            </template>
          </v-data-table>
        </b-col>
      </b-row>-->
    </b-card>
    <HistoriCard :data_id="6" />
    <!-- Graph & Table Card -->
    <b-card>
      <b-row>
        <b-col sm="1">
          <b-img :src="'/images/icon/sekolah.png'" fluid class="img-icon" />
        </b-col>
        <b-col sm="8">
          <h5 id="traffic" class="card-title mb-0">Sekolah</h5>
          <small>
            Last Update :
            <i>{{ IndonesiaDateFormat(sekolahs.last_update) }}</i>
          </small>
        </b-col>
      </b-row>
      <br />
      <b-tabs>
        <b-tab>
          <template slot="title">Grafik</template>
          <b-row>
            <b-col sm="12">
              <h4 class="text-center">Grafik Perbandingan</h4>

              <b-button-toolbar class="float-right">
                <b-form-radio-group
                  class="mr-3"
                  id="radiosBtn"
                  buttons
                  button-variant="outline-secondary"
                  v-model="selected_graph"
                  name="radiosBtn"
                >
                  <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                  <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                </b-form-radio-group>
              </b-button-toolbar>
            </b-col>
          </b-row>
          <b-card no-body v-if="selected_graph == 'jumlah'" class="border-0">
            <div class="chart-wrapper">
              <bar-example height="100" :kategori="'ttu'" :modul="3" :pajak="0" />
            </div>
          </b-card>
          <b-card no-body v-if="selected_graph == 'waktu'" class="border-0">
            <div class="chart-wrapper">
              <line-example height="200" :kategori="'ttu'" :modul="3" :pajak="0" />
            </div>
          </b-card>
          <v-divider></v-divider>

          <b-row>
            <b-col sm="12">
              <template>
                <!-- <v-data-table
                  :headers="hdams"
                  :items="dams"
                  hide-headers
                  hide-actions
                  :items-per-page="5"
                  dense="true"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                    <td class="text-xs-right">{{ props.item.skor }}</td>
                  </template>
                </v-data-table>-->
              </template>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab>
          <template slot="title">Tabel</template>

          <v-toolbar flat color="white">
            <b-button variant="success" small @click="exportdialog = !exportdialog">Export CSV</b-button>
            <v-divider class="mr-2 ml-4" inset vertical></v-divider>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
              class="float-right pt-0 mb-3 text-xs-left"
            ></v-text-field>
            <v-divider class="mx-2" inset vertical></v-divider>
          </v-toolbar>
          <v-data-table
            :rows-per-page-items="[5,10,25]"
            :loading="loading"
            loading-text="Loading... Please wait"
            :headers="hsekolahs"
            :items="sekolahs.query"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.id }}</td>
              <router-link
                :to="`sekolah/${props.item.id}`"
                class="cursor-pointer text-blue"
                tag="td"
              >{{ props.item.nama_tempat }}</router-link>
              <td class="text-xs-left">{{ props.item.nama_kepala_sekolah }}</td>
              <router-link
                exact
                tag="td"
                class="cursor-pointer text-blue"
                :to="`/profil/${props.item.petugas_username}`"
              >{{ props.item.petugas }}</router-link>
              <td class="text-xs-left">{{ props.item.kelurahan }}</td>
              <td class="text-xs-left">{{ props.item.imb }}</td>
              <td class="text-xs-left">{{ props.item.luas_bangunan }}</td>
              <!-- <td class="text-xs-left">{{ props.item.luas_tanah }}</td> -->
              <td class="text-xs-left">{{ props.item.skor }}</td>
              <td class="text-xs-center">
                <v-chip
                  disabled
                  :color="getColor(props.item.status)"
                  text-color="white"
                  small
                >{{ props.item.status }}</v-chip>
              </td>
              <td class="justify-center">
                <b-button-group>
                  <!-- <b-btn variant="gray-100" small @click="editItem(props.item)">Sunting</b-btn> -->
                  <b-btn variant="danger" small @click="deleteModule(props.item.id)">Hapus</b-btn>
                </b-button-group>
              </td>
            </template>
            <v-alert
              slot="no-results"
              :value="true"
              color="error"
              icon="warning"
              class="bg-danger"
            >Data "{{ search }}" Tidak Ditemukan.</v-alert>
            <template slot="no-data">
              <div class="text-center">
                <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                <span>Tidak ada Data</span>
              </div>
            </template>
          </v-data-table>

          <p class="text-red"></p>
        </b-tab>
      </b-tabs>
    </b-card>
    <!-- End of Graph Card -->
    <CardAngkaPerpajakan />

    <v-dialog center v-model="exportdialog" max-width="500px">
      <v-card>
        <v-card-text>
          <b-img fluid src="/images/csvtoxls.png" />
          <b-alert variant="warning" show>
            File yang akan di download dalam format .csv
            <br />Untuk mengubahnya menjadi format Microsoft Excel
            <a
              href="https://drive.google.com/file/d/16hsvd9CZDoPyXnZWjyzFspMhF5pA3Mee/view?usp=sharing"
              target="_blank"
            >Klik disini.</a>
          </b-alert>

          <b-btn variant="danger" center @click="exportdialog = !exportdialog">Batal</b-btn>
          <b-btn variant="success" class="float-right" center @click="exportCsv()">Export CSV</b-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <router-view />
  </div>
</template>
  

<script>
import Callout from "@/components/Callout";
import CardAngkaPerpajakan from "@/components/CardAngkaPerpajakan";

const HistoriCard = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./../HistoriCard"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const CardModulSatuan = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("@/components/CardModulSatuan"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Komponen</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const BarExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("./BarExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

const LineExample = () => ({
  component: new Promise(function(resolve, reject) {
    setTimeout(() => {
      resolve(import("../charts/LineExample"));
    }, 2000);
  }),
  loading: {
    template:
      "<b-loading variant='Circle8' class='mx-auto'>Menunggu Grafik</b-loading>"
  },
  error: {
    template: "<div>...error</div>"
  },
  delay: 100,
  timeout: 5000
});

import downloadCsv from "download-csv";

// import FilterKonten from "@/views/sample/modul/FilterKonten";

export default {
  name: "Sekolah",
  components: {
    CardModulSatuan,
    BarExample,
    CardAngkaPerpajakan,
    // FilterKonten,
    HistoriCard,
    LineExample,
    Callout
  },
  data() {
    return {
      exportdialog: false,
      pagination: {
        rowsPerPage: 5
      },
      optionstable: {
        sortDesc: ["luas_bangunan"]
      },
      collapseTer: false,
      ter: {
        nama_tempat: "",
        luas_bangunan: "",
        luas_tanah: "",
        jml_siswa: ""
      },
      h_ter: [
        { text: "Nama", value: "nama_sekolah" },
        { text: "L.Bangunan", value: "luas_bangunan" },
        { text: "L.Tanah", value: "luas_tanah" },
        { text: "Jml Siswa", value: "jml_siswa" }
      ],

      selected_graph: "jumlah",
      hcard: {
        name: "Sekolah",
        icon: "sekolah",
        kategori: "ttu",
        modul: 3
      },
      indikators: [
        {
          name: "total",
          text: "Total",
          icon: "total",
          color: "success"
        },
        {
          name: "sehat",
          text: "Sehat",
          icon: "like-s",
          color: "primary"
        },
        {
          name: "tidak_sehat",
          text: "Tidak Sehat",
          icon: "dislike-s",
          color: "danger"
        },
        {
          name: "belum_dijamah",
          text: "Belum Di inspeksi",
          icon: "ban-s",
          color: "gray-400"
        }
      ],
      opds: [],
      loading: true,
      search: "",
      headers: [
        {
          text: "Dessert (100g serving)",
          align: "left",
          sortable: true,
          value: "name"
        },
        { text: "Calories", value: "calories" },
        { text: "Fat (g)", value: "fat" },
        { text: "Carbs (g)", value: "carbs" },
        { text: "Protein (g)", value: "protein" },
        { text: "Iron (%)", value: "iron" },
        { text: "Action", sortable: false }
      ],
      hsekolahs: [
        { text: "No", value: "id" },
        { text: "Sekolah", value: "nama_tempat" },

        { text: "Kepsek", value: "nama_kepala_sekolah" },
        { text: "Petugas", value: "petugas" },
        { text: "Kelurahan", value: "kelurahan" },
        { text: "L.Bangunan", value: "luas_bangunan" },
        // { text: "Luas Tanah", value: "luas_tanah" },
        { text: "IMB", value: "imb" },
        { text: "Skor", value: "skor" },
        { text: "Status", value: "status" },
        { sortable: false }
      ],
      sekolahs: [],
      sekolahs_terbesar: [],
      desserts: [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%"
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%"
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%"
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: "8%"
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: "16%"
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: "0%"
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: "2%"
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: "45%"
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: "22%"
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: "6%"
        }
      ]
    };
  },
  methods: {
    getColor(status) {
      if (status.toLowerCase() == "sehat") return "green";
      else if (status.toLowerCase() == "tidak sehat") return "red";
      return "gray-500";
    },
    selected(x) {
      this.collapseTer = true;
      this.ter.nama_tempat = x.nama_tempat;
      this.ter.luas_bangunan = x.luas_bangunan;
      this.ter.luas_tanah = x.luas_tanah;
      this.ter.jml_siswa = x.jml_siswa;
    },
    getGeneralModuleData() {
      axios
        .get("get-general-module-data/ttu/3")
        .then(({ data }) => {
          setTimeout(() => {
            this.$store.commit("NOT_LOADING");
            this.$store.commit("REMOVE_FILTER_LOADING");
          }, 500);

          this.sekolahs = data.data;
          this.loading = false;
        })
        .catch(err => {
          this.$store.commit("NOT_LOADING");
          this.$store.commit("SERVER_ERROR");
        });
    },
    getSekolahTerbesar() {
      axios
        .get("get-sekolah-terbesar")
        .then(({ data }) => {
          this.sekolahs_terbesar = data.data;
        })
        .catch(err => {});
    },
    exportCsv() {
      const fields = [
        "id",
        "waktu",
        "koordinat",
        "nama_tempat",
        "nama_kepala_sekolah",
        "jumlah_murid_pertahun",
        "jumlah_guru_pns",
        "jumlah_guru_tetap_non_pns",
        "jumlah_guru_honorer",
        "jam_operasional",
        "luas_bangunan",
        "luas_tanah",
        "tahun_berdiri",
        "no_telp",
        "puskesmas",
        "no_izin_operasional",
        "status",
        "skor",
        "petugas",
        "imb",
        "alamat"
      ];
      downloadCsv(this.sekolahs.query, fields, "Data Sekolah.csv");
    },
    getOpdDataAccess() {
      axios
        .get("data-opd-access-module")
        .then(({ data }) => {
          this.opds = data.data.filter(item => item.data_id == 6);
        })
        .catch(err => {});
    },
    deleteModule(id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Data ini akan dihapus dan dipindahkan ke trash!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, Hapus Sekarang"
        })
        .then(result => {
          if (result.value) {
            axios
              .delete("sekolah/" + id)
              .then(({ data }) => {
                swal.fire("Berhasil!", "Data Sekolah Dihapus.", "success");
                Fire.$emit("AfterEventSekolah");
                Fire.$emit("AfterEventAllModule");
              })
              .catch(err => {
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );
              });
          }
        });
    }
  },
  beforeCreate() {
    this.$store.commit("STILL_LOADING");
  },
  mounted() {
    this.getOpdDataAccess();
    this.getGeneralModuleData();

    Fire.$on("AfterEventSekolah", () => {
      this.getGeneralModuleData();
    });

    Fire.$on("AfterFilter", () => {
      this.getGeneralModuleData();
    });
  },
  beforeDestroy() {
    Fire.$off("AfterEventSekolah");
    Fire.$off("AfterFilter");
    this.$route.query = {};
  }
};
</script>