<template>
  <div class="border">
    <b-card class="bg-info rounded-0 border-0 mx-0" no-body>
      <b-row class="mx-0 px-3 pt-3">
        <b-img center :src="'/images/icon/information-w.png'" class="img-icon-info my-2" />

        <table class="my-2" width="100%">
          <td>Jumlah Data</td>
          <td class="text-right">{{datas.rumah_sehat.total}}</td>
        </table>
      </b-row>
    </b-card>
    <b-card class="border-0 px-3" no-body>
      <table width="100%">
        <tbody>
          <tr class="tabel-graf" v-for="data in datas" :key="data.id">
            <td class="mx-0 pr-3" sm="4">
              <v-layout justify-start>{{data.nama_kk}}</v-layout>
            </td>
            <td class="text-right">
              <v-chip class="mx-0" small color="green" text-color="white">{{ data.sehat }}</v-chip>

              <v-chip class="mx-0" small color="red" text-color="white">{{ data.tidak_sehat }}</v-chip>
            </td>
          </tr>
        </tbody>
      </table>
    </b-card>
  </div>
</template>

<script>
export default {
  props: ["datas", "good", "bad"],
  methods: {}
};
</script>