// Here you can add other styles
.img-icon {
  width: 2rem;
}

.img-icon-dashboard {
  width: 2.5rem;
}

.img-playstore {
  width: 15rem;
}
.img-icon-info {
  width: 3.2rem;
}

.img-aside {
  width: 1.4rem;
}

.img-indicator {
  width: 1.12rem;
}

.img-dashboard {
  width: 4.5rem;
}

.img-ranking {
  width: 10px;
}

.img-nodata {
  width: 14rem;
}

.img-dokum {
  width: 100%;
  max-width: 25rem;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  margin: 2rem;
}

.img-screenshot-hp {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-screenshot-laptop {
  max-width: 50rem;
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
}

.img-dataoutput {
  width: 100%;
  max-width: 60rem;
  align-self: center;
}

.img-idea {
  max-width: 100%;
  width: 50%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-fiturbsr {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-grafik {
  width: 100%;
  max-width: 1000px;
}

.img-tampilan {
  width: 90%;
  margin-left: 3rem;
  max-width: 900px;
  margin-top: 10rem;
  height: auto;
}

.img-logo {
  width: 100%;
  max-width: 11rem;
}

.img-fitur {
  float: left;
  margin: 0 10px 0 -25px;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  padding: 5px;
  background-color: #3e5555;
  border-radius: 50%;
}

.img-output {
  float: left;
  margin: 0 10px 0 -25px;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  padding: 5px;
  background-color: #3e5555;
  border-radius: 50%;
}

.img-piala {
  width: 7rem;
}

.imgcontainer {
  background-color: rgba(189, 195, 199, 0.1);
}

.img-ter {
  max-height: 450px;
  max-width: 100%;
}

.img-data {
  width: 100%;
}

.img-data .card-img {
  opacity: 0.2;
}

.img-profil {
  width: 8rem;
  // max-height: 8rem;
  // overflow: hidden;
  // width: 100px;
  // height: 100px;
  position: relative;
  overflow: hidden;
  // border-radius: 50%;
}

.img-profil-container {
  width: 8rem;
  height: 8rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.img-profil-container-header {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.img-notif {
  width: 0.8rem;
}

.img-testi {
  width: 100%;
  max-width: 20rem;
  height: 100%;
  max-height: 20rem;
  align-content: center;
  display: block;
  margin: auto;
}

.img-dfc {
  width: 100%;
  max-width: 4rem;
  float: left;
  margin: 0.4rem;
}

.img-kotadepok {
  width: 100%;
  max-width: 5rem;
  float: left;
  margin: 0.4rem;
}

.text-notif {
  font-size: 10px;
}

.text-indicator {
  font-size: 8px;
}

.text-middle {
  vertical-align: middle;
}

.td-avatar {
  border-radius: 50em;
  width: 30px;
}

.underline-0 {
  text-decoration-line: none;
}

.underline-0:hover {
  text-decoration-line: none;
  background-color: rgba(189, 195, 199, 1);
}

.cite-smaller {
  font-size: 1em;
}

.border-0 {
  border: 0;
}

.border-1 {
  border: 1px;
}

.border-top {
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.chart-wrapper-200 {
  position: relative;
  height: 200px;

  canvas {
    // max-height: 200px;
    width: 100% !important;
  }
}

.chart-wrapper-400 {
  canvas {
    // max-height: 200px;
    width: 100% !important;
  }
}

.mousein {
  padding-top: 2px;
  padding-bottom: 2px;
  background: transparent;
  border-radius: 12px;

  &:hover {
    background: rgba(189, 195, 199, 0.6);
  }
}

.mousein-profile {
  $color: $gray-100;
  background: transparent;

  border-radius: 25px;

  &:hover {
    background: darken($color, 15%);

    // &::before {
    //   background: darken($color, 10%);
    // }
  }
}

.card-line {
  width: 50px;
  height: 3px;
  background: #329059;
}

.card-modal-data {
  width: 400px;
}

.aside-menu-hidden {
  .main,
  .app-footer {
    margin-right: 0;
  }
}

.geser {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  padding-top: 0px;
  padding-bottom: 0px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-left: -10px;
    width: 10px;
    height: 10px;
  }

  // &::-webkit-scrollbar-button {    }

  &::-webkit-scrollbar-track {
    background-color: lighten($aside-menu-bg, 5%);
    border-left: 1px solid darken($aside-menu-bg, 5%);
    border-right: 1px solid darken($aside-menu-bg, 5%);
  }

  // &::-webkit-scrollbar-track-piece {    }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: darken($aside-menu-bg, 10%);
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
    height: 50px;
  }
}

// .geser::-webkit-scrollbar {
//   display: none;
// }
.geser--content {
  background-color: $light;
  width: 90px;
  height: 90px;
  margin: 5px;
  box-shadow: 3px 5px rgba(255, 255, 255, 0.05);
}

.geser--content v-item {
  width: 100%;
  height: 100%;
}

.headlinehover-success {
  $color: $success;
  background: $color;

  &:hover {
    background: darken($color, 15%);

    // &::before {
    //   background: darken($color, 10%);
    // }
  }
}

.headlinehover-primary {
  $color: $primary;
  background: $color;

  &:hover {
    background: darken($color, 15%);

    // &::before {
    //   background: darken($color, 10%);
    // }
  }
}

.headlinehover-warning {
  $color: $warning;
  background: $color;

  &:hover {
    background: darken($color, 15%);

    // &::before {
    //   background: darken($color, 10%);
    // }
  }
}

.headlinehover-danger {
  $color: $danger;
  background: $color;

  &:hover {
    background: darken($color, 15%);

    // &::before {
    //   background: darken($color, 10%);
    // }
  }
}

.headlinehover-gray-100 {
  $color: $gray-100;
  background: $color;

  &:hover {
    background: darken($color, 15%);

    // &::before {
    //   background: darken($color, 10%);
    // }
  }
}

.tabel-graf {
  font-size: 12px;
}

.scrollable {
  max-height: 400px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-left: -10px;
    width: 10px;
  }

  // &::-webkit-scrollbar-button {    }

  &::-webkit-scrollbar-track {
    background-color: lighten($aside-menu-bg, 5%);
    border-left: 1px solid darken($aside-menu-bg, 5%);
    border-right: 1px solid darken($aside-menu-bg, 5%);
  }

  // &::-webkit-scrollbar-track-piece {    }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: darken($aside-menu-bg, 10%);
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
    height: 50px;
  }
}

.scrollable-data {
  max-height: 60vh;
  max-width: 80vw;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-left: -10px;
    width: 10px;
  }

  // &::-webkit-scrollbar-button {    }

  &::-webkit-scrollbar-track {
    background-color: lighten($aside-menu-bg, 5%);
    border-left: 1px solid darken($aside-menu-bg, 5%);
    border-right: 1px solid darken($aside-menu-bg, 5%);
  }

  // &::-webkit-scrollbar-track-piece {    }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: darken($aside-menu-bg, 10%);
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
    height: 50px;
  }
}
.scrollable-report {
  max-height: 300px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-left: -10px;
    width: 10px;
  }

  // &::-webkit-scrollbar-button {    }

  &::-webkit-scrollbar-track {
    background-color: lighten($aside-menu-bg, 5%);
    border-left: 1px solid darken($aside-menu-bg, 5%);
    border-right: 1px solid darken($aside-menu-bg, 5%);
  }

  // &::-webkit-scrollbar-track-piece {    }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: darken($aside-menu-bg, 10%);
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
    height: 50px;
  }
}

.scrollable-map {
  max-height: 80vh;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-left: -10px;
    width: 10px;
  }

  // &::-webkit-scrollbar-button {    }

  &::-webkit-scrollbar-track {
    background-color: lighten($aside-menu-bg, 5%);
    border-left: 1px solid darken($aside-menu-bg, 5%);
    border-right: 1px solid darken($aside-menu-bg, 5%);
  }

  // &::-webkit-scrollbar-track-piece {    }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: darken($aside-menu-bg, 10%);
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
    height: 50px;
  }
}

.landingpage {
  background-color: rgb(253, 253, 253);
  // background-image: linear-gradient(120deg, #50b178, #fff);
  // background-image: url('/images/landingpage/background1.png') no-repeat center center fixed;

  .hero-area-2 {
    // background-image: linear-gradient(120deg, #50b178, #fff);
    // background-image: url('/images/landingpage/background1.png') no-repeat center center fixed;

    width: 100%;

    .section-header {
      width: 100%;
      color: #272727;
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2rem;
    }

    .judul-section {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      padding: 5px 0px;
    }

    #latar-belakang {
      padding-top: 3rem;
      background-color: rgb(253, 253, 253);
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #fitur-output {
      background-color: rgb(253, 253, 253);
    }

    #client {
      background-color: rgb(253, 253, 253);
    }

    #screenshots {
      background-color: rgb(253, 253, 253);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }

    #testimoni {
      background-color: rgb(253, 253, 253);
      padding-top: 2rem;
    }

    #testimoni .content {
      background-color: rgb(253, 253, 253);
      margin-top: -2rem;
    }

    .content {
      padding: 2rem 0rem;
    }

    .btn-header {
      float: left;
      margin-left: 1rem;
    }

    .chip {
      display: inline-block;
      padding: 0px 25px 0px 20px;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #3e5555;
      color: #fff;
      margin: 1rem 1rem;
      width: 100%;
      max-width: 280px;
    }

    .chipfitur {
      display: inline-block;
      padding: 0px 25px 0px 20px;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #3e5555;
      color: #fff;
      margin: 1rem 1rem;
      width: 100%;
      max-width: 280px;
    }

    .chipfitur .txt-fitur {
      font-size: 1rem;
    }

    .btnchip {
      display: inline-block;
      padding: 0px 25px 0px 20px;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #4c6b6b;
      text-align: left;
      color: #fff;
      margin: 15px 10px;
      width: 100%;
      max-width: 280px;
    }

    #my-nav-dropdown {
      color: #fff;
    }
  }

  .tab-fituroutput {
    background-color: #0d9260;
  }

  .container {
    padding: 5rem 0rem;
  }

  .each-piala {
    // -webkit-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
    // -moz-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
    // box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
    border-radius: 2rem;
    padding: 1.2rem;
    height: 100%;
    background: transparent;
  }

  .each-testi {
    padding: 2rem;
    text-align-last: center;
  }

  .row-testi {
    align-content: center;
  }

  #footer {
    background-color: #212221;
    font-weight: 600;
    color: #fff;
  }

  .fs {
    color: #fff;
    margin-left: 0.3rem;
  }

  .footer-title {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .footer-info {
    margin-top: 2rem;
  }

  .footer-support {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
  }

  .txt-info {
    font-weight: 400;
  }

  .txt-testi {
    font-weight: 600;
    font-size: 1.3rem;
    color: #3e3f3f;
  }

  .card-carousel--card {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);
  }

  .car-achievement {
    background: none !important;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 1px 5px 0px #ffffff00;
    -moz-box-shadow: 0px 1px 5px 0px #ffffff00;
    box-shadow: 0px 1px 5px 0px #ffffff00;
    height: 100%;
  }

  .tab-fit:hover {
    background-color: #f1f1f1;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  .justify-content-md-center {
    height: 100%;
  }

  .divdok {
    padding: 2rem;
  }

  .navbar {
    background: #fff;
    border: 0px;
    -webkit-box-shadow: 0 6px 8px -6px rgb(80, 80, 80);
    -moz-box-shadow: 0 6px 8px -6px rgb(80, 80, 80);
    box-shadow: 0 6px 8px -6px rgb(80, 80, 80);
  }

  .nav-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .nav-item {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #4d775e;
    width: 100%;
    float: left;
    font-size: 1.2rem;
    text-align: center;
    margin: 0rem 0.8rem;
  }

  .hr {
    border-color: #fff;
    font-weight: 600;
  }

  .text-dark {
    color: rgb(125, 247, 190) !important;
  }

  .homey .container .contents {
    margin-top: 2rem;
  }

  .btn-tab {
    color: transparent;
    -webkit-box-shadow: 0 6px 8px -6px rgb(255, 255, 255);
    -moz-box-shadow: 0 6px 8px -6px rgb(255, 255, 255);
    box-shadow: 0 6px 8px -6px rgb(255, 255, 255);
  }
}

.clear-distance {
  padding: 0;
  margin: 0;
}

.style-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.style-file-input::before {
  content: "Pilih File ..";
  display: inline-block;
  background: linear-gradient("top", #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.style-file-input:hover::before {
  border-color: black;
}

.style-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
