<template>
  <v-app
    class="app aside-menu-fixed breadcrumb-fixed body-1"
    v-if="$auth.ready"
    style="background-color:#e4e5e6;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;"
  >
    <app-header :fixed="fixedHeader || fixedSidebar" />
    <div class="app-body">
      <sidebar :nav-items="nav" :fixed="fixedSidebar" />
      <notifications :style="{ 'margin-top': offset }" class="custom-notifications" />
      <main class="main">
        <breadcrumb :list="list" :fixed="fixedBreadcrumb" />
        <div class="container-fluid mt-4">
          <FilterKonten v-on:filterAction="onFilter($event)" v-if="!$route.meta.hideFilter" />
          <b-loading
            variant="Circle8"
            class="mx-auto"
            v-if="!$route.meta.disabledLoadingCircle && loadings == true"
          >Dalam proses</b-loading>
          <router-view v-show="getShowViewStatus()" />

          <div v-if="!$route.meta.hideServerError && serverError == true" class="text-center">
            <img :src="`/images/icon/nonetwork.png`" width="500px" />
            <br />Kesalahan pada jaringan, silahkan coba lagi
          </div>
        </div>
        <v-btn class="mb-5" color="green darken-2" right bottom absolute small fixed dark fab exact>
          <a
            :href="`https://api.whatsapp.com/send?phone=628998550869&text=Hallo%20Tim!%20Aku%20ada%20pertanyaan%20nih%20terkait%20SIPP%20KLING,%20bisa%20bantu%20aku?`"
            target="_blank"
          >
            <b-img
              class="p-2"
              v-b-tooltip.hover
              title="Hubungi tim pengembang"
              fluid
              src="/images/icon/whatsapp.png"
            />
          </a>
        </v-btn>
      </main>
      <app-aside />
    </div>
    <app-footer />
  </v-app>
</template>

<script>
import FilterKonten from "../views/sample/modul/FilterKonten";
import NProgress from "nprogress";
import "nprogress/nprogress.css";

import nav from "../_nav";
import {
  Header as AppHeader,
  Sidebar,
  Aside as AppAside,
  Footer as AppFooter,
  Breadcrumb
} from "../components";

export default {
  name: "Full",
  components: {
    AppHeader,
    Sidebar,
    AppAside,
    AppFooter,
    Breadcrumb,
    FilterKonten
  },
  data() {
    return {
      nav: nav.items,
      offset: true,
      fixedHeader: true,
      fixedSidebar: true,
      fixedBreadcrumb: true,
      hideFilter: false,
      disabledLoadingCircle: false
    };
  },
  computed: {
    name() {
      return this.$route.name;
    },
    list() {
      return this.$route.matched;
    },
    loadings() {
      return this.$store.getters.getLoading;
    },
    serverError() {
      return this.$store.getters.getServerError;
    },
    filterLoading() {
      return this.$store.getters.getFilterLoading;
    }
  },
  mounted() {
    $(window).on("scroll", this.setPosNotify);
  },
  beforeDestroy() {
    $(window).off("scroll", this.setPosNotify);
  },
  methods: {
    setPosNotify() {
      const top = $(document).scrollTop();
      const height = $(".app-header").height();
      const offset = top < height ? height - top : 0;

      this.offset = `${offset}px`;
    },
    getShowViewStatus(){
      if(this.serverError == true){
        return false
      }

      if (this.loadings == true || this.filterLoading){
        return false
      } else {
        return true
      }
    },
    onFilter(event) {
      // console.log(event);
      // this.$store.commit("FILTER_LOADING");
      // Fire.$emit("CardModulesFilter", event);
    }
  },
  created() {
    // console.log("mounted" + this.$route);
    this.posisi = this.$route.matched[1].name;

    axios.interceptors.request.use(
      config => {
        NProgress.start();
        // this.$store.commit("STILL_LOADING");
        return config;
      },
      error => {
        NProgress.remove();
        // this.$store.commit("NOT_LOADING");
        return Promise.reject(error);
      }
    );

    // before a response is returned stop nprogress
    axios.interceptors.response.use(
      response => {
        NProgress.done();
        // this.$store.commit("NOT_LOADING");
        return response;
      },
      error => {
        NProgress.remove();
        // this.$store.commit("NOT_LOADING");
        return Promise.reject(error);
      }
    );
  },

  watch: {
    $route(to, from) {
      // this.$store.commit("STILL_LOADING");
    }
  }
};
</script>
