<template>
  <aside class="aside-menu aside-menu-fixed">
    <div class="tab-content w-100">
      <b-card no-body class="rounded-0 mb-0" v-for="(modul, index) in moduls" :key="index">
        <b-card-header header-tag="header" class="p-0" role="tab">
          <hr class="transparent mx-3 my-0" />
          <b-btn
            v-b-toggle="'collapse-' + index"
            block
            href="#"
            variant="light"
            class="m-0 py-2 text-muted text-left bg-light text-uppercase"
          >
            <b-row>
              <b-col cols="8">
                <p class="m-0">
                  <small>
                    <b>{{namaKategori(index)}}</b>
                  </small>
                </p>
              </b-col>
              <b-col cols="4">
                <p class="m-0 text-right">
                  <!-- <v-chip disabled small color="light">
                    <b class="text-notif"></b>
                  </v-chip>-->
                </p>
              </b-col>
            </b-row>
          </b-btn>
        </b-card-header>
        <b-collapse
          accordion="asidebar"
          v-for="(m,indexModule) in modul"
          :key="indexModule"
          v-bind:id="'collapse-'+ index"
          role="tabpanel"
        >
          <router-link
            class="underline-0"
            :to="`/modul/${ubah(m.name)}`"
            v-if="m.byPass && $auth.check(2) ? true : checkExist(m.id)"
          >
            <callout
              :variant="getColorCallout(index)"
              class="mousein rounded-0 m-0 py-2 text-muted"
            >
              <b-row>
                <b-col sm="1">
                  <b-img :src="`/images/icon/${m.url}.png`" class="img-aside" />
                </b-col>
                <b-col sm="7">{{m.name}}</b-col>
                <b-col class="text-right pl-1" sm="2">
                  <v-chip disabled small :color="getColorCallout(index)">
                    <b class="text-notif text-white">{{ getCountSpecificModule(m.id) }}</b>
                  </v-chip>
                </b-col>
              </b-row>
            </callout>
          </router-link>
        </b-collapse>
      </b-card>
    </div>
  </aside>
</template>

<script>
import Callout from "./Callout";
import { mapGetters, mapState } from "vuex";

export default {
  name: "CAside",
  components: {
    Callout
  },
  methods: {
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getColorCallout(kategori) {
      if (kategori == "kartukeluarga") return "cyan";
      else if (kategori == "rumahsehat") return "success";
      else if (kategori == "tempatumum") return "warning";
      else if (kategori == "tempatpengolahanmakanan") return "red";
      else return "info";
    },
    namaKategori(modul) {
      if (modul == "kartukeluarga") return "KARTU KELUARGA";
      else if (modul == "rumahsehat") return "RUMAH SEHAT";
      else if (modul == "tempatumum") return "TTU";
      else if (modul == "tempatpengolahanmakanan") return "TPM";
      else if (modul == "lainnya") return "Lainnya";
    },
    getCountSpecificModule(param) {
      return this.count.find(item => item.data_id == param) == null
        ? 0
        : this.count.find(item => item.data_id == param).total;
    },
    checkExist(id) {
      if (this.$auth.check(2)) {
        const detect = this.$auth
          .user()
          .data_access.find(item => item.id == id);
        if (detect != null) {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    },
    getCountModules() {
      axios
        .get("generate-count-modul-data-id")
        .then(({ data }) => {
          this.count = data.data;
        })
        .catch(err => {});
    }
  },
  computed: {
    ...mapGetters({
      moduls: "getModuls"
    })
  },
  data() {
    return {
      kategoris: {
        kartukeluarga: { icon: "kartukeluarga", title: "Kartu Keluarga" },
        rumahsehat: { icon: "rumahsehat", title: "Rumah Sehat" },
        tempatumum: { icon: "tempatibadah", title: "Tempat - Tempat Umum" },
        tempatmakan: {
          icon: "pemeriksaanjasaboga",
          title: "Tempat Pengolahan Makanan"
        },
        lainlain: { icon: "kesehatanlingkungan", title: "Lain - Lain" }
      },
      count: []
    };
  },
  created() {
    this.getCountModules();

    Fire.$on("AfterEventAllModule", () => {
      this.getCountModules();
    });
  }
};
</script>
