<template>
  <aside class="aside-menu aside-menu-fixed">
    <div class="tab-content w-100">
      <b-card
        no-body
        class="rounded-0 mb-0"
        v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 36)).length === 0 ? false : true"
      >
        <b-card-header header-tag="header" class="p-0" role="tab">
          <hr class="transparent mx-3 my-0" />
          <b-btn
            v-b-toggle.rumahsehat
            block
            href="#"
            variant="light"
            class="m-0 py-2 text-muted text-left bg-light text-uppercase"
          >
            <b-row>
              <b-col cols="8">
                <p class="m-0">
                  <small>
                    <b>Rumah Sehat</b>
                  </small>
                </p>
              </b-col>
              <b-col cols="4">
                <p class="m-0 text-right">
                  <v-chip small color="blue text-white">
                    <!-- <small class="text-notif"> -->
                    <b class="text-indicator">1430+</b>
                    <!-- </small> -->
                  </v-chip>
                </p>
              </b-col>
            </b-row>
          </b-btn>
        </b-card-header>
        <b-collapse id="rumahsehat" accordion="my-accordion" role="tabpanel">
          <router-link class="underline-0" to="/modul/rumah-sehat">
            <callout class="mousein rounded-0 m-0 py-3 text-muted">
              <div>
                <b-img :src="'/images/icon/rumahsehat.png'" fluid class="img-aside mr-1" />Rumah Sehat
              </div>
            </callout>
          </router-link>
        </b-collapse>
      </b-card>
      <b-card no-body class="rounded-0 mb-0">
        <b-card-header header-tag="header" class="p-0" role="tab">
          <b-btn
            v-b-toggle.tempatumum
            block
            href="#"
            variant="light"
            class="m-0 py-2 text-muted text-left bg-light text-uppercase"
          >
            <b-row>
              <b-col cols="8">
                <p class="m-0">
                  <small>
                    <b>Tempat - Tempat Umum</b>
                  </small>
                </p>
              </b-col>
              <b-col cols="4">
                <p class="m-0 text-right">
                  <v-chip small color="blue text-white">
                    <!-- <small> -->
                    <b class="text-indicator">1430+</b>
                    <!-- </small> -->
                  </v-chip>
                </p>
              </b-col>
            </b-row>
          </b-btn>
        </b-card-header>
        <b-collapse id="tempatumum" accordion="my-accordion" role="tabpanel">
          <hr class="transparent mx-3 my-0" />
          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 24)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/tempat-ibadah">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/tempatibadah.png'" fluid class="img-aside mr-1" />Tempat Ibadah
                </div>
              </callout>
            </router-link>
            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 15)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/pasar">
              <callout class="mousein rounded-0 m-0 py-3 text-muted text-muted">
                <div>
                  <b-img :src="'/images/icon/pasar.png'" fluid class="img-aside mr-1" />Pasar
                </div>
              </callout>
            </router-link>
            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 6)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/sekolah">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/sekolah.png'" fluid class="img-aside mr-1" />Sekolah
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div>
            <router-link
              class="underline-0"
              to="/modul/pesantren"
              v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 7)).length === 0 ? false : true"
            >
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/pesantren.png'" fluid class="img-aside mr-1" />Pesantren
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 43)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/kolam-renang">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/kolamrenang.png'" fluid class="img-aside mr-1" />Kolam Renang
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 4)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/puskesmas">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/puskesmas.png'" fluid class="img-aside mr-1" />Puskesmas
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 2)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/rumah-sakit">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/rumahsakit.png'" fluid class="img-aside mr-1" />Rumah Sakit
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 3)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/klinik">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/klinik.png'" fluid class="img-aside mr-1" />Klinik
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 8)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/hotel">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/hotel.png'" fluid class="img-aside mr-1" />Hotel
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 9)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/hotel-melati">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/hotelmelati.png'" fluid class="img-aside mr-1" />Hotel Melati
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 43)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/salon">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/pbb.png'" fluid class="img-aside mr-1" />Salon
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>
        </b-collapse>
      </b-card>
      <b-card no-body class="rounded-0 mb-0">
        <b-card-header header-tag="header" class="p-0" role="tab">
          <b-btn
            v-b-toggle.tempatpengolahanmakanan
            block
            href="#"
            variant="light"
            class="m-0 py-2 text-muted text-left bg-light text-uppercase"
          >
            <b-row>
              <b-col cols="8">
                <p class="m-0">
                  <small>
                    <b>Tempat Pengolahan Makanan</b>
                  </small>
                </p>
              </b-col>
              <b-col cols="4">
                <p class="m-0 text-right">
                  <v-chip small color="blue text-white">
                    <!-- <small> -->
                    <b class="text-indicator">1430+</b>
                    <!-- </small> -->
                  </v-chip>
                </p>
              </b-col>
            </b-row>
          </b-btn>
        </b-card-header>
        <b-collapse id="tempatpengolahanmakanan" accordion="my-accordion" role="tabpanel">
          <hr class="transparent mx-3 my-0" />
          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 3)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/jasa-boga">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img
                    :src="'/images/icon/pemeriksaanjasaboga.png'"
                    fluid
                    class="img-aside mr-1"
                  />Jasa Boga
                </div>
              </callout>
            </router-link>
            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 44)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/restoran">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img
                    :src="'/images/icon/rumahmakanrestaurant.png'"
                    fluid
                    class="img-aside mr-1"
                  />Tempat Makan dan Restaurant
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>

          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 42)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/depot-air-minum">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img :src="'/images/icon/depotairminum.png'" fluid class="img-aside mr-1" />Depot Air Minum
                </div>
              </callout>
            </router-link>

            <hr class="mx-3 my-0" />
          </div>
        </b-collapse>
      </b-card>
      <b-card no-body class="rounded-0 mb-0">
        <b-card-header header-tag="header" class="p-0" role="tab">
          <b-btn
            v-b-toggle.pelayanankesehatan
            block
            href="#"
            variant="light"
            class="m-0 py-2 text-muted text-left bg-light text-uppercase"
          >
            <b-row>
              <b-col cols="8">
                <p class="m-0">
                  <small>
                    <b>Lain - Lain</b>
                  </small>
                </p>
              </b-col>
              <b-col cols="4">
                <p class="m-0 text-right">
                  <v-chip small color="blue text-white">
                    <!-- <small> -->
                    <b class="text-indicator">1400+</b>
                    <!-- </small> -->
                  </v-chip>
                </p>
              </b-col>
            </b-row>
          </b-btn>
        </b-card-header>
        <b-collapse
          id="pelayanankesehatan"
          accordion="my-accordion"
          role="tabpanel"
          class="border-0"
        >
          <hr class="transparent mx-3 my-0" />
          <div
            v-if="$auth.check(2) && $auth.user().data_access.filter(data => (data.id == 10)).length === 0 ? false : true"
          >
            <router-link class="underline-0" to="/modul/pelayanan-kesehatan">
              <callout class="mousein rounded-0 m-0 py-3 text-muted">
                <div>
                  <b-img
                    :src="'/images/icon/kesehatanlingkungan.png'"
                    fluid
                    class="img-aside mr-1"
                  />Pelayanan Kesehatan
                </div>
              </callout>
            </router-link>
          </div>
        </b-collapse>
      </b-card>
    </div>
  </aside>
</template>

<script>
import Callout from "./Callout";
export default {
  name: "CAside",
  components: {
    Callout
  }
};
</script>
