<template>
  <ol class="breadcrumb rounded-0">
    <li v-for="(item, index) in list" :key="index" class="breadcrumb-item">
      <router-link v-if="index == 0" class="active" exact to="/dashboard">{{ showName(item) }}</router-link>
      <span v-else-if="isLast(index)" class="active">{{ showName(item) }}</span>
      <router-link v-else :to="item">{{ showName(item) }}</router-link>
    </li>
    <li class="breadcrumb-menu">
      <!-- <button
        class="btn btn-success btn-ladda"
        data-style="contract-overlay"
        style="z-index: 10;"
      >Refresh</button>-->

      <span class="date">{{week[hari]}}, {{ tanggal }} - {{ bulan }} - {{tahun}}</span>
      <digital-clock class="ml-2 mr-2" :displaySeconds="true" />

      <v-btn
        small
        fab
        :loading="loading4"
        :disabled="loading4"
        color="blue-grey"
        style="height:18px; width:18px;"
        class="white--text m-0"
        depressed
        @click="loader = 'loading4'"
      >
        <v-icon
          v-b-tooltip.hover
          @click="Maintenance()"
          title="Refresh komponen pada halaman"
        >refresh</v-icon>
      </v-btn>

      <v-btn
        small
        fab
        :loading="loading2"
        :disabled="loading2"
        color="blue-grey"
        style="height:18px; width:18px;"
        class="white--text m-0 mr-2"
        depressed
        @click="loader = 'loading2'"
      >
        <v-icon
          v-b-tooltip.hover
          @click="Maintenance()"
          title="Periksa koneksi server"
        >network_check</v-icon>
      </v-btn>
    </li>
  </ol>
</template>

<script>
import DigitalClock from "vue-digital-clock";

export default {
  components: { DigitalClock },
  props: {
    list: {
      type: Array,
      required: true,
      default: () => []
    },
    fixed: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      tahun: new Date().getFullYear(),
      bulan: new Date().getMonth() + 1,
      tanggal: new Date().getDate(),
      hari: new Date().getDay(),

      week: ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu"],
      loader: null,
      loading2: false,
      loading4: false
    };
  },
  methods: {
    isLast(index) {
      return index === this.list.length - 1;
    },
    showName(item) {
      if (item.meta && item.meta.label) item = item.meta && item.meta.label;

      if (item.name) item = item.name;

      return item;
    }
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  }
};
</script>
