<template>
  <!-- <div class="animated fadeIn"> -->
  <b-card no-body>
    <b-loading variant="Circle8" class="mx-auto" v-if="loadings == true">Memuat Data</b-loading>
    <b-card-body v-else>
      <b-row>
        <b-col sm="1">
          <b-img :src="`/images/icon/${header.icon}.png`" fluid class="img-icon" />
        </b-col>
        <b-col sm="9">
          <h5 id="traffic" class="card-title mb-0">{{header.name}}</h5>
          <small>
            Last Update :
            <i>{{ IndonesiaDateFormat(data.last_update) }}</i>
          </small>
        </b-col>
      </b-row>

      <br />

      <b-row v-if="header.modul == 99">
        <b-card-body>
          <b-tabs>
            <b-tab title="Jumlah">
              <b-row>
                <b-col
                  class="mx-auto"
                  v-for="(indikator,index) in indikators.slice(0,3)"
                  :key="index"
                  sm="4"
                >
                  <b-card :class="`bg-${indikator.color} text-white`">
                    <b-row>
                      <b-col sm="12">
                        <b-img
                          :src="`/images/icon2/${indikator.icon}.png`"
                          fluid
                          class="img-indicator"
                        />
                        <span
                          v-if="indikator.text.length > 20"
                        >{{indikator.text.substring(0, 20)}}...</span>
                        <span v-else>{{ indikator.text }}</span>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col sm="12">
                        <h2 class="text-left">{{data[indikator.name].percent}}</h2>
                      </b-col>
                    </b-row>
                    <footer>
                      <p
                        class="text-left caption clear-distance"
                        v-for="legend in data[indikator.name].legend"
                        :key="legend"
                      >{{ legend }}</p>
                    </footer>
                  </b-card>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab title="Status">
              <b-row>
                <b-col
                  class="mx-auto"
                  v-for="(indikator,index) in indikators.slice(3,5)"
                  :key="index"
                  sm="6"
                >
                  <b-card :class="`bg-${indikator.color} text-white`">
                    <b-row>
                      <b-col sm="12">
                        <b-img
                          :src="`/images/icon2/${indikator.icon}.png`"
                          fluid
                          class="img-indicator"
                        />
                        <span
                          v-if="indikator.text.length > 20"
                        >{{indikator.text.substring(0, 20)}}...</span>
                        <span v-else>{{ indikator.text }}</span>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col sm="12">
                        <h2 class="text-left">{{data[indikator.name].percent}}</h2>
                      </b-col>
                    </b-row>
                    <footer>
                      <p
                        class="text-left caption clear-distance"
                        v-for="legend in data[indikator.name].legend"
                        :key="legend"
                      >{{ legend }}</p>
                    </footer>
                  </b-card>
                </b-col>
              </b-row>
            </b-tab>
          </b-tabs>
        </b-card-body>
      </b-row>
      <b-row v-else>
        <!-- <b-card-group deck> -->
        <b-col class="mx-auto" v-for="(indikator,index) in indikators" :key="index" sm="3">
          <b-card :class="`bg-${indikator.color} text-white`">
            <b-row>
              <b-col sm="12">
                <b-img :src="`/images/icon2/${indikator.icon}.png`" fluid class="img-indicator" />
                <span v-if="indikator.text.length > 20">{{indikator.text.substring(0, 20)}}...</span>
                <span v-else>{{ indikator.text }}</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="12">
                <h2 class="text-left">{{data[indikator.name].percent}}</h2>
              </b-col>
            </b-row>
            <footer>
              <p
                class="text-left caption clear-distance"
                v-for="legend in data[indikator.name].legend"
                :key="legend"
              >{{ legend }}</p>
            </footer>
          </b-card>
        </b-col>
        <!-- </b-card-group> -->
      </b-row>
    </b-card-body>
    <b-card-footer>
      <ul>
        <li v-for="(opd,index) in opds" :key="index">{{opd.user_name}}</li>
      </ul>
    </b-card-footer>
  </b-card>
  <!-- </div> -->
</template>
<script>
import NProgress from "nprogress";

export default {
  props: ["header", "indikators", "datas", "opds"],
  data() {
    return {
      loadings: true,
      last_update: "09-12-1998 14:14:13",
      data: {
        sehat: {
          value: 0,
          percent: "0%",
          legend: []
        },
        tidak_sehat: {
          value: 0,
          percent: "0%",
          legend: []
        },
        tidak_ada_jentik: {
          value: 0,
          percent: "0%",
          legend: []
        },
        ada_jentik: {
          value: 0,
          percent: "0%",
          legend: []
        },
        tertutup: {
          value: 0,
          percent: "0%",
          legend: []
        },
        terbuka: {
          value: 0,
          percent: "0%",
          legend: []
        },
        pompa: {
          value: 0,
          percent: "0%",
          legend: []
        },
        sumur_gali: {
          value: 0,
          percent: "0%",
          legend: []
        },
        sumur_gali_plus: {
          value: 0,
          percent: "0%",
          legend: []
        },
        perpipaan_pdam: {
          value: 0,
          percent: "0%",
          legend: []
        },
        mata_air: {
          value: 0,
          percent: "0%",
          legend: []
        },
        koya: {
          value: 0,
          percent: "0%",
          legend: []
        },
        kali: {
          value: 0,
          percent: "0%",
          legend: []
        },
        helikopter: {
          value: 0,
          percent: "0%",
          legend: []
        },
        septik_tank: {
          value: 0,
          percent: "0%",
          legend: []
        },
        dipilah: {
          value: 0,
          percent: "0%",
          legend: []
        },
        tidak_dipilah: {
          value: 0,
          percent: "0%",
          legend: []
        },
        rumah_sendiri: {
          value: 0,
          percent: "0%",
          legend: []
        },
        kontrak: {
          value: 0,
          percent: "0%",
          legend: []
        },
        lakilaki: {
          value: 0,
          percent: "0%",
          legend: []
        },
        perempuan: {
          value: 0,
          percent: "0%",
          legend: []
        },
        depok: {
          value: 0,
          percent: "0%",
          legend: []
        },
        bukan_depok: {
          value: 0,
          percent: "0%",
          legend: []
        },
        belum_dijamah: {
          value: 0,
          percent: "0%",
          legend: []
        },
        total: {
          value: 0,
          percent: "0%",
          legend: []
        },
        last_update: 0
      },
      data_module: []
    };
  },
  methods: {
    trims(str) {
      var crp;
      crp = str.slice(0, 2);
      return crp;
    },
    getModulesData() {
      axios
        .get(
          "get-modules-data-satuan/" + this.header.kategori + "/" + this.header.modul,
          {
            params: {
              kecamatan: this.$route.query.kecamatan,
              kelurahan: this.$route.query.kelurahan,
              tanggal: this.$route.query.tanggal
            }
          }
        )
        .then(({ data }) => {
          this.data = data.data;
          this.loadings = false;
        })
        .catch(err => {
          NProgress.done();
        });
    }
  },
  mounted() {
    this.getModulesData();

    Fire.$on("AfterFilter", () => {
      this.getModulesData();
    });
  },
  created() {
  },
  beforeDestroy () {
    // reset emit and query params
    Fire.$off('AfterFilter');
  },
};
</script>