<template>
  <b-card>
    <b-row>
      <b-col cols="1">
        <b-img src="/images/icon/nob.png" class="img-icon" />
      </b-col>
      <b-col cols="11">
        <h5 id="traffic" class="card-title mb-0">Angka Perpajakan</h5>
      </b-col>
    </b-row>

    <br />
    <b-row>
      <b-col cols="12">
        <b-card-group deck>
          <b-card no-body class="bg-danger">
            <b-card-body class="pb-0">
              <b-row>
                <b-col cols="2">
                  <b-img :src="'/images/icon2/imbya-s.png'" class="img-icon" />
                </b-col>
                <b-col cols="10">
                  <h5 class="mb-0">{{ general.imb }}</h5>
                  <p>Jumlah Objek yang memiliki IMB</p>
                </b-col>
              </b-row>
            </b-card-body>
          </b-card>

          <b-card no-body class="bg-danger">
            <b-card-body class="pb-0">
              <b-row>
                <b-col cols="2">
                  <b-img :src="'/images/icon2/total.png'" class="img-icon" />
                </b-col>
                <b-col cols="10">
                  <h5 class="mb-0">{{ general.pajak }}</h5>
                  <p>Jumlah objek yang membayar Pajak</p>
                </b-col>
              </b-row>
            </b-card-body>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col sm="12">
        <h4 class="text-center mt-2">Grafik Angka Perpajakan</h4>

        <b-button-toolbar class="float-right">
          <b-form-radio-group
            class="mr-3"
            id="radiosBtn"
            buttons
            button-variant="outline-secondary"
            v-model="selected_graph"
            name="radiosBtn"
          >
            <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
            <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
          </b-form-radio-group>
        </b-button-toolbar>
      </b-col>
    </b-row>
    <b-card no-body class="border-0">
      <div class="chart-wrapper">
        <line-example
          height="250"
          v-if="selected_graph == 'waktu'"
          :kategori="kategori"
          :modul="modul"
          :pajak="1"
        />
        <bar-example
          height="100"
          v-if="selected_graph == 'jumlah'"
          :kategori="kategori"
          :modul="modul"
          :pajak="1"
        />
        <!-- <div class="text-center" v-if="selected_graph == 'waktu'">
          <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
          <span>Tidak ada Data</span>
        </div>
        <div class="text-center" v-if="selected_graph == 'jumlah'">
          <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
          <span>Tidak ada Data</span>
        </div>-->
      </div>
    </b-card>
  </b-card>
</template>
<script>
import LineExample from "../views/sample/charts/LineExample";
import BarExample from "../views/sample/modul/BarExample";
import NProgress from "nprogress";

export default {
  components: {
    LineExample,
    BarExample
  },
  data() {
    return {
      general: {},
      selected_graph: "jumlah"
    };
  },
  props: ["general", "kategori", "modul"],
  methods: {
    // getPajakImbWithKey() {
    //   axios
    //     .get("get-total-pajak/" + this.kategori + "/" + this.modul)
    //     .then(({ data }) => {
    //       this.general = data.data;
    //     })
    //     .catch(err => {
    //       NProgress.done();
    //     });
    // }
  },
  created() {
    // this.getPajakImbWithKey();
  }
};
</script>