<template>
  <filter class="app-filter">
    <b-card>
      <form>
        <b-row>
          <b-col sm="3">
            <div class="form-group">
              <select class="form-control" id="Kecamatan" v-if="$auth.check(1) || $auth.check(2)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </b-col>
          <b-col sm="2">
            <div class="form-group">
              <select class="form-control" id="Kelurahan">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </b-col>
          <b-col sm="2">
            <div class="form-group">
              <select class="form-control" id="RW">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </b-col>
          <b-col sm="2">
            <div class="form-group">
              <select class="form-control" id="RT">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </b-col>
          <b-col sm="2">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date"
                  label="Birthday date"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="date"
                :max="new Date().toISOString().substr(0, 10)"
                min="1950-01-01"
                @change="save"
              ></v-date-picker>
            </v-menu>
          </b-col>

          <b-col sm="2">
            <b-button type="button" variant="primary" class="float-right">
              <i class="fa fa-filter" /> Filter
            </b-button>
            <b-button-toolbar class="float-right" aria-label="Toolbar with buttons group"></b-button-toolbar>
          </b-col>
        </b-row>
      </form>
    </b-card>
  </filter>
</template>
<script>
export default {
  name: Filter,
  data: () => ({
    date: null,
    menu: false
  }),
  watch: {
    menu(val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    }
  }
};
</script>

