<template>
  <footer class="app-footer">
    <span>&copy; 2018 SIPPKLING v3.19.5745-beta1</span>
    <span class="ml-auto">Powered by Mitra Edu Teknologi</span>
  </footer>
</template>
<script>
export default { name: "CFooter" };
</script>
