<template>
  <div class="animated fadeIn">
    <v-card>
      <v-card-title>
        <span class="title">Histori {{nama}}</span>
        &nbsp;
        &nbsp;
        <small>{{role}} Kecamatan {{kecamatan}}, Kelurahan {{kelurahan}}</small>
        <div class="flex-grow-1"></div>
        <v-text-field v-model="search" append-icon="search" label="Cari" single-line hide-details></v-text-field>
      </v-card-title>

      <v-data-table
        :items="items"
        :rows-per-page-items="[5,10,25]"
        :headers="headers"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <!-- <td>{{ props.item.id }}</td> -->
          <td class="text-xs-left">
            <v-chip
              disabled
              :text-color="getTextColor(props.item.aktifitas)"
              small
              :color="getColor(props.item.aktifitas)"
            >{{ props.item.aktifitas }}</v-chip>
          </td>
          <router-link
            exact
            :to="`/modul/${ubah(props.item.nama_data)}/${props.item.objek_id}`"
            class="cursor-pointer text-xs-left text-blue"
            tag="td"
          >{{ props.item.nama_data }}</router-link>
          <!-- <td class="text-xs-left">
              <v-chip
                small
                :color="getColor(props.item.sehat)"
                class="text-white"
              >{{getText(props.item.sehat)}}</v-chip>
          </td>-->
          <td class="text-xs-left">{{ IndonesiaDateFormat(props.item.waktu_history) }}</td>
        </template>
        <template slot="no-data">
          <div class="text-center">
            <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
            <span>Tidak ada Data</span>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
export default {
  props: ["items", "nama", "role", "kecamatan", "kelurahan"],
  methods: {
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getColor(x) {
      if (x == "input") return "blue";
      else if (x == "update") return "yellow";
      else return "red";
    },
    getTextColor(x) {
      if (x == "update") return "black";
      else return "white";
    },
    getText(x) {
      if (x == true) return "Sehat";
      else if (x == false) return "Tidak Sehat";
      else return "Belum Di inspeksi";
    }
  },
  data() {
    return {
      search: "",
      headers: [
        // { text: "No", value: "id" },
        { text: "Aktifitas", value: "action" },
        { text: "Modul", value: "modul" },
        // { text: "Status", value: "sehat" },
        { text: "Waktu", value: "waktu" }
      ]
    };
  }
};
</script>