<template>
  <div style="background-color:#FFFFFF;" class="animiated fadeIn">
    <v-btn depressed @click="$router.go(-1)">
      <v-icon>arrow_back</v-icon>Kembali
    </v-btn>
    <b-img fluid center src="/images/comingsoon.png" class="w-50" />
  </div>
</template>
<script>
export default {
  name: "Coming-Soon"
};
</script>