<template>
  <div>
    <!-- <div id="tet">
      <label> -->
        <!-- <gmap-autocomplete @place_changed="setPlace"></gmap-autocomplete> -->
        <!-- <button @click="getCoordinates(1,1,1)">Add</button>
        <button @click="displayPoly(0,1)">Boundaries</button>
        <button @click="addPolygon()">Now</button>
        <button @click="colorize(0)">For Color</button>
      </label>
    </div> -->
    <div class="float-right">
      <div class="mr-0">
        <!-- <h2>Search and add a pin</h2> -->
        <!-- <v-btn fab color="gray" @click="testing()">
          <v-icon v-b-tooltip.hover title="Test">face</v-icon>
        </v-btn> -->
        <v-btn fab color="red" dark @click="$router.go(-1)">
          <!-- <v-icon>{{ activeFab.icon }}</v-icon> -->
          <v-icon v-b-tooltip.hover title="Kembali">arrow_back</v-icon>
        </v-btn>
        <!-- <b-button > -->
        <v-btn fab dark color="green" @click="leftShow()" id="menu_left">
          <v-icon v-b-tooltip.hover title="Left Menu" position="bottom">face</v-icon>
        </v-btn>
        <v-btn fab dark color="blue" active-class="showMenu" @click="menuShow()" id="menu_right">
          <v-icon v-b-tooltip.hover title="Right Menu" position="bottom">supervised_user_circle</v-icon>
        </v-btn>
      </div>

      <transition name="list">
        <v-card
          v-show="showMenu == true"
          class="scrollable-map float-right"
          style="top:2vh; width:25vw;"
        >
          <v-expansion-panel focusable class="m-0">
            <v-expansion-panel-content v-for="(k,i) in kategoris" :key="i">
              <template v-slot:header>
                <div>{{k.text}}</div>
              </template>
              <v-card>
                <v-card-text>
                  <b-form-checkbox @change="createPoly(k.text, 2)">Kecamatan</b-form-checkbox>
                  <b-form-checkbox @change="createPoly(k.text, 1)">Kelurahan</b-form-checkbox>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>

            <div class="w-100" v-for="(modul, index) in moduls" :key="index">
              <v-expansion-panel-content v-if="index != 'kartukeluarga'">
                <template v-slot:header>
                  <span>{{namaKategori(index)}}</span>
                </template>

                <v-card v-if="index == 'rumahsehat'">
                  <v-card-text>
                    <b-form-checkbox @change="createPoly(3, 2)">Kecamatan</b-form-checkbox>
                    <b-form-checkbox @change="createPoly(3, 1)">Kelurahan</b-form-checkbox>
                  </v-card-text>
                </v-card>
                <v-card >
                  <v-card-text>
                    <v-expansion-panel>
                      <v-expansion-panel-content v-for="(m,index) in modul" :key="index">
                        <template v-slot:header>
                          <span>{{m.name}}</span>
                        </template>
                        <v-card>
                          <v-card-text>
                            <v-expansion-panel>
                              <v-expansion-panel-content
                                v-for="(kecamatan,index) in kecamatans"
                                :key="index"
                              >
                                <template v-slot:header>
                                  <p
                                    :indeterminate="kecamatan.semua"
                                    @change="kecamatanText(kecamatan)"
                                  >{{kecamatan.text}}</p>
                                </template>
                                <v-card>
                                  <v-card-text>
                                    <!-- <b-form-checkbox-group
                                    id="kelurahans"
                                    v-model="selectedKelurahans"
                                    :options="kecamatan.kelurahans"
                                    name="kelurahans"
                                    stacked
                                    ></b-form-checkbox-group>-->
                                    <b-form-checkbox
                                      v-for="(kelurahan,index) in kecamatan.kelurahans"
                                      v-model="index.selected"
                                      :key="kelurahan.id"
                                      @change="toggleMarker(kelurahan.id, kecamatan.id, m.name)"
                                    >{{kelurahan.text}}</b-form-checkbox>
                                  </v-card-text>
                                </v-card>
                              </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-card-text>
                        </v-card>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-divider class="my-0" />
            </div>
          </v-expansion-panel>

          <!-- <v-expansion-panel>
          <v-expansion-panel-content v-for="(modul, index) in moduls" :key="index">
            <template v-slot:header>
              <b-form-checkbox>{{namaKategori(index)}}</b-form-checkbox>
            </template>
            <v-card>
              <v-card-text>
                <v-expansion-panel>
                  <v-expansion-panel-content v-for="(kecamatan,index) in kecamatans" :key="index">
                    <template v-slot:header>
                      <b-form-checkbox>{{kecamatan.text}}</b-form-checkbox>
                    </template>
                    <v-card>
                      <v-card-text>
                        <b-form-checkbox
                          v-for="kelurahan in kecamatan.kelurahans"
                          :key="kelurahan.id"
                        >{{kelurahan.text}}</b-form-checkbox>
                      </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          </v-expansion-panel>-->
        </v-card>
      </transition>
    </div>
    <!-- <h2>Search and add a pin</h2>
        <label>
          <gmap-autocomplete @place_changed="setPlace"></gmap-autocomplete>
          <button @click="addMarker">Add</button>
          <button @click="addPolygon">Boundaries</button>
        </label>
    <br />-->

    <transition name="list">
      <v-card v-if="leftMenu" class="ml-3 left-card scrollable-map float-left w-25">
        <h3 style="margin-top:10px;margin-left:10px">Legend Data</h3>
        <v-card-text>
          <div id="kpi_section" class="w-100">
            <!-- <b-row v-for="(kpi,index) in moduls.rumahsehat[4].indikator" :key="index">
              <b-col sm="1">
                <b-img :src="`/images/icondark/${kpi.icon}.png`" class="img-aside" />
              </b-col>
              <b-col sm="4">{{kpi.name}}</b-col>
              <b-col sm="1">:</b-col>
              <b-col sm="5" class="text-right">6969696969</b-col>
            </b-row> -->
            
          </div>
          <!-- <div id="table_section" class="mt-1">
            <v-card>
              <v-data-table :items="kecamatans" :headers="headers" :rows-per-page-items="[5]">
                <template slot="items" slot-scope="props">
                  <td>{{props.item.text}}</td>
                  <td>{{props.item.jumlah}}</td>
                </template>
              </v-data-table>
            </v-card>
          </div> -->

          <div v-if="check_kc">
            <h2>Kecamatan</h2>
            <div id="table_section" class="mt-1">
              <div>
                <div style="height:20px;width:20px;background-color:#e74c3c;float:left"></div>
                <label style="margin-left:5px">Tidak Sehat</label>
                <br>
                <div style="height:20px;width:20px;background-color:#2ecc71;float:left"></div>
                <label style="margin-left:5px">Sehat</label>
              </div>
              
            <v-card>
              <v-data-table :items="legendrs_kc" :headers="rs_kc_headers" :rows-per-page-items="[5]">
                <template slot="items" slot-scope="props">
                  <td>{{props.item.nama}}</td>
                  <td>{{props.item.sehat}}</td>
                  <td>{{props.item.tidaksehat}}</td>
                  <td>{{props.item.total}}</td>
                </template>
              </v-data-table>
            </v-card>
            </div>
          </div>

          <div v-if="check_kl">
            <h2 style="margin-top:10px">Kelurahan</h2>
            <div id="table_section" class="mt-1">
              <div>
                <div style="height:20px;width:20px;background-color:#e74c3c;float:left"></div>
                <label style="margin-left:5px">Tidak Sehat</label>
                <br>
                <div style="height:20px;width:20px;background-color:#2ecc71;float:left"></div>
                <label style="margin-left:5px">Sehat</label>
              </div>
            <div id="table_section" class="mt-1">
            <v-card>
              <v-data-table :items="legendrs_kl" :headers="rs_kl_headers" :rows-per-page-items="[5]">
                <template slot="items" slot-scope="props">
                  <td>{{props.item.nama}}</td>
                  <td>{{props.item.sehat}}</td>
                  <td>{{props.item.tidaksehat}}</td>
                  <td>{{props.item.total}}</td>
                </template>
              </v-data-table>
            </v-card>
            </div>
          </div>

          <!-- <div v-if="check_tkl_kecamatan">
            <h2 style="margin-top:10px">Rumah Sehat: Kelurahan</h2>
            <div id="table_section" class="mt-1">
            <v-card>
              <v-data-table :items="legendtkl_kl" :headers="tkl_kl_headers" :rows-per-page-items="[5]">
                <template slot="items" slot-scope="props">
                  <td>{{props.item.nama}}</td>
                  <td>{{props.item.sehat}}</td>
                  <td>{{props.item.tidaksehat}}</td>
                  <td>{{props.item.total}}</td>
                </template>
              </v-data-table>
            </v-card>
            </div> -->
          </div>
          
        </v-card-text>
      </v-card>
      <!-- <KPICard
        class="float-left w-25"
        v-show="leftMenu == true"
        :indikator="moduls.rumahsehat[4].indikator"
        :items="kecamatans"
        :headers="headers"
      /> -->
    </transition>
    <!-- <v-card class="ml-3 left-card">
        <v-card-text>
          <b-row>
            <b-col sm="1">
              <b-img :src="`/images/icon/lakilakis.png`" class="img-aside" />
            </b-col>
            <b-col sm="10">Total Penduduk : 6969696969</b-col>
          </b-row>
        </v-card-text>
    </v-card>-->
    <!-- <div id="map"> -->
    <gmap-map
      ref="map"
      :center="center"
      :zoom="12"
      style="width:100%; position:absolute; z-index:-999; height: 100vh;"
    >
      <gmap-marker
      ref="mark"
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
    <!-- </div> -->
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import Callout from "@/components/Callout";
import KPICard from "@/components/MapsComponents/KPICard";
import BatasAdminCard from "@/components/MapsComponents/BatasAdminCard";
import initPolygon from "./initPolygon.js";
export default {
  name: "Dashboard-Peta",
  components: {
    Callout,
    KPICard,
    BatasAdminCard
  },
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      buttonpoly : false,
      center: { lat: -6.385589, lng: 106.830711 },
      markers: [],

      pointmarker: [],
      statusMarkers:[],
      startMarker:[],
      endMarker:[],
      templength: 0,

      customMarkers: null,
      infowindow: [],
      places: [],
      currentPlace: null,
      coordinates: [],
      latlng: [],
      Mlat: [],
      Mlng: [],
      Mlatlng: [],

      cm_cat:[false,false,false,false,false,false,false,false,false,false,false,false,false,false],
      truth: false,

      luaswilayah: [],
      polykelurahan: [],
      polykecamatan: [],
      datapolykelurahan: [],
      datapolykecamatan: [],
      pk_ba:[],
      pk_tkl:[],
      pk_rs:[],

      markercheckpoint:[],

      checkpolykecamatan: false,
      cp_kel: [false,false,false],
      checkvisiblepolykec: false,
      checkvisiblepolykel: false,
      cp_cat: [false,false,false],

      polyBatasAdmin: [],
      polyKesLing: [],
      polyRuHat: [],
      pkcBatasAdmin: [],
      pkcKesling: [],
      pkcRuhat: [],

      warnaRuHatKel:[],
      warnaRuhatKec:[],

      markercategory: [],
      markerkelularahan: [],
      
      poly: initPolygon,

      test: "",
      
      datalayer: null,
      polyloaded: false,
      check: false,

      max_rumah_sehat: null,
      id_ba_kl: [],
      val_bk_kl: [],
      id_ba_kc: [],
      val_bk_kc: [],

      colorvalue: [],
      colorfill: [],

      kartu:'<h1>Judul</h1>',

      fab: true,
      // outside: false,
      // inside: false,
      legend: false,
      legendrs_kc:[],
      legendrs_kl:[],

      indeterminate: false,
      showMenu: false,
      leftMenu: false,
      selectedKecamatans: [],
      selectedKelurahans: [],
      kategoris: [
        { text: "Batas Admin" },
        { text: "Tingkat Kesehatan Lingkungan" }
        // { text: "Rumah Sehat" }
        // { text: "Rumah Sehat", modulke: 1 },
        // { text: "TTU", modulke: 2 },
        // { text: "TPM", modulke: 3 },
        // { text: "Lainnya", modulke: 4 }
      ],
      headers: [
        { text: "Kecamatan", value: "text" },
        { text: "Jumlah", value: "jumlah" }
      ],
      tkl_kc_headers:[
        { text: "Kecamatan", value:"text"},
        { text: "Rumah Sehat", value: "rs"},
        { text: "Tempat Ibadah", value:"ti"},
        { text: "Pasar", value: "psr"},
        { text: "Sekolah", value:"skl"},
        { text: "Pesantren", value: "pst"},
        { text: "Kolam Renang", value: "kr"},
        { text: "Puskesmas", value:"pkm"},
        { text: "Rumah Sakit", value: "rs"},
        { text: "Klinik", value: "klk"},
        { text: "Hotel", value:"htl"},
        { text: "Hotel Melati", value: "hm"},
        { text: "Salon", value:"sln"},
        { text: "Jasa Boga", value: "jb"},
        { text: "Restoran", value:"rst"},
        { text: "Depot Air Minum", value: "dam"},
        { text: "Pelayanan Kesehatan", value:"pk"},
        { text: "PHBS", value: "phbs"},
        { text: "Total", value: "total"}
      ],
      tkl_kl_headers:[
        { text: "Kelurahan", value:"text"},
        { text: "Rumah Sehat", value: "rs"},
        { text: "Tempat Ibadah", value:"ti"},
        { text: "Pasar", value: "psr"},
        { text: "Sekolah", value:"skl"},
        { text: "Pesantren", value: "pst"},
        { text: "Kolam Renang", value: "kr"},
        { text: "Puskesmas", value:"pkm"},
        { text: "Rumah Sakit", value: "rs"},
        { text: "Klinik", value: "klk"},
        { text: "Hotel", value:"htl"},
        { text: "Hotel Melati", value: "hm"},
        { text: "Salon", value:"sln"},
        { text: "Jasa Boga", value: "jb"},
        { text: "Restoran", value:"rst"},
        { text: "Depot Air Minum", value: "dam"},
        { text: "Pelayanan Kesehatan", value:"pk"},
        { text: "PHBS", value: "phbs"},
        { text: "Total", value: "total"}
      ],
      rs_kc_headers:[
        { text: "Kecamatan", value:"text"},
        { text: "Sehat", value: "sehat"},
        { text: "Tidak Sehat", value:"tidak"},
        { text: "Total", value: "jumlah"}
      ],
      rs_kl_headers:[
        { text: "Kelurahan", value:"text"},
        { text: "Sehat", value: "sehat"},
        { text: "Tidak Sehat", value:"tidak"},
        { text: "Total", value: "jumlah"}
      ],
      ba_kl_headers: [
        { text: "Kelurahan", value:"text"},
        { text: "Rumah Sehat", value: "jumlah"}
      ],
      ba_kl_t_headers: [
        { text: "Kelurahan", value:"text"},
        { text: "Rumah Tidak Sehat", value: "jumlah_tidak"}
      ],
      ba_kc_headers: [
        { text: "Kecamatan", value:"text"},
        { text: "Rumah Sehat", value: "jumlah"}
      ],
      ba_kc_t_headers: [
        { text: "Kecamatan", value:"text"},
        { text: "Rumah Tidak Sehat", value: "jumlah_tidak"}
      ],
      data_ba_kc:[],
      data_ba_kc_t:[],
      data_ba_kl:[],
      data_ba_kl_t:[],

      check_kl: false,
      check_kc: false,

      kecamatans: [
        {
          id: 1,
          text: "Beji",
          jumlah: 12374,
          kelurahans: [
            { id: 1, text: "Beji", selected: false, jumlah: 12374 },
            { id: 2, text: "Beji Timur", selected: false, jumlah: 12374 },
            { id: 3, text: "Kemiri Muka", selected: false, jumlah: 12374 },
            { id: 4, text: "Pondok Cina", selected: false, jumlah: 12374 },
            { id: 5, text: "Kukusan", selected: false, jumlah: 12374 },
            { id: 6, text: "Tanah Baru", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 2,
          text: "Pancoran Mas",
          jumlah: 12374,
          kelurahans: [
            { id: 7, text: "Pancoran Mas", selected: false, jumlah: 12374 },
            { id: 8, text: "Depok", selected: false, jumlah: 12374 },
            { id: 9, text: "Depok Jaya", selected: false, jumlah: 12374 },
            { id: 10, text: "Rangkapan Jaya", selected: false, jumlah: 12374 },
            { id: 11, text: "Mampang", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 3,
          text: "Cipayung",
          jumlah: 12374,
          kelurahans: [
            { id: 12, text: "Cipayung", selected: false, jumlah: 12374 },
            { id: 13, text: "Cipayung Jaya", selected: false, jumlah: 12374 },
            { id: 14, text: "Rat Jaya", selected: false, jumlah: 12374 },
            { id: 15, text: "Pondok Jaya", selected: false, jumlah: 12374 },
            {
              id: 61,
              text: "Bojong Pobdok Terong",
              selected: false,
              jumlah: 12374
            }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 4,
          text: "Sukmajaya",
          jumlah: 12374,
          kelurahans: [
            { id: 16, text: "Sukmajaya", selected: false, jumlah: 12374 },
            { id: 17, text: "Mekar Jaya", selected: false, jumlah: 12374 },
            { id: 18, text: "Bakti Jaya", selected: false, jumlah: 12374 },
            { id: 19, text: "Abadi Jaya", selected: false, jumlah: 12374 },
            { id: 20, text: "Tirta Jaya", selected: false, jumlah: 12374 },
            { id: 21, text: "Cisalak", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 5,
          text: "Cilodong",
          jumlah: 12374,
          kelurahans: [
            { id: 22, text: "Cilodong", selected: false, jumlah: 12374 },
            { id: 23, text: "Sukamaju", selected: false, jumlah: 12374 },
            { id: 24, text: "Kalibaru", selected: false, jumlah: 12374 },
            { id: 25, text: "Kalimulya", selected: false, jumlah: 12374 },
            { id: 26, text: "Jatimulya", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 6,
          text: "Limo",
          jumlah: 12374,
          kelurahans: [
            { id: 27, text: "Limo", selected: false, jumlah: 12374 },
            { id: 28, text: "Meruyung", selected: false, jumlah: 12374 },
            { id: 29, text: "Grogol", selected: false, jumlah: 12374 },
            { id: 30, text: "Krukut", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 7,
          text: "Cinere",
          jumlah: 12374,
          kelurahans: [  
            { id: 31, text: "Cinere", selected: false, jumlah: 12374 },
            {
              id: 32,
              text: "Pangkalan Jati Baru",
              selected: false,
              jumlah: 12374
            },
            { id: 33, text: "Pangkalan Jati", selected: false, jumlah: 12374 },
            { id: 34, text: "Gandul", selected: false, jumlah: 12374 },
            { id: 35, text: "Pangkalan Jati", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 8,
          text: "Cimanggis",
          jumlah: 12374,
          kelurahans: [
            { id: 36, text: "Cisalak Pasar", selected: false, jumlah: 12374 },
            { id: 37, text: "Mekarsari", selected: false, jumlah: 12374 },
            {
              id: 38,
              text: "Pasir Gunung Selatan",
              selected: false,
              jumlah: 12374
            },
            { id: 39, text: "Tugu", selected: false, jumlah: 12374 },
            { id: 40, text: "Harjamukti", selected: false, jumlah: 12374 },
            { id: 41, text: "Curug", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 9,
          text: "Tapos",
          jumlah: 12374,
          kelurahans: [
            { id: 42, text: "Tapos", selected: false, jumlah: 12374 },
            { id: 43, text: "Leuwinanggung", selected: false, jumlah: 12374 },
            { id: 44, text: "Sukatani", selected: false, jumlah: 12374 },
            { id: 45, text: "Sukamaju Baru", selected: false, jumlah: 12374 },
            { id: 46, text: "Jatijajar", selected: false, jumlah: 12374 },
            { id: 47, text: "Cilangkap", selected: false, jumlah: 12374 },
            { id: 48, text: "Cimpaeun", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 10,
          text: "Sawangan",
          jumlah: 12374,
          kelurahans: [
            { id: 49, text: "Sawangan", selected: false, jumlah: 12374 },
            { id: 50, text: "Kedaung", selected: false, jumlah: 12374 },
            { id: 51, text: "Cinangka", selected: false, jumlah: 12374 },
            { id: 52, text: "Sawangan Baru", selected: false, jumlah: 12374 },
            { id: 53, text: "Bedahan", selected: false, jumlah: 12374 },
            { id: 54, text: "Pengasinan", selected: false, jumlah: 12374 },
            { id: 55, text: "Pasir Putih", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        },
        {
          id: 11,
          text: "Bojong Sari",
          jumlah: 12374,
          kelurahans: [
            {
              id: 56,
              text: "Bojong Sari Baru",
              selected: false,
              jumlah: 12374
            },
            { id: 57, text: "Serua", selected: false, jumlah: 12374 },
            { id: 58, text: "Pondok Petir", selected: false, jumlah: 12374 },
            { id: 59, text: "Curug", selected: false, jumlah: 12374 },
            { id: 60, text: "Duren Mekar", selected: false, jumlah: 12374 }
          ],
          selected: false,
          semua: false,
          separo: false
        }
      ]
    };
  },
  watch: {
    selected(newVal, oldVal) {
      // Handle changes in individual flavour checkboxes
      if (newVal.length === 0) {
        this.separo = false;
        this.semua = false;
      } else if (newVal.length === this.kelurahans.length) {
        this.separo = false;
        this.semua = true;
      } else {
        this.separo = true;
        this.semua = false;
      }
    }
  },
  mounted() {
    // this.setMap();
    // this.getCoordinates();
    // this.geolocate();
    // this.colorize(0);
    // this.addPolygon();
    // this.displayPoly();
    this.startups();
    this.coloring();
    this.getRumahSehat();
    this.legendrumahsehat();
  },
  computed: {
    ...mapGetters({
      moduls: "getModuls"
    }),
  },

  methods: {
    kecamatanText(param) {
      console.log(param);
    },
    kelurahanText(param) {
      console.log(param);
    },
    menuShow() {
      this.showMenu = !this.showMenu;
    },
    leftShow() {
      this.leftMenu = !this.leftMenu;
    },
    ubah(words) {
      return words.replace(/ /g, "-");
    },
    getColorCallout(kategori) {
      if (kategori == "kartukeluarga") return "cyan";
      else if (kategori == "rumahsehat") return "success";
      else if (kategori == "tempatumum") return "warning";
      else if (kategori == "tempatpengolahanmakanan") return "red";
      else return "info";
    },
    namaKategori(modul) {
      if (modul == "kartukeluarga") return "KARTU KELUARGA";
      else if (modul == "rumahsehat") return "Rumah Sehat";
      else if (modul == "tempatumum") return "Tempat - Tempat Umum";
      else if (modul == "tempatpengolahanmakanan")
        return "Tempat Pengolahan Makanan";
      else if (modul == "lainnya") return "Lainnya";
    },

    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    testing() {
      for (let i=0;i<this.markers.length;i++){
        this.markers[i].setMap(null);
      }
      this.markers = [];
    },
    // setMap(){
    //   this.map = new google.maps.Map(document.getElementById('map'),{
    //     center: this.center,
    //     zoom: 12
    //   })
    // },
    getCoordinates(selectedKelurahan, selectedKecamatan, selectedModul,checkpoint) {
      let selects = selectedKelurahan;
      let selectc = selectedKecamatan;
      let selectm = selectedModul;
      let getfunc = "";
      let customicon;
      // this.customMarkers = '/public/images/marker/marker_rumahsehat.png';
      console.log(selectc, selects, selectm);
      switch (selectm) {
        case "Tempat Ibadah":
          getfunc = "tempat-ibadah-maps";  
          selectm = 1;
          break;
        case "Pasar":
          getfunc = "pasar-maps";
          selectm = 2;
          break;
        case "Sekolah":
          getfunc = "sekolah-maps";
          selectm = 3;
          break;
        case "Pesantren":
          getfunc = "pesantren-maps";
          selectm = 4;
          break;
        case "Kolam Renang":
          getfunc = "kolam-renang-maps";
          selectm = 5;
          break;
        case "Puskesmas":
          getfunc = "puskesmas-maps";
          selectm = 6;
          break;
        case "Rumah Sakit":
          getfunc = "rumah-sakit-maps";
          selectm = 7;
          break;
        case "Klinik":
          getfunc = "klinik-maps";
          selectm = 8;
          break;
        case "Hotel":
          getfunc = "hotel-maps";
          selectm = 9;
          break;
        case "Hotel Melati":
          getfunc = "hotel-melati-maps";
          selectm = 10;
          break;
        case "Salon":
          getfunc = "salon-maps";
          selectm = 11;
          break;
        case "Jasa Boga":
          getfunc = "jasa-boga-maps";
          selectm = 12;
          break;
        case "Restoran":
          getfunc = "restoran-maps";
          selectm = 13;
          break;
        case "Depot Air Minum":
          getfunc = "depot-air-minum-maps";
          selectm = 14;
          break;
        case "Pelayanan Kesehatan":
          getfunc = "pelayanan-kesehatan-maps";
          selectm = 15;
          break;
        case "PHBS":
          getfunc = "phbs-maps";
          selectm = 16;
          break;
        default:
          getfunc = "coordinates";
          selectm = 0;
          customicon = {
            url:"../images/marker/marker_hotel.png",
            scaledSize: new google.maps.Size(20, 24)
          };
          
          break;
      }
      // switch (selectedKelurahan) {
      //   case 1:
      //     selects = "coordinates"
      //     break;

      //   default:
      //     break;
      // }
      console.log(getfunc);
      axios
        .get(getfunc, {
          params: {
            kecamatan: selectc,
            kelurahan: selects
          }
        })
        .then(({ data }) => {
          this.coordinates = data.filter.data;
          // console.log(this.coordinates.length);
          for (var i = 0; i < this.coordinates.length; i++) {
            // console.log(this.coordinates[i].koordinat);
            this.latlng[i] = this.coordinates[i].koordinat.split(", ");
            this.statusMarkers[i] = this.coordinates[i].status;
            
            this.Mlat[i] = this.latlng[i][0];
            this.Mlng[i] = this.latlng[i][1];

            this.Mlat[i] = parseFloat(this.Mlat[i]);
            this.Mlng[i] = parseFloat(this.Mlng[i]);
            // this.Mlatlng[i] = new google.maps.LatLng(this.Mlat, this.Mlng);
            // console.log(this.Mlat[i],this.Mlng[i]);
          }
          this.addMarker(selects,selectm,checkpoint);
        });
    },
    addMarker(selects,selectm,checkpoint) {
      console.log("button di klik");
      var customicon= "";
      // this.getCoordinates();
      // this.markers = new google.maps.Marker({map: this.$refs.map.$mapObject});
      // let customicon = {
      //   url:"../images/marker/marker_hotel_resized.png"
      //   };
      
      for (var i = 0; i < this.coordinates.length; i++) {
        const marker = {
          lat: this.Mlat[i],
          lng: this.Mlng[i]
        };
        // console.log(this.statusMarkers[i]);
        switch (selectm) {
        case "Tempat Ibadah":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_tempatibadah_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            };
          } else if (this.statusMarkers[i] == false) {
            customicon = {
              url:"../images/marker/merah/marker_tempatibadah_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            };
          }
          this.cm_cat[0] = !this.cm_cat[0];          
          break;
        case "Pasar":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_pasar_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            };
          } else if (this.statusMarkers[i] == false) {
            customicon = {
              url:"../images/marker/merah/marker_pasar_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            };
          }
          break;
        case "Sekolah":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_sekolah_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_sekolah_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Pesantren":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_pesantren_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_pesantren_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Kolam Renang":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_kolamrenang_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_kolamrenang_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Puskesmas":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_puskesmas_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_puskesmas_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Rumah Sakit":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_rumahsakit_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_rumahsakit_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Klinik":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_klinik_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_klinik_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Hotel":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_hotel_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_hotel_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Hotel Melati":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_hotelmelati_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_hotelmelati_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Salon":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_salon_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_salon_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Jasa Boga":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_jasaboga_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_jasaboga_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Restoran":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_restoran_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_restoran_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Depot Air Minum":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_dam_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_dam_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "Pelayanan Kesehatan":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_rumahsehat_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_rumahsehat_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        case "PHBS":
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_rumahsehat_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_rumahsehat_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        default:
          if (this.statusMarkers[i] == true) {
            customicon = {
              url:"../images/marker/ijo/marker_rumahsehat_ijo.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          } else {
            customicon = {
              url:"../images/marker/merah/marker_rumahsehat_merah.png",
              scaledSize: new google.maps.Size(20, 24)
            }
          }
          break;
        }
        // this.markers[i] = new google.maps.Marker({
        const mark = new google.maps.Marker({
          position: marker,
          // map: this.$refs.map.$mapObject,
          icon: customicon,
          title: "marker"
        });
        // mark.setMap(this.$refs.map.$mapObject);
        this.pointmarker.push(mark);
        // this.pointmarker[i].setMap(this.$refs.map.$mapObject);

        // this.markers[i].setMap(this.$refs.map.$mapObject);

        // this.markers[i].push({ position: marker });
        // this.places.push(this.currentPlace);
        // this.center = marker;
        // this.currentPlace = null;
      }
      var endpoint = this.pointmarker.length; // save latest array length for endpoint of marker of this category and kelurahan
        var startpoint = this.templength; // save starting point from temp that is from last endpoint
        
        this.endMarker.push(endpoint); // storing endpoint of this marker of category and kelurahan
        this.startMarker.push(startpoint); // storing startpoint of marker of category and kelurahan array

        this.templength = endpoint; // saving endpoint to be used for next iteraton

        this.statusMarkers.push(true); // status for marker array visibility

        var locating = this.markercheckpoint.indexOf(checkpoint);

        for (var j=this.startMarker[locating];j<this.endMarker[locating];j++){
          this.pointmarker[j].setMap(this.$refs.map.$mapObject);
        }

        console.log(locating, "endpoint: ",endpoint, "start point: ",startpoint); 
    },
    toggleMarker(kelurahan, kecamatan, category){
      const checkpoint = category.toString().concat(kelurahan.toString()); // creating a checkpoint variable for marker

      var getfunc = "";
      var selectm = "";

      if (this.markercheckpoint.includes(checkpoint)){ // check if checkpoint exists in array
        const location = this.markercheckpoint.indexOf(checkpoint); // get the index of checkpoint
        console.log("checkpoint located",location);

        for (let i=this.startMarker[location];i<this.endMarker[location];i++){ // looping from the starting index to end index for this array of marker of category and kelurahan
          if (this.statusMarkers[location] == true){ // checking the status of marker visibility
            // setting marker to invisible
            this.pointmarker[i].setVisible(false); 
          } else {
            this.pointmarker[i].setVisible(true);
          }
        } 
        this.statusMarkers[location] = !this.statusMarkers[location];
        
      } else {
        console.log("checkpoint did not exist, creating checkpoint...");
        this.markercheckpoint.push(checkpoint); // create checkpoint
        console.log(checkpoint);
        
        this.getCoordinates(kelurahan,kecamatan,category,checkpoint);

        // var endpoint = this.pointmarker.length; // save latest array length for endpoint of marker of this category and kelurahan
        // var startpoint = this.templength; // save starting point from temp that is from last endpoint
        
        // this.endMarker.push(endpoint); // storing endpoint of this marker of category and kelurahan
        // this.startMarker.push(startpoint); // storing startpoint of marker of category and kelurahan array

        // this.templength = this.endMarker; // saving endpoint to be used for next iteraton

        // this.statusMarkers.push(true); // status for marker array visibility

        // console.log(this.markercheckpoint, "endpoint: ",endpoint, "start point: ",startpoint); 
      }
    },
    displayPoly(category, bounds) {
      console.log(category, bounds);

      // // console.log("Polygon");
      // if (this.polyloaded == false) {
      //   this.polyloaded = true;
      //   this.movePoly();
        
      // }
      this.colorize(category,bounds);
      switch (category) {
        case "Batas Admin":
          this.cp_cat[0] = !this.cp_cat[0];          
          break;
        case "Tingkat Kesehatan Lingkungan":
          this.cp_cat[1] = !this.cp_cat[1];
          break;
        case "Rumah Sehat":
          this.cp_cat[2] = !this.cp_cat[2];
          break;
        default:

          break;
      }
      console.log(this.cp_cat);
      if (bounds == 1){
        // let interval = null;
        // for (var i = 0; i < this.datapolykelurahan.length; i++) {
          
        // BATAS ADMIN
        if (this.cp_cat[0] == true){
          var i =0;        
          while (i<this.datapolykelurahan.length){
          // let colorfill = this.colorize(i); // "#06a12f"

          this.polykelurahan[i] = new google.maps.Polygon({
            paths: this.datapolykelurahan[i],
            strokeColor: "#000000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: this.colorvalue[i],
            fillOpacity: 0.35,
            title: "Kelurahan",
            map: this.$refs.map.$mapObject
          });
          // this.polykelurahan[i].setMap(this.$refs.map.$mapObject)
          this.pk_ba[i] = this.polykelurahan[i];
          // this.polykelurahan[i].setVisible(true);
          // console.log(this.datapolykelurahan[i]);
          // console.log("kelurahan" + i);
          // console.log(this.colorvalue);
          this.pk_ba[i].setVisible(this.cp_cat[0]);
          i++;
          }
        }        
        if (this.cp_cat[0]==false){
          for (var k=0;k<this.pk_ba.length;k++){
            this.pk_ba[k].setVisible(this.cp_cat[0]);
          }
        }

        // TINGKAT KESEHATAN LINGkUNGAN
        if (this.cp_cat[1] == true){
          for(var i=0; i<this.datapolykelurahan.length;i++){
          this.polykelurahan[i] = new google.maps.Polygon({
            paths: this.datapolykelurahan[i],
            strokeColor: "#000000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: this.colorvalue[i],
            fillOpacity: 0.35,
            map: this.$refs.map.$mapObject
          });
          this.pk_tkl[i] = this.polykelurahan[i];
          this.pk_tkl[i].setVisible(this.cp_cat[1]);
          }
        }        
        if (this.cp_cat[1]==false){
          for (var k=0;k<this.pk_tkl.length;k++){
            this.pk_tkl[k].setVisible(this.cp_cat[1]);
          }
        }

        //RUMAH SEHAT
        if (this.cp_cat[2] == true){
          for(var i=0; i<this.datapolykelurahan.length;i++){
          this.polykelurahan[i] = new google.maps.Polygon({
            paths: this.datapolykelurahan[i],
            strokeColor: "000000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: this.warnaRuhatKel[i],
            fillOpacity: 0.35,
            // map: this.$refs.map.$mapObject
          });
          this.pk_rs[i] = this.polykelurahan[i];
          // this.pk_rs[i].setVisible(this.cp_cat[2]);
          }
        }        
        if (this.cp_cat[2]==false){
          for (var k=0;k<this.pk_rs.length;k++){
            this.pk_rs[k].setVisible(this.cp_cat[2]);
          }
        }
        
      } else if (bounds == 2) {
        for (var i = 0; i < this.datapolykecamatan.length; i++) {
          this.polykecamatan[i] = new google.maps.Polygon({
            paths: this.datapolykecamatan[i],
            strokeColor: "#000000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: 0.35
          });
          // console.log(this.datapolykecamatan[i]);
          // console.log("Kecamatan" + i);
          this.polykecamatan[i].setMap(this.$refs.map.$mapObject);
        }
      }
      
        // for (var i=0; i<1; i++){
        //   this.$refs.map.$mapObject.data.add({
        //     geometry: new google.maps.Data.Polygon([this.poly.kel1.data])
        //   });
        // }
      // } else if (this.polyloaded == true) {
      //   if (this.bounds == 1){
      //     if (this.check == true){
      //       for (var i=0; i<this.datapolykelurahan.length; i++){
      //         this.polykelurahan[i].setVisible(true);
      //         this.check = false;
      //       }
      //     } else {
      //       for (var i=0; i<this.datapolykelurahan.length; i++){
      //       this.polykelurahan[i].setVisible(false);
      //       this.check = true;
      //       }
      //     }
      //   } else if (this.bounds == 2) {
      //     if (this.check == true){
      //       for (var i=0; i<this.datapolykecamatan.length; i++){
      //         this.polykecamatan[i].setVisible(true);
      //         this.check = false;
      //       }
      //     } else {
      //       for (var i=0; i<this.datapolykecamatan.length; i++){
      //       this.polykecamatan[i].setVisible(false);
      //       this.check = true;
      //       }
      //     }
      //   }
      // }
    },
    legendrumahsehat(){
      console.log("legend rumah sehat");
      axios.get("legendrumahsehat").then(({data}) => {
        this.legendrs_kc = data.kecamatan;
        this.legendrs_kl = data.kelurahan;
        console.log(this.legendrs_kc,this.legendrs_kl);
      })
      
    },
    wait(ms) {
      var d = new Date();
      var d2 = null;
      do {
        d2 = new Date();
      } while (d2 - d < ms);
    },
    coloring(){ 
      console.log("warna untuk category rumah sehat");
      var raw;
      var sehatkec;
      var sehatkel;
      var tidaksehatkel;
      var tidaksehatkec;
      axios
      .get("sehat")
      .then(({data}) => {
        raw = data;
        sehatkec = raw.sehat.kecamatan;
        sehatkel = raw.sehat.kelurahan;
        tidaksehatkel = raw.tidaksehat.kelurahan;
        tidaksehatkec = raw.tidaksehat.kecamatan;

        this.data_ba_kc = raw.sehat.kecamatan;
        this.data_ba_kc_t = raw.tidaksehat.kecamatan;
        this.data_ba_kl = raw.sehat.kelurahan;
        this.data_ba_kl_t = raw.tidaksehat.kelurahan;
        console.log(this.data_ba_kc);

        for (let i=0;i<sehatkec.length;i++){
          if (sehatkec[i].total < tidaksehatkec[i].total){
            this.warnaRuhatKec[i] = "#e74c3c"; // merah
          } else {
            this.warnaRuhatKec[i] = "#2ecc71"; // hijau
          }
        }
        for (let i=0;i<sehatkel.length;i++){
          if (typeof sehatkel[i].total !== 'undefined' || typeof tidaksehatkel[i].total !== 'undefined') {
            this.warnaRuHatKel[i] = '#D3D3D3'
          } else {
            if (sehatkel[i].total < tidaksehatkel[i].total){
              this.warnaRuHatKel[i] = "#e74c3c"; // merah
            } else {
              this.warnaRuHatKel[i] = "#2ecc71"; // hijau
            }
          }
        }
      });
    },
    colorize(category,bounds){
      // this.$refs.map.$mapObject.data.overrideStyle(this.polykelurahan[indexpoly].feature, {
      //   fillColor: '#fff5f5'
      // })
      var kec;
      var kel;
      var j = 0;
      var colors;
      let colorbounds;
      // var colorvalue;

      // if (0<=indexpoly && indexpoly<6){
      //   kec = 1; // beji
      // } else if (6<=indexpoly && indexpoly<11){
      //   kec = 2; // pancoran mas
      // } else if (11<=indexpoly && indexpoly<15){
      //   kec = 3; // cipayung
      // } else if (15<=indexpoly && indexpoly<21){
      //   kec = 4; // sukmajaya
      // } else if (21<=indexpoly && indexpoly<26){
      //   kec = 5; // cilodong
      // } else if (26<=indexpoly && indexpoly<30){
      //   kec = 6; // limo
      // } else if (30<=indexpoly && indexpoly<35){
      //   kec = 7; // cinere
      // } else if (35<=indexpoly && indexpoly<41){
      //   kec = 8; // cimanggis
      // } else if (41<=indexpoly && indexpoly<48){
      //   kec = 9; // tapos
      // } else if (48<=indexpoly && indexpoly<55){
      //   kec = 10; // sawangan
      // } else if (55<=indexpoly && indexpoly<60){
      //   kec = 11; // bojong sari
      // } else if (indexpoly == 61){
      //   kec = 3;
      // }
      switch (category) {
        case "Batas Admin":
          colorbounds = "rame"
          break;
        case "Rumah Sehat":
          colorbounds = "tidaksehat"
          break;
        default:
          colorbounds = "pop"
          break;
      }
          
      // while (j<62){
      axios
        .get(colorbounds)
        .then(({ data }) => {
          colors = data;
          kel = 0;
          
          console.log(colorbounds)
          if (category == "Batas Admin"){
            for (var j=0;j<colors.length;j++){
              kel = Math.max(kel, colors[i].populasi);
            }
            console.log(kel);
            for (var i=0;i<colors.length;i++){
              if (colors[i].populasi<=5)  {
                this.colorvalue[i] = "#FFCCCB"
              } else if (6<colors[i].populasi && colors[i].populasi<=10){
                this.colorvalue[i] = "#FFA1A0"
              } else if (11<colors[i].populasi && colors[i].populasi<=20){
                this.colorvalue[i] = "#FF6E6D"
              } else if (21<colors[i].populasi && colors[i].populasi<=45){
                this.colorvalue[i] = "#FE4746"
              } else if (46<=colors[i].populasi && colors[i].populasi<=75){
                this.colorvalue[i] = "#FE1A19"
              } else if (76<=colors[i].populasi && colors[i].populasi<=120){
                this.colorvalue[i] = "#DC1615"
              } else if (120<=colors[i].populasi && colors[i].populasi<=300){
                this.colorvalue[i] = "#AE1110"
              } else if (301<=colors[i].populasi && colors[i].populasi<=700){
                this.colorvalue[i] = "#880D0D"
              } else if (701<=colors[i].populasi && colors[i].populasi<=1500){
                this.colorvalue[i] = "#500607"
              } else if (15001<=colors[i].populasi){
                this.colorvalue[i] = "#1A0001"
              }
              console.log(colors[i].populasi, this.colorvalue[i], i);
            }
          } else
          if (category == "Tingkat Kesehatan Lingkungan" || category == "Rumah Sehat"){
            for (var i=0;i<colors.length;i++){
              if (colors[i].total<=1000){
                this.colorvalue[i] = "#8bfca9"
              } else if (1000<colors[i].total && colors[i].total<=2000){
                this.colorvalue[i] = "#53ed7c"
              } else if (2000<colors[i].total && colors[i].total<=3000){
                this.colorvalue[i] = "#34e062"
              } else if (3000<colors[i].total && colors[i].total<=4000){
                this.colorvalue[i] = "#1fcc4d"
              } else if (4000<=colors[i].total && colors[i].total<=5000){
                this.colorvalue[i] = "#06a12f"
              }
              console.log(colors[i].total, this.colorvalue[i], i);
            }
          }
        });
        // this.colorvalue = "#8bfca9";
      // return colorvalue;
      // this.wait(1000);
      // j++;
      // console.log(this.colorvalue[indexpoly]);
      // }
    },
    togglePoly(selectedmoduls,bounds) {
      if (selectedmoduls == "Batas Admin"){
        if (bounds == 1){
          for (var i=0; i<this.polyBatasAdmin.length; i++){
            this.polyBatasAdmin[i].setVisible(true);
            // this.cp_cat[0] = !this.cp_cat[0];
          }
        }
      }
    },
    addPolygon() {
      // console.log(axios.get("https://s.put.re/V5WPvyrg.shp.geojson"));
      // axios.get("https://s.put.re/V5WPvyrg.shp.geojson").then(({ data }) => {
      //   this.test = data;
      //   console.log(data);
      //   this.$refs.map.$mapObject.data.add({
      //     geometry: new google.maps.Data.Polygon([data])
      //   });
      // });
      for (var l = 0; l < this.markers.length; l++) {
        this.markers[l].setVisible(false);
      }
      this.markers.setVisible(false);
      if (this.check == true) {
        for (var i = 0; i < this.datapolykelurahan.length; i++) {
          this.polykelurahan[i].setVisible(true);
          this.check = false;
        }
      } else {
        for (var i = 0; i < this.datapolykelurahan.length; i++) {
          this.polykelurahan[i].setVisible(false);
          this.check = true;
        }
      }
    },

    countCluster() {
      let kecSht = [];
      let kecTdk = [];
      for (var i = 0; i < 11; i++) {
        axios
          .get("count-rumah-sehat/true", {
            params: {
              kecamatan: i + 1
            }
          })
          .then(({ data }) => {
            this.kecSht = data;
            console.log("sehat: " + this.kecSht);
          });
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
      // this.datalayer = new google.maps.Data({map: this.$refs.map.$mapObject});
    },
    movePoly() {
      // axios.get("count-rumah-sehat/true").then(({ data }) => {
      //   this.max_rumah_sehat = data;
      //   console.log(this.max_rumah_sehat);
      // });

      this.datapolykelurahan[0] = this.poly.kel1.data; // beji
      this.luaswilayah[0] = 2.373056;
      this.datapolykelurahan[1] = this.poly.kel2.data; // beji timur
      this.luaswilayah[1] = 0.851687;
      this.datapolykelurahan[2] = this.poly.kel3.data; // kemiri muka
      this.luaswilayah[2] = 2.481067;
      this.datapolykelurahan[3] = this.poly.kel4.data; // pondok cina
      this.luaswilayah[3] = 2.425088;
      this.datapolykelurahan[4] = this.poly.kel5.data; // kukusan
      this.luaswilayah[4] = 3.265740;
      this.datapolykelurahan[5] = this.poly.kel6.data; // tanah baru
      this.luaswilayah[5] = 3.647393;
      this.datapolykelurahan[6] = this.poly.kel7.data; // pancoran mas
      this.luaswilayah[6] = 3.589335;
      this.datapolykelurahan[7] = this.poly.kel8.data; // depok
      this.luaswilayah[7] = 3.797848;
      this.datapolykelurahan[8] = this.poly.kel9.data; // depok jaya
      this.luaswilayah[8] = 1.130693;
      this.datapolykelurahan[9] = this.poly.kel10.data; // rangkapan jaya baru
      this.luaswilayah[9] = 3.841561;
      this.datapolykelurahan[10] = this.poly.kel11.data; // mampang
      this.luaswilayah[10] = 1.957290;
      this.datapolykelurahan[11] = this.poly.kel12.data; // cipayung
      this.luaswilayah[11] = 2.623521;
      this.datapolykelurahan[12] = this.poly.kel13.data; // cipayung jaya
      this.luaswilayah[12] = 2.239940;
      this.datapolykelurahan[13] = this.poly.kel14.data; // ratu jaya
      this.luaswilayah[13] = 2.687402;
      this.datapolykelurahan[14] = this.poly.kel15.data; // pondok jaya
      this.luaswilayah[14] = 1.108947;
      this.datapolykelurahan[15] = this.poly.kel16.data; // sukmajaya
      this.luaswilayah[15] = 2.979858;
      this.datapolykelurahan[16] = this.poly.kel17.data; // mekarjaya
      this.luaswilayah[16] = 3.321265;
      this.datapolykelurahan[17] = this.poly.kel18.data; // baktijaya
      this.luaswilayah[17] = 2.792376;
      this.datapolykelurahan[18] = this.poly.kel19.data; // abadijaya
      this.luaswilayah[18] = 2.602011;
      this.datapolykelurahan[19] = this.poly.kel20.data; // tirtajaya
      this.luaswilayah[19] = 3.302337;
      this.datapolykelurahan[20] = this.poly.kel21.data; // cisalak
      this.luaswilayah[20] = 2.637893;
      this.datapolykelurahan[21] = this.poly.kel22.data; // cilodong
      this.luaswilayah[21] = 2.218657;
      this.datapolykelurahan[22] = this.poly.kel23.data; // sukamaju
      this.luaswilayah[22] = 4.488342;
      this.datapolykelurahan[23] = this.poly.kel24.data; // kalibaru
      this.luaswilayah[23] = 3.303115;
      this.datapolykelurahan[24] = this.poly.kel25.data; // kalimulya
      this.luaswilayah[24] = 3.122101;
      this.datapolykelurahan[25] = this.poly.kel26.data; // jatimulya
      this.luaswilayah[25] = 2.720690;
      this.datapolykelurahan[26] = this.poly.kel27.data; // limo
      this.luaswilayah[26] = 4.211961;
      this.datapolykelurahan[27] = this.poly.kel28.data; // meruyung
      this.luaswilayah[27] = 2.854716;
      this.datapolykelurahan[28] = this.poly.kel29.data; // grogol
      this.luaswilayah[28] = 3.104888;
      this.datapolykelurahan[29] = this.poly.kel30.data; // krukut
      this.luaswilayah[29] = 1.949150;
      this.datapolykelurahan[30] = this.poly.kel31.data; // cinere
      this.luaswilayah[30] = 3.602407;
      this.datapolykelurahan[31] = this.poly.kel32.data; // pangkalan jati baru
      this.luaswilayah[31] = 1.567879;
      this.datapolykelurahan[32] = this.poly.kel33.data; // pangkalan jati
      this.luaswilayah[32] = 2.438674;
      this.datapolykelurahan[33] = this.poly.kel34.data; // gandul
      this.luaswilayah[33] = 3.066832;
      this.datapolykelurahan[34] = this.poly.kel35.data; // rangkapan jaya
      this.luaswilayah[34] = 3.899354;
      this.datapolykelurahan[35] = this.poly.kel36.data; // cisalak pasar
      this.luaswilayah[35] = 1.775394;
      this.datapolykelurahan[36] = this.poly.kel37.data; // mekarsari
      this.luaswilayah[36] = 3.985868;
      this.datapolykelurahan[37] = this.poly.kel38.data; // pasir gunung selatan
      this.luaswilayah[37] = 2.380719;
      this.datapolykelurahan[38] = this.poly.kel39.data; // tugu
      this.luaswilayah[38] = 5.478654;
      this.datapolykelurahan[39] = this.poly.kel40.data; // harjamukti
      this.luaswilayah[39] = 6.198990;
      this.datapolykelurahan[40] = this.poly.kel41.data; // curug (bojongsari)
      this.luaswilayah[40] = 4.290484;
      this.datapolykelurahan[41] = this.poly.kel42.data; // tapos
      this.luaswilayah[41] = 6.306705;
      this.datapolykelurahan[42] = this.poly.kel43.data; // leuwinanggung
      this.luaswilayah[42] = 4.728316;
      this.datapolykelurahan[43] = this.poly.kel44.data; // sukatani
      this.luaswilayah[43] = 4.831562;
      this.datapolykelurahan[44] = this.poly.kel45.data; // sukamaju baru
      this.luaswilayah[44] = 3.248563;
      this.datapolykelurahan[45] = this.poly.kel46.data; // jatijajar
      this.luaswilayah[45] = 2.962773;
      this.datapolykelurahan[46] = this.poly.kel47.data; // cilangkap
      this.luaswilayah[46] = 7.263000;
      this.datapolykelurahan[47] = this.poly.kel48.data; // cimpaeun
      this.luaswilayah[47] = 4.788883;
      this.datapolykelurahan[48] = this.poly.kel49.data; // sawangan
      this.luaswilayah[48] = 3.909732;
      this.datapolykelurahan[49] = this.poly.kel50.data; // kedaung
      this.luaswilayah[49] = 2.290798;
      this.datapolykelurahan[50] = this.poly.kel51.data; // cinangka
      this.luaswilayah[50] = 4.072355;
      this.datapolykelurahan[51] = this.poly.kel52.data; // sawangan baru
      this.luaswilayah[51] = 2.272294;
      this.datapolykelurahan[52] = this.poly.kel53.data; // bedahan
      this.luaswilayah[52] = 5.786627;
      this.datapolykelurahan[53] = this.poly.kel54.data; // pengasinan
      this.luaswilayah[53] = 3.998033;
      this.datapolykelurahan[54] = this.poly.kel55.data; // pasir putih
      this.luaswilayah[54] = 4.691827;
      this.datapolykelurahan[55] = this.poly.kel56.data; // bojongsari baru
      this.luaswilayah[55] = 1.780315;
      this.datapolykelurahan[56] = this.poly.kel57.data; // bojongsari
      this.luaswilayah[56] = 2.256219;
      this.datapolykelurahan[57] = this.poly.kel58.data; // serua
      this.luaswilayah[57] = 3.327041;
      this.datapolykelurahan[58] = this.poly.kel59.data; // pondok petir
      this.luaswilayah[58] = 3.157314;
      this.datapolykelurahan[59] = this.poly.kel60.data; // curug (cimanggis)
      this.luaswilayah[59] = 2.177074;
      this.datapolykelurahan[60] = this.poly.kel61.data; // duren mekar
      this.luaswilayah[60] = 2.095821;
      this.datapolykelurahan[61] = this.poly.kel62.data; // duren seribu
      this.luaswilayah[61] = 2.835180;
      this.datapolykelurahan[62] = this.poly.kel63.data; // bojong pondok terong
      this.luaswilayah[62] = 2.475641;

      this.datapolykecamatan[0] = this.poly.kec1.data; // beji
      this.datapolykecamatan[1] = this.poly.kec2.data; // bojongsari
      this.datapolykecamatan[2] = this.poly.kec3.data; // cilodong
      this.datapolykecamatan[3] = this.poly.kec4.data; // cimanggis
      this.datapolykecamatan[4] = this.poly.kec5.data; // cinere
      this.datapolykecamatan[5] = this.poly.kec6.data; // cipayung
      this.datapolykecamatan[6] = this.poly.kec7.data; // limo
      this.datapolykecamatan[7] = this.poly.kec8.data; // pancoran mas
      this.datapolykecamatan[8] = this.poly.kec9.data; // sawangan
      this.datapolykecamatan[9] = this.poly.kec10.data; // sukmajaya
      this.datapolykecamatan[10] = this.poly.kec11.data; // tapos
    },
    getRumahSehat(){
      var sehat_kec;
      var sehat_kel;
      var tidak_kec;
      var tidak_kel;
      var alldata;

      axios
      .get("sehat")
      .then(({ data }) => {
        alldata = data;
        sehat_kec = alldata.sehat.kecamatan;
        sehat_kel = alldata.sehat.kelurahan;
        tidak_kec = alldata.tidaksehat.kecamatan;
        tidak_kel = alldata.tidaksehat.kelurahan;
        
        for (var i=0;i<sehat_kec.length;i++){
          this.data_ba_kc[i].id = sehat_kec[i].kecamatan;
          console.log(this.data_ba_kc[i].id);
        }
      });
    },
    startups(){
      // var i = 0;
      // while(i<63){
      //   while(i<15){
      //     this.markercategory[i] = false;
      //   }
      //   this.markerkelularahan[i] = false;
      //   i++;
      // }
      
      // console.log(this.markercategory[0]);
      console.log("ashiap");
      this.movePoly();
      document.getElementById("menu_left").click();
      document.getElementById("menu_right").click();
    },
    createPoly(category, bounds){
      this.buttonpoly = !this.buttonpoly;
      
      console.log(this.data_ba_kl);
      switch (category) {
        case "Batas Admin":
          if (bounds == 1){
            this.check_kl = !this.check_kl;
            if (this.cp_kel[0] == false){
              for (let i=0;i<this.datapolykelurahan.length;i++){
                this.polyBatasAdmin[i] = new google.maps.Polygon({
                  paths: this.datapolykelurahan[i],
                  strokeColor: "#000000",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: this.warnaRuhatKec[i],
                  fillOpacity: 0.35
                });
                this.polyBatasAdmin[i].setMap(this.$refs.map.$mapObject);
              }              
            } else {
              for (let i=0;i<this.datapolykelurahan.length;i++){
                this.polyBatasAdmin[i].setMap(null);
              }
              this.polyBatasAdmin = [];              
            }
            this.cp_kel[0] = !this.cp_kel[0];
          } else {
            this.check_kc = !this.check_kc;
            if (this.cp_cat[0] == false){
              for (let i=0;i<this.datapolykecamatan.length;i++){
                this.pk_ba[i] = new google.maps.Polygon({
                  paths: this.datapolykecamatan[i],
                  strokeColor: "#000000",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: this.warnaRuhatKec[i],
                  fillOpacity: 0.35
                });
                this.pk_ba[i].setMap(this.$refs.map.$mapObject);
              }              
            } else {
              for (let i=0;i<this.datapolykecamatan.length;i++){
                this.pk_ba[i].setMap(null);
              }
              this.pk_ba = [];              
            }
            this.cp_cat[0] = !this.cp_cat[0];
          }
          break;
        case "Tingkat Kesehatan Lingkungan":
          if (bounds == 1){
            this.check_kl = !this.check_kl;
            if (this.cp_kel[1] == false){
              for (let i=0;i<this.datapolykelurahan.length;i++){
                this.polyKesLing[i] = new google.maps.Polygon({
                  paths: this.datapolykelurahan[i],
                  strokeColor: "#000000",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: "#FF0000", //this.warnaRuhatKec[i],
                  fillOpacity: 0.35
                });
                this.polyKesLing[i].setMap(this.$refs.map.$mapObject);
              }              
            } else {
              for (let i=0;i<this.datapolykelurahan.length;i++){
                this.polyKesLing[i].setMap(null);
              }
              this.polyKesLing = [];              
            }
            this.cp_kel[1] = !this.cp_kel[1];
          } else {
            this.check_kc = !this.check_kc;
            if (this.cp_cat[1] == false){
              for (let i=0;i<this.datapolykecamatan.length;i++){
                this.pk_tkl[i] = new google.maps.Polygon({
                  paths: this.datapolykecamatan[i],
                  strokeColor: "#000000",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: this.warnaRuhatKec[i],
                  fillOpacity: 0.35
                });
                this.pk_tkl[i].setMap(this.$refs.map.$mapObject);
              }              
            } else {
              for (let i=0;i<this.datapolykecamatan.length;i++){
                this.pk_tkl[i].setMap(null);
              }
              this.pk_tkl = [];              
            }
            this.cp_cat[1] = !this.cp_cat[1];
          }
          break;
        case 3:
          if (bounds == 1){
            this.check_kl = !this.check_kl;
            if (this.cp_kel[2] == false){
              for (let i=0;i<this.datapolykelurahan.length;i++){
                this.polyRuHat[i] = new google.maps.Polygon({
                  paths: this.datapolykelurahan[i],
                  strokeColor: "#000000",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: "#FF0000", //this.warnaRuhatKec[i],
                  fillOpacity: 0.35
                });
                this.polyRuHat[i].setMap(this.$refs.map.$mapObject);
              }              
            } else {
              for (let i=0;i<this.datapolykelurahan.length;i++){
                this.polyRuHat[i].setMap(null);
              }
              this.polyRuHat = [];              
            }
            this.cp_kel[2] = !this.cp_kel[2];
          } else {
            this.check_kc = !this.check_kc;
            if (this.cp_cat[2] == false){
              for (let i=0;i<this.datapolykecamatan.length;i++){
                this.pk_rs[i] = new google.maps.Polygon({
                  paths: this.datapolykecamatan[i],
                  strokeColor: "#000000",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: this.warnaRuhatKec[i],
                  fillOpacity: 0.35
                });
                this.pk_rs[i].setMap(this.$refs.map.$mapObject);
              }              
            } else {
              for (let i=0;i<this.datapolykecamatan.length;i++){
                this.pk_rs[i].setMap(null);
              }
              this.pk_rs = [];              
            }
            this.cp_cat[2] = !this.cp_cat[2];
          }
          break;
        default:
          break;
      }
    }
  }
};
</script>
<style>
#map {
  height: 100vh;
  width: 100%;
}
.tet {
  background-color: white;
  height: 50px;
  padding: 10px;
  margin: 50px;
}
.list-enter,
.list-leave-to {
  /* visibility: hidden; */

  /* padding: 0; */
  top: 0;
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}
.left-card {
  top: 15vh;
}
</style>