<template>
  <div class="app">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="background-login"></div>
        <div class="col-12 col-sm-8 col-md-5 col-lg-3">
          <div class="alert alert-danger text-center" v-if="has_error">
            <strong>Username dan Password tidak valid</strong>
          </div>
          <div class="alert alert-danger text-center" v-if="internal_error">
            <strong>Kesalahan pada jaringan, silahkan coba lagi</strong>
          </div>
          <b-loading
            variant="Circle8"
            class="mx-auto"
            style="min-height: 70px; min-width: 70px;"
            v-if="waiting"
          ></b-loading>
          <div class="alert alert-success text-center" v-if="success">
            <strong>Login berhasil</strong>
          </div>
          <form @submit.prevent="login" @keydown="form.onKeydown($event)">
            <div class="form-group row">
              <div class="col-md-12">
                <input
                  @keydown.space.prevent
                  v-model="form.username"
                  placeholder="Username"
                  type="text"
                  name="username"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('username') }"
                />
                <has-error :form="form" field="username"></has-error>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input
                  v-model="form.password"
                  placeholder="Password"
                  type="password"
                  name="password"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('password') }"
                />
                <has-error :form="form" field="password"></has-error>
              </div>
            </div>

            <button :disabled="form.busy" type="submit" class="btn btn-sippkling col-md-12">Masuk</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.btn-sippkling {
  color: #fff !important;
  background-color: #50b279 !important;
  border-color: #50b279 !important;
}

.btn-sippkling:hover {
  color: #fff;
  background-color: #329059 !important;
  border-color: #329059 !important;
}

.btn-sippkling.focus,
.btn-sippkling:focus {
  box-shadow: 0 0 0 0.2rem rgba(50, 144, 89, 0.5) !important;
}

.btn-sippkling.disabled,
.btn-sippkling:disabled {
  color: #fff;
  background-color: #50b279 !important;
  border-color: #50b279 !important;
}

.btn-sippkling:not(:disabled):not(.disabled).active,
.btn-sippkling:not(:disabled):not(.disabled):active,
.show > .btn-sippkling.dropdown-toggle {
  color: #fff;
  background-color: #329059 !important;
  border-color: #329059 !important;
}

.btn-sippkling:not(:disabled):not(.disabled).active:focus,
.btn-sippkling:not(:disabled):not(.disabled):active:focus,
.show > .btn-sippkling.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(50, 144, 89, 0.5);
}

.form-control:focus {
  color: #495057 !important;
  background-color: #fff;
  border-color: #50b279;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 213, 152, 0.25);
}

.background-login {
  width: 100%;
  height: 50vh;
  background: url("../../../../../public/images/background/background-login.png")
    no-repeat;
  /* background-size: cover; */
  background-size: 100% auto;
  background-position: 0% 30%;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .background-login {
    height: 50vh;
    background-size: 250% auto;
    background-position: 50% 0%;
    margin-bottom: 0px;
  }
}

/* self custom for ipad */
@media (width: 768px) and (height: 1024px) {
  .background-login {
    height: 50vh;
    background-size: 200% auto;
    background-position: 50% 0%;
    margin-bottom: 0px;
  }
}

/*iPad Pro 9.7"*/
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .background-login {
    height: 25vh;
  }
}

/*iPad Pro 10.5"*/
/* Portrait */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .background-login {
    height: 25vh;
  }
}

/* Landscape */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .background-login {
    height: 25vh;
  }
}

/*ipad PRo 12.9"*/
/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .background-login {
    height: 25vh;
  }
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .background-login {
    height: 25vh;
  }
}
</style>

<script>
export default {
  data() {
    return {
      // Create a new form instance
      has_error: false,
      waiting: false,
      success: false,
      internal_error: false,
      form: new Form({
        username: "",
        password: "",
        remember: false
      })
    };
  },

  methods: {
    login() {
      const rootApp = this;
      this.waiting = true;
      this.has_error = false;
      try {
        this.form
          .post("auth/validation")
          .then(({ data }) => {
            const app = this;
            try {
              this.$auth.login({
                params: {
                  username: data.username,
                  password: data.password
                },
                success: function() {
                  app.success = true;
                },
                error: function() {
                  app.has_error = true;
                  app.waiting = false;
                  app.success = false;
                },
                redirect: "/dashboard",
                fetchUser: true,
                rememberMe: true
              });
            } catch (error) {
              this.success = false;
              this.has_error = true;
              this.waiting = false;
            }
          })
          .catch(err => {
            this.waiting = false;
            if (!err.response) {
              // network error
              this.internal_error =
                "Kesalahan pada jaringan, silahkan coba lagi";
            }
          });
      } catch (error) {
        this.success = false;
        this.has_error = true;
        this.waiting = false;
      }
    }
  }
};
</script>
