<template>
    <div>
        ini opa
        <li v-if="$auth.check()">
            <a href="#" @click.prevent="$auth.logout()">Logout</a>
        </li>
    </div>
</template>
<script>
export default {
    
}
</script>
