<template>
  <b-card>
    <div>
      <b-row class="mb-2">
        <b-col sm="1">
          <b-img :src="`/images/icon/${getHeadersByKategori.icon}.png`" fluid class="img-icon" />
        </b-col>
        <b-col sm="4">
          <h5 id="traffic" class="card-title mb-0">{{getHeadersByKategori.title}}</h5>
          <small></small>
          <div class="small text-muted"></div>
        </b-col>
      </b-row>
      <br />
      <b-tabs v-model="tabIndex" small>
        <b-tab
          class="p-0"
          v-for="(modul, modulIndex) in moduleFilterByRole"
          :key="modulIndex"
          content-class="p-0"
        >
          <template slot="title">{{modul.name}}</template>
          <b-card-body class="pb-0">
            <b-row class="mb-2">
              <b-col sm="1">
                <b-img :src="`/images/icon/${modul.url}.png`" fluid class="img-icon" />
              </b-col>
              <b-col sm="9">
                <h5 id="traffic" class="card-title mb-0">{{modul.name}}</h5>
                <small>Last Update : {{ IndonesiaDateFormat(modulesDataComponentParse.items[modul.alias].last_update)}}</small>
                <div class="small text-muted"></div>
              </b-col>
              <b-col sm="2">
                <b-button
                  v-if="$route.name != 'Rumah Sehat'"
                  :to="`modul/${ubah(modul.name)}`"
                  variant="outline-gray-500 "
                >Lihat Detail</b-button>
              </b-col>
            </b-row>
            <br />
            <b-row v-if="modul.name == 'SAB'">
              <b-card-body class="pt-0">
                <b-tabs>
                  <b-tab title="Jenis SAB">
                    <b-row>
                      <b-col
                        class="mx-auto"
                        v-for="(i, index) in modul.indikator.slice(0, 6)"
                        :key="index"
                        sm="3"
                      >
                        <b-card
                          :class="`text-white bg-${getColor(index,modul.indikator, getHeadersByKategori.title)}`"
                        >
                          <b-row>
                            <b-col sm="12">
                              <b-img
                                :src="`/images/icon2/${i.icon}.png`"
                                fluid
                                class="img-indicator"
                              />
                              <span>{{ i.name}}</span>
                            </b-col>
                          </b-row>
                          <b-row>
                            <b-col sm="12">
                              <h2 class="text-left">{{ modulesDataComponentParse.items[modul.alias][i.alias].percent }}</h2>
                            </b-col>
                          </b-row>
                          <footer>
                            <p
                              class="text-left caption clear-distance"
                              v-for="legend in modulesDataComponentParse.items[modul.alias][i.alias].legend"
                              :key="legend"
                            >{{ legend }}</p>
                          </footer>
                        </b-card>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col
                        class="mx-auto"
                        v-for="(i, index) in modul.indikator.slice(6, 10)"
                        :key="index"
                        sm="3"
                      >
                        <b-card
                          :class="`text-white bg-${getColor((index + 6),modul.indikator, getHeadersByKategori.title)}`"
                        >
                          <b-row>
                            <b-col sm="12">
                              <b-img
                                :src="`/images/icon2/${i.icon}.png`"
                                fluid
                                class="img-indicator"
                              />
                              <span>{{ i.name}}</span>
                            </b-col>
                          </b-row>
                          <b-row>
                            <b-col sm="12">
                              <h2 class="text-left">{{ modulesDataComponentParse.items[modul.alias][i.alias].percent }}</h2>
                            </b-col>
                          </b-row>
                          <footer>
                            <p
                              class="text-left caption clear-distance"
                              v-for="legend in modulesDataComponentParse.items[modul.alias][i.alias].legend"
                              :key="legend"
                            >{{ legend }}</p>
                          </footer>
                        </b-card>
                      </b-col>
                    </b-row>
                  </b-tab>
                </b-tabs>
              </b-card-body>
            </b-row>
            <b-row v-else>
              <b-col class="mx-auto" v-for="(i, index) in modul.indikator" :key="index" sm="3">
                <b-card
                  :class="`text-white bg-${getColor(index ,modul.indikator, getHeadersByKategori.title)}`"
                >
                  <b-row>
                    <b-col sm="12">
                      <b-img :src="`/images/icon2/${i.icon}.png`" fluid class="img-indicator" />
                      <span>{{ i.name}}</span>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col sm="12">
                      <h2 class="text-left">{{ modulesDataComponentParse.items[modul.alias][i.alias].percent }}</h2>
                    </b-col>
                  </b-row>
                  <footer>
                    <p
                      class="text-left caption clear-distance"
                      v-for="legend in modulesDataComponentParse.items[modul.alias][i.alias].legend"
                      :key="legend"
                    >{{ legend }}</p>
                  </footer>
                </b-card>
              </b-col>
            </b-row>
          </b-card-body>

            <b-card-footer>
              <ul>
                <li
                  v-for="(opd, index) in dataAccessModule(modul.id)"
                  :key="index"
                >{{ opd.user_name }}</li>
              </ul>
            </b-card-footer>
          </b-tab>
        </b-tabs>
      </div>
  </b-card>
</template>

<script>
import { mapGetters, mapState, mapMutations } from "vuex";
import NProgress from "nprogress";

export default {
  data: function() {
    return {
      filter: {
        kecamatan: "",
        kelurahan: "",
        rw: "",
        rt: "",
        tanggal: ""
      },
      filterModule: this.filter,
      data_module: [],
      getOpdModule: [],
      hideModule: false,
      sekarang: null,
      tabIndex: 0
    };
  },
  props: ["kategori", "loading", "modulesDataComponentParse"],
  methods: {
    getColor(index, total, title) {
      if (index == total.length - 1 && title != "Rumah Sehat") {
        return "gray-400";
      }

      if (total[index].name == "Pompa") {
        return "orange";
      } else if (total[index].name == "Sumur Gali") {
        return "info";
      } else if (total[index].name == "Sumur Gali Plus") {
        return "primary";
      } else if (total[index].name == "Perpipaan / PDAM") {
        return "green_sippkling";
      } else if (total[index].name == "Mata Air") {
        return "info";
      } else if (total[index].name == "Tinggi (T)") {
        return "warning";
      } else if (total[index].name == "Rendah (R)") {
        return "success";
      } else if (total[index].name == "Sedang (S)") {
        return "primary";
      } else if (total[index].name == "Amat Tinggi(AT)") {
        return "danger";
      }
      if (index == 0) return "success";
      else if (index % 2 == 0) return "danger";
      else return "primary";
    },
    ubah(words) {
      return words.toLowerCase().replace(/ /g, "-");
    },
    getModulesData() {
      axios
        .get("get-modules-data/" + this.kategori, {
          params: {
            kecamatan: this.$route.query.kecamatan,
            kelurahan: this.$route.query.kelurahan,
            rw: this.$route.query.rw,
            rt: this.$route.query.rt,
            tanggal: this.$route.query.tanggal
          }
        })
        .then(({ data }) => {
          this.data = data.data;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    getOpdDataAccess() {
      axios
        .get("data-opd-access-module")
        .then(({ data }) => {
          this.data_module = data.data;
          this.loadings = false;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    dataAccessModule(param) {
      return this.data_module.filter(item => item.data_id == param);
    },
    checkExist(id) {
      if (this.$auth.check(2)) {
        const detect = this.$auth
          .user()
          .data_access.find(item => item.id == id);
        if (detect != null) {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    },
    openedModul(mod) {
      if (mod == "/modul/pjb") return (this.tabIndex = 1);
      else if (mod == "/modul/spal") return (this.tabIndex = 2);
      else if (mod == "/modul/sab") return (this.tabIndex = 3);
      else if (mod == "/modul/jamban") return (this.tabIndex = 4);
      else if (mod == "/modul/sampah") return (this.tabIndex = 5);
      else if (mod == "/modul/status-tempat-tinggal")
        return (this.tabIndex = 6);
      else return (this.tabIndex = 0);
    }
  },
  mounted() {
    this.openedModul(this.$router.currentRoute.path);
  },
  created() {
    
  },
  watch: {
    $route(to, from) {
      this.sekarang = this.$router.currentRoute.name;
      this.openedModul(this.$router.currentRoute.path);
    }
  },
  computed: {
    getModulesDataByKategori() {
      return this.$store.getters.getModulsByKategori(`${this.kategori}`);
    },
    getHeadersByKategori() {
      return this.$store.getters.getHeadersByKategori(`${this.kategori}`);
    },
    moduleFilterByRole() {
      const auth = this.$auth;
      return this.getModulesDataByKategori.filter(function(u) {
        if (auth.check(2)) {
          const detect = auth.user().data_access.find(item => item.id == u.id);
          if (detect != null) {
            return u;
          } else {
            return false;
          }
        } else {
          return u;
        }
      });
    }
  },
  beforeDestroy () {
  }
};
</script>