<template>
  <b-card>
    <b-row class="mb-2">
      <b-col sm="1">
        <b-img :src="`/images/icon/tempatibadah.png`" fluid class="img-icon" />
      </b-col>
      <b-col sm="4">
        <h5 id="traffic" class="card-title mb-0">Tempat - Tempat Umum</h5>
        <small>
          Last Update :
          <!-- <i>{{rs.rumah_sehat.last_update}}</i> -->
        </small>
        <div class="small text-muted"></div>
      </b-col>
    </b-row>
    <br />
    <b-tabs small>
      <b-tab v-for="modul in moduls.tempatumum" :key="modul.id">
        <template slot="title">{{modul.name}}</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="`/images/icon/${modul.url}.png`" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">{{modul.name}}</h5>
            <small>
              Last Update :
              <!-- <i>{{rs.rumah_sehat.last_update}}</i> -->
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-col v-for="(i, index) in modul.indikator" :key="index" sm="4">
            <b-card :class="`bg-${getColor(index)}`">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>{{ i}}</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">19 %</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>12312 dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>
    </b-tabs>
  </b-card>
</template>

<script>
export default {
  //   props: ["data"],
  methods: {
    getColor(index) {
      if (index == 0) return "success";
      else if (index % 2 == 0) return "danger";
      else return "primary";
    }
  },
  computed: {
    moduls() {
      return this.$store.getters.getModuls;
    }
  }
};
</script>