<template>
  <b-card>
    <b-row class="mb-2">
      <b-col sm="1">
        <b-img :src="`/images/icon/${headers.icon}.png`" fluid class="img-icon" />
      </b-col>
      <b-col sm="4">
        <h5 id="traffic" class="card-title mb-0">{{headers.title}}</h5>
        <small>
          Last Update :
          <i>{{ IndonesiaDateFormat(rs.general.last_update)}}</i>
        </small>
        <div class="small text-muted"></div>
      </b-col>
    </b-row>
    <br />
    <b-tabs small>
      <b-tab v-for="modul in moduls" :key="modul.id">
        <template slot="title">{{modul.name}}</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="`/images/icon/${modul.url}.png`" fluid class="img-icon" />
          </b-col>
          <b-col sm="9">
            <h5 id="traffic" class="card-title mb-0">{{modul.name}}</h5>
            <small>Last Update : {{ IndonesiaDateFormat(rs.items[modul.alias].last_update)}}</small>
            <div class="small text-muted"></div>
          </b-col>
          <b-col sm="2">
            <b-button :to="`modul/${ubah(modul.name)}`" variant="outline-gray-500 ">Lihat Detail</b-button>
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-col v-for="(i, index) in modul.indikator" :key="index" sm="4">
            <b-card :class="`bg-${getColor(index)}`">
              <b-row>
                <b-col sm="12">
                  <b-img :src="`/images/icon2/${i.icon}.png`" fluid class="img-indicator" />
                  <span>{{ i.name}}</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.items[modul.alias][i.alias].percent }}</h2>
                </b-col>
              </b-row>
              <footer>
                <p
                  class="text-left caption clear-distance"
                  v-for="legend in rs.items[modul.alias][i.alias].legend"
                  :key="legend"
                >{{ legend }}</p>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>
    </b-tabs>
  </b-card>
</template>

<script>
export default {
  data: function() {
    return {};
  },
  props: ["moduls", "rs", "headers"],
  methods: {
    getColor(index) {
      if (index == 0) return "success";
      else if (index % 2 == 0) return "danger";
      else return "primary";
    },
    changeModuls() {},
    ubah(words) {
      return words.replace(/ /g, "-");
    }
  }
};
</script>