<template>
  <!-- Card Rumah Sehat -->
  <b-card>
    <b-row>
      <b-col sm="1">
        <b-img :src="'/images/icon/rumahsehat.png'" fluid class="img-icon" />
      </b-col>
      <b-col sm="4">
        <h5 id="traffic" class="card-title mb-0">Rumah Sehat</h5>
        <small>
          Last Update :
          <i>{{rs.rumah_sehat.last_update}}</i>
        </small>
        <div class="small text-muted"></div>
      </b-col>
    </b-row>

    <br />
    <b-tabs>
      <b-tab>
        <template slot="title">Rumah Sehat</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/rumahsehat.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Rumah Sehat</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/like-s.png'" fluid class="img-indicator" />

                  <span>Sehat</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.rumah_sehat.sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.rumah_sehat.sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/dislike-s.png'" fluid class="img-indicator" />
                  <span>Tidak Sehat</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.rumah_sehat.tidak_sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.rumah_sehat.tidak_sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>

      <b-tab>
        <template slot="title">PJB</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/jentikberkala.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Pemantauan Jentik Berkala</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/like-s.png'" fluid class="img-indicator" />

                  <span>Tidak Ada Jentik</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.pjb.tidak_ada_jentik, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.pjb.tidak_ada_jentik }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/dislike-s.png'" fluid class="img-indicator" />

                  <span>Ada Jentik</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.pjb.ada_jentik, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.pjb.ada_jentik }}</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>

      <b-tab>
        <template slot="title">SPAL</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/spal.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Saluran Pembuangan Air Limbah</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/terbuka-s.png'" fluid class="img-indicator" />

                  <span>Terbuka</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.spal.terbuka, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.spal.terbuka }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/tertutup-s.png'" fluid class="img-indicator" />

                  <span>Tertutup</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.spal.tertutup, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.spal.tertutup }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>

      <b-tab>
        <template slot="title">SAB</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/sab.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Sarana Air Bersih</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/like-s.png'" fluid class="img-indicator" />

                  <span>Pompa</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ PercentConverter(rs.sab.sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sab.sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/like-s.png'" fluid class="img-indicator" />

                  <span>Sumur Gali</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ PercentConverter(rs.sab.sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sab.sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/dislike-s.png'" fluid class="img-indicator" />

                  <span>Sumur Gali Plus</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.sab.tidak_sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sab.tidak_sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/sungaikali-s.png'" fluid class="img-indicator" />

                  <span>Perpipaan / PDAM</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ PercentConverter(rs.sab.sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sab.sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/like-s.png'" fluid class="img-indicator" />

                  <span>Mata Air</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ PercentConverter(rs.sab.sehat, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sab.sehat }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>

      <b-tab>
        <template slot="title">Jamban</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/jamban.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Jamban</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/danau-s.png'" fluid class="img-indicator" />

                  <span>Koya / Empang</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ PercentConverter(rs.jamban.koya, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.jamban.koya }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/sungaikali-s.png'" fluid class="img-indicator" />

                  <span>Kali</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ PercentConverter(rs.jamban.kali, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.jamban.kali }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-info">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/helikopter-s.png'" fluid class="img-indicator" />

                  <span>Helikopter</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.jamban.helikopter, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.jamban.helikopter }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/septictank-s.png'" fluid class="img-indicator" />

                  <span>Septik Tank</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.jamban.septik_tank, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.jamban.septik_tank }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>

      <b-tab>
        <template slot="title">Sampah</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/sampah.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Sampah</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/like-s.png'" fluid class="img-indicator" />

                  <span>Dipilah</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.sampah.dipilah, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sampah.dipilah }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/dislike-s.png'" fluid class="img-indicator" />

                  <span>Tidak Dipilah</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.sampah.tidak_dipilah, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.sampah.tidak_dipilah }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>

        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Dinas Lingkungan Hidup dan Kebersihan</li>
          </ul>
        </b-card-footer>
      </b-tab>
      <b-tab>
        <template slot="title">Status Tempat Tinggal</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/statustempattinggal.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Status Tempat Tinggal</h5>
            <small>
              Last Update :
              <i>{{rs.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-card class="bg-success">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/total.png'" fluid class="img-indicator" />
                  <span>Total</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2 class="text-left">{{ rs.rumah_sehat.total }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">⠀</span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-primary">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/sewa-s.png'" fluid class="img-indicator" />

                  <span>Kontrak</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.status_rumah.sewa, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.status_rumah.sewa }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
          <b-col sm="4">
            <b-card class="bg-danger">
              <b-row>
                <b-col sm="12">
                  <b-img :src="'/images/icon2/rumahsendiri-s.png'" fluid class="img-indicator" />

                  <span>Rumah Sendiri</span>
                </b-col>
              </b-row>
              <b-row>
                <b-col sm="12">
                  <h2
                    class="text-left"
                  >{{ PercentConverter(rs.status_rumah.milik_sendiri, rs.rumah_sehat.total) }}</h2>
                </b-col>
              </b-row>
              <footer>
                <span class="text-left">
                  <i>{{ rs.status_rumah.milik_sendiri }} dari total data</i>
                </span>
              </footer>
            </b-card>
          </b-col>
        </b-row>
        <b-card-footer>
          <ul>
            <li>Dinas Kesehatan</li>
            <li>Badan Perencanaan Pembangunan Daerah</li>
          </ul>
        </b-card-footer>
      </b-tab>
    </b-tabs>
  </b-card>
  <!-- End of Card Rumah Sehat -->
</template>

<script>
export default {
  props: ["rs"]
};
</script>