<template>
  <b-card>
    <b-tabs no-fade>
      <b-tab>
        <template slot="title">Rumah Sehat</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/rumahsehat.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Rumah Sehat</h5>
            <small>
              Last Update :
              <i>1</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-tabs no-fade>
          <b-tab>
            <template slot="title">Grafik</template>
            <b-row>
              <b-col sm="12">
                <h4 class="text-center">Grafik Perbandingan</h4>

                <b-button-toolbar class="float-right">
                  <b-form-radio-group
                    class="mr-3"
                    id="radiosBtn"
                    buttons
                    button-variant="outline-secondary"
                    v-model="selected_graph"
                    name="radiosBtn"
                    style="z-index:99999;"
                  >
                    <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                    <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                  </b-form-radio-group>
                </b-button-toolbar>
              </b-col>
            </b-row>

            <b-card no-body class="border-0">
              <div class="chart-wrapper">
                <bar-example v-if="selected_graph == 'jumlah'" height="100" />
                <line-example v-if="selected_graph == 'waktu'" height="200" />
              </div>
            </b-card>
            <v-divider></v-divider>

            <b-row>
              <b-col sm="12">
                <template>
                  <v-data-table
                    :headers="hdams"
                    :items="dams"
                    hide-headers
                    hide-actions
                    :items-per-page="5"
                    dense="true"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                      <td class="text-xs-right">{{ props.item.skor }}</td>
                    </template>
                  </v-data-table>
                </template>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab>
            <template slot="title">Tabel</template>

            <v-toolbar flat color="white">
              <b-button variant="success" small>Export CSV</b-button>
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 text-xs-left"
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading_rumah_sehat"
              loading-text="Loading... Please wait"
              :headers="headers2"
              :items="data.rumah_sehat.query"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td
                  class="text-xs-left"
                >{{ data.rumah_sehat.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                <router-link
                  :to="`rumah-sehat/${props.item.nomor}/`"
                  tag="td"
                  class="cursor-pointer text-xs-left"
                >{{ props.item.nama_kk }}</router-link>
                <td class="text-xs-left">{{ props.item.nmr_kk }}</td>
                <router-link
                  exact
                  tag="td"
                  class="cursor-pointer text-blue"
                  :to="`/profil/${props.item.petugas_username}`"
                >{{ props.item.petugas }}</router-link>
                <td class="text-xs-left">{{ props.item.imb }}</td>
                <td class="text-xs-left">{{ props.item.skor }}</td>
                <td class="text-xs-left">{{ props.item.status_rumah }}</td>
                <!-- <td class="text-xs-left">{{ props.item.total_nilai }}</td> -->
                <td class="text-xs-center" v-show="props.item.status == true">
                  <v-chip small color="green" text-color="white">Sehat</v-chip>
                </td>
                <td class="text-xs-center" v-show="props.item.status == false">
                  <v-chip small color="red" text-color="white">Tidak Sehat</v-chip>
                </td>

                <td class>
                  <b-btn small @click="hapusData(modul,props.item.id)">Hapus</b-btn>
                </td>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-tab>
        </b-tabs>
      </b-tab>

      <b-tab>
        <template slot="title">PJB</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/jentikberkala.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Pemantauan Jentik Berkala</h5>
            <small>
              Last Update :
              <i>{{data.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-tabs no-fade>
          <b-tab>
            <template slot="title">Grafik</template>
            <b-row>
              <b-col sm="12">
                <h4 class="text-center">Grafik Perbandingan</h4>

                <b-button-toolbar class="float-right">
                  <b-form-radio-group
                    class="mr-3"
                    id="radiosBtn"
                    buttons
                    button-variant="outline-secondary"
                    v-model="selected_graph"
                    name="radiosBtn"
                  >
                    <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                    <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                  </b-form-radio-group>
                </b-button-toolbar>
              </b-col>
            </b-row>

            <b-card no-body class="border-0">
              <div class="chart-wrapper">
                <bar-example v-if="selected_graph == 'jumlah'" height="100" />
                <line-example v-if="selected_graph == 'waktu'" height="200" />
              </div>
            </b-card>
            <v-divider></v-divider>

            <b-row>
              <b-col sm="12">
                <template>
                  <v-data-table
                    :headers="hdams"
                    :items="dams"
                    hide-headers
                    hide-actions
                    :items-per-page="5"
                    dense="true"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                      <td class="text-xs-right">{{ props.item.skor }}</td>
                    </template>
                  </v-data-table>
                </template>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab>
            <template slot="title">Tabel</template>
            <v-toolbar flat color="white">
              <b-button variant="success" small>Export CSV</b-button>
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 mb-3 text-xs-left"
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading"
              loading-text="Loading... Please wait"
              :headers="hpjb"
              :items="data.rumah_sehat.query"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td
                  class="text-xs-left"
                >{{ data.rumah_sehat.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                <router-link
                  :to="`rumah-sehat/${props.item.id}/`"
                  tag="td"
                  class="cursor-pointer text-xs-left"
                >{{ props.item.nama_kk }}</router-link>
                <td class="text-xs-center" v-show="props.item.pjb == true">
                  <v-chip color="green" text-color="white">Tidak ada jentik</v-chip>
                </td>
                <td class="text-xs-center" v-show="props.item.pjb == false">
                  <v-chip color="red" text-color="white">Ada jentik</v-chip>
                </td>
                <td class>
                  <b-btn small @click="hapusData(modul,props.item.id)">Hapus</b-btn>
                </td>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-tab>
        </b-tabs>
      </b-tab>

      <b-tab>
        <template slot="title">SPAL</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/spal.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Saluran Pembuangan Air Limbah</h5>
            <small>
              Last Update :
              <i>{{data.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-tabs no-fade>
          <b-tab>
            <template slot="title">Grafik</template>
            <b-row>
              <b-col sm="12">
                <h4 class="text-center">Grafik Perbandingan</h4>

                <b-button-toolbar class="float-right">
                  <b-form-radio-group
                    class="mr-3"
                    id="radiosBtn"
                    buttons
                    button-variant="outline-secondary"
                    v-model="selected_graph"
                    name="radiosBtn"
                  >
                    <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                    <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                  </b-form-radio-group>
                </b-button-toolbar>
              </b-col>
            </b-row>

            <b-card no-body class="border-0">
              <div class="chart-wrapper">
                <bar-example v-if="selected_graph == 'jumlah'" height="100" />
                <line-example v-if="selected_graph == 'waktu'" height="200" />
              </div>
            </b-card>
            <v-divider></v-divider>

            <b-row>
              <b-col sm="12">
                <template>
                  <v-data-table
                    :headers="hdams"
                    :items="dams"
                    hide-headers
                    hide-actions
                    :items-per-page="5"
                    dense="true"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                      <td class="text-xs-right">{{ props.item.skor }}</td>
                    </template>
                  </v-data-table>
                </template>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab>
            <template slot="title">Tabel</template>
            <v-toolbar flat color="white">
              <b-button variant="success" small>Export CSV</b-button>
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 mb-3 text-xs-left"
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading"
              loading-text="Loading... Please wait"
              :headers="hspal"
              :items="data.rumah_sehat.query"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <router-link :to="`rumah-sehat/${props.item.id}/`" class="cursor-pointer" tag="tr">
                  <td
                    class="text-xs-left"
                  >{{ data.rumah_sehat.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <td class="text-xs-left">{{ props.item.nama_kk }}</td>
                  <td class="text-xs-center" v-show="props.item.spal == true">
                    <v-chip color="green" text-color="white">Tertutup</v-chip>
                  </td>
                  <td class="text-xs-center" v-show="props.item.spal == false">
                    <v-chip color="red" text-color="white">Terbuka</v-chip>
                  </td>

                  <td class>
                    <b-btn small @click="hapusData(modul,props.item.id)">Hapus</b-btn>
                  </td>
                </router-link>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-tab>
        </b-tabs>
      </b-tab>

      <b-tab>
        <template slot="title">SAB</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/sab.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Sarana Air Bersih</h5>
            <small>
              Last Update :
              <i>{{data.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-tabs no-fade>
          <b-tab>
            <template slot="title">Grafik</template>
            <b-row>
              <b-col sm="12">
                <h4 class="text-center">Grafik Perbandingan</h4>

                <b-button-toolbar class="float-right">
                  <b-form-radio-group
                    class="mr-3"
                    id="radiosBtn"
                    buttons
                    button-variant="outline-secondary"
                    v-model="selected_graph"
                    name="radiosBtn"
                  >
                    <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                    <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                  </b-form-radio-group>
                </b-button-toolbar>
              </b-col>
            </b-row>

            <b-card no-body class="border-0">
              <div class="chart-wrapper">
                <bar-example v-if="selected_graph == 'jumlah'" height="100" />
                <line-example v-if="selected_graph == 'waktu'" height="200" />
              </div>
            </b-card>
            <v-divider></v-divider>

            <b-row>
              <b-col sm="12">
                <template>
                  <v-data-table
                    :headers="hdams"
                    :items="dams"
                    hide-headers
                    hide-actions
                    :items-per-page="5"
                    dense="true"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                      <td class="text-xs-right">{{ props.item.skor }}</td>
                    </template>
                  </v-data-table>
                </template>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab>
            <template slot="title">Tabel</template>
            <v-toolbar flat color="white">
              <b-button variant="success" small>Export CSV</b-button>
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 mb-3 text-xs-left"
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading"
              loading-text="Loading... Please wait"
              :headers="hsab"
              :items="data.rumah_sehat.query"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <router-link :to="`rumah-sehat/${props.item.id}/`" class="cursor-pointer" tag="tr">
                  <td
                    class="text-xs-left"
                  >{{ data.rumah_sehat.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <td class="text-xs-left">{{ props.item.nama_kk }}</td>
                  <td class="text-xs-left">{{ props.item.no_kk }}</td>
                  <router-link
                    exact
                    tag="td"
                    class="cursor-pointer text-blue"
                    :to="`/profil/${props.item.petugas_username}`"
                  >{{ props.item.petugas }}</router-link>

                  <td class="text-xs-left">{{ props.item.jenissab }}</td>
                  <td class="text-xs-left">{{ props.item.skor }}</td>
                  <td class="text-xs-center">
                    <v-chip v-if="props.item.sab == true" color="green" text-color="white">Sehat</v-chip>
                    <v-chip
                      v-if="props.item.sab == false"
                      color="red"
                      text-color="white"
                    >Tidak Sehat</v-chip>
                  </td>

                  <td class>
                    <b-btn small @click="hapusData(modul,props.item.id)">Hapus</b-btn>
                  </td>
                </router-link>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-tab>
        </b-tabs>
      </b-tab>

      <b-tab>
        <template slot="title">Jamban</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/jamban.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Jamban</h5>
            <small>
              Last Update :
              <i>{{data.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-tabs no-fade>
          <b-tab>
            <template slot="title">Grafik</template>
            <b-row>
              <b-col sm="12">
                <h4 class="text-center">Grafik Perbandingan</h4>

                <b-button-toolbar class="float-right">
                  <b-form-radio-group
                    class="mr-3"
                    id="radiosBtn"
                    buttons
                    button-variant="outline-secondary"
                    v-model="selected_graph"
                    name="radiosBtn"
                  >
                    <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                    <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                  </b-form-radio-group>
                </b-button-toolbar>
              </b-col>
            </b-row>

            <b-card no-body class="border-0">
              <div class="chart-wrapper">
                <bar-example v-if="selected_graph == 'jumlah'" height="100" />
                <line-example v-if="selected_graph == 'waktu'" height="200" />
              </div>
            </b-card>
            <v-divider></v-divider>

            <b-row>
              <b-col sm="12">
                <template>
                  <v-data-table
                    :headers="hdams"
                    :items="dams"
                    hide-headers
                    hide-actions
                    :items-per-page="5"
                    dense="true"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                      <td class="text-xs-right">{{ props.item.skor }}</td>
                    </template>
                  </v-data-table>
                </template>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab>
            <template slot="title">Tabel</template>
            <v-toolbar flat color="white">
              <b-button variant="success" small>Export CSV</b-button>
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 mb-3 text-xs-left"
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading"
              loading-text="Loading... Please wait"
              :headers="hjamban"
              :items="data.rumah_sehat.query"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <router-link :to="`rumah-sehat/${props.item.id}/`" class="cursor-pointer" tag="tr">
                  <td
                    class="text-xs-left"
                  >{{ data.rumah_sehat.query.map(function(x) {return x.id; }).indexOf(props.item.id)+1}}</td>
                  <td class="text-xs-left">{{ props.item.nama_kk }}</td>
                  <td class="text-xs-center" v-show="props.item.jamban == 'Koya / Empang'">
                    <v-chip color="red" text-color="white">Koya / Empang</v-chip>
                  </td>
                  <td class="text-xs-center" v-show="props.item.jamban == 'Septik Tank'">
                    <v-chip color="green" text-color="white">Koya / Empang</v-chip>
                  </td>
                  <td class="text-xs-center" v-show="props.item.jamban == 'Helikopter'">
                    <v-chip color="green" text-color="white">Helikopter</v-chip>
                  </td>
                  <td class="text-xs-center" v-show="props.item.status == 'Kali'">
                    <v-chip color="red" text-color="white">Kali</v-chip>
                  </td>

                  <td class>
                    <b-btn variant="gray-200" small @click="hapusData(modul,props.item.id)">Hapus</b-btn>
                  </td>
                </router-link>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-tab>
        </b-tabs>
      </b-tab>

      <b-tab>
        <template slot="title">Sampah</template>
        <b-row class="mb-2">
          <b-col sm="1">
            <b-img :src="'/images/icon/sampah.png'" fluid class="img-icon" />
          </b-col>
          <b-col sm="4">
            <h5 id="traffic" class="card-title mb-0">Sampah</h5>
            <small>
              Last Update :
              <i>{{data.rumah_sehat.last_update}}</i>
            </small>
            <div class="small text-muted"></div>
          </b-col>
        </b-row>
        <b-tabs no-fade>
          <b-tab>
            <template slot="title">Grafik</template>
            <b-row>
              <b-col sm="12">
                <h4 class="text-center">Grafik Perbandingan</h4>

                <b-button-toolbar class="float-right">
                  <b-form-radio-group
                    class="mr-3"
                    id="radiosBtn"
                    buttons
                    button-variant="outline-secondary"
                    v-model="selected_graph"
                    name="radiosBtn"
                  >
                    <b-form-radio class="mx-0" value="jumlah">Jumlah</b-form-radio>
                    <b-form-radio class="mx-0" value="waktu">Waktu</b-form-radio>
                  </b-form-radio-group>
                </b-button-toolbar>
              </b-col>
            </b-row>

            <b-card no-body class="border-0">
              <div class="chart-wrapper">
                <bar-example v-if="selected_graph == 'jumlah'" height="100" />
                <line-example v-if="selected_graph == 'waktu'" height="200" />
              </div>
            </b-card>
            <v-divider></v-divider>

            <b-row>
              <b-col sm="12">
                <template>
                  <v-data-table
                    :headers="hdams"
                    :items="dams"
                    hide-headers
                    hide-actions
                    :items-per-page="5"
                    dense="true"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-left">{{ props.item.nama_tempat }}</td>
                      <td class="text-xs-right">{{ props.item.skor }}</td>
                    </template>
                  </v-data-table>
                </template>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab>
            <template slot="title">Tabel</template>
            <v-toolbar flat color="white">
              <b-button variant="success" small>Export CSV</b-button>
              <v-divider class="mr-2 ml-4" inset vertical></v-divider>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                class="float-right pt-0 mb-3 text-xs-left"
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :rows-per-page-items="[5,10,25]"
              :loading="loading"
              loading-text="Loading... Please wait"
              :headers="hsampah"
              :items="datars"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.nomor }}</td>
                <router-link
                  :to="`rumah-sehat/${props.item.nomor}/`"
                  tag="td"
                  class="cursor-pointer text-xs-left"
                >{{ props.item.nama_kk }}</router-link>
                <td class="text-xs-left">{{ props.item.sampah }}</td>
                <td class="text-xs-center">
                  <v-chip
                    :color="getColor(props.item.status)"
                    text-color="white"
                  >{{ props.item.status }}</v-chip>
                </td>

                <td>
                  <b-btn small @click="hapusData(modul,props.item.id)">Hapus</b-btn>
                </td>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
                class="bg-danger"
              >Data "{{ search }}" Tidak Ditemukan.</v-alert>
              <template slot="no-data">
                <div class="text-center">
                  <b-img center :src="'/images/icon/kosongringan.png'" fluid class="img-nodata" />
                  <span>Tidak ada Data</span>
                </div>
              </template>
            </v-data-table>
          </b-tab>
        </b-tabs>
      </b-tab>
    </b-tabs>
  </b-card>
</template>

<script>
import BarExample from "../modul/BarExample";
import LineExample from "../charts/LineExample";
import NProgress from "nprogress";

export default {
  name: "CardGrafikTabelModuls",
  components: {
    BarExample,
    LineExample
  },
  data: function() {
    return {
      selected_graph: "jumlah",
      modul: "Rumah Sehat",
      headers2: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "No. KK", value: "nokk" },
        { text: "Petugas", value: "petugas" },
        { text: "IMB", value: "nop" },
        { text: "Skor", value: "skor" },
        { text: "Status Rumah", value: "status_rumah" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ],
      data: {
        rumah_sehat: {}
      },
      hpjb: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ],
      hspal: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ],
      hsab: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "No. KK", value: "nokk" },
        { text: "Petugas", value: "petugas" },
        { text: "Jenis SAB", value: "jenissab" },
        { text: "Skor", value: "skor" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ],
      hpjb: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ],
      hjamban: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Jamban", value: "jamban" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ],
      hsampah: [
        { text: "No", value: "nomor" },
        { text: "Nama Keluarga", value: "nama_kk" },
        { text: "Sampah", value: "sampah" },
        { text: "Status", value: "status" },
        { text: "Action", sortable: false }
      ]
    };
  },
  methods: {
    getCardGrafikTabelModulsData(event = "") {
      axios
        .get("get-grafik-tabel/rs")
        .then(({ data }) => {
          this.data.rumah_sehat = data.data;
        })
        .catch(err => {
          NProgress.done();
        });
    },
    hapusData(kategori, id) {
      swal
        .fire({
          title: "Apakah anda yakin?",
          text: "Anda tidak akan dapat mengembalikan ini!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Ya, Hapus Sekarang",
          cancelButtonText: "Batal"
        })
        .then(result => {
          if (result.value) {
            axios
              .post("trash/hapus/" + kategori + "/" + id)
              .then(({ data }) => {
                // Fire.$emit("AfterEvent");

                swal.fire("Berhasil!", "Data dihapus.", "success");
              })
              .catch(() => {
                NProgress.done();
                swal.fire(
                  "Gagal!",
                  "Ada Kesalahan pada jaringan, hubungi admin.",
                  "warning"
                );

                // Fire.$emit("AfterEvent");
              });
          }
        });
    }
  },
  mounted() {
    this.getCardGrafikTabelModulsData();
  },
  created() {
    // Fire.$on("AfterEvent", () => {
    //   this.getCardGrafikTabelModulsData();
    // });
  }
};
</script>