<template>
  <v-card class="ml-3 left-card scrollable-map">
    <v-card-text>
      <div id="kpi_section" class="w-100">
        <b-row v-for="(kpi,index) in indikator" :key="index">
          <b-col sm="1">
            <b-img :src="`/images/icondark/${kpi.icon}.png`" class="img-aside" />
          </b-col>
          <b-col sm="4">{{kpi.name}}</b-col>
          <b-col sm="1">:</b-col>
          <b-col sm="5" class="text-right">6969696969</b-col>
        </b-row>
      </div>
      <div id="table_section" class="mt-1">
        <v-card>
          <v-data-table :items="items" :headers="headers" :rows-per-page-items="[5]">
            <template slot="items" slot-scope="props">
              <td>{{props.item.text}}</td>
              <td>{{props.item.jumlah}}</td>
            </template>
          </v-data-table>
        </v-card>
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "LeftCard",
  props: ["indikator", "items", "headers"],
  data() {
    return {};
  }
};
</script>
<style >
.left-card {
  top: 15vh;
}
</style>