<template>
  <div class="animated fadeIn">
    <b-card class="mx-auto">
      <strong class="mb-1">Edit Data Kader</strong>
      <div class="card-line mt-2"></div>
      <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)" class="mt-5">
        <alert-success :form="form">
          Update data kader, berhasil dilakukan!
          <br />
          <router-link to="/kader/data-kader">kembali ke tabel</router-link>
        </alert-success>
        <!-- <alert-errors :form="form">Perhatikan masalah berikut.</alert-errors> -->
        <div class="form-group">
          <label>Nama *</label>
          <input
            v-model="form.nama"
            type="text"
            name="nama"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('nama') }"
          />
          <has-error :form="form" field="nama"></has-error>
        </div>
        <div class="form-group">
          <label>Username *</label>
          <input
            @keydown.space.prevent
            v-model="form.username"
            type="text"
            name="username"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('username') }"
          />
          <has-error :form="form" field="username"></has-error>
        </div>
        <div class="form-group">
          <label>Password *</label>
          <input
            v-model="form.password"
            type="password"
            name="password"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('password') }"
          />
          <small>* kosongkan jika tidak ingin mengubah password</small>
          <has-error :form="form" field="password"></has-error>
        </div>
        <div>
          <div class="form-group" v-if="$auth.check(1)">
            <label>Kecamatan *</label>
            <br />
            <b-form-select
              @change="onKecamatanChange($event)"
              v-model="form.kecamatan"
              name="kecamatan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kecamatan') }"
            >
              <option :value="null" disabled>- Pilih Kecamatan -</option>
              <option
                v-for="kecamatan in kecamatans"
                v-bind:value="kecamatan.id"
                :key="kecamatan.id"
              >{{ kecamatan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kecamatan"></has-error>
          </div>
        </div>
        <div>
          <div class="form-group" v-if="$auth.check(1) || $auth.check(3)">
            <label>Kelurahan *</label>
            <br />
            <b-form-select
              v-model="form.kelurahan"
              name="kelurahan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kelurahan') }"
            >
              <option disabled :value="null">- Pilih kelurahan -</option>
              <option
                v-for="kelurahan in kelurahans"
                v-bind:value="kelurahan.id"
                :key="kelurahan.id"
              >{{ kelurahan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kelurahan"></has-error>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Update data kader</button>
      </form>
    </b-card>
  </div>
</template>
<script>
import { setTimeout } from "timers";
export default {
  data() {
    return {
      form: new Form({
        nama: "",
        username: "",
        password: "",
        kecamatan:
          this.$auth.check(3) == true ? this.$auth.user().kecamatan_id : null,
        kelurahan: null,
        created_by: this.$auth.user().id
      }),
      kecamatans: {},
      kelurahans: {},
      disabled: {
        kelurahan: 0
      }
    };
  },
  methods: {
    onKecamatanChange(event) {
      this.form.kelurahan = null;
      // this.disabled.kelurahan = null;
      this.loadKelurahansById(event);
    },
    onSubmit() {
      this.form
        .put(
          "petugas-sippklings/custom/update-petugas-sippklings/" +
            this.$route.params.id
        )
        .then(({ data }) => {
          window.scrollTo(0, 0);
        })
        .catch(err => {});
    },
    loadUserKader() {
      axios
        .get(
          "petugas-sippklings/custom/get-petugas-sippklings/" +
            this.$route.params.id
        )
        .then(({ data }) => {
          console.log(data);
          this.loadKelurahansById(data.kecamatan);
          this.form.fill(data);
        })
        .catch(err => {});
    },
    loadKecamatans() {
      axios
        .get("kecamatans")
        .then(({ data }) => (this.kecamatans = data.data))
        .catch(err => {
          console.log(err);
        });
    },
    loadKelurahansById(kecamatan) {
      axios
        .get("kelurahans/custom/get-kelurahans-name/id/" + kecamatan)
        .then(({ data }) => (this.kelurahans = data.data))
        .catch(err => {
          console.log(err);
        });
    }
  },
  created() {
    this.loadKecamatans();
    this.loadUserKader();
  },
  mounted() {}
};
</script>