<template>
  <div class="animated fadeIn">
    <b-card class="mx-auto">
      <strong class="mb-1">Edit Data Admin</strong>
      <div class="card-line mt-2"></div>
      <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)" class="mt-5">
        <alert-success :form="form">
          Edit admin, berhasil dilakukan!
          <br />
          <router-link to="/admin/data-admin">kembali ke tabel</router-link>
        </alert-success>
        <div class="form-group">
          <label>Nama *</label>
          <input
            v-model="form.nama"
            type="text"
            name="nama"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('nama') }"
          />
          <has-error :form="form" field="nama"></has-error>
        </div>
        <div class="form-group">
          <label>Username *</label>
          <input
            v-model="form.username"
            @keydown.space.prevent
            type="text"
            name="username"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('username') }"
          />
          <has-error :form="form" field="username"></has-error>
        </div>
        <div class="form-group">
          <label>Password *</label>
          <input
            v-model="form.password"
            type="password"
            name="password"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('password') }"
          />
          <small>* kosongkan jika tidak ingin mengubah password</small>
          <has-error :form="form" field="password"></has-error>
        </div>
        <div class="form-group">
          <label>NIP</label>
          <input
            v-model="form.nip"
            type="number"
            name="nip"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('nip') }"
          />
          <has-error :form="form" field="nip"></has-error>
        </div>
        <div class="form-group">
          <label>No Telpon</label>
          <input
            v-model="form.no_telp"
            type="number"
            name="no_telp"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('no_telp') }"
          />
          <has-error :form="form" field="no_telp"></has-error>
        </div>
        <div class="form-group" v-if="$auth.check(1)">
          <label>Role *</label>
          <br />

          <input
            v-model="form.role_by_name"
            type="text"
            name="role_by_name"
            class="form-control w-50"
            disabled
            :class="{ 'is-invalid': form.errors.has('role_by_name') }"
          />
          <has-error :form="form" field="role_by_name"></has-error>
        </div>
        <div class="form-group d-none" v-if="$auth.check(1)">
          <label>Role *</label>
          <br />

          <input
            v-model="form.role"
            type="text"
            name="role"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('role') }"
          />
          <has-error :form="form" field="role"></has-error>
        </div>
        <!-- <div v-if="form.role != 2">
          <div class="form-group">
            <label>Nama OPD *</label>
            <br />
            <b-form-select
              v-model="form.opd"
              name="opd"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('opd') }"
            >
              <option disabled :value="null">- Pilih OPD -</option>
              <option v-for="opd in opds" v-bind:value="opd.id" :key="opd.id">{{ opd.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="opd"></has-error>
          </div>
        </div>-->
        <div v-if="form.role == 3 || form.role == 4">
          <div class="form-group" v-if="$auth.check(1)">
            <label>Kecamatan *</label>
            <br />
            <b-form-select
              @change="onKecamatanChange($event)"
              v-model="form.kecamatan"
              name="kecamatan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kecamatan') }"
            >
              <option :value="null" disabled>- Pilih Kecamatan -</option>
              <option
                v-for="kecamatan in kecamatans"
                v-bind:value="kecamatan.id"
                :key="kecamatan.id"
              >{{ kecamatan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kecamatan"></has-error>
          </div>
        </div>
        <div v-if="form.role === 4">
          <div class="form-group">
            <label>Kelurahan *</label>
            <br />
            <b-form-select
              v-model="form.kelurahan"
              name="kelurahan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kelurahan') }"
            >
              <option disabled :value="null">- Pilih kelurahan -</option>
              <option
                v-for="kelurahan in kelurahans"
                v-bind:value="kelurahan.id"
                :key="kelurahan.id"
              >{{ kelurahan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kelurahan"></has-error>
          </div>
        </div>

        <div class="form-group">
          <label>Alamat</label>
          <textarea
            v-model="form.alamat"
            name="alamat"
            rows="5"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('alamat') }"
          />
          <has-error :form="form" field="alamat"></has-error>
        </div>

        <button type="submit" class="btn btn-primary">Ubah data admin</button>
      </form>
    </b-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: new Form({
        nama: "",
        username: "",
        password: "",
        no_telp: null,
        role: this.$auth.check(3) == true ? 4 : null,
        role_by_name: "",
        opd: null,
        kecamatan:
          this.$auth.check(3) == true ? this.$auth.user().kecamatan_id : null,
        kelurahan: null,
        alamat: "",
        update_by: this.$auth.user().id
      }),
      kecamatans: {},
      kelurahans: {},
      opds: {},
      status: null,
      alert_message: "",
      selected: null
    };
  },
  methods: {
    onRoleChange(event) {
      this.form.kecamatan = null;
      this.form.kelurahan = null;
      event == 2 ? this.loadOpds() : null;
    },
    onKecamatanChange(event) {
      this.form.kelurahan = null;
      this.loadKelurahansById(event);
    },
    loadUserAdmin() {
      axios
        .get("/users/" + this.$route.params.id)
        .then(({ data }) => {
          console.log(data);
          if (data.kelurahan != null) {
            this.loadKelurahansById(data.kecamatan);
          }
          this.form.fill(data);
        })
        .catch(err => {});
    },
    onSubmit() {
      this.form
        .put("/users/" + this.$route.params.id)
        .then(data => {
          // alert(data);
          // console.log(data);
          this.form.password = null;
          window.scrollTo(0, 0);
        })
        .catch(err => {
          console.log(err);
        });
    },
    onReset() {
      this.form.nama = "";
      this.form.no_telp = "";
      this.form.alamat = "";
      this.form.nip = "";
      this.form.username = "";
      this.form.password = "";
      this.form.role = this.$auth.check(3) == true ? 4 : null;
      this.form.kecamatan =
        this.$auth.check(3) == true ? this.$auth.user().kecamatan : null;
      this.form.kelurahan = null;
      this.form.opd = null;
      this.form.update_by = this.$auth.user().id;
    },
    loadKecamatans() {
      axios
        .get("kecamatans")
        .then(({ data }) => (this.kecamatans = data.data))
        .catch(err => {
          console.log(err);
        });
    },
    loadKelurahansById(kecamatan) {
      axios
        .get("kelurahans/custom/get-kelurahans-name/id/" + kecamatan)
        .then(({ data }) => {
          this.kelurahans = data.data;
        })
        .catch(err => {
          console.log(err);
        });
    }
    // loadOpds() {
    //   axios
    //     .get("opds")
    //     .then(({ data }) => (this.opds = data.data))
    //     .catch(err => {
    //       console.log(err);
    //     });
    // }
  },
  created() {
    this.loadKecamatans();
    // this.loadOpds();
    this.loadUserAdmin();
  },
  mounted() {
    console.log("Component mounted.");
  }
};
</script>