<template>
  <v-dialog class="card-modal-data" v-model="dialog" scrollable persistent width="600px">
    <v-card-text height="480px">
      <v-card-title class="text-right">
        <i large @click="$router.go(-1)" class="material-icons cursor-pointer">close</i>
      </v-card-title>
      <v-card-text>
        <vue-csv-import url="/url/to/post" :map-fields="['array', 'of', 'field', 'names']"></vue-csv-import>
      </v-card-text>
    </v-card-text>
  </v-dialog>
</template>

<script>
import { VueCsvImport } from "vue-csv-import";

export default {
  name: "Import CSV Kader",
  components: VueCsvImport,
  data() {
    return {
      dialog: true
    };
  }
};
</script>