<template>
  <v-card class="mb-0">
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Cari Kelurahan"
        single-line
        hide-details
        class="float-right pt-0 mb-3 text-xs-left"
      ></v-text-field>
      <!-- <v-divider class="mx-2" inset vertical></v-divider> -->
    </v-toolbar>
    <v-data-table
      :items="kelurahans"
      :search="search"
      :headers="headers"
      :rows-per-page-items="[5,10,25]"
    >
      <template slot="items" slot-scope="props">
        <td>{{props.item.nama_kecamatan}}</td>
        <td>{{props.item.id_kecamatan}}</td>
        <td>{{props.item.nama_kelurahan}}</td>
        <td>{{props.item.id_kelurahan}}</td>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
export default {
  name: "List-Kelurahan",
  methods: {
    getAllKelurahan() {
      axios
        .get("kelurahans/all")
        .then(data => {
          this.kelurahans = data.data.data;
        })
        .catch(err => {
          alert("gagal terhubung ke server!");
        });
    }
  },
  mounted() {
    this.getAllKelurahan();
  },
  data() {
    return {
      search: "",
      headers: [
        { text: "Kecamatan", value: "nama_kecamatan" },
        { text: "Kode Kecamatan", value: "id_kecamatan" },
        { text: "Kelurahan", value: "nama_kelurahan" },
        { text: "Kode Kelurahan", value: "id_kelurahan" }
      ],
      kelurahans: [],
      kelurahaans: [
        {
          kelurahan: "beji",
          kelurahan_id: 1,
          kecamatan_id: 1
        },
        {
          kelurahan: "bejitimur",
          kelurahan_id: 2,
          kecamatan_id: 1
        },
        {
          kelurahan: "kemirimuka",
          kelurahan_id: 3,
          kecamatan_id: 1
        },
        {
          kelurahan: "pondokcina",
          kelurahan_id: 4,
          kecamatan_id: 1
        },
        {
          kelurahan: "kukusan",
          kelurahan_id: 5,
          kecamatan_id: 1
        },
        {
          kelurahan: "tanahbaru",
          kelurahan_id: 6,
          kecamatan_id: 1
        },
        {
          kelurahan: "pancoranmas",
          kelurahan_id: 7,
          kecamatan_id: 2
        },
        {
          kelurahan: "depok",
          kelurahan_id: 8,
          kecamatan_id: 2
        },
        {
          kelurahan: "depokjaya",
          kelurahan_id: 9,
          kecamatan_id: 2
        },
        {
          kelurahan: "rangkapanjaya",
          kelurahan_id: 10,
          kecamatan_id: 2
        },
        {
          kelurahan: "rangkapanjayabaru",
          kelurahan_id: 11,
          kecamatan_id: 2
        },
        {
          kelurahan: "mampang",
          kelurahan_id: 12,
          kecamatan_id: 2
        },
        {
          kelurahan: "cipayung",
          kelurahan_id: 13,
          kecamatan_id: 3
        },
        {
          kelurahan: "cipayungjaya",
          kelurahan_id: 14,
          kecamatan_id: 3
        },
        {
          kelurahan: "ratujaya",
          kelurahan_id: 15,
          kecamatan_id: 3
        },
        {
          kelurahan: "pondokjaya",
          kelurahan_id: 16,
          kecamatan_id: 3
        },
        {
          kelurahan: "bojongpondokterong",
          kelurahan_id: 17,
          kecamatan_id: 3
        },
        {
          kelurahan: "sukmajaya",
          kelurahan_id: 18,
          kecamatan_id: 4
        },
        {
          kelurahan: "mekarjaya",
          kelurahan_id: 19,
          kecamatan_id: 4
        },
        {
          kelurahan: "baktijaya",
          kelurahan_id: 20,
          kecamatan_id: 4
        },
        {
          kelurahan: "abadijaya",
          kelurahan_id: 21,
          kecamatan_id: 4
        },
        {
          kelurahan: "tirtajaya",
          kelurahan_id: 22,
          kecamatan_id: 4
        },
        {
          kelurahan: "cisalak",
          kelurahan_id: 23,
          kecamatan_id: 4
        },
        {
          kelurahan: "cilodong",
          kelurahan_id: 24,
          kecamatan_id: 5
        },
        {
          kelurahan: "sukamaju",
          kelurahan_id: 25,
          kecamatan_id: 5
        },
        {
          kelurahan: "kalibaru",
          kelurahan_id: 26,
          kecamatan_id: 5
        },
        {
          kelurahan: "kalimulya",
          kelurahan_id: 27,
          kecamatan_id: 5
        },
        {
          kelurahan: "jatimulya",
          kelurahan_id: 28,
          kecamatan_id: 5
        },
        {
          kelurahan: "limo",
          kelurahan_id: 29,
          kecamatan_id: 6
        },
        {
          kelurahan: "meruyung",
          kelurahan_id: 30,
          kecamatan_id: 6
        },
        {
          kelurahan: "grogol",
          kelurahan_id: 31,
          kecamatan_id: 6
        },
        {
          kelurahan: "krukut",
          kelurahan_id: 32,
          kecamatan_id: 6
        },
        {
          kelurahan: "cinere",
          kelurahan_id: 33,
          kecamatan_id: 7
        },
        {
          kelurahan: "pangkalanjatibaru",
          kelurahan_id: 34,
          kecamatan_id: 7
        },
        {
          kelurahan: "pengkalanjati",
          kelurahan_id: 35,
          kecamatan_id: 7
        },
        {
          kelurahan: "gandul",
          kelurahan_id: 36,
          kecamatan_id: 7
        },
        {
          kelurahan: "cisalakpasar",
          kelurahan_id: 37,
          kecamatan_id: 8
        },
        {
          kelurahan: "mekarsari",
          kelurahan_id: 38,
          kecamatan_id: 8
        },
        {
          kelurahan: "pasirgunungselatan",
          kelurahan_id: 39,
          kecamatan_id: 8
        },
        {
          kelurahan: "tugu",
          kelurahan_id: 40,
          kecamatan_id: 8
        },
        {
          kelurahan: "harjamukti",
          kelurahan_id: 41,
          kecamatan_id: 8
        },
        {
          kelurahan: "curug",
          kelurahan_id: 42,
          kecamatan_id: 8
        },
        {
          kelurahan: "tapos",
          kelurahan_id: 43,
          kecamatan_id: 9
        },
        {
          kelurahan: "leuwinanggung",
          kelurahan_id: 44,
          kecamatan_id: 9
        },
        {
          kelurahan: "sukatani",
          kelurahan_id: 45,
          kecamatan_id: 9
        },
        {
          kelurahan: "sukamajubaru",
          kelurahan_id: 46,
          kecamatan_id: 9
        },
        {
          kelurahan: "jatijajar",
          kelurahan_id: 47,
          kecamatan_id: 9
        },
        {
          kelurahan: "cilangkap",
          kelurahan_id: 48,
          kecamatan_id: 9
        },
        {
          kelurahan: "cimpaeun",
          kelurahan_id: 49,
          kecamatan_id: 9
        },
        {
          kelurahan: "sawangan",
          kelurahan_id: 50,
          kecamatan_id: 10
        },
        {
          kelurahan: "kedaung",
          kelurahan_id: 51,
          kecamatan_id: 10
        },
        {
          kelurahan: "cinangka",
          kelurahan_id: 52,
          kecamatan_id: 10
        },
        {
          kelurahan: "sawanganbaru",
          kelurahan_id: 53,
          kecamatan_id: 10
        },
        {
          kelurahan: "bedahan",
          kelurahan_id: 54,
          kecamatan_id: 10
        },
        {
          kelurahan: "pengasinan",
          kelurahan_id: 55,
          kecamatan_id: 10
        },
        {
          kelurahan: "pasirputih",
          kelurahan_id: 56,
          kecamatan_id: 10
        },
        {
          kelurahan: "bojongsari",
          kelurahan_id: 57,
          kecamatan_id: 10
        },
        {
          kelurahan: "bojongsaribaru",
          kelurahan_id: 58,
          kecamatan_id: 11
        },
        {
          kelurahan: "serua",
          kelurahan_id: 59,
          kecamatan_id: 11
        },
        {
          kelurahan: "pondokpetir",
          kelurahan_id: 60,
          kecamatan_id: 11
        },
        {
          kelurahan: "curug",
          kelurahan_id: 61,
          kecamatan_id: 11
        },
        {
          kelurahan: "durenmekar",
          kelurahan_id: 62,
          kecamatan_id: 11
        },
        {
          kelurahan: "durenseribu",
          kelurahan_id: 63,
          kecamatan_id: 11
        }
      ]
    };
  }
};
</script>