<template>
  <div class="animated fadeIn">
    <b-card class="mx-auto">
      <strong class="mb-1">Tambah Data Admin</strong>
      <div class="card-line mt-2"></div>
      <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)" class="mt-5">
        <alert-success :form="form">
          Admin baru berhasil ditambahkan!
          <br />
          <router-link to="/admin/data-admin">kembali ke tabel</router-link>
        </alert-success>

        <div class="form-group" v-if="$auth.check(1)">
          <label>
            Role
            <span class="text-danger">*</span>
          </label>
          <br />
          <b-form-select
            @change="onRoleChange($event)"
            v-model="form.role"
            name="role"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('role') }"
          >
            <option disabled :value="null" selected>- Pilih Role -</option>
            <option value="2" v-if="$auth.check(1)">Admin OPD</option>
            <option value="3" v-if="!$auth.check(3) || !$auth.check(4)">Admin UPT</option>
            <option value="4" v-if="!$auth.check(4)">Admin UPF</option>
          </b-form-select>
          <small>* Pastikan untuk memilih role terlebih dahulu</small>
          <has-error :form="form" field="role"></has-error>
        </div>
        <div class="form-group">
          <label>
            Nama {{namarole[form.role]}}
            <span class="text-danger">*</span>
          </label>
          <b-input-group
            class="w-50"
            :prepend=" namarole[form.role] == null ? 'role' : namarole[form.role].toLowerCase() "
          >
            <input
              :disabled="form.role == null"
              v-model="form.nama"
              type="text"
              name="nama"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('nama') }"
            />
          </b-input-group>
          <has-error :form="form" field="nama"></has-error>
        </div>
        <div class="form-group">
          <label>
            Username
            <span class="text-danger">*</span>
          </label>
          <input
            @keydown.space.prevent
            v-model="form.username"
            :disabled="form.role == null"
            type="text"
            name="username"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('username') }"
          />
          <has-error :form="form" field="username"></has-error>
        </div>
        <div class="form-group">
          <label>
            Password
            <span class="text-danger">*</span>
          </label>
          <input
            v-model="form.password"
            :disabled="form.role == null"
            type="password"
            name="password"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('password') }"
          />
          <has-error :form="form" field="password"></has-error>
        </div>
        <div class="form-group">
          <label>NIP</label>
          <input
            v-model="form.nip"
            :disabled="form.role == null"
            type="text"
            name="nip"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('nip') }"
          />
          <has-error :form="form" field="nip"></has-error>
        </div>
        <div class="form-group">
          <label>No Telpon</label>
          <input
            v-model="form.no_telp"
            :disabled="form.role == null"
            type="number"
            name="no_telp"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('no_telp') }"
          />
          <has-error :form="form" field="no_telp"></has-error>
        </div>
        <!-- <div v-if="form.role === '2'">
          <div class="form-group">
            <label>Nama OPD <span class="text-danger">*</span></label>
            <br />
            <b-form-select
              v-model="form.opd"
              name="opd"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('opd') }"
            >
              <option disabled :value="null">- Pilih OPD -</option>
              <option v-for="opd in opds" v-bind:value="opd.id" :key="opd.id">{{ opd.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="opd"></has-error>
          </div>
        </div>-->
        <div v-if="form.role === '3' || form.role === '4'">
          <div class="form-group">
            <label>
              Kecamatan
              <span class="text-danger">*</span>
            </label>
            <br />
            <b-form-select
              @change="onKecamatanChange($event)"
              :disabled="form.role == null"
              v-model="form.kecamatan"
              name="kecamatan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kecamatan') }"
            >
              <option :value="null" disabled>- Pilih Kecamatan -</option>
              <option
                v-for="kecamatan in kecamatans"
                v-bind:value="kecamatan.id"
                :key="kecamatan.id"
              >{{ kecamatan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kecamatan"></has-error>
          </div>
        </div>
        <div v-if="form.role === '4' || $auth.check(3)">
          <div class="form-group">
            <label>
              Kelurahan
              <span class="text-danger">*</span>
            </label>
            <br />
            <b-form-select
              v-model="form.kelurahan"
              :disabled="form.kecamatan == null"
              name="kelurahan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kelurahan') }"
            >
              <option disabled :value="null">- Pilih kelurahan -</option>
              <option
                v-for="kelurahan in kelurahans"
                v-bind:value="kelurahan.id"
                :key="kelurahan.id"
              >{{ kelurahan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kelurahan"></has-error>
          </div>
        </div>

        <div class="form-group">
          <label>Alamat</label>
          <textarea
            v-model="form.alamat"
            :disabled="form.role == null"
            name="alamat"
            rows="5"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('alamat') }"
          />
          <has-error :form="form" field="alamat"></has-error>
        </div>

        <button type="submit" class="btn btn-primary">Tambah admin</button>
      </form>
    </b-card>
  </div>
</template>
<script>
import NProgress from "nprogress";
import "nprogress/nprogress.css";

export default {
  data() {
    return {
      form: new Form({
        nama: "",
        username: "",
        password: "",
        no_telp: "",
        role: this.$auth.check(3) == true ? 4 : null,
        // opd: null,
        kecamatan:
          this.$auth.check(3) == true ? this.$auth.user().kecamatan_id : null,
        kelurahan: null,
        alamat: "",
        created_by: this.$auth.user().id
      }),
      kecamatans: {},
      kelurahans: {},
      opds: {},
      status: null,
      alert_message: "",
      selected: null,
      namarole: ["", "", "OPD", "UPT", "UPF"]
    };
  },
  methods: {
    onRoleChange(event) {
      this.form.kecamatan = null;
      this.form.kelurahan = null;
      this.form.nama = "";
      this.form.no_telp = "";
      this.form.alamat = "";
      this.form.nip = "";
      this.form.username = "";
      this.form.password = "";
      // event == 2 ? this.loadOpds() : null;
    },
    onKecamatanChange(event) {
      this.form.kelurahan = null;
      this.loadKelurahansById(event);
    },
    onReset() {
      this.form.nama = "";
      this.form.no_telp = "";
      this.form.alamat = "";
      this.form.nip = "";
      this.form.username = "";
      this.form.password = "";
      this.form.role = this.$auth.check(3) == true ? 4 : null;
      this.form.kecamatan =
        this.$auth.check(3) == true ? this.$auth.user().kecamatan_id : null;
      this.form.kelurahan = null;
      // this.form.opd = null;
    },
    onSubmit() {
      this.form
        .post("/users")
        .then(data => {
          this.onReset();
          window.scrollTo(0, 0);
        })
        .catch(err => {
          if (err.response.status == 422) {
            NProgress.done();
            window.scrollTo(0, 0);
          }
        });
    },
    loadKecamatans() {
      axios
        .get("kecamatans")
        .then(({ data }) => (this.kecamatans = data.data))
        .catch(err => {});
    },
    loadKelurahansById(kecamatan) {
      axios
        .get("kelurahans/custom/get-kelurahans-name/id/" + kecamatan)
        .then(({ data }) => (this.kelurahans = data.data))
        .catch(err => {});
    }
  },
  mounted() {
    this.loadKecamatans();
    // this.loadOpds();
    if (this.$auth.check(3)) {
      console.log(this.$auth.user());
      this.loadKelurahansById(this.$auth.user().kecamatan_id);
    }
  }
};
</script>