<template>
  <div class="animated fadeIn">
    <b-card class="mx-auto">
      <strong class="mb-1">Tambah Data Kader</strong>
      <div class="card-line mt-2"></div>
      <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)" class="mt-5">
        <alert-errors :form="form">There were some problems with your input.</alert-errors>
        <alert-success :form="form">
          Tambah kader, berhasil dilakukan!
          <br />
          <router-link to="/kader/data-kader">kembali ke tabel</router-link>
        </alert-success>
        <div class="form-group">
          <label>
            Nama
            <span class="text-danger">*</span>
          </label>
          <input
            v-model="form.nama"
            type="text"
            name="nama"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('nama') }"
          />
          <has-error :form="form" field="nama"></has-error>
        </div>
        <div class="form-group">
          <label>
            Username
            <span class="text-danger">*</span>
          </label>
          <input
          @keydown.space.prevent
            v-model="form.username"
            type="text"
            name="username"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('username') }"
          />
          <has-error :form="form" field="username"></has-error>
        </div>
        <div class="form-group">
          <label>
            Password
            <span class="text-danger">*</span>
          </label>
          <input
            v-model="form.password"
            type="password"
            name="password"
            class="form-control w-50"
            :class="{ 'is-invalid': form.errors.has('password') }"
          />
          <has-error :form="form" field="password"></has-error>
        </div>
        <div>
          <div class="form-group" v-if="$auth.check(1)">
            <label>
              Kecamatan
              <span class="text-danger">*</span>
            </label>
            <br />
            <b-form-select
              @change="onKecamatanChange($event)"
              v-model="form.kecamatan"
              name="kecamatan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kecamatan') }"
            >
              <option :value="null" disabled>- Pilih Kecamatan -</option>
              <option
                v-for="kecamatan in kecamatans"
                v-bind:value="kecamatan.id"
                :key="kecamatan.id"
              >{{ kecamatan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kecamatan"></has-error>
          </div>
        </div>
        <div>
          <div class="form-group" v-if="$auth.check(1) || $auth.check(3)">
            <label>
              Kelurahan
              <span class="text-danger">*</span>
            </label>
            <br />
            <b-form-select
              v-model="form.kelurahan"
              :disabled="form.kecamatan == null"
              name="kelurahan"
              class="form-control w-50"
              :class="{ 'is-invalid': form.errors.has('kelurahan') }"
            >
              <option disabled :value="null">- Pilih kelurahan -</option>
              <option
                v-for="kelurahan in kelurahans"
                v-bind:value="kelurahan.id"
                :key="kelurahan.id"
              >{{ kelurahan.nama }}</option>
            </b-form-select>
            <has-error :form="form" field="kelurahan"></has-error>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Tambah data kader</button>
      </form>
    </b-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: new Form({
        nama: "",
        username: "",
        password: "",
        kecamatan:
          this.$auth.check(3) == true
            ? this.$auth.user().kecamatan_id
            : this.$auth.check(4) == true
            ? this.$auth.user().kecamatan_id
            : null,
        kelurahan:
          this.$auth.check(4) == true ? this.$auth.user().kelurahan_id : null,
        created_by: this.$auth.user().id
      }),
      kecamatans: {},
      kelurahans: {},
      selected: null
    };
  },
  methods: {
    onKecamatanChange(event) {
      this.form.kelurahan = null;
      this.loadKelurahansById(event);
    },
    resetForm() {
      this.form.nama = null;
      this.form.username = null;
      this.form.kecamatan =
        this.$auth.check(3) == true
          ? this.$auth.user().kecamatan_id
          : this.$auth.check(4) == true
          ? this.$auth.user().kecamatan_id
          : null;
      this.form.kelurahan =
        this.$auth.check(4) == true ? this.$auth.user().kelurahan_id : null;
      this.form.password = null;
      this.form.created_by = this.$auth.user().id;
    },
    onSubmit() {
      this.form
        .post("/petugas-sippklings")
        .then(({ data }) => {
          this.resetForm();
          window.scrollTo(0, 0);
        })
        .catch(err => {
          console.log(err);
        });
    },
    loadKecamatans() {
      axios
        .get("kecamatans")
        .then(({ data }) => (this.kecamatans = data.data))
        .catch(err => {
          console.log(err);
        });
    },
    loadKelurahansById(kecamatan) {
      axios
        .get("kelurahans/custom/get-kelurahans-name/id/" + kecamatan)
        .then(({ data }) => (this.kelurahans = data.data))
        .catch(err => {
          console.log(err);
        });
    }
  },
  created() {
    this.loadKecamatans();
    if (this.$auth.check(3)) {
      this.loadKelurahansById(this.$auth.user().kecamatan_id);
    }
  }
};
</script>