<template>
  <div class="animated fadeIn">
    <b-card>
      <h3>Tambah Objek</h3>
    </b-card>
    <b-card>
      <b-row class="mb-4">
        <b-col sm="2">
          <span>Modul</span>
        </b-col>
        <b-col sm="10">
          <b-form-select v-model="selected" :options="modul" value="Pilih Modul" />
        </b-col>
      </b-row>

      <!-- <FormRumahSehat v-if="selected == 'Rumah Sehat'" /> -->
      <FormTempatIbadah v-if="selected == 'Tempat Ibadah'" />
      <FormPasar v-if="selected == 'Pasar'" />
      <FormSekolah v-if="selected == 'Sekolah'" />
      <FormPesantren v-if="selected == 'Pesantren'" />
      <FormKolamRenang v-if="selected == 'Kolam Renang'" />
      <FormPuskesmas v-if="selected == 'Puskesmas'" />
      <FormRumahSakit v-if="selected == 'Rumah Sakit'" />
      <FormKlinik v-if="selected == 'Klinik'" />
      <FormHotel v-if="selected == 'Hotel'" />
      <FormHotelMelati v-if="selected == 'Hotel Melati'" />
      <FormDAM v-if="selected == 'Depot Air Minum'" />
      <FormJasaBoga v-if="selected == 'Jasa Boga'" />
      <!-- <FormKesling v-if="selected == 'Pelayanan Kesehatan Lingkungan'" /> -->
    </b-card>
  </div>
</template>

<script>
import FormRumahSehat from "./formmodul/FormRumahSehat";
import FormTempatIbadah from "./formmodul/FormTempatIbadah";
import FormPasar from "./formmodul/FormPasar";
import FormSekolah from "./formmodul/FormSekolah";
import FormPesantren from "./formmodul/FormPesantren";
import FormKolamRenang from "./formmodul/FormKolamRenang";
import FormPuskesmas from "./formmodul/FormPuskesmas";
import FormRumahSakit from "./formmodul/FormRumahSakit";
import FormKlinik from "./formmodul/FormKlinik";
import FormHotel from "./formmodul/FormHotel";
import FormHotelMelati from "./formmodul/FormHotelMelati";
import FormDAM from "./formmodul/FormDAM";
import FormKesling from "./formmodul/FormKesling";
import FormJasaBoga from "./formmodul/FormJasaBoga";

export default {
  components: {
    FormRumahSehat,
    FormTempatIbadah,
    FormPasar,
    FormSekolah,
    FormPesantren,
    FormKolamRenang,
    FormPuskesmas,
    FormKlinik,
    FormDAM,
    FormKesling,
    FormRumahSakit,
    FormHotel,
    FormHotelMelati,
    FormJasaBoga
  },
  mounted() {
    this.$store.commit("NOT_LOADING");
  },
  data() {
    return {
      selected: "default",
      modul: [
        { value: "default", text: "Pilih Modul", disabled: true },
        // { value: "Rumah Sehat", text: "Rumah Sehat" },
        { value: "Tempat Ibadah", text: "Tempat Ibadah" },
        { value: "Pasar", text: "Pasar" },
        { value: "Sekolah", text: "Sekolah" },
        { value: "Pesantren", text: "Pesantren" },
        { value: "Kolam Renang", text: "Kolam Renang" },
        { value: "Puskesmas", text: "Puskesmas" },
        { value: "Rumah Sakit", text: "Rumah Sakit" },
        { value: "Klinik", text: "Klinik" },
        { value: "Hotel", text: "Hotel" },
        { value: "Hotel Melati", text: "Hotel Melati" },

        { value: "Depot Air Minum", text: "Depot Air Minum" },
        { value: "Jasa Boga", text: "Jasa Boga" }
        // {
        //   value: "Pelayanan Kesehatan Lingkungan",
        //   text: "Pelayanan Kesehatan Lingkungan"
        // }
      ]
    };
  }
};
</script>
